<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.xwyy.engine.mapper.XwyyEngineMapper">

	<!-- 根据排产日期从90度裁断排程获取纤维压延的基础排程信息 -->
    <select id="selectXwyyScheduleBaseList" resultType="com.zlt.aps.xwyy.engine.vo.XwyyScheduleResultVo">
        SELECT SCHEDULE_DATE, CX_BATCH_NO, BIG_ROLL_CODE,
			SUM(DAY_PLAN_QTY) DAY_PLAN_QTY,
			SUM(NIGHT_PLAN_QTY) NIGHT_PLAN_QTY,
			SUM(CX_CLASS1_PLAN) CX_CLASS1_PLAN,
			SUM(CX_CLASS2_PLAN) CX_CLASS2_PLAN,
			SUM(CX_CLASS3_PLAN) CX_CLASS3_PLAN,
			SUM(CX_CLASS4_PLAN) CX_CLASS4_PLAN,
			SUM(CX_CLASS5_PLAN) CX_CLASS5_PLAN,
			ORIGINAL_LINE_CODE,
			'0' DATA_SOURCE /* 成型来的排程数据来源默认自动排产 */
		 from(
	        SELECT R.SCHEDULE_DATE, /*排产日期*/
	               R.CX_BATCH_NO, /*成型批次号*/
	               CI.CORD_SPEC  BIG_ROLL_CODE, /*帘线规格*/
			       IFNULL(ROUND(SUM((IFNULL(R.CLASS3_PLAN_QTY, 0)) *
        (IFNULL(CI.TIRE_FABRIC_CRAFT1 * CI.TIRE_FABRIC_LENGTH1, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT2 *
        CI.TIRE_FABRIC_LENGTH2, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT3 * CI.TIRE_FABRIC_LENGTH3, 0))
			       	/ 1000 /1000 / #{breadth}), 6), 0) DAY_PLAN_QTY, /*中班计划量*/
			       IFNULL(ROUND(SUM((IFNULL(R.CLASS4_PLAN_QTY, 0)) *
        (IFNULL(CI.TIRE_FABRIC_CRAFT1 * CI.TIRE_FABRIC_LENGTH1, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT2 *
        CI.TIRE_FABRIC_LENGTH2, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT3 * CI.TIRE_FABRIC_LENGTH3, 0))
                    / 1000 /1000 / #{breadth}), 6), 0) NIGHT_PLAN_QTY, /*夜班计划量*/
        IFNULL(CEILING(SUM(R.CLASS3_PLANNED_QTY *
			       (IFNULL(CI.TIRE_FABRIC_CRAFT1 * CI.TIRE_FABRIC_LENGTH1, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT2 * CI.TIRE_FABRIC_LENGTH2, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT3 * CI.TIRE_FABRIC_LENGTH3, 0))
			       	/ 1000 / 1000 / #{breadth})), 0) CX_CLASS1_PLAN,
        IFNULL(CEILING(SUM(R.CLASS2_PLAN_QTY *
			       (IFNULL(CI.TIRE_FABRIC_CRAFT1 * CI.TIRE_FABRIC_LENGTH1, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT2 * CI.TIRE_FABRIC_LENGTH2, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT3 * CI.TIRE_FABRIC_LENGTH3, 0))
			       	/ 1000 / 1000 / #{breadth})), 0) CX_CLASS2_PLAN,
        IFNULL(CEILING(SUM(R.CLASS3_PLAN_QTY *
			       (IFNULL(CI.TIRE_FABRIC_CRAFT1 * CI.TIRE_FABRIC_LENGTH1, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT2 * CI.TIRE_FABRIC_LENGTH2, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT3 * CI.TIRE_FABRIC_LENGTH3, 0))
			       	/ 1000 / 1000 / #{breadth})), 0) CX_CLASS3_PLAN,
        IFNULL(CEILING(SUM(R.CLASS4_PLAN_QTY *
			       (IFNULL(CI.TIRE_FABRIC_CRAFT1 * CI.TIRE_FABRIC_LENGTH1, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT2 * CI.TIRE_FABRIC_LENGTH2, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT3 * CI.TIRE_FABRIC_LENGTH3, 0))
			       	/ 1000 / 1000 / #{breadth})), 0) CX_CLASS4_PLAN,
        IFNULL(CEILING(SUM(R.CLASS5_PLAN_QTY *
			       (IFNULL(CI.TIRE_FABRIC_CRAFT1 * CI.TIRE_FABRIC_LENGTH1, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT2 * CI.TIRE_FABRIC_LENGTH2, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT3 * CI.TIRE_FABRIC_LENGTH3, 0))
			       	/ 1000 / 1000 / #{breadth})), 0) CX_CLASS5_PLAN,
			       CI.ORIGINAL_LINE_CODE ORIGINAL_LINE_CODE
	          FROM T_CX_SCHEDULE_RESULT R
	          LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
	            ON R.EMBRYO_CODE = CI.EMBRYO_CODE
	           AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
	         WHERE R.SCHEDULE_DATE = #{scheduleDate}
	           AND R.DEL_FLAG = '0'
	           AND CI.DEL_FLAG = '0'
	           AND CI.TIRE_FABRIC_CODE1 IS NOT NULL
	           AND NOT EXISTS ( /*收尾规格不用备*/
        SELECT 0 FROM t_xwyy_params p
	              WHERE p.param_code = 'CLOSE_OUT_SPEC_REMARK'
	                AND r.remark = p.param_value
	           )
			   <if test="isProductStage">
			   /* 仅对投产阶段的规格排产 */
			   AND CI.PRODUCTION_STAGE = '0'
			   </if>
	         GROUP BY R.SCHEDULE_DATE,
	         		  R.CX_BATCH_NO,
	         		  CI.CORD_SPEC,
	         		  CI.ORIGINAL_LINE_CODE
	        UNION ALL
            SELECT R.SCHEDULE_DATE, /*排产日期*/
                   R.CX_BATCH_NO, /*成型批次号*/
                   'NC11'  BIG_ROLL_CODE, /*冠带条压延物*/
                   IFNULL(ROUND(SUM(R.CLASS3_PLAN_QTY * CI.CROWN_STRIP_LENGTH / 1000 / 1000 / #{breadth}), 6), 0) DAY_PLAN_QTY, /*中班计划量*/
                   IFNULL(ROUND(SUM(R.CLASS4_PLAN_QTY * CI.CROWN_STRIP_LENGTH / 1000 / 1000 / #{breadth}), 6), 0) NIGHT_PLAN_QTY, /*夜班计划量*/
                   IFNULL(CEILING(SUM(R.CLASS3_PLANNED_QTY * CI.CROWN_STRIP_LENGTH / 1000 / 1000 / #{breadth})), 0) CX_CLASS1_PLAN,
                   IFNULL(CEILING(SUM(R.CLASS2_PLAN_QTY * CI.CROWN_STRIP_LENGTH / 1000 / 1000 / #{breadth})), 0) CX_CLASS2_PLAN,
                   IFNULL(CEILING(SUM(R.CLASS3_PLAN_QTY * CI.CROWN_STRIP_LENGTH / 1000 / 1000 / #{breadth})), 0) CX_CLASS3_PLAN,
                   IFNULL(CEILING(SUM(R.CLASS4_PLAN_QTY * CI.CROWN_STRIP_LENGTH / 1000 / 1000 / #{breadth})), 0) CX_CLASS4_PLAN,
                   IFNULL(CEILING(SUM(R.CLASS5_PLAN_QTY * CI.CROWN_STRIP_LENGTH / 1000 / 1000 / #{breadth})), 0) CX_CLASS5_PLAN,
                   '840D' ORIGINAL_LINE_CODE /*冠带条压延物原丝*/
              FROM T_CX_SCHEDULE_RESULT R
              LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
                ON R.EMBRYO_CODE = CI.EMBRYO_CODE
               AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
             WHERE R.SCHEDULE_DATE = #{scheduleDate}
               AND R.DEL_FLAG = '0'
               AND CI.DEL_FLAG = '0'
               AND CI.TIRE_FABRIC_CODE1 IS NOT NULL
               AND NOT EXISTS ( /*收尾规格不用备*/
        SELECT 0 FROM t_xwyy_params p
                  WHERE p.param_code = 'CLOSE_OUT_SPEC_REMARK'
                    AND r.remark = p.param_value
               )
               <if test="isProductStage">
               /* 仅对投产阶段的规格排产 */
               AND CI.PRODUCTION_STAGE = '0'
               </if>
             GROUP BY R.SCHEDULE_DATE,
        R.CX_BATCH_NO
            ) R
            GROUP BY SCHEDULE_DATE,
                      CX_BATCH_NO,
                      BIG_ROLL_CODE,
                      ORIGINAL_LINE_CODE
            HAVING SUM(IFNULL(R.CX_CLASS1_PLAN, 0)
                       + IFNULL(R.CX_CLASS2_PLAN, 0)
                       + IFNULL(R.CX_CLASS3_PLAN, 0)
                       + IFNULL(R.CX_CLASS4_PLAN, 0)
                       + IFNULL(R.CX_CLASS5_PLAN, 0)) != 0
    </select>

    <!-- 获取当天的施工信息 -->
    <select id="listConstructionInfo" resultType="com.zlt.aps.common.engine.domain.EngineConstructionInfo">
		SELECT CI.EMBRYO_CODE,
		       CI.TIRE_FABRIC_LENGTH1 SIDEWALL_LENGTH,
		       CI.CORD_SPEC,
		       CI.TIRE_FABRIC_CODE1,
		       CI.TIRE_FABRIC_CRAFT1,
		       CI.TIRE_FABRIC_CODE2,
		       CI.TIRE_FABRIC_CRAFT2,
		       CI.TIRE_FABRIC_CODE3,
		       CI.TIRE_FABRIC_CRAFT3
		  FROM T_PRODUCT_CONSTRUCTION_INFO CI
		 WHERE CI.DEL_FLAG = '0'
		   <if test="isProductStage">
		   /* 仅对投产阶段的规格排产 */
		   AND CI.PRODUCTION_STAGE = '0'
		   </if>
		   AND EXISTS
		 (SELECT 1
		          FROM T_CX_SCHEDULE_RESULT R
		         WHERE R.schedule_DATE = #{scheduleDate}
		           AND R.DEL_FLAG = '0'
		           AND R.EMBRYO_CODE = CI.EMBRYO_CODE
		           AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION)
    </select>

	<!-- 计算纤维压延日用参考量 -->
    <select id="listXwyyDayUsed" resultType="com.zlt.aps.xwyy.engine.vo.XwyyDayUsedVo">
    	WITH temp_tab_BIG_ROLL_CODE AS (
        <foreach collection="bigRollCodeList" item="bigRollCode" separator=" union ">
        	SELECT #{bigRollCode} big_roll_code FROM dual
        </foreach>
        )
		SELECT BIG_ROLL_CODE,
		       CEILING(SUM(SINGLE_SHIFT_LH_QTY * 3 * SIDEWALL_LENGTH *
		                   TIRE_FABRIC_CRAFT) / #{breadth}) DAY_USED /*日用参考量*/
		  FROM (
		    SELECT CORD_SPEC BIG_ROLL_CODE,
		           CI.TIRE_FABRIC_CODE1 CLOTH_CODE,		/*1#胎体布编号*/
                   IFNULL(R.SINGLE_SHIFT_LH_QTY, 0) SINGLE_SHIFT_LH_QTY, /*单班硫化产量*/
                   IFNULL(CI.TIRE_FABRIC_LENGTH1 / 1000, 0) SIDEWALL_LENGTH, /*单耗，单位换毫米换算成米*/
                   IFNULL(CI.TIRE_FABRIC_CRAFT1 / 1000, 0) TIRE_FABRIC_CRAFT  /*工艺，单位换毫米换算成米*/
	          FROM T_CX_SCHEDULE_RESULT R
	          LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
	            ON CI.EMBRYO_CODE = R.EMBRYO_CODE
	           AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
			   <if test="isProductStage">
			   /* 仅对投产阶段的规格排产 */
			   AND CI.PRODUCTION_STAGE = '0'
			   </if>
	         WHERE R.SCHEDULE_DATE = #{scheduleDate}
	           AND R.DEL_FLAG = '0'
		       /*AND REGEXP_LIKE(TRIM(CI.TIRE_FABRIC_CRAFT1), '(^[+-]?\d{0,}\.?\d{0,}$)')*/	/*排除非数字字符串*/
            UNION ALL
            SELECT CORD_SPEC BIG_ROLL_CODE,
		           CI.TIRE_FABRIC_CODE2 CLOTH_CODE,		/*2#胎体布编号*/
                   IFNULL(R.SINGLE_SHIFT_LH_QTY, 0) SINGLE_SHIFT_LH_QTY, /*单班硫化产量*/
                   IFNULL(CI.TIRE_FABRIC_LENGTH2 / 1000, 0) SIDEWALL_LENGTH, /*单耗*/
                   IFNULL(CI.TIRE_FABRIC_CRAFT2 / 1000, 0) TIRE_FABRIC_CRAFT  /*工艺*/
	          FROM T_CX_SCHEDULE_RESULT R
	          LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
	            ON CI.EMBRYO_CODE = R.EMBRYO_CODE
	           AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
			   <if test="isProductStage">
			   /* 仅对投产阶段的规格排产 */
			   AND CI.PRODUCTION_STAGE = '0'
			   </if>
	         WHERE R.SCHEDULE_DATE = #{scheduleDate}
	           AND R.DEL_FLAG = '0'
               AND CI.TIRE_FABRIC_CODE2 IS NOT NULL
		       /*AND REGEXP_LIKE(TRIM(CI.TIRE_FABRIC_CRAFT2), '(^[+-]?\d{0,}\.?\d{0,}$)')*/
            UNION ALL
            SELECT CORD_SPEC BIG_ROLL_CODE,
		           CI.TIRE_FABRIC_CODE3 CLOTH_CODE,		/*3#胎体布编号*/
                   IFNULL(R.SINGLE_SHIFT_LH_QTY, 0) SINGLE_SHIFT_LH_QTY, /*单班硫化产量*/
                   (CI.TIRE_FABRIC_LENGTH3 / 1000) SIDEWALL_LENGTH, /*单耗*/
                   (CI.TIRE_FABRIC_CRAFT3 / 1000) TIRE_FABRIC_CRAFT  /*工艺*/
	          FROM T_CX_SCHEDULE_RESULT R
	          LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
	            ON CI.EMBRYO_CODE = R.EMBRYO_CODE
	           AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
			   <if test="isProductStage">
			   /* 仅对投产阶段的规格排产 */
			   AND CI.PRODUCTION_STAGE = '0'
			   </if>
	         WHERE R.SCHEDULE_DATE = #{scheduleDate}
	           AND R.DEL_FLAG = '0'
               AND CI.TIRE_FABRIC_CODE3 IS NOT NULL
		       /*AND REGEXP_LIKE(TRIM(CI.TIRE_FABRIC_CRAFT3), '(^[+-]?\d{0,}\.?\d{0,}$)')*/
		  ) t
		 WHERE t.BIG_ROLL_CODE IN (
	       	SELECT big_roll_code FROM temp_tab_BIG_ROLL_CODE
	     )
		 GROUP BY t.BIG_ROLL_CODE
    </select>

	<!-- 抓取系统参数 -->
    <select id="listXwyyParams" resultType="com.zlt.aps.xwyy.engine.vo.XwyyParamsVo">
        select param_code, param_value
        from T_XWYY_PARAMS
        where DEL_FLAG = '0'
    </select>

	<!-- 抓取原线代码 -->
    <select id="getOriginalLineCode" resultType="string">
		SELECT b.spec_code
		  FROM T_BOM_INFO b
		  INNER JOIN T_XWYY_PARAMS p ON p.param_value = b.spec_name
		 WHERE b.TIER = 4
		   AND p.param_code = 'ORIGINAL_LINE_BOM_NAME'
		   AND p.del_flag = '0'
		   AND b.del_flag = '0'
    </select>

    <!-- 查询当前排程的批次号 -->
    <select id="getCurrentBatchNo" parameterType="date" resultType="string">
        SELECT MAX(BATCH_NO) BATCH_NO
          FROM T_XWYY_AUTO_SCHEDULE_RECORD
         WHERE schedule_date = #{scheduleDate}
           AND del_flag = '0'
    </select>

	<!-- 新增自动排产记录 -->
    <insert id="insertScheduleRecord" parameterType="com.zlt.aps.xwyy.engine.vo.XwyyScheduleRecordVo">
        insert into T_XWYY_AUTO_SCHEDULE_RECORD (ID, CX_BATCH_NO, BATCH_NO, STATUS, SCHEDULE_DATE, CREATE_BY, UPDATE_TIME, DEL_FLAG)
        values (NULL, #{cxBatchNo}, #{batchNo}, #{status}, #{scheduleDate}, #{createBy}, #{createTime}, #{delFlag})
    </insert>

	<!-- 批量新增排程结果数据 -->
    <insert id="insertScheduleResultList" parameterType="list">
    	INSERT INTO T_XWYY_SCHEDULE_RESULT
		  (ID,
		   schedule_DATE,
		   CD90_BATCH_NO,
		   BATCH_NO,
		   ORDER_NO,
		   BIG_ROLL_CODE,
		   ORIGINAL_LINE_CODE,
		   ORIGINAL_LINE_QTY_NUM,
		   MACHINE_ID,
		   DAY_PLAN_QTY,
		DAY_PRODUCE_ORDER,
		   DAY_PLAN_QTY_NUM,
		   DAY_FINISH_QTY,
		   DAY_SYS_ANALYSIS,
		   DAY_HAND_ANALYSIS,
		   DAY_PROCESS_VALUE,
		   NIGHT_PLAN_QTY,
		NIGHT_PRODUCE_ORDER,
		   NIGHT_PLAN_QTY_NUM,
		   NIGHT_FINISH_QTY,
		   NIGHT_SYS_ANALYSIS,
		   NIGHT_HAND_ANALYSIS,
		   NIGHT_PROCESS_VALUE,
		   DAY_USED,
		   SUPPLY_TIME,
		   TODAY_STOCK,
		   YES_STOCK,
		   TOTAL_PLAN,
		   RUBBER_CODE,
		   RUBBER_CAR_NUMBER,
		   ORIGINAL_BRAND,
		   ORIGINAL_BRAND_NUM,
		   CX_CLASS1_PLAN,
		   CX_CLASS2_PLAN,
		   CX_CLASS3_PLAN,
		   CX_CLASS4_PLAN,
		   CX_CLASS5_PLAN,
		   IS_RELEASE,
		   PUBLISH_SUCCESS_COUNT,
		   NEWEST_PUBLISH_TIME,
		   EXTRA_PLAN_FLAG,
		   ORIGINAL_REMIND_FLAG,
		   DEL_FLAG,
		   REMARK,
		   CREATE_BY,
		   CREATE_TIME,
		   MARK_CLOSE_OUT_TIP,
		   PRODUCTION_STATUS,
		   DATA_SOURCE,
		   CLOSE_OUT_SPEC_FLAG)
		  VALUES
		      <foreach collection="scheduleResultList" item="schedule" separator=",">
                  (NULL,
		           		 #{schedule.scheduleDate},
		                 #{schedule.cd90BatchNo,jdbcType = VARCHAR},
		                 #{schedule.batchNo,jdbcType = VARCHAR},
		                 #{schedule.orderNo,jdbcType = VARCHAR},
		                 #{schedule.bigRollCode,jdbcType = VARCHAR},
		                 #{schedule.originalLineCode,jdbcType = VARCHAR},
		                 #{schedule.originalLineQtyNum,jdbcType = VARCHAR},
		                 #{schedule.machineId,jdbcType = VARCHAR},
		                 #{schedule.dayPlanQty,jdbcType = DOUBLE},
				  #{schedule.dayProduceOrder,jdbcType = DOUBLE},
		                 #{schedule.dayPlanQtyNum,jdbcType = DOUBLE},
		                 #{schedule.dayFinishQty,jdbcType = DOUBLE},
		                 #{schedule.daySysAnalysis,jdbcType = VARCHAR},
		                 #{schedule.dayHandAnalysis,jdbcType = VARCHAR},
		                 #{schedule.dayProcessValue,jdbcType = VARCHAR},
		                 #{schedule.nightPlanQty,jdbcType = DOUBLE},
				  #{schedule.nightProduceOrder,jdbcType = DOUBLE},
		                 #{schedule.nightPlanQtyNum,jdbcType = DOUBLE},
		                 #{schedule.nightFinishQty,jdbcType = DOUBLE},
		                 #{schedule.nightSysAnalysis,jdbcType = VARCHAR},
		                 #{schedule.nightHandAnalysis,jdbcType = VARCHAR},
		                 #{schedule.nightProcessValue,jdbcType = VARCHAR},
		                 #{schedule.dayUsed,jdbcType = DOUBLE},
		                 #{schedule.supplyTime,jdbcType = DOUBLE},
		                 #{schedule.todayStock,jdbcType = DOUBLE},
		                 #{schedule.yesStock,jdbcType = DOUBLE},
		                 #{schedule.totalPlan,jdbcType = DOUBLE},
		                 #{schedule.rubberCode,jdbcType = VARCHAR},
		                 #{schedule.rubberCarNumber,jdbcType = DOUBLE},
		                 #{schedule.originalBrand,jdbcType = VARCHAR},
		                 #{schedule.originalBrandNum,jdbcType = DOUBLE},
		                 #{schedule.cxClass1Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass2Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass3Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass4Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass5Plan,jdbcType = DOUBLE},
		                 #{schedule.isRelease,jdbcType = VARCHAR},
		                 #{schedule.publishSuccessCount,jdbcType = INTEGER},
		                 #{schedule.newestPublishTime,jdbcType = DATE},
		                 #{schedule.extraPlanFlag,jdbcType = VARCHAR},
		                 #{schedule.originalRemindFlag,jdbcType = VARCHAR},
		                 #{schedule.delFlag,jdbcType = VARCHAR},
		                 #{schedule.remark,jdbcType = VARCHAR},
		                 #{schedule.createBy,jdbcType = VARCHAR},
		                 #{schedule.createTime},
		                 #{schedule.markCloseOutTip,jdbcType = VARCHAR},
		                 #{schedule.productionStatus,jdbcType = VARCHAR},
		                 #{schedule.dataSource,jdbcType = VARCHAR},
		                 #{schedule.closeOutSpecFlag,jdbcType = VARCHAR}
		            )
              </foreach>
    </insert>

    <!-- 把排程数据同步到log表，用于备份历史信息 -->
    <insert id="insertXwyyScheduleLog">
    	INSERT INTO T_XWYY_SCHEDULE_RESULT_LOG
		  (ID,
		   SCHEDULE_DATE,
		   CD90_BATCH_NO,
		   BATCH_NO,
		   ORDER_NO,
		   BIG_ROLL_CODE,
		   ORIGINAL_LINE_CODE,
		   ORIGINAL_LINE_QTY_NUM,
		   MACHINE_ID,
		   SUPPLY_TIME,
		   DAY_PLAN_QTY,
		   DAY_PRODUCE_ORDER,
		   DAY_PLAN_QTY_NUM,
		   DAY_FINISH_QTY,
		   DAY_SYS_ANALYSIS,
		   DAY_HAND_ANALYSIS,
		   DAY_PROCESS_VALUE,
		   NIGHT_PLAN_QTY,
		   NIGHT_PRODUCE_ORDER,
		   NIGHT_PLAN_QTY_NUM,
		   NIGHT_FINISH_QTY,
		   NIGHT_SYS_ANALYSIS,
		   NIGHT_HAND_ANALYSIS,
		   NIGHT_PROCESS_VALUE,
		   YES_STOCK,
		   TODAY_STOCK,
		   DAY_USED,
		   DAY_OUT,
		   FAC2_CLASS1_PLAN,
		   FAC2_CLASS2_PLAN,
		   FAC2_CLASS3_PLAN,
		   FAC2_TOTAL_PLAN,
		   FAC5_CLASS1_PLAN,
		   FAC5_CLASS2_PLAN,
		   FAC5_CLASS3_PLAN,
		   FAC5_TOTAL_PLAN,
		   TOTAL_PLAN,
		   RUBBER_CODE,
		   RUBBER_CAR_NUMBER,
		   ORIGINAL_BRAND,
		   ORIGINAL_BRAND_NUM,
		   CX_CLASS1_PLAN,
		   CX_CLASS2_PLAN,
		   CX_CLASS3_PLAN,
		   CX_CLASS4_PLAN,
		   CX_CLASS5_PLAN,
		   IS_RELEASE,
		   PUBLISH_SUCCESS_COUNT,
		   NEWEST_PUBLISH_TIME,
		   EXTRA_PLAN_FLAG,
		   ORIGINAL_REMIND_FLAG,
		   REMARK,
		   DEL_FLAG,
		   CREATE_BY,
		   CREATE_TIME,
		   UPDATE_BY,
		   UPDATE_TIME,
		   MARK_CLOSE_OUT_TIP,
		   PRODUCTION_STATUS,
		   data_source)
		  SELECT ID,
		         SCHEDULE_DATE,
		         CD90_BATCH_NO,
		         BATCH_NO,
		         ORDER_NO,
		         BIG_ROLL_CODE,
		         ORIGINAL_LINE_CODE,
		         ORIGINAL_LINE_QTY_NUM,
		         MACHINE_ID,
		         SUPPLY_TIME,
		         DAY_PLAN_QTY,
				 DAY_PRODUCE_ORDER,
		         DAY_PLAN_QTY_NUM,
		         DAY_FINISH_QTY,
		         DAY_SYS_ANALYSIS,
		         DAY_HAND_ANALYSIS,
		         DAY_PROCESS_VALUE,
		         NIGHT_PLAN_QTY,
				 NIGHT_PRODUCE_ORDER,
		         NIGHT_PLAN_QTY_NUM,
		         NIGHT_FINISH_QTY,
		         NIGHT_SYS_ANALYSIS,
		         NIGHT_HAND_ANALYSIS,
		         NIGHT_PROCESS_VALUE,
		         YES_STOCK,
		         TODAY_STOCK,
		         DAY_USED,
		         DAY_OUT,
		         FAC2_CLASS1_PLAN,
		         FAC2_CLASS2_PLAN,
		         FAC2_CLASS3_PLAN,
		         FAC2_TOTAL_PLAN,
		         FAC5_CLASS1_PLAN,
		         FAC5_CLASS2_PLAN,
		         FAC5_CLASS3_PLAN,
		         FAC5_TOTAL_PLAN,
		         TOTAL_PLAN,
			     RUBBER_CODE,
			     RUBBER_CAR_NUMBER,
			     ORIGINAL_BRAND,
			     ORIGINAL_BRAND_NUM,
		         CX_CLASS1_PLAN,
		         CX_CLASS2_PLAN,
		         CX_CLASS3_PLAN,
		         CX_CLASS4_PLAN,
		         CX_CLASS5_PLAN,
		         IS_RELEASE,
			     PUBLISH_SUCCESS_COUNT,
			     NEWEST_PUBLISH_TIME,
		         EXTRA_PLAN_FLAG,
		         ORIGINAL_REMIND_FLAG,
		         REMARK,
		         DEL_FLAG,
		         CREATE_BY,
		         CREATE_TIME,
		         UPDATE_BY,
		         UPDATE_TIME,
		         MARK_CLOSE_OUT_TIP,
		         PRODUCTION_STATUS,
		         data_source
		    FROM T_XWYY_SCHEDULE_RESULT
		   WHERE SCHEDULE_DATE = #{scheduleDate}
    </insert>

	<!-- 删除指定日期的排程数据 -->
    <delete id="deleteXwyyScheduleResult" parameterType="date">
        DELETE FROM T_XWYY_SCHEDULE_RESULT WHERE SCHEDULE_DATE = #{scheduleDate}
    </delete>

	<!-- 逻辑删除指定日期的排程主表记录 -->
    <update id="logicDeleteXwyyScheduleRecord" parameterType="com.zlt.aps.xwyy.engine.vo.XwyyScheduleRecordVo">
        UPDATE T_XWYY_AUTO_SCHEDULE_RECORD
        SET DEL_FLAG  = '1',
            UPDATE_BY = #{createBy},
    	       UPDATE_TIME = #{createTime}
    	 WHERE schedule_date = #{scheduleDate}
    	   AND DEL_FLAG = '0'
    </update>

    <!-- 查询在施工信息中 没有对应记录的90度裁断代码 -->
    <select id="listLossConstructionForCd90" resultType="string" parameterType="date">
		SELECT DISTINCT R.EMBRYO_CODE CLOTH_CODE
		  FROM T_CX_SCHEDULE_RESULT R
		  LEFT JOIN (SELECT CI.CORD_SPEC, CI.TIRE_FABRIC_CODE1 TIRE_FABRIC_CODE, EMBRYO_VERSION, EMBRYO_CODE
		               FROM T_PRODUCT_CONSTRUCTION_INFO CI
		              WHERE CI.DEL_FLAG = '0'
		             UNION
		             SELECT CI.CORD_SPEC, CI.TIRE_FABRIC_CODE2 TIRE_FABRIC_CODE, EMBRYO_VERSION, EMBRYO_CODE
		               FROM T_PRODUCT_CONSTRUCTION_INFO CI
		              WHERE CI.DEL_FLAG = '0'
		                AND TIRE_FABRIC_CODE2 IS NOT NULL
		             UNION
		             SELECT CI.CORD_SPEC, CI.TIRE_FABRIC_CODE3 TIRE_FABRIC_CODE, EMBRYO_VERSION, EMBRYO_CODE
		               FROM T_PRODUCT_CONSTRUCTION_INFO CI
		              WHERE CI.DEL_FLAG = '0'
		                AND TIRE_FABRIC_CODE3 IS NOT NULL) CI
		    ON CI.EMBRYO_CODE = R.EMBRYO_CODE
		   AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
		 WHERE CI.TIRE_FABRIC_CODE IS NULL
		   AND R.SCHEDULE_DATE = #{scheduleDate}
		   AND R.Del_Flag = '0'
    </select>

    <!-- 获取插单需要的信息 -->
    <!-- 20240506 获取施工信息时需要同时查询bom信息，防止外协规格无法排产的问题 -->
    <select id="listInsertOrderBaseInfo" resultType="com.zlt.aps.xwyy.engine.vo.XwyyScheduleResultVo">
    	WITH temp_tab_BIG_ROLL_CODE AS (
        <foreach collection="scheduleResultList" item="schedule" separator=" union ">
        	SELECT #{schedule.bigRollCode} big_roll_code FROM dual
        </foreach>
        )
        SELECT CI.CORD_SPEC BIG_ROLL_CODE,
               MAX(CI.ORIGINAL_LINE_CODE) ORIGINAL_LINE_CODE,
               MAX(CX_BATCH_NO) CX_BATCH_NO,
		       IFNULL(CEILING(SUM(R.CLASS1_PLAN_QTY *
		          (IFNULL(CI.TIRE_FABRIC_CRAFT1 * CI.TIRE_FABRIC_LENGTH1, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT2 * CI.TIRE_FABRIC_LENGTH2, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT3 * CI.TIRE_FABRIC_LENGTH3, 0))
		          / #{breadth} / 1000 / 1000)), 0) CX_CLASS1_PLAN,
		       IFNULL(CEILING(SUM(R.CLASS2_PLAN_QTY *
		          (IFNULL(CI.TIRE_FABRIC_CRAFT1 * CI.TIRE_FABRIC_LENGTH1, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT2 * CI.TIRE_FABRIC_LENGTH2, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT3 * CI.TIRE_FABRIC_LENGTH3, 0))
		          / #{breadth} / 1000 / 1000)), 0) CX_CLASS2_PLAN,
		       IFNULL(CEILING(SUM(R.CLASS3_PLAN_QTY *
		          (IFNULL(CI.TIRE_FABRIC_CRAFT1 * CI.TIRE_FABRIC_LENGTH1, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT2 * CI.TIRE_FABRIC_LENGTH2, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT3 * CI.TIRE_FABRIC_LENGTH3, 0))
		          / #{breadth} / 1000 / 1000)), 0) CX_CLASS3_PLAN,
		       IFNULL(CEILING(SUM(R.CLASS4_PLAN_QTY *
		          (IFNULL(CI.TIRE_FABRIC_CRAFT1 * CI.TIRE_FABRIC_LENGTH1, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT2 * CI.TIRE_FABRIC_LENGTH2, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT3 * CI.TIRE_FABRIC_LENGTH3, 0))
		          / #{breadth} / 1000 / 1000)), 0) CX_CLASS4_PLAN,
		       IFNULL(CEILING(SUM(R.CLASS5_PLAN_QTY *
		          (IFNULL(CI.TIRE_FABRIC_CRAFT1 * CI.TIRE_FABRIC_LENGTH1, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT2 * CI.TIRE_FABRIC_LENGTH2, 0) + IFNULL(CI.TIRE_FABRIC_CRAFT3 * CI.TIRE_FABRIC_LENGTH3, 0))
		          / #{breadth} / 1000 / 1000)), 0) CX_CLASS5_PLAN
          FROM T_PRODUCT_CONSTRUCTION_INFO CI
          LEFT JOIN T_CX_SCHEDULE_RESULT R
            ON R.EMBRYO_CODE = CI.EMBRYO_CODE
           AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
		   AND R.DEL_FLAG = '0'
		   AND R.SCHEDULE_DATE = #{scheduleDate}
         WHERE CI.DEL_FLAG = '0'
           AND CI.CORD_SPEC IN (
	       	  SELECT big_roll_code FROM temp_tab_BIG_ROLL_CODE
	       )
         GROUP BY CI.CORD_SPEC

        UNION

        SELECT B.CHILD_CODE BIG_ROLL_CODE,
		       MAX(C.CHILD_CODE) ORIGINAL_LINE_CODE,
        null, 0, 0, 0, 0, 0
		  FROM T_BOM_INFO B
		 INNER JOIN T_BOM_INFO C
		    ON C.PARENT_MATERIAL_CODE = B.CHILD_MATERIAL_CODE
		   AND C.STATUS = '1'
		   AND C.CHILD_MATERIAL_NAME_CODE = 'NYLON_CORD'
		 WHERE B.STATUS = '1'
		   AND B.CHILD_MATERIAL_NAME_CODE = 'RUBBER_COVERED'
		   AND b.child_code IN (SELECT big_roll_code FROM temp_tab_BIG_ROLL_CODE)
		   AND NOT EXISTS
		 (select 0
		          from T_PRODUCT_CONSTRUCTION_INFO CI
		         WHERE CI.DEL_FLAG = '0'
		           AND CI.CORD_SPEC = B.CHILD_CODE)
		 GROUP BY B.CHILD_CODE
    </select>

    <!-- 批量合并排程结果表（根据唯一字段，做更新或新增） -->
    <insert id="mergeXwyyScheduleResult">
		INSERT INTO T_XWYY_SCHEDULE_RESULT (
		schedule_date, cd90_batch_no, batch_no, order_no, big_Roll_Code, original_Line_Code, original_Line_Qty_Num,
		machine_Id, day_Plan_Qty, day_Plan_Qty_num, day_Hand_Analysis, DAY_PROCESS_VALUE, night_Plan_Qty,
		night_Plan_Qty_num, night_Hand_Analysis, NIGHT_PROCESS_VALUE, yes_stock, today_stock, day_Used,
		DAY_OUT, FAC2_CLASS1_PLAN, FAC2_CLASS2_PLAN, FAC2_CLASS3_PLAN, FAC2_TOTAL_PLAN, FAC5_CLASS1_PLAN,
		FAC5_CLASS2_PLAN, FAC5_CLASS3_PLAN, FAC5_TOTAL_PLAN, total_Plan, RUBBER_CODE, RUBBER_CAR_NUMBER,
		ORIGINAL_BRAND, ORIGINAL_BRAND_NUM, is_release, EXTRA_PLAN_FLAG, ORIGINAL_REMIND_FLAG,
		mark_close_out_tip, remark, production_status, del_flag, create_by, create_time, data_Source,
		CX_CLASS1_PLAN, CX_CLASS2_PLAN, CX_CLASS3_PLAN, CX_CLASS4_PLAN, CX_CLASS5_PLAN, supply_Time,
		CLOSE_OUT_SPEC_FLAG
		)
		VALUES
		<foreach collection="scheduleResultList" item="schedule" separator=",">
			(
			#{schedule.scheduleDate},
			#{schedule.cd90BatchNo,jdbcType=VARCHAR},
			#{schedule.batchNo,jdbcType=VARCHAR},
			#{schedule.orderNo,jdbcType=VARCHAR},
			#{schedule.bigRollCode,jdbcType=VARCHAR},
			#{schedule.originalLineCode,jdbcType=VARCHAR},
			#{schedule.originalLineQtyNum,jdbcType=VARCHAR},
			#{schedule.machineId,jdbcType=VARCHAR},
			#{schedule.dayPlanQty,jdbcType=DOUBLE},
			#{schedule.dayPlanQtyNum,jdbcType=DOUBLE},
			#{schedule.dayHandAnalysis,jdbcType=VARCHAR},
			#{schedule.dayProcessValue,jdbcType=VARCHAR},
			#{schedule.nightPlanQty,jdbcType=DOUBLE},
			#{schedule.nightPlanQtyNum,jdbcType=DOUBLE},
			#{schedule.nightHandAnalysis,jdbcType=VARCHAR},
			#{schedule.nightProcessValue,jdbcType=VARCHAR},
			#{schedule.yesStock,jdbcType=DOUBLE},
			#{schedule.todayStock,jdbcType=DOUBLE},
			#{schedule.dayUsed,jdbcType=DOUBLE},
			#{schedule.dayOut,jdbcType=DOUBLE},
			#{schedule.fac2Class1Plan,jdbcType=DOUBLE},
			#{schedule.fac2Class2Plan,jdbcType=DOUBLE},
			#{schedule.fac2Class3Plan,jdbcType=DOUBLE},
			#{schedule.fac2TotalPlan,jdbcType=DOUBLE},
			#{schedule.fac5Class1Plan,jdbcType=DOUBLE},
			#{schedule.fac5Class2Plan,jdbcType=DOUBLE},
			#{schedule.fac5Class3Plan,jdbcType=DOUBLE},
			#{schedule.fac5TotalPlan,jdbcType=DOUBLE},
			#{schedule.totalPlan,jdbcType=DOUBLE},
			#{schedule.rubberCode,jdbcType=VARCHAR},
			#{schedule.rubberCarNumber,jdbcType=DOUBLE},
			#{schedule.originalBrand,jdbcType=VARCHAR},
			#{schedule.originalBrandNum,jdbcType=DOUBLE},
			#{schedule.isRelease,jdbcType=VARCHAR},
			#{schedule.extraPlanFlag,jdbcType=VARCHAR},
			#{schedule.originalRemindFlag,jdbcType=VARCHAR},
			#{schedule.markCloseOutTip,jdbcType=VARCHAR},
			#{schedule.remark,jdbcType=VARCHAR},
			#{schedule.productionStatus,jdbcType=VARCHAR},
			'0',
			#{schedule.createBy,jdbcType=VARCHAR},
			NOW(),
			#{schedule.dataSource,jdbcType=VARCHAR},
			#{schedule.cxClass1Plan,jdbcType=DOUBLE},
			#{schedule.cxClass2Plan,jdbcType=DOUBLE},
			#{schedule.cxClass3Plan,jdbcType=DOUBLE},
			#{schedule.cxClass4Plan,jdbcType=DOUBLE},
			#{schedule.cxClass5Plan,jdbcType=DOUBLE},
			#{schedule.supplyTime,jdbcType=DOUBLE},
			#{schedule.closeOutSpecFlag,jdbcType=VARCHAR}
			)
		</foreach>
		ON DUPLICATE KEY UPDATE
		day_Plan_Qty = VALUES(day_Plan_Qty),
		day_Plan_Qty_Num = VALUES(day_Plan_Qty_Num),
		night_Plan_Qty = VALUES(night_Plan_Qty),
		night_Plan_Qty_Num = VALUES(night_Plan_Qty_Num),
		YES_STOCK = VALUES(YES_STOCK),
		TODAY_STOCK = VALUES(TODAY_STOCK),
		day_Used = VALUES(day_Used),
		DAY_OUT = VALUES(DAY_OUT),
		ORIGINAL_LINE_CODE = VALUES(ORIGINAL_LINE_CODE),
		ORIGINAL_LINE_QTY_NUM = VALUES(ORIGINAL_LINE_QTY_NUM),
		FAC2_CLASS1_PLAN = VALUES(FAC2_CLASS1_PLAN),
		FAC2_CLASS2_PLAN = VALUES(FAC2_CLASS2_PLAN),
		FAC2_CLASS3_PLAN = VALUES(FAC2_CLASS3_PLAN),
		FAC2_TOTAL_PLAN = VALUES(FAC2_TOTAL_PLAN),
		FAC5_CLASS1_PLAN = VALUES(FAC5_CLASS1_PLAN),
		FAC5_CLASS2_PLAN = VALUES(FAC5_CLASS2_PLAN),
		FAC5_CLASS3_PLAN = VALUES(FAC5_CLASS3_PLAN),
		FAC5_TOTAL_PLAN = VALUES(FAC5_TOTAL_PLAN),
		total_Plan = VALUES(total_Plan),
		RUBBER_CODE = VALUES(RUBBER_CODE),
		RUBBER_CAR_NUMBER = VALUES(RUBBER_CAR_NUMBER),
		ORIGINAL_BRAND = VALUES(ORIGINAL_BRAND),
		ORIGINAL_BRAND_NUM = VALUES(ORIGINAL_BRAND_NUM),
		remark = VALUES(remark),
		mark_Close_Out_Tip = VALUES(mark_Close_Out_Tip),
		production_status = VALUES(production_status),
		update_by = VALUES(create_by),
		update_time = NOW(),
		data_Source = VALUES(data_Source),
		CX_CLASS1_PLAN = VALUES(CX_CLASS1_PLAN),
		CX_CLASS2_PLAN = VALUES(CX_CLASS2_PLAN),
		CX_CLASS3_PLAN = VALUES(CX_CLASS3_PLAN),
		CX_CLASS4_PLAN = VALUES(CX_CLASS4_PLAN),
		CX_CLASS5_PLAN = VALUES(CX_CLASS5_PLAN),
		supply_Time = VALUES(supply_Time),
		CLOSE_OUT_SPEC_FLAG = VALUES(CLOSE_OUT_SPEC_FLAG)
	</insert>

    <!-- 查询纤维压延外协规格清单 -->
    <select id="selectXwyyAssistSpecList" resultType="com.zlt.aps.xwyy.api.domain.entity.XwyyAssistSpec">
        SELECT *
		  FROM T_XWYY_ASSIST_SPEC R
		 WHERE R.DEL_FLAG = '0'
    </select>

    <!-- 批量新增外协排程结果数据 -->
    <insert id="insertScheduleAssistList" parameterType="list">
    	INSERT INTO T_XWYY_ASSIST_SCHEDULE
		  (ID,
		   schedule_DATE,
		   CD90_BATCH_NO,
		   BATCH_NO,
		   ORDER_NO,
		   BIG_ROLL_CODE,
		   ORIGINAL_LINE_CODE,
		   MACHINE_ID,
		   DAY_PLAN_QTY,
		   DAY_SYS_ANALYSIS,
		   NIGHT_PLAN_QTY,
		   NIGHT_SYS_ANALYSIS,
		   DAY_USED,
		   SUPPLY_TIME,
		   TODAY_STOCK,
		   YES_STOCK,
		   TOTAL_PLAN,
		   CX_CLASS1_PLAN,
		   CX_CLASS2_PLAN,
		   CX_CLASS3_PLAN,
		   CX_CLASS4_PLAN,
		   CX_CLASS5_PLAN,
		   IS_RELEASE,
		   DEL_FLAG,
		   CREATE_BY,
		   CREATE_TIME,
		   MARK_CLOSE_OUT_TIP,
		   PRODUCTION_STATUS)
		  VALUES
              <foreach collection="scheduleAssistList" item="schedule" separator=",">
		          (NULL,
		           		 #{schedule.scheduleDate},
		                 #{schedule.cd90BatchNo,jdbcType = VARCHAR},
		                 #{schedule.batchNo,jdbcType = VARCHAR},
		                 #{schedule.orderNo,jdbcType = VARCHAR},
		                 #{schedule.bigRollCode,jdbcType = VARCHAR},
		                 #{schedule.originalLineCode,jdbcType = VARCHAR},
		                 #{schedule.machineId,jdbcType = VARCHAR},
		                 #{schedule.dayPlanQty,jdbcType = DOUBLE},
		                 #{schedule.daySysAnalysis,jdbcType = VARCHAR},
		                 #{schedule.nightPlanQty,jdbcType = DOUBLE},
		                 #{schedule.nightSysAnalysis,jdbcType = VARCHAR},
		                 #{schedule.dayUsed,jdbcType = DOUBLE},
		                 #{schedule.supplyTime,jdbcType = DOUBLE},
		                 #{schedule.todayStock,jdbcType = DOUBLE},
		                 #{schedule.yesStock,jdbcType = DOUBLE},
		                 #{schedule.totalPlan,jdbcType = DOUBLE},
		                 #{schedule.cxClass1Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass2Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass3Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass4Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass5Plan,jdbcType = DOUBLE},
		                 #{schedule.isRelease,jdbcType = VARCHAR},
		                 #{schedule.delFlag,jdbcType = VARCHAR},
		                 #{schedule.createBy,jdbcType = VARCHAR},
		                 #{schedule.createTime},
		                 #{schedule.markCloseOutTip,jdbcType = VARCHAR},
		                 #{schedule.productionStatus,jdbcType = VARCHAR}
				  )
              </foreach>
    </insert>

	<!-- 逻辑删除指定日期的外协排程结果数据 -->
    <delete id="deleteXwyyScheduleAssist" parameterType="date">
        UPDATE T_XWYY_ASSIST_SCHEDULE SET DEL_FLAG = '1' WHERE SCHEDULE_DATE = #{scheduleDate}
    </delete>

    <!-- 查询原线代码规格设置 -->
    <select id="selectOriginalLineSpec" resultType="com.zlt.aps.xwyy.engine.vo.XwyyOriginalLineSpec">
		SELECT ORIGINAL_LINE_CODE, ORIGINAL_LINE_LENGTH, BREAK_ROLL_NUM
		  FROM T_XWYY_ORIGINAL_LINE_SPEC T
		 WHERE DEL_FLAG = '0'
    </select>

    <!-- 查询纤维压延外厂需求，表中存储的是大卷数，需要换算成米数，只要查出需求量不为0的计划 -->
    <select id="selectAssistRequirement" resultType="com.zlt.aps.xwyy.engine.vo.XwyyAssistRequirement">
	    SELECT R.BIG_ROLL_CODE,
	           MAX(IFNULL(R.DAY_PLAN_QTY, 0) *
	               IFNULL(B.ACT_CLOTH_LENGTH, IFNULL(P1.PARAM_VALUE + 0, 400))) DAY_PLAN_QTY,
	           MAX(IFNULL(R.NIGHT_PLAN_QTY, 0) *
	               IFNULL(B.ACT_CLOTH_LENGTH, IFNULL(P1.PARAM_VALUE + 0, 400))) NIGHT_PLAN_QTY,
	           MAX(IFNULL(R.DAY_OUT, 0) *
	               IFNULL(B.ACT_CLOTH_LENGTH, IFNULL(P1.PARAM_VALUE + 0, 400))) DAY_OUT,
	           MAX(IFNULL(R.FAC5_CLASS1_PLAN, 0) *
	               IFNULL(B.ACT_CLOTH_LENGTH, IFNULL(P1.PARAM_VALUE + 0, 400))) FAC5_CLASS1_PLAN,
	           MAX(IFNULL(R.FAC5_CLASS2_PLAN, 0) *
	               IFNULL(B.ACT_CLOTH_LENGTH, IFNULL(P1.PARAM_VALUE + 0, 400))) FAC5_CLASS2_PLAN,
	           MAX(IFNULL(R.FAC5_CLASS3_PLAN, 0) *
	               IFNULL(B.ACT_CLOTH_LENGTH, IFNULL(P1.PARAM_VALUE + 0, 400))) FAC5_CLASS3_PLAN,
	           MAX(IFNULL(CI.ORIGINAL_LINE_CODE, BO.ORIGINAL_LINE_CODE)) ORIGINAL_LINE_CODE
	      FROM T_XWYY_ASSIST_REQUIREMENT R
	      LEFT JOIN T_CD90_BIG_ROLL B
	        ON B.BIG_ROLL_CODE = R.BIG_ROLL_CODE
	       AND B.DEL_FLAG = '0'
	      LEFT JOIN T_XWYY_PARAMS P1
	        ON P1.PARAM_CODE = 'STANDARD_SIZE'
	       AND P1.DEL_FLAG = '0'
	      LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
	        ON R.BIG_ROLL_CODE = CI.CORD_SPEC
	       AND CI.DEL_FLAG = '0'
	      LEFT JOIN (SELECT B.CHILD_CODE BIG_ROLL_CODE,
                     B.CHILD_MATERIAL_CODE SAP_CODE,
                     MAX(C.CHILD_CODE) ORIGINAL_LINE_CODE
                FROM T_BOM_INFO B
               INNER JOIN T_BOM_INFO C
                  ON C.PARENT_MATERIAL_CODE = B.CHILD_MATERIAL_CODE
                 AND C.STATUS = '1'
                 AND C.CHILD_MATERIAL_NAME_CODE = 'NYLON_CORD'
               WHERE B.STATUS = '1'
                 AND B.CHILD_MATERIAL_NAME_CODE = 'RUBBER_COVERED'
               GROUP BY B.CHILD_CODE, B.CHILD_MATERIAL_CODE) BO
            ON BO.BIG_ROLL_CODE = R.BIG_ROLL_CODE
	    WHERE R.SCHEDULE_DATE = #{scheduleDate}
	       AND R.DEL_FLAG = '0'
	       AND (IFNULL(R.DAY_PLAN_QTY, 0) != 0
	         OR IFNULL(R.NIGHT_PLAN_QTY, 0) != 0
	         OR IFNULL(R.FAC5_CLASS1_PLAN, 0) != 0
	         OR IFNULL(R.FAC5_CLASS2_PLAN, 0) != 0
	         OR IFNULL(R.FAC5_CLASS3_PLAN, 0) != 0
	       )
	     GROUP BY R.BIG_ROLL_CODE
    </select>

    <!-- 查询符合条件的钢带压延记录 -->
    <select id="selectXwyyScheduleList" resultType="com.zlt.aps.xwyy.engine.vo.XwyyScheduleResultVo">
    	SELECT *
    	  FROM T_XWYY_SCHEDULE_RESULT t
    	 WHERE t.SCHEDULE_DATE = #{scheduleDate}
    </select>

    <!-- 查询大卷与胶料车数的关系配置 -->
    <select id="selectXwyyBigRollRubCarRelation" resultType="com.zlt.aps.xwyy.api.domain.entity.XwyyBigRollRubberCarRelation">
    	SELECT *
        FROM T_XWYY_BG_RUB_CAR_RELATION
    	 WHERE DEL_FLAG = '0'
    </select>

    <!-- 查询大卷与品牌配置 -->
    <select id="selectXwyyBigRollOriginalBrand" resultType="com.zlt.aps.xwyy.api.domain.entity.XwyyBigRollOriginalBrand">
    	SELECT *
        FROM T_XWYY_BIG_ROLL_ORIGINAL_BRAND
    	 WHERE DEL_FLAG = '0'
    </select>

    <!-- 批量更新排程结果表的品牌数 -->
    <update id="updateScheduleResultOriginalBrand">
		-- 执行批量更新
		UPDATE T_XWYY_SCHEDULE_RESULT as result
		JOIN temp_schedule_result tempTable ON result.id = tempTable.id
		SET
		result.ORIGINAL_BRAND_NUM = tempTable.ORIGINAL_BRAND_NUM,
		result.update_by = tempTable.update_by,
		result.update_time = tempTable.update_time
		where result.schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
    </update>

	<update id="createTempTable">
		-- 创建临时表用于批量更新
		CREATE TEMPORARY TABLE temp_schedule_result (
			id BIGINT PRIMARY KEY NOT NULL,
			ORIGINAL_BRAND_NUM DOUBLE,
			update_by VARCHAR(25),
			update_time DATETIME
		);
	</update>

    <insert id="insertTempTable">
		INSERT INTO temp_schedule_result
		(id,
		ORIGINAL_BRAND_NUM,
		update_by,
		update_time)
		values
		<foreach collection="scheduleResultList" item="schedule" separator=",">
			(
			#{schedule.id},
			#{schedule.originalBrandNum,jdbcType = VARCHAR},
			#{schedule.updateBy,jdbcType = VARCHAR},
			#{schedule.updateTime}
			)
		</foreach>
	</insert>

	<delete id="dropTempTable">
		-- 删除临时表
		DROP TEMPORARY TABLE temp_schedule_result
	</delete>

	<select id="listMachineShift" resultType="com.zlt.aps.xwyy.api.domain.entity.XwyyMachineInfo">
		SELECT * FROM t_xwyy_machine_info WHERE del_flag = '0'
		<if test="machineIdList != null and machineIdList.size() > 0">
			AND ID IN
			<foreach collection="machineIdList" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
		</if>
	</select>

    <update id="batchUpdateBatchNoAndOrderNo">
        UPDATE T_XWYY_SCHEDULE_RESULT as a
        JOIN (
        <foreach item="item" collection="list" separator=" UNION ALL ">
            SELECT #{item.id} AS id, #{item.batchNo} as batch_no, #{item.orderNo} as order_no FROM DUAL
        </foreach>
        ) tempTable ON a.id = tempTable.id
        SET
        a.batch_no = tempTable.batch_no,
        a.order_no = tempTable.order_no
        where a.del_flag = '0'
    </update>
</mapper>
