<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.demand.mapper.DpDemandPlanEntityMapper">
    <resultMap type="com.zlt.aps.monthplan.api.domain.entity.DpDemandPlan" id="DpDemandPlanResult">
            <result property="id" column="ID"/>
            <result property="factoryCode" column="FACTORY_CODE"/>
            <result property="year" column="YEAR"/>
            <result property="month" column="MONTH"/>
            <result property="monthPlanVersion" column="MONTH_PLAN_VERSION"/>
            <result property="orderPriority" column="ORDER_PRIORITY"/>
            <result property="isAlternateMaterial" column="IS_ALTERNATE_MATERIAL"/>
            <result property="productTypeCode" column="PRODUCT_TYPE_CODE"/>
            <result property="locationType" column="LOCATION_TYPE"/>
            <result property="brand" column="BRAND"/>
            <result property="scmPriority" column="SCM_PRIORITY"/>
            <result property="structureName" column="STRUCTURE_NAME"/>
            <result property="mainPattern" column="MAIN_PATTERN"/>
            <result property="materialCode" column="MATERIAL_CODE"/>
            <result property="materialDesc" column="MATERIAL_DESC"/>
            <result property="productionType" column="PRODUCTION_TYPE"/>
            <result property="yearWeek" column="YEAR_WEEK"/>
            <result property="isDynamicBalance" column="IS_DYNAMIC_BALANCE"/>
            <result property="isUniformity" column="IS_UNIFORMITY"/>
            <result property="orderQty" column="ORDER_QTY"/>
            <result property="stockQty" column="STOCK_QTY"/>
            <result property="plannedSurplus" column="PLANNED_SURPLUS"/>
            <result property="netQty" column="NET_QTY"/>
            <result property="isProduction" column="IS_PRODUCTION"/>
            <result property="postponeNetQty" column="POSTPONE_NET_QTY"/>
            <result property="unPostponeNetQty" column="UN_POSTPONE_NET_QTY"/>
            <result property="heightQty" column="HEIGHT_QTY"/>
            <result property="midQty" column="MID_QTY"/>
            <result property="postponeQty" column="POSTPONE_QTY"/>
            <result property="cycleReserveQty" column="CYCLE_RESERVE_QTY"/>
            <result property="conventionReserveQty" column="CONVENTION_RESERVE_QTY"/>
            <result property="isReachMinProductionQty" column="IS_REACH_MIN_PRODUCTION_QTY"/>
            <result property="minProductionQty" column="MIN_PRODUCTION_QTY"/>
            <result property="planType" column="PLAN_TYPE"/>
            <result property="mesMaterialCode" column="MES_MATERIAL_CODE"/>
            <result property="channel" column="CHANNEL"/>
            <result property="proSize" column="PRO_SIZE"/>
            <result property="specifications" column="SPECIFICATIONS"/>
            <result property="pattern" column="PATTERN"/>
            <result property="hierarchy" column="HIERARCHY"/>
            <result property="speed" column="SPEED"/>
            <result property="isImportantCustom" column="IS_IMPORTANT_CUSTOM"/>
            <result property="isEnsurePlan" column="IS_ENSURE_PLAN"/>
            <result property="isEmergency" column="IS_EMERGENCY"/>
            <result property="isDebitPlan" column="IS_DEBIT_PLAN"/>
            <result property="deliveryDateDue" column="DELIVERY_DATE_DUE"/>
            <result property="isImport" column="IS_IMPORT"/>
            <result property="remark" column="REMARK"/>
            <result property="isDelete" column="IS_DELETE"/>
            <result property="createTime" column="CREATE_TIME"/>
            <result property="updateTime" column="UPDATE_TIME"/>
            <result property="createBy" column="CREATE_BY"/>
            <result property="updateBy" column="UPDATE_BY"/>
    </resultMap>


    <sql id="selectDpDemandPlanVo">
        SELECT ID, FACTORY_CODE, YEAR, MONTH, MONTH_PLAN_VERSION, ORDER_PRIORITY, IS_ALTERNATE_MATERIAL, PRODUCT_TYPE_CODE, LOCATION_TYPE, BRAND, SCM_PRIORITY, STRUCTURE_NAME, MAIN_PATTERN, MATERIAL_CODE, MATERIAL_DESC, PRODUCTION_TYPE, YEAR_WEEK, IS_DYNAMIC_BALANCE, IS_UNIFORMITY, ORDER_QTY, STOCK_QTY, PLANNED_SURPLUS, NET_QTY, IS_PRODUCTION, POSTPONE_NET_QTY, UN_POSTPONE_NET_QTY, HEIGHT_QTY, MID_QTY, POSTPONE_QTY, CYCLE_RESERVE_QTY, CONVENTION_RESERVE_QTY, IS_REACH_MIN_PRODUCTION_QTY, MIN_PRODUCTION_QTY, PLAN_TYPE, MES_MATERIAL_CODE, CHANNEL, PRO_SIZE, SPECIFICATIONS, PATTERN, HIERARCHY, SPEED, IS_IMPORTANT_CUSTOM, IS_ENSURE_PLAN, IS_EMERGENCY, IS_DEBIT_PLAN, DELIVERY_DATE_DUE, IS_IMPORT, REMARK, IS_DELETE, CREATE_TIME, UPDATE_TIME, CREATE_BY, UPDATE_BY, FROM T_DP_DEMAND_PLAN
    </sql>

    <select id="selectDpDemandPlanList" parameterType="com.zlt.aps.monthplan.api.domain.entity.DpDemandPlan" resultMap="DpDemandPlanResult">
        <include refid="selectDpDemandPlanVo"/>
        WHERE NVL(IS_DELETE,0) = 0
        <if test="factoryCode != null  and factoryCode != ''"> AND FACTORY_CODE = #{factoryCode}</if>
        <if test="year != null "> AND YEAR = #{year}</if>
        <if test="month != null "> AND MONTH = #{month}</if>
        <if test="monthPlanVersion != null  and monthPlanVersion != ''"> AND MONTH_PLAN_VERSION = #{monthPlanVersion}</if>
        <if test="orderPriority != null  and orderPriority != ''"> AND ORDER_PRIORITY = #{orderPriority}</if>
        <if test="isAlternateMaterial != null  and isAlternateMaterial != ''"> AND IS_ALTERNATE_MATERIAL = #{isAlternateMaterial}</if>
        <if test="productTypeCode != null  and productTypeCode != ''"> AND PRODUCT_TYPE_CODE = #{productTypeCode}</if>
        <if test="locationType != null  and locationType != ''"> AND LOCATION_TYPE = #{locationType}</if>
        <if test="brand != null  and brand != ''"> AND BRAND = #{brand}</if>
        <if test="scmPriority != null  and scmPriority != ''"> AND SCM_PRIORITY = #{scmPriority}</if>
        <if test="structureName != null  and structureName != ''"> AND STRUCTURE_NAME LIKE CONCAT(CONCAT('%', #{structureName}), '%')</if>
        <if test="mainPattern != null  and mainPattern != ''"> AND MAIN_PATTERN = #{mainPattern}</if>
        <if test="materialCode != null  and materialCode != ''"> AND MATERIAL_CODE = #{materialCode}</if>
        <if test="materialDesc != null  and materialDesc != ''"> AND MATERIAL_DESC = #{materialDesc}</if>
        <if test="productionType != null  and productionType != ''"> AND PRODUCTION_TYPE = #{productionType}</if>
        <if test="yearWeek != null  and yearWeek != ''"> AND YEAR_WEEK = #{yearWeek}</if>
        <if test="isDynamicBalance != null  and isDynamicBalance != ''"> AND IS_DYNAMIC_BALANCE = #{isDynamicBalance}</if>
        <if test="isUniformity != null  and isUniformity != ''"> AND IS_UNIFORMITY = #{isUniformity}</if>
        <if test="orderQty != null "> AND ORDER_QTY = #{orderQty}</if>
        <if test="stockQty != null "> AND STOCK_QTY = #{stockQty}</if>
        <if test="plannedSurplus != null "> AND PLANNED_SURPLUS = #{plannedSurplus}</if>
        <if test="netQty != null "> AND NET_QTY = #{netQty}</if>
        <if test="isProduction != null  and isProduction != ''"> AND IS_PRODUCTION = #{isProduction}</if>
        <if test="postponeNetQty != null "> AND POSTPONE_NET_QTY = #{postponeNetQty}</if>
        <if test="unPostponeNetQty != null "> AND UN_POSTPONE_NET_QTY = #{unPostponeNetQty}</if>
        <if test="heightQty != null "> AND HEIGHT_QTY = #{heightQty}</if>
        <if test="midQty != null "> AND MID_QTY = #{midQty}</if>
        <if test="postponeQty != null "> AND POSTPONE_QTY = #{postponeQty}</if>
        <if test="cycleReserveQty != null "> AND CYCLE_RESERVE_QTY = #{cycleReserveQty}</if>
        <if test="conventionReserveQty != null "> AND CONVENTION_RESERVE_QTY = #{conventionReserveQty}</if>
        <if test="isReachMinProductionQty != null  and isReachMinProductionQty != ''"> AND IS_REACH_MIN_PRODUCTION_QTY = #{isReachMinProductionQty}</if>
        <if test="minProductionQty != null "> AND MIN_PRODUCTION_QTY = #{minProductionQty}</if>
        <if test="planType != null  and planType != ''"> AND PLAN_TYPE = #{planType}</if>
        <if test="mesMaterialCode != null  and mesMaterialCode != ''"> AND MES_MATERIAL_CODE = #{mesMaterialCode}</if>
        <if test="channel != null  and channel != ''"> AND CHANNEL = #{channel}</if>
        <if test="proSize != null  and proSize != ''"> AND PRO_SIZE = #{proSize}</if>
        <if test="specifications != null  and specifications != ''"> AND SPECIFICATIONS = #{specifications}</if>
        <if test="pattern != null  and pattern != ''"> AND PATTERN = #{pattern}</if>
        <if test="hierarchy != null  and hierarchy != ''"> AND HIERARCHY = #{hierarchy}</if>
        <if test="speed != null  and speed != ''"> AND SPEED = #{speed}</if>
        <if test="isImportantCustom != null  and isImportantCustom != ''"> AND IS_IMPORTANT_CUSTOM = #{isImportantCustom}</if>
        <if test="isEnsurePlan != null  and isEnsurePlan != ''"> AND IS_ENSURE_PLAN = #{isEnsurePlan}</if>
        <if test="isEmergency != null  and isEmergency != ''"> AND IS_EMERGENCY = #{isEmergency}</if>
        <if test="isDebitPlan != null  and isDebitPlan != ''"> AND IS_DEBIT_PLAN = #{isDebitPlan}</if>
        <if test="deliveryDateDue != null "> AND DELIVERY_DATE_DUE = #{deliveryDateDue}</if>
        <if test="isImport != null  and isImport != ''"> AND IS_IMPORT = #{isImport}</if>
    </select>

    <select id="selectDpDemandPlanById" parameterType="Long" resultMap="DpDemandPlanResult">
        <include refid="selectDpDemandPlanVo"/>
        WHERE ID = #{id}
    </select>

    <select id="selectDpDemandPlanByIds" parameterType="list"
            resultMap="DpDemandPlanResult">

        <include refid="selectDpDemandPlanVo"/>
           WHERE  NVL(IS_DELETE,0) = 0  AND ID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>

    <insert id="insert" parameterType="com.zlt.aps.monthplan.api.domain.entity.DpDemandPlan">
        INSERT INTO T_DP_DEMAND_PLAN
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            <if test="factoryCode != null and factoryCode != ''">FACTORY_CODE,</if>
            <if test="year != null">YEAR,</if>
            <if test="month != null">MONTH,</if>
            <if test="monthPlanVersion != null">MONTH_PLAN_VERSION,</if>
            <if test="orderPriority != null">ORDER_PRIORITY,</if>
            <if test="isAlternateMaterial != null">IS_ALTERNATE_MATERIAL,</if>
            <if test="productTypeCode != null">PRODUCT_TYPE_CODE,</if>
            <if test="locationType != null">LOCATION_TYPE,</if>
            <if test="brand != null">BRAND,</if>
            <if test="scmPriority != null">SCM_PRIORITY,</if>
            <if test="structureName != null">STRUCTURE_NAME,</if>
            <if test="mainPattern != null">MAIN_PATTERN,</if>
            <if test="materialCode != null and materialCode != ''">MATERIAL_CODE,</if>
            <if test="materialDesc != null">MATERIAL_DESC,</if>
            <if test="productionType != null">PRODUCTION_TYPE,</if>
            <if test="yearWeek != null">YEAR_WEEK,</if>
            <if test="isDynamicBalance != null">IS_DYNAMIC_BALANCE,</if>
            <if test="isUniformity != null">IS_UNIFORMITY,</if>
            <if test="orderQty != null">ORDER_QTY,</if>
            <if test="stockQty != null">STOCK_QTY,</if>
            <if test="plannedSurplus != null">PLANNED_SURPLUS,</if>
            <if test="netQty != null">NET_QTY,</if>
            <if test="isProduction != null">IS_PRODUCTION,</if>
            <if test="postponeNetQty != null">POSTPONE_NET_QTY,</if>
            <if test="unPostponeNetQty != null">UN_POSTPONE_NET_QTY,</if>
            <if test="heightQty != null">HEIGHT_QTY,</if>
            <if test="midQty != null">MID_QTY,</if>
            <if test="postponeQty != null">POSTPONE_QTY,</if>
            <if test="cycleReserveQty != null">CYCLE_RESERVE_QTY,</if>
            <if test="conventionReserveQty != null">CONVENTION_RESERVE_QTY,</if>
            <if test="isReachMinProductionQty != null">IS_REACH_MIN_PRODUCTION_QTY,</if>
            <if test="minProductionQty != null">MIN_PRODUCTION_QTY,</if>
            <if test="planType != null">PLAN_TYPE,</if>
            <if test="mesMaterialCode != null">MES_MATERIAL_CODE,</if>
            <if test="channel != null">CHANNEL,</if>
            <if test="proSize != null">PRO_SIZE,</if>
            <if test="specifications != null">SPECIFICATIONS,</if>
            <if test="pattern != null">PATTERN,</if>
            <if test="hierarchy != null">HIERARCHY,</if>
            <if test="speed != null">SPEED,</if>
            <if test="isImportantCustom != null">IS_IMPORTANT_CUSTOM,</if>
            <if test="isEnsurePlan != null">IS_ENSURE_PLAN,</if>
            <if test="isEmergency != null">IS_EMERGENCY,</if>
            <if test="isDebitPlan != null">IS_DEBIT_PLAN,</if>
            <if test="deliveryDateDue != null">DELIVERY_DATE_DUE,</if>
            <if test="isImport != null">IS_IMPORT,</if>
            <if test="remark != null">REMARK,</if>
            <if test="isDelete != null">IS_DELETE,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
         </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            SEQ_EMAND_PLAN.NEXTVAL,
            <if test="factoryCode != null and factoryCode != ''">#{factoryCode},</if>
            <if test="year != null">#{year},</if>
            <if test="month != null">#{month},</if>
            <if test="monthPlanVersion != null">#{monthPlanVersion},</if>
            <if test="orderPriority != null">#{orderPriority},</if>
            <if test="isAlternateMaterial != null">#{isAlternateMaterial},</if>
            <if test="productTypeCode != null">#{productTypeCode},</if>
            <if test="locationType != null">#{locationType},</if>
            <if test="brand != null">#{brand},</if>
            <if test="scmPriority != null">#{scmPriority},</if>
            <if test="structureName != null">#{structureName},</if>
            <if test="mainPattern != null">#{mainPattern},</if>
            <if test="materialCode != null and materialCode != ''">#{materialCode},</if>
            <if test="materialDesc != null">#{materialDesc},</if>
            <if test="productionType != null">#{productionType},</if>
            <if test="yearWeek != null">#{yearWeek},</if>
            <if test="isDynamicBalance != null">#{isDynamicBalance},</if>
            <if test="isUniformity != null">#{isUniformity},</if>
            <if test="orderQty != null">#{orderQty},</if>
            <if test="stockQty != null">#{stockQty},</if>
            <if test="plannedSurplus != null">#{plannedSurplus},</if>
            <if test="netQty != null">#{netQty},</if>
            <if test="isProduction != null">#{isProduction},</if>
            <if test="postponeNetQty != null">#{postponeNetQty},</if>
            <if test="unPostponeNetQty != null">#{unPostponeNetQty},</if>
            <if test="heightQty != null">#{heightQty},</if>
            <if test="midQty != null">#{midQty},</if>
            <if test="postponeQty != null">#{postponeQty},</if>
            <if test="cycleReserveQty != null">#{cycleReserveQty},</if>
            <if test="conventionReserveQty != null">#{conventionReserveQty},</if>
            <if test="isReachMinProductionQty != null">#{isReachMinProductionQty},</if>
            <if test="minProductionQty != null">#{minProductionQty},</if>
            <if test="planType != null">#{planType},</if>
            <if test="mesMaterialCode != null">#{mesMaterialCode},</if>
            <if test="channel != null">#{channel},</if>
            <if test="proSize != null">#{proSize},</if>
            <if test="specifications != null">#{specifications},</if>
            <if test="pattern != null">#{pattern},</if>
            <if test="hierarchy != null">#{hierarchy},</if>
            <if test="speed != null">#{speed},</if>
            <if test="isImportantCustom != null">#{isImportantCustom},</if>
            <if test="isEnsurePlan != null">#{isEnsurePlan},</if>
            <if test="isEmergency != null">#{isEmergency},</if>
            <if test="isDebitPlan != null">#{isDebitPlan},</if>
            <if test="deliveryDateDue != null">#{deliveryDateDue},</if>
            <if test="isImport != null">#{isImport},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="update" parameterType="com.zlt.aps.monthplan.api.domain.entity.DpDemandPlan">
        UPDATE T_DP_DEMAND_PLAN
        <trim prefix="SET" suffixOverrides=",">
            <if test="factoryCode != null and factoryCode != ''">FACTORY_CODE = #{factoryCode},</if>
            <if test="year != null">YEAR = #{year},</if>
            <if test="month != null">MONTH = #{month},</if>
            <if test="monthPlanVersion != null">MONTH_PLAN_VERSION = #{monthPlanVersion},</if>
            <if test="orderPriority != null">ORDER_PRIORITY = #{orderPriority},</if>
            <if test="isAlternateMaterial != null">IS_ALTERNATE_MATERIAL = #{isAlternateMaterial},</if>
            <if test="productTypeCode != null">PRODUCT_TYPE_CODE = #{productTypeCode},</if>
            <if test="locationType != null">LOCATION_TYPE = #{locationType},</if>
            <if test="brand != null">BRAND = #{brand},</if>
            <if test="scmPriority != null">SCM_PRIORITY = #{scmPriority},</if>
            <if test="structureName != null">STRUCTURE_NAME = #{structureName},</if>
            <if test="mainPattern != null">MAIN_PATTERN = #{mainPattern},</if>
            <if test="materialCode != null and materialCode != ''">MATERIAL_CODE = #{materialCode},</if>
            <if test="materialDesc != null">MATERIAL_DESC = #{materialDesc},</if>
            <if test="productionType != null">PRODUCTION_TYPE = #{productionType},</if>
            <if test="yearWeek != null">YEAR_WEEK = #{yearWeek},</if>
            <if test="isDynamicBalance != null">IS_DYNAMIC_BALANCE = #{isDynamicBalance},</if>
            <if test="isUniformity != null">IS_UNIFORMITY = #{isUniformity},</if>
            <if test="orderQty != null">ORDER_QTY = #{orderQty},</if>
            <if test="stockQty != null">STOCK_QTY = #{stockQty},</if>
            <if test="plannedSurplus != null">PLANNED_SURPLUS = #{plannedSurplus},</if>
            <if test="netQty != null">NET_QTY = #{netQty},</if>
            <if test="isProduction != null">IS_PRODUCTION = #{isProduction},</if>
            <if test="postponeNetQty != null">POSTPONE_NET_QTY = #{postponeNetQty},</if>
            <if test="unPostponeNetQty != null">UN_POSTPONE_NET_QTY = #{unPostponeNetQty},</if>
            <if test="heightQty != null">HEIGHT_QTY = #{heightQty},</if>
            <if test="midQty != null">MID_QTY = #{midQty},</if>
            <if test="postponeQty != null">POSTPONE_QTY = #{postponeQty},</if>
            <if test="cycleReserveQty != null">CYCLE_RESERVE_QTY = #{cycleReserveQty},</if>
            <if test="conventionReserveQty != null">CONVENTION_RESERVE_QTY = #{conventionReserveQty},</if>
            <if test="isReachMinProductionQty != null">IS_REACH_MIN_PRODUCTION_QTY = #{isReachMinProductionQty},</if>
            <if test="minProductionQty != null">MIN_PRODUCTION_QTY = #{minProductionQty},</if>
            <if test="planType != null">PLAN_TYPE = #{planType},</if>
            <if test="mesMaterialCode != null">MES_MATERIAL_CODE = #{mesMaterialCode},</if>
            <if test="channel != null">CHANNEL = #{channel},</if>
            <if test="proSize != null">PRO_SIZE = #{proSize},</if>
            <if test="specifications != null">SPECIFICATIONS = #{specifications},</if>
            <if test="pattern != null">PATTERN = #{pattern},</if>
            <if test="hierarchy != null">HIERARCHY = #{hierarchy},</if>
            <if test="speed != null">SPEED = #{speed},</if>
            <if test="isImportantCustom != null">IS_IMPORTANT_CUSTOM = #{isImportantCustom},</if>
            <if test="isEnsurePlan != null">IS_ENSURE_PLAN = #{isEnsurePlan},</if>
            <if test="isEmergency != null">IS_EMERGENCY = #{isEmergency},</if>
            <if test="isDebitPlan != null">IS_DEBIT_PLAN = #{isDebitPlan},</if>
            <if test="deliveryDateDue != null">DELIVERY_DATE_DUE = #{deliveryDateDue},</if>
            <if test="isImport != null">IS_IMPORT = #{isImport},</if>
            <if test="remark != null">REMARK = #{remark},</if>
            <if test="isDelete != null">IS_DELETE = #{isDelete},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteDpDemandPlanById" parameterType="Long">
        UPDATE T_DP_DEMAND_PLAN SET IS_DELETE = 1 WHERE ID = #{id}
    </delete>

    <delete id="deleteDpDemandPlanByIds" parameterType="String">
        UPDATE T_DP_DEMAND_PLAN SET IS_DELETE = 1 WHERE ID IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>