<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.demand.mapper.DpOrderOffsetDetailEntityMapper">

    <update id="updateBatchProductionQty">
        UPDATE T_DP_ORDER_OFFSET_DETAIL
        SET PRODUCTION_QTY = CASE
        <foreach collection="list" item="item">
            WHEN ID = #{item.id} THEN #{item.productionQty}
        </foreach>
        END
        WHERE ID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <select id="getOffsetVersion" resultType="java.lang.String">
        SELECT
            MONTH_PLAN_VERSION
        FROM
            (
                SELECT
                    MONTH_PLAN_VERSION,
                    CREATE_TIME
                FROM
                    t_dp_demand_plan_sum
                WHERE
                    FACTORY_CODE = #{factoryCode}
                  AND YEAR = #{year}
                  AND MONTH = #{month}
                  AND PLAN_TYPE = '01'
                  AND IS_DELETE = 0
            ) s
        GROUP BY
            s.MONTH_PLAN_VERSION
        ORDER BY
            MAX( s.CREATE_TIME ) DESC
    </select>
</mapper>