<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.demand.mapper.DpOrderOffsetDetailEntityMapper">
    <resultMap type="com.zlt.aps.monthplan.api.domain.entity.DpOrderOffsetDetail" id="DpOrderOffsetDetailResult">
            <result property="id" column="ID"/>
            <result property="factoryCode" column="FACTORY_CODE"/>
            <result property="year" column="YEAR"/>
            <result property="month" column="MONTH"/>
            <result property="monthPlanVersion" column="MONTH_PLAN_VERSION"/>
            <result property="productTypeCode" column="PRODUCT_TYPE_CODE"/>
            <result property="locationType" column="LOCATION_TYPE"/>
            <result property="areaCode" column="AREA_CODE"/>
            <result property="customCode" column="CUSTOM_CODE"/>
            <result property="customName" column="CUSTOM_NAME"/>
            <result property="customNationCode" column="CUSTOM_NATION_CODE"/>
            <result property="destinationNationCode" column="DESTINATION_NATION_CODE"/>
            <result property="poNumber" column="PO_NUMBER"/>
            <result property="brand" column="BRAND"/>
            <result property="mesMaterialCode" column="MES_MATERIAL_CODE"/>
            <result property="materialCode" column="MATERIAL_CODE"/>
            <result property="materialDesc" column="MATERIAL_DESC"/>
            <result property="orderQty" column="ORDER_QTY"/>
            <result property="stockQty" column="STOCK_QTY"/>
            <result property="allocationQty" column="ALLOCATION_QTY"/>
            <result property="plannedSurplus" column="PLANNED_SURPLUS"/>
            <result property="productionQty" column="PRODUCTION_QTY"/>
            <result property="scmPriority" column="SCM_PRIORITY"/>
            <result property="weekYear" column="WEEK_YEAR"/>
            <result property="isDynamicBalance" column="IS_DYNAMIC_BALANCE"/>
            <result property="uniformity" column="UNIFORMITY"/>
            <result property="deliverGoodsType" column="DELIVER_GOODS_TYPE"/>
            <result property="scmId" column="SCM_ID"/>
            <result property="remark" column="REMARK"/>
            <result property="isDelete" column="IS_DELETE"/>
            <result property="createTime" column="CREATE_TIME"/>
            <result property="updateTime" column="UPDATE_TIME"/>
            <result property="createBy" column="CREATE_BY"/>
            <result property="updateBy" column="UPDATE_BY"/>
    </resultMap>


    <sql id="selectDpOrderOffsetDetailVo">
        SELECT ID, FACTORY_CODE, YEAR, MONTH, MONTH_PLAN_VERSION, PRODUCT_TYPE_CODE, LOCATION_TYPE, AREA_CODE, CUSTOM_CODE, CUSTOM_NAME, CUSTOM_NATION_CODE, DESTINATION_NATION_CODE, PO_NUMBER, BRAND, MES_MATERIAL_CODE, MATERIAL_CODE, MATERIAL_DESC, ORDER_QTY, STOCK_QTY, ALLOCATION_QTY, PLANNED_SURPLUS, PRODUCTION_QTY, SCM_PRIORITY, WEEK_YEAR, IS_DYNAMIC_BALANCE, UNIFORMITY, DELIVER_GOODS_TYPE, SCM_ID, REMARK, IS_DELETE, CREATE_TIME, UPDATE_TIME, CREATE_BY, UPDATE_BY, FROM T_DP_ORDER_OFFSET_DETAIL
    </sql>

    <select id="selectDpOrderOffsetDetailList" parameterType="com.zlt.aps.monthplan.api.domain.entity.DpOrderOffsetDetail" resultMap="DpOrderOffsetDetailResult">
        <include refid="selectDpOrderOffsetDetailVo"/>
        WHERE NVL(IS_DELETE,0) = 0
        <if test="factoryCode != null  and factoryCode != ''"> AND FACTORY_CODE = #{factoryCode}</if>
        <if test="year != null "> AND YEAR = #{year}</if>
        <if test="month != null "> AND MONTH = #{month}</if>
        <if test="monthPlanVersion != null  and monthPlanVersion != ''"> AND MONTH_PLAN_VERSION = #{monthPlanVersion}</if>
        <if test="productTypeCode != null  and productTypeCode != ''"> AND PRODUCT_TYPE_CODE = #{productTypeCode}</if>
        <if test="locationType != null  and locationType != ''"> AND LOCATION_TYPE = #{locationType}</if>
        <if test="areaCode != null  and areaCode != ''"> AND AREA_CODE = #{areaCode}</if>
        <if test="customCode != null  and customCode != ''"> AND CUSTOM_CODE = #{customCode}</if>
        <if test="customName != null  and customName != ''"> AND CUSTOM_NAME LIKE CONCAT(CONCAT('%', #{customName}), '%')</if>
        <if test="customNationCode != null  and customNationCode != ''"> AND CUSTOM_NATION_CODE = #{customNationCode}</if>
        <if test="destinationNationCode != null  and destinationNationCode != ''"> AND DESTINATION_NATION_CODE = #{destinationNationCode}</if>
        <if test="poNumber != null  and poNumber != ''"> AND PO_NUMBER = #{poNumber}</if>
        <if test="brand != null  and brand != ''"> AND BRAND = #{brand}</if>
        <if test="mesMaterialCode != null  and mesMaterialCode != ''"> AND MES_MATERIAL_CODE = #{mesMaterialCode}</if>
        <if test="materialCode != null  and materialCode != ''"> AND MATERIAL_CODE = #{materialCode}</if>
        <if test="materialDesc != null  and materialDesc != ''"> AND MATERIAL_DESC = #{materialDesc}</if>
        <if test="orderQty != null "> AND ORDER_QTY = #{orderQty}</if>
        <if test="stockQty != null "> AND STOCK_QTY = #{stockQty}</if>
        <if test="allocationQty != null "> AND ALLOCATION_QTY = #{allocationQty}</if>
        <if test="plannedSurplus != null "> AND PLANNED_SURPLUS = #{plannedSurplus}</if>
        <if test="productionQty != null "> AND PRODUCTION_QTY = #{productionQty}</if>
        <if test="scmPriority != null  and scmPriority != ''"> AND SCM_PRIORITY = #{scmPriority}</if>
        <if test="weekYear != null  and weekYear != ''"> AND WEEK_YEAR = #{weekYear}</if>
        <if test="isDynamicBalance != null  and isDynamicBalance != ''"> AND IS_DYNAMIC_BALANCE = #{isDynamicBalance}</if>
        <if test="uniformity != null  and uniformity != ''"> AND UNIFORMITY = #{uniformity}</if>
        <if test="deliverGoodsType != null  and deliverGoodsType != ''"> AND DELIVER_GOODS_TYPE = #{deliverGoodsType}</if>
        <if test="scmId != null "> AND SCM_ID = #{scmId}</if>
    </select>

    <select id="selectDpOrderOffsetDetailById" parameterType="Long" resultMap="DpOrderOffsetDetailResult">
        <include refid="selectDpOrderOffsetDetailVo"/>
        WHERE ID = #{id}
    </select>

    <select id="selectDpOrderOffsetDetailByIds" parameterType="list"
            resultMap="DpOrderOffsetDetailResult">

        <include refid="selectDpOrderOffsetDetailVo"/>
           WHERE  NVL(IS_DELETE,0) = 0  AND ID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>

    <insert id="insert" parameterType="com.zlt.aps.monthplan.api.domain.entity.DpOrderOffsetDetail">
        INSERT INTO T_DP_ORDER_OFFSET_DETAIL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            <if test="factoryCode != null and factoryCode != ''">FACTORY_CODE,</if>
            <if test="year != null">YEAR,</if>
            <if test="month != null">MONTH,</if>
            <if test="monthPlanVersion != null">MONTH_PLAN_VERSION,</if>
            <if test="productTypeCode != null">PRODUCT_TYPE_CODE,</if>
            <if test="locationType != null">LOCATION_TYPE,</if>
            <if test="areaCode != null">AREA_CODE,</if>
            <if test="customCode != null and customCode != ''">CUSTOM_CODE,</if>
            <if test="customName != null">CUSTOM_NAME,</if>
            <if test="customNationCode != null">CUSTOM_NATION_CODE,</if>
            <if test="destinationNationCode != null">DESTINATION_NATION_CODE,</if>
            <if test="poNumber != null">PO_NUMBER,</if>
            <if test="brand != null">BRAND,</if>
            <if test="mesMaterialCode != null">MES_MATERIAL_CODE,</if>
            <if test="materialCode != null">MATERIAL_CODE,</if>
            <if test="materialDesc != null">MATERIAL_DESC,</if>
            <if test="orderQty != null">ORDER_QTY,</if>
            <if test="stockQty != null">STOCK_QTY,</if>
            <if test="allocationQty != null">ALLOCATION_QTY,</if>
            <if test="plannedSurplus != null">PLANNED_SURPLUS,</if>
            <if test="productionQty != null">PRODUCTION_QTY,</if>
            <if test="scmPriority != null">SCM_PRIORITY,</if>
            <if test="weekYear != null">WEEK_YEAR,</if>
            <if test="isDynamicBalance != null">IS_DYNAMIC_BALANCE,</if>
            <if test="uniformity != null">UNIFORMITY,</if>
            <if test="deliverGoodsType != null">DELIVER_GOODS_TYPE,</if>
            <if test="scmId != null">SCM_ID,</if>
            <if test="remark != null">REMARK,</if>
            <if test="isDelete != null">IS_DELETE,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
         </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            SEQ_RDER_OFFSET_DETAIL.NEXTVAL,
            <if test="factoryCode != null and factoryCode != ''">#{factoryCode},</if>
            <if test="year != null">#{year},</if>
            <if test="month != null">#{month},</if>
            <if test="monthPlanVersion != null">#{monthPlanVersion},</if>
            <if test="productTypeCode != null">#{productTypeCode},</if>
            <if test="locationType != null">#{locationType},</if>
            <if test="areaCode != null">#{areaCode},</if>
            <if test="customCode != null and customCode != ''">#{customCode},</if>
            <if test="customName != null">#{customName},</if>
            <if test="customNationCode != null">#{customNationCode},</if>
            <if test="destinationNationCode != null">#{destinationNationCode},</if>
            <if test="poNumber != null">#{poNumber},</if>
            <if test="brand != null">#{brand},</if>
            <if test="mesMaterialCode != null">#{mesMaterialCode},</if>
            <if test="materialCode != null">#{materialCode},</if>
            <if test="materialDesc != null">#{materialDesc},</if>
            <if test="orderQty != null">#{orderQty},</if>
            <if test="stockQty != null">#{stockQty},</if>
            <if test="allocationQty != null">#{allocationQty},</if>
            <if test="plannedSurplus != null">#{plannedSurplus},</if>
            <if test="productionQty != null">#{productionQty},</if>
            <if test="scmPriority != null">#{scmPriority},</if>
            <if test="weekYear != null">#{weekYear},</if>
            <if test="isDynamicBalance != null">#{isDynamicBalance},</if>
            <if test="uniformity != null">#{uniformity},</if>
            <if test="deliverGoodsType != null">#{deliverGoodsType},</if>
            <if test="scmId != null">#{scmId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="update" parameterType="com.zlt.aps.monthplan.api.domain.entity.DpOrderOffsetDetail">
        UPDATE T_DP_ORDER_OFFSET_DETAIL
        <trim prefix="SET" suffixOverrides=",">
            <if test="factoryCode != null and factoryCode != ''">FACTORY_CODE = #{factoryCode},</if>
            <if test="year != null">YEAR = #{year},</if>
            <if test="month != null">MONTH = #{month},</if>
            <if test="monthPlanVersion != null">MONTH_PLAN_VERSION = #{monthPlanVersion},</if>
            <if test="productTypeCode != null">PRODUCT_TYPE_CODE = #{productTypeCode},</if>
            <if test="locationType != null">LOCATION_TYPE = #{locationType},</if>
            <if test="areaCode != null">AREA_CODE = #{areaCode},</if>
            <if test="customCode != null and customCode != ''">CUSTOM_CODE = #{customCode},</if>
            <if test="customName != null">CUSTOM_NAME = #{customName},</if>
            <if test="customNationCode != null">CUSTOM_NATION_CODE = #{customNationCode},</if>
            <if test="destinationNationCode != null">DESTINATION_NATION_CODE = #{destinationNationCode},</if>
            <if test="poNumber != null">PO_NUMBER = #{poNumber},</if>
            <if test="brand != null">BRAND = #{brand},</if>
            <if test="mesMaterialCode != null">MES_MATERIAL_CODE = #{mesMaterialCode},</if>
            <if test="materialCode != null">MATERIAL_CODE = #{materialCode},</if>
            <if test="materialDesc != null">MATERIAL_DESC = #{materialDesc},</if>
            <if test="orderQty != null">ORDER_QTY = #{orderQty},</if>
            <if test="stockQty != null">STOCK_QTY = #{stockQty},</if>
            <if test="allocationQty != null">ALLOCATION_QTY = #{allocationQty},</if>
            <if test="plannedSurplus != null">PLANNED_SURPLUS = #{plannedSurplus},</if>
            <if test="productionQty != null">PRODUCTION_QTY = #{productionQty},</if>
            <if test="scmPriority != null">SCM_PRIORITY = #{scmPriority},</if>
            <if test="weekYear != null">WEEK_YEAR = #{weekYear},</if>
            <if test="isDynamicBalance != null">IS_DYNAMIC_BALANCE = #{isDynamicBalance},</if>
            <if test="uniformity != null">UNIFORMITY = #{uniformity},</if>
            <if test="deliverGoodsType != null">DELIVER_GOODS_TYPE = #{deliverGoodsType},</if>
            <if test="scmId != null">SCM_ID = #{scmId},</if>
            <if test="remark != null">REMARK = #{remark},</if>
            <if test="isDelete != null">IS_DELETE = #{isDelete},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteDpOrderOffsetDetailById" parameterType="Long">
        UPDATE T_DP_ORDER_OFFSET_DETAIL SET IS_DELETE = 1 WHERE ID = #{id}
    </delete>

    <delete id="deleteDpOrderOffsetDetailByIds" parameterType="String">
        UPDATE T_DP_ORDER_OFFSET_DETAIL SET IS_DELETE = 1 WHERE ID IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>