<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.demand.mapper.MpSkuProductionTypeEntityMapper">
    <resultMap type="com.zlt.aps.monthplan.api.domain.entity.MpSkuProductionType" id="MpSkuProductionTypeResult">
            <result property="id" column="ID"/>
            <result property="mesMaterialCode" column="MES_MATERIAL_CODE"/>
            <result property="materialCode" column="MATERIAL_CODE"/>
            <result property="materialDesc" column="MATERIAL_DESC"/>
            <result property="generateDate" column="GENERATE_DATE"/>
            <result property="productionType" column="PRODUCTION_TYPE"/>
            <result property="remark" column="REMARK"/>
            <result property="isDelete" column="IS_DELETE"/>
            <result property="createTime" column="CREATE_TIME"/>
            <result property="updateTime" column="UPDATE_TIME"/>
            <result property="createBy" column="CREATE_BY"/>
            <result property="updateBy" column="UPDATE_BY"/>
    </resultMap>


    <sql id="selectMpSkuProductionTypeVo">
        SELECT ID, MES_MATERIAL_CODE, MATERIAL_CODE, MATERIAL_DESC, GENERATE_DATE, PRODUCTION_TYPE, REMARK, IS_DELETE, CREATE_TIME, UPDATE_TIME, CREATE_BY, UPDATE_BY, FROM T_MP_SKU_PRODUCTION_TYPE
    </sql>

    <select id="selectMpSkuProductionTypeList" parameterType="com.zlt.aps.monthplan.api.domain.entity.MpSkuProductionType" resultMap="MpSkuProductionTypeResult">
        <include refid="selectMpSkuProductionTypeVo"/>
        WHERE NVL(IS_DELETE,0) = 0
        <if test="mesMaterialCode != null  and mesMaterialCode != ''"> AND MES_MATERIAL_CODE = #{mesMaterialCode}</if>
        <if test="materialCode != null  and materialCode != ''"> AND MATERIAL_CODE = #{materialCode}</if>
        <if test="materialDesc != null  and materialDesc != ''"> AND MATERIAL_DESC = #{materialDesc}</if>
        <if test="generateDate != null "> AND GENERATE_DATE = #{generateDate}</if>
        <if test="productionType != null  and productionType != ''"> AND PRODUCTION_TYPE = #{productionType}</if>
    </select>

    <select id="selectMpSkuProductionTypeById" parameterType="Long" resultMap="MpSkuProductionTypeResult">
        <include refid="selectMpSkuProductionTypeVo"/>
        WHERE ID = #{id}
    </select>

    <select id="selectMpSkuProductionTypeByIds" parameterType="list"
            resultMap="MpSkuProductionTypeResult">

        <include refid="selectMpSkuProductionTypeVo"/>
           WHERE  NVL(IS_DELETE,0) = 0  AND ID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>

    <insert id="insert" parameterType="com.zlt.aps.monthplan.api.domain.entity.MpSkuProductionType">
        INSERT INTO T_MP_SKU_PRODUCTION_TYPE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            <if test="mesMaterialCode != null">MES_MATERIAL_CODE,</if>
            <if test="materialCode != null">MATERIAL_CODE,</if>
            <if test="materialDesc != null">MATERIAL_DESC,</if>
            <if test="generateDate != null">GENERATE_DATE,</if>
            <if test="productionType != null">PRODUCTION_TYPE,</if>
            <if test="remark != null">REMARK,</if>
            <if test="isDelete != null">IS_DELETE,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
         </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            SEQ_KU_PRODUCTION_TYPE.NEXTVAL,
            <if test="mesMaterialCode != null">#{mesMaterialCode},</if>
            <if test="materialCode != null">#{materialCode},</if>
            <if test="materialDesc != null">#{materialDesc},</if>
            <if test="generateDate != null">#{generateDate},</if>
            <if test="productionType != null">#{productionType},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="update" parameterType="com.zlt.aps.monthplan.api.domain.entity.MpSkuProductionType">
        UPDATE T_MP_SKU_PRODUCTION_TYPE
        <trim prefix="SET" suffixOverrides=",">
            <if test="mesMaterialCode != null">MES_MATERIAL_CODE = #{mesMaterialCode},</if>
            <if test="materialCode != null">MATERIAL_CODE = #{materialCode},</if>
            <if test="materialDesc != null">MATERIAL_DESC = #{materialDesc},</if>
            <if test="generateDate != null">GENERATE_DATE = #{generateDate},</if>
            <if test="productionType != null">PRODUCTION_TYPE = #{productionType},</if>
            <if test="remark != null">REMARK = #{remark},</if>
            <if test="isDelete != null">IS_DELETE = #{isDelete},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteMpSkuProductionTypeById" parameterType="Long">
        UPDATE T_MP_SKU_PRODUCTION_TYPE SET IS_DELETE = 1 WHERE ID = #{id}
    </delete>

    <delete id="deleteMpSkuProductionTypeByIds" parameterType="String">
        UPDATE T_MP_SKU_PRODUCTION_TYPE SET IS_DELETE = 1 WHERE ID IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>