<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.demand.mapper.SalesOrderPoolEntityMapper">
	<update id="batchInsert">
		INSERT INTO T_MP_SALES_ORDER_POOL (
			FACTORY_CODE,
			PRODUCT_TYPE,
			ORDER_PRIORITY,
			AREA,
			SAL_CODE,
			SAL_N_CODE,
			NAT_CODE,
			BRAND,
			SAL_CODE_PO,
			BILL_DATE,
			ORI_MATERIAL_CODE,
			MATERIAL_DESC,
			ORD_QTY,
			WEEK_YEAR,
			DYNAMIC_BALANCE,
			UNIFORMITY,
			EUDR,
			DELIVER_GOODS_TYPE,
			SCM_PRIORITY,
			SCM_DETAIL_ID,
			YEAR,
			MONTH,
			REMARK,
			IS_DELETE,
			CREATE_BY,
			CREATE_TIME,
			UPDATE_BY,
			UPDATE_TIME
		) VALUES
        <foreach collection="list" item="saleOrderPool" separator=",">
            (
            #{saleOrderPool.factoryCode,jdbcType=VARCHAR},
            #{saleOrderPool.productType,jdbcType=VARCHAR},
            #{saleOrderPool.orderPriority,jdbcType=VARCHAR},
            #{saleOrderPool.area,jdbcType=VARCHAR},
            #{saleOrderPool.salCode,jdbcType=VARCHAR},
            #{saleOrderPool.salNCode,jdbcType=VARCHAR},
            #{saleOrderPool.natCode,jdbcType=VARCHAR},
            #{saleOrderPool.brand,jdbcType=VARCHAR},
            #{saleOrderPool.salCodePo,jdbcType=VARCHAR},
            #{saleOrderPool.billDate,jdbcType=DATE},
            #{saleOrderPool.oriMaterialCode,jdbcType=VARCHAR},
            #{saleOrderPool.materialDesc,jdbcType=VARCHAR},
            #{saleOrderPool.ordQty,jdbcType=NUMERIC},
            #{saleOrderPool.weekYear,jdbcType=VARCHAR},
            #{saleOrderPool.dynamicBalance,jdbcType=VARCHAR},
            #{saleOrderPool.uniformity,jdbcType=VARCHAR},
            #{saleOrderPool.eudr,jdbcType=VARCHAR},
            #{saleOrderPool.deliverGoodsType,jdbcType=VARCHAR},
            #{saleOrderPool.scmPriority,jdbcType=VARCHAR},
            #{saleOrderPool.scmDetailId,jdbcType=LONG},
            #{saleOrderPool.year,jdbcType=INTEGER},
            #{saleOrderPool.month,jdbcType=INTEGER},
            #{saleOrderPool.remark,jdbcType=VARCHAR},
            0,
            #{saleOrderPool.createBy,jdbcType=DATE},
            #{saleOrderPool.createTime,jdbcType=VARCHAR},
            #{saleOrderPool.updateBy,jdbcType=DATE},
            #{saleOrderPool.updateTime,jdbcType=VARCHAR}
            )
        </foreach>
    </update>
</mapper>