<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.check.mapper.MpCheckItemRecordMapper">
    <resultMap type="com.zlt.aps.monthplan.api.domain.entity.MpCheckItemRecord" id="MpCheckItemRecordResult">
            <result property="id" column="ID"/>
            <result property="checkItem" column="CHECK_ITEM"/>
            <result property="checkContent" column="CHECK_CONTENT"/>
            <result property="createBy" column="CREATE_BY"/>
            <result property="createTime" column="CREATE_TIME"/>
            <result property="updateBy" column="UPDATE_BY"/>
            <result property="updateTime" column="UPDATE_TIME"/>
            <result property="isDelete" column="IS_DELETE"/>
            <result property="remark" column="REMARK"/>
    </resultMap>


    <sql id="selectMpCheckItemRecordVo">
        SELECT ID, CHECK_ITEM, CHECK_CONTENT, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, IS_DELETE, REMARK FROM T_MP_CHECK_ITEM_RECORD
    </sql>

    <select id="selectMpCheckItemRecordList" parameterType="com.zlt.aps.monthplan.api.domain.entity.MpCheckItemRecord" resultMap="MpCheckItemRecordResult">
        <include refid="selectMpCheckItemRecordVo"/>
        WHERE IS_DELETE = 0
        <if test="checkItem != null  and checkItem != ''"> AND CHECK_ITEM = #{checkItem}</if>
        <if test="checkContent != null  and checkContent != ''"> AND CHECK_CONTENT = #{checkContent}</if>
    </select>
</mapper>