<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.xwyy.mapper.XwyyMachineInfoMapper">

    <resultMap type="com.zlt.aps.xwyy.api.domain.entity.XwyyMachineInfo" id="MachineInfoResult">
        <result property="id" column="id"/>
        <result property="machineCode" column="machine_code"/>
        <result property="machineName" column="machine_name"/>
        <result property="quata" column="quata"/>
        <result property="classShift" column="class_shift"/>
        <result property="openMachineClass" column="open_machine_class"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectMachineInfoVo">
        select id, machine_code, machine_name, quata, class_shift, open_machine_class, status, remark, del_flag, create_by, create_time, update_by, update_time
        from t_xwyy_machine_info
    </sql>

    <select id="selectMachineInfoList" parameterType="com.zlt.aps.xwyy.api.domain.entity.XwyyMachineInfo"
            resultMap="MachineInfoResult">
        <include refid="selectMachineInfoVo"/>
        <where>
            del_flag ='0'
            <if test="machineCode != null  and machineCode != ''">
                and INSTR(machine_code, #{machineCode,jdbcType=VARCHAR}) > 0</if>
            <if test="machineName != null  and machineName != ''">and machine_name like concat(concat('%',
                #{machineName}), '%')
            </if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="orderStr == null">
                order by CREATE_TIME desc
            </if>
            <if test="orderStr != null">
                order by ${orderStr}
            </if>
        </where>
    </select>

    <select id="checkMachineCodeUnique" parameterType="com.zlt.aps.xwyy.api.domain.entity.XwyyMachineInfo"
            resultMap="MachineInfoResult">
        <include refid="selectMachineInfoVo"/>
        <where>
            del_flag ='0'
            <if test="id != null  and id != ''">and id != #{id}</if>
            <if test="machineCode != null  and machineCode != ''">and machine_code = #{machineCode}</if>
            <if test="machineName != null  and machineName != ''">and machine_name = #{machineName}</if>
        </where>
    </select>

    <select id="checkMachineNameUnique" parameterType="com.zlt.aps.xwyy.api.domain.entity.XwyyMachineInfo"
            resultMap="MachineInfoResult">
        <include refid="selectMachineInfoVo"/>
        <where>
            del_flag ='0'
            <if test="machineCode != null  and machineCode != ''">and machine_code != #{machineCode}</if>
            <if test="machineName != null  and machineName != ''">and machine_name = #{machineName}</if>
        </where>
    </select>


    <select id="selectMachineInfoById" parameterType="Long" resultMap="MachineInfoResult">
        <include refid="selectMachineInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertMachineInfo" parameterType="com.zlt.aps.xwyy.api.domain.entity.XwyyMachineInfo">
        insert into t_xwyy_machine_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="machineCode != null">machine_code,</if>
            <if test="machineName != null">machine_name,</if>
            <if test="quata != null">quata,</if>
            <if test="classShift != null">class_shift,</if>
            <if test="openMachineClass != null">open_machine_class,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="machineCode != null">#{machineCode},</if>
            <if test="machineName != null">#{machineName},</if>
            <if test="quata != null">#{quata},</if>
            <if test="classShift != null">#{classShift},</if>
            <if test="openMachineClass != null">#{openMachineClass},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateMachineInfo" parameterType="com.zlt.aps.xwyy.api.domain.entity.XwyyMachineInfo">
        update t_xwyy_machine_info
        <trim prefix="SET" suffixOverrides=",">
            machine_name = #{machineName,jdbcType=VARCHAR},
            quata = #{quata,jdbcType=DECIMAL},
            class_shift = #{classShift,jdbcType=VARCHAR},
            open_machine_class = #{openMachineClass,jdbcType=VARCHAR},
            status = #{status,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR},
            <if test="delFlag != null">del_flag = #{delFlag,jdbcType=VARCHAR},</if>
            <if test="createBy != null">create_by = #{createBy,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=DATE},</if>
            <if test="updateBy != null">update_by = #{updateBy,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=DATE},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMachineInfoByIds" parameterType="String">
        UPDATE t_xwyy_machine_info SET del_flag = NULL where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="listMachineInfo" parameterType="com.zlt.aps.xwyy.api.domain.entity.XwyyMachineInfo"
            resultMap="MachineInfoResult">

        <if test="id == 1">
            select
            a.MACHINE_ID as ID,b.MACHINE_CODE,b.MACHINE_NAME
            from T_XWYY_SPECIFY_MACHINE a
            inner JOIN T_XWYY_MACHINE_INFO b
            on a.MACHINE_ID=b.ID and b.STATUS = '0'
            where a.DEL_FLAG='0'
            and a.JOB_TYPE='0'
            and a.BIG_ROLL_CODE= #{machineCode,jdbcType=VARCHAR}
        </if>

        <if test="id == 2">
            select a.MACHINE_ID as ID,b.MACHINE_CODE,b.MACHINE_NAME
            from T_XWYY_MACHINE_ROLL_MAPPING a
            inner JOIN T_XWYY_MACHINE_INFO b
            on a.MACHINE_ID=b.ID and b.STATUS = '0'
            where a.DEL_FLAG='0'
            and a.BIG_ROLL_CODE= #{machineCode,jdbcType=VARCHAR}
            and a.MACHINE_ID not in (
            select MACHINE_ID from T_XWYY_SPECIFY_MACHINE where DEL_FLAG='0' and JOB_TYPE='0' and
            BIG_ROLL_CODE=#{machineCode,jdbcType=VARCHAR}
            )
        </if>

        <if test="id == 3">
            select a.ID,a.MACHINE_CODE,a.MACHINE_NAME from t_xwyy_machine_info a
            where a.DEL_FLAG='0' and a.STATUS='0'
            and a.ID not in (
            select MACHINE_ID from T_XWYY_SPECIFY_MACHINE where DEL_FLAG='0' and JOB_TYPE='0' and
            BIG_ROLL_CODE=#{machineCode,jdbcType=VARCHAR}
            union
            select MACHINE_ID from T_XWYY_MACHINE_ROLL_MAPPING where DEL_FLAG='0' and
            BIG_ROLL_CODE=#{machineCode,jdbcType=VARCHAR}
            )
        </if>

    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO t_xwyy_machine_info (
        machine_code, machine_name, quata, class_shift, open_machine_class, status, create_by, create_time, remark, del_flag
        )
        VALUES
        <foreach collection="list" item="MACHINE" separator=",">
            (
            #{MACHINE.machineCode,jdbcType=VARCHAR},
            #{MACHINE.machineName,jdbcType=VARCHAR},
            #{MACHINE.quata,jdbcType=DECIMAL},
            #{MACHINE.classShift,jdbcType=VARCHAR},
            #{MACHINE.openMachineClass,jdbcType=VARCHAR},
            #{MACHINE.status,jdbcType=VARCHAR},
            #{MACHINE.createBy,jdbcType=VARCHAR},
            NOW(),
            #{MACHINE.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        machine_name = VALUES(machine_name),
        quata = VALUES(quata),
        class_shift = VALUES(class_shift),
        open_machine_class = VALUES(open_machine_class),
        status = VALUES(status),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>

</mapper>