<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.xwyy.mapper.XwyyBigRollOriginalBrandMapper">

    <resultMap type="com.zlt.aps.xwyy.api.domain.entity.XwyyBigRollOriginalBrand" id="XwyyBigRollOriginalBrandResult">
        <result property="id" column="id"/>
        <result property="bigRollCode" column="big_roll_code"/>
        <result property="brand" column="brand"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectXwyyBigRollOriginalBrandVo">
        select id, big_roll_code, brand, del_flag, create_by, create_time, update_by, update_time, remark from t_xwyy_big_roll_original_brand
    </sql>

    <select id="selectXwyyBigRollOriginalBrandList"
            parameterType="com.zlt.aps.xwyy.api.domain.entity.XwyyBigRollOriginalBrand"
            resultMap="XwyyBigRollOriginalBrandResult">
        <include refid="selectXwyyBigRollOriginalBrandVo"/>
        where del_flag = '0'
        <if test="bigRollCode != null  and bigRollCode != ''">and INSTR(big_roll_code, #{bigRollCode}) > 0</if>
        <if test="brand != null  and brand != ''">and INSTR(brand, #{brand}) > 0</if>
        <if test="orderStr == null">order by CREATE_TIME desc</if>
        <if test="orderStr != null">order by ${orderStr}</if>
    </select>

    <select id="selectXwyyBigRollOriginalBrandById" parameterType="Long" resultMap="XwyyBigRollOriginalBrandResult">
        <include refid="selectXwyyBigRollOriginalBrandVo"/>
        where id = #{id}
    </select>

    <insert id="insertXwyyBigRollOriginalBrand"
            parameterType="com.zlt.aps.xwyy.api.domain.entity.XwyyBigRollOriginalBrand">
        insert into t_xwyy_big_roll_original_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="bigRollCode != null">big_roll_code,</if>
            <if test="brand != null">brand,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="bigRollCode != null">#{bigRollCode},</if>
            <if test="brand != null">#{brand},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateXwyyBigRollOriginalBrand"
            parameterType="com.zlt.aps.xwyy.api.domain.entity.XwyyBigRollOriginalBrand">
        update t_xwyy_big_roll_original_brand
        <trim prefix="SET" suffixOverrides=",">
            <if test="bigRollCode != null">big_roll_code = #{bigRollCode},</if>
            <if test="brand != null">brand = #{brand},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXwyyBigRollOriginalBrandById" parameterType="Long">
        update t_xwyy_big_roll_original_brand
        set del_flag = NULL
        where id = #{id}
    </delete>

    <delete id="deleteXwyyBigRollOriginalBrandByIds" parameterType="String">
        update t_xwyy_big_roll_original_brand set del_flag = NULL where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO t_xwyy_big_roll_original_brand (
        big_roll_code, brand, del_flag, create_by, create_time, remark
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.bigRollCode,jdbcType=VARCHAR},
            #{item.brand,jdbcType=VARCHAR},
            '0',
            #{item.createBy,jdbcType=VARCHAR},
            NOW(),
            #{item.remark,jdbcType=VARCHAR}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>
</mapper>