<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.xwyy.mapper.XwyyBigRollRemindMapper">

    <resultMap type="com.zlt.aps.xwyy.api.domain.entity.XwyyBigRollRemind" id="XwyyBigRollRemindResult">
        <result property="id" column="id"/>
        <result property="bigRollCode" column="big_roll_code"/>
        <result property="remindFlag" column="remind_flag"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectXwyyBigRollRemindVo">
        select id, big_roll_code, remind_flag, del_flag, create_by, create_time, update_by, update_time, remark from t_xwyy_big_roll_remind
    </sql>

    <select id="selectXwyyBigRollRemindList" parameterType="com.zlt.aps.xwyy.api.domain.entity.XwyyBigRollRemind"
            resultMap="XwyyBigRollRemindResult">
        <include refid="selectXwyyBigRollRemindVo"/>
        where del_flag = '0'
        <if test="bigRollCode != null  and bigRollCode != ''">and INSTR(big_roll_code, #{bigRollCode}) > 0</if>
        <if test="remindFlag != null  and remindFlag != ''">and remind_flag = #{remindFlag}</if>
        <if test="orderStr == null">order by CREATE_TIME desc</if>
        <if test="orderStr != null">order by ${orderStr}</if>
    </select>

    <select id="selectXwyyBigRollRemindById" parameterType="Long" resultMap="XwyyBigRollRemindResult">
        <include refid="selectXwyyBigRollRemindVo"/>
        where id = #{id}
    </select>

    <insert id="insertXwyyBigRollRemind" parameterType="com.zlt.aps.xwyy.api.domain.entity.XwyyBigRollRemind">
        insert into t_xwyy_big_roll_remind
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="bigRollCode != null">big_roll_code,</if>
            <if test="remindFlag != null">remind_flag,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="bigRollCode != null">#{bigRollCode},</if>
            <if test="remindFlag != null">#{remindFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateXwyyBigRollRemind" parameterType="com.zlt.aps.xwyy.api.domain.entity.XwyyBigRollRemind">
        update t_xwyy_big_roll_remind
        <trim prefix="SET" suffixOverrides=",">
            <if test="bigRollCode != null">big_roll_code = #{bigRollCode},</if>
            <if test="remindFlag != null">remind_flag = #{remindFlag},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXwyyBigRollRemindById" parameterType="Long">
        update t_xwyy_big_roll_remind
        set del_flag = NULL
        where id = #{id}
    </delete>

    <delete id="deleteXwyyBigRollRemindByIds" parameterType="String">
        update t_xwyy_big_roll_remind set del_flag = NULL where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO t_xwyy_big_roll_remind (
        big_roll_code, remind_flag, del_flag, create_by, create_time, remark
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.bigRollCode,jdbcType=VARCHAR},
            #{item.remindFlag,jdbcType=VARCHAR},
            '0',
            #{item.createBy,jdbcType=VARCHAR},
            NOW(),
            #{item.remark,jdbcType=VARCHAR}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        remind_flag = VALUES(remind_flag),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>

    <select id="checkXwyyBigRollRemindUnique" parameterType="com.zlt.aps.xwyy.api.domain.entity.XwyyBigRollRemind"
            resultType="int">
        select count(id) from t_xwyy_big_roll_remind
        where del_flag = 0
        <if test="bigRollCode != null">and big_roll_code = #{bigRollCode}</if>
        <if test="id != null">and id != #{id}</if>
    </select>
</mapper>