<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.xwyy.mapper.XwyyBigRollColorMapper">

    <!-- 通用查询映射结果 -->
    <select id="listXwyyBigRollColor" parameterType="com.zlt.aps.xwyy.api.domain.dto.XwyyBigRollColorDto"
            resultType="com.zlt.aps.xwyy.api.domain.dto.XwyyBigRollColorDto">
        select *
        from T_XWYY_BIG_ROLL_COLOR
        where DEL_FLAG = 0
        <if test="bigRollCode != null and bigRollCode != ''">
            and INSTR(BIG_ROLL_CODE, #{bigRollCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="colorCode != null and colorCode != ''">
            and INSTR(COLOR_CODE, #{colorCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="colorType != null and colorType != ''">
            and COLOR_TYPE = #{colorType}
        </if>
        <if test="orderStr == null">
            order by CREATE_TIME desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <update id="mergeSql" parameterType="list">
        merge into T_XWYY_BIG_ROLL_COLOR a USING (
        <foreach collection="list" item="Cd90BigRoll" separator=" union ">
            select
            #{Cd90BigRoll.bigRollCode,jdbcType=VARCHAR} BIG_ROLL_CODE,
            #{Cd90BigRoll.colorType,jdbcType=VARCHAR} COLOR_TYPE,
            #{Cd90BigRoll.colorCode,jdbcType=VARCHAR} COLOR_CODE,
            #{Cd90BigRoll.status,jdbcType=VARCHAR} status,

            #{Cd90BigRoll.createBy,jdbcType=VARCHAR} create_by,
            #{Cd90BigRoll.createTime,jdbcType=DATE} create_time,
            #{Cd90BigRoll.updateBy,jdbcType=VARCHAR} update_by,
            #{Cd90BigRoll.updateTime,jdbcType=DATE} update_time,
            #{Cd90BigRoll.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.BIG_ROLL_CODE = b.BIG_ROLL_CODE
        AND a.del_flag = '0'
        )WHEN MATCHED THEN
        UPDATE SET
        a.COLOR_TYPE   = b.COLOR_TYPE,
        a.COLOR_CODE   = b.COLOR_CODE,
        a.status   = b.status,

        a.update_by   = b.create_by,
        a.update_time = sysdate,
        a.remark      = b.remark
        WHEN NOT MATCHED THEN
        INSERT (
        a.id          ,

        a.BIG_ROLL_CODE  ,
        a.COLOR_TYPE,
        a.COLOR_CODE,
        a.status,

        a.create_by   ,
        a.create_time ,
        a.remark,
        a.del_flag
        ) values(
        SEQ_PUBLIC.NEXTVAL,

        b.BIG_ROLL_CODE  ,
        b.COLOR_TYPE,
        b.COLOR_CODE,
        b.status,

        b.create_by,
        sysdate,
        b.remark,
        '0'
        )
    </update>

</mapper>
