<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.xwyy.mapper.XwyyOriginalLineSpecMapper">

    <select id="listOriginalLineSpec" parameterType="com.zlt.aps.xwyy.api.domain.entity.XwyyOriginalLineSpec"
            resultType="com.zlt.aps.xwyy.api.domain.entity.XwyyOriginalLineSpec">
        select *
        from t_xwyy_original_line_spec
        where DEL_FLAG = 0
        <if test="originalLineCode != null and originalLineCode != ''">
            and INSTR(ORIGINAL_LINE_CODE, #{originalLineCode, jdbcType=VARCHAR}) > 0
        </if>
        <if test="originalLineName != null and originalLineName != ''">
            and INSTR(ORIGINAL_LINE_NAME, #{originalLineName, jdbcType=VARCHAR}) > 0
        </if>
        <if test="queryCode != null and queryCode != ''">
            and ORIGINAL_LINE_CODE = #{queryCode,jdbcType=VARCHAR}
        </if>
        <if test="orderStr == null">
            order by CREATE_TIME desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>

    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO t_xwyy_original_line_spec (
        ORIGINAL_LINE_CODE, ORIGINAL_LINE_NAME, ORIGINAL_LINE_LENGTH, create_by, create_time, remark, del_flag
        )
        VALUES
        <foreach collection="list" item="OriginalLineSpec" separator=",">
            (
            #{OriginalLineSpec.originalLineCode,jdbcType=VARCHAR},
            #{OriginalLineSpec.originalLineName,jdbcType=VARCHAR},
            #{OriginalLineSpec.originalLineLength,jdbcType=DOUBLE},
            #{OriginalLineSpec.createBy,jdbcType=VARCHAR},
            NOW(),
            #{OriginalLineSpec.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        ORIGINAL_LINE_LENGTH = VALUES(ORIGINAL_LINE_LENGTH),
        ORIGINAL_LINE_NAME = VALUES(ORIGINAL_LINE_NAME),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>
</mapper>
