<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.xwyy.mapper.XwyyBigRollColorMapper">

    <!-- 通用查询映射结果 -->
    <select id="listXwyyBigRollColor" parameterType="com.zlt.aps.xwyy.api.domain.dto.XwyyBigRollColorDto"
            resultType="com.zlt.aps.xwyy.api.domain.dto.XwyyBigRollColorDto">
        select *
        from T_XWYY_BIG_ROLL_COLOR
        where DEL_FLAG = 0
        <if test="bigRollCode != null and bigRollCode != ''">
            and INSTR(BIG_ROLL_CODE, #{bigRollCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="colorCode != null and colorCode != ''">
            and INSTR(COLOR_CODE, #{colorCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="colorType != null and colorType != ''">
            and COLOR_TYPE = #{colorType}
        </if>
        <if test="orderStr == null">
            order by CREATE_TIME desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO T_XWYY_BIG_ROLL_COLOR (
        BIG_ROLL_CODE, COLOR_TYPE, COLOR_CODE, status, create_by, create_time, update_by, update_time, remark, del_flag
        )
        VALUES
        <foreach collection="list" item="Cd90BigRoll" separator=",">
            (
            #{Cd90BigRoll.bigRollCode,jdbcType=VARCHAR},
            #{Cd90BigRoll.colorType,jdbcType=VARCHAR},
            #{Cd90BigRoll.colorCode,jdbcType=VARCHAR},
            #{Cd90BigRoll.status,jdbcType=VARCHAR},
            #{Cd90BigRoll.createBy,jdbcType=VARCHAR},
            #{Cd90BigRoll.createTime,jdbcType=DATE},
            #{Cd90BigRoll.updateBy,jdbcType=VARCHAR},
            NOW(),
            #{Cd90BigRoll.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        COLOR_TYPE = VALUES(COLOR_TYPE),
        COLOR_CODE = VALUES(COLOR_CODE),
        status = VALUES(status),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>

</mapper>
