<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.xwyy.mapper.XwyyLossSettingMapper">

    <resultMap type="com.zlt.aps.xwyy.api.domain.dto.XwyyLossSettingDto" id="XwyyLossSettingResult">
        <result property="id" column="id"/>
        <result property="bigRollCode" column="big_roll_code"/>
        <result property="machineId" column="machine_id"/>
        <result property="machineName" column="machine_name"/>
        <result property="lossRate" column="loss_rate"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectXwyyLossSettingVo">
        select id, big_roll_code, machine_id, loss_rate, create_by, create_time, update_by, update_time, del_flag, remark from t_xwyy_loss_setting
    </sql>

    <select id="selectXwyyLossSettingList" parameterType="com.zlt.aps.xwyy.entity.XwyyLossSetting"
            resultMap="XwyyLossSettingResult">
        select * from (
        select a.*,b.machine_name
        from t_xwyy_loss_setting a
        left join T_XWYY_MACHINE_INFO b
        on a.machine_id = b.id and b.del_flag = '0'
        where a.del_flag = '0'
        <if test="bigRollCode != null  and bigRollCode != ''">
            and INSTR(big_roll_code, #{bigRollCode,jdbcType=VARCHAR}) > 0</if>
        <if test="machineId != null ">and a.machine_id = #{machineId}</if>
        <if test="orderStr == null">
            order by a.CREATE_TIME desc
        </if>
        ) t
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="selectXwyyLossSettingById" parameterType="Long" resultMap="XwyyLossSettingResult">
        <include refid="selectXwyyLossSettingVo"/>
        where id = #{id}
    </select>

    <select id="checkXwyyLossSettingUnique" parameterType="com.zlt.aps.xwyy.entity.XwyyLossSetting"
            resultType="int">
        select count(1)
        from t_xwyy_loss_setting
        where del_flag = '0'
        <if test="bigRollCode != null  and bigRollCode != ''">and big_roll_code = #{bigRollCode}</if>
        <if test="bigRollCode == null  or bigRollCode == ''">and big_roll_code is null</if>
        <if test="machineId != null  and machineId != ''">and machine_id = #{machineId}</if>
        <if test="machineId == null  or machineId == ''">and machine_id is null</if>
        <if test="id != null and id != ''">and id != #{id}</if>
    </select>

    <insert id="insertXwyyLossSetting" parameterType="com.zlt.aps.xwyy.entity.XwyyLossSetting">
        insert into t_xwyy_loss_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="bigRollCode != null and bigRollCode != ''">big_roll_code,</if>
            <if test="machineId != null and machineId != ''">machine_id,</if>
            <if test="lossRate != null">loss_rate,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="bigRollCode != null and bigRollCode != ''">#{bigRollCode},</if>
            <if test="machineId != null and machineId != ''">#{machineId},</if>
            <if test="lossRate != null">#{lossRate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateXwyyLossSetting" parameterType="com.zlt.aps.xwyy.entity.XwyyLossSetting">
        update t_xwyy_loss_setting
        <trim prefix="SET" suffixOverrides=",">
            <if test="bigRollCode != null and bigRollCode != ''">big_roll_code = #{bigRollCode},</if>
            <if test="bigRollCode == null or bigRollCode == ''">big_roll_code = NULL,</if>
            machine_id = #{machineId,jdbcType=VARCHAR},
            <if test="lossRate != null">loss_rate = #{lossRate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXwyyLossSettingById" parameterType="Long">
        update t_xwyy_loss_setting
        set del_flag = NULL
        where id = #{id}
    </delete>

    <delete id="deleteXwyyLossSettingByIds" parameterType="String">
        update t_xwyy_loss_setting set del_flag = NULL where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO t_xwyy_loss_setting (
        big_roll_code, machine_id, loss_rate, create_by, create_time, remark, del_flag
        )
        VALUES
        <foreach collection="list" item="LossSetting" separator=",">
            (
            #{LossSetting.bigRollCode,jdbcType=VARCHAR},
            #{LossSetting.machineId,jdbcType=DECIMAL},
            #{LossSetting.lossRate,jdbcType=DECIMAL},
            #{LossSetting.createBy,jdbcType=VARCHAR},
            NOW(),
            #{LossSetting.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        loss_rate = VALUES(loss_rate),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>


    <update id="deleteAll">
        update t_xwyy_loss_setting set del_flag = NULL where del_flag = '0'
    </update>
</mapper>