<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.xwyy.mapper.XwyyMachineRollMappingMapper">

    <!-- 通用查询映射结果 -->
    <select id="listXwyyMachineRollMapping" parameterType="com.zlt.aps.xwyy.api.domain.dto.XwyyMachineRollMappingDto"
            resultType="com.zlt.aps.xwyy.api.domain.dto.XwyyMachineRollMappingDto">
        select * from (
        select sm.*,m.machine_code, m.machine_name
        from T_XWYY_MACHINE_ROLL_MAPPING sm
        left join T_XWYY_MACHINE_INFO m on sm.machine_id = m.id
        where sm.DEL_FLAG = 0 and m.DEL_FLAG = 0
        <if test="bigRollCode != null and bigRollCode != ''">
            and INSTR(BIG_ROLL_CODE, #{bigRollCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="machineId != null and machineId != ''">
            and MACHINE_ID = #{machineId}
        </if>
        <if test="orderStr == null">
            order by sm.CREATE_TIME desc
        </if>
        ) t
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO T_XWYY_MACHINE_ROLL_MAPPING (
        BIG_ROLL_CODE, MACHINE_ID, create_by, create_time, remark, del_flag
        )
        VALUES
        <foreach collection="list" item="MACHINE" separator=",">
            (
            #{MACHINE.bigRollCode,jdbcType=VARCHAR},
            #{MACHINE.machineId,jdbcType=VARCHAR},
            #{MACHINE.createBy,jdbcType=VARCHAR},
            NOW(),
            #{MACHINE.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>

</mapper>
