<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.engine.mapper.CxEngineStockMapper">

    <resultMap type="com.zlt.aps.cx.engine.domain.CxEngineStock" id="CxEngineStockResult">
                    <result property="id"    column="id"    />
                    <result property="stockDate"    column="stock_date"    />
                    <result property="embryoCode"    column="embryo_code"    />
                    <result property="bomDataVersion"    column="bom_data_version"    />
                    <result property="stockNum"    column="stock_num"    />
                    <result property="modifyNum"    column="modify_num"    />
                    <result property="badNum"    column="bad_num"    />
                    <result property="stockRealNum"    column="stock_real_num"    />
                    <result property="createBy"    column="create_by"    />
                    <result property="createTime"    column="create_time"    />
                    <result property="updateBy"    column="update_by"    />
                    <result property="updateTime"    column="update_time"    />
                    <result property="delFlag"    column="del_flag"    />
                    <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="com.zlt.aps.cx.engine.domain.CxEngineMonthStock" id="CxMonthStockResult">
        <result property="id" column="id"/>
        <result property="stockMonth" column="stock_month"/>
        <result property="embryoCode" column="embryo_code"/>
        <result property="bomDataVersion"    column="bom_data_version"    />
        <result property="stockNum" column="stock_num"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectCxEngineMonthStockVo">
        select id, stock_month, embryo_code,bom_data_version, stock_num, remark, del_flag, create_by, create_time, update_by, update_time
        from t_cx_month_stock
    </sql>

    <select id="selectCxEngineMonthStockList" parameterType="com.zlt.aps.cx.engine.domain.CxEngineMonthStock"
            resultMap="CxMonthStockResult">
        <include refid="selectCxEngineMonthStockVo"/>
        where del_flag = '0'
        <if test="embryoCode != null  and embryoCode != ''">and embryo_code = #{embryoCode}</if>
        <if test="stockMonthStr != null ">and to_char(stock_month,'yyyyMM') = #{stockMonthStr}</if>
    </select>
    
    <sql id="selectCxEngineStockVo">
        SELECT
            id,
            stock_date,
            embryo_code,
            bom_data_version,
            nvl(stock_num,0) stock_num,
            nvl(modify_num,0) modify_num,
            nvl(bad_num,0) bad_num,
            nvl(stock_num,0)+nvl(modify_num,0)- nvl(bad_num,0) stock_real_num,
            create_by,
            create_time,
            update_by,
            update_time,
            del_flag,
            remark
        FROM
            t_cx_stock
    </sql>

    <select id="selectCxEngineStockList" parameterType="com.zlt.aps.cx.engine.domain.CxEngineStock" resultMap="CxEngineStockResult">
        <include refid="selectCxEngineStockVo"/>
        <where>
            del_flag='0'
            <if test="stockDate != null "> and stock_date = #{stockDate}</if>
            <if test="stockDateStr != null and stockDateStr!='' "> and stock_date = to_date(#{stockDateStr},'yyyyMMdd')</if>
            <if test="embryoCode != null  and embryoCode != ''"> and embryo_code = #{embryoCode}</if>
            <if test="bomDataVersion != null  and bomDataVersion != ''"> and bom_data_version = #{bomDataVersion}</if>
            <if test="stockNum != null "> and stock_num = #{stockNum}</if>
            <if test="modifyNum != null "> and modify_num = #{modifyNum}</if>
            <if test="badNum != null "> and bad_num = #{badNum}</if>
        </where>
    </select>

    <select id="selectCxEngineStockById" parameterType="Long" resultMap="CxEngineStockResult">
                    <include refid="selectCxEngineStockVo"/>
            where id = #{id}
            </select>

    <insert id="insertCxEngineStock" parameterType="com.zlt.aps.cx.engine.domain.CxEngineStock">
                    <selectKey keyProperty="id" resultType="long" order="BEFORE">
                SELECT seq_t_cx_stock.NEXTVAL as id FROM DUAL
            </selectKey>
                insert into t_cx_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
                            <if test="id != null">id,</if>
                            <if test="stockDate != null">stock_date,</if>
                            <if test="embryoCode != null">embryo_code,</if>
                            <if test="bomDataVersion != null">bom_data_version,</if>
                            <if test="stockNum != null">stock_num,</if>
                            <if test="modifyNum != null">modify_num,</if>
                            <if test="badNum != null">bad_num,</if>
                            <if test="createBy != null">create_by,</if>
                            <if test="createTime != null">create_time,</if>
                            <if test="updateBy != null">update_by,</if>
                            <if test="updateTime != null">update_time,</if>
                            <if test="delFlag != null">del_flag,</if>
                            <if test="remark != null">remark,</if>
                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                            <if test="id != null">#{id},</if>
                            <if test="stockDate != null">#{stockDate},</if>
                            <if test="embryoCode != null">#{embryoCode},</if>
                            <if test="bomDataVersion != null">#{bomDataVersion},</if>
                            <if test="stockNum != null">#{stockNum},</if>
                            <if test="modifyNum != null">#{modifyNum},</if>
                            <if test="badNum != null">#{badNum},</if>
                            <if test="createBy != null">#{createBy},</if>
                            <if test="createTime != null">#{createTime},</if>
                            <if test="updateBy != null">#{updateBy},</if>
                            <if test="updateTime != null">#{updateTime},</if>
                            <if test="delFlag != null">#{delFlag},</if>
                            <if test="remark != null">#{remark},</if>
                    </trim>
    </insert>

    <update id="updateCxEngineStock" parameterType="com.zlt.aps.cx.engine.domain.CxEngineStock">
        update t_cx_stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="stockDate != null">stock_date = #{stockDate},</if>
            <if test="embryoCode != null">embryo_code = #{embryoCode},</if>
            <if test="bomDataVersion != null">bom_data_version = #{bomDataVersion},</if>
            <if test="stockNum != null">stock_num = #{stockNum},</if>
            <if test="modifyNum != null">modify_num = #{modifyNum},</if>
            <if test="badNum != null">bad_num = #{badNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCxEngineStockById" parameterType="Long">
        update t_cx_stock set del_flag='1' where id = #{id}
    </delete>

    <delete id="deleteCxEngineStockByIds" parameterType="String">
        update t_cx_stock set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    </mapper>