<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.engine.mapper.CxEngineLastDayScheduleMapper">

    <resultMap type="com.zlt.aps.cx.engine.domain.CxMiddleNightFinishQty" id="finishResult">
        <result property="embryoCode"    column="embryo_code"    />
        <result property="bomDataVersion"    column="bom_data_version"    />
        <result property="middleNightQty"    column="middle_night_qty" />
        <result property="cxMachineCode"    column="cx_machine_code" />
    </resultMap>

    <sql id="selectFinishVo">
        select cx_machine_code,embryo_code,bom_data_version,sum(nvl(class1_finish_qty,0))+ sum(nvl(class2_finish_qty,0)) middle_night_qty from t_mid_night_shift_finish t
    </sql>

    <select id="listCxFinish" parameterType="com.zlt.aps.cx.engine.domain.CxMiddleNightFinishQty" resultType="com.zlt.aps.cx.engine.domain.CxMiddleNightFinishQty">
        <include refid="selectFinishVo"/>
       <where>
           t.del_flag='0'
           <if test="scheduleDateStr != null  and scheduleDateStr != ''">and t.finish_date = to_date(#{scheduleDateStr},'yyyyMMdd')</if>
       </where>
        group by cx_machine_code,embryo_code,bom_data_version
    </select>
</mapper>