<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.engine.mapper.CxEngineProductShiftLimitMapper">

    <!--Joran 2022-01-08 胎胚类型库存限制设定结果集start -->
    <resultMap type="com.zlt.aps.cx.engine.domain.CxEngineProductStockLimit" id="CxEngineProductStockLimitResult">
                    <result property="id" column="id"/>
                    <result property="limitName" column="limit_name"/>
                    <result property="type" column="type"/>
                    <result property="limitType" column="limit_type"/>
                    <result property="stockNum" column="stock_num"/>
                    <result property="shiftParams" column="shift_params"/>
                    <result property="remark" column="remark"/>
                    <result property="delFlag" column="del_flag"/>
                    <result property="createBy" column="create_by"/>
                    <result property="createTime" column="create_time"/>
                    <result property="updateBy" column="update_by"/>
                    <result property="updateTime" column="update_time"/>
     </resultMap>
    <!--Joran 2022-01-08 胎胚类型库存限制设定结果集end -->

    <!--Joran 2022-01-08 同寸口一般平均班次限制设定结果集start -->
    <resultMap type="com.zlt.aps.cx.engine.domain.CxEngineProductDimensionLimit" id="CxEngineProductDimensionLimitResult">
        <result property="id" column="id"/>
        <result property="specDimension" column="spec_dimension"/>
        <result property="minAvgShift" column="min_avg_shift"/>
        <result property="maxAvgShift" column="max_avg_shift"/>
        <result property="shiftParams" column="shift_params"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <!--Joran 2022-01-08 同寸口一般平均班次限制设定结果集end -->

    <!--Joran 2022-01-08 同机台一班平均班次限制设定结果集start -->
    <resultMap type="com.zlt.aps.cx.engine.domain.CxEngineProductMachineLimit" id="CxEngineProductMachineLimitResult">
        <result property="id" column="id"/>
        <result property="specDimension" column="spec_dimension"/>
        <result property="minAvgShift" column="min_avg_shift"/>
        <result property="maxAvgShift" column="max_avg_shift"/>
        <result property="shiftParams" column="shift_params"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <!--Joran 2022-01-08 同机台一班平均班次限制设定结果集end -->

    <sql id="selectCxProductShiftStockLimitListVo">
          select t.*,t.rowid from T_CX_PRODUCT_STOCK_LIMIT t
    </sql>

    <select id="selectCxProductShiftStockLimitList" parameterType="com.zlt.aps.cx.engine.domain.CxEngineProductStockLimit" resultMap="CxEngineProductStockLimitResult">
        <include refid="selectCxProductShiftStockLimitListVo"/>
        <where>
            t.del_flag = '0'
            <if test="type!=null and type!=''">
                and t.type =#{type}
            </if>
            order by t.type asc,t.limit_type asc
        </where>
  </select>

    <sql id="selectCxEngineProductDimensionLimitListVo">
          select t.*,t.rowid from T_CX_PRODUCT_DIMENSION_LIMIT t
    </sql>

    <select id="selectCxEngineProductDimensionLimitList" parameterType="com.zlt.aps.cx.engine.domain.CxEngineProductDimensionLimit" resultMap="CxEngineProductDimensionLimitResult">
        <include refid="selectCxEngineProductDimensionLimitListVo"/>
        <where>
            t.del_flag = '0'
        </where>
    </select>

    <sql id="selectCxEngineProductMachineLimitListVo">
          select t.*,t.rowid from T_CX_PRODUCT_MACHINE_LIMIT t
    </sql>

    <select id="selectCxEngineProductMachineLimitList" parameterType="com.zlt.aps.cx.engine.domain.CxEngineProductMachineLimit" resultMap="CxEngineProductMachineLimitResult">
        <include refid="selectCxEngineProductMachineLimitListVo"/>
        <where>
            t.del_flag = '0'
        </where>
    </select>


</mapper>