<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.engine.mapper.CxEngineSuppleBatchRecordMapper">

    <resultMap type="com.zlt.aps.cx.engine.domain.CxEngineSuppleBatchRecord" id="CxEngineSuppleBatchRecordResult">
                    <result property="id" column="id"/>
                    <result property="suppleBatchNo" column="supple_batch_no"/>
                    <result property="status" column="status"/>
                    <result property="suppleDate" column="supple_date"/>
                    <result property="createBy" column="create_by"/>
                    <result property="createTime" column="create_time"/>
                    <result property="updateBy" column="update_by"/>
                    <result property="updateTime" column="update_time"/>
                    <result property="delFlag" column="del_flag"/>
                    <result property="remark" column="remark"/>
    </resultMap>
    
    <sql id="selectCxEngineSuppleBatchRecordVo">
        select id, supple_batch_no, status, supple_date, create_by, create_time, update_by, update_time, del_flag, remark from t_cx_supple_batch_record
    </sql>

    <select id="selectCxEngineSuppleBatchRecordList" parameterType="com.zlt.aps.cx.engine.domain.CxEngineSuppleBatchRecord" resultMap="CxEngineSuppleBatchRecordResult">
        <include refid="selectCxEngineSuppleBatchRecordVo"/>
        <where>
            del_flag = '0'
            <if test="status!=null and status !=''">
                and status =#{status}
            </if>
            <if test="suppleBatchNo != null  and suppleBatchNo != ''"> and supple_batch_no = #{suppleBatchNo}</if>
            <if test="suppleDate != null "> and supple_date = #{suppleDate}</if>
            <if test="suppleDateStr != null  and suppleDateStr != ''"> and supple_date = to_date(#{suppleDateStr},'yyyyMMdd')</if>
        </where>
     </select>

    <select id="selectCxEngineSuppleBatchRecordById" parameterType="Long" resultMap="CxEngineSuppleBatchRecordResult">
                    <include refid="selectCxEngineSuppleBatchRecordVo"/>
            where id = #{id}
    </select>

    <insert id="insertCxEngineSuppleBatchRecord" parameterType="com.zlt.aps.cx.engine.domain.CxEngineSuppleBatchRecord">
                    <selectKey keyProperty="id" resultType="long" order="BEFORE">
                SELECT seq_cx_supple_batch_record.NEXTVAL as id FROM DUAL
            </selectKey>
                insert into t_cx_supple_batch_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
                            <if test="id != null">id,</if>
                            <if test="suppleBatchNo != null">supple_batch_no,</if>
                            <if test="status != null">status,</if>
                            <if test="suppleDate != null">supple_date,</if>
                            <if test="createBy != null">create_by,</if>
                            <if test="createTime != null">create_time,</if>
                            <if test="updateBy != null">update_by,</if>
                            <if test="updateTime != null">update_time,</if>
                            <if test="delFlag != null">del_flag,</if>
                            <if test="remark != null">remark,</if>
                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                            <if test="id != null">#{id},</if>
                            <if test="suppleBatchNo != null">#{suppleBatchNo},</if>
                            <if test="status != null">#{status},</if>
                            <if test="suppleDate != null">#{suppleDate},</if>
                            <if test="createBy != null">#{createBy},</if>
                            <if test="createTime != null">#{createTime},</if>
                            <if test="updateBy != null">#{updateBy},</if>
                            <if test="updateTime != null">#{updateTime},</if>
                            <if test="delFlag != null">#{delFlag},</if>
                            <if test="remark != null">#{remark},</if>
                    </trim>
    </insert>

    <!--更新批次状态为已确认-->
    <update id="updateCxEngineSuppleBatchRecord" parameterType="com.zlt.aps.cx.engine.domain.CxEngineSuppleBatchRecord">
        update t_cx_supple_batch_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
       <where>
           del_flag='0' and status='0'
           <if test="suppleDateStr != null  and suppleDateStr != ''"> and supple_date = to_date(#{suppleDateStr},'yyyyMMdd')</if>
       </where>
    </update>

    <!--Joran 2022-03-03 根据增补计划日期进行增补批次删除 start -->
    <delete id="deleteCxEngineSuppleBatchRecordBySuppleDate" parameterType="String">
        update t_cx_supple_batch_record set del_flag='1',update_time = sysdate
        <where>
            del_flag='0'
            <if test="suppleDate != null  and suppleDate != ''">
                AND supple_date = to_date(#{suppleDate},'yyyyMMdd')
            </if>
        </where>
    </delete>
    <!--Joran 2022-03-03 根据增补计划日期进行增补批次删除 end -->


</mapper>