<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.engine.mapper.CxPlanProductStatusMapper">

    <resultMap type="com.zlt.aps.cx.engine.domain.CxPlanProductStatus" id="CxPlanProductStatusResult">
                    <result property="id"    column="id"    />
                    <result property="monthPlanApsVersion"    column="month_plan_aps_version"    />
                    <result property="monthPlanIds"    column="month_plan_ids"    />
                    <result property="sapCode"    column="sap_code"    />
                    <result property="embryoCode"    column="embryo_code"    />
                    <result property="specDimension"    column="spec_dimension"    />
                    <result property="monthPlanTotalQty"    column="month_plan_total_qty"    />
                    <result property="beginDate"    column="begin_date"    />
                    <result property="endDate"    column="end_date"    />
                    <result property="productStatus"    column="product_status"    />
                    <result property="markUnProduct"    column="mark_un_product"    />
                    <result property="productDetail"    column="product_detail"    />
                    <result property="createBy"    column="create_by"    />
                    <result property="createTime"    column="create_time"    />
                    <result property="updateBy"    column="update_by"    />
                    <result property="updateTime"    column="update_time"    />
                    <result property="delFlag"    column="del_flag"    />
                    <result property="remark"    column="remark"    />
                    <result property="bomDataVersion"    column="bom_data_version"    />
                    <result property="specialRequirements"    column="special_requirements"    />
            </resultMap>
    
    <sql id="selectCxPlanProductStatusVo">
        select id, month_plan_aps_version, month_plan_ids, sap_code, embryo_code,spec_dimension, nvl(month_plan_total_qty,0) month_plan_total_qty, begin_date, end_date,
                product_status,mark_un_product, product_detail, create_by, create_time, update_by, update_time, del_flag, remark,bom_data_version,special_requirements from t_cx_plan_product_status
    </sql>

    <select id="selectCxPlanProductStatusList" parameterType="com.zlt.aps.cx.engine.domain.CxPlanProductStatus" resultMap="CxPlanProductStatusResult">
        <include refid="selectCxPlanProductStatusVo"/>
        <where>
          del_flag='0' and mark_un_product='0' --标记不投产为否
          and nvl(month_plan_total_qty,0)>0  --过滤投产数据中月度计划量为0的数据
         <if test="monthPlanApsVersion != null  and monthPlanApsVersion != ''"> and month_plan_aps_version = #{monthPlanApsVersion}</if>
         <if test="sapCode != null  and sapCode != ''"> and sap_code = #{sapCode}</if>
         <if test="embryoCode != null  and embryoCode != ''"> and embryo_code = #{embryoCode}</if>
         <if test="productStatus != null  and productStatus != ''"> and product_status = #{productStatus}</if>
         <if test="productStatusWithOut != null  and productStatusWithOut != ''"> and product_status != #{productStatusWithOut}</if>
         <if test="endDate != null  and endDate != ''"> and end_date &lt;= #{endDate}</if>
        </where>
        order by begin_date asc
    </select>

    <update id="updateCxPlanProductStatus" parameterType="com.zlt.aps.cx.engine.domain.CxPlanProductStatus">
        update t_cx_plan_product_status
        <trim prefix="SET" suffixOverrides=",">
            <if test="monthPlanApsVersion != null  and monthPlanApsVersion != ''">  month_plan_aps_version = #{monthPlanApsVersion},</if>
            <if test="sapCode != null  and sapCode != ''">  sap_code = #{sapCode},</if>
            <if test="embryoCode != null  and embryoCode != ''">  embryo_code = #{embryoCode},</if>
            <if test="productStatus != null  and productStatus != ''">product_status = #{productStatus},</if>
            <if test="markUnProduct != null  and markUnProduct != ''"> and mark_un_product = #{markUnProduct}</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <!--更新为已投产状态-->
    <update id="updatePlanProductStatus" parameterType="com.zlt.aps.cx.engine.domain.CxPlanProductStatus">
        update t_cx_plan_product_status
        <trim prefix="SET" suffixOverrides=",">
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="productStatus != null  and productStatus != ''">product_status = #{productStatus},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>


    <delete id="deleteCxPlanProductStatusById" parameterType="Long">
        update t_cx_plan_product_status set del_flag='1' where id = #{id}
    </delete>

    <delete id="deleteCxPlanProductStatusByIds" parameterType="String">
        update t_cx_plan_product_status set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--Joran 2021-10-12 导入进行投产状态更新为投产待发布状态-->
    <update id="updateProductStatusToWaitPublish" parameterType="list">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update t_cx_plan_product_status
            <trim prefix="set" suffixOverrides=",">
                product_status='2',<!--投产状态：投产待发布-->
                <if test="item.updateBy!=null and item.updateBy!=''">
                    update_by=#{item.updateBy},
                </if>
                <if test="item.updateTime!=null ">
                    update_time=#{item.updateTime},
                </if>
                remark='成型导入，状态变更为：投产待发布',
            </trim>
            <where>
                del_flag='0'
                and product_status='0' <!--只处理待投产部分的数据-->
                <if test="item.monthPlanApsVersion!=null and item.monthPlanApsVersion!=''">
                    and month_plan_aps_version = #{item.monthPlanApsVersion}
                </if>
                <if test="item.sapCode!=null and item.sapCode!=''">
                    and sap_code = #{item.sapCode}
                </if>
                <if test="item.embryoCode!=null and item.embryoCode!=''">
                    and embryo_code = #{item.embryoCode}
                </if>
                <if test="item.bomDataVersion!=null and item.bomDataVersion!=''">
                    and bom_data_version = #{item.bomDataVersion}
                </if>
            </where>
        </foreach>
    </update>


    <!--Joran 2021-10-12 导入进行投产状态更新为已投产状态-->
    <update id="updateProductStatusToProduct" parameterType="list">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update t_cx_plan_product_status
            <trim prefix="set" suffixOverrides=",">
                product_status='1',<!--投产状态：已投产-->
                <if test="item.updateBy!=null and item.updateBy!=''">
                    update_by=#{item.updateBy},
                </if>
                <if test="item.updateTime!=null ">
                    update_time=#{item.updateTime},
                </if>
                remark='自动排程，状态变更为：已投产',
            </trim>
            <where>
                del_flag='0'
                and product_status='0' <!--只处理待投产部分的数据-->
                <if test="item.monthPlanApsVersion!=null and item.monthPlanApsVersion!=''">
                    and month_plan_aps_version = #{item.monthPlanApsVersion}
                </if>
                <if test="item.sapCode!=null and item.sapCode!=''">
                    and sap_code = #{item.sapCode}
                </if>
                <if test="item.embryoCode!=null and item.embryoCode!=''">
                    and embryo_code = #{item.embryoCode}
                </if>
                <if test="item.bomDataVersion!=null and item.bomDataVersion!=''">
                    and bom_data_version = #{item.bomDataVersion}
                </if>
            </where>
        </foreach>
    </update>

    <!--Joran 2021-12-28 结合成型排程更新投产表状态start-->
    <update id="batchUpdateProductStatusToProduct" >
       update t_cx_plan_product_status t set product_status='1'
       <where>
            t.del_flag='0'
            and t.product_status='0'
            <if test="monthPlanApsVersion!=null and monthPlanApsVersion!=''">
              and t.month_plan_aps_version=#{monthPlanApsVersion}
            </if>
          and exists (
               select 1 from t_cx_schedule_result csr
               where csr.sap_code=t.sap_code
               and csr.embryo_code=t.embryo_code
               and csr.bom_data_version=t.bom_data_version
               and csr.production_status!='2'
               and csr.del_flag='0'
             <if test="scheduleMonth!=null and scheduleMonth!=''">
                 and to_char(csr.schedule_date,'yyyyMM')=#{scheduleMonth}
             </if>
             )
       </where>
    </update>

    <update id="batchUpdateProductStatusToProductBySurplus">
         update t_cx_plan_product_status t set product_status='1'
         where t.del_flag='0'
         and t.product_status='0'
        <if test="monthPlanApsVersion!=null and monthPlanApsVersion!=''">
            and t.month_plan_aps_version=#{monthPlanApsVersion}
        </if>
         and exists (
                select 1 from t_cx_embryo_month_plan_surplus emps
                  where emps.material_code=t.embryo_code
                   and emps.month_plan_aps_version=t.month_plan_aps_version
                   and nvl(emps.month_finish_qty,0) > 0
                    and emps.del_flag='0'
         )
    </update>


    <!--Joran 2021-12-28 结合成型排程更新投产表状态end-->
</mapper>