<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.engine.mapper.CxScheduleEngineMapper">

    <resultMap type="com.zlt.aps.cx.engine.domain.CxEngineScheduleResult" id="CxEngineScheduleResult">
        <result property="id"    column="id"    />
        <result property="cxBatchNo"    column="cx_batch_no"    />
        <result property="orderNo"    column="order_no"    />
        <result property="taskType"    column="task_type"    />
        <result property="scheduleDate"    column="schedule_date"    />
        <result property="productionStatus"    column="production_status"    />
        <result property="cxMachineCode"    column="cx_machine_code"    />
        <result property="cxMachineName"    column="cx_machine_name"    />
        <result property="cxMachineType"    column="cx_machine_type"    />
        <result property="lhMachineCode"    column="lh_machine_code"    />
        <result property="lhMachineName"    column="lh_machine_name"    />
        <result property="lhMachineQty"    column="lh_machine_qty"    />
        <result property="minimumLhMachineReqQty"    column="minimum_lh_machine_req_qty"    />
        <result property="availableMoldQty"    column="available_mold_qty"    />
        <result property="maximumClassQty"    column="maximum_class_qty"    />
        <result property="workShifts"    column="work_shifts"    />
        <result property="storageLocation"    column="storage_location"    />
        <result property="sapCode"    column="sap_code"    />
        <result property="specDesc"    column="spec_desc"    />
        <result property="embryoCode"    column="embryo_code"    />
        <result property="lhMiddleNightFinishQty"    column="lh_middle_night_finish_qty"    />
        <result property="cxMonthFinishQty"    column="cx_month_finish_qty"    />
        <result property="planModifyQty"    column="plan_modify_qty"    />
        <result property="rejectQty"    column="reject_qty"    />
        <result property="newestPlanQty"    column="newest_plan_qty"    />
        <result property="class3PlannedQty"    column="class3_planned_qty"    />
        <result property="singleShiftLhQty"    column="single_shift_lh_qty"    />
        <result property="totalStock"    column="total_stock"    />
        <result property="extendedStock"    column="extended_stock"    />
        <result property="monthStock"    column="month_stock"    />
        <result property="actualOverProduction"    column="actual_over_production"    />
        <result property="expectedOverProduction"    column="expected_over_production"    />
        <result property="differenceOverProduction"    column="difference_over_production"    />
        <result property="class1AvailableLhShift"    column="class1_available_lh_shift"    />
        <result property="class1PlanQty"    column="class1_plan_qty"    />
        <result property="class1AnalysisInput"    column="class1_analysis_input"    />
        <result property="class1Analysis"    column="class1_analysis"    />
        <result property="class2AvailableLhShift"    column="class2_available_lh_shift"    />
        <result property="class2PlanQty"    column="class2_plan_qty"    />
        <result property="class2AnalysisInput"    column="class2_analysis_input"    />
        <result property="class2Analysis"    column="class2_analysis"    />
        <result property="class3AvailableLhShift"    column="class3_available_lh_shift"    />
        <result property="class3PlanQty"    column="class3_plan_qty"    />
        <result property="class3Analysis"    column="class3_analysis"    />
        <result property="class4AvailableLhShift"    column="class4_available_lh_shift"    />
        <result property="class4PlanQty"    column="class4_plan_qty"    />
        <result property="class4Analysis"    column="class4_analysis"    />
        <result property="class5AvailableLhShift"    column="class5_available_lh_shift"    />
        <result property="class5PlanQty"    column="class5_plan_qty"    />
        <result property="class5Analysis"    column="class5_analysis"    />
        <result property="markCloseOutTip"    column="mark_close_out_tip"    />
        <result property="specDimension" column="spec_dimension"/>
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="class1Sort"    column="class1_sort"    />
        <result property="class2Sort"    column="class2_sort"    />
        <result property="class3Sort"    column="class3_sort"    />
        <result property="class4Sort"    column="class4_sort"    />
        <result property="class5Sort"    column="class5_sort"    />
        <result property="isRelease"    column="is_release"    />
        <result property="dataSource"    column="data_source"    />
        <result property="lhSingleTireTime"    column="lh_single_tire_time"    />
        <result property="lhMachineChangeMoldDesc"    column="lh_machine_change_mold_desc"    />
        <result property="apsMonthVersion"    column="month_plan_aps_version"    />
        <result property="bomDataVersion"    column="bom_data_version"    />
        <result property="specialRequirements"    column="SPECIAL_REQUIREMENTS"    />
        <result property="toProduct"    column="to_product"    />
        <result property="beforeSingleShiftLhQty"    column="before_single_shift_lh_qty"    />
        <result property="minimumLhMachineComQty"    column="minimum_lh_machine_com_qty"    />
    </resultMap>

    <!--Joran 2021-09-19 添加根据ID进行查询成型排程结果表start-->
    <select id="selectCxEngineScheduleResultById" parameterType="Long" resultMap="CxEngineScheduleResult">
        SELECT
            csr.id,
            casr.month_plan_aps_version,
            csr.cx_batch_no,
            csr.order_no,
            csr.task_type,
            csr.schedule_date,
            csr.production_status,
            csr.cx_machine_code ,
            csr.lh_machine_code,
            csr.lh_machine_qty,
            csr.storage_location,
            csr.spec_dimension,
            csr.sap_code,
            csr.spec_desc,
            csr.embryo_code,
            csr.class3_planned_qty,
            csr.single_shift_lh_qty,
            nvl(csr.class1_plan_qty,0) class1_plan_qty,
            nvl(csr.class2_plan_qty,0) class2_plan_qty,
            nvl(csr.class3_plan_qty,0) class3_plan_qty,
            nvl(csr.class4_plan_qty,0) class4_plan_qty,
            nvl(csr.class5_plan_qty,0) class5_plan_qty,
            csr.create_by,
            csr.create_time,
            csr.update_by,
            csr.update_time,
            csr.del_flag,
            csr.remark,
            csr.is_release,
            csr.data_source,
            csr.bom_data_version,
            csr.SPECIAL_REQUIREMENTS,
            csr.to_product,
            csr.before_single_shift_lh_qty
          FROM
            t_cx_schedule_result csr left join t_cx_auto_schedule_record casr
            on csr.cx_batch_no=casr.cx_batch_no and casr.status='0' and casr.del_flag='0'
        where csr.id = #{id}
    </select>
    <!--Joran 2021-09-19 添加根据ID进行查询成型排程结果表end-->

    <sql id="selectCxScheduleResultVo">
        SELECT
            csr.id,
            csr.cx_batch_no,
            csr.order_no,
            csr.task_type,
            csr.schedule_date,
            csr.production_status,
            csr.cx_machine_code cx_machine_code,
            cmi.machine_name cx_machine_name,
            cmi.machine_type cx_machine_type,
            csr.lh_machine_code,
            csr.lh_machine_name,
            csr.lh_machine_qty,
            csr.minimum_lh_machine_req_qty,
            csr.minimum_lh_machine_com_qty,
            csr.available_mold_qty,
            csr.maximum_class_qty,
            csr.work_shifts,
            csr.storage_location,
            csr.spec_dimension,
            csr.sap_code,
            csr.spec_desc,
            csr.embryo_code,
            nvl(finish_qty.lh_middle_night_finish_qty,0) lh_middle_night_finish_qty,
            csr.cx_month_finish_qty,
            csr.plan_modify_qty,
            csr.reject_qty,
            csr.newest_plan_qty,
            csr.class3_planned_qty,
            csr.single_shift_lh_qty,
            csr.total_stock,
            csr.extended_stock,
            csr.month_stock,
            csr.actual_over_production,
            csr.expected_over_production,
            csr.difference_over_production,
            csr.class1_available_lh_shift,
            nvl(csr.class1_plan_qty,0) class1_plan_qty,
            csr.class1_analysis_input,
            csr.class1_analysis,
            csr.class2_available_lh_shift,
            nvl(csr.class2_plan_qty,0) class2_plan_qty,
            csr.class2_analysis_input,
            csr.class2_analysis,
            csr.class3_available_lh_shift,
            nvl(csr.class3_plan_qty,0) class3_plan_qty,
            csr.class3_analysis,
            csr.class4_available_lh_shift,
            nvl(csr.class4_plan_qty,0) class4_plan_qty,
            csr.class4_analysis,
            csr.class5_available_lh_shift,
            nvl(csr.class1_sort,0) class1_sort,
            nvl(csr.class2_sort,0) class2_sort,
            nvl(csr.class3_sort,0) class3_sort,
            nvl(csr.class4_sort,0) class4_sort,
            nvl(csr.class5_sort,0) class5_sort,
            nvl(csr.class5_plan_qty,0) class5_plan_qty,
            csr.class5_analysis,
            csr.mark_close_out_tip,
            csr.create_by,
            csr.create_time,
            csr.update_by,
            csr.update_time,
            csr.del_flag,
            csr.remark,
            csr.is_release,
            csr.data_source,
            csr.lh_machine_change_mold_desc,
            csr.lh_single_tire_time,
            csr.bom_data_version,
            csr.SPECIAL_REQUIREMENTS,
            csr.to_product,
            csr.before_single_shift_lh_qty
        FROM
            t_cx_schedule_result csr left join t_cx_machine_info cmi on csr.cx_machine_code=cmi.machine_code
            left join (
                    select sap_code,sum(nvl(class1_finish_qty,0)) + sum(nvl(class2_finish_qty,0)) lh_middle_night_finish_qty from t_lh_class_shift_finish_qty where del_flag='0'
                    <if test="scheduleDate != null "> and  schedule_date = #{scheduleDate}</if>
                    <if test="cxScheduleDate != null and cxScheduleDate!=''"> and  schedule_date = to_date(#{cxScheduleDate},'yyyyMMdd')</if>
                    group by sap_code
                )finish_qty
            on csr.sap_code=finish_qty.sap_code
    </sql>

    <insert id="insertCxScheduleResult" parameterType="com.zlt.aps.cx.engine.domain.CxEngineScheduleResult">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT SEQ_CX_SCHEDULE_RESULT.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into t_cx_schedule_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="cxBatchNo != null">cx_batch_no,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="taskType != null">task_type,</if>
            <if test="scheduleDate != null">schedule_date,</if>
            <if test="productionStatus != null">production_status,</if>
            <if test="cxMachineCode != null">cx_machine_code,</if>
            <if test="cxMachineName != null">cx_machine_name,</if>
            <if test="cxMachineType != null">cx_machine_type,</if>
            <if test="lhMachineCode != null">lh_machine_code,</if>
            <if test="lhMachineName != null">lh_machine_name,</if>
            <if test="lhMachineQty != null">lh_machine_qty,</if>
            <if test="minimumLhMachineReqQty != null">minimum_lh_machine_req_qty,</if>
            <if test="minimumLhMachineComQty != null">minimum_lh_machine_com_qty,</if>
            <if test="availableMoldQty != null">available_mold_qty,</if>
            <if test="maximumClassQty != null">maximum_class_qty,</if>
            <if test="workShifts != null">work_shifts,</if>
            <if test="storageLocation != null">storage_location,</if>
            <if test="sapCode != null">sap_code,</if>
            <if test="specDesc != null">spec_desc,</if>
            <if test="embryoCode != null">embryo_code,</if>
            <if test="lhMiddleNightFinishQty != null">lh_middle_night_finish_qty,</if>
            <if test="cxMonthFinishQty != null">cx_month_finish_qty,</if>
            <if test="planModifyQty != null">plan_modify_qty,</if>
            <if test="rejectQty != null">reject_qty,</if>
            <if test="newestPlanQty != null">newest_plan_qty,</if>
            <if test="class3PlannedQty != null">class3_planned_qty,</if>
            <if test="singleShiftLhQty != null">single_shift_lh_qty,</if>
            <if test="totalStock != null">total_stock,</if>
            <if test="extendedStock != null">extended_stock,</if>
            <if test="monthStock != null">month_stock,</if>
            <if test="actualOverProduction != null">actual_over_production,</if>
            <if test="expectedOverProduction != null">expected_over_production,</if>
            <if test="differenceOverProduction != null">difference_over_production,</if>
            <if test="class1AvailableLhShift != null">class1_available_lh_shift,</if>
            <if test="class1PlanQty != null">class1_plan_qty,</if>
            <if test="class1AnalysisInput != null">class1_analysis_input,</if>
            <if test="class1Analysis != null">class1_analysis,</if>
            <if test="class2AvailableLhShift != null">class2_available_lh_shift,</if>
            <if test="class2PlanQty != null">class2_plan_qty,</if>
            <if test="class2AnalysisInput != null">class2_analysis_input,</if>
            <if test="class2Analysis != null">class2_analysis,</if>
            <if test="class3AvailableLhShift != null">class3_available_lh_shift,</if>
            <if test="class3PlanQty != null">class3_plan_qty,</if>
            <if test="class3Analysis != null">class3_analysis,</if>
            <if test="class4AvailableLhShift != null">class4_available_lh_shift,</if>
            <if test="class4PlanQty != null">class4_plan_qty,</if>
            <if test="class4Analysis != null">class4_analysis,</if>
            <if test="class5AvailableLhShift != null">class5_available_lh_shift,</if>
            <if test="class5PlanQty != null">class5_plan_qty,</if>
            <if test="class5Analysis != null">class5_analysis,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="markCloseOutTip != null">mark_close_out_tip,</if>
            <if test="specDimension != null">spec_dimension,</if>
            <if test="class1Sort != null">class1_sort,</if>
            <if test="class2Sort != null">class2_sort,</if>
            <if test="class3Sort != null">class3_sort,</if>
            <if test="class4Sort != null">class4_sort,</if>
            <if test="class5Sort != null">class5_sort,</if>
            <if test="isRelease != null">is_release,</if>
            <if test="dataSource != null">data_source,</if>
            <if test="class3AnalysisInput != null">class3_analysis_input,</if>
            <if test="class4AnalysisInput != null">class4_analysis_input,</if>
            <if test="class5AnalysisInput != null">class5_analysis_input,</if>
            <if test="lhSingleTireTime != null"> lh_single_tire_time,</if>
            <if test="bomDataVersion != null"> bom_data_version,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="cxBatchNo != null">#{cxBatchNo},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="taskType != null">#{taskType},</if>
            <if test="scheduleDate != null">#{scheduleDate},</if>
            <if test="productionStatus != null">#{productionStatus},</if>
            <if test="cxMachineCode != null">#{cxMachineCode},</if>
            <if test="cxMachineName != null">#{cxMachineName},</if>
            <if test="cxMachineType != null">#{cxMachineType},</if>
            <if test="lhMachineCode != null">#{lhMachineCode},</if>
            <if test="lhMachineName != null">#{lhMachineName},</if>
            <if test="lhMachineQty != null">#{lhMachineQty},</if>
            <if test="minimumLhMachineReqQty != null">#{minimumLhMachineReqQty},</if>
            <if test="minimumLhMachineComQty != null">#{minimumLhMachineComQty},</if>
            <if test="availableMoldQty != null">#{availableMoldQty},</if>
            <if test="maximumClassQty != null">#{maximumClassQty},</if>
            <if test="workShifts != null">#{workShifts},</if>
            <if test="storageLocation != null">#{storageLocation},</if>
            <if test="sapCode != null">#{sapCode},</if>
            <if test="specDesc != null">#{specDesc},</if>
            <if test="embryoCode != null">#{embryoCode},</if>
            <if test="lhMiddleNightFinishQty != null">#{lhMiddleNightFinishQty},</if>
            <if test="cxMonthFinishQty != null">#{cxMonthFinishQty},</if>
            <if test="planModifyQty != null">#{planModifyQty},</if>
            <if test="rejectQty != null">#{rejectQty},</if>
            <if test="newestPlanQty != null">#{newestPlanQty},</if>
            <if test="class3PlannedQty != null">#{class3PlannedQty},</if>
            <if test="singleShiftLhQty != null">#{singleShiftLhQty},</if>
            <if test="totalStock != null">#{totalStock},</if>
            <if test="extendedStock != null">#{extendedStock},</if>
            <if test="monthStock != null">#{monthStock},</if>
            <if test="actualOverProduction != null">#{actualOverProduction},</if>
            <if test="expectedOverProduction != null">#{expectedOverProduction},</if>
            <if test="differenceOverProduction != null">#{differenceOverProduction},</if>
            <if test="class1AvailableLhShift != null">#{class1AvailableLhShift},</if>
            <if test="class1PlanQty != null">#{class1PlanQty},</if>
            <if test="class1AnalysisInput != null">#{class1AnalysisInput},</if>
            <if test="class1Analysis != null">#{class1Analysis},</if>
            <if test="class2AvailableLhShift != null">#{class2AvailableLhShift},</if>
            <if test="class2PlanQty != null">#{class2PlanQty},</if>
            <if test="class2AnalysisInput != null">#{class2AnalysisInput},</if>
            <if test="class2Analysis != null">#{class2Analysis},</if>
            <if test="class3AvailableLhShift != null">#{class3AvailableLhShift},</if>
            <if test="class3PlanQty != null">#{class3PlanQty},</if>
            <if test="class3Analysis != null">#{class3Analysis},</if>
            <if test="class4AvailableLhShift != null">#{class4AvailableLhShift},</if>
            <if test="class4PlanQty != null">#{class4PlanQty},</if>
            <if test="class4Analysis != null">#{class4Analysis},</if>
            <if test="class5AvailableLhShift != null">#{class5AvailableLhShift},</if>
            <if test="class5PlanQty != null">#{class5PlanQty},</if>
            <if test="class5Analysis != null">#{class5Analysis},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="markCloseOutTip != null">#{markCloseOutTip},</if>
            <if test="specDimension != null">#{specDimension},</if>
            <if test="class1Sort != null">#{class1Sort},</if>
            <if test="class2Sort != null">#{class2Sort},</if>
            <if test="class3Sort != null">#{class3Sort},</if>
            <if test="class4Sort != null">#{class4Sort},</if>
            <if test="class5Sort != null">#{class5Sort},</if>
            <if test="isRelease != null">#{isRelease},</if>
            <if test="dataSource != null">#{dataSource},</if>
            <if test="class3AnalysisInput != null">#{class3AnalysisInput},</if>
            <if test="class4AnalysisInput != null">#{class4AnalysisInput},</if>
            <if test="class5AnalysisInput != null">#{class5AnalysisInput},</if>
            <if test="lhSingleTireTime != null"> #{lhSingleTireTime},</if>
            <if test="bomDataVersion != null"> #{bomDataVersion},</if>
        </trim>
    </insert>

    <insert id="batchInsertCxScheduleResult" parameterType="list">
        insert into t_cx_schedule_result (id,cx_batch_no,order_no,task_type, schedule_date, production_status, cx_machine_code, cx_machine_name,cx_machine_type,
        lh_machine_code, lh_machine_name,lh_machine_qty, minimum_lh_machine_req_qty, available_mold_qty, maximum_class_qty, work_shifts,
        storage_location,spec_dimension, sap_code, spec_desc,embryo_code, lh_middle_night_finish_qty, cx_month_finish_qty, plan_modify_qty, reject_qty, newest_plan_qty, class3_planned_qty,
        single_shift_lh_qty, total_stock, extended_stock, month_stock, actual_over_production, expected_over_production, difference_over_production,
        class1_available_lh_shift, class1_plan_qty, class1_analysis_input, class1_analysis,  class2_available_lh_shift,
        class2_plan_qty, class2_analysis_input, class2_analysis,  class3_available_lh_shift, class3_plan_qty, class3_analysis,class3_analysis_input,
         class4_available_lh_shift, class4_plan_qty, class4_analysis,class4_analysis_input,  class5_available_lh_shift,
        class1_sort,class2_sort,class3_sort,class4_sort,class5_sort,is_release,data_source,lh_machine_change_mold_desc,lh_single_tire_time,
        class5_plan_qty, class5_analysis,class5_analysis_input, mark_close_out_tip, create_by,  update_by, update_time,  remark,bom_data_version,to_product,before_single_shift_lh_qty,minimum_lh_machine_com_qty,special_requirements)
        select SEQ_CX_SCHEDULE_RESULT.NEXTVAL AS ID, x.*
        from (
        <foreach collection="scheduleResultList" item="schedule" separator=" union ">
            select #{schedule.cxBatchNo,jdbcType=VARCHAR},#{schedule.orderNo,jdbcType=VARCHAR},#{schedule.taskType,jdbcType=VARCHAR},#{schedule.scheduleDate},#{schedule.productionStatus,jdbcType=VARCHAR},#{schedule.cxMachineCode,jdbcType=VARCHAR},#{schedule.cxMachineName,jdbcType=VARCHAR},#{schedule.cxMachineType,jdbcType=VARCHAR},
            #{schedule.lhMachineCode,jdbcType=VARCHAR},#{schedule.lhMachineName,jdbcType=VARCHAR},#{schedule.lhMachineQty,jdbcType=DOUBLE},#{schedule.minimumLhMachineReqQty,jdbcType=INTEGER},#{schedule.availableMoldQty,jdbcType=INTEGER},#{schedule.maximumClassQty,jdbcType=DOUBLE},#{schedule.workShifts,jdbcType=INTEGER},
            #{schedule.storageLocation,jdbcType=VARCHAR},#{schedule.specDimension,jdbcType=DOUBLE},#{schedule.sapCode},#{schedule.specDesc,jdbcType=VARCHAR},#{schedule.embryoCode},#{schedule.lhMiddleNightFinishQty,jdbcType=INTEGER},#{schedule.cxMonthFinishQty,jdbcType=INTEGER},#{schedule.planModifyQty,jdbcType=INTEGER},#{schedule.rejectQty,jdbcType=INTEGER},#{schedule.newestPlanQty,jdbcType=INTEGER},#{schedule.class3PlannedQty,jdbcType=INTEGER},
            #{schedule.singleShiftLhQty,jdbcType=INTEGER},#{schedule.totalStock,jdbcType=INTEGER},#{schedule.extendedStock,jdbcType=INTEGER},#{schedule.monthStock,jdbcType=INTEGER},#{schedule.actualOverProduction,jdbcType=INTEGER},#{schedule.expectedOverProduction,jdbcType=INTEGER},#{schedule.differenceOverProduction,jdbcType=INTEGER},
            #{schedule.class1AvailableLhShift,jdbcType=DOUBLE},#{schedule.class1PlanQty,jdbcType=INTEGER},#{schedule.class1AnalysisInput,jdbcType=VARCHAR},#{schedule.class1Analysis,jdbcType=VARCHAR},#{schedule.class2AvailableLhShift,jdbcType=DOUBLE},
            #{schedule.class2PlanQty,jdbcType=INTEGER},#{schedule.class2AnalysisInput,jdbcType=VARCHAR},#{schedule.class2Analysis,jdbcType=VARCHAR},#{schedule.class3AvailableLhShift,jdbcType=DOUBLE},#{schedule.class3PlanQty,jdbcType=INTEGER},#{schedule.class3Analysis,jdbcType=VARCHAR},#{schedule.class3AnalysisInput,jdbcType=VARCHAR},
            #{schedule.class4AvailableLhShift,jdbcType=DOUBLE},#{schedule.class4PlanQty,jdbcType=INTEGER},#{schedule.class4Analysis,jdbcType=VARCHAR},#{schedule.class4AnalysisInput,jdbcType=VARCHAR},#{schedule.class5AvailableLhShift,jdbcType=DOUBLE},
            #{schedule.class1Sort,jdbcType=INTEGER},#{schedule.class2Sort,jdbcType=INTEGER},#{schedule.class3Sort,jdbcType=INTEGER},#{schedule.class4Sort,jdbcType=INTEGER},#{schedule.class5Sort,jdbcType=INTEGER},#{schedule.isRelease,jdbcType=VARCHAR},#{schedule.dataSource,jdbcType=VARCHAR},#{schedule.lhMachineChangeMoldDesc,jdbcType=VARCHAR},#{schedule.lhSingleTireTime,jdbcType=INTEGER},
            #{schedule.class5PlanQty,jdbcType=INTEGER},#{schedule.class5Analysis,jdbcType=VARCHAR},#{schedule.class5AnalysisInput,jdbcType=VARCHAR},#{schedule.markCloseOutTip,jdbcType=VARCHAR},#{schedule.createBy,jdbcType=VARCHAR},#{schedule.updateBy,jdbcType=VARCHAR},#{schedule.updateTime,jdbcType=DATE},#{schedule.remark,jdbcType=VARCHAR},#{schedule.bomDataVersion,jdbcType=VARCHAR},#{schedule.toProduct,jdbcType=VARCHAR}, #{schedule.beforeSingleShiftLhQty,jdbcType=INTEGER},#{schedule.minimumLhMachineComQty,jdbcType=DOUBLE},#{schedule.specialRequirements,jdbcType=VARCHAR}
            from dual
        </foreach>
        ) x
    </insert>



    <select id="selectCxScheduleResultList" parameterType="com.zlt.aps.cx.engine.domain.CxEngineScheduleResult" resultMap="CxEngineScheduleResult">
        <include refid="selectCxScheduleResultVo"/>
        <where>
            csr.del_flag='0' and  csr.production_status != '2' --过滤收尾规格
            <if test="cxBatchNo != null  and cxBatchNo != ''"> and  csr.cx_batch_no = #{cxBatchNo}</if>
            <if test="orderNo != null  and orderNo != ''"> and  csr.order_no = #{orderNo}</if>
            <if test="taskType != null  and taskType != ''"> and  csr.task_type = #{taskType}</if>
            <if test="scheduleDate != null "> and  csr.schedule_date = #{scheduleDate}</if>
            <if test="productionStatus != null  and productionStatus != ''"> and  csr.production_status = #{productionStatus}</if>
            <if test="cxMachineCode != null  and cxMachineCode != ''"> and  cmi.machine_code = #{cxMachineCode}</if>
            <if test="cxMachineName != null  and cxMachineName != ''"> and instr(cmi.machine_name,#{cxMachineName})>0 </if>
            <if test="lhMachineCode != null  and lhMachineCode != ''"> and instr(csr.lh_machine_code,#{lhMachineCode})>0 </if>
            <if test="lhMachineName != null  and lhMachineName != ''"> and instr(csr.lh_machine_name,#{lhMachineName})>0 </if>
            <if test="workShifts != null "> and csr.work_shifts = #{workShifts}</if>
            <if test="storageLocation != null  and storageLocation != ''"> and csr.storage_location = #{storageLocation}</if>
            <if test="sapCode != null  and sapCode != ''"> and csr.sap_code = #{sapCode}</if>
            <if test="specDesc != null  and specDesc != ''"> and csr.spec_desc = #{specDesc}</if>
            <if test="embryoCode != null  and embryoCode != ''"> and csr.embryo_code = #{embryoCode}</if>
            <if test="cxScheduleDate != null and cxScheduleDate!=''"> and  csr.schedule_date = to_date(#{cxScheduleDate},'yyyyMMdd')</if>
        </where>
    </select>

    <!--Joran 2022-06-24  查询排程规格，包含收尾规格 start -->
    <select id="selectCxScheduleResultWithCloseOutList" parameterType="com.zlt.aps.cx.engine.domain.CxEngineScheduleResult" resultMap="CxEngineScheduleResult">
        <include refid="selectCxScheduleResultVo"/>
        <where>
            csr.del_flag='0'
            <if test="cxBatchNo != null  and cxBatchNo != ''"> and  csr.cx_batch_no = #{cxBatchNo}</if>
            <if test="orderNo != null  and orderNo != ''"> and  csr.order_no = #{orderNo}</if>
            <if test="taskType != null  and taskType != ''"> and  csr.task_type = #{taskType}</if>
            <if test="scheduleDate != null "> and  csr.schedule_date = #{scheduleDate}</if>
            <if test="productionStatus != null  and productionStatus != ''"> and  csr.production_status = #{productionStatus}</if>
            <if test="cxMachineCode != null  and cxMachineCode != ''"> and  cmi.machine_code = #{cxMachineCode}</if>
            <if test="lhMachineCode != null  and lhMachineCode != ''"> and instr(csr.lh_machine_code,#{lhMachineCode})>0 </if>
            <if test="workShifts != null "> and csr.work_shifts = #{workShifts}</if>
            <if test="sapCode != null  and sapCode != ''"> and csr.sap_code = #{sapCode}</if>
            <if test="embryoCode != null  and embryoCode != ''"> and csr.embryo_code = #{embryoCode}</if>
            <if test="cxScheduleDate != null and cxScheduleDate!=''"> and  csr.schedule_date = to_date(#{cxScheduleDate},'yyyyMMdd')</if>
        </where>
    </select>
    <!--Joran 2022-06-24  查询排程规格，包含收尾规格 end -->

    <!--Joran 2021-11-30 加载成型收尾 硫化未收尾列表数据 start -->
    <select id="selectCxCloseOutScheduleResultList" parameterType="com.zlt.aps.cx.engine.domain.CxEngineScheduleResult" resultMap="CxEngineScheduleResult">
            SELECT
                csr.id,
                casr.month_plan_aps_version,
                csr.cx_batch_no,
                csr.order_no,
                csr.task_type,
                csr.schedule_date,
                csr.production_status,
                csr.cx_machine_code ,
                csr.lh_machine_code,
                csr.lh_machine_qty,
                csr.storage_location,
                csr.spec_dimension,
                csr.sap_code,
                csr.spec_desc,
                csr.embryo_code,
                csr.class3_planned_qty,
                csr.single_shift_lh_qty,
                nvl(csr.class1_plan_qty,0) class1_plan_qty,
                nvl(csr.class2_plan_qty,0) class2_plan_qty,
                nvl(csr.class3_plan_qty,0) class3_plan_qty,
                nvl(csr.class4_plan_qty,0) class4_plan_qty,
                nvl(csr.class5_plan_qty,0) class5_plan_qty,
                csr.create_by,
                csr.create_time,
                csr.update_by,
                csr.update_time,
                csr.del_flag,
                csr.remark,
                csr.is_release,
                csr.data_source,
                csr.bom_data_version,
                csr.SPECIAL_REQUIREMENTS
            FROM
            t_cx_auto_schedule_record casr left join t_cx_schedule_result csr
            on csr.cx_batch_no=casr.cx_batch_no
            <where>
                 casr.del_flag='0' and casr.status='0' and csr.del_flag='0'
                <!--硫化状态不属于收尾-->
                 and task_type not in('4','5')
                <if test="apsMonthVersion!=null and apsMonthVersion !=''">
                    and casr.month_plan_aps_version=#{apsMonthVersion}
                </if>
                <if test="cxBatchNo != null  and cxBatchNo != ''"> and  csr.cx_batch_no = #{cxBatchNo}</if>
                <if test="orderNo != null  and orderNo != ''"> and  csr.order_no = #{orderNo}</if>
                <if test="scheduleDate != null "> and  csr.schedule_date = #{scheduleDate}</if>
                <if test="productionStatus != null  and productionStatus != ''"> and  csr.production_status = #{productionStatus}</if>
                <if test="cxMachineCode != null  and cxMachineCode != ''"> and  cmi.machine_code = #{cxMachineCode}</if>
                <if test="embryoCode != null  and embryoCode != ''"> and csr.embryo_code = #{embryoCode}</if>
                <if test="cxScheduleDate != null and cxScheduleDate!=''"> and  csr.schedule_date != to_date(#{cxScheduleDate},'yyyyMMdd')</if>
            </where>
    </select>
    <!--Joran 2021-11-30 加载成型收尾 硫化未收尾列表数据 end -->


    <!--根据排程日期进行排程结果记录删除-->
    <delete id="deleteCxScheduleResultByScheduleDate" parameterType="String">
        update t_cx_schedule_result set del_flag='1' where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
    </delete>

    <!--根据排程日期更新排程结果的批次号-->
    <update id="updateCxScheduleResultBatchNoByScheduleDate" parameterType="String">
        update t_cx_schedule_result set cx_batch_no= #{cxBatchNo} where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
    </update>

    <!--批量将排程结果收尾的更新为收尾状态-->
    <update id="updateProductStatusToCloseOut" parameterType="list">
        update t_cx_schedule_result
        <trim prefix="set" suffixOverrides=",">
            production_status='2',<!--成型生产状态调整为：已收尾-->
            <!--Joran 2021-11-11 更新成型完成总量数据start-->
            <trim prefix="cx_month_finish_qty =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.cxMonthFinishQty!=null">
                        when order_no=#{item.orderNo}
                        then #{item.cxMonthFinishQty}
                    </if>
                </foreach>
            </trim>
            <!--Joran 2021-11-11 更新成型完成总量数据start-->
            <trim prefix="update_by =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateBy!=null">
                        when order_no=#{item.orderNo}
                        then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateTime!=null">
                        when order_no=#{item.orderNo}
                        then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where order_no in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item.orderNo}
        </foreach>
    </update>

    <select id="selectSchedulePlanQtyByCondition" parameterType="com.zlt.aps.cx.engine.domain.CxEngineScheduleResult" resultType="Integer">
       SELECT
	      NVL( CLASS1_PLAN_QTY, 0 ) + NVL( CLASS2_PLAN_QTY, 0 ) + NVL( CLASS3_PLAN_QTY, 0 ) + NVL( CLASS4_PLAN_QTY, 0 ) + NVL( CLASS5_PLAN_QTY, 0 ) schedule_plan_qty
        FROM
            (
            SELECT
                SAP_CODE,
                EMBRYO_CODE,
                SUM(nvl( CLASS1_PLAN_QTY, 0 )) CLASS1_PLAN_QTY,
                SUM(nvl( CLASS2_PLAN_QTY, 0 )) CLASS2_PLAN_QTY,
                SUM(nvl( CLASS3_PLAN_QTY, 0 )) CLASS3_PLAN_QTY,
                SUM(nvl( CLASS4_PLAN_QTY, 0 )) CLASS4_PLAN_QTY,
                SUM(nvl( CLASS5_PLAN_QTY, 0 )) CLASS5_PLAN_QTY
            FROM
                T_CX_SCHEDULE_RESULT
            WHERE
                DEL_FLAG = '0'
                AND SCHEDULE_DATE=#{scheduleDate}
                AND SAP_CODE = #{sapCode}
                AND EMBRYO_CODE = #{embryoCode}
            GROUP BY
                SAP_CODE,
                EMBRYO_CODE
            ) calc_tbl
    </select>

    <!--查询成型排程结果是否有任务安排-->
    <select id="selectScheduleResult" parameterType="com.zlt.aps.cx.engine.domain.CxEngineScheduleResult" resultMap="CxEngineScheduleResult">
        <include refid="selectCxScheduleResultVo"/>
        <where>
            csr.del_flag='0'
            and csr.schedule_date = #{scheduleDate}
            and cmi.machine_code = #{cxMachineCode}
            and csr.sap_code = #{sapCode}
            and csr.embryo_code = #{embryoCode}
            and csr.bom_data_version = #{bomDataVersion}
        </where>
    </select>

    <!--更新各个班次的计划量-->
    <update id="updateScheduleResultPlanQty" parameterType="com.zlt.aps.cx.engine.domain.CxEngineScheduleResult">
        update t_cx_schedule_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="class1PlanQty != null">class1_plan_qty = class1_plan_qty + NVL(#{class1PlanQty},0),</if>
            <if test="class2PlanQty != null">class2_plan_qty = class2_plan_qty +  NVL(#{class2PlanQty},0),</if>
            <if test="class3PlanQty != null">class3_plan_qty = class3_plan_qty + NVL(#{class3PlanQty},0),</if>
            <if test="class4PlanQty != null">class4_plan_qty = class4_plan_qty + NVL(#{class4PlanQty},0),</if>
            <if test="class5PlanQty != null">class5_plan_qty = class5_plan_qty + NVL(#{class5PlanQty},0),</if>
            <if test="lhSingleTireTime != null">lh_single_tire_time = #{lhSingleTireTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <!--更新成型机台信息-->
    <update id="updateScheduleCxMachine" parameterType="com.zlt.aps.cx.engine.domain.CxEngineScheduleResult">
        update t_cx_schedule_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="cxMachineCode != null  and cxMachineCode != ''">cx_machine_code = #{cxMachineCode},</if>
            <if test="cxMachineName != null  and cxMachineName != ''">cx_machine_name = #{cxMachineName},</if>
            <if test="cxMachineType != null  and cxMachineType != ''">cx_machine_type = #{cxMachineType},</if>
            <if test="workShifts != null and workShifts!='' ">work_shifts = #{workShifts},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isRelease != null and isRelease!=''">is_release=#{isRelease},</if>
            <if test="remark != null  and remark!=''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <!--同步排程记录到日志表-->
    <insert id="syncCxScheduleToLog">
        insert into T_CX_SCHEDULE_RESULT_LOG (id,cx_batch_no,order_no,task_type, schedule_date, production_status, cx_machine_code, cx_machine_name,cx_machine_type,
                lh_machine_code, lh_machine_name,lh_machine_qty, minimum_lh_machine_req_qty, available_mold_qty, maximum_class_qty, work_shifts,
                storage_location,spec_dimension, sap_code, spec_desc,embryo_code, lh_middle_night_finish_qty, cx_month_finish_qty, reject_qty, newest_plan_qty, class3_planned_qty,
                single_shift_lh_qty, total_stock, extended_stock, month_stock, actual_over_production, expected_over_production, difference_over_production,
                class1_available_lh_shift, class1_plan_qty, class1_analysis_input, class1_analysis,  class2_available_lh_shift,
                class2_plan_qty, class2_analysis_input, class2_analysis,  class3_available_lh_shift, class3_plan_qty, class3_analysis,class3_analysis_input,
                 class4_available_lh_shift, class4_plan_qty, class4_analysis,class4_analysis_input,  class5_available_lh_shift,
                class1_sort,class2_sort,class3_sort,class4_sort,class5_sort,is_release,data_source,lh_machine_change_mold_desc,lh_single_tire_time,
                class5_plan_qty, class5_analysis,class5_analysis_input, mark_close_out_tip, create_by,  update_by, update_time,  remark,bom_data_version,SPECIAL_REQUIREMENTS,to_product,before_single_shift_lh_qty,minimum_lh_machine_com_qty,publish_success_count,newest_publish_time)
        select id,cx_batch_no,order_no,task_type, schedule_date, production_status, cx_machine_code, cx_machine_name,cx_machine_type,
                lh_machine_code, lh_machine_name,lh_machine_qty, minimum_lh_machine_req_qty, available_mold_qty, maximum_class_qty, work_shifts,
                storage_location,spec_dimension, sap_code, spec_desc,embryo_code, lh_middle_night_finish_qty, cx_month_finish_qty,  reject_qty, newest_plan_qty, class3_planned_qty,
                single_shift_lh_qty, total_stock, extended_stock, month_stock, actual_over_production, expected_over_production, difference_over_production,
                class1_available_lh_shift, class1_plan_qty, class1_analysis_input, class1_analysis,  class2_available_lh_shift,
                class2_plan_qty, class2_analysis_input, class2_analysis,  class3_available_lh_shift, class3_plan_qty, class3_analysis,class3_analysis_input,
                 class4_available_lh_shift, class4_plan_qty, class4_analysis,class4_analysis_input,  class5_available_lh_shift,
                class1_sort,class2_sort,class3_sort,class4_sort,class5_sort,is_release,data_source,lh_machine_change_mold_desc,lh_single_tire_time,
                class5_plan_qty, class5_analysis,class5_analysis_input, mark_close_out_tip, create_by,  update_by, update_time,  remark,bom_data_version,SPECIAL_REQUIREMENTS,to_product,before_single_shift_lh_qty,minimum_lh_machine_com_qty,publish_success_count,newest_publish_time
        from T_CX_SCHEDULE_RESULT
        <where>
            schedule_date = to_date(#{scheduleDate},'yyyyMMdd')
            <if test="cxMachineCode!=null and cxMachineCode!=''">
                and cx_machine_code =#{cxMachineCode}
            </if>
        </where>

    </insert>

    <!--物理删除排程表-->
    <delete id="deleteCxSchedule" parameterType="string">
        delete from T_CX_SCHEDULE_RESULT
        <where>
            schedule_date = to_date(#{scheduleDate},'yyyyMMdd')
            <if test="cxMachineCode!=null and cxMachineCode!=''">
                and cx_machine_code =#{cxMachineCode}
            </if>
        </where>
    </delete>

    <!--批量更新各个班次的可硫化班次-->
    <update id="updateAvailableBatch"  parameterType="java.util.List">
        update T_CX_SCHEDULE_RESULT
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="single_shift_lh_qty =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.singleShiftLhQty!=null">
                        when  id=#{item.id}
                        then #{item.singleShiftLhQty}
                    </if>
                </foreach>
            </trim>
            <trim prefix="class1_available_lh_shift =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.class1AvailableLhShift!=null">
                        when  id=#{item.id}
                        then #{item.class1AvailableLhShift}
                    </if>
                </foreach>
            </trim>
            <trim prefix="class2_available_lh_shift =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.class2AvailableLhShift!=null">
                        when  id=#{item.id}
                        then #{item.class2AvailableLhShift}
                    </if>
                </foreach>
            </trim>
            <trim prefix="class3_available_lh_shift =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.class3AvailableLhShift!=null">
                        when  id=#{item.id}
                        then #{item.class3AvailableLhShift}
                    </if>
                </foreach>
            </trim>
            <trim prefix="class4_available_lh_shift =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.class4AvailableLhShift!=null">
                        when  id=#{item.id}
                        then #{item.class4AvailableLhShift}
                    </if>
                </foreach>
            </trim>
            <trim prefix="class5_available_lh_shift =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.class5AvailableLhShift!=null">
                        when  id=#{item.id}
                        then #{item.class5AvailableLhShift}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>


    <!--Joran 2021-12-21批量更新单班硫化量 start -->
    <update id="updateSingleLhQtyBatch"  parameterType="java.util.List">
        update T_CX_SCHEDULE_RESULT
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="single_shift_lh_qty =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.singleShiftLhQty!=null">
                        when  id=#{item.id}
                        then #{item.singleShiftLhQty}
                    </if>
                </foreach>
            </trim>
            <trim prefix="before_single_shift_lh_qty =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.beforeSingleShiftLhQty!=null">
                        when  id=#{item.id}
                        then #{item.beforeSingleShiftLhQty}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>
    <!--Joran 2021-12-21批量更新单班硫化量 end -->

    <!--Joran 2022-03-31 自动排程时停排信息记录start-->
    <insert id="batchInsertScheduleStopInfo" parameterType="list">
        insert into T_CX_SCHEDULE_STOP_INFO (id,cx_batch_no,order_no, schedule_date, cx_machine_code,class_shift,stop_reason,create_by,update_by,update_time,remark)
        select SEQ_CX_SCHEDULE_STOP_INFO.NEXTVAL AS ID, x.*
        from (
        <foreach collection="stopList" item="schedule" separator=" union ">
            select #{schedule.cxBatchNo,jdbcType=VARCHAR},#{schedule.orderNo,jdbcType=VARCHAR},#{schedule.scheduleDate},#{schedule.cxMachineCode,jdbcType=VARCHAR},#{schedule.classShift,jdbcType=INTEGER},#{schedule.stopReason,jdbcType=VARCHAR},
            #{schedule.createBy,jdbcType=VARCHAR},#{schedule.updateBy,jdbcType=VARCHAR},#{schedule.updateTime,jdbcType=DATE},#{schedule.remark,jdbcType=VARCHAR}
            from dual
        </foreach>
        ) x
    </insert>

    <!--根据排程日期进行排程结果记录删除-->
    <delete id="deleteScheduleStopInfoByScheduleDate" parameterType="String">
        update T_CX_SCHEDULE_STOP_INFO set del_flag='1',update_time = now()
        <where>
           del_flag='0'
            <if test="scheduleDate!=null">
                and schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
            </if>
            <if test="cxMachineCode!=null and cxMachineCode!=''">
                and cx_machine_code =#{cxMachineCode}
            </if>
        </where>
    </delete>

    <!--Joran 2022-03-31 自动排程时停排信息记录end-->

    <!-- 查询多版本施工版本信息，用于成型计划导入。
    如果7天内有成型排产记录会打标记，但是只需要到排产日前一天，当天成型排程会在导入之后全部清除掉，因此不纳入考虑范围 -->
    <select id="listMultipleVersionConstruction" resultType="com.zlt.aps.cx.api.domain.dto.CxProductConstructionInfoDto">
		WITH TAB AS (
		<foreach collection="embryoCodeList" item="embryoCode" separator=" union ">
			SELECT #{embryoCode} EMBRYO_CODE FROM dual
		</foreach>
		)
        SELECT C.EMBRYO_CODE,
        C.EMBRYO_VERSION,
		       C.CREATE_TIME,
        C.id,
		       CASE WHEN R.ID IS NOT NULL THEN 'TRUE'
		            ELSE 'FALSE'
		        END IS_SCHEDULE_FLAG
		  FROM T_PRODUCT_CONSTRUCTION_INFO C
		  LEFT JOIN (SELECT R.EMBRYO_CODE, MAX(R.ID) ID
		               FROM T_CX_SCHEDULE_RESULT R
                      INNER JOIN T_CX_AUTO_SCHEDULE_RECORD SR
                         ON SR.CX_BATCH_NO = R.CX_BATCH_NO
                        AND SR.DEL_FLAG = '0'
                        AND SR.STATUS = '0'
		              WHERE R.SCHEDULE_DATE BETWEEN #{scheduleDate} - 7 AND
		                    #{scheduleDate} - 1
		                AND R.DEL_FLAG = '0'
		              GROUP BY R.EMBRYO_CODE) R
		    ON R.EMBRYO_CODE = C.EMBRYO_CODE
		 WHERE C.DEL_FLAG = '0'
		   AND C.EMBRYO_CODE IN (SELECT EMBRYO_CODE FROM TAB)
    </select>
    <!--Hak 2022-09-06 end-->
</mapper>
