<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.engine.mapper.CxScheduleTaskTimeMapper">

    <resultMap type="com.zlt.aps.cx.api.domain.entity.CxScheduleTaskTime" id="CxScheduleTaskTimeResult">
                    <result property="id" column="id"/>
                    <result property="scheduleDate" column="schedule_date"/>
                    <result property="cxOrderNo" column="cx_order_no"/>
                    <result property="machineCode" column="machine_code"/>
                    <result property="productOrder" column="product_order"/>
                    <result property="estimateStartTime" column="estimate_start_time"/>
                    <result property="estimateEndTime" column="estimate_end_time"/>
                    <result property="dataSource" column="data_source"/>
                    <result property="createBy" column="create_by"/>
                    <result property="createTime" column="create_time"/>
                    <result property="updateBy" column="update_by"/>
                    <result property="updateTime" column="update_time"/>
                    <result property="delFlag" column="del_flag"/>
                    <result property="remark" column="remark"/>
            </resultMap>
    
    <sql id="selectCxScheduleTaskTimeVo">
        select id, schedule_date, cx_order_no, machine_code, product_order, estimate_start_time, estimate_end_time, data_source, create_by, create_time, update_by, update_time, del_flag, remark from t_cx_schedule_task_time
    </sql>

    <select id="selectCxScheduleTaskTimeList" parameterType="com.zlt.aps.cx.api.domain.entity.CxScheduleTaskTime" resultMap="CxScheduleTaskTimeResult">
        <include refid="selectCxScheduleTaskTimeVo"/>
        <where>
            del_flag = '0'
        <if test="scheduleDate != null "> and schedule_date = #{scheduleDate}</if>
        <if test="cxOrderNo != null  and cxOrderNo != ''"> and cx_order_no = #{cxOrderNo}</if>
        <if test="machineCode != null  and machineCode != ''"> and machine_code = #{machineCode}</if>
        <if test="productOrder != null "> and product_order = #{productOrder}</if>
        <if test="estimateStartTime != null "> and estimate_start_time = #{estimateStartTime}</if>
        <if test="estimateEndTime != null "> and estimate_end_time = #{estimateEndTime}</if>
        <if test="dataSource != null  and dataSource != ''"> and data_source = #{dataSource}</if>
        </where>
    </select>

    <select id="selectCxScheduleTaskTimeById" parameterType="Long" resultMap="CxScheduleTaskTimeResult">
                    <include refid="selectCxScheduleTaskTimeVo"/>
            where id = #{id}
            </select>

    <insert id="insertCxScheduleTaskTime" parameterType="com.zlt.aps.cx.api.domain.entity.CxScheduleTaskTime">
                    <selectKey keyProperty="id" resultType="long" order="BEFORE">
                SELECT seq_cx_schedule_task_time.NEXTVAL as id FROM DUAL
            </selectKey>
                insert into t_cx_schedule_task_time
        <trim prefix="(" suffix=")" suffixOverrides=",">
                            <if test="id != null">id,</if>
                            <if test="scheduleDate != null">schedule_date,</if>
                            <if test="cxOrderNo != null">cx_order_no,</if>
                            <if test="machineCode != null">machine_code,</if>
                            <if test="productOrder != null">product_order,</if>
                            <if test="estimateStartTime != null">estimate_start_time,</if>
                            <if test="estimateEndTime != null">estimate_end_time,</if>
                            <if test="dataSource != null">data_source,</if>
                            <if test="createBy != null">create_by,</if>
                            <if test="createTime != null">create_time,</if>
                            <if test="updateBy != null">update_by,</if>
                            <if test="updateTime != null">update_time,</if>
                            <if test="delFlag != null">del_flag,</if>
                            <if test="remark != null">remark,</if>
                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                            <if test="id != null">#{id},</if>
                            <if test="scheduleDate != null">#{scheduleDate},</if>
                            <if test="cxOrderNo != null">#{cxOrderNo},</if>
                            <if test="machineCode != null">#{machineCode},</if>
                            <if test="productOrder != null">#{productOrder},</if>
                            <if test="estimateStartTime != null">#{estimateStartTime},</if>
                            <if test="estimateEndTime != null">#{estimateEndTime},</if>
                            <if test="dataSource != null">#{dataSource},</if>
                            <if test="createBy != null">#{createBy},</if>
                            <if test="createTime != null">#{createTime},</if>
                            <if test="updateBy != null">#{updateBy},</if>
                            <if test="updateTime != null">#{updateTime},</if>
                            <if test="delFlag != null">#{delFlag},</if>
                            <if test="remark != null">#{remark},</if>
                    </trim>
    </insert>


    <insert id="batchInsertCxScheduleTaskTime" parameterType="list">
        insert into t_cx_schedule_task_time (
        id,
        schedule_date,
        cx_order_no,
        machine_code,
        product_order,
        estimate_start_time,
        estimate_end_time,
        data_source,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
        )
        select seq_cx_schedule_task_time.NEXTVAL AS ID, x.*
        from (
        <foreach collection="list" item="taskTime" separator=" union ">
            select
            #{taskTime.scheduleDate},
            #{taskTime.cxOrderNo,jdbcType=VARCHAR},
            #{taskTime.machineCode,jdbcType=VARCHAR},
            #{taskTime.productOrder,jdbcType=INTEGER},
            #{taskTime.estimateStartTime,jdbcType=DATE},
            #{taskTime.estimateEndTime,jdbcType=DATE},
            #{taskTime.dataSource,jdbcType=VARCHAR},
            #{taskTime.createBy,jdbcType=VARCHAR},
            #{taskTime.createTime,jdbcType=DATE},
            #{taskTime.updateBy,jdbcType=VARCHAR},
            #{taskTime.updateTime,jdbcType=DATE},
            #{taskTime.remark,jdbcType=VARCHAR}
            from dual
        </foreach>
        ) x
    </insert>


    <update id="updateCxScheduleTaskTime" parameterType="com.zlt.aps.cx.api.domain.entity.CxScheduleTaskTime">
        update t_cx_schedule_task_time
        <trim prefix="SET" suffixOverrides=",">
            <if test="scheduleDate != null">schedule_date = #{scheduleDate},</if>
            <if test="cxOrderNo != null">cx_order_no = #{cxOrderNo},</if>
            <if test="machineCode != null">machine_code = #{machineCode},</if>
            <if test="productOrder != null">product_order = #{productOrder},</if>
            <if test="estimateStartTime != null">estimate_start_time = #{estimateStartTime},</if>
            <if test="estimateEndTime != null">estimate_end_time = #{estimateEndTime},</if>
            <if test="dataSource != null">data_source = #{dataSource},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCxScheduleTaskTimeById" parameterType="Long">
        update t_cx_schedule_task_time set del_flag='1' where id = #{id}
    </delete>

    <delete id="deleteCxScheduleTaskTimeByScheduleDate" parameterType="String">
        update t_cx_schedule_task_time set del_flag='1'
        <where>
            del_flag='0'
            and schedule_date=to_date(#{scheduleDate},'yyyyMMdd')
        </where>
    </delete>

    <delete id="deleteCxScheduleTaskTimeByIds" parameterType="String">
        update t_cx_schedule_task_time set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <update id="mergeSql" parameterType="list">
        merge into t_cx_schedule_task_time a USING (
        <foreach collection="list" item="item" separator=" union ">
            select
             #{item.id, jdbcType=DOUBLE} id,
             #{item.scheduleDate, jdbcType=DATE} schedule_date,
             #{item.cxOrderNo,jdbcType=VARCHAR} cx_order_no,
             #{item.machineCode,jdbcType=VARCHAR} machine_code,
             #{item.productOrder, jdbcType=DOUBLE} product_order,
             #{item.estimateStartTime, jdbcType=DATE} estimate_start_time,
             #{item.estimateEndTime, jdbcType=DATE} estimate_end_time,
             #{item.dataSource,jdbcType=VARCHAR} data_source,
             #{item.createBy,jdbcType=VARCHAR} create_by,
             #{item.createTime, jdbcType=DATE} create_time,
             #{item.updateBy,jdbcType=VARCHAR} update_by,
             #{item.updateTime, jdbcType=DATE} update_time,
             #{item.delFlag,jdbcType=VARCHAR} del_flag,
             #{item.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.cx_order_no=b.cx_order_no
        AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE
        <set>
            a.schedule_date = b.schedule_date,
            a.product_order = b.product_order,
            a.estimate_start_time = b.estimate_start_time,
            a.estimate_end_time = b.estimate_end_time,
            a.update_by = sysdate,
            a.update_time = sysdate,
            a.remark = b.remark
        </set>
        WHEN NOT MATCHED THEN
        INSERT (
        a.id,
        a.schedule_date,
        a.cx_order_no,
        a.machine_code,
        a.product_order,
        a.estimate_start_time,
        a.estimate_end_time,
        a.data_source,
        a.create_by,
        a.create_time,
        a.del_flag,
        a.remark
        )
        values (
        SEQ_CX_SCHEDULE_TASK_TIME.NEXTVAL,
        b.schedule_date,
        b.cx_order_no,
        b.machine_code,
        b.product_order,
        b.estimate_start_time,
        b.estimate_end_time,
        b.data_source,
        b.create_by,
        sysdate,
        0,
        b.remark
        )
    </update>
</mapper>