<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.mps.mapper.MesDayFinishTotalMapper">
    <!-- 获取中间表胎面日完成量指定版本数据 -->
    <select id="getTmDayFinishByDataVersion" resultType="com.zlt.aps.mps.domain.TTmDayFinishQty">
        SELECT SCHEDULE_DATE,
               TREAD_CODE,
               FINISH_QTY DAY_FINISH_QTY
          FROM T_MES_TM_DAY_FINISH_TOTAL
         WHERE DATA_VERSION = #{dataVersion,jdbcType=VARCHAR}
           AND IS_DELETE = 0
    </select>
    <!-- 获取中间表胎侧日完成量指定版本数据 -->
    <select id="getTcDayFinishByDataVersion" resultType="com.zlt.aps.mps.domain.TTcDayFinishQty">
        SELECT SCHEDULE_DATE,
               SIDEWALL_CODE,
               FINISH_QTY DAY_FINISH_QTY
          FROM T_MES_TC_DAY_FINISH_TOTAL
         WHERE DATA_VERSION = #{dataVersion,jdbcType=VARCHAR}
           AND IS_DELETE = 0
    </select>
    <!-- 获取中间表胎圈日完成量指定版本数据 -->
    <select id="getTqDayFinishByDataVersion" resultType="com.zlt.aps.mps.domain.TTqDayFinishQty">
        SELECT SCHEDULE_DATE,
               BEAD_CODE,
               FINISH_QTY DAY_FINISH_QTY
          FROM T_MES_TQ_DAY_FINISH_TOTAL
         WHERE DATA_VERSION = #{dataVersion,jdbcType=VARCHAR}
           AND IS_DELETE = 0
    </select>
    <!-- 获取中间表钢丝圈日完成量指定版本数据 -->
    <select id="getGsqDayFinishByDataVersion" resultType="com.zlt.aps.mps.domain.TGsqDayFinishQty">
        SELECT SCHEDULE_DATE,
               STEEL_RING_CODE,
               FINISH_QTY DAY_FINISH_QTY
          FROM T_MES_GSQ_DAY_FINISH_TOTAL
         WHERE DATA_VERSION = #{dataVersion,jdbcType=VARCHAR}
           AND IS_DELETE = 0
    </select>
    <!-- 获取中间表内衬日完成量指定版本数据 -->
    <select id="getNcDayFinishByDataVersion" resultType="com.zlt.aps.mps.domain.TNcDayFinishQty">
        SELECT SCHEDULE_DATE,
               LINING_CODE,
               FINISH_QTY DAY_FINISH_QTY
          FROM T_MES_NC_DAY_FINISH_TOTAL
         WHERE DATA_VERSION = #{dataVersion,jdbcType=VARCHAR}
           AND IS_DELETE = 0
    </select>
    <!-- 获取中间表15度裁断日完成量指定版本数据 -->
    <select id="getCd15DayFinishByDataVersion" resultType="com.zlt.aps.mps.domain.TCd15DayFinishQty">
        SELECT SCHEDULE_DATE,
               STEEL_STRIP_CODE,
               FINISH_QTY DAY_FINISH_QTY
          FROM T_MES_CD15_DAY_FINISH_TOTAL
         WHERE DATA_VERSION = #{dataVersion,jdbcType=VARCHAR}
           AND IS_DELETE = 0
    </select>
    <!-- 获取中间表90度裁断日完成量指定版本数据 -->
    <select id="getCd90DayFinishByDataVersion" resultType="com.zlt.aps.mps.domain.TCd90DayFinishQty">
        SELECT SCHEDULE_DATE,
               CLOTH_CODE,
               FINISH_QTY DAY_FINISH_QTY
          FROM T_MES_CD90_DAY_FINISH_TOTAL
         WHERE DATA_VERSION = #{dataVersion,jdbcType=VARCHAR}
           AND IS_DELETE = 0
    </select>
    <!-- 获取中间表纤维压延日完成量指定版本数据 -->
    <select id="getXwyyDayFinishByDataVersion" resultType="com.zlt.aps.mps.domain.TXwyyDayFinishQty">
        SELECT SCHEDULE_DATE,
               BIG_ROLL_CODE,
               FINISH_QTY DAY_FINISH_QTY
          FROM T_MES_XWYY_DAY_FINISH_TOTAL
         WHERE DATA_VERSION = #{dataVersion,jdbcType=VARCHAR}
           AND IS_DELETE = 0
    </select>

	<!-- 将胎面日完成量中间表数据同步至业务表 -->
    <update id="mergeTmDayFinish">
		MERGE INTO T_TM_DAY_FINISH_TOTAL a
		USING (SELECT * FROM T_MES_TM_DAY_FINISH_TOTAL WHERE DATA_VERSION = #{dataVersion}) b
		ON (a.SCHEDULE_DATE = b.SCHEDULE_DATE AND a.TREAD_CODE = b.TREAD_CODE)
		WHEN MATCHED THEN
		  UPDATE
              SET a.FINISH_QTY = NVL(b.FINISH_QTY, 0), a.UPDATE_TIME = now()
		   WHERE a.DEL_FLAG = '0'
		WHEN NOT MATCHED THEN
		  INSERT
		    (a.ID, a.SCHEDULE_DATE, a.TREAD_CODE, a.FINISH_QTY, a.CREATE_TIME, a.DEL_FLAG)
		  VALUES
		    (SEQ_CX_FINISH_QTY.NEXTVAL, b.SCHEDULE_DATE, b.TREAD_CODE, b.FINISH_QTY, b.CREATE_DATE, b.IS_DELETE)
    </update>
	<!-- 将胎侧日完成量中间表数据同步至业务表 -->
    <update id="mergeTcDayFinish">
		MERGE INTO T_TC_DAY_FINISH_TOTAL a
		USING (SELECT * FROM T_MES_TC_DAY_FINISH_TOTAL WHERE DATA_VERSION = #{dataVersion}) b
		ON (a.SCHEDULE_DATE = b.SCHEDULE_DATE AND a.SIDEWALL_CODE = b.SIDEWALL_CODE)
		WHEN MATCHED THEN
		  UPDATE
              SET a.FINISH_QTY = NVL(b.FINISH_QTY, 0), a.UPDATE_TIME = now()
		   WHERE a.DEL_FLAG = '0'
		WHEN NOT MATCHED THEN
		  INSERT
		    (a.ID, a.SCHEDULE_DATE, a.SIDEWALL_CODE, a.FINISH_QTY, a.CREATE_TIME, a.DEL_FLAG)
		  VALUES
		    (SEQ_CX_FINISH_QTY.NEXTVAL, b.SCHEDULE_DATE, b.SIDEWALL_CODE, b.FINISH_QTY, b.CREATE_DATE, b.IS_DELETE)
    </update>
	<!-- 将胎圈日完成量中间表数据同步至业务表 -->
    <update id="mergeTqDayFinish">
		MERGE INTO T_TQ_DAY_FINISH_TOTAL a
		USING (SELECT * FROM T_MES_TQ_DAY_FINISH_TOTAL WHERE DATA_VERSION = #{dataVersion}) b
		ON (a.SCHEDULE_DATE = b.SCHEDULE_DATE AND a.BEAD_CODE = b.BEAD_CODE)
		WHEN MATCHED THEN
		  UPDATE
              SET a.FINISH_QTY = NVL(b.FINISH_QTY, 0), a.UPDATE_TIME = now()
		   WHERE a.DEL_FLAG = '0'
		WHEN NOT MATCHED THEN
		  INSERT
		    (a.ID, a.SCHEDULE_DATE, a.BEAD_CODE, a.FINISH_QTY, a.CREATE_TIME, a.DEL_FLAG)
		  VALUES
		    (SEQ_CX_FINISH_QTY.NEXTVAL, b.SCHEDULE_DATE, b.BEAD_CODE, b.FINISH_QTY, b.CREATE_DATE, b.IS_DELETE)
    </update>
	<!-- 将钢丝圈日完成量中间表数据同步至业务表 -->
    <update id="mergeGsqDayFinish">
		MERGE INTO T_GSQ_DAY_FINISH_TOTAL a
		USING (SELECT * FROM T_MES_GSQ_DAY_FINISH_TOTAL WHERE DATA_VERSION = #{dataVersion}) b
		ON (a.SCHEDULE_DATE = b.SCHEDULE_DATE AND a.STEEL_RING_CODE = b.STEEL_RING_CODE)
		WHEN MATCHED THEN
		  UPDATE
              SET a.FINISH_QTY = NVL(b.FINISH_QTY, 0), a.UPDATE_TIME = now()
		   WHERE a.DEL_FLAG = '0'
		WHEN NOT MATCHED THEN
		  INSERT
		    (a.ID, a.SCHEDULE_DATE, a.STEEL_RING_CODE, a.FINISH_QTY, a.CREATE_TIME, a.DEL_FLAG)
		  VALUES
		    (SEQ_CX_FINISH_QTY.NEXTVAL, b.SCHEDULE_DATE, b.STEEL_RING_CODE, b.FINISH_QTY, b.CREATE_DATE, b.IS_DELETE)
    </update>
	<!-- 将内衬日完成量中间表数据同步至业务表 -->
    <update id="mergeNcDayFinish">
		MERGE INTO T_NC_DAY_FINISH_TOTAL a
		USING (SELECT * FROM T_MES_NC_DAY_FINISH_TOTAL WHERE DATA_VERSION = #{dataVersion}) b
		ON (a.SCHEDULE_DATE = b.SCHEDULE_DATE AND a.LINING_CODE = b.LINING_CODE)
		WHEN MATCHED THEN
		  UPDATE
              SET a.FINISH_QTY = NVL(b.FINISH_QTY, 0), a.UPDATE_TIME = now()
		   WHERE a.DEL_FLAG = '0'
		WHEN NOT MATCHED THEN
		  INSERT
		    (a.ID, a.SCHEDULE_DATE, a.LINING_CODE, a.FINISH_QTY, a.CREATE_TIME, a.DEL_FLAG)
		  VALUES
		    (SEQ_CX_FINISH_QTY.NEXTVAL, b.SCHEDULE_DATE, b.LINING_CODE, b.FINISH_QTY, b.CREATE_DATE, b.IS_DELETE)
    </update>
	<!-- 将15度裁断日完成量中间表数据同步至业务表 -->
    <update id="mergeCd15DayFinish">
		MERGE INTO T_CD15_DAY_FINISH_TOTAL a
		USING (SELECT * FROM T_MES_CD15_DAY_FINISH_TOTAL WHERE DATA_VERSION = #{dataVersion}) b
		ON (a.SCHEDULE_DATE = b.SCHEDULE_DATE AND a.STEEL_STRIP_CODE = b.STEEL_STRIP_CODE)
		WHEN MATCHED THEN
		  UPDATE
              SET a.FINISH_QTY = NVL(b.FINISH_QTY, 0), a.UPDATE_TIME = now()
		   WHERE a.DEL_FLAG = '0'
		WHEN NOT MATCHED THEN
		  INSERT
		    (a.ID, a.SCHEDULE_DATE, a.STEEL_STRIP_CODE, a.FINISH_QTY, a.CREATE_TIME, a.DEL_FLAG)
		  VALUES
		    (SEQ_CX_FINISH_QTY.NEXTVAL, b.SCHEDULE_DATE, b.STEEL_STRIP_CODE, b.FINISH_QTY, b.CREATE_DATE, b.IS_DELETE)
    </update>
	<!-- 将90度裁断日完成量中间表数据同步至业务表 -->
    <update id="mergeCd90DayFinish">
		MERGE INTO T_CD90_DAY_FINISH_TOTAL a
		USING (SELECT * FROM T_MES_CD90_DAY_FINISH_TOTAL WHERE DATA_VERSION = #{dataVersion}) b
		ON (a.SCHEDULE_DATE = b.SCHEDULE_DATE AND a.CLOTH_CODE = b.CLOTH_CODE)
		WHEN MATCHED THEN
		  UPDATE
              SET a.FINISH_QTY = NVL(b.FINISH_QTY, 0), a.UPDATE_TIME = now()
		   WHERE a.DEL_FLAG = '0'
		WHEN NOT MATCHED THEN
		  INSERT
		    (a.ID, a.SCHEDULE_DATE, a.CLOTH_CODE, a.FINISH_QTY, a.CREATE_TIME, a.DEL_FLAG)
		  VALUES
		    (SEQ_CX_FINISH_QTY.NEXTVAL, b.SCHEDULE_DATE, b.CLOTH_CODE, b.FINISH_QTY, b.CREATE_DATE, b.IS_DELETE)
    </update>
	<!-- 将纤维压延断日完成量中间表数据同步至业务表 -->
    <update id="mergeXwyyDayFinish">
		MERGE INTO T_XWYY_DAY_FINISH_TOTAL a
		USING (SELECT * FROM T_MES_XWYY_DAY_FINISH_TOTAL WHERE DATA_VERSION = #{dataVersion}) b
		ON (a.SCHEDULE_DATE = b.SCHEDULE_DATE AND a.BIG_ROLL_CODE = b.BIG_ROLL_CODE)
		WHEN MATCHED THEN
		  UPDATE
              SET a.FINISH_QTY = NVL(b.FINISH_QTY, 0), a.UPDATE_TIME = now()
		   WHERE a.DEL_FLAG = '0'
		WHEN NOT MATCHED THEN
		  INSERT
		    (a.ID, a.SCHEDULE_DATE, a.BIG_ROLL_CODE, a.FINISH_QTY, a.CREATE_TIME, a.DEL_FLAG)
		  VALUES
		    (SEQ_CX_FINISH_QTY.NEXTVAL, b.SCHEDULE_DATE, b.BIG_ROLL_CODE, b.FINISH_QTY, b.CREATE_DATE, b.IS_DELETE)
    </update>

    <!-- 取出胎面整个月的完成量，按物料号统计 -->
    <select id="selectTmByScheduleDate" resultType="com.zlt.aps.mps.domain.TTmDayFinishQty">
        SELECT tread_code, sum(FINISH_QTY) day_finish_qty
          FROM T_TM_DAY_FINISH_TOTAL
         WHERE SCHEDULE_DATE BETWEEN to_date(#{scheduleMonth}, 'yyyy-mm' ) AND
               last_day( to_date(#{scheduleMonth}, 'yyyy-mm' ) )
           AND del_flag = '0'
         GROUP BY tread_code
    </select>
    <!-- 取出胎侧整个月的完成量，按物料号统计 -->
    <select id="selectTcByScheduleDate" resultType="com.zlt.aps.mps.domain.TTcDayFinishQty">
        SELECT SIDEWALL_CODE, sum(FINISH_QTY) day_finish_qty
          FROM T_TC_DAY_FINISH_TOTAL
         WHERE SCHEDULE_DATE BETWEEN to_date(#{scheduleMonth}, 'yyyy-mm' ) AND
               last_day( to_date(#{scheduleMonth}, 'yyyy-mm' ) )
           AND del_flag = '0'
         GROUP BY SIDEWALL_CODE
    </select>
    <!-- 取出胎圈整个月的完成量，按物料号统计 -->
    <select id="selectTqByScheduleDate" resultType="com.zlt.aps.mps.domain.TTqDayFinishQty">
        SELECT BEAD_CODE, sum(FINISH_QTY) day_finish_qty
          FROM T_TQ_DAY_FINISH_TOTAL
         WHERE SCHEDULE_DATE BETWEEN to_date(#{scheduleMonth}, 'yyyy-mm' ) AND
               last_day( to_date(#{scheduleMonth}, 'yyyy-mm' ) )
           AND del_flag = '0'
         GROUP BY BEAD_CODE
    </select>
    <!-- 取出钢丝圈整个月的完成量，按物料号统计 -->
    <select id="selectGsqByScheduleDate" resultType="com.zlt.aps.mps.domain.TGsqDayFinishQty">
        SELECT STEEL_RING_CODE, sum(FINISH_QTY) day_finish_qty
          FROM T_GSQ_DAY_FINISH_TOTAL
         WHERE SCHEDULE_DATE BETWEEN to_date(#{scheduleMonth}, 'yyyy-mm' ) AND
               last_day( to_date(#{scheduleMonth}, 'yyyy-mm' ) )
           AND del_flag = '0'
         GROUP BY STEEL_RING_CODE
    </select>
    <!-- 取出内衬整个月的完成量，按物料号统计 -->
    <select id="selectNcByScheduleDate" resultType="com.zlt.aps.mps.domain.TNcDayFinishQty">
        SELECT LINING_CODE, sum(FINISH_QTY) day_finish_qty
          FROM T_NC_DAY_FINISH_TOTAL
         WHERE SCHEDULE_DATE BETWEEN to_date(#{scheduleMonth}, 'yyyy-mm' ) AND
               last_day( to_date(#{scheduleMonth}, 'yyyy-mm' ) )
           AND del_flag = '0'
         GROUP BY LINING_CODE
    </select>
    <!-- 取出15度裁断整个月的完成量，按物料号统计 -->
    <select id="selectCd15ByScheduleDate" resultType="com.zlt.aps.mps.domain.TCd15DayFinishQty">
        SELECT STEEL_STRIP_CODE, sum(FINISH_QTY) day_finish_qty
          FROM T_CD15_DAY_FINISH_TOTAL
         WHERE SCHEDULE_DATE BETWEEN to_date(#{scheduleMonth}, 'yyyy-mm' ) AND
               last_day( to_date(#{scheduleMonth}, 'yyyy-mm' ) )
           AND del_flag = '0'
         GROUP BY STEEL_STRIP_CODE
    </select>
    <!-- 取出90度裁断整个月的完成量，按物料号统计 -->
    <select id="selectCd90ByScheduleDate" resultType="com.zlt.aps.mps.domain.TCd90DayFinishQty">
        SELECT CLOTH_CODE, sum(FINISH_QTY) day_finish_qty
          FROM T_CD90_DAY_FINISH_TOTAL
         WHERE SCHEDULE_DATE BETWEEN to_date(#{scheduleMonth}, 'yyyy-mm' ) AND
               last_day( to_date(#{scheduleMonth}, 'yyyy-mm' ) )
           AND del_flag = '0'
         GROUP BY CLOTH_CODE
    </select>
    <!-- 取出纤维压延整个月的完成量，按物料号统计 -->
    <select id="selectXwyyByScheduleDate" resultType="com.zlt.aps.mps.domain.TXwyyDayFinishQty">
        SELECT BIG_ROLL_CODE, sum(FINISH_QTY) day_finish_qty
          FROM T_XWYY_DAY_FINISH_TOTAL
         WHERE SCHEDULE_DATE BETWEEN to_date(#{scheduleMonth}, 'yyyy-mm' ) AND
               last_day( to_date(#{scheduleMonth}, 'yyyy-mm' ) )
           AND del_flag = '0'
         GROUP BY BIG_ROLL_CODE
    </select>

    <!-- 查询各工序班次完成量 -->
    <select id="listMesClassFinishQty" resultType="com.zlt.aps.mps.domain.ClassFinishQty">
    	SELECT PROCEDURE_CODE,
    		   QUERY_CODE,
    		   FINISH_DATE,
    		   SAP_CODE,
    		   MATERIAL_CODE,
    		   FINISH_QTY
    	  FROM T_MES_CLASS_FINISH_QTY
         WHERE DATA_VERSION = #{dataVersion,jdbcType=VARCHAR}
    </select>

    <!-- 更新查询各工序班次完成量 -->
    <update id="mergeClassFinishQty">
		MERGE INTO T_CLASS_FINISH_QTY a
		USING (
        <foreach collection="list" item="finishQty" separator=" union ">
			SELECT #{finishQty.procedureCode,jdbcType=VARCHAR} PROCEDURE_CODE,
			       #{finishQty.finishDate,jdbcType=DATE} SCHEDULE_DATE,
			       #{finishQty.materialCode,jdbcType=DATE} MATERIAL_CODE,
			       #{finishQty.class1FinishQty,jdbcType=DOUBLE} CLASS1_FINISH_QTY,
			       #{finishQty.class2FinishQty,jdbcType=DOUBLE} CLASS2_FINISH_QTY,
			       #{finishQty.class3FinishQty,jdbcType=DOUBLE} CLASS3_FINISH_QTY
			  FROM dual
		</foreach>
		) b
		ON (a.SCHEDULE_DATE = b.SCHEDULE_DATE AND a.MATERIAL_CODE = b.MATERIAL_CODE AND a.PROCEDURE_CODE = b.PROCEDURE_CODE AND a.DEL_FLAG = '0')
		WHEN MATCHED THEN
		  UPDATE
		     SET
		     a.CLASS1_FINISH_QTY = nvl(b.CLASS1_FINISH_QTY, a.CLASS1_FINISH_QTY),
		     a.CLASS2_FINISH_QTY = nvl(b.CLASS2_FINISH_QTY, a.CLASS2_FINISH_QTY),
		     a.CLASS3_FINISH_QTY = nvl(b.CLASS3_FINISH_QTY, a.CLASS3_FINISH_QTY),
        a.UPDATE_TIME = now()
		WHEN NOT MATCHED THEN
		  INSERT
		    (a.ID, a.PROCEDURE_CODE, a.SCHEDULE_DATE, a.MATERIAL_CODE, a.CLASS1_FINISH_QTY, a.CLASS2_FINISH_QTY, a.CLASS3_FINISH_QTY, a.CREATE_TIME, a.DEL_FLAG)
		  VALUES
        (get_sequence_nextval('SEQ_CLASS_FINISH_QTY'), b.PROCEDURE_CODE, b.SCHEDULE_DATE, b.MATERIAL_CODE,
        b.CLASS1_FINISH_QTY, b.CLASS2_FINISH_QTY, b.CLASS3_FINISH_QTY, now(), '0')
    </update>
</mapper>
