<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.mps.mapper.MesLhMoldAdjustPlanMapper">
	<!-- 判断是否有数据 -->
    <select id="checkHasData" resultType="int">
    	SELECT COUNT(1)
    	  FROM T_MES_LH_MOLD_ADJUST_PLAN
         WHERE DATA_VERSION = #{dataVersion}
    </select>
    
    <!-- 删除无效数据 -->
    <update id="deleteData">
		UPDATE T_LH_MOLD_ADJUST_PLAN A
		   SET DEL_FLAG = '1', UPDATE_TIME = SYSDATE, UPDATE_BY = NULL
		 WHERE EXISTS (SELECT 1
		          FROM T_MES_LH_MOLD_ADJUST_PLAN B
		         WHERE B.DATA_VERSION = #{dataVersion}
		           AND B.IS_DELETE = 1
		           AND B.ORDER_NO = A.ORDER_NO)
    </update>
    
	<!-- 合并有效数据 -->
    <update id="mergeData">
		MERGE INTO T_LH_MOLD_ADJUST_PLAN A
		USING (SELECT *
		         FROM T_MES_LH_MOLD_ADJUST_PLAN
		        WHERE DATA_VERSION = #{dataVersion}
		          AND IS_DELETE = 0) B
		ON (A.ORDER_NO = B.ORDER_NO AND A.DEL_FLAG = '0')
		WHEN MATCHED THEN
		  UPDATE
		     SET A.TYPE = B.TYPE,
		         A.LH_MACHINE_CODE        = B.LH_MACHINE_CODE,
		         A.PLAN_DATE              = B.PLAN_DATE,
		         A.CHANGE_MOLD_TIME       = B.CHANGE_MOLD_TIME,
		         A.MOLD_STATUS            = B.MOLD_STATUS,
		         A.AUDIT_STATUS           = B.AUDIT_STATUS,
		         A.PROCESS                = B.PROCESS,
		         A.EXECUTION_STATUS       = B.EXECUTION_STATUS,
		         A.BEGIN_TIME             = B.BEGIN_TIME,
		         A.FINISH_TIME            = B.FINISH_TIME,
		         A.LEFT_SAP_CODE          = B.LEFT_SAP_CODE,
		         A.RIGHT_SAP_CODE         = B.RIGHT_SAP_CODE,
		         A.LEFT_EMBRYO_SAP_CODE   = B.LEFT_EMBRYO_SAP_CODE,
		         A.RIGHT_EMBRYO_SAP_CODE  = B.RIGHT_EMBRYO_SAP_CODE,
		         A.LEFT_SPEC_DESC         = B.LEFT_SPEC_DESC,
		         A.RIGHT_SPEC_DESC        = B.RIGHT_SPEC_DESC,
		         A.LEFT_BEFORE_SPEC_DESC  = B.LEFT_BEFORE_SPEC_DESC,
		         A.RIGHT_BEFORE_SPEC_DESC = B.RIGHT_BEFORE_SPEC_DESC,
		         A.LEFT_EMBRYO_CODE       = B.LEFT_EMBRYO_CODE,
		         A.RIGHT_EMBRYO_CODE      = B.RIGHT_EMBRYO_CODE,
		         A.LEFT_STREAM            = B.LEFT_STREAM,
		         A.RIGHT_STREAM           = B.RIGHT_STREAM,
		         A.LEFT_MOLD_INFO         = B.LEFT_MOLD_INFO,
		         A.RIGHT_MOLD_INFO        = B.RIGHT_MOLD_INFO,
		         A.MOLD_ASSEMBLER         = B.MOLD_ASSEMBLER,
		         A.MOLD_ASSEMBLE_TIME     = B.MOLD_ASSEMBLE_TIME,
		         A.AUDITOR                = B.AUDITOR,
		         A.AUDIT_TIME             = B.AUDIT_TIME,
		         A.AUDIT_SUGGEST          = B.AUDIT_SUGGEST,
		         
		         A.REMARK      = B.REMARK,
		         A.UPDATE_TIME = SYSDATE
		WHEN NOT MATCHED THEN
		  INSERT
		    (A.ID,
		     A.ORDER_NO,
		     A.TYPE,
		     A.LH_MACHINE_CODE,
		     A.PLAN_DATE,
		     A.CHANGE_MOLD_TIME,
		     A.MOLD_STATUS,
		     A.AUDIT_STATUS,
		     A.PROCESS,
		     A.EXECUTION_STATUS,
		     A.BEGIN_TIME,
		     A.FINISH_TIME,
		     A.LEFT_SAP_CODE,
		     A.RIGHT_SAP_CODE,
		     A.LEFT_EMBRYO_SAP_CODE,
		     A.RIGHT_EMBRYO_SAP_CODE,
		     A.LEFT_SPEC_DESC,
		     A.RIGHT_SPEC_DESC,
		     A.LEFT_BEFORE_SPEC_DESC,
		     A.RIGHT_BEFORE_SPEC_DESC,
		     A.LEFT_EMBRYO_CODE,
		     A.RIGHT_EMBRYO_CODE,
		     A.LEFT_STREAM,
		     A.RIGHT_STREAM,
		     A.LEFT_MOLD_INFO,
		     A.RIGHT_MOLD_INFO,
		     A.MOLD_ASSEMBLER,
		     A.MOLD_ASSEMBLE_TIME,
		     A.AUDITOR,
		     A.AUDIT_TIME,
		     A.AUDIT_SUGGEST,
		     A.CREATE_TIME,
		     A.DEL_FLAG,
		     A.REMARK)
		  VALUES
		    (SEQ_LH_MOLD_ADJUST_PLAN.NEXTVAL,
		     B.ORDER_NO,
		     B.TYPE,
		     B.LH_MACHINE_CODE,
		     B.PLAN_DATE,
		     B.CHANGE_MOLD_TIME,
		     B.MOLD_STATUS,
		     B.AUDIT_STATUS,
		     B.PROCESS,
		     B.EXECUTION_STATUS,
		     B.BEGIN_TIME,
		     B.FINISH_TIME,
		     B.LEFT_SAP_CODE,
		     B.RIGHT_SAP_CODE,
		     B.LEFT_EMBRYO_SAP_CODE,
		     B.RIGHT_EMBRYO_SAP_CODE,
		     B.LEFT_SPEC_DESC,
		     B.RIGHT_SPEC_DESC,
		     B.LEFT_BEFORE_SPEC_DESC,
		     B.RIGHT_BEFORE_SPEC_DESC,
		     B.LEFT_EMBRYO_CODE,
		     B.RIGHT_EMBRYO_CODE,
		     B.LEFT_STREAM,
		     B.RIGHT_STREAM,
		     B.LEFT_MOLD_INFO,
		     B.RIGHT_MOLD_INFO,
		     B.MOLD_ASSEMBLER,
		     B.MOLD_ASSEMBLE_TIME,
		     B.AUDITOR,
		     B.AUDIT_TIME,
		     B.AUDIT_SUGGEST,
		     SYSDATE,
		     '0',
		     B.REMARK)
    </update>

</mapper>