<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.mps.mapper.TCxClassShiftFinishQtyMapper">

    <resultMap id="BaseResultMap" type="com.zlt.aps.mps.domain.TCxClassShiftFinishQty">
        <id property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="orderNo" column="ORDER_NO" jdbcType="VARCHAR"/>
        <result property="scheduleDate" column="SCHEDULE_DATE" jdbcType="TIMESTAMP"/>
        <result property="cxMachineCode" column="CX_MACHINE_CODE" jdbcType="VARCHAR"/>
        <result property="sapCode" column="SAP_CODE" jdbcType="VARCHAR"/>
        <result property="embryoCode" column="EMBRYO_CODE" jdbcType="VARCHAR"/>
        <result property="class1FinishQty" column="CLASS1_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="class2FinishQty" column="CLASS2_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="class3FinishQty" column="CLASS3_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="class4FinishQty" column="CLASS4_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="class5FinishQty" column="CLASS5_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="delFlag" column="DEL_FLAG" jdbcType="CHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="sapClass1FinishQty" column="SAP_CLASS1_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="sapClass2FinishQty" column="SAP_CLASS2_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="sapClass3FinishQty" column="SAP_CLASS3_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="sapClass4FinishQty" column="SAP_CLASS4_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="sapClass5FinishQty" column="SAP_CLASS5_FINISH_QTY" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,ORDER_NO,SCHEDULE_DATE,
        CX_MACHINE_CODE,SAP_CODE,EMBRYO_CODE,
        CLASS1_FINISH_QTY,CLASS2_FINISH_QTY,CLASS3_FINISH_QTY,
        CLASS4_FINISH_QTY,CLASS5_FINISH_QTY,REMARK,
        DEL_FLAG,CREATE_BY,CREATE_TIME,
        UPDATE_BY,UPDATE_TIME,SAP_CLASS1_FINISH_QTY,
        SAP_CLASS2_FINISH_QTY,SAP_CLASS3_FINISH_QTY,SAP_CLASS4_FINISH_QTY,
        SAP_CLASS5_FINISH_QTY
    </sql>

    <resultMap id="LhClassResultMap" type="com.zlt.aps.mps.domain.TLhClassShiftFinishQty">
        <id property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="orderNo" column="ORDER_NO" jdbcType="VARCHAR"/>
        <result property="scheduleDate" column="SCHEDULE_DATE" jdbcType="TIMESTAMP"/>
        <result property="lhMachineCode" column="LH_MACHINE_CODE" jdbcType="VARCHAR"/>
        <result property="sapCode" column="SAP_CODE" jdbcType="VARCHAR"/>
        <result property="class1FinishQty" column="CLASS1_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="class2FinishQty" column="CLASS2_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="class3FinishQty" column="CLASS3_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="delFlag" column="DEL_FLAG" jdbcType="CHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Lh_Column_List">
        ID,ORDER_NO,SCHEDULE_DATE,
        LH_MACHINE_CODE,SAP_CODE,CLASS1_FINISH_QTY,
        CLASS2_FINISH_QTY,CLASS3_FINISH_QTY,REMARK,
        DEL_FLAG,CREATE_BY,CREATE_TIME,
        UPDATE_BY,UPDATE_TIME
    </sql>

    <resultMap id="MesCxClassResultMap" type="com.zlt.aps.mps.domain.TMesCxShiftFinishQty">
        <id property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="orderNo" column="ORDER_NO" jdbcType="VARCHAR"/>
        <result property="scheduleDate" column="SCHEDULE_DATE" jdbcType="TIMESTAMP"/>
        <result property="cxMachineCode" column="CX_MACHINE_CODE" jdbcType="VARCHAR"/>
        <result property="sapCode" column="SAP_CODE" jdbcType="VARCHAR"/>
        <result property="sapClass1FinishQty" column="SAP_CLASS1_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="sapClass2FinishQty" column="SAP_CLASS2_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="sapClass3FinishQty" column="SAP_CLASS3_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="sapClass4FinishQty" column="SAP_CLASS4_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="sapClass5FinishQty" column="SAP_CLASS5_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="embryoCode" column="EMBRYO_CODE" jdbcType="VARCHAR"/>
        <result property="class1FinishQty" column="CLASS1_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="class2FinishQty" column="CLASS2_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="class3FinishQty" column="CLASS3_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="class4FinishQty" column="CLASS4_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="class5FinishQty" column="CLASS5_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="dataVersion" column="DATA_VERSION" jdbcType="VARCHAR"/>
        <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="UPDATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="IS_DELETE" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Mes_Cx_Column_List">
        ID,ORDER_NO,SCHEDULE_DATE,
        CX_MACHINE_CODE,SAP_CODE,SAP_CLASS1_FINISH_QTY,
        SAP_CLASS2_FINISH_QTY,SAP_CLASS3_FINISH_QTY,SAP_CLASS4_FINISH_QTY,
        SAP_CLASS5_FINISH_QTY,EMBRYO_CODE,CLASS1_FINISH_QTY,
        CLASS2_FINISH_QTY,CLASS3_FINISH_QTY,CLASS4_FINISH_QTY,
        CLASS5_FINISH_QTY,REMARK,DATA_VERSION,
        CREATE_DATE,UPDATE_DATE,IS_DELETE
    </sql>


    <resultMap id="MesLhClassResultMap" type="com.zlt.aps.mps.domain.TMesLhShiftFinishQty">
        <id property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="orderNo" column="ORDER_NO" jdbcType="VARCHAR"/>
        <result property="scheduleDate" column="SCHEDULE_DATE" jdbcType="TIMESTAMP"/>
        <result property="lhMachineCode" column="LH_MACHINE_CODE" jdbcType="VARCHAR"/>
        <result property="sapCode" column="SAP_CODE" jdbcType="VARCHAR"/>
        <result property="class1FinishQty" column="CLASS1_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="class2FinishQty" column="CLASS2_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="class3FinishQty" column="CLASS3_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="dataVersion" column="DATA_VERSION" jdbcType="VARCHAR"/>
        <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="UPDATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="IS_DELETE" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Mes_Lh_Column_List">
        ID,ORDER_NO,SCHEDULE_DATE,
        LH_MACHINE_CODE,SAP_CODE,CLASS1_FINISH_QTY,
        CLASS2_FINISH_QTY,CLASS3_FINISH_QTY,REMARK,
        DATA_VERSION,CREATE_DATE,UPDATE_DATE,
        IS_DELETE
    </sql>

    <resultMap id="CxMesDayFinishResultMap" type="com.zlt.aps.mps.domain.TMesCxDayFinishQty">
        <id property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="finishDate" column="FINISH_DATE" jdbcType="TIMESTAMP"/>
        <result property="embryoCode" column="EMBRYO_CODE" jdbcType="VARCHAR"/>
        <result property="sapCode" column="SAP_CODE" jdbcType="VARCHAR"/>
        <result property="bomDataVersion" column="BOM_DATA_VERSION" jdbcType="VARCHAR"/>
        <result property="dayFinishQty" column="DAY_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="companyCode" column="COMPANY_CODE" jdbcType="VARCHAR"/>
        <result property="factoryCode" column="FACTORY_CODE" jdbcType="VARCHAR"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="dataVersion" column="DATA_VERSION" jdbcType="VARCHAR"/>
        <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="UPDATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="IS_DELETE" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="CxDayFinishResultMap" type="com.zlt.aps.mps.domain.TCxDayFinishQty">
        <id property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="finishDate" column="FINISH_DATE" jdbcType="TIMESTAMP"/>
        <result property="embryoCode" column="EMBRYO_CODE" jdbcType="VARCHAR"/>
        <result property="sapCode" column="SAP_CODE" jdbcType="VARCHAR"/>
        <result property="bomDataVersion" column="BOM_DATA_VERSION" jdbcType="VARCHAR"/>
        <result property="dayFinishQty" column="DAY_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="companyCode" column="COMPANY_CODE" jdbcType="VARCHAR"/>
        <result property="factoryCode" column="FACTORY_CODE" jdbcType="VARCHAR"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="dataVersion" column="DATA_VERSION" jdbcType="VARCHAR"/>
        <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="UPDATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="IS_DELETE" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Cx_Day_Finish_Column_List">
        ID,FINISH_DATE,EMBRYO_CODE,
        SAP_CODE,BOM_DATA_VERSION,DAY_FINISH_QTY,
        COMPANY_CODE,FACTORY_CODE,REMARK,
        DATA_VERSION,CREATE_DATE,UPDATE_DATE,
        IS_DELETE
    </sql>

    <resultMap id="LhMesDayFinishResultMap" type="com.zlt.aps.mps.domain.TMesLhDayFinishQty">
        <id property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="finishDate" column="FINISH_DATE" jdbcType="TIMESTAMP"/>
        <result property="sapCode" column="SAP_CODE" jdbcType="VARCHAR"/>
        <result property="dayFinishQty" column="DAY_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="companyCode" column="COMPANY_CODE" jdbcType="VARCHAR"/>
        <result property="factoryCode" column="FACTORY_CODE" jdbcType="VARCHAR"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="dataVersion" column="DATA_VERSION" jdbcType="VARCHAR"/>
        <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="UPDATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="IS_DELETE" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="LhDayFinishResultMap" type="com.zlt.aps.mps.domain.TLhDayFinishQty">
        <id property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="finishDate" column="FINISH_DATE" jdbcType="TIMESTAMP"/>
        <result property="sapCode" column="SAP_CODE" jdbcType="VARCHAR"/>
        <result property="dayFinishQty" column="DAY_FINISH_QTY" jdbcType="DECIMAL"/>
        <result property="companyCode" column="COMPANY_CODE" jdbcType="VARCHAR"/>
        <result property="factoryCode" column="FACTORY_CODE" jdbcType="VARCHAR"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="dataVersion" column="DATA_VERSION" jdbcType="VARCHAR"/>
        <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="UPDATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="IS_DELETE" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Lh_Day_Finish_Column_List">
        ID,FINISH_DATE,SAP_CODE,
        DAY_FINISH_QTY,COMPANY_CODE,FACTORY_CODE,
        REMARK,DATA_VERSION,CREATE_DATE,
        UPDATE_DATE,IS_DELETE
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from T_CX_CLASS_SHIFT_FINISH_QTY
        where  ID = #{id,jdbcType=DECIMAL} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from T_CX_CLASS_SHIFT_FINISH_QTY
        where  ID = #{id,jdbcType=DECIMAL} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zlt.aps.mps.domain.TCxClassShiftFinishQty" useGeneratedKeys="true">
        insert into T_CX_CLASS_SHIFT_FINISH_QTY
        ( ID,ORDER_NO,SCHEDULE_DATE
        ,CX_MACHINE_CODE,SAP_CODE,EMBRYO_CODE
        ,CLASS1_FINISH_QTY,CLASS2_FINISH_QTY,CLASS3_FINISH_QTY
        ,CLASS4_FINISH_QTY,CLASS5_FINISH_QTY,REMARK
        ,DEL_FLAG,CREATE_BY,CREATE_TIME
        ,UPDATE_BY,UPDATE_TIME)
        values (#{id,jdbcType=DECIMAL},#{orderNo,jdbcType=VARCHAR},#{scheduleDate,jdbcType=TIMESTAMP}
        ,#{cxMachineCode,jdbcType=VARCHAR},#{sapCode,jdbcType=VARCHAR},#{embryoCode,jdbcType=VARCHAR}
        ,#{class1FinishQty,jdbcType=DECIMAL},#{class2FinishQty,jdbcType=DECIMAL},#{class3FinishQty,jdbcType=DECIMAL}
        ,#{class4FinishQty,jdbcType=DECIMAL},#{class5FinishQty,jdbcType=DECIMAL},#{remark,jdbcType=VARCHAR}
        ,#{delFlag,jdbcType=CHAR},#{createBy,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}
        ,#{updateBy,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zlt.aps.mps.domain.TCxClassShiftFinishQty" useGeneratedKeys="true">
        insert into T_CX_CLASS_SHIFT_FINISH_QTY
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="orderNo != null">orderNo,</if>
                <if test="scheduleDate != null">scheduleDate,</if>
                <if test="cxMachineCode != null">cxMachineCode,</if>
                <if test="sapCode != null">sapCode,</if>
                <if test="embryoCode != null">embryoCode,</if>
                <if test="class1FinishQty != null">class1FinishQty,</if>
                <if test="class2FinishQty != null">class2FinishQty,</if>
                <if test="class3FinishQty != null">class3FinishQty,</if>
                <if test="class4FinishQty != null">class4FinishQty,</if>
                <if test="class5FinishQty != null">class5FinishQty,</if>
                <if test="remark != null">remark,</if>
                <if test="delFlag != null">delFlag,</if>
                <if test="createBy != null">createBy,</if>
                <if test="createTime != null">createTime,</if>
                <if test="updateBy != null">updateBy,</if>
                <if test="updateTime != null">updateTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">ID = #{id,jdbcType=DECIMAL},</if>
                <if test="orderNo != null">ORDER_NO = #{orderNo,jdbcType=VARCHAR},</if>
                <if test="scheduleDate != null">SCHEDULE_DATE = #{scheduleDate,jdbcType=TIMESTAMP},</if>
                <if test="cxMachineCode != null">CX_MACHINE_CODE = #{cxMachineCode,jdbcType=VARCHAR},</if>
                <if test="sapCode != null">SAP_CODE = #{sapCode,jdbcType=VARCHAR},</if>
                <if test="embryoCode != null">EMBRYO_CODE = #{embryoCode,jdbcType=VARCHAR},</if>
                <if test="class1FinishQty != null">CLASS1_FINISH_QTY = #{class1FinishQty,jdbcType=DECIMAL},</if>
                <if test="class2FinishQty != null">CLASS2_FINISH_QTY = #{class2FinishQty,jdbcType=DECIMAL},</if>
                <if test="class3FinishQty != null">CLASS3_FINISH_QTY = #{class3FinishQty,jdbcType=DECIMAL},</if>
                <if test="class4FinishQty != null">CLASS4_FINISH_QTY = #{class4FinishQty,jdbcType=DECIMAL},</if>
                <if test="class5FinishQty != null">CLASS5_FINISH_QTY = #{class5FinishQty,jdbcType=DECIMAL},</if>
                <if test="remark != null">REMARK = #{remark,jdbcType=VARCHAR},</if>
                <if test="delFlag != null">DEL_FLAG = #{delFlag,jdbcType=CHAR},</if>
                <if test="createBy != null">CREATE_BY = #{createBy,jdbcType=VARCHAR},</if>
                <if test="createTime != null">CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateBy != null">UPDATE_BY = #{updateBy,jdbcType=VARCHAR},</if>
                <if test="updateTime != null">UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zlt.aps.mps.domain.TCxClassShiftFinishQty">
        update T_CX_CLASS_SHIFT_FINISH_QTY
        <set>
                <if test="orderNo != null">
                    ORDER_NO = #{orderNo,jdbcType=VARCHAR},
                </if>
                <if test="scheduleDate != null">
                    SCHEDULE_DATE = #{scheduleDate,jdbcType=TIMESTAMP},
                </if>
                <if test="cxMachineCode != null">
                    CX_MACHINE_CODE = #{cxMachineCode,jdbcType=VARCHAR},
                </if>
                <if test="sapCode != null">
                    SAP_CODE = #{sapCode,jdbcType=VARCHAR},
                </if>
                <if test="embryoCode != null">
                    EMBRYO_CODE = #{embryoCode,jdbcType=VARCHAR},
                </if>
                <if test="class1FinishQty != null">
                    CLASS1_FINISH_QTY = #{class1FinishQty,jdbcType=DECIMAL},
                </if>
                <if test="class2FinishQty != null">
                    CLASS2_FINISH_QTY = #{class2FinishQty,jdbcType=DECIMAL},
                </if>
                <if test="class3FinishQty != null">
                    CLASS3_FINISH_QTY = #{class3FinishQty,jdbcType=DECIMAL},
                </if>
                <if test="class4FinishQty != null">
                    CLASS4_FINISH_QTY = #{class4FinishQty,jdbcType=DECIMAL},
                </if>
                <if test="class5FinishQty != null">
                    CLASS5_FINISH_QTY = #{class5FinishQty,jdbcType=DECIMAL},
                </if>
                <if test="remark != null">
                    REMARK = #{remark,jdbcType=VARCHAR},
                </if>
                <if test="delFlag != null">
                    DEL_FLAG = #{delFlag,jdbcType=CHAR},
                </if>
                <if test="createBy != null">
                    CREATE_BY = #{createBy,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateBy != null">
                    UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
                </if>
                <if test="updateTime != null">
                    UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   ID = #{id,jdbcType=DECIMAL} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zlt.aps.mps.domain.TCxClassShiftFinishQty">
        update T_CX_CLASS_SHIFT_FINISH_QTY
        set 
            ORDER_NO =  #{orderNo,jdbcType=VARCHAR},
            SCHEDULE_DATE =  #{scheduleDate,jdbcType=TIMESTAMP},
            CX_MACHINE_CODE =  #{cxMachineCode,jdbcType=VARCHAR},
            SAP_CODE =  #{sapCode,jdbcType=VARCHAR},
            EMBRYO_CODE =  #{embryoCode,jdbcType=VARCHAR},
            CLASS1_FINISH_QTY =  #{class1FinishQty,jdbcType=DECIMAL},
            CLASS2_FINISH_QTY =  #{class2FinishQty,jdbcType=DECIMAL},
            CLASS3_FINISH_QTY =  #{class3FinishQty,jdbcType=DECIMAL},
            CLASS4_FINISH_QTY =  #{class4FinishQty,jdbcType=DECIMAL},
            CLASS5_FINISH_QTY =  #{class5FinishQty,jdbcType=DECIMAL},
            REMARK =  #{remark,jdbcType=VARCHAR},
            DEL_FLAG =  #{delFlag,jdbcType=CHAR},
            CREATE_BY =  #{createBy,jdbcType=VARCHAR},
            CREATE_TIME =  #{createTime,jdbcType=TIMESTAMP},
            UPDATE_BY =  #{updateBy,jdbcType=VARCHAR},
            UPDATE_TIME =  #{updateTime,jdbcType=TIMESTAMP}
        where   ID = #{id,jdbcType=DECIMAL} 
    </update>

    <select id="getMesCxFinishByDataVersion" resultMap="MesCxClassResultMap">
        select
        <include refid="Mes_Cx_Column_List"/>
        from T_MES_CX_SHIFT_FINISH_QTY
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
    </select>

    <select id="getMesCxDayFinishByDataVersion" resultMap="CxMesDayFinishResultMap">
        select
        <include refid="Cx_Day_Finish_Column_List"/>
        from T_MES_CX_DAY_FINISH_QTY
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
    </select>

    <select id="getMesLhDayFinishByDataVersion" resultMap="LhMesDayFinishResultMap">
        select
        <include refid="Lh_Day_Finish_Column_List"/>
        from T_MES_LH_DAY_FINISH_QTY
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
    </select>

    <update id="mergeCxFinishSql" parameterType="list">
        merge into T_CX_CLASS_SHIFT_FINISH_QTY a USING (
        <foreach collection="list" item="ITEM" separator=" union ">
            select
            #{ITEM.orderNo,jdbcType=VARCHAR} order_no,
            #{ITEM.scheduleDate,jdbcType=DATE} schedule_date,
            #{ITEM.cxMachineCode,jdbcType=VARCHAR} cx_machine_code,
            #{ITEM.sapCode,jdbcType=VARCHAR} sap_code,
            #{ITEM.embryoCode,jdbcType=VARCHAR} embryo_code,
            #{ITEM.sapClass1FinishQty,jdbcType=DECIMAL} sap_class1_finish_qty,
            #{ITEM.sapClass2FinishQty,jdbcType=DECIMAL} sap_class2_finish_qty,
            #{ITEM.sapClass3FinishQty,jdbcType=DECIMAL} sap_class3_finish_qty,
            #{ITEM.sapClass4FinishQty,jdbcType=DECIMAL} sap_class4_finish_qty,
            #{ITEM.sapClass5FinishQty,jdbcType=DECIMAL} sap_class5_finish_qty,
            #{ITEM.embryoCode,jdbcType=VARCHAR} production_stage,
            #{ITEM.class1FinishQty,jdbcType=DECIMAL} class1_finish_qty,
            #{ITEM.class2FinishQty,jdbcType=DECIMAL} class2_finish_qty,
            #{ITEM.class3FinishQty,jdbcType=DECIMAL} class3_finish_qty,
            #{ITEM.class4FinishQty,jdbcType=DECIMAL} class4_finish_qty,
            #{ITEM.class5FinishQty,jdbcType=DECIMAL} class5_finish_qty,
            #{ITEM.createBy,jdbcType=VARCHAR} create_by,
            #{ITEM.createTime,jdbcType=DATE} create_time,
            #{ITEM.updateBy,jdbcType=VARCHAR} update_by,
            #{ITEM.updateTime,jdbcType=DATE} update_time,
            #{ITEM.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (a.order_no = b.order_no and a.del_flag = '0')
        WHEN MATCHED THEN
        UPDATE SET
        a.sap_class1_finish_qty = b.sap_class1_finish_qty,
        a.sap_class2_finish_qty = b.sap_class2_finish_qty,
        a.sap_class3_finish_qty = b.sap_class3_finish_qty,
        a.sap_class4_finish_qty = b.sap_class4_finish_qty,
        a.sap_class5_finish_qty = b.sap_class5_finish_qty,
        a.class1_finish_qty= b.class1_finish_qty,
        a.class2_finish_qty= b.class2_finish_qty,
        a.class3_finish_qty= b.class3_finish_qty,
        a.class4_finish_qty= b.class4_finish_qty,
        a.class5_finish_qty= b.class5_finish_qty,
        a.update_by = b.create_by,
        a.update_time = sysdate,
        a.remark = b.remark
        WHEN NOT MATCHED THEN
        INSERT (
        a.id ,
        a.order_no,
        a.schedule_date,
        a.cx_machine_code,
        a.sap_code ,
        a.embryo_code ,
        a.sap_class1_finish_qty ,
        a.sap_class2_finish_qty ,
        a.sap_class3_finish_qty ,
        a.sap_class4_finish_qty ,
        a.sap_class5_finish_qty ,
        a.class1_finish_qty ,
        a.class2_finish_qty ,
        a.class3_finish_qty ,
        a.class4_finish_qty ,
        a.class5_finish_qty ,
        a.create_by ,
        a.create_time ,
        a.remark, a.del_flag
        ) values
        (SEQ_CX_FINISH_QTY.NEXTVAL,
        b.order_no,
        b.schedule_date,
        b.cx_machine_code,
        b.sap_code,
        b.embryo_code,
        b.sap_class1_finish_qty,
        b.sap_class2_finish_qty,
        b.sap_class3_finish_qty,
        b.sap_class4_finish_qty,
        b.sap_class5_finish_qty,
        b.class1_finish_qty,
        b.class2_finish_qty,
        b.class3_finish_qty,
        b.class4_finish_qty,
        b.class5_finish_qty,
        b.create_by,
        sysdate,
        b.remark, '0'
        )
    </update>

    <update id="mergeCxDayFinishSql" parameterType="list">
        merge into T_CX_DAY_FINISH_QTY a USING (
        <foreach collection="list" item="ITEM" separator=" union ">
            select
            #{ITEM.finishDate,jdbcType=DATE} finish_date,
            #{ITEM.sapCode,jdbcType=VARCHAR} sap_code,
            #{ITEM.embryoCode,jdbcType=VARCHAR} embryo_code,
            #{ITEM.bomDataVersion,jdbcType=VARCHAR} BOM_DATA_VERSION,
            #{ITEM.dayFinishQty,jdbcType=DECIMAL} DAY_FINISH_QTY,
            #{ITEM.companyCode,jdbcType=VARCHAR} COMPANY_CODE,
            #{ITEM.factoryCode,jdbcType=VARCHAR} FACTORY_CODE,
            #{ITEM.dataVersion,jdbcType=VARCHAR} DATA_VERSION,
            #{ITEM.createDate,jdbcType=DATE} create_date,
            #{ITEM.updateDate,jdbcType=DATE} update_date,
            #{ITEM.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
            a.embryo_code = b.embryo_code
                and a.finish_date = b.finish_date
                and a.BOM_DATA_VERSION = b.BOM_DATA_VERSION
                and a.is_delete = '0'
            )
        WHEN MATCHED THEN
        UPDATE SET
        a.DAY_FINISH_QTY = b.DAY_FINISH_QTY,
        a.update_date = sysdate,
        a.remark = b.remark
        WHEN NOT MATCHED THEN
        INSERT (
        a.id ,
        a.finish_date,
        a.sap_code,
        a.embryo_code,
        a.BOM_DATA_VERSION ,
        a.DAY_FINISH_QTY ,
        a.COMPANY_CODE ,
        a.FACTORY_CODE ,
        a.DATA_VERSION ,
        a.create_date ,
        a.update_date ,
        a.remark ,
        a.is_delete
        ) values
        (SEQ_CX_FINISH_QTY.NEXTVAL,
        b.finish_date,
        b.sap_code,
        b.embryo_code,
        b.BOM_DATA_VERSION ,
        b.DAY_FINISH_QTY ,
        b.COMPANY_CODE ,
        b.FACTORY_CODE ,
        b.DATA_VERSION ,
        b.create_date ,
        b.update_date ,
         b.remark,
         0
        )
    </update>

    <select id="getMesLhFinishByDataVersion" resultMap="MesLhClassResultMap">
        select
        <include refid="Mes_Lh_Column_List"/>
        from T_MES_LH_SHIFT_FINISH_QTY
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
    </select>

    <update id="mergeLhFinishSql" parameterType="list">
        merge into T_LH_CLASS_SHIFT_FINISH_QTY a USING (
        <foreach collection="list" item="ITEM" separator=" union ">
            select
            #{ITEM.orderNo,jdbcType=VARCHAR} order_no,
            #{ITEM.scheduleDate,jdbcType=DATE} schedule_date,
            #{ITEM.lhMachineCode,jdbcType=VARCHAR} lh_machine_code,
            #{ITEM.sapCode,jdbcType=DECIMAL} sap_code,
            #{ITEM.class1FinishQty,jdbcType=DECIMAL} class1_finish_qty,
            #{ITEM.class2FinishQty,jdbcType=DECIMAL} class2_finish_qty,
            #{ITEM.class3FinishQty,jdbcType=DECIMAL} class3_finish_qty,
            #{ITEM.createBy,jdbcType=VARCHAR} create_by,
            #{ITEM.createTime,jdbcType=DATE} create_time,
            #{ITEM.updateBy,jdbcType=VARCHAR} update_by,
            #{ITEM.updateTime,jdbcType=DATE} update_time,
            #{ITEM.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (a.order_no = b.order_no and a.del_flag = '0')
        WHEN MATCHED THEN
        UPDATE SET
        a.class1_finish_qty = b.class1_finish_qty,
        a.class2_finish_qty = b.class2_finish_qty,
        a.class3_finish_qty = b.class3_finish_qty,
        a.update_by = b.create_by,
        a.update_time = sysdate,
        a.remark = b.remark
        WHEN NOT MATCHED THEN
        INSERT (
        a.id ,
        a.order_no,
        a.schedule_date,
        a.lh_machine_code,
        a.sap_code ,
        a.class1_finish_qty ,
        a.class2_finish_qty ,
        a.class3_finish_qty ,
        a.create_by ,
        a.create_time ,
        a.remark, a.del_flag
        ) values
        (SEQ_CX_FINISH_QTY.NEXTVAL,
        b.order_no,
        b.schedule_date,
        b.lh_machine_code,
        b.sap_code,
        b.class1_finish_qty,
        b.class2_finish_qty,
        b.class3_finish_qty,
        b.create_by,
        sysdate,
        b.remark, '0'
        )
    </update>


    <update id="mergeLhDayFinishSql" parameterType="list">
        merge into T_LH_DAY_FINISH_QTY a USING (
        <foreach collection="list" item="ITEM" separator=" union ">
            select
            #{ITEM.finishDate,jdbcType=DATE} finish_date,
            #{ITEM.sapCode,jdbcType=VARCHAR} sap_code,
            #{ITEM.dayFinishQty,jdbcType=DECIMAL} DAY_FINISH_QTY,
            #{ITEM.companyCode,jdbcType=VARCHAR} COMPANY_CODE,
            #{ITEM.factoryCode,jdbcType=VARCHAR} FACTORY_CODE,
            #{ITEM.dataVersion,jdbcType=VARCHAR} DATA_VERSION,
            #{ITEM.createDate,jdbcType=DATE} create_date,
            #{ITEM.updateDate,jdbcType=DATE} update_date,
            #{ITEM.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.finish_date = b.finish_date
        and a.sap_code = b.sap_code
        and a.is_delete = '0'
        )
        WHEN MATCHED THEN
        UPDATE SET
        a.DAY_FINISH_QTY = b.DAY_FINISH_QTY,
        a.update_date = sysdate,
        a.remark = b.remark
        WHEN NOT MATCHED THEN
        INSERT (
        a.id ,
        a.finish_date,
        a.sap_code,
        a.DAY_FINISH_QTY ,
        a.COMPANY_CODE ,
        a.FACTORY_CODE ,
        a.DATA_VERSION ,
        a.create_date ,
        a.update_date ,
        a.remark ,
        a.is_delete
        ) values
        (SEQ_CX_FINISH_QTY.NEXTVAL,
        b.finish_date,
        b.sap_code,
        b.DAY_FINISH_QTY ,
        b.COMPANY_CODE ,
        b.FACTORY_CODE ,
        b.DATA_VERSION ,
        b.create_date ,
        b.update_date ,
        b.remark,
        0
        )
    </update>

    <select id="selectCxByScheduleDate"
            resultMap="BaseResultMap">
        select embryo_code, sum(CLASS1_FINISH_QTY+CLASS2_FINISH_QTY+CLASS3_FINISH_QTY) as CLASS1_FINISH_QTY
        from T_CX_CLASS_SHIFT_FINISH_QTY
        where 1=1
        and schedule_date BETWEEN to_date(#{scheduleMonth}, 'yyyy-mm' )
            and last_day( to_date(#{scheduleMonth}, 'yyyy-mm' ) )
        and del_flag = '0'
        GROUP BY
            EMBRYO_CODE
    </select>

    <select id="selectCxDayByFinishDate"
            resultMap="CxDayFinishResultMap">
        select embryo_code, sum(DAY_FINISH_QTY) as DAY_FINISH_QTY
        from T_CX_DAY_FINISH_QTY
        where 1=1
        and FINISH_DATE BETWEEN to_date(#{finishDate}, 'yyyy-mm' )
            and last_day( to_date(#{finishDate}, 'yyyy-mm' ) )
        and is_delete = '0'
        GROUP BY
            EMBRYO_CODE
    </select>

    <select id="selectLhByScheduleDate"
            resultMap="LhClassResultMap">
        select SAP_CODE, sum(CLASS1_FINISH_QTY+CLASS2_FINISH_QTY+CLASS3_FINISH_QTY) as CLASS1_FINISH_QTY
        from T_LH_CLASS_SHIFT_FINISH_QTY
        where 1=1
        and schedule_date BETWEEN to_date(#{scheduleMonth}, 'yyyy-mm' )
            and last_day( to_date(#{scheduleMonth}, 'yyyy-mm' ) )
        and del_flag = '0'
        GROUP BY
            SAP_CODE
    </select>

    <select id="selectLhDayByFinishDate"
            resultMap="LhDayFinishResultMap">
        select sap_code, sum(DAY_FINISH_QTY) as DAY_FINISH_QTY
        from T_LH_DAY_FINISH_QTY
        where 1=1
          and FINISH_DATE BETWEEN to_date(#{finishDate}, 'yyyy-mm' )
            and last_day( to_date(#{finishDate}, 'yyyy-mm' ) )
          and is_delete = '0'
        GROUP BY
            sap_code
    </select>
</mapper>
