<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.mps.mapper.TMesBomInfoMapper">

    <resultMap type="com.zlt.aps.mps.domain.TMesBomInfo" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="childMaterialCode" column="child_material_code"/>
        <result property="childMaterialName" column="child_material_name"/>
        <result property="childMaterialNameCode" column="child_material_name_code"/>
        <result property="childCode" column="child_code"/>
        <result property="unit" column="unit"/>
        <result property="dosage" column="dosage"/>
        <result property="dosageForm" column="dosage_form"/>
        <result property="parentMaterialCode" column="parent_material_code"/>
        <result property="parentMaterialName" column="parent_material_name"/>
        <result property="parentCode" column="parent_code"/>
        <result property="productionStage" column="production_stage"/>
        <result property="productionStageCode" column="production_stage_code"/>
        <result property="sapVersion" column="sap_version"/>
        <result property="bomVersion" column="bom_version"/>
        <result property="childMaterialVersion" column="child_material_version"/>
        <result property="bomType" column="bom_type"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="mesCreateDate" column="mes_create_date"/>
        <result property="mesUpdateDate" column="mes_update_date"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, child_material_code, child_material_name,
        child_material_name_code, child_code, unit,
        dosage, dosage_form, parent_material_code,
        parent_material_name, parent_code, production_stage,
        production_stage_code, sap_version, bom_version,
        child_material_version, bom_type, remark,
        status, mes_create_date, mes_update_date,
        data_version, create_date, update_date, is_delete
    </sql>

    <select id="getBomByDataVersion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_MES_BOM_INFO
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
    </select>

    <update id="mergeSql">
		MERGE into T_BOM_INFO a
		USING (select id,
		              child_material_code,
		              child_material_name,
		              child_material_name_code,
		              child_code,
		              unit,
		              dosage,
		              dosage_form,
		              parent_material_code,
		              parent_material_name,
		              production_stage,
		              sap_version,
		              parent_code,
		              bom_version,
		              child_material_version,
		              production_stage_code,
		              bom_type,
		              status,
		              remark,
		              mes_create_date,
		              mes_update_date,
		              create_date,
		              update_date,
		              is_delete
		         from T_MES_BOM_INFO
		        where data_version = #{dataVersion, jdbcType = VARCHAR}) b
		ON (a.id = b.id)
		WHEN MATCHED THEN
		  UPDATE
		     SET a.child_material_code      = b.child_material_code,
		         a.child_material_name      = b.child_material_name,
		         a.child_material_name_code = b.child_material_name_code,
		         a.child_code               = b.child_code,
		         a.unit                     = b.unit,
		         a.dosage                   = b.dosage,
		         a.dosage_form              = b.dosage_form,
		         a.parent_material_code     = b.parent_material_code,
		         a.parent_material_name     = b.parent_material_name,
		         a.production_stage         = b.production_stage,
		         a.sap_version              = b.sap_version,
		         a.parent_code              = b.parent_code,
		         a.bom_version              = b.bom_version,
		         a.child_material_version   = b.child_material_version,
		         a.production_stage_code    = b.production_stage_code,
		         a.bom_type                 = b.bom_type,
		         a.status                   = b.status,
		         a.remark                   = b.remark,
		         a.mes_create_date          = b.mes_create_date,
		         a.mes_update_date          = b.mes_update_date,
		         a.create_date              = b.create_date,
		         a.update_date              = b.update_date,
		         a.is_delete                = b.is_delete
		WHEN NOT MATCHED THEN
		  INSERT
		    (a.id,
		     a.child_material_code,
		     a.child_material_name,
		     a.child_material_name_code,
		     a.child_code,
		     a.unit,
		     a.dosage,
		     a.dosage_form,
		     a.parent_material_code,
		     a.parent_material_name,
		     a.production_stage,
		     a.sap_version,
		     a.parent_code,
		     a.bom_version,
		     a.child_material_version,
		     a.production_stage_code,
		     a.bom_type,
		     a.status,
		     a.remark,
		     a.mes_create_date,
		     a.mes_update_date,
		     a.create_date,
		     a.update_date,
		     a.is_delete)
		  values
		    (b.id,
		     b.child_material_code,
		     b.child_material_name,
		     b.child_material_name_code,
		     b.child_code,
		     b.unit,
		     b.dosage,
		     b.dosage_form,
		     b.parent_material_code,
		     b.parent_material_name,
		     b.production_stage,
		     b.sap_version,
		     b.parent_code,
		     b.bom_version,
		     b.child_material_version,
		     b.production_stage_code,
		     b.bom_type,
		     b.status,
		     b.remark,
		     b.mes_create_date,
		     b.mes_update_date,
		     b.create_date,
		     b.update_date,
		     b.is_delete)
    </update>

</mapper>
