<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.mps.mapper.TMesCxStockMapper">

    <resultMap id="CxStockResultMap" type="com.zlt.aps.mps.domain.TMesCxStock">
            <id property="id" column="ID" jdbcType="DECIMAL"/>
            <result property="stockDate" column="STOCK_DATE" jdbcType="TIMESTAMP"/>
            <result property="embryoCode" column="EMBRYO_CODE" jdbcType="VARCHAR"/>
            <result property="stockNum" column="STOCK_NUM" jdbcType="DECIMAL"/>
            <result property="litiStock" column="LITI_STOCK" jdbcType="DECIMAL"/>
            <result property="embryoCar" column="EMBRYO_CAR" jdbcType="DECIMAL"/>
            <result property="lhStock" column="LH_STOCK" jdbcType="DECIMAL"/>
            <result property="overTimeStock" column="OVER_TIME_STOCK" jdbcType="DECIMAL"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
            <result property="dataVersion" column="DATA_VERSION" jdbcType="VARCHAR"/>
            <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="UPDATE_DATE" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="IS_DELETE" jdbcType="DECIMAL"/>
            <result property="bomDataVersion" column="BOM_DATA_VERSION" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="CxSapResultMap" type="com.zlt.aps.mps.domain.TMesSapStock">
        <id property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="stockDate" column="STOCK_DATE" jdbcType="TIMESTAMP"/>
        <result property="sapCode" column="SAP_CODE" jdbcType="VARCHAR"/>
        <result property="stockNum" column="STOCK_NUM" jdbcType="DECIMAL"/>
        <result property="pickedQty" column="PICKED_QTY" jdbcType="DECIMAL"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="dataVersion" column="DATA_VERSION" jdbcType="VARCHAR"/>
        <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="UPDATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="IS_DELETE" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="CxMonthStockResultMap" type="com.zlt.aps.mps.domain.TMesCxMonthStock">
        <result property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="stockMonth" column="STOCK_MONTH" jdbcType="TIMESTAMP"/>
        <result property="embryoCode" column="EMBRYO_CODE" jdbcType="VARCHAR"/>
        <result property="stockNum" column="STOCK_NUM" jdbcType="DECIMAL"/>
        <result property="litiStock" column="LITI_STOCK" jdbcType="DECIMAL"/>
        <result property="embryoCar" column="EMBRYO_CAR" jdbcType="DECIMAL"/>
        <result property="lhStock" column="LH_STOCK" jdbcType="DECIMAL"/>
        <result property="overTimeStock" column="OVER_TIME_STOCK" jdbcType="DECIMAL"/>
        <result property="sapCode" column="SAP_CODE" jdbcType="VARCHAR"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="dataVersion" column="DATA_VERSION" jdbcType="VARCHAR"/>
        <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="UPDATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="IS_DELETE" jdbcType="DECIMAL"/>
        <result property="bomDataVersion" column="BOM_DATA_VERSION" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Cx_Stock_Column_List">
        ID,STOCK_DATE,EMBRYO_CODE,
        STOCK_NUM,LITI_STOCK,EMBRYO_CAR,
        LH_STOCK,OVER_TIME_STOCK,REMARK,
        DATA_VERSION,CREATE_DATE,UPDATE_DATE,
        IS_DELETE,AVAILABLE_STOCK,BOM_DATA_VERSION,UNAVAILABLE_STOCK
    </sql>

    <sql id="Cx_Month_Stock_Column_List">
        ID,STOCK_MONTH,EMBRYO_CODE,
        STOCK_NUM,LITI_STOCK,EMBRYO_CAR,
        LH_STOCK,OVER_TIME_STOCK,SAP_CODE,REMARK,
        DATA_VERSION,CREATE_DATE,UPDATE_DATE,
        IS_DELETE, BOM_DATA_VERSION,AVAILABLE_STOCK
    </sql>

    <sql id="Cx_Sap_Stock_Column_List">
        ID,STOCK_DATE,SAP_CODE,
        STOCK_NUM,PICKED_QTY,REMARK,DATA_VERSION,
        CREATE_DATE,UPDATE_DATE,IS_DELETE
    </sql>

<!--    <update id="mergeCxStockSql" parameterType="list">-->
<!--        merge into T_MES_CX_STOCK a USING (-->
<!--        <foreach collection="list" item="Item" separator=" union ">-->
<!--            select-->
<!--            #{Item.stockDate,jdbcType=DATE} stock_date,-->
<!--            #{Item.embryoCode,jdbcType=VARCHAR} embryo_code,-->
<!--            #{Item.stockNum,jdbcType=DECIMAL} stock_num,-->
<!--            #{Item.litiStock,jdbcType=DECIMAL} liti_stock,-->
<!--            #{Item.embryoCar,jdbcType=DECIMAL} embryo_car,-->
<!--            #{Item.lhStock,jdbcType=DECIMAL} lh_stock,-->
<!--            #{Item.overTimeStock,jdbcType=DECIMAL} over_time_stock,-->
<!--            #{Item.remark,jdbcType=VARCHAR} remark,-->
<!--            #{Item.dataVersion,jdbcType=VARCHAR} data_version,-->
<!--            #{Item.createTime,jdbcType=DATE} create_time,-->
<!--            #{Item.updateTime,jdbcType=DATE} update_time,-->
<!--            from dual-->
<!--        </foreach>-->
<!--        ) b ON (-->
<!--        ((b.stock_date is null and a.stock_date is null) or (a.stock_date = b.stock_date))-->
<!--        AND a.embryo_code = b.embryo_code-->
<!--        AND a.data_version = b.data_version-->
<!--        AND a.del_flag = '0' )-->
<!--        WHEN MATCHED THEN-->
<!--        UPDATE SET-->
<!--        a.stock_num = b.stock_num,-->
<!--        a.liti_stock = b.liti_stock,-->
<!--        a.embryo_car = b.embryo_car,-->
<!--        a.update_by = b.create_by,-->
<!--        a.update_date = sysdate,-->
<!--        a.remark = b.remark-->
<!--        WHEN NOT MATCHED THEN-->
<!--        INSERT (a.id, a.stock_date, a.embryo_code, a.stock_num, a.liti_stock, a.embryo_car, a.lh_stock, a.over_time_stock, a.data_version, a.create_by, a.create_time, a.remark, a.is_delete) values-->
<!--        (SEQ_T_MES_CX_STOCK.NEXTVAL, b.stock_date, b.embryo_code, b.stock_num, b.liti_stock, b.embryo_car, b.lh_stock, b.over_time_stock, b.data_version, b.create_by, sysdate, b.remark, 0)-->
<!--    </update>-->

<!--    <update id="mergeCxMonthStockSql" parameterType="list">-->
<!--        merge into T_MES_CX_MONTH_STOCK a USING (-->
<!--        <foreach collection="list" item="Item" separator=" union ">-->
<!--            select-->
<!--            #{Item.stockDate,jdbcType=DATE} stock_date,-->
<!--            #{Item.embryoCode,jdbcType=VARCHAR} embryo_code,-->
<!--            #{Item.stockNum,jdbcType=DECIMAL} stock_num,-->
<!--            #{Item.litiStock,jdbcType=DECIMAL} liti_stock,-->
<!--            #{Item.embryoCar,jdbcType=DECIMAL} embryo_car,-->
<!--            #{Item.lhStock,jdbcType=DECIMAL} lh_stock,-->
<!--            #{Item.overTimeStock,jdbcType=DECIMAL} over_time_stock,-->
<!--            #{Item.sapCode,jdbcType=VARCHAR} sap_code,-->
<!--            #{Item.remark,jdbcType=VARCHAR} remark,-->
<!--            #{Item.dataVersion,jdbcType=VARCHAR} data_version,-->
<!--            #{Item.createDate,jdbcType=DATE} create_date,-->
<!--            #{Item.updateDate,jdbcType=DATE} update_date,-->
<!--            from dual-->
<!--        </foreach>-->
<!--        ) b ON (-->
<!--        ((b.stock_date is null and a.stock_date is null) or (a.stock_date = b.stock_date))-->
<!--        AND a.embryo_code = b.embryo_code-->
<!--        AND a.sap_code = b.sap_code-->
<!--        AND a.data_version = b.data_version-->
<!--        AND a.del_flag = '0' )-->
<!--        WHEN MATCHED THEN-->
<!--        UPDATE SET-->
<!--        a.stock_num = b.stock_num,-->
<!--        a.liti_stock = b.liti_stock,-->
<!--        a.embryo_car = b.embryo_car,-->
<!--        a.update_by = b.create_by,-->
<!--        a.update_date = sysdate,-->
<!--        a.remark = b.remark-->
<!--        WHEN NOT MATCHED THEN-->
<!--        INSERT (a.id, a.stock_date, a.embryo_code, a.stock_num, a.liti_stock, a.embryo_car, a.lh_stock, a.over_time_stock, a.sap_code, a.data_version, a.create_by, a.create_date, a.remark, a.is_delete) values-->
<!--        (SEQ_T_MES_CX_MONTH_STOCK.NEXTVAL, b.stock_date, b.embryo_code, b.stock_num, b.liti_stock, b.embryo_car, b.lh_stock, b.over_time_stock, b.sap_code, b.data_version, b.create_by, sysdate, b.remark, 0)-->
<!--    </update>-->

<!--    <update id="mergeCxSapStockSql" parameterType="list">-->
<!--        merge into T_MES_SAP_STOCK a USING (-->
<!--        <foreach collection="list" item="Item" separator=" union ">-->
<!--            select-->
<!--            #{Item.stockDate,jdbcType=DATE} stock_date,-->
<!--            #{Item.sapCode,jdbcType=VARCHAR} sap_code,-->
<!--            #{Item.stockNum,jdbcType=DECIMAL} stock_num,-->
<!--            #{Item.remark,jdbcType=VARCHAR} remark,-->
<!--            #{Item.dataVersion,jdbcType=VARCHAR} data_version,-->
<!--            #{Item.createDate,jdbcType=DATE} create_date,-->
<!--            #{Item.updateDate,jdbcType=DATE} update_date,-->
<!--            from dual-->
<!--        </foreach>-->
<!--        ) b ON (-->
<!--        ((b.stock_date is null and a.stock_date is null) or (a.stock_date = b.stock_date))-->
<!--        AND a.data_version = b.data_version-->
<!--        AND a.sap_code = b.sap_code-->
<!--        AND a.del_flag = '0' )-->
<!--        WHEN MATCHED THEN-->
<!--        UPDATE SET-->
<!--        a.stock_num = b.stock_num,-->
<!--        a.update_by = b.create_by,-->
<!--        a.update_date = sysdate,-->
<!--        a.remark = b.remark-->
<!--        WHEN NOT MATCHED THEN-->
<!--        INSERT (a.id, a.stock_date, a.embryo_code, a.stock_num, a.liti_stock, a.embryo_car, a.lh_stock, a.over_time_stock, a.sap_code, a.data_version, a.create_by, a.create_date, a.remark, a.is_delete) values-->
<!--        (SEQ_T_MES_SAP_STOCK.NEXTVAL, b.stock_date, b.embryo_code, b.stock_num, b.liti_stock, b.embryo_car, b.lh_stock, b.over_time_stock, b.sap_code, b.data_version, b.create_by, sysdate, b.remark, 0)-->
<!--    </update>-->
    <select id="getCxStockByDataVersion" resultMap="CxStockResultMap">
        select
        <include refid="Cx_Stock_Column_List"/>
        from T_MES_CX_STOCK
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
        AND embryo_code IS NOT NULL
        AND bom_data_version IS NOT NULL
    </select>
    <select id="getCxMonthStockByDataVersion" resultMap="CxMonthStockResultMap">
        select
        <include refid="Cx_Month_Stock_Column_List"/>
        from T_MES_CX_MONTH_STOCK
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
        AND embryo_code IS NOT NULL
        AND bom_data_version IS NOT NULL
    </select>
    <select id="getCxSapStockByDataVersion" resultMap="CxSapResultMap">
        select
        <include refid="Cx_Sap_Stock_Column_List"/>
        from T_MES_SAP_STOCK
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
        AND sap_code IS NOT NULL
    </select>

</mapper>
