<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.mps.mapper.TMesStockBaseMapper">

    <resultMap id="BaseResultMap" type="com.zlt.aps.mps.domain.TMesStockBaseEntity">
            <id property="id" column="ID" jdbcType="DECIMAL"/>
            <result property="stockDate" column="STOCK_DATE" jdbcType="TIMESTAMP"/>
            <result property="materialCode" column="MATERIAL_CODE" jdbcType="VARCHAR"/>
            <result property="sapMaterialCode" column="SAP_MATERIAL_CODE" jdbcType="VARCHAR"/>
            <result property="claimNum" column="CLAIM_NUM" jdbcType="DECIMAL"/>
            <result property="unClaimNum" column="UN_CLAIM_NUM" jdbcType="DECIMAL"/>
            <result property="dataVersion" column="DATA_VERSION" jdbcType="VARCHAR"/>
            <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="UPDATE_DATE" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="IS_DELETE" jdbcType="DECIMAL"/>
    </resultMap>
    <resultMap id="CdResultMap" type="com.zlt.aps.mps.domain.TMesCdBaseEntity">
            <id property="id" column="ID" jdbcType="DECIMAL"/>
            <result property="stockDate" column="STOCK_DATE" jdbcType="TIMESTAMP"/>
            <result property="materialCode" column="MATERIAL_CODE" jdbcType="VARCHAR"/>
            <result property="machineCode" column="MACHINE_CODE" jdbcType="VARCHAR"/>
            <result property="sapMaterialCode" column="SAP_MATERIAL_CODE" jdbcType="VARCHAR"/>
            <result property="stockNum" column="STOCK_NUM" jdbcType="DECIMAL"/>
            <result property="dataVersion" column="DATA_VERSION" jdbcType="VARCHAR"/>
            <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="UPDATE_DATE" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="IS_DELETE" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,STOCK_DATE,MATERIAL_CODE,
        SAP_MATERIAL_CODE,CLAIM_NUM,UN_CLAIM_NUM,
        DATA_VERSION,CREATE_DATE,UPDATE_DATE,
        AVAILABLE_STOCK,IS_DELETE
    </sql>
    <sql id="Cd_Column_List">
        ID,STOCK_DATE,MATERIAL_CODE,
        SAP_MATERIAL_CODE,STOCK_NUM,
        DATA_VERSION,CREATE_DATE,UPDATE_DATE,
        AVAILABLE_STOCK,IS_DELETE
    </sql>


    <select id="getTmByDataVersion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_MES_TM_STOCK
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
        AND MATERIAL_CODE IS NOT NULL
    </select>
    <select id="getTcByDataVersion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_MES_TC_STOCK
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
        AND MATERIAL_CODE IS NOT NULL
    </select>
    <select id="getNcByDataVersion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_MES_NC_STOCK
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
        AND MATERIAL_CODE IS NOT NULL
    </select>
    <select id="getTqByDataVersion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_MES_TQ_STOCK
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
        AND MATERIAL_CODE IS NOT NULL
    </select>
    <select id="getGsqByDataVersion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_MES_GSQ_STOCK
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
        AND MATERIAL_CODE IS NOT NULL
    </select>
    <select id="getGdyyByDataVersion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_MES_GDYY_STOCK
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
        AND MATERIAL_CODE IS NOT NULL
    </select>
    <select id="getXwyyByDataVersion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_MES_XWYY_STOCK
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
        AND MATERIAL_CODE IS NOT NULL
    </select>
    <select id="getCd15ByDataVersion" resultMap="CdResultMap">
        select
        <include refid="Cd_Column_List"/>
        from T_MES_CD15_STOCK
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
        AND MATERIAL_CODE IS NOT NULL
    </select>
    <select id="getCd90ByDataVersion" resultMap="CdResultMap">
        select
        <include refid="Cd_Column_List"/>
        from T_MES_CD90_STOCK
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND is_delete = 0
        AND MATERIAL_CODE IS NOT NULL
    </select>
    <select id="getCd15LineSideByDataVersion" resultMap="CdResultMap">
        select ID,
		       STOCK_DATE,
		       MATERIAL_CODE,
		       bar_code,
		       SAP_MATERIAL_CODE,
		       DATA_VERSION,
		       AVAILABLE_STOCK,
        	   machine_code
        from T_MES_CD15_LINESIDE_STOCK t
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND MATERIAL_CODE IS NOT NULL
        AND NOT EXISTS (
        	select 0 from T_CD15_LINE_SIDE_STOCK s
        	 where s.stock_date = t.stock_date
        	   and s.del_flag = '0'
        )
    </select>
    <select id="getCd90LineSideByDataVersion" resultMap="CdResultMap">
        select ID,
		       STOCK_DATE,
		       MATERIAL_CODE,
		       bar_code,
		       SAP_MATERIAL_CODE,
		       DATA_VERSION,
		       AVAILABLE_STOCK,
        	   machine_code
        from T_MES_CD90_LINESIDE_STOCK t
        where
        data_version = #{dataVersion,jdbcType=VARCHAR}
        AND MATERIAL_CODE IS NOT NULL
        AND NOT EXISTS (
        	select 0 from T_CD90_LINE_SIDE_STOCK s
        	 where s.stock_date = t.stock_date
        	   and s.del_flag = '0'
        )
    </select>

    <update id="mergeTmSql" parameterType="list">
        merge into t_tm_stock a USING (
        <foreach collection="list" item="STOCK" separator=" union ">
            select
            #{STOCK.stockDate,jdbcType=DATE} stock_date,
            #{STOCK.materialCode,jdbcType=VARCHAR} material_code,
            #{STOCK.stockNum,jdbcType=DOUBLE} stock_num,
            #{STOCK.modifyNum,jdbcType=DOUBLE} modify_num,
            #{STOCK.badNum,jdbcType=DOUBLE} bad_num,
            #{STOCK.createBy,jdbcType=VARCHAR} create_by,
            #{STOCK.createTime,jdbcType=DATE} create_time,
            #{STOCK.updateBy,jdbcType=VARCHAR} update_by,
            #{STOCK.updateTime,jdbcType=DATE} update_time,
            #{STOCK.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.stock_date = b.stock_date
        and b.material_code = a.material_code
        AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE SET
        a.stock_num = b.stock_num,
        a.update_by = b.create_by,
        a.update_time = sysdate
        WHEN NOT MATCHED THEN
        INSERT (a.id, a.stock_date, a.material_code, a.stock_num, a.modify_num, a.bad_num, a.create_by, a.create_time,
        a.remark, a.del_flag) values
        (SEQ_TM_STOCK.NEXTVAL, b.stock_date, b.material_code, b.stock_num, b.modify_num, b.bad_num, b.create_by, sysdate,
        b.remark, '0')
    </update>

    <update id="mergeTcSql" parameterType="list">
        merge into t_tc_stock a USING (
        <foreach collection="list" item="STOCK" separator=" union ">
            select
            #{STOCK.stockDate,jdbcType=DATE} stock_date,
            #{STOCK.materialCode,jdbcType=VARCHAR} material_code,
            #{STOCK.stockNum,jdbcType=DOUBLE} stock_num,
            #{STOCK.modifyNum,jdbcType=DOUBLE} modify_num,
            #{STOCK.badNum,jdbcType=DOUBLE} bad_num,
            #{STOCK.createBy,jdbcType=VARCHAR} create_by,
            #{STOCK.createTime,jdbcType=DATE} create_time,
            #{STOCK.updateBy,jdbcType=VARCHAR} update_by,
            #{STOCK.updateTime,jdbcType=DATE} update_time,
            #{STOCK.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.stock_date = b.stock_date
        and b.material_code = a.material_code
        AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE SET
        a.stock_num = b.stock_num,
        a.update_by = b.create_by,
        a.update_time = sysdate
        WHEN NOT MATCHED THEN
        INSERT (a.id, a.stock_date, a.material_code, a.stock_num, a.modify_num, a.bad_num, a.create_by, a.create_time,
        a.remark, a.del_flag) values
        (SEQ_TC_stock.NEXTVAL, b.stock_date, b.material_code, b.stock_num, b.modify_num, b.bad_num, b.create_by, sysdate,
        b.remark, '0')
    </update>
    <update id="mergeNcSql" parameterType="list">
        merge into t_nc_stock a USING (
        <foreach collection="list" item="STOCK" separator=" union ">
            select
            #{STOCK.stockDate,jdbcType=DATE} stock_date,
            #{STOCK.materialCode,jdbcType=VARCHAR} material_code,
            #{STOCK.stockNum,jdbcType=DOUBLE} stock_num,
            #{STOCK.modifyNum,jdbcType=DOUBLE} modify_num,
            #{STOCK.badNum,jdbcType=DOUBLE} bad_num,
            #{STOCK.createBy,jdbcType=VARCHAR} create_by,
            #{STOCK.createTime,jdbcType=DATE} create_time,
            #{STOCK.updateBy,jdbcType=VARCHAR} update_by,
            #{STOCK.updateTime,jdbcType=DATE} update_time,
            #{STOCK.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.stock_date = b.stock_date
        and b.material_code = a.material_code
        AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE SET
        a.stock_num = b.stock_num,
        a.update_by = b.create_by,
        a.update_time = sysdate
        WHEN NOT MATCHED THEN
        INSERT (a.id, a.stock_date, a.material_code, a.stock_num, a.modify_num, a.bad_num, a.create_by, a.create_time,
        a.remark, a.del_flag) values
        (SEQ_NC_STOCK.NEXTVAL, b.stock_date, b.material_code, b.stock_num, b.modify_num, b.bad_num, b.create_by, sysdate,
        b.remark, '0')
    </update>
    <update id="mergeTqSql" parameterType="list">
        merge into t_tq_stock a USING (
        <foreach collection="list" item="STOCK" separator=" union ">
            select
            #{STOCK.stockDate,jdbcType=DATE} stock_date,
            #{STOCK.materialCode,jdbcType=VARCHAR} material_code,
            #{STOCK.stockNum,jdbcType=DOUBLE} stock_num,
            #{STOCK.modifyNum,jdbcType=DOUBLE} modify_num,
            #{STOCK.badNum,jdbcType=DOUBLE} bad_num,
            #{STOCK.createBy,jdbcType=VARCHAR} create_by,
            #{STOCK.createTime,jdbcType=DATE} create_time,
            #{STOCK.updateBy,jdbcType=VARCHAR} update_by,
            #{STOCK.updateTime,jdbcType=DATE} update_time,
            #{STOCK.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.stock_date = b.stock_date
        and b.material_code = a.material_code
        AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE SET
        a.stock_num = b.stock_num,
        a.update_by = b.create_by,
        a.update_time = sysdate
        WHEN NOT MATCHED THEN
        INSERT (a.id, a.stock_date, a.material_code, a.stock_num, a.modify_num, a.bad_num, a.create_by, a.create_time,
        a.remark, a.del_flag) values
        (SEQ_TQ_STOCK.NEXTVAL, b.stock_date, b.material_code, b.stock_num, b.modify_num, b.bad_num, b.create_by, sysdate,
        b.remark, '0')
    </update>
    <update id="mergeGsqSql" parameterType="list">
        merge into t_gsq_stock a USING (
        <foreach collection="list" item="STOCK" separator=" union ">
            select
            #{STOCK.stockDate,jdbcType=DATE} stock_date,
            #{STOCK.materialCode,jdbcType=VARCHAR} material_code,
            #{STOCK.stockNum,jdbcType=DOUBLE} stock_num,
            #{STOCK.modifyNum,jdbcType=DOUBLE} modify_num,
            #{STOCK.badNum,jdbcType=DOUBLE} bad_num,
            #{STOCK.createBy,jdbcType=VARCHAR} create_by,
            #{STOCK.createTime,jdbcType=DATE} create_time,
            #{STOCK.updateBy,jdbcType=VARCHAR} update_by,
            #{STOCK.updateTime,jdbcType=DATE} update_time,
            #{STOCK.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.stock_date = b.stock_date
        and b.material_code = a.material_code
        AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE SET
        a.stock_num = b.stock_num,
        a.update_by = b.create_by,
        a.update_time = sysdate
        WHEN NOT MATCHED THEN
        INSERT (a.id, a.stock_date, a.material_code, a.stock_num, a.modify_num, a.bad_num, a.create_by, a.create_time,
        a.remark, a.del_flag) values
        (SEQ_GSQ_STOCK.NEXTVAL, b.stock_date, b.material_code, b.stock_num, b.modify_num, b.bad_num, b.create_by, sysdate,
        b.remark, '0')
    </update>
    <update id="mergeGdyySql" parameterType="list">
        merge into t_gdyy_stock a USING (
        <foreach collection="list" item="STOCK" separator=" union ">
            select
            #{STOCK.stockDate,jdbcType=DATE} stock_date,
            #{STOCK.materialCode,jdbcType=VARCHAR} material_code,
            #{STOCK.stockNum,jdbcType=DOUBLE} stock_num,
            #{STOCK.modifyNum,jdbcType=DOUBLE} modify_num,
            #{STOCK.badNum,jdbcType=DOUBLE} bad_num,
            #{STOCK.createBy,jdbcType=VARCHAR} create_by,
            #{STOCK.createTime,jdbcType=DATE} create_time,
            #{STOCK.updateBy,jdbcType=VARCHAR} update_by,
            #{STOCK.updateTime,jdbcType=DATE} update_time,
            #{STOCK.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.stock_date = b.stock_date
        and b.material_code = a.material_code
        AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE SET
        a.stock_num = b.stock_num,
        a.update_by = b.create_by,
        a.update_time = sysdate
        WHEN NOT MATCHED THEN
        INSERT (a.id, a.stock_date, a.material_code, a.stock_num, a.modify_num, a.bad_num, a.create_by, a.create_time,
        a.remark, a.del_flag) values
        (SEQ_GDYY_STOCK.NEXTVAL, b.stock_date, b.material_code, b.stock_num, b.modify_num, b.bad_num, b.create_by, sysdate,
        b.remark, '0')
    </update>
    <update id="mergeXwyySql" parameterType="list">
        merge into t_xwyy_stock a USING (
        <foreach collection="list" item="STOCK" separator=" union ">
            select
            #{STOCK.stockDate,jdbcType=DATE} stock_date,
            #{STOCK.materialCode,jdbcType=VARCHAR} material_code,
            #{STOCK.stockNum,jdbcType=DOUBLE} stock_num,
            #{STOCK.modifyNum,jdbcType=DOUBLE} modify_num,
            #{STOCK.badNum,jdbcType=DOUBLE} bad_num,
            #{STOCK.createBy,jdbcType=VARCHAR} create_by,
            #{STOCK.createTime,jdbcType=DATE} create_time,
            #{STOCK.updateBy,jdbcType=VARCHAR} update_by,
            #{STOCK.updateTime,jdbcType=DATE} update_time,
            #{STOCK.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.stock_date = b.stock_date
        and b.material_code = a.material_code
        AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE SET
        a.stock_num = b.stock_num,
        a.update_by = b.create_by,
        a.update_time = sysdate
        WHEN NOT MATCHED THEN
        INSERT (a.id, a.stock_date, a.material_code, a.stock_num, a.modify_num, a.bad_num, a.create_by, a.create_time,
        a.remark, a.del_flag) values
        (SEQ_XWYY_stock.NEXTVAL, b.stock_date, b.material_code, b.stock_num, b.modify_num, b.bad_num, b.create_by, sysdate,
        b.remark, '0')
    </update>
    <update id="mergeCd15Sql" parameterType="list">
        merge into t_cd15_stock a USING (
        <foreach collection="list" item="STOCK" separator=" union ">
            select
            #{STOCK.stockDate,jdbcType=DATE} stock_date,
            #{STOCK.materialCode,jdbcType=VARCHAR} material_code,
            #{STOCK.stockNum,jdbcType=DOUBLE} stock_num,
            #{STOCK.modifyNum,jdbcType=DOUBLE} modify_num,
            #{STOCK.badNum,jdbcType=DOUBLE} bad_num,
            #{STOCK.createBy,jdbcType=VARCHAR} create_by,
            #{STOCK.createTime,jdbcType=DATE} create_time,
            #{STOCK.updateBy,jdbcType=VARCHAR} update_by,
            #{STOCK.updateTime,jdbcType=DATE} update_time,
            #{STOCK.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.stock_date = b.stock_date
        and b.material_code = a.material_code
        AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE SET
        a.stock_num = b.stock_num,
        a.update_by = b.create_by,
        a.update_time = sysdate
        WHEN NOT MATCHED THEN
        INSERT (a.id, a.stock_date, a.material_code, a.stock_num, a.modify_num, a.bad_num, a.create_by, a.create_time,
        a.remark, a.del_flag) values
        (SEQ_cd15_stock.NEXTVAL, b.stock_date, b.material_code, b.stock_num, b.modify_num, b.bad_num, b.create_by, sysdate,
        b.remark, '0')
    </update>
    <update id="mergeCd90Sql" parameterType="list">
        merge into t_cd90_stock a USING (
        <foreach collection="list" item="STOCK" separator=" union ">
            select
            #{STOCK.stockDate,jdbcType=DATE} stock_date,
            #{STOCK.materialCode,jdbcType=VARCHAR} material_code,
            #{STOCK.stockNum,jdbcType=DOUBLE} stock_num,
            #{STOCK.modifyNum,jdbcType=DOUBLE} modify_num,
            #{STOCK.badNum,jdbcType=DOUBLE} bad_num,
            #{STOCK.createBy,jdbcType=VARCHAR} create_by,
            #{STOCK.createTime,jdbcType=DATE} create_time,
            #{STOCK.updateBy,jdbcType=VARCHAR} update_by,
            #{STOCK.updateTime,jdbcType=DATE} update_time,
            #{STOCK.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.stock_date = b.stock_date
        and b.material_code = a.material_code
        AND a.del_flag = '0')
        WHEN MATCHED THEN
        UPDATE SET
        a.stock_num = b.stock_num,
        a.update_by = b.create_by,
        a.update_time = sysdate
        WHEN NOT MATCHED THEN
        INSERT (a.id,
                a.stock_date,
                a.material_code,
                a.stock_num,
                a.modify_num,
                a.bad_num,
                a.create_by,
                a.create_time,
                a.remark,
                a.del_flag) values
        (SEQ_cd90_stock.NEXTVAL,
         b.stock_date,
         b.material_code,
         b.stock_num,
         b.modify_num,
         b.bad_num,
         b.create_by,
         sysdate,
         b.remark,
         '0')
    </update>
    <update id="mergeCd15LineSideSql" parameterType="list">
        merge into t_cd15_line_side_stock a USING (
        <foreach collection="list" item="STOCK" separator=" union ">
            select
            #{STOCK.stockDate,jdbcType=DATE} stock_date,
            #{STOCK.materialCode,jdbcType=VARCHAR} material_code,
            #{STOCK.machineCode,jdbcType=VARCHAR} machine_code,
            #{STOCK.barCode,jdbcType=VARCHAR} bar_code,
            #{STOCK.availableStock,jdbcType=DOUBLE} stock_num
            from dual
        </foreach>
        ) b ON (
        a.stock_date = b.stock_date
        and b.bar_code = a.bar_code
        AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE SET
        a.stock_num = b.stock_num,
        a.material_code = b.material_code,
        a.machine_code = b.machine_code,
        a.update_time = sysdate
        WHEN NOT MATCHED THEN
        INSERT (a.id, a.stock_date, a.bar_code, a.material_code, a.machine_code, a.stock_num, a.create_time,
        a.update_time, a.del_flag) values
        (SEQ_cd15_line_side_stock.NEXTVAL, b.stock_date, b.bar_code, b.material_code, b.machine_code, b.stock_num, sysdate,
        sysdate, '0')
    </update>
    <update id="mergeCd90LineSideSql" parameterType="list">
        merge into t_cd90_line_side_stock a USING (
        <foreach collection="list" item="STOCK" separator=" union ">
            select
            #{STOCK.stockDate,jdbcType=DATE} stock_date,
            #{STOCK.materialCode,jdbcType=VARCHAR} material_code,
            #{STOCK.machineCode,jdbcType=VARCHAR} machine_code,
            #{STOCK.barCode,jdbcType=VARCHAR} bar_code,
            #{STOCK.availableStock,jdbcType=DOUBLE} stock_num
            from dual
        </foreach>
        ) b ON (
        a.stock_date = b.stock_date
        and b.bar_code = a.bar_code
        AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE SET
        a.stock_num = b.stock_num,
        a.material_code = b.material_code,
        a.machine_code = b.machine_code,
        a.update_time = sysdate
        WHEN NOT MATCHED THEN
        INSERT (a.id, a.stock_date, a.bar_code, a.material_code, a.machine_code, a.stock_num, a.create_time,
        a.update_time, a.del_flag) values
        (SEQ_cd90_line_side_stock.NEXTVAL, b.stock_date, b.bar_code, b.material_code, b.machine_code, b.stock_num, sysdate,
        sysdate, '0')
    </update>
</mapper>
