<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.mp.adjust.mapper.BatchMpAdjustMaterialLogEntityMapper">

    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.zlt.aps.mp.api.domain.entity.MpAdjustMaterialLog" useGeneratedKeys="true">
        INSERT INTO T_MP_ADJUST_MATERIAL_LOG
        (FACTORY_CODE, YEAR, MONTH, PRODUCTION_VERSION, ADJ_VERSION, ADJUST_TYPE, 
         STRUCTURE_NAME, MATERIAL_CODE, MATERIAL_DESC, HAS_SPECIAL_MATERIAL, ADJUST_DETAIL,
         CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, IS_DELETE)
        VALUES
        (#{factoryCode}, #{year}, #{month}, #{productionVersion}, #{adjVersion}, #{adjustType},
         #{structureName}, #{materialCode}, #{materialDesc}, #{hasSpecialMaterial}, #{adjustDetail},
         #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, 0)
    </insert>
</mapper>
