<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.mp.adjust.mapper.BatchMpProductionFinalResultEntityMapper">

    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.zlt.aps.mp.api.domain.entity.FactoryMonthPlanProductionFinalResult" useGeneratedKeys="true">
        INSERT INTO T_MP_MONTH_PLAN_PROD_FINAL (
            PRODUCTION_NO,
            FACTORY_CODE,
            YEAR,
            MONTH,
            `YEAR_MONTH`,
            MONTH_PLAN_VERSION,
            LAST_MONTH_PLAN_VERSION,
            PRODUCTION_VERSION,
            PRODUCT_TYPE_CODE,
            MATERIAL_CODE,
            MATERIAL_DESC,
            MES_MATERIAL_CODE,
            STRUCTURE_NAME,
            PRO_SIZE,
            PRODUCT_CATEGORY,
            PRODUCT_STATUS,
            STRUCTURE_TYPE,
            PRODUCTION_TYPE,
            EMBRYO_CODE,
            MAIN_MATERIAL_DESC,
            CONSTRUCTION_STAGE,
            IS_ZERO_RACK,
            EMBRYO_NO,
            TEXT_NO,
            LH_NO,
            BRAND,
            SPECIFICATIONS,
            MAIN_PATTERN,
            PATTERN,
            MOULD_CAVITY_QTY,
            TYPE_BLOCK_QTY,
            HEIGHT_QTY,
            AVERAGE_SALE_QTY,
            INVENTORY_SALES_RATIO,
            DAY_VULCANIZATION_QTY,
            CX_MACHINE_CODE,
            MOULD_CHANGE_INFO,
            DYNAMIC_BALANCE_QTY,
            UNIFORMITY_QTY,
            IS_IMPORT,
            PRODUCTION_SEQUENCE,
            CURING_TIME,
            PROD_REQ_PLAN,
            TRIAL_QTY,
            HEIGHT_PRODUCTION_QTY,
            FACT_PROD_REQ_QTY,
            ORIGINAL_TOTAL_QTY,
            TOTAL_QTY,
            MID_PRODUCTION_QTY,
            CYCLE_PRODUCTION_QTY,
            CONVENTION_PRODUCTION_QTY,
            POSTPONE_PRODUCTION_QTY,
            TRIAL_PRODUCTION_QTY,
            DIFFERENCE_QTY,
            ADJUST_QTY1,
            ADJUST_QTY2,
            ADJUST_QTY3,
            ADJUST_QTY4,
            REASON,
            BEGIN_DAY,
            END_DAY,
            DAY_1, DAY_2, DAY_3, DAY_4, DAY_5,
            DAY_6, DAY_7, DAY_8, DAY_9, DAY_10,
            DAY_11, DAY_12, DAY_13, DAY_14, DAY_15,
            DAY_16, DAY_17, DAY_18, DAY_19, DAY_20,
            DAY_21, DAY_22, DAY_23, DAY_24, DAY_25,
            DAY_26, DAY_27, DAY_28, DAY_29, DAY_30, DAY_31,
            TOTAL_VULCANIZATION_MINUTES,
            DISPLAY_SEQ,
            IS_RELEASE,
            CREATE_BY,
            CREATE_TIME,
            UPDATE_BY,
            UPDATE_TIME
        )
        VALUES (
                   #{productionNo},
                   #{factoryCode},
                   #{year},
                   #{month},
                   #{yearMonth},
                   #{monthPlanVersion},
                   #{lastMonthPlanVersion},
                   #{productionVersion},
                   #{productTypeCode},
                   #{materialCode},
                   #{materialDesc},
                   #{mesMaterialCode},
                   #{structureName},
                   #{proSize},
                   #{productCategory},
                   #{productStatus},
                   #{structureType},
                   #{productionType},
                   #{embryoCode},
                   #{mainMaterialDesc},
                   #{constructionStage},
                   #{isZeroRack},
                   #{embryoNo},
                   #{textNo},
                   #{lhNo},
                   #{brand},
                   #{specifications},
                   #{mainPattern},
                   #{pattern},
                   #{mouldCavityQty},
                   #{typeBlockQty},
                   #{heightQty},
                   #{averageSaleQty},
                   #{inventorySalesRatio},
                   #{dayVulcanizationQty},
                   #{cxMachineCode},
                   #{mouldChangeInfo},
                   #{dynamicBalanceQty},
                   #{uniformityQty},
                   #{isImport},
                   #{productionSequence},
                   #{curingTime},
                   #{prodReqPlan},
                   #{trialQty},
                   #{heightProductionQty},
                   #{factProdReqQty},
                   #{originalTotalQty},
                   #{totalQty},
                   #{midProductionQty},
                   #{cycleProductionQty},
                   #{conventionProductionQty},
                   #{postponeProductionQty},
                   #{trialProductionQty},
                   #{differenceQty},
                   #{adjustQty1},
                   #{adjustQty2},
                   #{adjustQty3},
                   #{adjustQty4},
                   #{reason},
                   #{beginDay},
                   #{endDay},
                   #{day1}, #{day2}, #{day3}, #{day4}, #{day5},
                   #{day6}, #{day7}, #{day8}, #{day9}, #{day10},
                   #{day11}, #{day12}, #{day13}, #{day14}, #{day15},
                   #{day16}, #{day17}, #{day18}, #{day19}, #{day20},
                   #{day21}, #{day22}, #{day23}, #{day24}, #{day25},
                   #{day26}, #{day27}, #{day28}, #{day29}, #{day30}, #{day31},
                   #{totalVulcanizationMinutes},
                   #{displaySeq},
                   #{isRelease},
                   #{createBy},
                   NOW(),
                   #{updateBy},
                   NOW()
               )
    </insert>

    <update id="update" parameterType="com.zlt.aps.mp.api.domain.entity.FactoryMonthPlanProductionFinalResult">
        UPDATE T_MP_MONTH_PLAN_PROD_FINAL
        SET
            PRODUCTION_NO = #{productionNo},
            FACTORY_CODE = #{factoryCode},
            YEAR = #{year},
            MONTH = #{month},
            `YEAR_MONTH` = #{yearMonth},
            MONTH_PLAN_VERSION = #{monthPlanVersion},
            LAST_MONTH_PLAN_VERSION = #{lastMonthPlanVersion},
            PRODUCTION_VERSION = #{productionVersion},
            PRODUCT_TYPE_CODE = #{productTypeCode},
            MATERIAL_CODE = #{materialCode},
            MATERIAL_DESC = #{materialDesc},
            MES_MATERIAL_CODE = #{mesMaterialCode},
            STRUCTURE_NAME = #{structureName},
            PRO_SIZE = #{proSize},
            PRODUCT_CATEGORY = #{productCategory},
            PRODUCT_STATUS = #{productStatus},
            STRUCTURE_TYPE = #{structureType},
            PRODUCTION_TYPE = #{productionType},
            EMBRYO_CODE = #{embryoCode},
            MAIN_MATERIAL_DESC = #{mainMaterialDesc},
            CONSTRUCTION_STAGE = #{constructionStage},
            IS_ZERO_RACK = #{isZeroRack},
            EMBRYO_NO = #{embryoNo},
            TEXT_NO = #{textNo},
            LH_NO = #{lhNo},
            BRAND = #{brand},
            SPECIFICATIONS = #{specifications},
            MAIN_PATTERN = #{mainPattern},
            PATTERN = #{pattern},
            MOULD_CAVITY_QTY = #{mouldCavityQty},
            TYPE_BLOCK_QTY = #{typeBlockQty},
            HEIGHT_QTY = #{heightQty},
            AVERAGE_SALE_QTY = #{averageSaleQty},
            INVENTORY_SALES_RATIO = #{inventorySalesRatio},
            DAY_VULCANIZATION_QTY = #{dayVulcanizationQty},
            CX_MACHINE_CODE = #{cxMachineCode},
            MOULD_CHANGE_INFO = #{mouldChangeInfo},
            DYNAMIC_BALANCE_QTY = #{dynamicBalanceQty},
            UNIFORMITY_QTY = #{uniformityQty},
            IS_IMPORT = #{isImport},
            PRODUCTION_SEQUENCE = #{productionSequence},
            CURING_TIME = #{curingTime},
            PROD_REQ_PLAN = #{prodReqPlan},
            TRIAL_QTY = #{trialQty},
            HEIGHT_PRODUCTION_QTY = #{heightProductionQty},
            FACT_PROD_REQ_QTY = #{factProdReqQty},
            ORIGINAL_TOTAL_QTY = #{originalTotalQty},
            TOTAL_QTY = #{totalQty},
            MID_PRODUCTION_QTY = #{midProductionQty},
            CYCLE_PRODUCTION_QTY = #{cycleProductionQty},
            CONVENTION_PRODUCTION_QTY = #{conventionProductionQty},
            POSTPONE_PRODUCTION_QTY = #{postponeProductionQty},
            TRIAL_PRODUCTION_QTY = #{trialProductionQty},
            DIFFERENCE_QTY = #{differenceQty},
            ADJUST_QTY1 = #{adjustQty1},
            ADJUST_QTY2 = #{adjustQty2},
            ADJUST_QTY3 = #{adjustQty3},
            ADJUST_QTY4 = #{adjustQty4},
            REASON = #{reason},
            BEGIN_DAY = #{beginDay},
            END_DAY = #{endDay},
            DAY_1 = #{day1}, DAY_2 = #{day2}, DAY_3 = #{day3}, DAY_4 = #{day4}, DAY_5 = #{day5},
            DAY_6 = #{day6}, DAY_7 = #{day7}, DAY_8 = #{day8}, DAY_9 = #{day9}, DAY_10 = #{day10},
            DAY_11 = #{day11}, DAY_12 = #{day12}, DAY_13 = #{day13}, DAY_14 = #{day14}, DAY_15 = #{day15},
            DAY_16 = #{day16}, DAY_17 = #{day17}, DAY_18 = #{day18}, DAY_19 = #{day19}, DAY_20 = #{day20},
            DAY_21 = #{day21}, DAY_22 = #{day22}, DAY_23 = #{day23}, DAY_24 = #{day24}, DAY_25 = #{day25},
            DAY_26 = #{day26}, DAY_27 = #{day27}, DAY_28 = #{day28}, DAY_29 = #{day29}, DAY_30 = #{day30}, DAY_31 = #{day31},
            TOTAL_VULCANIZATION_MINUTES = #{totalVulcanizationMinutes},
            DISPLAY_SEQ = #{displaySeq},
            IS_RELEASE = #{isRelease},
            UPDATE_BY = #{updateBy},
            UPDATE_TIME = NOW()
        WHERE ID = #{id}
    </update>

</mapper>
