<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tq.mapper.TqAssistScheduleMapper">

    <resultMap type="com.zlt.aps.tq.api.domain.entity.TqAssistSchedule" id="TqAssistScheduleResult">
        <result property="id" column="id"/>
        <result property="scheduleDate" column="schedule_date"/>
        <result property="cxBatchNo" column="cx_batch_no"/>
        <result property="batchNo" column="batch_no"/>
        <result property="orderNo" column="order_no"/>
        <result property="beadCode" column="bead_code"/>
        <result property="steelRingCode" column="steel_ring_code"/>
        <result property="triangleGlueCode" column="triangle_glue_code"/>
        <result property="glueCode" column="glue_code"/>
        <result property="mouthPlateCode" column="mouth_plate_code"/>
        <result property="specSize" column="spec_size"/>
        <result property="machineId" column="machine_id"/>
        <result property="unitConsume" column="unit_consume"/>
        <result property="stockQty" column="stock_qty"/>
        <result property="supplyTime" column="supply_time"/>
        <result property="midPlanQty" column="mid_plan_qty"/>
        <result property="midFinishQty" column="mid_finish_qty"/>
        <result property="midProduceOrder" column="mid_produce_order"/>
        <result property="midFinishRate" column="mid_finish_rate"/>
        <result property="midSysAnalysis" column="mid_sys_analysis"/>
        <result property="midHandAnalysis" column="mid_hand_analysis"/>
        <result property="nightPlanQty" column="night_plan_qty"/>
        <result property="nightFinishQty" column="night_finish_qty"/>
        <result property="nightProduceOrder" column="night_produce_order"/>
        <result property="nightFinishRate" column="night_finish_rate"/>
        <result property="nightSysAnalysis" column="night_sys_analysis"/>
        <result property="nightHandAnalysis" column="night_hand_analysis"/>
        <result property="dayPlanQty" column="day_plan_qty"/>
        <result property="dayFinishQty" column="day_finish_qty"/>
        <result property="dayProduceOrder" column="day_produce_order"/>
        <result property="dayFinishRate" column="day_finish_rate"/>
        <result property="daySysAnalysis" column="day_sys_analysis"/>
        <result property="dayHandAnalysis" column="day_hand_analysis"/>
        <result property="nextMidPlanQty" column="next_mid_plan_qty"/>
        <result property="nextMidFinishQty" column="next_mid_finish_qty"/>
        <result property="nextMidProduceOrder" column="next_mid_produce_order"/>
        <result property="nextMidFinishRate" column="next_mid_finish_rate"/>
        <result property="nextMidSysAnalysis" column="next_mid_sys_analysis"/>
        <result property="nextMidHandAnalysis" column="next_mid_hand_analysis"/>
        <result property="cxClass1Plan" column="cx_class1_plan"/>
        <result property="cxClass2Plan" column="cx_class2_plan"/>
        <result property="cxClass3Plan" column="cx_class3_plan"/>
        <result property="cxClass4Plan" column="cx_class4_plan"/>
        <result property="cxClass5Plan" column="cx_class5_plan"/>
        <result property="isRelease" column="is_release"/>
        <result property="productionStatus" column="production_status"/>
        <result property="markCloseOutTip" column="mark_close_out_tip"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="monthPlan" column="monthPlan"/>
        <result property="monthPlanOs" column="monthPlanOs"/>
        <result property="dataSource" column="data_source"/>
    </resultMap>

    <sql id="selectTqAssistScheduleVo">
        select id, schedule_date, cx_batch_no, batch_no, order_no, bead_code, steel_ring_code, triangle_glue_code, glue_code, mouth_plate_code, spec_size, machine_id, unit_consume, stock_qty, supply_time, mid_plan_qty, mid_finish_qty, mid_produce_order, mid_finish_rate, mid_sys_analysis, mid_hand_analysis, night_plan_qty, night_finish_qty, night_produce_order, night_finish_rate, night_sys_analysis, night_hand_analysis, day_plan_qty, day_finish_qty, day_produce_order, day_finish_rate, day_sys_analysis, day_hand_analysis, next_mid_plan_qty, next_mid_finish_qty, next_mid_produce_order, next_mid_finish_rate, next_mid_sys_analysis, next_mid_hand_analysis, cx_class1_plan, cx_class2_plan, cx_class3_plan, cx_class4_plan, cx_class5_plan, is_release, mark_close_out_tip, production_status, data_source, remark, del_flag, create_by, create_time, update_by, update_time from t_tq_assist_schedule
    </sql>

    <sql id="column">
        a.id, a.schedule_date, a.cx_batch_no, a.batch_no, a.order_no, a.bead_code, a.steel_ring_code, a.triangle_glue_code, a.glue_code, a.mouth_plate_code, a.spec_size, a.machine_id, a.unit_consume, a.stock_qty, a.supply_time, a.mid_plan_qty, a.mid_produce_order, a.mid_sys_analysis, a.mid_hand_analysis, a.night_plan_qty, a.night_produce_order, a.night_sys_analysis, a.night_hand_analysis, a.day_plan_qty, a.day_produce_order, a.day_sys_analysis, a.day_hand_analysis, a.next_mid_plan_qty, a.next_mid_produce_order, a.next_mid_sys_analysis, a.next_mid_hand_analysis, a.cx_class1_plan, a.cx_class2_plan, a.cx_class3_plan, a.cx_class4_plan, a.cx_class5_plan, a.is_release, a.mark_close_out_tip, a.production_status, a.remark, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time,a.data_source,
    </sql>

    <select id="selectTqAssistScheduleList" parameterType="com.zlt.aps.tq.api.domain.entity.TqAssistSchedule"
            resultType="com.zlt.aps.tq.api.domain.entity.TqAssistSchedule">
        select * from (
            select
                <include refid="column"/>
                (NVL(MID_PLAN_QTY, 0) + NVL(NIGHT_PLAN_QTY, 0) + NVL(DAY_PLAN_QTY, 0)) as daily_total_qty,
                b.MONTH_PLAN_QTY as month_plan,
                b.MONTH_REMAIN_QTY as month_plan_os
            from t_tq_assist_schedule a
            LEFT JOIN (
                select MATERIAL_CODE,MONTH_PLAN_QTY,MONTH_REMAIN_QTY
                from T_TQ_MONTH_PLAN_SURPLUS
                where YEAR=#{year,jdbcType=VARCHAR}
                and MONTH= #{month,jdbcType=VARCHAR}
                and del_flag = '0'
            ) b on a.BEAD_CODE=b.MATERIAL_CODE
            where a.del_flag = '0'
            <if test="scheduleDate != null ">and a.schedule_date = #{scheduleDate}</if>
            <if test="beadCode != null  and beadCode != ''">
                and INSTR(a.bead_code, #{beadCode,jdbcType=VARCHAR}) > 0
            </if>
            <if test="steelRingCode != null  and steelRingCode != ''">
                and INSTR(a.steel_ring_code, #{steelRingCode,jdbcType=VARCHAR}) > 0
            </if>
            <if test="triangleGlueCode != null  and triangleGlueCode != ''">
                and INSTR(a.triangle_glue_code, #{triangleGlueCode,jdbcType=VARCHAR}) > 0
            </if>
            <if test="glueCode != null  and glueCode != ''">
                and INSTR(a.glue_code, #{glueCode,jdbcType=VARCHAR}) > 0
            </if>
            <if test="specSize != null  and specSize != ''">and a.spec_size = #{specSize}</if>
            <if test="productionStatus != null  and productionStatus != ''">and a.production_status = #{productionStatus}</if>
            <if test="isRelease != null  and isRelease != ''">and a.IS_RELEASE = #{isRelease}</if>
            <if test="mouthPlateCode != null  and mouthPlateCode != ''">and INSTR(a.mouth_plate_code, #{mouthPlateCode}) > 0 </if>
            <if test="machineId != null  and machineId != ''">and instr(','||a.machine_id||',', ','||#{machineId}||',')>0</if>
            order by (case when instr(machine_id,',') > 0 then machine_id when machine_id is null or machine_id = '' then '0' else '-1' end) desc/*多个机台 和 没有机台的排在前面*/,a.CREATE_TIME
        ) t
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>
</mapper>