<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tq.mapper.TqDispatcherLogMapper">

    <resultMap type="com.zlt.aps.tq.api.domain.entity.TqDispatcherLog" id="TqDispatcherLogResult">
        <result property="id" column="id"/>
        <result property="scheduleId" column="schedule_id"/>
        <result property="operType" column="oper_type"/>
        <result property="scheduleDate" column="schedule_date"/>
        <result property="beadCode" column="bead_code"/>
        <result property="beforeMachineCode" column="before_machine_code"/>
        <result property="beforeClass1Plan" column="before_class1_plan"/>
        <result property="beforeClass2Plan" column="before_class2_plan"/>
        <result property="beforeClass3Plan" column="before_class3_plan"/>
        <result property="beforeClass4Plan" column="before_class4_plan"/>
        <result property="beforeClass5Plan" column="before_class5_plan"/>
        <result property="beforeClass6Plan" column="before_class6_plan"/>
        <result property="afterMachineCode" column="after_machine_code"/>
        <result property="afterClass1Plan" column="after_class1_plan"/>
        <result property="afterClass2Plan" column="after_class2_plan"/>
        <result property="afterClass3Plan" column="after_class3_plan"/>
        <result property="afterClass4Plan" column="after_class4_plan"/>
        <result property="afterClass5Plan" column="after_class5_plan"/>
        <result property="afterClass6Plan" column="after_class6_plan"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectTqDispatcherLogVo">
        select id, schedule_id, oper_type, schedule_date, bead_code,
               before_machine_code, before_class1_plan, before_class2_plan, before_class3_plan, before_class4_plan, before_class5_plan, before_class6_plan,
               after_machine_code, after_class1_plan, after_class2_plan, after_class3_plan, after_class4_plan, after_class5_plan, after_class6_plan,
               remark, del_flag, create_by, create_time, update_by, update_time
        from t_tq_dispatcher_log
    </sql>

    <select id="selectTqDispatcherLogList" parameterType="com.zlt.aps.tq.api.domain.entity.TqDispatcherLog"
            resultMap="TqDispatcherLogResult">
        <include refid="selectTqDispatcherLogVo"/>
        where del_flag = '0'
        <if test="operType != null  and operType != ''">and oper_type = #{operType}</if>
        <if test="scheduleDate != null ">and schedule_date = #{scheduleDate,jdbcType=DATE}</if>
        <if test="beadCode != null and beadCode != ''">and bead_code = #{beadCode}</if>
        <if test="createBy != null and createBy != ''">
            and INSTR(create_by, #{createBy}) > 0
        </if>
        <if test="startTime != null and startTime !='' ">
            and create_time  <![CDATA[  >=  ]]> STR_TO_DATE(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime !='' ">
            and create_time  <![CDATA[   <=  ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="orderStr == null">
            order by create_time desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>

    </select>

    <select id="selectTqDispatcherLogById" parameterType="Long" resultMap="TqDispatcherLogResult">
        <include refid="selectTqDispatcherLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertTqDispatcherLog" parameterType="com.zlt.aps.tq.api.domain.entity.TqDispatcherLog">
        insert into t_tq_dispatcher_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="scheduleId != null">schedule_id,</if>
            <if test="operType != null">oper_type,</if>
            <if test="scheduleDate != null">schedule_date,</if>
            <if test="beadCode != null">bead_code,</if>
            <if test="beforeMachineCode != null">before_machine_code,</if>
            <if test="beforeClass1Plan != null">before_class1_plan,</if>
            <if test="beforeClass2Plan != null">before_class2_plan,</if>
            <if test="beforeClass3Plan != null">before_class3_plan,</if>
            <if test="beforeClass4Plan != null">before_class4_plan,</if>
            <if test="beforeClass5Plan != null">before_class5_plan,</if>
            <if test="beforeClass6Plan != null">before_class6_plan,</if>
            <if test="afterMachineCode != null">after_machine_code,</if>
            <if test="afterClass1Plan != null">after_class1_plan,</if>
            <if test="afterClass2Plan != null">after_class2_plan,</if>
            <if test="afterClass3Plan != null">after_class3_plan,</if>
            <if test="afterClass4Plan != null">after_class4_plan,</if>
            <if test="afterClass5Plan != null">after_class5_plan,</if>
            <if test="afterClass6Plan != null">after_class6_plan,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="scheduleId != null">#{scheduleId},</if>
            <if test="operType != null">#{operType},</if>
            <if test="scheduleDate != null">#{scheduleDate},</if>
            <if test="beadCode != null">#{beadCode},</if>
            <if test="beforeMachineCode != null">#{beforeMachineCode},</if>
            <if test="beforeClass1Plan != null">#{beforeClass1Plan},</if>
            <if test="beforeClass2Plan != null">#{beforeClass2Plan},</if>
            <if test="beforeClass3Plan != null">#{beforeClass3Plan},</if>
            <if test="beforeClass4Plan != null">#{beforeClass4Plan},</if>
            <if test="beforeClass5Plan != null">#{beforeClass5Plan},</if>
            <if test="beforeClass6Plan != null">#{beforeClass6Plan},</if>
            <if test="afterMachineCode != null">#{afterMachineCode},</if>
            <if test="afterClass1Plan != null">#{afterClass1Plan},</if>
            <if test="afterClass2Plan != null">#{afterClass2Plan},</if>
            <if test="afterClass3Plan != null">#{afterClass3Plan},</if>
            <if test="afterClass4Plan != null">#{afterClass4Plan},</if>
            <if test="afterClass5Plan != null">#{afterClass5Plan},</if>
            <if test="afterClass6Plan != null">#{afterClass6Plan},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateTqDispatcherLog" parameterType="com.zlt.aps.tq.api.domain.entity.TqDispatcherLog">
        update t_tq_dispatcher_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="scheduleId != null">schedule_id = #{scheduleId},</if>
            <if test="operType != null">oper_type = #{operType},</if>
            <if test="scheduleDate != null">schedule_date = #{scheduleDate},</if>
            <if test="beadCode != null">bead_code = #{beadCode},</if>
            <if test="beforeMachineCode != null">before_machine_code = #{beforeMachineCode},</if>
            <if test="beforeClass1Plan != null">before_class1_plan = #{beforeClass1Plan},</if>
            <if test="beforeClass2Plan != null">before_class2_plan = #{beforeClass2Plan},</if>
            <if test="beforeClass3Plan != null">before_class3_plan = #{beforeClass3Plan},</if>
            <if test="beforeClass4Plan != null">before_class4_plan = #{beforeClass4Plan},</if>
            <if test="beforeClass5Plan != null">before_class5_plan = #{beforeClass5Plan},</if>
            <if test="beforeClass6Plan != null">before_class6_plan = #{beforeClass6Plan},</if>
            <if test="afterMachineCode != null">after_machine_code = #{afterMachineCode},</if>
            <if test="afterClass1Plan != null">after_class1_plan = #{afterClass1Plan},</if>
            <if test="afterClass2Plan != null">after_class2_plan = #{afterClass2Plan},</if>
            <if test="afterClass3Plan != null">after_class3_plan = #{afterClass3Plan},</if>
            <if test="afterClass4Plan != null">after_class4_plan = #{afterClass4Plan},</if>
            <if test="afterClass5Plan != null">after_class5_plan = #{afterClass5Plan},</if>
            <if test="afterClass6Plan != null">after_class6_plan = #{afterClass6Plan},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTqDispatcherLogById" parameterType="Long">
        update t_tq_dispatcher_log set del_flag = NULL where id = #{id}
    </delete>

    <delete id="deleteTqDispatcherLogByIds" parameterType="String">
        update t_tq_dispatcher_log set del_flag = NULL where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
