<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tq.mapper.TqLossSettingMapper">

    <resultMap type="com.zlt.aps.tq.api.domain.entity.TqLossSetting" id="TqLossSettingResult">
        <id property="id" column="ID"/>
        <result property="materialCode" column="MATERIAL_CODE"/>
        <result property="machineId" column="MACHINE_ID"/>
        <result property="machineName" column="MACHINE_NAME"/>
        <result property="lossRate" column="LOSS_RATE"/>
        <result property="remark" column="REMARK"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <select id="selectLossSettingList" parameterType="com.zlt.aps.tq.api.domain.entity.TqLossSetting"
            resultMap="TqLossSettingResult">
        select a.ID, a.MATERIAL_CODE, a.MACHINE_ID, a.LOSS_RATE, a.REMARK,
               a.CREATE_BY, a.CREATE_TIME, a.UPDATE_BY, a.UPDATE_TIME,
               b.MACHINE_NAME
        from T_TQ_LOSS_SETTING a
        left join T_TQ_MACHINE_INFO b on a.MACHINE_ID = b.ID and b.IS_DELETE = 0
        where a.IS_DELETE = 0
        <if test="materialCode != null and materialCode != ''">and INSTR(a.MATERIAL_CODE, #{materialCode}) > 0</if>
        <if test="machineId != null">and a.MACHINE_ID = #{machineId}</if>
        order by a.CREATE_TIME desc
    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO T_TQ_LOSS_SETTING (
            MATERIAL_CODE, MACHINE_ID, LOSS_RATE, CREATE_BY, CREATE_TIME, REMARK, IS_DELETE
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.materialCode,jdbcType=VARCHAR},
            #{item.machineId,jdbcType=BIGINT},
            #{item.lossRate,jdbcType=DOUBLE},
            #{item.createBy,jdbcType=VARCHAR},
            NOW(),
            #{item.remark,jdbcType=VARCHAR},
            0
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        LOSS_RATE = VALUES(LOSS_RATE),
        UPDATE_BY = VALUES(CREATE_BY),
        UPDATE_TIME = NOW(),
        REMARK = VALUES(REMARK)
    </insert>

</mapper>
