<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tq.mapper.TqMachineMaintenancePlanMapper">

    <select id="listMachineMaintenancePlan" parameterType="com.zlt.aps.tq.api.domain.entity.TqMachineMaintenancePlan"
            resultType="com.zlt.aps.tq.api.domain.entity.TqMachineMaintenancePlan">
        select * from (
            select mp.ID, mp.FACTORY_CODE, mp.MACHINE_CODE, mp.DOWNTIME_DATE, mp.DOWNTIME_SHIFT,
                   mp.DOWNTIME_HOURS, mp.REMARK, mp.IS_DELETE, mp.CREATE_BY, mp.CREATE_TIME,
                   mp.UPDATE_BY, mp.UPDATE_TIME,
                   mi.MACHINE_NAME
            from T_TQ_MACHINE_MAINTENANCE_PLAN mp
            left join T_TQ_MACHINE_INFO mi on mp.MACHINE_CODE = mi.MACHINE_CODE
                and mi.IS_DELETE = '0'
            where mp.IS_DELETE = '0'
            <if test="downtimeDateBegin != null">
                and mp.DOWNTIME_DATE &gt;= #{downtimeDateBegin}
            </if>
            <if test="downtimeDateEnd != null">
                and mp.DOWNTIME_DATE &lt;= #{downtimeDateEnd}
            </if>
            <if test="machineCode != null and machineCode != ''">
                and mp.MACHINE_CODE = #{machineCode}
            </if>
            order by mp.DOWNTIME_DATE desc, mi.MACHINE_NAME
        ) t
    </select>

    <!-- 校验"停机日期+机台编号+停机班次"组合唯一性 -->
    <select id="checkUnique" parameterType="com.zlt.aps.tq.api.domain.entity.TqMachineMaintenancePlan" resultType="int">
        SELECT count(1)
        FROM T_TQ_MACHINE_MAINTENANCE_PLAN
        where IS_DELETE = '0'
        and DOWNTIME_DATE = #{downtimeDate}
        and MACHINE_CODE = #{machineCode}
        and DOWNTIME_SHIFT = #{downtimeShift}
        <if test="id != null">and ID != #{id}</if>
    </select>

    <update id="deleteAllMachineMaintenancePlan">
        update T_TQ_MACHINE_MAINTENANCE_PLAN set IS_DELETE = '1' where IS_DELETE = '0'
    </update>

</mapper>
