<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tq.mapper.TqMouthPlateMapper">

    <select id="selectMouthPlateWithMachineInfo"
            parameterType="com.zlt.aps.tq.api.domain.entity.TqMouthPlate"
            resultType="com.zlt.aps.tq.api.domain.entity.TqMouthPlate">
        select * from (
            SELECT mp.ID, mp.MOUTH_PLATE_CODE, mp.MACHINE_CODE, mp.STATUS, mp.REMARK,
                   mp.IS_DELETE, mp.CREATE_BY, mp.CREATE_TIME, mp.UPDATE_BY, mp.UPDATE_TIME,
                   mi.MACHINE_NAME
            FROM T_TQ_MOUTH_PLATE mp
            LEFT JOIN T_TQ_MACHINE_INFO mi
            ON mp.MACHINE_CODE = mi.MACHINE_CODE
            where mp.is_delete = '0'
            <if test="mouthPlateCode != null  and mouthPlateCode != ''">
                and INSTR(mp.mouth_plate_code, #{mouthPlateCode}) > 0
            </if>
            <if test="machineCode != null and machineCode != ''">and mp.machine_code = #{machineCode}</if>
            <if test="status != null  and status != ''">and mp.status = #{status}</if>
            order by mp.create_time desc
        ) t
    </select>

    <select id="checkUnique" parameterType="com.zlt.aps.tq.api.domain.entity.TqMouthPlate" resultType="int">
        SELECT count(1)
        FROM T_TQ_MOUTH_PLATE
        where is_delete = '0'
        and mouth_plate_code = #{mouthPlateCode}
        and machine_code = #{machineCode}
        <if test="id != null">and id != #{id}</if>
    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO T_TQ_MOUTH_PLATE (
        mouth_plate_code, machine_code, status, create_by, create_time, update_by, update_time, remark, is_delete
        )
        VALUES
        <foreach collection="list" item="MouthPlate" separator=",">
            (
            #{MouthPlate.mouthPlateCode,jdbcType=VARCHAR},
            #{MouthPlate.machineCode,jdbcType=VARCHAR},
            #{MouthPlate.status,jdbcType=VARCHAR},
            #{MouthPlate.createBy,jdbcType=VARCHAR},
            NOW(),
            #{MouthPlate.updateBy,jdbcType=VARCHAR},
            NOW(),
            #{MouthPlate.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        status = VALUES(status),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>

    <update id="deleteAll">
        update T_TQ_MOUTH_PLATE set is_delete = '1' where is_delete = '0'
    </update>
</mapper>
