<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tq.mapper.TqQuotaSettingMapper">

    <resultMap type="com.zlt.aps.tq.api.domain.entity.TqQuotaSetting" id="TqQuotaSettingResult">
        <result property="id" column="id"/>
        <result property="beadCode" column="bead_code"/>
        <result property="machineId" column="machine_id"/>
        <result property="quota" column="quota"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectTqQuotaSettingVo">
        select id, bead_code, machine_id, quota, create_by, create_time, update_by, update_time, del_flag, remark from t_tq_quota_setting
    </sql>

    <select id="selectTqQuotaSettingList" parameterType="com.zlt.aps.tq.api.domain.entity.TqQuotaSetting"
            resultMap="TqQuotaSettingResult">
        select * from (
            select A.*,M.MACHINE_NAME from t_tq_quota_setting A LEFT JOIN T_TQ_MACHINE_INFO M
            ON A.machine_id=M.ID
            WHERE A.del_flag='0'
            <if test="beadCode != null  and beadCode != ''">and A.bead_code = #{beadCode,jdbcType=VARCHAR}</if>
            <if test="machineId != null ">and A.machine_id = #{machineId,jdbcType=DECIMAL}</if>
            <if test="orderStr == null">
                order by A.create_time desc
            </if>
        )
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="selectTqQuotaSettingById" parameterType="Long" resultMap="TqQuotaSettingResult">
        <include refid="selectTqQuotaSettingVo"/>
        where id = #{id}
    </select>

    <insert id="insertTqQuotaSetting" parameterType="com.zlt.aps.tq.api.domain.entity.TqQuotaSetting">
        insert into t_tq_quota_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="beadCode != null">bead_code,</if>
            <if test="machineId != null">machine_id,</if>
            <if test="quota != null">quota,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="beadCode != null">#{beadCode},</if>
            <if test="machineId != null">#{machineId},</if>
            <if test="quota != null">#{quota},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateTqQuotaSetting" parameterType="com.zlt.aps.tq.api.domain.entity.TqQuotaSetting">
        update t_tq_quota_setting
        <trim prefix="SET" suffixOverrides=",">
            bead_code = #{beadCode,jdbcType=VARCHAR},
            machine_id = #{machineId,jdbcType=DECIMAL},
            quota = #{quota,jdbcType=DECIMAL},
            remark = #{remark,jdbcType=VARCHAR},
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTqQuotaSettingById" parameterType="Long">
        update t_tq_quota_setting set del_flag = NULL where id = #{id}
    </delete>

    <delete id="deleteTqQuotaSettingByIds" parameterType="String">
        update t_tq_quota_setting set del_flag = NULL where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="checkTqQuotaSettingUnique" parameterType="com.zlt.aps.tq.api.domain.entity.TqQuotaSetting"
            resultMap="TqQuotaSettingResult">
        <include refid="selectTqQuotaSettingVo"/>
        where del_flag='0'
        <if test="id != null and id !='' ">and id != #{id}</if>
        <if test="machineId == null or machineId ==''">and machine_id is null</if>
        <if test="machineId != null and machineId !=''">and machine_id = #{machineId,jdbcType=DECIMAL}</if>
        <if test="beadCode == null or beadCode ==''">and bead_code is null</if>
        <if test="beadCode != null and beadCode !='' ">and bead_code = #{beadCode,jdbcType=VARCHAR}</if>
    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO t_tq_quota_setting (
        bead_code, machine_id, quota, create_by, create_time, remark, del_flag
        )
        VALUES
        <foreach collection="list" item="QuotaSetting" separator=",">
            (
            #{QuotaSetting.beadCode,jdbcType=VARCHAR},
            #{QuotaSetting.machineId,jdbcType=DOUBLE},
            #{QuotaSetting.quota,jdbcType=DOUBLE},
            #{QuotaSetting.createBy,jdbcType=VARCHAR},
            NOW(),
            #{QuotaSetting.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        quota = VALUES(quota),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>
</mapper>