<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tq.mapper.TqScheduleResultMapper">

    <resultMap type="com.zlt.aps.tq.api.domain.dto.TqScheduleResultDto" id="scheduleResult">
        <result property="id" column="id"/>
        <result property="scheduleDate" column="schedule_date"/>
        <result property="cxBatchNo" column="cx_batch_no"/>
        <result property="batchNo" column="batch_no"/>
        <result property="orderNo" column="order_no"/>
        <result property="beadCode" column="bead_code"/>
        <result property="steelRingCode" column="steel_ring_code"/>
        <result property="triangleGlueCode" column="triangle_glue_code"/>
        <result property="glueCode" column="glue_code"/>
        <result property="mouthPlateCode" column="mouth_plate_code"/>
        <result property="specSize" column="spec_size"/>
        <result property="machineId" column="machine_id"/>
        <result property="unitConsume" column="unit_consume"/>
        <result property="stockQty" column="stock_qty"/>
        <result property="supplyTime" column="supply_time"/>
        <result property="midPlanQty" column="mid_plan_qty"/>
        <result property="midFinishQty" column="mid_finish_qty"/>
        <result property="midProduceOrder" column="mid_produce_order"/>
        <result property="midFinishRate" column="mid_finish_rate"/>
        <result property="midSysAnalysis" column="mid_sys_analysis"/>
        <result property="midHandAnalysis" column="mid_hand_analysis"/>
        <result property="nightPlanQty" column="night_plan_qty"/>
        <result property="nightFinishQty" column="night_finish_qty"/>
        <result property="nightProduceOrder" column="night_produce_order"/>
        <result property="nightFinishRate" column="night_finish_rate"/>
        <result property="nightSysAnalysis" column="night_sys_analysis"/>
        <result property="nightHandAnalysis" column="night_hand_analysis"/>
        <result property="dayPlanQty" column="day_plan_qty"/>
        <result property="dayFinishQty" column="day_finish_qty"/>
        <result property="dayProduceOrder" column="day_produce_order"/>
        <result property="dayFinishRate" column="day_finish_rate"/>
        <result property="daySysAnalysis" column="day_sys_analysis"/>
        <result property="dayHandAnalysis" column="day_hand_analysis"/>
        <result property="nextMidPlanQty" column="next_mid_plan_qty"/>
        <result property="nextMidFinishQty" column="next_mid_finish_qty"/>
        <result property="nextMidProduceOrder" column="next_mid_produce_order"/>
        <result property="nextMidFinishRate" column="next_mid_finish_rate"/>
        <result property="nextMidSysAnalysis" column="next_mid_sys_analysis"/>
        <result property="nextMidHandAnalysis" column="next_mid_hand_analysis"/>
        <result property="cxClass1Plan" column="cx_class1_plan"/>
        <result property="cxClass2Plan" column="cx_class2_plan"/>
        <result property="cxClass3Plan" column="cx_class3_plan"/>
        <result property="cxClass4Plan" column="cx_class4_plan"/>
        <result property="cxClass5Plan" column="cx_class5_plan"/>
        <result property="isRelease" column="is_release"/>
        <result property="productionStatus" column="production_status"/>
        <result property="markCloseOutTip" column="mark_close_out_tip"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="monthPlan" column="monthPlan"/>
        <result property="monthPlanOs" column="monthPlanOs"/>
        <result property="dataSource" column="data_source"/>
        <result property="publishSuccessCount" column="publish_success_count"/>
        <result property="newestPublishTime" column="newest_publish_time"/>
        <result property="lastMidPlanQty" column="last_mid_plan_qty"/>
    </resultMap>
    <resultMap type="com.zlt.aps.tq.api.domain.dto.TqScheduleResultDto" id="scheduleResult2">
        <result property="id" column="id"/>
        <result property="scheduleDate" column="schedule_date"/>
        <result property="cxBatchNo" column="cx_batch_no"/>
        <result property="batchNo" column="batch_no"/>
        <result property="orderNo" column="order_no"/>
        <result property="beadCode" column="bead_code"/>
        <result property="steelRingCode" column="steel_ring_code"/>
        <result property="triangleGlueCode" column="triangle_glue_code"/>
        <result property="glueCode" column="glue_code"/>
        <result property="mouthPlateCode" column="mouth_plate_code"/>
        <result property="specSize" column="spec_size"/>
        <result property="machineId" column="machine_id"/>
        <result property="unitConsume" column="unit_consume"/>
        <result property="stockQty" column="stock_qty"/>
        <result property="supplyTime" column="supply_time"/>
        <result property="midPlanQty" column="mid_plan_qty"/>
        <result property="midFinishQty" column="mid_finish_qty"/>
        <result property="midProduceOrder" column="mid_produce_order"/>
        <result property="midFinishRate" column="mid_finish_rate"/>
        <result property="midSysAnalysis" column="mid_sys_analysis"/>
        <result property="midHandAnalysis" column="mid_hand_analysis"/>
        <result property="nightPlanQty" column="night_plan_qty"/>
        <result property="nightFinishQty" column="night_finish_qty"/>
        <result property="nightProduceOrder" column="night_produce_order"/>
        <result property="nightFinishRate" column="night_finish_rate"/>
        <result property="nightSysAnalysis" column="night_sys_analysis"/>
        <result property="nightHandAnalysis" column="night_hand_analysis"/>
        <result property="dayPlanQty" column="day_plan_qty"/>
        <result property="dayFinishQty" column="day_finish_qty"/>
        <result property="dayProduceOrder" column="day_produce_order"/>
        <result property="dayFinishRate" column="day_finish_rate"/>
        <result property="daySysAnalysis" column="day_sys_analysis"/>
        <result property="dayHandAnalysis" column="day_hand_analysis"/>
        <result property="nextMidPlanQty" column="next_mid_plan_qty"/>
        <result property="nextMidFinishQty" column="next_mid_finish_qty"/>
        <result property="nextMidProduceOrder" column="next_mid_produce_order"/>
        <result property="nextMidFinishRate" column="next_mid_finish_rate"/>
        <result property="nextMidSysAnalysis" column="next_mid_sys_analysis"/>
        <result property="nextMidHandAnalysis" column="next_mid_hand_analysis"/>
        <result property="cxClass1Plan" column="cx_class1_plan"/>
        <result property="cxClass2Plan" column="cx_class2_plan"/>
        <result property="cxClass3Plan" column="cx_class3_plan"/>
        <result property="cxClass4Plan" column="cx_class4_plan"/>
        <result property="cxClass5Plan" column="cx_class5_plan"/>
        <result property="isRelease" column="is_release"/>
        <result property="productionStatus" column="production_status"/>
        <result property="markCloseOutTip" column="mark_close_out_tip"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="monthPlan" column="monthPlan"/>
        <result property="monthPlanOs" column="monthPlanOs"/>
        <result property="dataSource" column="data_source"/>
        <result property="dailyTotalQty" column="daily_total_qty"/>
        <result property="publishSuccessCount" column="publish_success_count"/>
        <result property="newestPublishTime" column="newest_publish_time"/>
        <result property="lastMidPlanQty" column="last_mid_plan_qty"/>
    </resultMap>

    <sql id="selectTqScheduleResultVo">
        select id,
               schedule_date,
               cx_batch_no,
               batch_no,
               order_no,
               bead_code,
               steel_ring_code,
               triangle_glue_code,
               glue_code,
               mouth_plate_code,
               spec_size,
               machine_id,
               unit_consume,
               stock_qty,
               supply_time,
               day_plan_qty,
               day_finish_qty,
               day_produce_order,
               day_finish_rate,
               day_sys_analysis,
               day_hand_analysis,
               night_plan_qty,
               night_finish_qty,
               night_produce_order,
               night_finish_rate,
               night_sys_analysis,
               night_hand_analysis,
               cx_class1_plan,
               cx_class2_plan,
               cx_class3_plan,
               cx_class4_plan,
               cx_class5_plan,
               is_release,
               mark_close_out_tip,
               production_status,
               remark,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               data_source,
               publish_success_count,
               newest_publish_time,
               last_mid_plan_qty,
               next_mid_plan_qty
        from t_tq_schedule_result
    </sql>

    <sql id="column">
        a.id, a.schedule_date, a.cx_batch_no, a.batch_no, a.order_no, a.bead_code, a.steel_ring_code, a.triangle_glue_code, a.glue_code, a.mouth_plate_code, a.spec_size, a.machine_id, a.unit_consume, a.stock_qty, a.supply_time, a.mid_plan_qty, a.mid_produce_order, a.mid_sys_analysis, a.mid_hand_analysis, a.night_plan_qty, a.night_produce_order, a.night_sys_analysis, a.night_hand_analysis, a.day_plan_qty, a.day_produce_order, a.day_sys_analysis, a.day_hand_analysis, a.next_mid_plan_qty, a.next_mid_produce_order, a.next_mid_sys_analysis, a.next_mid_hand_analysis, a.cx_class1_plan, a.cx_class2_plan, a.cx_class3_plan, a.cx_class4_plan, a.cx_class5_plan, a.is_release, a.mark_close_out_tip, a.production_status, a.remark, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time,a.data_source, a.publish_success_count, a.newest_publish_time, a.last_mid_plan_qty,
    </sql>

    <select id="getScheduleResult" parameterType="long" resultType="com.zlt.aps.tq.entity.TqScheduleResult">
        <include refid="selectTqScheduleResultVo"/>
        where del_flag = '0' and id = #{id}
    </select>

    <select id="selectScheduleResultList" parameterType="com.zlt.aps.tq.entity.TqScheduleResult"
            resultType="com.zlt.aps.tq.api.domain.dto.TqScheduleResultDto">
        select * from (
            select
                <include refid="column"/>
                CASE WHEN a.mid_plan_qty = 0 THEN NULL WHEN a.mid_plan_qty != 0 THEN ( c.MID_FINISH_QTY / a.mid_plan_qty ) END AS mid_finish_rate,
                CASE WHEN a.night_plan_qty = 0 THEN NULL WHEN a.night_plan_qty != 0 THEN ( c.NIGHT_FINISH_QTY / a.night_plan_qty ) END AS night_finish_rate,
                CASE WHEN a.day_plan_qty = 0 THEN NULL WHEN a.day_plan_qty != 0 THEN ( c.DAY_FINISH_QTY / a.day_plan_qty ) END AS day_finish_rate,
                CASE WHEN a.next_mid_plan_qty = 0 THEN NULL WHEN a.next_mid_plan_qty != 0 THEN ( d.MID_FINISH_QTY / a.next_mid_plan_qty ) END AS next_mid_finish_rate,
                (IFNULL(MID_PLAN_QTY, 0) + IFNULL(NIGHT_PLAN_QTY, 0)) as daily_total_qty,
                b.MONTH_PLAN_QTY as month_plan,
                b.MONTH_REMAIN_QTY as month_plan_os,
                c.MID_FINISH_QTY as MID_FINISH_QTY,
                c.NIGHT_FINISH_QTY as NIGHT_FINISH_QTY,
                c.DAY_FINISH_QTY as DAY_FINISH_QTY,
                d.MID_FINISH_QTY as next_mid_finish_qty,
                log.change_machine,
                log.change_mid_plan,
                log.change_night_plan,
                log.change_day_plan,
                log.change_next_mid_plan
            from t_tq_schedule_result a
            LEFT JOIN (
                       select MATERIAL_CODE,MONTH_PLAN_QTY,MONTH_REMAIN_QTY
                       from T_TQ_MONTH_PLAN_SURPLUS
                       where YEAR=#{year,jdbcType=VARCHAR}
                       and MONTH= #{month,jdbcType=VARCHAR}
                       and del_flag = '0'
                     ) b on a.BEAD_CODE=b.MATERIAL_CODE
            LEFT JOIN T_TQ_DAY_FINISH_QTY c ON a.order_no = c.order_no and c.del_flag = '0'
            LEFT JOIN (
                        SELECT t1.BEAD_CODE, t1.machine_id,f1.MID_FINISH_QTY
                        FROM t_tq_schedule_result t1,T_TQ_DAY_FINISH_QTY f1
                        where t1.order_no = f1.order_no
                        and t1.del_flag = '0'
                        and f1.del_flag = '0'
                        and t1.schedule_date = #{scheduleDate} + 1
                      ) d ON a.BEAD_CODE = d.BEAD_CODE AND a.machine_id = d.machine_id
            LEFT JOIN (/*调度员操作日志，判断调度员是否有做“转机台”或“调量”操作*/
                        SELECT schedule_id,
                               max(IF(BEFORE_MACHINE_ID = AFTER_MACHINE_ID,0,1)) change_machine,
                               max(IF(BEFORE_MID_PLAN = AFTER_MID_PLAN,0,1)) change_mid_plan,
                               max(IF(BEFORE_NIGHT_PLAN = AFTER_NIGHT_PLAN,0,1)) change_night_plan,
                               max(IF(BEFORE_DAY_PLAN = AFTER_DAY_PLAN,0,1)) change_day_plan,
                               max(IF(BEFORE_NEXT_MID_PLAN = AFTER_NEXT_MID_PLAN,0,1)) change_next_mid_plan
                        FROM T_TQ_DISPATCHER_LOG
                        where schedule_date = #{scheduleDate}
                        group by schedule_id
                    ) log ON a.id = log.schedule_id
            where a.del_flag = '0'
            <if test="scheduleDate != null ">and a.schedule_date = #{scheduleDate}</if>
            <if test="beadCode != null  and beadCode != ''">
                and INSTR(a.bead_code, #{beadCode,jdbcType=VARCHAR}) > 0
              </if>
            <if test="steelRingCode != null  and steelRingCode != ''">
                and INSTR(a.steel_ring_code, #{steelRingCode,jdbcType=VARCHAR}) > 0
              </if>
            <if test="triangleGlueCode != null  and triangleGlueCode != ''">
                and INSTR(a.triangle_glue_code, #{triangleGlueCode,jdbcType=VARCHAR}) > 0
              </if>
            <if test="glueCode != null  and glueCode != ''">
                and INSTR(a.glue_code, #{glueCode,jdbcType=VARCHAR}) > 0
              </if>
            <if test="specSize != null  and specSize != ''">and a.spec_size = #{specSize}</if>
            <if test="productionStatus != null  and productionStatus != ''">and a.production_status = #{productionStatus}</if>
            <if test="isRelease != null  and isRelease != ''">and a.IS_RELEASE = #{isRelease}</if>
            <if test="mouthPlateCode != null  and mouthPlateCode != ''">and INSTR(a.mouth_plate_code, #{mouthPlateCode}) > 0 </if>
            <if test="machineId != null  and machineId != ''">and instr(concat(',',a.machine_id,','),  concat(',',#{machineId},','))>0</if>
            <if test="ids != null and ids.length > 0">and a.id in <foreach item="scheduleId" collection="ids" open="(" separator="," close=")">#{scheduleId}</foreach></if>
            order by (case when instr(a.machine_id,',') > 0 then a.machine_id when a.machine_id is null or a.machine_id = '' then '0' else '-1' end) desc/*多个机台 和 没有机台的排在前面*/,a.CREATE_TIME
        ) t
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="selectScheduleResultById" parameterType="long"
            resultMap="scheduleResult">
        select
        <include refid="column"/>

        CASE
        WHEN a.mid_plan_qty = 0 THEN
        NULL
        WHEN a.mid_plan_qty != 0 THEN
        ( c.MID_FINISH_QTY / a.mid_plan_qty )
        END AS mid_finish_rate,

        CASE
        WHEN a.night_plan_qty = 0 THEN
        NULL
        WHEN a.night_plan_qty != 0 THEN
        ( c.NIGHT_FINISH_QTY / a.night_plan_qty )
        END AS night_finish_rate,

        CASE
        WHEN a.day_plan_qty = 0 THEN
        NULL
        WHEN a.day_plan_qty != 0 THEN
        ( c.DAY_FINISH_QTY / a.day_plan_qty )
        END AS day_finish_rate,

        CASE
        WHEN a.next_mid_plan_qty = 0 THEN
        NULL
        WHEN a.next_mid_plan_qty != 0 THEN
        ( d.MID_FINISH_QTY / a.next_mid_plan_qty )
        END AS next_mid_finish_rate,

        b.MONTH_PLAN_QTY as monthPlan,
        b.MONTH_REMAIN_QTY as monthPlanOs,
        c.MID_FINISH_QTY as MID_FINISH_QTY,
        c.NIGHT_FINISH_QTY as NIGHT_FINISH_QTY,
        c.DAY_FINISH_QTY as DAY_FINISH_QTY,
        d.MID_FINISH_QTY as next_mid_finish_qty

        from t_tq_schedule_result a

        LEFT JOIN (
        select MATERIAL_CODE,MONTH_PLAN_QTY,MONTH_REMAIN_QTY,YEAR,MONTH
        from T_TQ_MONTH_PLAN_SURPLUS
        where del_flag = '0'
        ) b on a.BEAD_CODE=b.MATERIAL_CODE
        and b.YEAR=DATE_FORMAT(a.schedule_date,'%Y')
        and b.MONTH=DATE_FORMAT(a.schedule_date,'%m')

        LEFT JOIN T_TQ_DAY_FINISH_QTY c
        ON a.BEAD_CODE = c.BEAD_CODE
        AND a.SCHEDULE_DATE = c.SCHEDULE_DATE

        LEFT JOIN T_TQ_DAY_FINISH_QTY d
        ON a.BEAD_CODE = d.BEAD_CODE
        AND a.SCHEDULE_DATE + 1 = d.SCHEDULE_DATE
        AND d.del_flag = '0'

        where a.id = #{id}
    </select>

    <update id="publishAll" parameterType="com.zlt.aps.tq.entity.TqScheduleResult">
        update t_tq_schedule_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="isRelease != null">is_release = #{isRelease},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where schedule_date = #{scheduleDate} and is_release = '0'
    </update>

    <insert id="insertPublishRecord" parameterType="com.zlt.aps.common.core.domain.SchedulePublishRecord">
        insert into t_schedule_publish_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="procedureCode != null">procedure_code,</if>
            <if test="publishStatus != null">publish_status,</if>
            <if test="scheduleDate != null">schedule_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="dataVersion != null">data_version,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="procedureCode != null">#{procedureCode},</if>
            <if test="publishStatus != null">#{publishStatus},</if>
            <if test="scheduleDate != null">#{scheduleDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="dataVersion != null">#{dataVersion},</if>
        </trim>
    </insert>

    <select id="isPublish" parameterType="com.zlt.aps.common.core.domain.SchedulePublishRecord" resultType="int">
        select count(1)
        from t_schedule_publish_record
        where procedure_code = #{procedureCode,jdbcType=VARCHAR}
          and schedule_date = #{scheduleDate,jdbcType=DATE}
          and publish_status = '1'
          and del_flag = '0'
    </select>

    <select id="checkUnique" parameterType="com.zlt.aps.tq.entity.TqScheduleResult" resultType="int">
        select count(1)
        from t_tq_schedule_result
        where del_flag = '0'
        <if test="scheduleDate != null ">and schedule_date = #{scheduleDate}</if>
        <if test="beadCode != null and beadCode != ''">and bead_code = #{beadCode}</if>
        <if test="machineId != null and machineId != ''">and machine_id = #{machineId}</if>
        <if test="id != null and id != ''">and id != #{id}</if>
    </select>

    <insert id="deployTqScheduleToMid">
        INSERT INTO MES_TQ_SCHEDULE_RESULT(
        SCHEDULE_DATE,
        CX_BATCH_NO,
        BATCH_NO,
        ORDER_NO,
        BEAD_CODE,
        SAP_MATERIAL_CODE,
        STEEL_RING_CODE,
        TRIANGLE_GLUE_CODE,
        GLUE_CODE,
        MOUTH_PLATE_CODE,
        SPEC_SIZE,
        MACHINE_CODE,
        UNIT_CONSUME,
        STOCK_QTY,
        SUPPLY_TIME,
        MID_PLAN_QTY,
        MID_PRODUCE_ORDER,
        MID_SYS_ANALYSIS,
        MID_HAND_ANALYSIS,
        NIGHT_PLAN_QTY,
        NIGHT_PRODUCE_ORDER,
        NIGHT_SYS_ANALYSIS,
        NIGHT_HAND_ANALYSIS,
        DAY_PLAN_QTY,
        DAY_PRODUCE_ORDER,
        DAY_SYS_ANALYSIS,
        DAY_HAND_ANALYSIS,
        NEXT_MID_PLAN_QTY,
        NEXT_MID_PRODUCE_ORDER,
        NEXT_MID_SYS_ANALYSIS,
        NEXT_MID_HAND_ANALYSIS,
        CX_CLASS1_PLAN,
        CX_CLASS2_PLAN,
        CX_CLASS3_PLAN,
        CX_CLASS4_PLAN,
        CX_CLASS5_PLAN,
        IS_RELEASE,
        MARK_CLOSE_OUT_TIP,
        PRODUCTION_STATUS,
        REMARK,
        DATA_VERSION,
        CREATE_DATE,
        UPDATE_DATE,
        IS_DELETE,
        FACTORY_CODE,
        COMPANY_CODE
        )
        SELECT
        SCHEDULE_DATE,
        CX_BATCH_NO,
        BATCH_NO,
        ORDER_NO,
        r.BEAD_CODE,
        SAP_MATERIAL_CODE,
        STEEL_RING_CODE,
        TRIANGLE_GLUE_CODE,
        GLUE_CODE,MOUTH_PLATE_CODE,
        SPEC_SIZE,
        m.MACHINE_CODE,
        UNIT_CONSUME,
        STOCK_QTY,
        SUPPLY_TIME,
        NULL,
        NULL,
        NULL,
        NULL,
        MID_PLAN_QTY,
        MID_PRODUCE_ORDER,
        MID_SYS_ANALYSIS,
        MID_HAND_ANALYSIS,
        NIGHT_PLAN_QTY,
        NIGHT_PRODUCE_ORDER,
        NIGHT_SYS_ANALYSIS,
        NIGHT_HAND_ANALYSIS,
        DAY_PLAN_QTY,
        DAY_PRODUCE_ORDER,
        DAY_SYS_ANALYSIS,
        DAY_HAND_ANALYSIS,
        CX_CLASS1_PLAN,
        CX_CLASS2_PLAN,
        CX_CLASS3_PLAN,
        CX_CLASS4_PLAN,
        CX_CLASS5_PLAN,
        '1',
        MARK_CLOSE_OUT_TIP,
        PRODUCTION_STATUS,
        r.REMARK,
        #{dataVersion} DATA_VERSION,
        now()   CREATE_DATE,
        r.UPDATE_TIME   UPDATE_DATE,
        r.DEL_FLAG      IS_DELETE,
        #{factoryCode},
        #{companyCode}
        FROM T_TQ_SCHEDULE_RESULT r
        LEFT JOIN T_TQ_MACHINE_INFO m ON r.machine_id = m.id
        LEFT JOIN (SELECT max(TIRE_RING_SAP) SAP_MATERIAL_CODE, TIRE_RING_CODE FROM T_CONSTRUCTION_VERSION_INFO WHERE DEL_FLAG = '0' GROUP BY TIRE_RING_CODE) p ON r.BEAD_CODE = p.TIRE_RING_CODE
        WHERE r.id in <foreach collection="ids" item="id" open="(" close=")" separator=",">#{id}</foreach>
    </insert>

    <select id="isReleasingOrTimeoutByDate" parameterType="date" resultType="int">
        select count(1) from t_tq_schedule_result
        where del_flag = 0 and schedule_date = #{scheduleDate,jdbcType=DATE}
          and (IS_RELEASE = 3 or IS_RELEASE = 4)
    </select>

    <select id="isReleasingOrTimeoutByIds" parameterType="string" resultType="int">
        select count(1) from t_tq_schedule_result
        where del_flag = 0 and (IS_RELEASE = 3 or IS_RELEASE = 4)
        and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="changeReleaseStatus" parameterType="com.zlt.aps.tq.entity.TqScheduleResult">
        update t_tq_schedule_result
        set IS_RELEASE = #{isRelease, jdbcType=VARCHAR}
        <if test="isRelease == 1">,PUBLISH_SUCCESS_COUNT = PUBLISH_SUCCESS_COUNT + 1, NEWEST_PUBLISH_TIME = now()</if>
        where del_flag = 0 and schedule_date = #{scheduleDate,jdbcType=DATE}
          and (IS_RELEASE = 3 or IS_RELEASE = 4)
    </update>

    <update id="updatePublishRecord" parameterType="com.zlt.aps.common.core.domain.SchedulePublishRecord">
        update t_schedule_publish_record
        set publish_status = #{publishStatus, jdbcType=VARCHAR},
            update_by = #{updateBy},
            update_time = #{updateTime}
        where del_flag = 0 and procedure_code = #{procedureCode,jdbcType=VARCHAR}
          and schedule_date = #{scheduleDate,jdbcType=DATE}
    </update>

	<!-- 根据版本更新发布日志状态 -->
	<update id="updatePublishRecordVersion">
		UPDATE t_schedule_publish_record
		   SET PUBLISH_STATUS = #{status}
		 WHERE data_version = #{dataVersion}
		   AND del_flag = 0
	</update>

    <select id="checkTqCodeExist" resultType="java.lang.Integer">
        select case when exists(
                select 1 from t_product_construction_info
                where
                    TIRE_RING_CODE = #{beadCode,jdbcType=VARCHAR}
                  AND DEL_FLAG = 0
            ) then 1 else 0 end
        from dual
    </select>

    <update id="batchUpdate">
        update t_tq_schedule_result set IS_RELEASE = #{status}
        <if test="status == 1">, PUBLISH_SUCCESS_COUNT = PUBLISH_SUCCESS_COUNT + 1, NEWEST_PUBLISH_TIME = now()</if>
        where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteByIds">
        update t_tq_schedule_result set del_flag = NULL
        where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="isPublishByIds" parameterType="string" resultType="int">
        select count(1) from t_tq_schedule_result
        where del_flag = 0 and IS_RELEASE = 0
        and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectByIds" resultType="com.zlt.aps.tq.api.domain.dto.TqScheduleResultDto">
        select * from t_tq_schedule_result
        where del_flag = 0
        and id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectByScheduleDateAndCode" parameterType="com.zlt.aps.tq.entity.TqScheduleResult"
            resultType="com.zlt.aps.tq.entity.TqScheduleResult">
        <include refid="selectTqScheduleResultVo"/>
        where del_flag = 0 and schedule_date = #{scheduleDate,jdbcType=DATE}
        and bead_code = #{beadCode,jdbcType=VARCHAR}
    </select>

    <select id="getSummaryVo" resultType="com.zlt.aps.common.engine.domain.ScheduleSummaryVo">
        SELECT schedule_date,
        SUM(mid_plan_qty) as day_plan_qty,
        SUM(night_plan_qty) as night_plan_qty,
        SUM(day_plan_qty) as next_day_plan_qty,
        SUM(stock_qty) as stock_qty
        FROM t_tq_schedule_result
        WHERE schedule_date = #{scheduleDate}
        <if test="beadCode != null  and beadCode != ''">and INSTR(bead_code, #{beadCode,jdbcType=VARCHAR}) > 0</if>
        <if test="steelRingCode != null  and steelRingCode != ''">and INSTR(steel_ring_code,
            #{steelRingCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="triangleGlueCode != null  and triangleGlueCode != ''">
            and INSTR(triangle_glue_code, #{triangleGlueCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="glueCode != null  and glueCode != ''">
            and INSTR(glue_code, #{glueCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="specSize != null  and specSize != ''">and spec_size = #{specSize}</if>
        <if test="productionStatus != null  and productionStatus != ''">and production_status = #{productionStatus}</if>
        <if test="isRelease != null  and isRelease != ''">and IS_RELEASE = #{isRelease}</if>
        <if test="mouthPlateCode != null  and mouthPlateCode != ''">and INSTR(mouth_plate_code, #{mouthPlateCode}) > 0
        </if>
        <if test="machineId != null  and machineId != ''">and instr(concat(',',machine_id,','),
            concat(',',#{machineId},','))>0
        </if>
    </select>

    <select id="getLastDayPlanQty" resultType="com.zlt.aps.common.engine.domain.ScheduleSummaryVo">
        SELECT SUM(night_plan_qty) as night_plan_qty
        FROM t_tq_schedule_result
        WHERE schedule_date = DATE_SUB(#{scheduleDate}, INTERVAL 1 DAY)
        <if test="beadCode != null  and beadCode != ''">and INSTR(bead_code, #{beadCode,jdbcType=VARCHAR}) > 0</if>
        <if test="steelRingCode != null  and steelRingCode != ''">and INSTR(steel_ring_code,
            #{steelRingCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="triangleGlueCode != null  and triangleGlueCode != ''">
            and INSTR(triangle_glue_code, #{triangleGlueCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="glueCode != null  and glueCode != ''">
            and INSTR(glue_code, #{glueCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="specSize != null  and specSize != ''">and spec_size = #{specSize}</if>
        <if test="productionStatus != null  and productionStatus != ''">and production_status = #{productionStatus}</if>
        <if test="isRelease != null  and isRelease != ''">and IS_RELEASE = #{isRelease}</if>
        <if test="mouthPlateCode != null  and mouthPlateCode != ''">and INSTR(mouth_plate_code, #{mouthPlateCode}) > 0
        </if>
        <if test="machineId != null  and machineId != ''">and instr(concat(',',machine_id,','),
            concat(',',#{machineId},','))>0
        </if>
    </select>

    <select id="getCxConsume" resultType="com.zlt.aps.common.engine.domain.ScheduleSummaryVo">
        SELECT IFNULL(sum(IFNULL(cxr.CLASS3_PLANNED_QTY, 0) + IFNULL(cxr.CLASS2_PLAN_QTY, 0)),0) cxConsumeQty
        FROM T_CX_SCHEDULE_RESULT cxr /*成型排程结果表*/
        inner join T_PRODUCT_CONSTRUCTION_INFO ci on cxr.EMBRYO_CODE = ci.embryo_code and cxr.BOM_DATA_VERSION =
        ci.EMBRYO_VERSION /*施工信息表*/
        WHERE cxr.schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
        <if test="beadCode != null  and beadCode != ''">and INSTR(ci.TIRE_RING_CODE, #{beadCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="steelRingCode != null  and steelRingCode != ''">and INSTR(ci.BEAD_CODE,
            #{steelRingCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="triangleGlueCode != null  and triangleGlueCode != ''">
            and INSTR(ci.APEX_CODE, #{triangleGlueCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="glueCode != null  and glueCode != ''">
            and INSTR(ci.HEXAGON_RUBBER_CODE, #{glueCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="specSize != null  and specSize != ''">and ci.HEXAGON_RUBBER_DIMENSION = #{specSize}</if>
        <if test="mouthPlateCode != null  and mouthPlateCode != ''">and INSTR(ci.HEXAGON_MOUTH_PLATE, #{mouthPlateCode})
            > 0
        </if>
    </select>

    <select id="getLastDayPlanQty4List" resultType="com.zlt.aps.tq.api.domain.dto.TqScheduleResultDto">
        SELECT bead_code, SUM(night_plan_qty) as lastMidPlanQty
        FROM t_tq_schedule_result
        WHERE del_flag = '0' and schedule_date = DATE_SUB(#{scheduleDate}, INTERVAL 1 DAY)
        <if test="beadCode != null  and beadCode != ''">and INSTR(bead_code, #{beadCode,jdbcType=VARCHAR}) > 0</if>
        <if test="steelRingCode != null  and steelRingCode != ''">and INSTR(steel_ring_code,
            #{steelRingCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="triangleGlueCode != null  and triangleGlueCode != ''">
            and INSTR(triangle_glue_code, #{triangleGlueCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="glueCode != null  and glueCode != ''">
            and INSTR(glue_code, #{glueCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="specSize != null  and specSize != ''">and spec_size = #{specSize}</if>
        <if test="productionStatus != null  and productionStatus != ''">and production_status = #{productionStatus}</if>
        <if test="isRelease != null  and isRelease != ''">and IS_RELEASE = #{isRelease}</if>
        <if test="mouthPlateCode != null  and mouthPlateCode != ''">and INSTR(mouth_plate_code, #{mouthPlateCode}) > 0
        </if>
        <if test="machineId != null  and machineId != ''">and instr(concat(',',machine_id,','),
            concat(',',#{machineId},','))>0
        </if>
        GROUP BY bead_code
    </select>

    <select id="getCxConsume4List" resultType="com.zlt.aps.tq.api.domain.dto.TqScheduleResultDto">
        SELECT
        ci.TIRE_RING_CODE as beadCode, IFNULL(sum(IFNULL(cxr.CLASS3_PLANNED_QTY, 0) + IFNULL(cxr.CLASS2_PLAN_QTY, 0)),0)
        as cxConsumeQty
        FROM T_CX_SCHEDULE_RESULT cxr /*成型排程结果表*/
        inner join T_PRODUCT_CONSTRUCTION_INFO ci on cxr.EMBRYO_CODE = ci.embryo_code and cxr.BOM_DATA_VERSION =
        ci.EMBRYO_VERSION /*施工信息表*/
        WHERE cxr.schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
        <if test="beadCode != null  and beadCode != ''">and INSTR(ci.TIRE_RING_CODE, #{beadCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="steelRingCode != null  and steelRingCode != ''">and INSTR(ci.BEAD_CODE,
            #{steelRingCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="triangleGlueCode != null  and triangleGlueCode != ''">
            and INSTR(ci.APEX_CODE, #{triangleGlueCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="glueCode != null  and glueCode != ''">
            and INSTR(ci.HEXAGON_RUBBER_CODE, #{glueCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="specSize != null  and specSize != ''">and ci.HEXAGON_RUBBER_DIMENSION = #{specSize}</if>
        <if test="mouthPlateCode != null  and mouthPlateCode != ''">and INSTR(ci.HEXAGON_MOUTH_PLATE, #{mouthPlateCode})
            > 0
        </if>
        GROUP BY ci.TIRE_RING_CODE
    </select>
</mapper>
