<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tq.mapper.TqSpecifyMachineMapper">

    <select id="listSpecifyMachine" parameterType="com.zlt.aps.tq.api.domain.dto.TqSpecifyMachineDto"
            resultType="com.zlt.aps.tq.api.domain.dto.TqSpecifyMachineDto">
        select * from (
            select sm.*, m.machine_code, m.machine_name
            from T_TQ_SPECIFY_MACHINE sm
            left join T_TQ_MACHINE_INFO m on sm.machine_id = m.id
            where sm.IS_DELETE = '0'
            and m.IS_DELETE = '0'
            <if test="beadCode != null and beadCode != ''">
                and INSTR(sm.BEAD_CODE, #{beadCode}) > 0
            </if>
            <if test="machineId != null">
                and sm.MACHINE_ID = #{machineId}
            </if>
            <if test="lineType != null and lineType != ''">
                and sm.LINE_TYPE = #{lineType}
            </if>
            <if test="jobType != null and jobType != ''">
                and sm.JOB_TYPE = #{jobType}
            </if>
            <if test="orderStr == null">
                order by sm.create_time desc
            </if>
        ) t
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO T_TQ_SPECIFY_MACHINE (
        bead_code, machine_id, line_type, job_type, create_by, create_time, remark, IS_DELETE
        )
        VALUES
        <foreach collection="list" item="SpecifyMachine" separator=",">
            (
            #{SpecifyMachine.beadCode,jdbcType=VARCHAR},
            #{SpecifyMachine.machineId,jdbcType=DOUBLE},
            #{SpecifyMachine.lineType,jdbcType=VARCHAR},
            #{SpecifyMachine.jobType,jdbcType=VARCHAR},
            #{SpecifyMachine.createBy,jdbcType=VARCHAR},
            NOW(),
            #{SpecifyMachine.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        line_type = VALUES(line_type),
        job_type = VALUES(job_type),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>

    <update id="deleteAllSpecifyMachine">
        update T_TQ_SPECIFY_MACHINE set IS_DELETE = '1' where IS_DELETE = '0'
    </update>
</mapper>
