<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tq.mapper.TqStockMapper">

    <select id="checkStockListUnic" parameterType="com.zlt.aps.tq.api.domain.entity.TqStock"
            resultType="com.zlt.aps.tq.api.domain.entity.TqStock">
        select ID, STOCK_DATE, BEAD_CODE, STOCK_NUM, MODIFY_NUM, BAD_NUM, REMARK, IS_DELETE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME
        from t_tq_stock
        where IS_DELETE = '0'
        <if test="entity.id != null">
            and ID != #{entity.id}
        </if>
        <if test="entity.stockDate != null">
            and STOCK_DATE = #{entity.stockDate}
        </if>
        <if test="entity.beadCode != null and entity.beadCode != ''">
            and BEAD_CODE = #{entity.beadCode}
        </if>
    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO t_tq_stock (
            STOCK_DATE, BEAD_CODE, STOCK_NUM, MODIFY_NUM, BAD_NUM, CREATE_BY, CREATE_TIME, REMARK, IS_DELETE
        )
        VALUES
        <foreach collection="list" item="STOCK" separator=",">
            (
                #{STOCK.stockDate,jdbcType=DATE},
                #{STOCK.beadCode,jdbcType=VARCHAR},
                #{STOCK.stockNum,jdbcType=DOUBLE},
                #{STOCK.modifyNum,jdbcType=DOUBLE},
                #{STOCK.badNum,jdbcType=DOUBLE},
                #{STOCK.createBy,jdbcType=VARCHAR},
                NOW(),
                #{STOCK.remark,jdbcType=VARCHAR},
                '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
            STOCK_NUM = VALUES(STOCK_NUM),
            MODIFY_NUM = VALUES(MODIFY_NUM),
            BAD_NUM = VALUES(BAD_NUM),
            UPDATE_BY = VALUES(CREATE_BY),
            UPDATE_TIME = NOW(),
            REMARK = VALUES(REMARK)
    </insert>

    <!-- 根据库存日期逻辑删除胎圈库存，只删当天数据，历史数据保留 -->
    <update id="logicDeleteByStockDate">
        UPDATE t_tq_stock
        SET IS_DELETE = 1,
            UPDATE_BY = #{updateBy},
            UPDATE_TIME = #{updateTime}
        WHERE DATE(STOCK_DATE) = #{stockDate}
          AND IS_DELETE = 0
    </update>
</mapper>
