<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tq.mapper.TqToolingCartCapacityMapper">

    <select id="listToolingCartCapacity" parameterType="com.zlt.aps.tq.api.domain.entity.TqToolingCartCapacity"
            resultType="com.zlt.aps.tq.api.domain.entity.TqToolingCartCapacity">
        select * from (
            select ID, CART_CODE, MATERIAL_CODE, CART_CAPACITY,
                   REMARK, IS_DELETE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME
            from T_TQ_TOOLING_CART_CAPACITY
            where IS_DELETE = '0'
            <if test="cartCode != null and cartCode != ''">
                and CART_CODE like concat('%', #{cartCode}, '%')
            </if>
            <if test="materialCode != null and materialCode != ''">
                and MATERIAL_CODE like concat('%', #{materialCode}, '%')
            </if>
            order by CREATE_TIME desc
        ) t
    </select>

    <select id="checkUnique" parameterType="com.zlt.aps.tq.api.domain.entity.TqToolingCartCapacity" resultType="int">
        SELECT count(1)
        FROM T_TQ_TOOLING_CART_CAPACITY
        where IS_DELETE = '0'
        and CART_CODE = #{cartCode}
        and MATERIAL_CODE = #{materialCode}
        <if test="id != null">and ID != #{id}</if>
    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO T_TQ_TOOLING_CART_CAPACITY (
            cart_code, material_code, cart_capacity, remark,
            create_by, create_time, update_by, update_time, is_delete
        )
        VALUES
        <foreach collection="list" item="CartCapacity" separator=",">
            (
            #{CartCapacity.cartCode,jdbcType=VARCHAR},
            #{CartCapacity.materialCode,jdbcType=VARCHAR},
            #{CartCapacity.cartCapacity,jdbcType=INTEGER},
            #{CartCapacity.remark,jdbcType=VARCHAR},
            #{CartCapacity.createBy,jdbcType=VARCHAR},
            NOW(),
            #{CartCapacity.updateBy,jdbcType=VARCHAR},
            NOW(),
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        cart_capacity = VALUES(cart_capacity),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>

    <update id="deleteAllToolingCartCapacity">
        update T_TQ_TOOLING_CART_CAPACITY set IS_DELETE = '1' where IS_DELETE = '0'
    </update>

</mapper>
