-- 菜单 SQL
INSERT INTO sys_menu (MENU_ID, MENU_NAME, PARENT_ID, ORDER_NUM, TARGET, PATH, BT_URL, COMPONENT, IS_FRAME, IS_CACHE, MENU_TYPE, VISIBLE, STATUS, PERMS, BT_PERMS, ICON, BT_ICON, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, LANG_JSON, IS_REFRESH)
VALUES (seq_sys_menu.nextval, '${functionName}', '${parentMenuId}', '1', 'menuItem', NULL, '/${moduleName}/${businessName}', NULL, '1', '0', 'C', '0', '0', NULL, '${permissionPrefix}:view', '#', '#', 'admin', sysdate, NULL, NULL, NULL, '[{"zh_CN":"${functionName}","en_US":"${functionName}"}]', 'Y');

-- 按钮 SQL
INSERT INTO sys_menu (MENU_ID, MENU_NAME, PARENT_ID, ORDER_NUM, TARGET, PATH, BT_URL, COMPONENT, IS_FRAME, IS_CACHE, MENU_TYPE, VISIBLE, STATUS, PERMS, BT_PERMS, ICON, BT_ICON, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, LANG_JSON, IS_REFRESH)
VALUES (seq_sys_menu.nextval, '${functionName}查询', ${table.menuId}, '10', 'menuItem', NULL, '#', NULL, '1', '0', 'F', '0', '0', NULL, '${permissionPrefix}:list', '#', '#', 'admin', sysdate, NULL, NULL, NULL, '[{"zh_CN":"查询","en_US":"en_US查询"}]', 'Y');

INSERT INTO sys_menu (MENU_ID, MENU_NAME, PARENT_ID, ORDER_NUM, TARGET, PATH, BT_URL, COMPONENT, IS_FRAME, IS_CACHE, MENU_TYPE, VISIBLE, STATUS, PERMS, BT_PERMS, ICON, BT_ICON, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, LANG_JSON, IS_REFRESH)
VALUES (seq_sys_menu.nextval, '${functionName}编辑', ${table.menuId}, '30', 'menuItem', NULL, '#', NULL, '1', '0', 'F', '0', '0', NULL, '${permissionPrefix}:edit', '#', '#', 'admin', SYSDATE, 'admin', null, NULL, '[{"zh_CN":"编辑","en_US":"en_US编辑"}]', 'Y');

INSERT INTO sys_menu (MENU_ID, MENU_NAME, PARENT_ID, ORDER_NUM, TARGET, PATH, BT_URL, COMPONENT, IS_FRAME, IS_CACHE, MENU_TYPE, VISIBLE, STATUS, PERMS, BT_PERMS, ICON, BT_ICON, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, LANG_JSON, IS_REFRESH)
VALUES (seq_sys_menu.nextval, '${functionName}添加', ${table.menuId}, '20', 'menuItem', NULL, '#', NULL, '1', '0', 'F', '0', '0', NULL, '${permissionPrefix}:add', '#', '#', 'admin', sysdate, NULL, NULL, NULL, '[{"zh_CN":"添加","en_US":"en_US添加"}]', 'Y');

INSERT INTO sys_menu (MENU_ID, MENU_NAME, PARENT_ID, ORDER_NUM, TARGET, PATH, BT_URL, COMPONENT, IS_FRAME, IS_CACHE, MENU_TYPE, VISIBLE, STATUS, PERMS, BT_PERMS, ICON, BT_ICON, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, LANG_JSON, IS_REFRESH)
VALUES (seq_sys_menu.nextval, '${functionName}删除', ${table.menuId}, '40', 'menuItem', NULL, '#', NULL, '1', '0', 'F', '0', '0', NULL, '${permissionPrefix}:remove', '#', '#', 'admin', sysdate, NULL, NULL, NULL, '[{"zh_CN":"删除","en_US":"en_US删除"}]', 'Y');

INSERT INTO sys_menu (MENU_ID, MENU_NAME, PARENT_ID, ORDER_NUM, TARGET, PATH, BT_URL, COMPONENT, IS_FRAME, IS_CACHE, MENU_TYPE, VISIBLE, STATUS, PERMS, BT_PERMS, ICON, BT_ICON, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, LANG_JSON, IS_REFRESH)
VALUES (seq_sys_menu.nextval, '${functionName}导出', ${table.menuId}, '50', 'menuItem', NULL, '#', NULL, '1', '0', 'F', '0', '0', NULL, '${permissionPrefix}:export', '#', '#', 'admin', sysdate, NULL, NULL, NULL, '[{"zh_CN":"导出","en_US":"en_US导出"}]', 'Y');

INSERT INTO sys_menu (MENU_ID, MENU_NAME, PARENT_ID, ORDER_NUM, TARGET, PATH, BT_URL, COMPONENT, IS_FRAME, IS_CACHE, MENU_TYPE, VISIBLE, STATUS, PERMS, BT_PERMS, ICON, BT_ICON, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, LANG_JSON, IS_REFRESH)
VALUES (seq_sys_menu.nextval, '${functionName}导入', ${table.menuId}, '60', 'menuItem', NULL, '#', NULL, '1', '0', 'F', '0', '0', NULL, '${permissionPrefix}:import', '#', '#', 'admin', sysdate, NULL, NULL, NULL, '[{"zh_CN":"导入","en_US":"en_US导入"}]', 'Y');


INSERT INTO sys_menu (MENU_ID, MENU_NAME, PARENT_ID, ORDER_NUM, TARGET, PATH, BT_URL, COMPONENT, IS_FRAME, IS_CACHE, MENU_TYPE, VISIBLE, STATUS, PERMS, BT_PERMS, ICON, BT_ICON, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, LANG_JSON, IS_REFRESH)
VALUES (seq_sys_menu.nextval, '${functionName}插单', ${table.menuId}, '70', 'menuItem', NULL, '#', NULL, '1', '0', 'F', '0', '0', NULL, '${permissionPrefix}:insertOrder', '#', '#', 'admin', sysdate, NULL, NULL, NULL, '[{"zh_CN":"插单","en_US":"en_US插单"}]', 'Y');
INSERT INTO sys_menu (MENU_ID, MENU_NAME, PARENT_ID, ORDER_NUM, TARGET, PATH, BT_URL, COMPONENT, IS_FRAME, IS_CACHE, MENU_TYPE, VISIBLE, STATUS, PERMS, BT_PERMS, ICON, BT_ICON, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, LANG_JSON, IS_REFRESH)
VALUES (seq_sys_menu.nextval, '${functionName}自动排程', ${table.menuId}, '80', 'menuItem', NULL, '#', NULL, '1', '0', 'F', '0', '0', NULL, '${permissionPrefix}:autoPlan', '#', '#', 'admin', sysdate, NULL, NULL, NULL, '[{"zh_CN":"自动排程","en_US":"en_US自动排程"}]', 'Y');
INSERT INTO sys_menu (MENU_ID, MENU_NAME, PARENT_ID, ORDER_NUM, TARGET, PATH, BT_URL, COMPONENT, IS_FRAME, IS_CACHE, MENU_TYPE, VISIBLE, STATUS, PERMS, BT_PERMS, ICON, BT_ICON, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, LANG_JSON, IS_REFRESH)
VALUES (seq_sys_menu.nextval, '${functionName}排程发布', ${table.menuId}, '90', 'menuItem', NULL, '#', NULL, '1', '0', 'F', '0', '0', NULL, '${permissionPrefix}:publish', '#', '#', 'admin', sysdate, NULL, NULL, NULL, '[{"zh_CN":"发布","en_US":"en_US发布"}]', 'Y');
INSERT INTO sys_menu (MENU_ID, MENU_NAME, PARENT_ID, ORDER_NUM, TARGET, PATH, BT_URL, COMPONENT, IS_FRAME, IS_CACHE, MENU_TYPE, VISIBLE, STATUS, PERMS, BT_PERMS, ICON, BT_ICON, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, LANG_JSON, IS_REFRESH)
VALUES (seq_sys_menu.nextval, '${functionName}重新自动排程', ${table.menuId}, '100', 'menuItem', NULL, '#', NULL, '1', '0', 'F', '0', '0', NULL, '${permissionPrefix}:reAutoPlan', '#', '#', 'admin', sysdate, NULL, NULL, NULL, '[{"zh_CN":"重新自动排程","en_US":"en_US重新自动排程"}]', 'Y');
INSERT INTO sys_menu (MENU_ID, MENU_NAME, PARENT_ID, ORDER_NUM, TARGET, PATH, BT_URL, COMPONENT, IS_FRAME, IS_CACHE, MENU_TYPE, VISIBLE, STATUS, PERMS, BT_PERMS, ICON, BT_ICON, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, LANG_JSON, IS_REFRESH)
VALUES (seq_sys_menu.nextval, '${functionName}调量', ${table.menuId}, '110', 'menuItem', NULL, '#', NULL, '1', '0', 'F', '0', '0', NULL, '${permissionPrefix}:changeQty', '#', '#', 'admin', sysdate, NULL, NULL, NULL, '[{"zh_CN":"调量","en_US":"en_US调量"}]', 'Y');

#if($pkColumn.increment)
-- ${tableName}主键序列
create sequence seq_${tableName}
increment by 1
start with 10
nomaxvalue
nominvalue
cache 20;
#end