@font-face {
  font-family: "iconfont"; /* Project id 2746720 */
  src: url('iconfont.woff2') format('woff2'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daochurizhi2:before {
  content: "\e605";
}

.icon-track:before {
  content: "\e6be";
}

.icon-daorurizhi2:before {
  content: "\e66b";
}

.icon-zhijiao:before {
  content: "\e646";
}

.icon-aichenqiguanlifile:before {
  content: "\e611";
}

.icon-genzong:before {
  content: "\e689";
}

.icon-VSchengxingyaji:before {
  content: "\e6e3";
}

.icon-dingdian:before {
  content: "\e7b4";
}

.icon-shigong:before {
  content: "\e680";
}

.icon-icon_zhinengpaicheng:before {
  content: "\e6a2";
}

.icon-juan:before {
  content: "\e7aa";
}

.icon-zichansunhao:before {
  content: "\e6c6";
}

.icon-jiejiariguanli:before {
  content: "\e633";
}

.icon-peitao:before {
  content: "\e708";
}

.icon-yanse:before {
  content: "\e60b";
}

.icon-shunxu:before {
  content: "\e6d3";
}

.icon-BOM:before {
  content: "\e608";
}

.icon-kucun:before {
  content: "\e602";
}

.icon-dingdan_paichengzonglan:before {
  content: "\e943";
}

.icon-xianzhixiangtou:before {
  content: "\e671";
}

.icon-huabanfuben:before {
  content: "\e721";
}

.icon-shunxutuodong:before {
  content: "\e609";
}

.icon-pancunsunhao:before {
  content: "\e64f";
}

.icon-zhuyishixiang:before {
  content: "\e72d";
}

.icon-paichengpeizhi:before {
  content: "\e636";
}

.icon-pc:before {
  content: "\e603";
}

.icon-banzujitaiweihu:before {
  content: "\e954";
}

.icon-yuejieguanli:before {
  content: "\e7ce";
}

.icon-yidaorurizhi:before {
  content: "\e6d8";
}

.icon-xinxiguanli:before {
  content: "\e60f";
}

.icon-xinxiguanli1:before {
  content: "\e668";
}

.icon-jitaichengfeipin:before {
  content: "\e9e9";
}

.icon-mojuweixiuxiang:before {
  content: "\e71f";
}

.icon-dingdianguancha:before {
  content: "\e60c";
}

.icon-canshushezhi:before {
  content: "\e6d5";
}

.icon-baifenbi:before {
  content: "\e61a";
}

.icon-daochurizhi:before {
  content: "\e604";
}

.icon-canshushezhi1:before {
  content: "\e63f";
}

.icon-taiya:before {
  content: "\e600";
}

.icon-neichen:before {
  content: "\e612";
}

.icon-icon-test:before {
  content: "\e62f";
}

.icon-renwu:before {
  content: "\e693";
}

.icon-taiya1:before {
  content: "\e648";
}

.icon--xuyu-steel-belt-tracking:before {
  content: "\e683";
}

.icon-du15:before {
  content: "\e745";
}

.icon-luntai:before {
  content: "\e601";
}

.icon-ic-gangtie:before {
  content: "\e655";
}

.icon-chengxinggongxuguanli:before {
  content: "\e63b";
}

