<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MdmAreaCapaAllocationEntityMapper">

    <insert id="copy" parameterType="com.zlt.aps.monthplan.api.domain.entity.MdmAreaCapaAllocation">
        insert into T_DP_AREA_CAPACITY_CONFIG(FACTORY_CODE, PRODUCT_TYPE_CODE, YEAR, MONTH, AREA_CODE,
                                               CAPACITY_ALLOCATION, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY)
        select #{targetFactoryCode},
               PRODUCT_TYPE_CODE,
               #{targetYear},
               #{targetMonth},
               AREA_CODE,
               CAPACITY_ALLOCATION,
               now(),
               #{createBy},
               now(),
               #{updateBy}
        from T_DP_AREA_CAPACITY_CONFIG
        where IS_DELETE = 0
          AND FACTORY_CODE = #{sourceFactoryCode}
          and `YEAR` = #{sourceYear}
          and `MONTH` = #{sourceMonth}
    </insert>
</mapper>
