<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MdmCxScheDayFinishQtyEntityMapper">

    <select id="selectByUniqueKeyList" resultType="com.zlt.aps.mp.api.domain.entity.MdmCxScheDayFinishQty">
        SELECT
            ID,
            FINISH_DATE,
            EMBRYO_CODE,
            BOM_DATA_VERSION,
            FACTORY_CODE
        FROM T_MDM_MES_CX_DAY_FINISH_QTY
        WHERE (FINISH_DATE, EMBRYO_CODE, BOM_DATA_VERSION, FACTORY_CODE) IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            (#{item.finishDate}, #{item.embryoCode}, #{item.bomDataVersion}, #{item.factoryCode})
        </foreach>
    </select>

</mapper>
