<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MdmDevicePlanShutEntityMapper">

    <resultMap id="BaseResultMap" type="com.zlt.aps.mp.api.domain.entity.MdmDevicePlanShut">
        <id column="ID" property="id"/>
        <result column="FACTORY_CODE" property="factoryCode"/>
        <result column="MACHINE_TYPE" property="machineType"/>
        <result column="MACHINE_CODE" property="machineCode"/>
        <result column="MACHINE_STOP_TYPE" property="machineStopType"/>
        <result column="BEGIN_DATE" property="beginDate"/>
        <result column="END_DATE" property="endDate"/>
        <result column="DATA_SOURCE" property="dataSource"/>
        <result column="DATA_VERSION" property="dataVersion"/>
        <result column="IS_DELETE" property="isDelete"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="REMARK" property="remark"/>
    </resultMap>

    <!-- 批量根据唯一键查询设备计划停机 -->
    <select id="selectByUniqueKeyList" resultMap="BaseResultMap">
        SELECT
            ID, FACTORY_CODE, MACHINE_TYPE, MACHINE_CODE, MACHINE_STOP_TYPE,
            BEGIN_DATE, END_DATE, DATA_SOURCE, DATA_VERSION,
            IS_DELETE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK
        FROM T_MDM_DEVICE_PLAN_SHUT
        WHERE (FACTORY_CODE, MACHINE_CODE, MACHINE_TYPE, MACHINE_STOP_TYPE, BEGIN_DATE) IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            (#{item.factoryCode}, #{item.machineCode}, #{item.machineType}, #{item.machineStopType}, #{item.beginDate})
        </foreach>
    </select>

</mapper>
