<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MdmLhScheDayFinishQtyEntityMapper">

    <select id="selectByUniqueKeyList" resultType="com.zlt.aps.mp.api.domain.entity.MdmLhScheDayFinishQty">
        SELECT
            ID,
            FINISH_DATE,
            MATERIAL_CODE,
            MES_MATERIAL_CODE,
            FACTORY_CODE
        FROM T_MDM_MES_LH_DAY_FINISH_QTY
        WHERE (FINISH_DATE, MATERIAL_CODE, MES_MATERIAL_CODE, FACTORY_CODE) IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            (#{item.finishDate}, #{item.materialCode}, #{item.mesMaterialCode}, #{item.factoryCode})
        </foreach>
    </select>

</mapper>
