<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MdmLhRepairCapsuleEntityMapper">

    <resultMap type="com.zlt.aps.mdm.api.domain.entity.MdmLhRepairCapsule" id="BaseResultMap">
        <id property="id" column="ID"/>
        <result property="obtainTime" column="OBTAIN_TIME"/>
        <result property="lhCode" column="LH_CODE"/>
        <result property="materialCode" column="MATERIAL_CODE"/>
        <result property="replaceCapsuleCount" column="REPLACE_CAPSULE_COUNT"/>
        <result property="replaceCapsuleCount2" column="REPLACE_CAPSULE_COUNT2"/>
        <result property="brand" column="BRAND"/>
        <result property="remark" column="REMARK"/>
        <result property="dataVersion" column="DATA_VERSION"/>
        <result property="companyCode" column="COMPANY_CODE"/>
        <result property="factoryCode" column="FACTORY_CODE"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

</mapper>
