<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MdmMsgTemplateUserRelMapper">
    <resultMap type="com.zlt.aps.mp.api.domain.entity.MdmMsgTemplateUserRel" id="MdmMsgTemplateUserRelResult">
            <result property="id" column="ID"/>
            <result property="templateCode" column="TEMPLATE_CODE"/>
            <result property="userName" column="USER_NAME"/>
            <result property="createBy" column="CREATE_BY"/>
            <result property="createTime" column="CREATE_TIME"/>
            <result property="updateBy" column="UPDATE_BY"/>
            <result property="updateTime" column="UPDATE_TIME"/>
            <result property="isDelete" column="IS_DELETE"/>
            <result property="remark" column="REMARK"/>
    </resultMap>


    <sql id="selectMdmMsgTemplateUserRelVo">
        SELECT ID, TEMPLATE_CODE, USER_NAME, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, IS_DELETE, REMARK FROM T_MDM_MSG_TEMPLATE_USER_REL
    </sql>

    <select id="selectMdmMsgTemplateUserRelList" parameterType="com.zlt.aps.mp.api.domain.entity.MdmMsgTemplateUserRel" resultMap="MdmMsgTemplateUserRelResult">
        <include refid="selectMdmMsgTemplateUserRelVo"/>
        WHERE IS_DELETE = 0
        <if test="templateCode != null  and templateCode != ''"> AND TEMPLATE_CODE = #{templateCode}</if>
        <if test="userName != null  and userName != ''"> AND USER_NAME LIKE CONCAT(CONCAT('%', #{userName}), '%')</if>
    </select>
</mapper>