<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MdmStructureTreadConfigEntityMapper">

    <select id="selectByUniqueKeyList" resultType="com.zlt.aps.mp.api.domain.entity.MdmStructureTreadConfig">
        SELECT
            ID,
            STRUCTURE_CODE,
            FACTORY_CODE
        FROM T_MDM_STRUCTURE_TREAD_CONFIG
        WHERE (STRUCTURE_CODE, FACTORY_CODE) IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            (#{item.structureCode}, #{item.factoryCode})
        </foreach>
    </select>

</mapper>
