<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MdmStructureTreadConfigEntityMapper">

    <resultMap type="com.zlt.aps.mdm.api.domain.entity.MdmStructureTreadConfig" id="BaseResultMap">
        <id property="id" column="ID"/>
        <result property="structureCode" column="STRUCTURE_CODE"/>
        <result property="treadCount" column="TREAD_COUNT"/>
        <result property="dataVersion" column="DATA_VERSION"/>
        <result property="companyCode" column="COMPANY_CODE"/>
        <result property="factoryCode" column="FACTORY_CODE"/>
        <result property="remark" column="REMARK"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <select id="selectByUniqueKeyList" resultType="com.zlt.aps.mdm.api.domain.entity.MdmStructureTreadConfig">
        SELECT
            ID,
            STRUCTURE_CODE,
            FACTORY_CODE
        FROM T_MDM_STRUCTURE_TREAD_CONFIG
        WHERE (STRUCTURE_CODE, FACTORY_CODE) IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            (#{item.structureCode}, #{item.factoryCode})
        </foreach>
    </select>

</mapper>
