<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MdmSkuConstructionRefEntityMapper">

    <update id="updateMainMaterialDescToMaterialInfo">
        UPDATE T_MDM_MATERIAL_INFO t1
            JOIN (
            SELECT t.FACTORY_CODE, t.MATERIAL_CODE, MAX(t.MAIN_MATERIAL_DESC) AS MAIN_MATERIAL_DESC
            FROM T_MDM_SKU_CONSTRUCTION_REF t
            WHERE t.IS_DELETE = 0
            GROUP BY t.FACTORY_CODE, t.MATERIAL_CODE
            ) t2
        ON t1.FACTORY_CODE = t2.FACTORY_CODE AND t1.MATERIAL_CODE = t2.MATERIAL_CODE
            SET t1.EMBRYO_DESC = t2.MAIN_MATERIAL_DESC
                t1.EMBRYO_CODE = t2.EMBRYO_CODE,
                t1.UPDATE_BY = #{updateBy},
                t1.UPDATE_TIME = #{updateTime}
        WHERE t1.IS_DELETE = 0
    </update>
</mapper>
