<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MdmSkuStructureRefEntityMapper">

    <select id="getStructureSelectList" resultType="com.zlt.aps.monthplan.api.domain.entity.MdmSkuStructureRef">
        SELECT DISTINCT
        STRUCTURE_NAME
        FROM
        T_MDM_SKU_STRUCTURE_REF
        WHERE
        IS_DELETE = 0 AND STRUCTURE_NAME IS NOT NULL
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="materialCode != null and materialCode != ''">AND MATERIAL_CODE = #{materialCode}</if>
        <if test="mainMaterialDesc != null and mainMaterialDesc != ''">AND MAIN_MATERIAL_DESC = #{mainMaterialDesc}</if>
        <if test="structureName != null and structureName != ''">AND STRUCTURE_NAME like
            concat(concat('%',#{structureName}), '%')
        </if>
        GROUP BY STRUCTURE_NAME
    </select>


    <select id="getMdmSkuStructureRefList" parameterType="com.baomidou.mybatisplus.core.conditions.query.QueryWrapper" resultType="com.zlt.aps.monthplan.api.domain.entity.MdmSkuStructureRef">
        SELECT a.*
        FROM T_MDM_SKU_STRUCTURE_REF a
                 LEFT JOIN T_MDM_MATERIAL_INFO b ON a.MATERIAL_CODE = b.MATERIAL_CODE
            ${ew.customSqlSegment}
    </select>

    <update id="updateStructureToMaterial">
        UPDATE T_MDM_MATERIAL_INFO t1
            JOIN T_MDM_SKU_CONSTRUCTION_REF t3
        ON t1.MATERIAL_CODE = t3.MATERIAL_CODE
            JOIN T_MDM_SKU_STRUCTURE_REF t2
            ON t2.MAIN_MATERIAL_DESC = t3.MAIN_MATERIAL_DESC
            SET t1.STRUCTURE_NAME = t2.STRUCTURE_NAME,
                t1.UPDATE_BY = #{updateBy},
                t1.UPDATE_TIME = #{updateTime}
        WHERE t1.IS_DELETE = 0
          AND t2.IS_DELETE = 0
          AND t3.IS_DELETE = 0
    </update>

    <insert id="insertMainMaterialDesc4SkuConstructionRef">
        INSERT INTO T_MDM_SKU_STRUCTURE_REF(
            FACTORY_CODE,
            MAIN_MATERIAL_DESC,
            CREATE_BY,
            CREATE_TIME
        )
        SELECT
            t1.FACTORY_CODE,
            t1.MAIN_MATERIAL_DESC,
            #{createBy},
            #{createTime}
        FROM T_MDM_SKU_CONSTRUCTION_REF t1
        WHERE t1.IS_DELETE = 0
          AND t1.MAIN_MATERIAL_DESC IS NOT NULL
          AND NOT EXISTS(
            SELECT 1
            FROM T_MDM_SKU_STRUCTURE_REF t2
            WHERE t2.IS_DELETE = 0
              AND t2.MAIN_MATERIAL_DESC = t1.MAIN_MATERIAL_DESC
        )
        GROUP BY
            t1.MAIN_MATERIAL_DESC,
            t1.FACTORY_CODE
    </insert>
</mapper>
