<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MpMonthPlanMonitorEntityMapper">
    <select id="listReport" resultType="com.zlt.aps.mp.api.domain.entity.MpMonthPlanMonitor">
        SELECT v.STRUCTURE_NAME,
		       v.MATERIAL_CODE,
		       v.MATERIAL_DESC,
		       v.MAIN_MATERIAL_DESC,
		       v.MOULD_QTY,
		       v.NET_DEMAND_QTY,
		       v.SCHEDULE_QTY,
		       v.ONBOARD_DATE,
		       v.UNQUALIFIED_QTY,
		       v.PRODUCTION_QTY,
		       v.LH_MARGIN,
		       v.EXPECTED_CLOSE_DAY,
		       v.EXPECTED_CLOSE_DATE,
		       v.PLAN_CLOSE_DATE,
		       v.DIFF_DAY,
		       v.PRODUCTION_VERSION,
		       v.FACTORY_CODE,
		       v.YEAR_MONTH,
		       r.CX_MACHINE_CODE AS CX_MACHINE,
		       GROUP_CONCAT(distinct LH_MACHINE_CODE) AS LH_MACHINE
		  FROM t_mp_month_plan_monitor v
		    LEFT join T_MP_MOULDING_DAY_RESULT r
		      ON r.PRODUCTION_VERSION = v.PRODUCTION_VERSION
		     AND r.MATERIAL_CODE = v.MATERIAL_CODE
		     AND r.IS_DELETE = 0
		    LEFT join t_lh_schedule_result lh
		      ON lh.MONTH_PLAN_VERSION = v.PRODUCTION_VERSION
		     AND lh.MATERIAL_CODE = v.MATERIAL_CODE
		     AND lh.IS_DELETE = 0
		 WHERE v.IS_DELETE = 0
		   AND v.year = #{year}
		   AND v.month = #{month}
		   AND v.factory_code = #{factoryCode}
		   AND EXISTS (
		       SELECT 0 
		         FROM T_MP_MONTH_PLAN_PROD_FINAL f
                WHERE f.IS_DELETE = 0
                  AND f.PRODUCTION_VERSION = v.PRODUCTION_VERSION
                  AND f.MATERIAL_CODE = v.MATERIAL_CODE
                  AND f.YEAR = v.YEAR
                  AND f.MONTH = v.MONTH
                  AND f.FACTORY_CODE = v.FACTORY_CODE
		   )
           <if test="cxMachine != null and cxMachine != ''">
           AND r.CX_MACHINE_CODE like concat('%', #{cxMachine}, '%')
           </if>
           <if test="structureName != null and structureName != ''">
           AND v.STRUCTURE_NAME = #{structureName}
           </if>
		   <if test="lhMachine != null and lhMachine != ''">
		   AND LH_MACHINE_CODE like concat('%', #{lhMachine}, '%')
		   </if>
		   <if test="materialCode != null and materialCode != ''">
		   AND v.MATERIAL_CODE like concat('%', #{materialCode}, '%')
		   </if>
           <if test="materialDesc != null and materialDesc != ''">
		   AND v.MATERIAL_DESC like concat('%', #{materialDesc}, '%')
           </if>
           <if test="mainMaterialDesc != null and mainMaterialDesc != ''">
           AND v.MAIN_MATERIAL_DESC like concat('%', #{mainMaterialDesc}, '%')
           </if>

		 GROUP BY v.STRUCTURE_NAME,
		       v.MATERIAL_CODE,
		       v.MATERIAL_DESC,
		       v.MAIN_MATERIAL_DESC,
		       v.MOULD_QTY,
		       v.NET_DEMAND_QTY,
		       v.SCHEDULE_QTY,
		       v.ONBOARD_DATE,
		       v.UNQUALIFIED_QTY,
		       v.PRODUCTION_QTY,
		       v.LH_MARGIN,
		       v.EXPECTED_CLOSE_DAY,
               v.EXPECTED_CLOSE_DATE,
               v.PLAN_CLOSE_DATE,
               v.DIFF_DAY,
			   v.PRODUCTION_VERSION,
			   v.FACTORY_CODE,
			   v.YEAR_MONTH,
		       r.CX_MACHINE_CODE
    </select>
    
    <update id="updateByDayFinish">
        UPDATE T_MP_MONTH_PLAN_MONITOR t
		INNER JOIN (
		    SELECT
		        f.MATERIAL_CODE,
		        f.production_version,
		        sum( q.DAY_FINISH_QTY ) production_qty
		    FROM
		        T_MP_MONTH_PLAN_PROD_FINAL f
		        INNER JOIN t_lh_day_finish_qty q ON q.FACTORY_CODE = f.FACTORY_CODE
		        AND q.MATERIAL_CODE = f.MATERIAL_CODE
		        AND q.FINISH_DATE BETWEEN concat( #{year}, '-', #{month}, '-1' )
		        AND DATE_SUB( DATE_ADD( concat( #{year}, '-', #{month}, '-1' ), INTERVAL 1 MONTH ), INTERVAL 1 DAY )
                AND q.IS_DELETE = 0
		    WHERE
		        f.IS_DELETE = 0
		        AND f.FACTORY_CODE = #{factoryCode}
		        AND f.YEAR = #{year}
		        AND f.MONTH = #{month}
		    GROUP BY
		        f.MATERIAL_CODE,
		        f.production_version
		    ) f ON f.production_version = t.production_version
		    AND f.MATERIAL_CODE = t.MATERIAL_CODE
		    SET t.PRODUCTION_QTY = f.production_qty,
                t.LH_MARGIN = t.SCHEDULE_QTY - ifnull(f.production_qty ,0)
		WHERE
		    t.is_delete = 0
		    AND t.FACTORY_CODE = #{factoryCode}
		    AND t.YEAR = #{year}
		    AND t.MONTH = #{month}
    </update>

    <!--
        查询当月存在正规计划(productStatus=S)的物料及其月计划监控记录。
        用于量试合格品充抵正规订单场景：按 工厂+年月+物料 查询，一个物料只会有一条正规记录。
    -->
    <select id="selectFormalPlanByMaterials" resultType="com.zlt.aps.mp.api.domain.entity.MpMonthPlanMonitor">
        SELECT
            ID,
            FACTORY_CODE,
            YEAR,
            MONTH,
            MATERIAL_CODE,
            PRODUCTION_VERSION,
            SCHEDULE_QTY,
            PRODUCTION_QTY,
            PRODUCT_STATUS,
            CONSTRUCTION_STAGE
        FROM T_MP_MONTH_PLAN_MONITOR
        WHERE IS_DELETE = 0
          AND FACTORY_CODE = #{factoryCode}
          AND YEAR = #{year}
          AND MONTH = #{month}
          AND PRODUCT_STATUS = 'S'
          AND MATERIAL_CODE IN
          <foreach collection="materialCodes" item="code" open="(" separator="," close=")">
              #{code}
          </foreach>
    </select>
</mapper>