<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MpMonthPlanStatisticsEntityMapper">

    <delete id="deleteMonthPlanStatisticsByCondition">
        DELETE FROM T_MP_MONTH_PLAN_STATISTICS
        WHERE FACTORY_CODE = #{factoryCode}
                  AND YEAR= #{year}
                  AND MONTH= #{month}
          AND PRODUCTION_VERSION= #{productionVersion}
        <if test="tempFlag != null  and tempFlag != ''">and temp_flag = #{tempFlag}</if>
        <if test="structureList != null and structureList.size() > 0">
            and structure_name in
            <foreach item="structureName" collection="structureList" open="(" separator="," close=")">
                #{structureName}
            </foreach>
        </if>

    </delete>

</mapper>