<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.factory.mapper.FactoryMonthPlanContinueProductInfoMapper">

    <select id="getContinueProductInfo" resultType="com.zlt.aps.factory.domain.dto.ContinueProductInfo">
        SELECT ppf.MATERIAL_CODE,
               ppf.MATERIAL_DESC,
               ppf.STRUCTURE_NAME AS GROUP_NAME,
               ppf.PRO_SIZE,
               ppf.MAIN_MATERIAL_DESC AS EMBRYO_CODE,
               ppf.SPECIFICATIONS,
               ppf.MAIN_PATTERN,
               ppf.PATTERN,
               ppf.CX_MACHINE_CODE,
               ppf.DAY_VULCANIZATION_QTY,
               ppf.MOULD_CHANGE_INFO,
               ppf.DAY_${lastDay} AS PRODUCTION_QTY
          FROM t_mp_month_plan_prod_final ppf
         WHERE IFNULL(ppf.IS_DELETE, 0) = 0
           AND ppf.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND ppf.YEAR = #{year,jdbcType=DECIMAL}
           AND ppf.MONTH = #{month,jdbcType=DECIMAL}
           AND ppf.DAY_${lastDay} > 0
    </select>
    
    <select id="getContinueGroupInfo" resultType="com.zlt.aps.factory.domain.dto.ContinueGroupInfo">
        SELECT msa.CX_MACHINE_CODE,
               msa.STRUCTURE_NAME AS GROUP_NAME
          FROM t_mp_structure_allocation msa
         WHERE IFNULL(msa.IS_DELETE, 0) = 0
           AND msa.PLAN_TYPE = '01'
           AND msa.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND msa.YEAR = #{year,jdbcType=DECIMAL}
           AND msa.MONTH = #{month,jdbcType=DECIMAL}
           AND msa.END_DAY = #{lastDay,jdbcType=DECIMAL}
    </select>
</mapper>
