<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.mp.engine.mapper.FactoryMonthPlanSpecialMaterialInfoMapper">

    <select id="getSpecialMaterialEmbryoInfo" resultType="com.zlt.aps.mp.engine.domain.vo.EmbryoSpecialMaterialInfoVo">
        SELECT mcd.FACTORY_CODE,
               mcd.EMBRYO_CODE,
               mcd.CHILD_MATERIAL_CODE,
               mcd.CHILD_MATERIAL_NAME,
               mcd.DOSAGE
          FROM t_mdm_material_consume_detail mcd
         WHERE IFNULL(mcd.IS_DELETE, 0) = 0
           AND mcd.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND EXISTS (SELECT 1
                         FROM T_MDM_SPECIAL_MATERIAL_RECORD smr
                        WHERE IFNULL(smr.IS_DELETE, 0) = 0
                          AND smr.MATERIAL_TYPE = '02'
                          AND smr.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                          AND smr.MATERIAL_CODE = mcd.CHILD_MATERIAL_CODE)
           AND EXISTS (SELECT 1
                         FROM t_mp_proc_month_plan_init mpi
                        WHERE IFNULL(mpi.IS_DELETE, 0) = 0
                          AND mpi.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                          AND mpi.YEAR = #{year,jdbcType=DECIMAL}
                          AND mpi.MONTH = #{month,jdbcType=DECIMAL}
                          AND mpi.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                          AND mpi.PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR}
                          AND mcd.EMBRYO_CODE = mpi.EMBRYO_CODE)

    </select>

    <select id="getSpecialMaterialEmbryoInfoByRequire" resultType="com.zlt.aps.mp.engine.domain.vo.EmbryoSpecialMaterialInfoVo">
        SELECT mcd.FACTORY_CODE,
               mcd.EMBRYO_CODE,
               mcd.CHILD_MATERIAL_CODE,
               mcd.CHILD_MATERIAL_NAME,
               mcd.DOSAGE
          FROM t_mdm_material_consume_detail mcd
         WHERE IFNULL(mcd.IS_DELETE, 0) = 0
           AND mcd.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND EXISTS (SELECT 1
                         FROM T_MDM_SPECIAL_MATERIAL_RECORD smr
                        WHERE IFNULL(smr.IS_DELETE, 0) = 0
                          AND smr.MATERIAL_TYPE = '02'
                          AND smr.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                          AND smr.MATERIAL_CODE = mcd.CHILD_MATERIAL_CODE)
           AND EXISTS (SELECT 1
                         FROM t_dp_demand_plan prp
                         LEFT JOIN t_mdm_sku_construction_ref mpc
                           ON mpc.FACTORY_CODE = prp.FACTORY_CODE
                          AND mpc.MATERIAL_CODE = prp.MATERIAL_CODE
                          AND IFNULL(mpc.IS_DELETE, 0) = 0
                        WHERE IFNULL(prp.IS_DELETE, 0) = 0
                          AND mpc.ID IS NOT NULL
                          AND prp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                          AND prp.YEAR = #{year,jdbcType=DECIMAL}
                          AND prp.MONTH = #{month,jdbcType=DECIMAL}
                          AND prp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                          AND mcd.EMBRYO_CODE = mpc.EMBRYO_CODE)
    </select>

    <select id="getSpecialMaterialStockInfo" resultType="com.zlt.aps.mp.engine.domain.vo.SpecialMaterialStockVo">
	    SELECT
		    SMS.MATERIAL_CODE,
		    SMS.MATERIAL_DESC,
		    SMR.QUOTA * MAX( SMS.STOCK / SMS.PACKAGE_NUM ) STANDARD_LENGTH,
		    STANDARD_LENGTH ORI_STANDARD_LENGTH,
		    SUM( SMS.STOCK ) STOCK 
		FROM
		    T_MDM_SPECIAL_MATERIAL_STOCK SMS
		    INNER JOIN T_MDM_SPECIAL_MATERIAL_RECORD SMR ON SMR.FACTORY_CODE = SMS.FACTORY_CODE 
		    AND IFNULL( SMR.IS_DELETE, 0 ) = 0 
		    AND SMR.MATERIAL_TYPE = '02' 
		    AND SMR.MATERIAL_CODE = SMS.MATERIAL_CODE 
		WHERE
		    IFNULL( SMS.IS_DELETE, 0 ) = 0 
		    AND SMS.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
		    AND SMS.YEAR = #{year,jdbcType=DECIMAL} 
		    AND SMS.MONTH = #{month,jdbcType=DECIMAL} 
		    AND SMS.STANDARD_LENGTH > 0 
		    AND SMS.STOCK > 0 
		    AND SMS.PACKAGE_NUM > 0
		    AND NOT EXISTS (
			    SELECT
			        0 
			    FROM
			        T_MDM_SPECIAL_MATERIAL_STOCK SS 
			    WHERE
			        SS.YEAR = SMS.YEAR 
			        AND SS.MONTH = SMS.MONTH 
			        AND SS.FACTORY_CODE = SMS.FACTORY_CODE 
			        AND SS.MATERIAL_CODE = SMS.MATERIAL_CODE 
			        AND IFNULL( SS.IS_DELETE, 0 ) = 0 
			        AND SS.STOCK_DATE > SMS.STOCK_DATE 
		    ) 
		GROUP BY
		    sms.MATERIAL_CODE,
		    sms.MATERIAL_DESC,
		    smr.quota,
		    STANDARD_LENGTH
    </select>

</mapper>
