<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.common.engine.mapper.MdmMonthPlanAnalysisMapper">

    <resultMap id="BaseResultMap" type="com.zlt.aps.common.engine.domain.MdmMonthPlanAnalysis">
            <result property="id" column="ID" jdbcType="DECIMAL"/>
            <result property="monthPlanApsVersion" column="MONTH_PLAN_APS_VERSION" jdbcType="VARCHAR"/>
            <result property="materialCode" column="MATERIAL_CODE" jdbcType="VARCHAR"/>
            <result property="embryoCode" column="EMBRYO_CODE" jdbcType="VARCHAR"/>
            <result property="qualityGrade" column="QUALITY_GRADE" jdbcType="VARCHAR"/>
            <result property="storageLocation" column="STORAGE_LOCATION" jdbcType="VARCHAR"/>
            <result property="specialRequirements" column="SPECIAL_REQUIREMENTS" jdbcType="VARCHAR"/>
            <result property="actualArrangement" column="ACTUAL_ARRANGEMENT" jdbcType="DECIMAL"/>
            <result property="cxMonthPlanQty" column="CX_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
        <result property="tmCode" column="TM_CODE" jdbcType="VARCHAR"/>
            <result property="tmMonthPlanQty" column="TM_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
        <result property="tcCode" column="TC_CODE" jdbcType="VARCHAR"/>
            <result property="tcMonthPlanQty" column="TC_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
        <result property="ncCode" column="NC_CODE" jdbcType="VARCHAR"/>
            <result property="ncMonthPlanQty" column="NC_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
        <result property="tqCode" column="TQ_CODE" jdbcType="VARCHAR"/>
            <result property="tqMonthPlanQty" column="TQ_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
        <result property="gsqCode" column="GSQ_CODE" jdbcType="VARCHAR"/>
            <result property="gsqMonthPlanQty" column="GSQ_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
            <result property="gdcdMonthPlanQty" column="GDCD_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
        <result property="cd15OneCode" column="CD15_ONE_CODE" jdbcType="VARCHAR"/>
        <result property="cd15OneMonthPlanQty" column="CD15_ONE_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
        <result property="cd15TwoCode" column="CD15_TWO_CODE" jdbcType="VARCHAR"/>
        <result property="cd15TwoMonthPlanQty" column="CD15_TWO_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
            <result property="lbcdMonthPlanQty" column="LBCD_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
        <result property="cd90OneCode" column="CD90_ONE_CODE" jdbcType="VARCHAR"/>
        <result property="cd90OneMonthPlanQty" column="CD90_ONE_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
        <result property="cd90TwoCode" column="CD90_TWO_CODE" jdbcType="VARCHAR"/>
        <result property="cd90TwoMonthPlanQty" column="CD90_TWO_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
        <result property="cd90ThreeCode" column="CD90_THREE_CODE" jdbcType="VARCHAR"/>
        <result property="cd90ThreeMonthPlanQty" column="CD90_THREE_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
        <result property="gdyyCode" column="GDYY_CODE" jdbcType="VARCHAR"/>
            <result property="gdyyMonthPlanQty" column="GDYY_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
            <result property="gdyyMonthPlanNumQty" column="GDYY_MONTH_PLAN_NUM_QTY" jdbcType="DECIMAL"/>
        <result property="xwyyCode" column="XWYY_CODE" jdbcType="VARCHAR"/>
            <result property="xwyyMonthPlanQty" column="XWYY_MONTH_PLAN_QTY" jdbcType="DECIMAL"/>
            <result property="xwyyMonthPlanNumQty" column="XWYY_MONTH_PLAN_NUM_QTY" jdbcType="DECIMAL"/>
            <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="DEL_FLAG" jdbcType="CHAR"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
            <result property="bomDataVersion" column="BOM_DATA_VERSION" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,MONTH_PLAN_APS_VERSION,MATERIAL_CODE,
        EMBRYO_CODE,QUALITY_GRADE,STORAGE_LOCATION,
        SPECIAL_REQUIREMENTS,ACTUAL_ARRANGEMENT,CX_MONTH_PLAN_QTY,
        TM_MONTH_PLAN_QTY,TC_MONTH_PLAN_QTY,NC_MONTH_PLAN_QTY,
        TQ_MONTH_PLAN_QTY,GSQ_MONTH_PLAN_QTY,GDCD_MONTH_PLAN_QTY,
        LBCD_MONTH_PLAN_QTY,GDYY_MONTH_PLAN_QTY,XWYY_MONTH_PLAN_QTY,
        CREATE_BY,CREATE_TIME,UPDATE_BY,
        UPDATE_TIME,DEL_FLAG,REMARK,
        TM_CODE,TC_CODE,NC_CODE,
        TQ_CODE,GSQ_CODE,
        CD15_ONE_CODE,CD15_ONE_MONTH_PLAN_QTY,CD15_TWO_CODE,
        CD15_TWO_MONTH_PLAN_QTY,CD90_ONE_CODE,
        CD90_ONE_MONTH_PLAN_QTY,CD90_TWO_CODE,CD90_TWO_MONTH_PLAN_QTY,
        CD90_THREE_CODE,CD90_THREE_MONTH_PLAN_QTY,GDYY_CODE,GDYY_MONTH_PLAN_NUM_QTY,
        XWYY_CODE,XWYY_MONTH_PLAN_NUM_QTY,BOM_DATA_VERSION
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from T_MDM_MONTH_PLAN_ANALYSIS
        where   ID = #{id,jdbcType=DECIMAL}
    </select>

    <select id="getByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_MDM_MONTH_PLAN_ANALYSIS
        where
        <if test="id != null">
            ID = #{id,jdbcType=DECIMAL} AND
        </if>
        <if test="monthPlanApsVersion != null">
            MONTH_PLAN_APS_VERSION = #{monthPlanApsVersion,jdbcType=VARCHAR} AND
        </if>
        <if test="materialCode != null">
            MATERIAL_CODE = #{materialCode,jdbcType=VARCHAR} AND
        </if>
        <if test="embryoCode != null">
            EMBRYO_CODE = #{embryoCode,jdbcType=VARCHAR} AND
        </if>
        <if test="qualityGrade != null">
            QUALITY_GRADE = #{qualityGrade,jdbcType=VARCHAR} AND
        </if>
        <if test="storageLocation != null">
            STORAGE_LOCATION = #{storageLocation,jdbcType=VARCHAR} AND
        </if>
        <if test="specialRequirements != null">
            SPECIAL_REQUIREMENTS = #{specialRequirements,jdbcType=VARCHAR} AND
        </if>
        <if test="tmCode != null">
            TM_CODE = #{tmCode,jdbcType=VARCHAR} AND
        </if>
        <if test="tcCode != null">
            TC_CODE = #{tcCode,jdbcType=VARCHAR} AND
        </if>
        <if test="ncCode != null">
            NC_CODE = #{ncCode,jdbcType=VARCHAR} AND
        </if>
        <if test="tqCode != null">
            TQ_CODE = #{tqCode,jdbcType=VARCHAR} AND
        </if>
        <if test="gsqCode != null">
            GSQ_CODE = #{gsqCode,jdbcType=VARCHAR} AND
        </if>
        <if test="cd15OneCode != null">
            CD15_ONE_CODE = #{cd15OneCode,jdbcType=VARCHAR} AND
        </if>
        <if test="cd15TwoCode != null">
            CD15_TWO_CODE = #{cd15TwoCode,jdbcType=VARCHAR} AND
        </if>
        <if test="cd90OneCode != null">
            CD90_ONE_CODE = #{cd90OneCode,jdbcType=VARCHAR} AND
        </if>
        <if test="cd90TwoCode != null">
            CD90_TWO_CODE = #{cd90TwoCode,jdbcType=VARCHAR} AND
        </if>
        <if test="cd90ThreeCode != null">
            CD90_THREE_CODE = #{cd90ThreeCode,jdbcType=VARCHAR} AND
        </if>
        <if test="gdyyCode != null">
            GDYY_CODE = #{gdyyCode,jdbcType=VARCHAR} AND
        </if>
        <if test="xwyyCode != null">
            XWYY_CODE = #{xwyyCode,jdbcType=VARCHAR} AND
        </if>
        DEL_FLAG = 0
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from T_MDM_MONTH_PLAN_ANALYSIS
        where   ID = #{id,jdbcType=DECIMAL}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zlt.aps.common.engine.domain.MdmMonthPlanAnalysis" useGeneratedKeys="true">
        insert into T_MDM_MONTH_PLAN_ANALYSIS
        ( ID,MONTH_PLAN_APS_VERSION,MATERIAL_CODE
        ,EMBRYO_CODE,QUALITY_GRADE,STORAGE_LOCATION
        ,SPECIAL_REQUIREMENTS,ACTUAL_ARRANGEMENT,CX_MONTH_PLAN_QTY
        ,TM_MONTH_PLAN_QTY,TC_MONTH_PLAN_QTY,NC_MONTH_PLAN_QTY
        ,TQ_MONTH_PLAN_QTY,GSQ_MONTH_PLAN_QTY,GDCD_MONTH_PLAN_QTY
        ,LBCD_MONTH_PLAN_QTY,GDYY_MONTH_PLAN_QTY,GDYY_MONTH_PLAN_NUM_QTY,XWYY_MONTH_PLAN_QTY,GDYY_MONTH_PLAN_NUM_QTY
        ,CREATE_BY,CREATE_TIME,UPDATE_BY
        ,UPDATE_TIME,DEL_FLAG,REMARK
        ,TM_CODE,TC_CODE,NC_CODE
        ,TQ_CODE,GSQ_CODE
        ,CD15_ONE_CODE,CD15_ONE_MONTH_PLAN_QTY,CD15_TWO_CODE
        ,CD15_TWO_MONTH_PLAN_QTY,CD90_ONE_CODE
        ,CD90_ONE_MONTH_PLAN_QTY,CD90_TWO_CODE,CD90_TWO_MONTH_PLAN_QTY
        ,CD90_THREE_CODE,CD90_THREE_MONTH_PLAN_QTY,GDYY_CODE
        ,XWYY_CODE)
        values (T_MDM_MONTH_PLAN_ANALYSIS_SEQ.NEXTVAL,#{monthPlanApsVersion,jdbcType=VARCHAR},#{materialCode,jdbcType=VARCHAR}
        ,#{embryoCode,jdbcType=VARCHAR},#{qualityGrade,jdbcType=VARCHAR},#{storageLocation,jdbcType=VARCHAR}
        ,#{specialRequirements,jdbcType=VARCHAR},#{actualArrangement,jdbcType=DECIMAL},#{cxMonthPlanQty,jdbcType=DECIMAL}
        ,#{tmMonthPlanQty,jdbcType=DECIMAL},#{tcMonthPlanQty,jdbcType=DECIMAL},#{ncMonthPlanQty,jdbcType=DECIMAL}
        ,#{tqMonthPlanQty,jdbcType=DECIMAL},#{gsqMonthPlanQty,jdbcType=DECIMAL},#{gdcdMonthPlanQty,jdbcType=DECIMAL}
        ,#{lbcdMonthPlanQty,jdbcType=DECIMAL},#{gdyyMonthPlanQty,jdbcType=DECIMAL},#{xwyyMonthPlanQty,jdbcType=DECIMAL},#{gdyyMonthPlanNumQty,jdbcType=DECIMAL},#{xwyyMonthPlanNumQty,jdbcType=DECIMAL}
        ,#{createBy,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR}
        ,#{updateTime,jdbcType=TIMESTAMP},#{delFlag,jdbcType=CHAR},#{remark,jdbcType=VARCHAR}
        ,#{tmCode,jdbcType=VARCHAR},#{tcCode,jdbcType=VARCHAR},#{ncCode,jdbcType=VARCHAR}
        ,#{tqCode,jdbcType=VARCHAR},#{gsqCode,jdbcType=VARCHAR}
        ,#{cd15OneCode,jdbcType=VARCHAR},#{cd15OneMonthPlanQty,jdbcType=DECIMAL},#{cd15TwoCode,jdbcType=VARCHAR}
        ,#{cd15TwoMonthPlanQty,jdbcType=DECIMAL},#{cd90OneCode,jdbcType=VARCHAR}
        ,#{cd90OneMonthPlanQty,jdbcType=DECIMAL},#{cd90TwoCode,jdbcType=VARCHAR},#{cd90TwoMonthPlanQty,jdbcType=DECIMAL}
        ,#{cd90ThreeCode,jdbcType=VARCHAR},#{cd90ThreeMonthPlanQty,jdbcType=DECIMAL},#{gdyyCode,jdbcType=VARCHAR}
        ,#{xwyyCode,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zlt.aps.common.engine.domain.MdmMonthPlanAnalysis" useGeneratedKeys="true">
        insert into T_MDM_MONTH_PLAN_ANALYSIS
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="monthPlanApsVersion != null">monthPlanApsVersion,</if>
                <if test="materialCode != null">materialCode,</if>
                <if test="embryoCode != null">embryoCode,</if>
                <if test="qualityGrade != null">qualityGrade,</if>
                <if test="storageLocation != null">storageLocation,</if>
                <if test="specialRequirements != null">specialRequirements,</if>
                <if test="actualArrangement != null">actualArrangement,</if>
                <if test="cxMonthPlanQty != null">cxMonthPlanQty,</if>
                <if test="tmMonthPlanQty != null">tmMonthPlanQty,</if>
                <if test="tcMonthPlanQty != null">tcMonthPlanQty,</if>
                <if test="ncMonthPlanQty != null">ncMonthPlanQty,</if>
                <if test="tqMonthPlanQty != null">tqMonthPlanQty,</if>
                <if test="gsqMonthPlanQty != null">gsqMonthPlanQty,</if>
                <if test="gdcdMonthPlanQty != null">gdcdMonthPlanQty,</if>
                <if test="lbcdMonthPlanQty != null">lbcdMonthPlanQty,</if>
                <if test="gdyyMonthPlanQty != null">gdyyMonthPlanQty,</if>
                <if test="xwyyMonthPlanQty != null">xwyyMonthPlanQty,</if>
                <if test="gdyyMonthPlanNumQty != null">gdyyMonthPlanNumQty,</if>
                <if test="xwyyMonthPlanNumQty != null">xwyyMonthPlanNumQty,</if>
                <if test="createBy != null">createBy,</if>
                <if test="createTime != null">createTime,</if>
                <if test="updateBy != null">updateBy,</if>
                <if test="updateTime != null">updateTime,</if>
                <if test="delFlag != null">delFlag,</if>
                <if test="remark != null">remark,</if>
                <if test="tmCode != null">tmCode,</if>
                <if test="tcCode != null">tcCode,</if>
                <if test="ncCode != null">ncCode,</if>
                <if test="tqCode != null">tqCode,</if>
                <if test="gsqCode != null">gsqCode,</if>
                <if test="cd15OneCode != null">cd15OneCode,</if>
                <if test="cd15OneMonthPlanQty != null">cd15OneMonthPlanQty,</if>
                <if test="cd15TwoCode != null">cd15TwoCode,</if>
                <if test="cd15TwoMonthPlanQty != null">cd15TwoMonthPlanQty,</if>
                <if test="cd90OneCode != null">cd90OneCode,</if>
                <if test="cd90OneMonthPlanQty != null">cd90OneMonthPlanQty,</if>
                <if test="cd90TwoCode != null">cd90TwoCode,</if>
                <if test="cd90TwoMonthPlanQty != null">cd90TwoMonthPlanQty,</if>
                <if test="cd90ThreeCode != null">cd90ThreeCode,</if>
                <if test="cd90ThreeMonthPlanQty != null">cd90ThreeMonthPlanQty,</if>
                <if test="gdyyCode != null">gdyyCode,</if>
                <if test="xwyyCode != null">xwyyCode,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">ID = #{id,jdbcType=DECIMAL},</if>
                <if test="monthPlanApsVersion != null">MONTH_PLAN_APS_VERSION = #{monthPlanApsVersion,jdbcType=VARCHAR},</if>
                <if test="materialCode != null">MATERIAL_CODE = #{materialCode,jdbcType=VARCHAR},</if>
                <if test="embryoCode != null">EMBRYO_CODE = #{embryoCode,jdbcType=VARCHAR},</if>
                <if test="qualityGrade != null">QUALITY_GRADE = #{qualityGrade,jdbcType=VARCHAR},</if>
                <if test="storageLocation != null">STORAGE_LOCATION = #{storageLocation,jdbcType=VARCHAR},</if>
                <if test="specialRequirements != null">SPECIAL_REQUIREMENTS = #{specialRequirements,jdbcType=VARCHAR},</if>
                <if test="actualArrangement != null">ACTUAL_ARRANGEMENT = #{actualArrangement,jdbcType=DECIMAL},</if>
                <if test="cxMonthPlanQty != null">CX_MONTH_PLAN_QTY = #{cxMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="tmMonthPlanQty != null">TM_MONTH_PLAN_QTY = #{tmMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="tcMonthPlanQty != null">TC_MONTH_PLAN_QTY = #{tcMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="ncMonthPlanQty != null">NC_MONTH_PLAN_QTY = #{ncMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="tqMonthPlanQty != null">TQ_MONTH_PLAN_QTY = #{tqMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="gsqMonthPlanQty != null">GSQ_MONTH_PLAN_QTY = #{gsqMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="gdcdMonthPlanQty != null">GDCD_MONTH_PLAN_QTY = #{gdcdMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="lbcdMonthPlanQty != null">LBCD_MONTH_PLAN_QTY = #{lbcdMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="gdyyMonthPlanQty != null">GDYY_MONTH_PLAN_QTY = #{gdyyMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="xwyyMonthPlanQty != null">XWYY_MONTH_PLAN_QTY = #{xwyyMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="gdyyMonthPlanNumQty != null">GDYY_MONTH_PLAN_NUM_QTY = #{gdyyMonthPlanNumQty,jdbcType=DECIMAL},</if>
                <if test="xwyyMonthPlanNumQty != null">XWYY_MONTH_PLAN_NUM_QTY = #{xwyyMonthPlanNumQty,jdbcType=DECIMAL},</if>
                <if test="createBy != null">CREATE_BY = #{createBy,jdbcType=VARCHAR},</if>
                <if test="createTime != null">CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateBy != null">UPDATE_BY = #{updateBy,jdbcType=VARCHAR},</if>
                <if test="updateTime != null">UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="delFlag != null">DEL_FLAG = #{delFlag,jdbcType=CHAR},</if>
                <if test="remark != null">REMARK = #{remark,jdbcType=VARCHAR},</if>
                <if test="tmCode != null">TM_CODE = #{tmCode,jdbcType=VARCHAR},</if>
                <if test="tcCode != null">TC_CODE = #{tcCode,jdbcType=VARCHAR},</if>
                <if test="ncCode != null">NC_CODE = #{ncCode,jdbcType=VARCHAR},</if>
                <if test="tqCode != null">TQ_CODE = #{tqCode,jdbcType=VARCHAR},</if>
                <if test="gsqCode != null">GSQ_CODE = #{gsqCode,jdbcType=VARCHAR},</if>
                <if test="cd15OneCode != null">CD15_ONE_CODE = #{cd15OneCode,jdbcType=VARCHAR},</if>
                <if test="cd15OneMonthPlanQty != null">CD15_ONE_MONTH_PLAN_QTY = #{cd15OneMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="cd15TwoCode != null">CD15_TWO_CODE = #{cd15TwoCode,jdbcType=VARCHAR},</if>
                <if test="cd15TwoMonthPlanQty != null">CD15_TWO_MONTH_PLAN_QTY = #{cd15TwoMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="cd90OneCode != null">CD90_ONE_CODE = #{cd90OneCode,jdbcType=VARCHAR},</if>
                <if test="cd90OneMonthPlanQty != null">CD90_ONE_MONTH_PLAN_QTY = #{cd90OneMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="cd90TwoCode != null">CD90_TWO_CODE = #{cd90TwoCode,jdbcType=VARCHAR},</if>
                <if test="cd90TwoMonthPlanQty != null">CD90_TWO_MONTH_PLAN_QTY = #{cd90TwoMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="cd90ThreeCode != null">CD90_THREE_CODE = #{cd90ThreeCode,jdbcType=VARCHAR},</if>
                <if test="cd90ThreeMonthPlanQty != null">CD90_THREE_MONTH_PLAN_QTY = #{cd90ThreeMonthPlanQty,jdbcType=DECIMAL},</if>
                <if test="gdyyCode != null">GDYY_CODE = #{gdyyCode,jdbcType=VARCHAR},</if>
                <if test="xwyyCode != null">XWYY_CODE = #{xwyyCode,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zlt.aps.common.engine.domain.MdmMonthPlanAnalysis">
        update T_MDM_MONTH_PLAN_ANALYSIS
        <set>
                <if test="id != null">
                    ID = #{id,jdbcType=DECIMAL},
                </if>
                <if test="monthPlanApsVersion != null">
                    MONTH_PLAN_APS_VERSION = #{monthPlanApsVersion,jdbcType=VARCHAR},
                </if>
                <if test="materialCode != null">
                    MATERIAL_CODE = #{materialCode,jdbcType=VARCHAR},
                </if>
                <if test="embryoCode != null">
                    EMBRYO_CODE = #{embryoCode,jdbcType=VARCHAR},
                </if>
                <if test="qualityGrade != null">
                    QUALITY_GRADE = #{qualityGrade,jdbcType=VARCHAR},
                </if>
                <if test="storageLocation != null">
                    STORAGE_LOCATION = #{storageLocation,jdbcType=VARCHAR},
                </if>
                <if test="specialRequirements != null">
                    SPECIAL_REQUIREMENTS = #{specialRequirements,jdbcType=VARCHAR},
                </if>
                <if test="actualArrangement != null">
                    ACTUAL_ARRANGEMENT = #{actualArrangement,jdbcType=DECIMAL},
                </if>
                <if test="cxMonthPlanQty != null">
                    CX_MONTH_PLAN_QTY = #{cxMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="tmMonthPlanQty != null">
                    TM_MONTH_PLAN_QTY = #{tmMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="tcMonthPlanQty != null">
                    TC_MONTH_PLAN_QTY = #{tcMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="ncMonthPlanQty != null">
                    NC_MONTH_PLAN_QTY = #{ncMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="tqMonthPlanQty != null">
                    TQ_MONTH_PLAN_QTY = #{tqMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="gsqMonthPlanQty != null">
                    GSQ_MONTH_PLAN_QTY = #{gsqMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="gdcdMonthPlanQty != null">
                    GDCD_MONTH_PLAN_QTY = #{gdcdMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="lbcdMonthPlanQty != null">
                    LBCD_MONTH_PLAN_QTY = #{lbcdMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="gdyyMonthPlanQty != null">
                    GDYY_MONTH_PLAN_QTY = #{gdyyMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="xwyyMonthPlanQty != null">
                    XWYY_MONTH_PLAN_QTY = #{xwyyMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="gdyyMonthPlanNumQty != null">
                    GDYY_MONTH_PLAN_NUM_QTY = #{gdyyMonthPlanNumQty,jdbcType=DECIMAL},
                </if>
                <if test="xwyyMonthPlanNumQty != null">
                    XWYY_MONTH_PLAN_NUM_QTY = #{xwyyMonthPlanNumQty,jdbcType=DECIMAL},
                </if>
                <if test="createBy != null">
                    CREATE_BY = #{createBy,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateBy != null">
                    UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
                </if>
                <if test="updateTime != null">
                    UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="delFlag != null">
                    DEL_FLAG = #{delFlag,jdbcType=CHAR},
                </if>
                <if test="remark != null">
                    REMARK = #{remark,jdbcType=VARCHAR},
                </if>
                <if test="tmCode != null">
                    TM_CODE = #{tmCode,jdbcType=VARCHAR},
                </if>
                <if test="tcCode != null">
                    TC_CODE = #{tcCode,jdbcType=VARCHAR},
                </if>
                <if test="ncCode != null">
                    NC_CODE = #{ncCode,jdbcType=VARCHAR},
                </if>
                <if test="tqCode != null">
                    TQ_CODE = #{tqCode,jdbcType=VARCHAR},
                </if>
                <if test="gsqCode != null">
                    GSQ_CODE = #{gsqCode,jdbcType=VARCHAR},
                </if>
                <if test="cd15OneCode != null">
                    CD15_ONE_CODE = #{cd15OneCode,jdbcType=VARCHAR},
                </if>
                <if test="cd15OneMonthPlanQty != null">
                    CD15_ONE_MONTH_PLAN_QTY = #{cd15OneMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="cd15TwoCode != null">
                    CD15_TWO_CODE = #{cd15TwoCode,jdbcType=VARCHAR},
                </if>
                <if test="cd15TwoMonthPlanQty != null">
                    CD15_TWO_MONTH_PLAN_QTY = #{cd15TwoMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="cd90OneCode != null">
                    CD90_ONE_CODE = #{cd90OneCode,jdbcType=VARCHAR},
                </if>
                <if test="cd90OneMonthPlanQty != null">
                    CD90_ONE_MONTH_PLAN_QTY = #{cd90OneMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="cd90TwoCode != null">
                    CD90_TWO_CODE = #{cd90TwoCode,jdbcType=VARCHAR},
                </if>
                <if test="cd90TwoMonthPlanQty != null">
                    CD90_TWO_MONTH_PLAN_QTY = #{cd90TwoMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="cd90ThreeCode != null">
                    CD90_THREE_CODE = #{cd90ThreeCode,jdbcType=VARCHAR},
                </if>
                <if test="cd90ThreeMonthPlanQty != null">
                    CD90_THREE_MONTH_PLAN_QTY = #{cd90ThreeMonthPlanQty,jdbcType=DECIMAL},
                </if>
                <if test="gdyyCode != null">
                    GDYY_CODE = #{gdyyCode,jdbcType=VARCHAR},
                </if>
                <if test="xwyyCode != null">
                    XWYY_CODE = #{xwyyCode,jdbcType=VARCHAR},
                </if>
        </set>
        where    ID = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zlt.aps.common.engine.domain.MdmMonthPlanAnalysis">
        update T_MDM_MONTH_PLAN_ANALYSIS
        set
            ID =  #{id,jdbcType=DECIMAL},
            MONTH_PLAN_APS_VERSION =  #{monthPlanApsVersion,jdbcType=VARCHAR},
            MATERIAL_CODE =  #{materialCode,jdbcType=VARCHAR},
            EMBRYO_CODE =  #{embryoCode,jdbcType=VARCHAR},
            QUALITY_GRADE =  #{qualityGrade,jdbcType=VARCHAR},
            STORAGE_LOCATION =  #{storageLocation,jdbcType=VARCHAR},
            SPECIAL_REQUIREMENTS =  #{specialRequirements,jdbcType=VARCHAR},
            ACTUAL_ARRANGEMENT =  #{actualArrangement,jdbcType=DECIMAL},
            CX_MONTH_PLAN_QTY =  #{cxMonthPlanQty,jdbcType=DECIMAL},
            TM_MONTH_PLAN_QTY =  #{tmMonthPlanQty,jdbcType=DECIMAL},
            TC_MONTH_PLAN_QTY =  #{tcMonthPlanQty,jdbcType=DECIMAL},
            NC_MONTH_PLAN_QTY =  #{ncMonthPlanQty,jdbcType=DECIMAL},
            TQ_MONTH_PLAN_QTY =  #{tqMonthPlanQty,jdbcType=DECIMAL},
            GSQ_MONTH_PLAN_QTY =  #{gsqMonthPlanQty,jdbcType=DECIMAL},
            GDCD_MONTH_PLAN_QTY =  #{gdcdMonthPlanQty,jdbcType=DECIMAL},
            LBCD_MONTH_PLAN_QTY =  #{lbcdMonthPlanQty,jdbcType=DECIMAL},
            GDYY_MONTH_PLAN_QTY =  #{gdyyMonthPlanQty,jdbcType=DECIMAL},
            XWYY_MONTH_PLAN_QTY =  #{xwyyMonthPlanQty,jdbcType=DECIMAL},
            GDYY_MONTH_PLAN_NUM_QTY =  #{gdyyMonthPlanNumQty,jdbcType=DECIMAL},
            XWYY_MONTH_PLAN_NUM_QTY =  #{xwyyMonthPlanNumQty,jdbcType=DECIMAL},
            CREATE_BY =  #{createBy,jdbcType=VARCHAR},
            CREATE_TIME =  #{createTime,jdbcType=TIMESTAMP},
            UPDATE_BY =  #{updateBy,jdbcType=VARCHAR},
            UPDATE_TIME =  #{updateTime,jdbcType=TIMESTAMP},
            DEL_FLAG =  #{delFlag,jdbcType=CHAR},
            REMARK =  #{remark,jdbcType=VARCHAR},
            TM_CODE =  #{tmCode,jdbcType=VARCHAR},
            TC_CODE =  #{tcCode,jdbcType=VARCHAR},
            NC_CODE =  #{ncCode,jdbcType=VARCHAR},
            TQ_CODE =  #{tqCode,jdbcType=VARCHAR},
            GSQ_CODE =  #{gsqCode,jdbcType=VARCHAR},
            CD15_ONE_CODE =  #{cd15OneCode,jdbcType=VARCHAR},
            CD15_ONE_MONTH_PLAN_QTY =  #{cd15OneMonthPlanQty,jdbcType=DECIMAL},
            CD15_TWO_CODE =  #{cd15TwoCode,jdbcType=VARCHAR},
            CD15_TWO_MONTH_PLAN_QTY =  #{cd15TwoMonthPlanQty,jdbcType=DECIMAL},
            CD90_ONE_CODE =  #{cd90OneCode,jdbcType=VARCHAR},
            CD90_ONE_MONTH_PLAN_QTY =  #{cd90OneMonthPlanQty,jdbcType=DECIMAL},
            CD90_TWO_CODE =  #{cd90TwoCode,jdbcType=VARCHAR},
            CD90_TWO_MONTH_PLAN_QTY =  #{cd90TwoMonthPlanQty,jdbcType=DECIMAL},
            CD90_THREE_CODE =  #{cd90ThreeCode,jdbcType=VARCHAR},
            CD90_THREE_MONTH_PLAN_QTY =  #{cd90ThreeMonthPlanQty,jdbcType=DECIMAL},
            GDYY_CODE =  #{gdyyCode,jdbcType=VARCHAR},
            XWYY_CODE =  #{xwyyCode,jdbcType=VARCHAR}
        where    ID = #{id,jdbcType=DECIMAL}
    </update>

    <delete id="deleteByIds" parameterType="java.lang.Long">
        update T_MDM_MONTH_PLAN_ANALYSIS
        set
        DEL_FLAG =  0
        where  ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="insertBatch">
        insert into T_MDM_MONTH_PLAN_ANALYSIS
        (id,month_plan_aps_version,material_code,
        embryo_code,quality_grade,storage_location,
        special_requirements,actual_arrangement,cx_month_plan_qty,
        tm_code,tm_month_plan_qty,tc_code,
        tc_month_plan_qty,nc_code,nc_month_plan_qty,
        tq_code,tq_month_plan_qty,gsq_code,
        gsq_month_plan_qty,gdcd_month_plan_qty,cd15_one_code,
        cd15_one_month_plan_qty,cd15_two_code,cd15_two_month_plan_qty,
        lbcd_month_plan_qty,cd90_one_code,cd90_one_month_plan_qty,
        cd90_two_code,cd90_two_month_plan_qty,cd90_three_code,
        cd90_three_month_plan_qty,gdyy_code,gdyy_month_plan_qty,
        gdyy_month_plan_num_qty,xwyy_code,xwyy_month_plan_qty,
        xwyy_month_plan_num_qty,remark,del_flag,
        create_by,create_time,update_by,
        update_time,BOM_DATA_VERSION)
        select T_MDM_MONTH_PLAN_ANALYSIS_SEQ.NEXTVAL AS ID, x.*
        from (
        <foreach collection="mdmMonthPlanAnalysisCollection" item="item" separator=" union ">
            select #{item.monthPlanApsVersion,jdbcType=VARCHAR},#{item.materialCode,jdbcType=VARCHAR},
            #{item.embryoCode,jdbcType=VARCHAR},#{item.qualityGrade,jdbcType=VARCHAR},#{item.storageLocation,jdbcType=VARCHAR},
            #{item.specialRequirements,jdbcType=VARCHAR},#{item.actualArrangement,jdbcType=NUMERIC},#{item.cxMonthPlanQty,jdbcType=NUMERIC},
            #{item.tmCode,jdbcType=VARCHAR},#{item.tmMonthPlanQty,jdbcType=NUMERIC},#{item.tcCode,jdbcType=VARCHAR},
            #{item.tcMonthPlanQty,jdbcType=DECIMAL},#{item.ncCode,jdbcType=VARCHAR},#{item.ncMonthPlanQty,jdbcType=DECIMAL},
            #{item.tqCode,jdbcType=VARCHAR},#{item.tqMonthPlanQty,jdbcType=DECIMAL},#{item.gsqCode,jdbcType=VARCHAR},
            #{item.gsqMonthPlanQty,jdbcType=DECIMAL},#{item.gdcdMonthPlanQty,jdbcType=DECIMAL},#{item.cd15OneCode,jdbcType=VARCHAR},
            #{item.cd15OneMonthPlanQty,jdbcType=DECIMAL},#{item.cd15TwoCode,jdbcType=VARCHAR},#{item.cd15TwoMonthPlanQty,jdbcType=DECIMAL},
            #{item.lbcdMonthPlanQty,jdbcType=DECIMAL},#{item.cd90OneCode,jdbcType=VARCHAR},#{item.cd90OneMonthPlanQty,jdbcType=DECIMAL},
            #{item.cd90TwoCode,jdbcType=VARCHAR},#{item.cd90TwoMonthPlanQty,jdbcType=DECIMAL},#{item.cd90ThreeCode,jdbcType=VARCHAR},
            #{item.cd90ThreeMonthPlanQty,jdbcType=DECIMAL},#{item.gdyyCode,jdbcType=VARCHAR},#{item.gdyyMonthPlanQty,jdbcType=DECIMAL},
            #{item.gdyyMonthPlanNumQty,jdbcType=NUMERIC},#{item.xwyyCode,jdbcType=VARCHAR},#{item.xwyyMonthPlanQty,jdbcType=DECIMAL},
            #{item.xwyyMonthPlanNumQty,jdbcType=NUMERIC},#{item.remark,jdbcType=VARCHAR},#{item.delFlag,jdbcType=VARCHAR},
            #{item.createBy,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP},#{item.updateBy,jdbcType=VARCHAR},
            #{item.updateTime,jdbcType=TIMESTAMP},#{item.bomDataVersion,jdbcType=VARCHAR}
            from dual
        </foreach>
        ) x
    </insert>
    <delete id="deleteByMonthPlanApsVersion">
        update T_MDM_MONTH_PLAN_ANALYSIS
        set DEL_FLAG = '1',
            UPDATE_TIME = now()
        where month_plan_aps_version = #{monthPlanApsVersion,jdbcType=VARCHAR}
    </delete>
</mapper>
