<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.common.engine.mapper.TCxPlanProductStatusMapper">

    <resultMap id="BaseResultMap" type="com.zlt.aps.common.engine.domain.TCxPlanProductStatus">
            <id property="id" column="ID" jdbcType="DECIMAL"/>
            <result property="monthPlanApsVersion" column="MONTH_PLAN_APS_VERSION" jdbcType="VARCHAR"/>
            <result property="monthPlanIds" column="MONTH_PLAN_IDS" jdbcType="VARCHAR"/>
            <result property="sapCode" column="SAP_CODE" jdbcType="VARCHAR"/>
            <result property="embryoCode" column="EMBRYO_CODE" jdbcType="VARCHAR"/>
            <result property="monthPlanTotalQty" column="MONTH_PLAN_TOTAL_QTY" jdbcType="DECIMAL"/>
            <result property="beginDate" column="BEGIN_DATE" jdbcType="VARCHAR"/>
            <result property="productStatus" column="PRODUCT_STATUS" jdbcType="CHAR"/>
            <result property="productDetail" column="PRODUCT_DETAIL" jdbcType="VARCHAR"/>
            <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="DEL_FLAG" jdbcType="CHAR"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
            <result property="endDate" column="END_DATE" jdbcType="VARCHAR"/>
            <result property="markUnProduct" column="MARK_UN_PRODUCT" jdbcType="CHAR"/>
            <result property="specDimension" column="SPEC_DIMENSION" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,MONTH_PLAN_APS_VERSION,MONTH_PLAN_IDS,
        SAP_CODE,EMBRYO_CODE,MONTH_PLAN_TOTAL_QTY,
        BEGIN_DATE,PRODUCT_STATUS,PRODUCT_DETAIL,
        CREATE_BY,CREATE_TIME,UPDATE_BY,
        UPDATE_TIME,DEL_FLAG,REMARK,
        END_DATE,MARK_UN_PRODUCT,SPEC_DIMENSION,BOM_DATA_VERSION,SPECIAL_REQUIREMENTS
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from T_CX_PLAN_PRODUCT_STATUS
        where  ID = #{id,jdbcType=DECIMAL} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from T_CX_PLAN_PRODUCT_STATUS
        where  ID = #{id,jdbcType=DECIMAL} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zlt.aps.common.engine.domain.TCxPlanProductStatus" useGeneratedKeys="true">
        insert into T_CX_PLAN_PRODUCT_STATUS
        ( ID,MONTH_PLAN_APS_VERSION,MONTH_PLAN_IDS
        ,SAP_CODE,EMBRYO_CODE,MONTH_PLAN_TOTAL_QTY
        ,BEGIN_DATE,PRODUCT_STATUS,PRODUCT_DETAIL
        ,CREATE_BY,CREATE_TIME,UPDATE_BY
        ,UPDATE_TIME,DEL_FLAG,REMARK
        ,END_DATE,MARK_UN_PRODUCT,SPEC_DIMENSION
        )
        values (SEQ_PUBLIC.NEXTVAL,#{monthPlanApsVersion,jdbcType=VARCHAR},#{monthPlanIds,jdbcType=VARCHAR}
        ,#{sapCode,jdbcType=VARCHAR},#{embryoCode,jdbcType=VARCHAR},#{monthPlanTotalQty,jdbcType=DECIMAL}
        ,#{beginDate,jdbcType=VARCHAR},#{productStatus,jdbcType=CHAR},#{productDetail,jdbcType=VARCHAR}
        ,#{createBy,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR}
        ,#{updateTime,jdbcType=TIMESTAMP},#{delFlag,jdbcType=CHAR},#{remark,jdbcType=VARCHAR}
        ,#{endDate,jdbcType=VARCHAR},#{markUnProduct,jdbcType=CHAR},#{specDimension,jdbcType=DECIMAL}
        ))
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zlt.aps.common.engine.domain.TCxPlanProductStatus" useGeneratedKeys="true">
        insert into T_CX_PLAN_PRODUCT_STATUS
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="monthPlanApsVersion != null">monthPlanApsVersion,</if>
                <if test="monthPlanIds != null">monthPlanIds,</if>
                <if test="sapCode != null">sapCode,</if>
                <if test="embryoCode != null">embryoCode,</if>
                <if test="monthPlanTotalQty != null">monthPlanTotalQty,</if>
                <if test="beginDate != null">beginDate,</if>
                <if test="productStatus != null">productStatus,</if>
                <if test="productDetail != null">productDetail,</if>
                <if test="createBy != null">createBy,</if>
                <if test="createTime != null">createTime,</if>
                <if test="updateBy != null">updateBy,</if>
                <if test="updateTime != null">updateTime,</if>
                <if test="delFlag != null">delFlag,</if>
                <if test="remark != null">remark,</if>
                <if test="endDate != null">endDate,</if>
                <if test="markUnProduct != null">markUnProduct,</if>
                <if test="specDimension != null">specDimension,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">ID = SEQ_PUBLIC.NEXTVAL,</if>
                <if test="monthPlanApsVersion != null">MONTH_PLAN_APS_VERSION = #{monthPlanApsVersion,jdbcType=VARCHAR},</if>
                <if test="monthPlanIds != null">MONTH_PLAN_IDS = #{monthPlanIds,jdbcType=VARCHAR},</if>
                <if test="sapCode != null">SAP_CODE = #{sapCode,jdbcType=VARCHAR},</if>
                <if test="embryoCode != null">EMBRYO_CODE = #{embryoCode,jdbcType=VARCHAR},</if>
                <if test="monthPlanTotalQty != null">MONTH_PLAN_TOTAL_QTY = #{monthPlanTotalQty,jdbcType=DECIMAL},</if>
                <if test="beginDate != null">BEGIN_DATE = #{beginDate,jdbcType=VARCHAR},</if>
                <if test="productStatus != null">PRODUCT_STATUS = #{productStatus,jdbcType=CHAR},</if>
                <if test="productDetail != null">PRODUCT_DETAIL = #{productDetail,jdbcType=VARCHAR},</if>
                <if test="createBy != null">CREATE_BY = #{createBy,jdbcType=VARCHAR},</if>
                <if test="createTime != null">CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateBy != null">UPDATE_BY = #{updateBy,jdbcType=VARCHAR},</if>
                <if test="updateTime != null">UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="delFlag != null">DEL_FLAG = #{delFlag,jdbcType=CHAR},</if>
                <if test="remark != null">REMARK = #{remark,jdbcType=VARCHAR},</if>
                <if test="endDate != null">END_DATE = #{endDate,jdbcType=VARCHAR},</if>
                <if test="markUnProduct != null">MARK_UN_PRODUCT = #{markUnProduct,jdbcType=CHAR},</if>
                <if test="specDimension != null">SPEC_DIMENSION = #{specDimension,jdbcType=DECIMAL},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zlt.aps.common.engine.domain.TCxPlanProductStatus">
        update T_CX_PLAN_PRODUCT_STATUS
        <set>
                <if test="monthPlanApsVersion != null">
                    MONTH_PLAN_APS_VERSION = #{monthPlanApsVersion,jdbcType=VARCHAR},
                </if>
                <if test="monthPlanIds != null">
                    MONTH_PLAN_IDS = #{monthPlanIds,jdbcType=VARCHAR},
                </if>
                <if test="sapCode != null">
                    SAP_CODE = #{sapCode,jdbcType=VARCHAR},
                </if>
                <if test="embryoCode != null">
                    EMBRYO_CODE = #{embryoCode,jdbcType=VARCHAR},
                </if>
                <if test="monthPlanTotalQty != null">
                    MONTH_PLAN_TOTAL_QTY = #{monthPlanTotalQty,jdbcType=DECIMAL},
                </if>
                <if test="beginDate != null">
                    BEGIN_DATE = #{beginDate,jdbcType=VARCHAR},
                </if>
                <if test="productStatus != null">
                    PRODUCT_STATUS = #{productStatus,jdbcType=CHAR},
                </if>
                <if test="productDetail != null">
                    PRODUCT_DETAIL = #{productDetail,jdbcType=VARCHAR},
                </if>
                <if test="createBy != null">
                    CREATE_BY = #{createBy,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateBy != null">
                    UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
                </if>
                <if test="updateTime != null">
                    UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="delFlag != null">
                    DEL_FLAG = #{delFlag,jdbcType=CHAR},
                </if>
                <if test="remark != null">
                    REMARK = #{remark,jdbcType=VARCHAR},
                </if>
                <if test="endDate != null">
                    END_DATE = #{endDate,jdbcType=VARCHAR},
                </if>
                <if test="markUnProduct != null">
                    MARK_UN_PRODUCT = #{markUnProduct,jdbcType=CHAR},
                </if>
                <if test="specDimension != null">
                    SPEC_DIMENSION = #{specDimension,jdbcType=DECIMAL},
                </if>
        </set>
        where   ID = #{id,jdbcType=DECIMAL} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zlt.aps.common.engine.domain.TCxPlanProductStatus">
        update T_CX_PLAN_PRODUCT_STATUS
        set 
            MONTH_PLAN_APS_VERSION =  #{monthPlanApsVersion,jdbcType=VARCHAR},
            MONTH_PLAN_IDS =  #{monthPlanIds,jdbcType=VARCHAR},
            SAP_CODE =  #{sapCode,jdbcType=VARCHAR},
            EMBRYO_CODE =  #{embryoCode,jdbcType=VARCHAR},
            MONTH_PLAN_TOTAL_QTY =  #{monthPlanTotalQty,jdbcType=DECIMAL},
            BEGIN_DATE =  #{beginDate,jdbcType=VARCHAR},
            PRODUCT_STATUS =  #{productStatus,jdbcType=CHAR},
            PRODUCT_DETAIL =  #{productDetail,jdbcType=VARCHAR},
            CREATE_BY =  #{createBy,jdbcType=VARCHAR},
            CREATE_TIME =  #{createTime,jdbcType=TIMESTAMP},
            UPDATE_BY =  #{updateBy,jdbcType=VARCHAR},
            UPDATE_TIME =  #{updateTime,jdbcType=TIMESTAMP},
            DEL_FLAG =  #{delFlag,jdbcType=CHAR},
            REMARK =  #{remark,jdbcType=VARCHAR},
            END_DATE =  #{endDate,jdbcType=VARCHAR},
            MARK_UN_PRODUCT =  #{markUnProduct,jdbcType=CHAR},
            SPEC_DIMENSION =  #{specDimension,jdbcType=DECIMAL}
        where   ID = #{id,jdbcType=DECIMAL} 
    </update>
    <update id="deleteByApsVersion">
        update T_CX_PLAN_PRODUCT_STATUS
         set del_flag = '1'
        where
        month_plan_aps_version = #{monthPlanApsVersion,jdbcType=VARCHAR}
    </update>
    <insert id="insertBatch">
        insert into T_CX_PLAN_PRODUCT_STATUS(id,month_plan_aps_version,month_plan_ids,
        sap_code,embryo_code,spec_dimension,
        month_plan_total_qty,begin_date,end_date,
        product_status,mark_un_product,product_detail,
        remark,del_flag,
        create_by,create_time,update_by,
        update_time,BOM_DATA_VERSION, SPECIAL_REQUIREMENTS)
        select SEQ_PUBLIC.NEXTVAL AS ID, x.*
        from (
        <foreach collection="tCxPlanProductStatusCollection" item="item" separator=" union ">
            select #{item.monthPlanApsVersion,jdbcType=VARCHAR},#{item.monthPlanIds,jdbcType=VARCHAR},
            #{item.sapCode,jdbcType=VARCHAR},#{item.embryoCode,jdbcType=VARCHAR},#{item.specDimension,jdbcType=DECIMAL},
            #{item.monthPlanTotalQty,jdbcType=NUMERIC},#{item.beginDate,jdbcType=VARCHAR},#{item.endDate,jdbcType=VARCHAR},
            #{item.productStatus,jdbcType=VARCHAR},#{item.markUnProduct,jdbcType=VARCHAR},#{item.productDetail,jdbcType=VARCHAR},
            #{item.remark,jdbcType=VARCHAR},#{item.delFlag,jdbcType=VARCHAR},
            #{item.createBy,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP},#{item.updateBy,jdbcType=VARCHAR},
            #{item.updateTime,jdbcType=TIMESTAMP},#{item.bomDataVersion,jdbcType=VARCHAR},#{item.specialRequirements,jdbcType=VARCHAR}
            from dual
        </foreach>
        ) x
    </insert>
    <select id="selectOneByMonthPlanApsVersionAndSapCodeAndEmbryoCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_CX_PLAN_PRODUCT_STATUS
        where
        month_plan_aps_version = #{monthPlanApsVersion,jdbcType=VARCHAR}
        AND sap_code = #{sapCode,jdbcType=VARCHAR}
        AND embryo_code = #{embryoCode,jdbcType=VARCHAR}
        AND del_flag = '0'
    </select>
    <select id="selectAllByMonthPlanApsVersion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_CX_PLAN_PRODUCT_STATUS
        where
        month_plan_aps_version = #{monthPlanApsVersion,jdbcType=VARCHAR}
        AND del_flag = '0'
    </select>

</mapper>
