<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.itf.mes.mapper.DjMesSourceMapper">

    <select id="selectStockList" resultType="com.zlt.aps.dj.api.domain.entity.DjStock">
        SELECT STOCK_DATE,
               MATERIAL_CODE,
               AVAILABLE_STOCK AS STOCK_NUM,
               CAST(0 AS DECIMAL(18, 6)) AS MODIFY_NUM,
               CAST(0 AS DECIMAL(18, 6)) AS BAD_NUM,
               'MES' AS DATA_SOURCE,
               '116' COMPANY_CODE,
               '116' FACTORY_CODE
        FROM MES_DJ_STOCK
    </select>

    <select id="selectShiftFinishQtyList" resultType="com.zlt.aps.dj.api.domain.entity.DjDayFinishQty">
        SELECT ORDER_NO,
               SCHEDULE_DATE,
               LINING_CODE AS PADDING_CODE,
               NIGHT_FINISH_QTY,
               DAY_FINISH_QTY,
               MID_FINISH_QTY,
               FACTORY_CODE
        FROM MES_PAD_DAY_FINISH_QTY
        WHERE DATA_VERSION = #{dataVersion}
        <if test="factoryCode != null and factoryCode != ''">
            AND FACTORY_CODE = #{factoryCode}
        </if>
        <if test="companyCode != null and companyCode != ''">
            AND COMPANY_CODE = #{companyCode}
        </if>
    </select>

    <select id="selectDayFinishQtyList" resultType="com.zlt.aps.dj.api.domain.entity.DjDayFinishTotal">
        SELECT SCHEDULE_DATE,
               LINING_CODE AS PADDING_CODE,
               FINISH_QTY,
               FACTORY_CODE
        FROM MES_PAD_DAY_FINISH_TOTL
        WHERE DATA_VERSION = #{dataVersion}
        <if test="factoryCode != null and factoryCode != ''">
            AND FACTORY_CODE = #{factoryCode}
        </if>
        <if test="companyCode != null and companyCode != ''">
            AND COMPANY_CODE = #{companyCode}
        </if>
    </select>
</mapper>
