<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.itf.mes.mapper.MesBomItfMapper">
	<!-- 查询SKU与施工关系列表 -->
    <select id="selectLhConstructionInfo" resultType="com.zlt.aps.mp.api.domain.entity.MdmSkuConstructionRef">
        SELECT
            MATERIAL_CODE,
            MATERIAL_CODE SPEC_CODE,
            MES_MATERIAL_CODE,
--             EMBRYO_VERSION BOM_VERSION,业务逻辑没用，MES中间表无此字段暂时去除
            EMBRYO_CODE,
            EMBRYO_CODE CONSTRUCTION_CODE,
            TRIAL_STATUS,
            SPEC_DESC,
            EMBRYO_DESC AS MAIN_MATERIAL_DESC,
            EMBRYO_NO,
            EMBRYO_TYPE,
            EMBRYO_RELEASE_DATE,
            TEXT_NO,
            TEXT_TYPE,
            TEXT_RELEASE_DATE,
            LH_NO,
            LH_TYPE,
            LH_RELEASE_DATE,
            IS_ZERO_DEGREE AS IS_ZERO_RACK,
            CURING_TIME,
            CURING_TIME2 HYDRAULIC_PRESSURE_CURING_TIME,
            CURING_TIME CURING_TIME2,
            CURING_TIME2 HYDRAULIC_PRESSURE_CURING_TIME2,
            DEL_FLAG IS_DELETE,
            FACTORY_CODE
        FROM LH_CONSTRUCTION_INFO
        WHERE DEL_FLAG = 0
          AND FACTORY_CODE = #{factoryCode}
          AND DATA_VERSION = #{dataVersion}
    </select>

	<!-- 半部件BOM信息 -->
    <select id="selectMesConstructionInfo" resultType="com.zlt.aps.mp.api.domain.entity.MdmConstructionInfo">
        SELECT
            EMBRYO_VERSION CONSTRUCTION_VERSION,
            EMBRYO_CODE MATERIAL_CODE,
            EMBRYO_CODE MES_MATERIAL_CODE,
            EMBRYO_CODE CONSTRUCTION_CODE,
            EMBRYO_CODE SPEC_CODE, -- 2026-1-23 水根说这个字段用物料号
            EMBRYO_DESC EMBRYO_DESC,
            PATTERN,
            SPEC SPECIFICATIONS,
            FORMING_METHOD MOULD_METHOD,
            DRUM_TYPE BUILDING_DRUM_TYPE,
            RUBBER_PAD PADDING_CODE,
            SIDE_WALL SIDEWALL_CODE,
            WIRE_LOOP BEAD_CODE,
            RUBBER_CORE RUBBER_CORE_CODE,
            BEAD TIRE_RING_CODE,
            INNER_LINER INSIDE_CODE,
            ZERO_DEGREE ZERO_BELT_CODE,
            CLOTH_WRAPPING CLOTH_WRAPPING_CODE,
            CARCROSS TIRE_BODY_CODE,
            FIRST_LAYER BELT_CODE1,
            SECOND_LAYER BELT_CODE2,
            THREE_LAYER BELT_CODE3,
            FOUR_LAYER BELT_CODE4,
            LEFT_REINFORCE_LAYER BELT_CODE_LEFT_CODE,
            RIGHT_REINFORCE BELT_CODE_RIGHT_CODE,
            TYPE_GLUE TYPE_ADHESIVE_CODE,
            DEL_FLAG IS_DELETE,
            FACTORY_CODE,
            TREAD_CODE
        FROM MES_CONSTRUCTION_INFO
        WHERE DEL_FLAG = 0
          AND FACTORY_CODE = #{factoryCode}
          AND DATA_VERSION = #{dataVersion}
    </select>

	<!-- 成型及半部件BOM施工信息同步 -->
    <select id="selectMesBomInfo" resultType="com.zlt.aps.mp.api.domain.entity.MdmBomInfo">
        SELECT
            CHILD_MATERIAL_CODE,
            CHILD_MATERIAL_NAME,
            CHILD_MATERIAL_NAME_CODE,
            CHILD_CODE,
            CHILD_MATERIAL_VERSION,
            UNIT,
            DOSAGE,
            DOSAGE_FORM,
            PARENT_MATERIAL_CODE,
            PARENT_MATERIAL_NAME,
            PARENT_CODE,
            PARENT_VERSION,
            PRODUCTION_STAGE,
            BOM_VERSION,
            REMARK,
            STATUS,
            CREATE_DATE,
            UPDATE_DATE,
            DATA_VERSION,
            COMPANY_CODE,
            FACTORY_CODE
        FROM MES_BOM_INFO
        WHERE FACTORY_CODE = #{factoryCode}
          AND DATA_VERSION = #{dataVersion}
    </select>
</mapper>
