<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.itf.mes.mapper.MesItfMapper">

    <select id="selectSkuMouldRelList" resultType="com.zlt.aps.mp.api.domain.entity.MdmSkuMouldRel">
        SELECT
        FACTORY_CODE,
        MOULD_CODE,
        MATERIAL_CODE,
        MES_MATERIAL_CODE,
        SPEC_DESC AS MATERIAL_DESC,
        PATTERN,
        -- MAIN_PATTERN,
        REMARK,
        DEL_FLAG AS IS_DELETE,
        DATA_VERSION,
        IS_SAME_PATTER_PANEL,
        MOULD_TYPE
        FROM PRODUCT_MOD_RELATION
        WHERE 1 = 1
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="mouldCode != null and mouldCode != ''">AND MOULD_CODE = #{mouldCode}</if>
        <if test="materialCode != null and materialCode != ''">AND MATERIAL_CODE = #{materialCode}</if>
        <if test="mesMaterialCode != null and mesMaterialCode != ''">AND MES_MATERIAL_CODE = #{mesMaterialCode}</if>
        <if test="materialDesc != null and materialDesc != ''">AND SPEC_DESC = #{materialDesc}</if>
        <if test="pattern != null and pattern != ''">AND PATTERN = #{pattern}</if>
        <if test="dataVersion != null and dataVersion != ''">AND DATA_VERSION = #{dataVersion}</if>
        <if test="isSamePatterPanel != null and isSamePatterPanel != ''">AND IS_SAME_PATTER_PANEL =
            #{isSamePatterPanel}
        </if>
        <if test="mouldType != null and mouldType != ''">AND MOULD_TYPE = #{mouldType}</if>
    </select>

    <select id="selectModelInfoList" resultType="com.zlt.aps.mp.api.domain.entity.MdmModelInfo">
        SELECT
        FACTORY_CODE,
        MOULD_CODE,
        MOULD_STATUS,
        LOGISTICS_STATUS,
        SPECIFICATIONS,
        PATTERN,
        MAIN_PATTERN,
        MOULD_SHELL_STANDAR AS SHELL_STANDARD,
        BRAND,
        MOULD_TYPE,
        MAIN_TRADEMARK,
        MOULD_REMARK,
        MOULD_SLEEVE,
        MOULD_AIR_TYPE,
        DEL_FLAG AS IS_DELETE,
        DATA_VERSION
        FROM TIRE_MOD_INFO
        WHERE 1 = 1
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="mouldCode != null and mouldCode != ''">AND MOULD_CODE = #{mouldCode}</if>
        <if test="mouldStatus != null and mouldStatus != ''">AND MOULD_STATUS = #{mouldStatus}</if>
        <if test="logisticsStatus != null and logisticsStatus != ''">AND LOGISTICS_STATUS = #{logisticsStatus}</if>
        <if test="specifications != null and specifications != ''">AND SPECIFICATIONS = #{specifications}</if>
        <if test="pattern != null and pattern != ''">AND PATTERN = #{pattern}</if>
        <if test="brand != null and brand != ''">AND BRAND = #{brand}</if>
        <if test="mouldType != null and mouldType != ''">AND MOULD_TYPE = #{mouldType}</if>
        <if test="mainTrademark != null and mainTrademark != ''">AND MAIN_TRADEMARK = #{mainTrademark}</if>
        <if test="mouldSleeve != null and mouldSleeve != ''">AND MOULD_SLEEVE = #{mouldSleeve}</if>
        <if test="mouldAirType != null and mouldAirType != ''">AND MOULD_AIR_TYPE = #{mouldAirType}</if>
        <if test="dataVersion != null and dataVersion != ''">AND DATA_VERSION = #{dataVersion}</if>
    </select>

    <select id="selectMaterialList" resultType="com.zlt.aps.mp.api.domain.entity.MdmMaterialInfo">
        SELECT MATERIAL_CODE,
        MES_MATERIAL_CODE,
        SPEC_DESC AS MATERIAL_DESC,
        SPECIFICATIONS,
        PRO_SIZE,
        EMBRYO_CODE,
        EMBRYO_DESC,
        PATTERN,
        HIERARCHY,
        SPEED_LEVEL AS SPEED,
        SECTION_WIDTH,
        DATA_VERSION,
        COMPANY_CODE,
        FACTORY_CODE,
        BRAND,
        MES_MATERIAL_CATEGORY,
        MES_MATERIAL_SUBCATEGORY,
        MES_MATERIAL_CATE_NAME,
        MES_MATERIAL_SUBCAT_NAME,
        SINGLE_TIRE_WEIGHT,
        DEL_FLAG AS IS_DELETE
        FROM MES_BAS_MATERIAL
        WHERE 1 = 1
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="dataVersion != null and dataVersion != ''">AND DATA_VERSION = #{dataVersion}</if>
    </select>

    <select id="selectMoldShellList" resultType="com.zlt.aps.mp.api.domain.entity.MdmMouldShellInfo">
        SELECT STOCK_DATE,
        MOLD_SLEEVE AS MOULD_SET_CODE,
        TOTAL_NUM AS TOTAL_QTY,
        MACHINE_NUM AS MACHINE_QTY,
        WAREHOUSE_NUM AS ON_HAND_QTY,
        OUT_NUM AS OUT_BOUND_QTY,
        PLAN_OUT_NUM AS OUT_BOUND_PLAN_QTY,
        DOWN_MACHINE_NUM AS DEPLANE_QTY,
        FORCE_OUT_NUM AS FORCE_OUT_BOUND_QTY,
        DATA_VERSION,
        COMPANY_CODE,
        FACTORY_CODE,
        DEL_FLAG AS IS_DELETE
        FROM MOLD_SHELL_SYNC
        WHERE 1 = 1
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="dataVersion != null and dataVersion != ''">AND DATA_VERSION = #{dataVersion}</if>
    </select>

    <select id="syncRawMaterialOutboundRecord"
            resultType="com.zlt.aps.mp.api.domain.entity.RawMaterialOutboundRecord">
        SELECT STOCK_DATE AS OUTBOUND_DATE,
        MATERIAL_CODE,
        TYPE_CODE AS MATERIAL_TYPE,
        MATERIAL_NAME AS MATERIAL_DESC,
        STOCK_NUM AS OUTBOUND_QTY,
        UNIT,
        DATA_VERSION,
        FACTORY_CODE,
        DEL_FLAG AS IS_DELETE
        FROM ORI_MATERIAL_OUT_SYNC
        WHERE 1 = 1
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="dataVersion != null and dataVersion != ''">AND DATA_VERSION = #{dataVersion}</if>
    </select>

    <select id="selectCxMachineOnlineSyncList" resultType="com.zlt.aps.cx.api.domain.entity.CxMachineOnlineInfo">
        SELECT
        t.ONLINE_DATE,
        t.CX_CODE,
        t.MATERIAL_CODE,
        t.MES_MATERIAL_CODE,
        t.SPEC_DESC,
        t.EMBRYO_SPEC,
        t.DATA_VERSION,
        t.COMPANY_CODE,
        t.FACTORY_CODE
        FROM CX_MACHINE_ONLINE_SYNC t
        INNER JOIN (
            SELECT CX_CODE, MAX(DATA_VERSION) AS MAX_VERSION
            FROM CX_MACHINE_ONLINE_SYNC
            WHERE CONVERT(DATE, ONLINE_DATE) = CONVERT(DATE, GETDATE())
            <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
            <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
            GROUP BY CX_CODE
        ) latest ON t.CX_CODE = latest.CX_CODE AND t.DATA_VERSION = latest.MAX_VERSION
        WHERE CONVERT(DATE, t.ONLINE_DATE) = CONVERT(DATE, GETDATE())
        <if test="factoryCode != null and factoryCode != ''">AND t.FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND t.COMPANY_CODE = #{companyCode}</if>
    </select>

    <select id="selectLhMachineOnlineSyncList" resultType="com.zlt.aps.lh.api.domain.entity.LhMachineOnlineInfo">
        SELECT
        t.ONLINE_DATE,
        t.LH_CODE,
        t.MATERIAL_CODE,
        t.MES_MATERIAL_CODE,
        t.SPEC_DESC,
        t.LR_MOLDS,
        t.IN_MACHINE_MOULD_CODE,
        t.DATA_VERSION,
        t.COMPANY_CODE,
        t.FACTORY_CODE
        FROM LH_MACHINE_ONLINE_SYNC t
        INNER JOIN (
            SELECT LH_CODE, MAX(DATA_VERSION) AS MAX_VERSION
            FROM LH_MACHINE_ONLINE_SYNC
            WHERE CONVERT(DATE, ONLINE_DATE) = CONVERT(DATE, GETDATE())
            <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
            <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
            GROUP BY LH_CODE
        ) latest ON t.LH_CODE = latest.LH_CODE AND t.DATA_VERSION = latest.MAX_VERSION
        WHERE CONVERT(DATE, t.ONLINE_DATE) = CONVERT(DATE, GETDATE())
        <if test="factoryCode != null and factoryCode != ''">AND t.FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND t.COMPANY_CODE = #{companyCode}</if>
    </select>

    <select id="selectDevMaintenancePlanList" resultType="com.zlt.aps.itf.vo.DevMaintenancePlan">
        SELECT
        DEV_CODE,
        PRECISION_TYPE,
        OPER_TIME,
        FIRST_WASH_TIME,
        DEL_FLAG,
        DATA_VERSION,
        COMPANY_CODE,
        FACTORY_CODE
        FROM DEV_MAINTENANCE_PLAN
        WHERE 1 = 1
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
        <if test="dataVersion != null and dataVersion != ''">AND DATA_VERSION = #{dataVersion}</if>
        <if test="precisionType != null and precisionType != ''">AND PRECISION_TYPE = #{precisionType}</if>
    </select>

    <select id="selectLhRepairCapsuleList" resultType="com.zlt.aps.itf.vo.LhRepairCapsuleVo">
        SELECT
        OBTAIN_TIME,
        LH_CODE,
        MATERIAL_CODE,
        REPLACE_CAPSULE_COUNT,
        REPLACE_CAPSULE_COUNT2,
        BRAND
        FROM LH_REPAIR_CAPSULE
        WHERE 1 = 1
    </select>

    <select id="selectMouldCleanPlanList" resultType="com.zlt.aps.itf.vo.MouldCleanPlanVo">
        SELECT
        LH_CODE,
        CONVERT(VARCHAR, DATEADD(HOUR, 8, OPER_TIME), 120) AS OPER_TIME,
        CONVERT(VARCHAR, DATEADD(HOUR, 8, FIRST_WASH_TIME), 120) AS FIRST_WASH_TIME,
        CONVERT(VARCHAR, DATEADD(HOUR, 8, SECOND_WASH_TIME), 120) AS SECOND_WASH_TIME,
        REMARK,
        DEL_FLAG,
        DATA_VERSION,
        COMPANY_CODE,
        FACTORY_CODE
        FROM MOULD_CLEAN_PLAN
        WHERE 1 = 1
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
        <if test="dataVersion != null and dataVersion != ''">AND DATA_VERSION = #{dataVersion}</if>
    </select>

    <select id="selectStructureTreadConfigList" resultType="com.zlt.aps.itf.vo.StructureTreadConfigVo">
        SELECT
        STRUCTURE_CODE,
        TREAD_COUNT,
        DEL_FLAG,
        DATA_VERSION,
        COMPANY_CODE,
        FACTORY_CODE
        FROM STRUCTURE_TREAD_CONFIG
        WHERE 1 = 1
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
        <if test="dataVersion != null and dataVersion != ''">AND DATA_VERSION = #{dataVersion}</if>
    </select>

    <select id="selectMesCxStockList" resultType="com.zlt.aps.cx.api.domain.entity.CxMesStock">
        SELECT
        STOCK_DATE,
        EMBRYO_CODE,
        STOCK_NUM
        FROM MES_CX_STOCK
        WHERE 1 = 1
    </select>

    <select id="selectCxClassShiftFinishQtyList" resultType="com.zlt.aps.cx.api.domain.entity.CxScheFinishQty">
        SELECT
        t.ORDER_NO,
        t.SCHEDULE_DATE,
        t.CX_MACHINE_CODE,
        t.CLASS1_FINISH_QTY,
        t.CLASS2_FINISH_QTY,
        t.CLASS3_FINISH_QTY,
        t.CLASS1_UN_REASON,
        t.CLASS2_UN_REASON,
        t.CLASS3_UN_REASON,
        t.CLASS1_PERSON,
        t.CLASS2_PERSON,
        t.CLASS3_PERSON,
        t.EMBRYO_CODE,
        t.DATA_VERSION,
        t.COMPANY_CODE,
        t.FACTORY_CODE
        FROM MES_CX_CLASS_SHIFT_FINISH_QTY t
        INNER JOIN (
            SELECT SCHEDULE_DATE, CX_MACHINE_CODE, ORDER_NO, MAX(DATA_VERSION) AS MAX_VERSION
            FROM MES_CX_CLASS_SHIFT_FINISH_QTY
            WHERE CONVERT(DATE, SCHEDULE_DATE) = CONVERT(DATE, GETDATE())
            <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
            <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
            GROUP BY SCHEDULE_DATE, CX_MACHINE_CODE, ORDER_NO
        ) latest ON t.SCHEDULE_DATE = latest.SCHEDULE_DATE
            AND t.CX_MACHINE_CODE = latest.CX_MACHINE_CODE
            AND t.ORDER_NO = latest.ORDER_NO
            AND t.DATA_VERSION = latest.MAX_VERSION
        WHERE CONVERT(DATE, t.SCHEDULE_DATE) = CONVERT(DATE, GETDATE())
        <if test="factoryCode != null and factoryCode != ''">AND t.FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND t.COMPANY_CODE = #{companyCode}</if>
    </select>

    <select id="selectLhClassShiftFinishQtyList" resultType="com.zlt.aps.lh.api.domain.entity.LhScheFinishQty">
        SELECT
        t.ORDER_NO,
        t.SCHEDULE_DATE,
        t.LH_MACHINE_CODE,
        t.MATERIAL_CODE,
        t.MES_MATERIAL_CODE,
        t.CLASS1_FINISH_QTY,
        t.CLASS2_FINISH_QTY,
        t.CLASS3_FINISH_QTY,
        t.CLASS1_UN_REASON,
        t.CLASS2_UN_REASON,
        t.CLASS3_UN_REASON,
        t.CLASS1_PERSON,
        t.CLASS2_PERSON,
        t.CLASS3_PERSON,
        <!-- MES未加字段前先注释，MES加字段后取消注释即可 -->
        <!--t.CLASS1_LH_NO,
        t.CLASS1_LH_TYPE,
        t.CLASS2_LH_NO,
        t.CLASS2_LH_TYPE,
        t.CLASS3_LH_NO,
        t.CLASS3_LH_TYPE,-->
        t.DATA_VERSION,
        t.COMPANY_CODE,
        t.FACTORY_CODE
        FROM MES_LH_CLASS_SHIFT_FINISH_QTY t
        INNER JOIN (
            SELECT SCHEDULE_DATE, LH_MACHINE_CODE, ORDER_NO, MAX(DATA_VERSION) AS MAX_VERSION
            FROM MES_LH_CLASS_SHIFT_FINISH_QTY
            WHERE CONVERT(DATE, SCHEDULE_DATE) = CONVERT(DATE, GETDATE())
            <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
            <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
            GROUP BY SCHEDULE_DATE, LH_MACHINE_CODE, ORDER_NO
        ) latest ON t.SCHEDULE_DATE = latest.SCHEDULE_DATE
            AND t.LH_MACHINE_CODE = latest.LH_MACHINE_CODE
            AND t.ORDER_NO = latest.ORDER_NO
            AND t.DATA_VERSION = latest.MAX_VERSION
        WHERE CONVERT(DATE, t.SCHEDULE_DATE) = CONVERT(DATE, GETDATE())
        <if test="factoryCode != null and factoryCode != ''">AND t.FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND t.COMPANY_CODE = #{companyCode}</if>
    </select>

    <!-- 按上一天最新版本号查询硫化排程完成量，用于临时任务 -->
    <select id="selectLhClassShiftFinishQtyByYesterday" resultType="com.zlt.aps.lh.api.domain.entity.LhScheFinishQty">
        SELECT
        t.ORDER_NO,
        t.SCHEDULE_DATE,
        t.LH_MACHINE_CODE,
        t.MATERIAL_CODE,
        t.MES_MATERIAL_CODE,
        t.CLASS1_FINISH_QTY,
        t.CLASS2_FINISH_QTY,
        t.CLASS3_FINISH_QTY,
        t.CLASS1_UN_REASON,
        t.CLASS2_UN_REASON,
        t.CLASS3_UN_REASON,
        t.CLASS1_PERSON,
        t.CLASS2_PERSON,
        t.CLASS3_PERSON,
        <!-- MES未加字段前先注释，MES加字段后取消注释即可 -->
        <!--t.CLASS1_LH_NO,
        t.CLASS1_LH_TYPE,
        t.CLASS2_LH_NO,
        t.CLASS2_LH_TYPE,
        t.CLASS3_LH_NO,
        t.CLASS3_LH_TYPE,-->
        t.DATA_VERSION,
        t.COMPANY_CODE,
        t.FACTORY_CODE
        FROM MES_LH_CLASS_SHIFT_FINISH_QTY t
        INNER JOIN (
            SELECT SCHEDULE_DATE, LH_MACHINE_CODE, ORDER_NO, MAX(DATA_VERSION) AS MAX_VERSION
            FROM MES_LH_CLASS_SHIFT_FINISH_QTY
            WHERE CONVERT(DATE, SCHEDULE_DATE) = CONVERT(DATE, DATEADD(DAY, -1, GETDATE()))
            <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
            <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
            GROUP BY SCHEDULE_DATE, LH_MACHINE_CODE, ORDER_NO
        ) latest ON t.SCHEDULE_DATE = latest.SCHEDULE_DATE
            AND t.LH_MACHINE_CODE = latest.LH_MACHINE_CODE
            AND t.ORDER_NO = latest.ORDER_NO
            AND t.DATA_VERSION = latest.MAX_VERSION
        WHERE CONVERT(DATE, t.SCHEDULE_DATE) = CONVERT(DATE, DATEADD(DAY, -1, GETDATE()))
        <if test="factoryCode != null and factoryCode != ''">AND t.FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND t.COMPANY_CODE = #{companyCode}</if>
    </select>

    <!-- 按指定版本号查询硫化排程完成量（不限日期），用于临时任务 -->
    <select id="selectLhClassShiftFinishQtyByVersion" resultType="com.zlt.aps.lh.api.domain.entity.LhScheFinishQty">
        SELECT
        t.ORDER_NO,
        t.SCHEDULE_DATE,
        t.LH_MACHINE_CODE,
        t.MATERIAL_CODE,
        t.MES_MATERIAL_CODE,
        t.CLASS1_FINISH_QTY,
        t.CLASS2_FINISH_QTY,
        t.CLASS3_FINISH_QTY,
        t.CLASS1_UN_REASON,
        t.CLASS2_UN_REASON,
        t.CLASS3_UN_REASON,
        t.CLASS1_PERSON,
        t.CLASS2_PERSON,
        t.CLASS3_PERSON,
        <!-- MES未加字段前先注释，MES加字段后取消注释即可 -->
        <!--t.CLASS1_LH_NO,
        t.CLASS1_LH_TYPE,
        t.CLASS2_LH_NO,
        t.CLASS2_LH_TYPE,
        t.CLASS3_LH_NO,
        t.CLASS3_LH_TYPE,-->
        t.DATA_VERSION,
        t.COMPANY_CODE,
        t.FACTORY_CODE
        FROM MES_LH_CLASS_SHIFT_FINISH_QTY t
        WHERE t.DATA_VERSION = #{dataVersion}
        <if test="factoryCode != null and factoryCode != ''">AND t.FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND t.COMPANY_CODE = #{companyCode}</if>
    </select>

    <select id="selectCxScheDayFinishQtyList" resultType="com.zlt.aps.cx.api.domain.entity.CxDayFinishQty">
        SELECT
        FINISH_DATE,
        DAY_FINISH_QTY,
        EMBRYO_CODE,
        EXAMPLE_TYPE,
        BOM_DATA_VERSION,
        DATA_VERSION,
        COMPANY_CODE,
        FACTORY_CODE
        FROM MES_CX_DAY_FINISH_QTY
        WHERE 1 = 1
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
        <if test="dataVersion != null and dataVersion != ''">AND DATA_VERSION = #{dataVersion}</if>
    </select>

    <select id="selectLhScheDayFinishQtyList" resultType="com.zlt.aps.lh.api.domain.entity.LhDayFinishQty">
        SELECT
        FINISH_DATE,
        DAY_FINISH_QTY,
        MATERIAL_CODE,
        MES_MATERIAL_CODE,
        <!-- MES未加字段前先注释，MES加字段后取消注释即可 -->
        <!--LH_NO,
        LH_TYPE,-->
        DATA_VERSION,
        COMPANY_CODE,
        FACTORY_CODE
        FROM MES_LH_DAY_FINISH_QTY
        WHERE 1 = 1
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
        <if test="dataVersion != null and dataVersion != ''">AND DATA_VERSION = #{dataVersion}</if>
        <if test="queryParams != null and queryParams.finishDate != null">AND FINISH_DATE = #{queryParams.finishDate}</if>
    </select>

    <select id="selectMoldAlterPlanFinishList" resultType="com.zlt.aps.lh.api.domain.entity.LhMoldAlterPlanFinish">
        SELECT
        LH_BATCH_NO,
        ORDER_NO,
        SCHEDULE_DATE,
        LH_MACHINE_CODE,
        LEFT_RIGHT_MOLD,
        REMARK,
        FINISH_STATUS,
        DATA_VERSION,
        COMPANY_CODE,
        FACTORY_CODE
        FROM MOLD_ALTER_PLAN_FINISH
        WHERE 1 = 1
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
        <if test="dataVersion != null and dataVersion != ''">AND DATA_VERSION = #{dataVersion}</if>
    </select>

    <select id="selectTreadStockList" resultType="com.zlt.aps.mp.api.domain.entity.MdmTreadStock">
        SELECT
        STOCK_DATE,
        MATERIAL_CODE,
        AVAILABLE_STOCK,
        DATA_VERSION,
        COMPANY_CODE,
        FACTORY_CODE
        FROM MES_TM_STOCK
        WHERE 1 = 1
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
        <if test="dataVersion != null and dataVersion != ''">AND DATA_VERSION = #{dataVersion}</if>
    </select>

    <select id="selectLhPrecisionPlanActualList" resultType="com.zlt.aps.itf.vo.DevMaintenancePlan">
        SELECT
        DEV_CODE,
        PRECISION_TYPE,
        OPER_TIME,
        FIRST_WASH_TIME,
        DEL_FLAG,
        DATA_VERSION,
        COMPANY_CODE,
        FACTORY_CODE
        FROM DEV_MAINTENANCE_PLAN
        WHERE FIRST_WASH_TIME IS NOT NULL
        AND PRECISION_TYPE = '硫化精度'
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
        <if test="dataVersion != null and dataVersion != ''">AND DATA_VERSION = #{dataVersion}</if>
    </select>

    <select id="selectMaxDataVersionFromMes" resultType="java.lang.String">
        SELECT MAX(DATA_VERSION)
        FROM DEV_MAINTENANCE_PLAN
        WHERE DATA_VERSION IS NOT NULL
        <if test="precisionType != null and precisionType != ''">AND PRECISION_TYPE = #{precisionType}</if>
    </select>

    <select id="selectMaxDataVersionFromMouldCleanPlan" resultType="java.lang.String">
        SELECT MAX(DATA_VERSION)
        FROM MOULD_CLEAN_PLAN
        WHERE DATA_VERSION IS NOT NULL
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
    </select>

    <!-- 查询MES硫化排程日完成量中间表的最大版本号，用于临时任务 -->
    <select id="selectMaxDataVersionFromLhDayFinishQty" resultType="java.lang.String">
        SELECT MAX(DATA_VERSION)
        FROM MES_LH_DAY_FINISH_QTY
        WHERE DATA_VERSION IS NOT NULL
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
    </select>

    <select id="selectCxMachineOnlineHistorySyncList" resultType="com.zlt.aps.cx.api.domain.entity.CxMachineOnlineInfo">
        SELECT
        t.ONLINE_DATE,
        t.CX_CODE,
        t.MATERIAL_CODE,
        t.MES_MATERIAL_CODE,
        t.SPEC_DESC,
        t.EMBRYO_SPEC,
        t.DATA_VERSION,
        t.COMPANY_CODE,
        t.FACTORY_CODE
        FROM CX_MACHINE_ONLINE_SYNC t
        INNER JOIN (
            SELECT CONVERT(DATE, ONLINE_DATE) AS online_day, CX_CODE, MAX(DATA_VERSION) AS MAX_VERSION
            FROM CX_MACHINE_ONLINE_SYNC
            WHERE CONVERT(DATE, ONLINE_DATE) &lt;= CONVERT(DATE, GETDATE())
            <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
            <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
            GROUP BY CONVERT(DATE, ONLINE_DATE), CX_CODE
        ) latest ON CONVERT(DATE, t.ONLINE_DATE) = latest.online_day AND t.CX_CODE = latest.CX_CODE AND t.DATA_VERSION = latest.MAX_VERSION
        WHERE CONVERT(DATE, t.ONLINE_DATE) &lt;= CONVERT(DATE, GETDATE())
        <if test="factoryCode != null and factoryCode != ''">AND t.FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND t.COMPANY_CODE = #{companyCode}</if>
    </select>

    <select id="selectLhMachineOnlineHistorySyncList" resultType="com.zlt.aps.lh.api.domain.entity.LhMachineOnlineInfo">
        SELECT
        t.ONLINE_DATE,
        t.LH_CODE,
        t.MATERIAL_CODE,
        t.MES_MATERIAL_CODE,
        t.SPEC_DESC,
        t.LR_MOLDS,
        t.IN_MACHINE_MOULD_CODE,
        t.DATA_VERSION,
        t.COMPANY_CODE,
        t.FACTORY_CODE
        FROM LH_MACHINE_ONLINE_SYNC t
        INNER JOIN (
            SELECT CONVERT(DATE, ONLINE_DATE) AS online_day, LH_CODE, MAX(DATA_VERSION) AS MAX_VERSION
            FROM LH_MACHINE_ONLINE_SYNC
            WHERE CONVERT(DATE, ONLINE_DATE) &lt;= CONVERT(DATE, GETDATE())
            <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
            <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
            GROUP BY CONVERT(DATE, ONLINE_DATE), LH_CODE
        ) latest ON CONVERT(DATE, t.ONLINE_DATE) = latest.online_day AND t.LH_CODE = latest.LH_CODE AND t.DATA_VERSION = latest.MAX_VERSION
        WHERE CONVERT(DATE, t.ONLINE_DATE) &lt;= CONVERT(DATE, GETDATE())
        <if test="factoryCode != null and factoryCode != ''">AND t.FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND t.COMPANY_CODE = #{companyCode}</if>
    </select>

    <select id="selectLhRepairCapsuleHistoryList" resultType="com.zlt.aps.itf.vo.LhRepairCapsuleVo">
        SELECT
        CONVERT(VARCHAR, OBTAIN_TIME, 120) AS OBTAIN_TIME,
        LH_CODE,
        MATERIAL_CODE,
        REPLACE_CAPSULE_COUNT,
        REPLACE_CAPSULE_COUNT2,
        BRAND,
        DATA_VERSION,
        COMPANY_CODE,
        FACTORY_CODE
        FROM LH_REPAIR_CAPSULE t
        INNER JOIN (
            SELECT CONVERT(DATE, OBTAIN_TIME) AS obtain_day, LH_CODE, MAX(DATA_VERSION) AS MAX_VERSION
            FROM LH_REPAIR_CAPSULE
            WHERE CONVERT(DATE, OBTAIN_TIME) &lt;= CONVERT(DATE, GETDATE())
            GROUP BY CONVERT(DATE, OBTAIN_TIME), LH_CODE
        ) latest ON CONVERT(DATE, t.OBTAIN_TIME) = latest.obtain_day AND t.LH_CODE = latest.LH_CODE AND t.DATA_VERSION = latest.MAX_VERSION
        WHERE CONVERT(DATE, t.OBTAIN_TIME) &lt;= CONVERT(DATE, GETDATE())
    </select>

    <select id="selectMesCxStockHistoryList" resultType="com.zlt.aps.cx.api.domain.entity.CxMesStock">
        SELECT
        STOCK_DATE,
        EMBRYO_CODE,
        STOCK_NUM
        FROM MES_CX_STOCK
        WHERE CONVERT(DATE, STOCK_DATE) &lt;= CONVERT(DATE, GETDATE())
    </select>

    <select id="selectLhClassShiftFinishQtyHistoryList" resultType="com.zlt.aps.lh.api.domain.entity.LhScheFinishQty">
        SELECT
        t.ORDER_NO,
        t.SCHEDULE_DATE,
        t.LH_MACHINE_CODE,
        t.MATERIAL_CODE,
        t.MES_MATERIAL_CODE,
        t.CLASS1_FINISH_QTY,
        t.CLASS2_FINISH_QTY,
        t.CLASS3_FINISH_QTY,
        t.CLASS1_UN_REASON,
        t.CLASS2_UN_REASON,
        t.CLASS3_UN_REASON,
        t.CLASS1_PERSON,
        t.CLASS2_PERSON,
        t.CLASS3_PERSON,
        t.CLASS1_LH_NO,
        t.CLASS1_LH_TYPE,
        t.CLASS2_LH_NO,
        t.CLASS2_LH_TYPE,
        t.CLASS3_LH_NO,
        t.CLASS3_LH_TYPE,
        t.DATA_VERSION,
        t.COMPANY_CODE,
        t.FACTORY_CODE
        FROM MES_LH_CLASS_SHIFT_FINISH_QTY t
        INNER JOIN (
            SELECT CONVERT(DATE, SCHEDULE_DATE) AS schedule_day, LH_MACHINE_CODE, ORDER_NO, MAX(DATA_VERSION) AS MAX_VERSION
            FROM MES_LH_CLASS_SHIFT_FINISH_QTY
            WHERE CONVERT(DATE, SCHEDULE_DATE) &lt;= CONVERT(DATE, GETDATE())
            <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
            <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
            GROUP BY CONVERT(DATE, SCHEDULE_DATE), LH_MACHINE_CODE, ORDER_NO
        ) latest ON CONVERT(DATE, t.SCHEDULE_DATE) = latest.schedule_day
            AND t.LH_MACHINE_CODE = latest.LH_MACHINE_CODE
            AND t.ORDER_NO = latest.ORDER_NO
            AND t.DATA_VERSION = latest.MAX_VERSION
        WHERE CONVERT(DATE, t.SCHEDULE_DATE) &lt;= CONVERT(DATE, GETDATE())
        <if test="factoryCode != null and factoryCode != ''">AND t.FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND t.COMPANY_CODE = #{companyCode}</if>
    </select>

    <select id="selectLhScheDayFinishQtyHistoryList" resultType="com.zlt.aps.lh.api.domain.entity.LhDayFinishQty">
        SELECT
        t.FINISH_DATE,
        t.DAY_FINISH_QTY,
        t.MATERIAL_CODE,
        t.MES_MATERIAL_CODE,
        t.LH_NO,
        t.LH_TYPE,
        t.DATA_VERSION,
        t.COMPANY_CODE,
        t.FACTORY_CODE
        FROM MES_LH_DAY_FINISH_QTY t
        INNER JOIN (
            SELECT CONVERT(DATE, FINISH_DATE) AS finish_day, FACTORY_CODE, MAX(DATA_VERSION) AS MAX_VERSION
            FROM MES_LH_DAY_FINISH_QTY
            WHERE CONVERT(DATE, FINISH_DATE) &lt;= CONVERT(DATE, GETDATE())
            GROUP BY CONVERT(DATE, FINISH_DATE), FACTORY_CODE
        ) latest ON CONVERT(DATE, t.FINISH_DATE) = latest.finish_day
            AND t.FACTORY_CODE = latest.FACTORY_CODE
            AND t.DATA_VERSION = latest.MAX_VERSION
        WHERE CONVERT(DATE, t.FINISH_DATE) &lt;= CONVERT(DATE, GETDATE())
    </select>

    <select id="selectCxClassShiftFinishQtyHistoryList" resultType="com.zlt.aps.cx.api.domain.entity.CxScheFinishQty">
        SELECT
        t.ORDER_NO,
        t.SCHEDULE_DATE,
        t.CX_MACHINE_CODE,
        t.CLASS1_FINISH_QTY,
        t.CLASS2_FINISH_QTY,
        t.CLASS3_FINISH_QTY,
        t.CLASS1_UN_REASON,
        t.CLASS2_UN_REASON,
        t.CLASS3_UN_REASON,
        t.CLASS1_PERSON,
        t.CLASS2_PERSON,
        t.CLASS3_PERSON,
        t.EMBRYO_CODE,
        t.DATA_VERSION,
        t.COMPANY_CODE,
        t.FACTORY_CODE
        FROM MES_CX_CLASS_SHIFT_FINISH_QTY t
        INNER JOIN (
            SELECT CONVERT(DATE, SCHEDULE_DATE) AS schedule_day, CX_MACHINE_CODE, ORDER_NO, MAX(DATA_VERSION) AS MAX_VERSION
            FROM MES_CX_CLASS_SHIFT_FINISH_QTY
            WHERE CONVERT(DATE, SCHEDULE_DATE) &lt;= CONVERT(DATE, GETDATE())
            <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
            <if test="companyCode != null and companyCode != ''">AND COMPANY_CODE = #{companyCode}</if>
            GROUP BY CONVERT(DATE, SCHEDULE_DATE), CX_MACHINE_CODE, ORDER_NO
        ) latest ON CONVERT(DATE, t.SCHEDULE_DATE) = latest.schedule_day
            AND t.CX_MACHINE_CODE = latest.CX_MACHINE_CODE
            AND t.ORDER_NO = latest.ORDER_NO
            AND t.DATA_VERSION = latest.MAX_VERSION
        WHERE CONVERT(DATE, t.SCHEDULE_DATE) &lt;= CONVERT(DATE, GETDATE())
        <if test="factoryCode != null and factoryCode != ''">AND t.FACTORY_CODE = #{factoryCode}</if>
        <if test="companyCode != null and companyCode != ''">AND t.COMPANY_CODE = #{companyCode}</if>
    </select>

    <select id="selectCxScheDayFinishQtyHistoryList" resultType="com.zlt.aps.cx.api.domain.entity.CxDayFinishQty">
        SELECT
        t.FINISH_DATE,
        t.DAY_FINISH_QTY,
        t.EMBRYO_CODE,
        t.EXAMPLE_TYPE,
        t.BOM_DATA_VERSION,
        t.DATA_VERSION,
        t.COMPANY_CODE,
        t.FACTORY_CODE
        FROM MES_CX_DAY_FINISH_QTY t
        INNER JOIN (
            SELECT CONVERT(DATE, FINISH_DATE) AS finish_day, FACTORY_CODE, EMBRYO_CODE, BOM_DATA_VERSION, MAX(DATA_VERSION) AS MAX_VERSION
            FROM MES_CX_DAY_FINISH_QTY
            WHERE CONVERT(DATE, FINISH_DATE) &lt;= CONVERT(DATE, GETDATE())
            GROUP BY CONVERT(DATE, FINISH_DATE), FACTORY_CODE, EMBRYO_CODE, BOM_DATA_VERSION
        ) latest ON CONVERT(DATE, t.FINISH_DATE) = latest.finish_day
            AND t.FACTORY_CODE = latest.FACTORY_CODE
            AND t.EMBRYO_CODE = latest.EMBRYO_CODE
            AND t.BOM_DATA_VERSION = latest.BOM_DATA_VERSION
            AND t.DATA_VERSION = latest.MAX_VERSION
        WHERE CONVERT(DATE, t.FINISH_DATE) &lt;= CONVERT(DATE, GETDATE())
    </select>

    <select id="selectAllDataVersionsFromMouldCleanPlan" resultType="java.lang.String">
        SELECT DISTINCT DATA_VERSION
        FROM MOULD_CLEAN_PLAN
        WHERE DATA_VERSION IS NOT NULL
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        ORDER BY DATA_VERSION ASC
    </select>
</mapper>
