<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.itf.mes.mapper.MesViewMapper">
    <select id="selectProductStock" resultType="com.zlt.aps.mp.api.domain.entity.MdmProductStock">
        SELECT CONVERT(DATE, STOCK_DATE, 23) AS STOCK_DATE,
        MATERIAL_CODE,
        MES_MATERIAL_CODE,
        STOCK_NUM AS STOCK_QTY,
        WEEK_YEAR,
        -- IS_UNIFORMITY,
        -- IS_DYNAMIC_BALANCE,
        -- CONVERT(DATE, STOCK_END_TIME, 23) AS STOCK_END_TIME,
        -- DATA_VERSION,
        -- COMPANY_CODE,
        -- INBOUND_QTY,
        -- OUTBOUND_QTY,
        '116' AS FACTORY_CODE
        FROM mes_product_stock
        WHERE 1 = 1
        <if test="stockDate != null">AND STOCK_DATE = #{stockDate}</if>
        <if test="materialCode != null and materialCode != ''">AND MATERIAL_CODE = #{materialCode}</if>
        <if test="params != null">
            <if test="params.materialCodeList != null and params.materialCodeList.size() > 0">
                AND MATERIAL_CODE IN
                <foreach item="item" collection="params.materialCodeList" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </if>
    </select>

    <select id="selectUnqualifiedStock" resultType="com.zlt.aps.mp.api.domain.entity.MdmUnqualifiedStock">
        SELECT CONVERT(DATE, STOCK_DATE, 23) AS STOCK_DATE,
        MATERIAL_CODE,
        MES_MATERIAL_CODE,
        STOCK_NUM AS STOCK_QTY,
        -- DATA_VERSION,
        -- COMPANY_CODE,
        '116' AS FACTORY_CODE
        FROM mes_unqualified_stock
        WHERE 1 = 1
        <if test="stockDate != null">AND STOCK_DATE = #{stockDate}</if>
        <if test="materialCode != null and materialCode != ''">AND MATERIAL_CODE = #{materialCode}</if>
    </select>

    <select id="selectRawSpecialMaterialStock"
            resultType="com.zlt.aps.mp.api.domain.entity.RawSpecialMaterialStock">
        SELECT CONVERT(DATE, STOCK_DATE, 23) AS STOCK_DATE,
        SPEC_MATERIAL_CODE AS MATERIAL_CODE,
        CONVERT(INT, STANDARD_CODE) AS STANDARD_LENGTH,
        STOCK_NUM AS STOCK,
        MATERIAL_NAME AS MATERIAL_NAME,
        UNIT AS UNIT,
        -- DATA_VERSION,
        -- COMPANY_CODE,
        '116' AS FACTORY_CODE
        FROM SPEC_STOCK_SYNC
        WHERE 1 = 1
        <if test="stockDate != null">AND STOCK_DATE = #{stockDate}</if>
        <if test="materialCode != null and materialCode != ''">AND MATERIAL_CODE = #{materialCode}</if>
    </select>

    <select id="selectMesBrandDict" resultType="com.zlt.aps.itf.vo.MesBrandDict">
        SELECT OBJID,
               RECORD_TIME,
               DELETE_FLAG,
               BRAND_CODE,
               BRAND_NAME,
               BRAND_SHORT_NAME,
               OTHER_NAME,
               SEQ_INDEX,
               REMARK
        FROM CBM_BRAND
    </select>
</mapper>
