<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.itf.mes.mapper.MoldAlterPlanIssueMapper">

    <insert id="insertMoldAlterPlanList">
        INSERT INTO MOLD_ALTER_PLAN (
            LH_BATCH_NO,
            ORDER_NO,
            SCHEDULE_DATE,
            CLASS_INDEX,
            LH_MACHINE_CODE,
            PLAN_INDEX,
            LEFT_RIGHT_MOLD,
            MATERIAL_CODE,
            MES_MATERIAL_CODE,
            SPEC_DESC,
            PLAN_MATERIAL_CODE,
            MES_PLAN_MATERIAL_CODE,
            PLAN_SPEC_DESC,
            CHANGE_MOLD_TYPE,
            MOLD_NO,
            REMARK,
            FINISH_STATUS,
            DATA_VERSION,
            COMPANY_CODE,
            FACTORY_CODE
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.lhBatchNo},
                #{item.orderNo},
                #{item.scheduleDate},
                #{item.classIndex},
                #{item.lhMachineCode},
                #{item.planIndex},
                #{item.leftRightMold},
                #{item.materialCode},
                #{item.mesMaterialCode},
                #{item.specDesc},
                #{item.planMaterialCode},
                #{item.mesPlanMaterialCode},
                #{item.planSpecDesc},
                #{item.changeMoldType},
                #{item.moldNo},
                #{item.remark},
                #{item.finishStatus},
                #{item.dataVersion},
                #{item.companyCode},
                #{item.factoryCode}
            )
        </foreach>
    </insert>

</mapper>
