<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd15.mapper.Cd15MachineRollMappingMapper">

    <!-- 通用查询映射结果 -->
    <select id="listMachineRollMapping" parameterType="com.zlt.aps.cd15.api.domain.dto.Cd15MachineRollMappingDto"
            resultType="com.zlt.aps.cd15.api.domain.dto.Cd15MachineRollMappingDto">
        select * from (
        select sm.*,m.machine_code, m.machine_name
        from T_CD15_MACHINE_ROLL_MAPPING sm
        left join T_CD15_MACHINE_INFO m on sm.machine_id = m.id
        where sm.DEL_FLAG = 0 and m.DEL_FLAG = 0
        <if test="bigRollCode != null and bigRollCode != ''">
            and INSTR(BIG_ROLL_CODE, #{bigRollCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="machineId != null and machineId != ''">
            and MACHINE_ID = #{machineId}
        </if>
        <if test="orderStr == null">
            order by sm.CREATE_TIME desc
        </if>
        ) t

        <if test="orderStr != null">
            order by ${orderStr}
        </if>

    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO T_CD15_MACHINE_ROLL_MAPPING (
        BIG_ROLL_CODE, MACHINE_ID, create_by, create_time,
        update_by, update_time, remark, del_flag
        ) VALUES
        <foreach collection="list" item="Mapping" separator=",">
            (
            #{Mapping.bigRollCode,jdbcType=VARCHAR},
            #{Mapping.machineId,jdbcType=DOUBLE},
            #{Mapping.createBy,jdbcType=VARCHAR},
            NOW(),
            #{Mapping.updateBy,jdbcType=VARCHAR},
            NOW(),
            #{Mapping.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>

    <update id="deleteAll">
        update T_CD15_MACHINE_ROLL_MAPPING set del_flag = null where del_flag = '0'
    </update>
</mapper>
