<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd15.mapper.Cd15BigRollMapper">

    <select id="listBigRoll" parameterType="com.zlt.aps.cd15.api.domain.dto.Cd15BigRollDto"
            resultType="com.zlt.aps.cd15.api.domain.dto.Cd15BigRollDto">
        select *
        from T_CD15_BIG_ROLL
        where DEL_FLAG = 0
        <if test="bigRollCode != null and bigRollCode != ''">
            and INSTR(BIG_ROLL_CODE, #{bigRollCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="orderStr == null">
            order by CREATE_TIME desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>

    </select>

    <update id="mergeSql" parameterType="list">
        merge into T_CD15_BIG_ROLL a USING (
        <foreach collection="list" item="BigRoll" separator=" union ">
            select
            #{BigRoll.bigRollCode,jdbcType=VARCHAR} BIG_ROLL_CODE,
            #{BigRoll.clothLength,jdbcType=DOUBLE} CLOTH_LENGTH,
            #{BigRoll.convertProduceNum,jdbcType=DOUBLE} CONVERT_PRODUCE_NUM,
            #{BigRoll.actClothLength,jdbcType=DOUBLE} ACT_CLOTH_LENGTH,
            #{BigRoll.createBy,jdbcType=VARCHAR} create_by,
            #{BigRoll.createTime,jdbcType=DATE} create_time,
            #{BigRoll.updateBy,jdbcType=VARCHAR} update_by,
            #{BigRoll.updateTime,jdbcType=DATE} update_time,
            #{BigRoll.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.BIG_ROLL_CODE = b.BIG_ROLL_CODE
        AND a.del_flag = '0'
        )
        WHEN MATCHED THEN
        UPDATE SET
        a.CLOTH_LENGTH = b.CLOTH_LENGTH,
        a.CONVERT_PRODUCE_NUM = b.CONVERT_PRODUCE_NUM,
        a.ACT_CLOTH_LENGTH = b.ACT_CLOTH_LENGTH,
        a.update_by = b.create_by,
        a.update_time = sysdate,
        a.remark = b.remark
        WHEN NOT MATCHED THEN
        INSERT (
        a.id ,
        a.BIG_ROLL_CODE ,
        a.CLOTH_LENGTH ,
        a.CONVERT_PRODUCE_NUM ,
        a.ACT_CLOTH_LENGTH ,
        a.create_by ,
        a.create_time ,
        a.remark, a.del_flag
        ) values
        (SEQ_PUBLIC.NEXTVAL,
        b.BIG_ROLL_CODE ,
        b.CLOTH_LENGTH ,
        b.CONVERT_PRODUCE_NUM ,
        b.ACT_CLOTH_LENGTH ,
        b.create_by,
        sysdate,
        b.remark, '0'
        )
    </update>
</mapper>
