<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd15.mapper.Cd15StockMapper">

    <resultMap type="com.zlt.aps.cd15.api.domain.entity.Cd15Stock" id="StockResult">
        <result property="id" column="id"/>
        <result property="stockDate" column="stock_date"/>
        <result property="materialCode" column="material_code"/>
        <result property="stockNum" column="stock_num"/>
        <result property="modifyNum" column="modify_num"/>
        <result property="badNum" column="bad_num"/>
        <result property="rollStockNum" column="roll_stock_num"/>
        <result property="rollModifyNum" column="roll_modify_num"/>
        <result property="rollBadNum" column="roll_bad_num"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectStockVo">
        select id, stock_date, material_code, stock_num, modify_num, bad_num, roll_stock_num, roll_modify_num, roll_bad_num, remark, del_flag, create_by, create_time, update_by, update_time from t_cd15_stock
    </sql>

    <select id="selectStockList" parameterType="com.zlt.aps.cd15.api.domain.entity.Cd15Stock" resultMap="StockResult">
        <include refid="selectStockVo"/>
        where del_flag='0'
        <if test="startTime != null and startTime !='' ">
            and stock_date  <![CDATA[  >=  ]]> STR_TO_DATE(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime !='' ">
            and stock_date  <![CDATA[   <=  ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="materialCode != null  and materialCode != ''">
            and INSTR(material_code, #{materialCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="orderStr == null">
            order by stock_date desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="checkStockListUnic" parameterType="com.zlt.aps.cd15.api.domain.entity.Cd15Stock"
            resultMap="StockResult">
        <include refid="selectStockVo"/>
        where del_flag='0'
        <if test="id != null and id !='' ">
            and id != #{id}
        </if>
        <if test="stockDate != null ">
            and stock_date =#{stockDate}
        </if>
        <if test="materialCode != null  and materialCode != ''">
            and material_code = #{materialCode}
        </if>
    </select>


    <select id="selectStockById" parameterType="Long" resultMap="StockResult">
        <include refid="selectStockVo"/>
        where id = #{id}
    </select>

    <insert id="insertStock" parameterType="com.zlt.aps.cd15.api.domain.entity.Cd15Stock">
        insert into t_cd15_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="stockDate != null">stock_date,</if>
            <if test="materialCode != null">material_code,</if>
            <if test="stockNum != null">stock_num,</if>
            <if test="modifyNum != null">modify_num,</if>
            <if test="badNum != null">bad_num,</if>
            <if test="rollStockNum != null">roll_stock_num,</if>
            <if test="rollModifyNum != null">roll_modify_num,</if>
            <if test="rollBadNum != null">roll_bad_num,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="stockDate != null">#{stockDate},</if>
            <if test="materialCode != null">#{materialCode},</if>
            <if test="stockNum != null">#{stockNum},</if>
            <if test="modifyNum != null">#{modifyNum},</if>
            <if test="badNum != null">#{badNum},</if>
            <if test="rollStockNum != null">#{rollStockNum},</if>
            <if test="rollModifyNum != null">#{rollModifyNum},</if>
            <if test="rollBadNum != null">#{rollBadNum},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateStock" parameterType="com.zlt.aps.cd15.api.domain.entity.Cd15Stock">
        update t_cd15_stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="stockDate != null">stock_date = #{stockDate},</if>
            <if test="materialCode != null">material_code = #{materialCode},</if>
            <if test="stockNum != null">stock_num = #{stockNum},</if>
            modify_num = #{modifyNum,jdbcType=DECIMAL},
            bad_num = #{badNum,jdbcType=DECIMAL},
            <if test="rollStockNum != null">roll_stock_num = #{rollStockNum},</if>
            roll_modify_num = #{rollModifyNum,jdbcType=DECIMAL},
            roll_bad_num = #{rollBadNum,jdbcType=DECIMAL},
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockByIds" parameterType="String">
        update t_cd15_stock set del_flag = null where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO t_cd15_stock (
        stock_date, material_code, stock_num, modify_num, bad_num, roll_stock_num, roll_modify_num, roll_bad_num,
        create_by, create_time, update_by, update_time, remark, del_flag
        )values
        <foreach collection="list" item="STOCK" separator=" , ">
        (
            #{STOCK.stockDate,jdbcType=DATE},
            #{STOCK.materialCode,jdbcType=VARCHAR},
            #{STOCK.stockNum,jdbcType=DOUBLE},
            #{STOCK.modifyNum,jdbcType=DOUBLE},
            #{STOCK.badNum,jdbcType=DOUBLE},
            #{STOCK.rollStockNum,jdbcType=DOUBLE},
            #{STOCK.rollModifyNum,jdbcType=DOUBLE},
            #{STOCK.rollBadNum,jdbcType=DOUBLE},
            #{STOCK.createBy,jdbcType=VARCHAR},
            NOW(),
            #{STOCK.updateBy,jdbcType=VARCHAR},
            NOW(),
            #{STOCK.remark,jdbcType=VARCHAR},
            '0'
        )
        </foreach>
        ON DUPLICATE KEY UPDATE
        stock_num = VALUES(stock_num),
        modify_num = VALUES(modify_num),
        bad_num = VALUES(bad_num),
        roll_stock_num = VALUES(roll_stock_num),
        roll_modify_num = VALUES(roll_modify_num),
        roll_bad_num = VALUES(roll_bad_num),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>
</mapper>