<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd15.mapper.Cd15ScheduleAssistMapper">

    <resultMap type="com.zlt.aps.cd15.api.domain.entity.Cd15ScheduleAssist" id="Cd15ScheduleAssistResult">
        <result property="id" column="id"/>
        <result property="scheduleDate" column="schedule_date"/>
        <result property="cxBatchNo" column="cx_batch_no"/>
        <result property="batchNo" column="batch_no"/>
        <result property="orderNo" column="order_no"/>
        <result property="bigRollCode" column="big_roll_code"/>
        <result property="machineId" column="machine_id"/>
        <result property="steelStripCode1" column="steel_strip_code1"/>
        <result property="steelStripCode2" column="steel_strip_code2"/>
        <result property="unitConsume1" column="unit_consume1"/>
        <result property="stock1Qty1" column="stock1_qty1"/>
        <result property="stock1Qty2" column="stock1_qty2"/>
        <result property="supplyTime1" column="supply_time1"/>
        <result property="dayPlanQty1" column="day_plan_qty1"/>
        <result property="dayFinishQty1" column="day_finish_qty1"/>
        <result property="dayProduceOrder1" column="day_produce_order1"/>
        <result property="dayFinishRate1" column="day_finish_rate1"/>
        <result property="daySysAnalysis1" column="day_sys_analysis1"/>
        <result property="dayHandAnalysis1" column="day_hand_analysis1"/>
        <result property="nightPlanQty1" column="night_plan_qty1"/>
        <result property="nightFinishQty1" column="night_finish_qty1"/>
        <result property="nightProduceOrder1" column="night_produce_order1"/>
        <result property="nightFinishRate1" column="night_finish_rate1"/>
        <result property="nightSysAnalysis1" column="night_sys_analysis1"/>
        <result property="nightHandAnalysis1" column="night_hand_analysis1"/>
        <result property="cxClass1Plan" column="cx_class1_plan"/>
        <result property="cxClass2Plan" column="cx_class2_plan"/>
        <result property="cxClass3Plan" column="cx_class3_plan"/>
        <result property="cxClass4Plan" column="cx_class4_plan"/>
        <result property="cxClass5Plan" column="cx_class5_plan"/>
        <result property="isRelease" column="is_release"/>
        <result property="markCloseOutTip" column="mark_close_out_tip"/>
        <result property="productionStatus" column="production_status"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="cuttingAngle" column="CUTTING_ANGLE"/>
        <result property="dataSource" column="data_source"/>
    </resultMap>

    <sql id="selectCd15ScheduleAssistVo">
        select id, schedule_date, cx_batch_no, batch_no, order_no, big_roll_code, machine_id, steel_strip_code1, steel_strip_code2, unit_consume1, stock1_qty1, stock1_qty2, cutting_angle, supply_time1, day_plan_qty1, day_finish_qty1, day_produce_order1, day_finish_rate1, day_sys_analysis1, day_hand_analysis1, night_plan_qty1, night_finish_qty1, night_produce_order1, night_finish_rate1, night_sys_analysis1, night_hand_analysis1, cx_class1_plan, cx_class2_plan, cx_class3_plan, cx_class4_plan, cx_class5_plan, is_release, mark_close_out_tip, production_status, data_source, remark, del_flag, create_by, create_time, update_by, update_time from t_cd15_assist_schedule
    </sql>

    <sql id="column">
        a.id, a.schedule_date, a.cx_batch_no, a.batch_no, a.order_no, a.big_roll_code, a.machine_id, a.steel_strip_code1, a.steel_strip_code2, a.unit_consume1, a.stock1_qty1, a.stock1_qty2, a.supply_time1, a.day_plan_qty1, a.day_produce_order1, a.day_sys_analysis1, a.day_hand_analysis1, a.night_plan_qty1, a.night_produce_order1, a.night_sys_analysis1, a.night_hand_analysis1, a.cx_class1_plan, a.cx_class2_plan, a.cx_class3_plan, a.cx_class4_plan, a.cx_class5_plan, a.is_release, a.mark_close_out_tip, a.production_status, a.remark, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time,a.CUTTING_ANGLE,a.data_source,
    </sql>

    <select id="selectCd15ScheduleAssistList" parameterType="com.zlt.aps.cd15.api.domain.entity.Cd15ScheduleAssist"
            resultType="com.zlt.aps.cd15.api.domain.entity.Cd15ScheduleAssist">
        select * from (
            select
                <include refid="column"/>
                (NVL(day_plan_qty1, 0) + NVL(night_plan_qty1, 0)) as daily_total_qty,
                b.MONTH_PLAN_QTY as month_plan,
                CEIL(b.MONTH_REMAIN_QTY) as month_plan_os
            from t_cd15_assist_schedule a
            LEFT JOIN (
                SELECT MATERIAL_CODE,MONTH_PLAN_QTY,MONTH_REMAIN_QTY
                FROM T_CD15_MONTH_PLAN_SURPLUS
                WHERE del_flag='0'
                and YEAR=#{year,jdbcType=VARCHAR}
                and MONTH=#{month,jdbcType=VARCHAR}
            ) b on a.steel_strip_code1=b.MATERIAL_CODE
            where a.del_flag='0'
            <if test="scheduleDate != null ">and a.schedule_date = #{scheduleDate,jdbcType=DATE}</if>
            <if test="bigRollCode != null  and bigRollCode != ''">
                and INSTR(a.big_roll_code, #{bigRollCode,jdbcType=VARCHAR}) > 0
            </if>
            <if test="machineId != null  and machineId != ''">and instr(','||a.machine_id||',', ','||#{machineId}||',')>0</if>
            <if test="steelStripCode1 != null  and steelStripCode1 != ''">
                and INSTR(a.steel_strip_code1, #{steelStripCode1,jdbcType=VARCHAR}) > 0
            </if>
            <if test="steelStripCode2 != null  and steelStripCode2 != ''">
                and INSTR(a.steel_strip_code2, #{steelStripCode2,jdbcType=VARCHAR}) > 0
            </if>
            <if test="isRelease != null  and isRelease != ''">and a.IS_RELEASE = #{isRelease ,jdbcType=VARCHAR}</if>
            order by (case when instr(machine_id,',') > 0 then machine_id when machine_id is null or machine_id = '' then '0' else '-1' end) desc/*多个机台 和 没有机台的排在前面*/,
            a.big_roll_code,a.CUTTING_ANGLE asc
        ) t
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>
</mapper>