<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd15.mapper.Cd15ScheduleResultMapper">

    <!-- 斜裁排程结果映射 -->
    <resultMap id="BaseResultMap" type="com.zlt.aps.cd15.api.domain.entity.Cd15ScheduleResult">
        <id column="ID" property="id"/>
        <result column="FACTORY_CODE" property="factoryCode"/>
        <result column="SCHEDULE_DATE" property="scheduleDate"/>
        <result column="CD15_BATCH_NO" property="cd15BatchNo"/>
        <result column="CX_BATCH_NO" property="cxBatchNo"/>
        <result column="ORDER_NO" property="orderNo"/>
        <result column="GROUP_NO" property="groupNo"/>
        <result column="RELEASE_STATUS" property="releaseStatus"/>
        <result column="PRODUCTION_STATUS" property="productionStatus"/>
        <result column="BIG_ROLL_CODE" property="bigRollCode"/>
        <result column="CUTTING_ANGLE" property="cuttingAngle"/>
        <result column="MACHINE_CODE" property="machineCode"/>
        <result column="MACHINE_NAME" property="machineName"/>
        <result column="STORAGE_LANE_CODE" property="storageLaneCode"/>
        <result column="STEEL_STRIP_CODE" property="steelStripCode"/>
        <result column="STOCK_QTY" property="stockQty"/>
        <result column="MONTH_SURPLUS_QTY" property="monthSurplusQty"/>
        <result column="CUT_MODE" property="cutMode"/>
        <result column="SOURCE_TYPE" property="sourceType"/>
        <result column="IS_LOCKED" property="isLocked"/>
        <result column="CLASS1_SCHEDULE_DATE" property="class1ScheduleDate"/>
        <result column="CLASS1_CX_PLAN_QTY" property="class1CxPlanQty"/>
        <result column="CLASS1_PLAN_QTY" property="class1PlanQty"/>
        <result column="CLASS1_FINISH_QTY" property="class1FinishQty"/>
        <result column="CLASS1_PRODUCE_ORDER" property="class1ProduceOrder"/>
        <result column="CLASS1_FINISH_RATE" property="class1FinishRate"/>
        <result column="CLASS1_ANALYSIS" property="class1Analysis"/>
        <result column="CLASS1_ANALYSIS_INPUT" property="class1AnalysisInput"/>
        <result column="CLASS2_SCHEDULE_DATE" property="class2ScheduleDate"/>
        <result column="CLASS2_CX_PLAN_QTY" property="class2CxPlanQty"/>
        <result column="CLASS2_PLAN_QTY" property="class2PlanQty"/>
        <result column="CLASS2_FINISH_QTY" property="class2FinishQty"/>
        <result column="CLASS2_PRODUCE_ORDER" property="class2ProduceOrder"/>
        <result column="CLASS2_FINISH_RATE" property="class2FinishRate"/>
        <result column="CLASS2_ANALYSIS" property="class2Analysis"/>
        <result column="CLASS2_ANALYSIS_INPUT" property="class2AnalysisInput"/>
        <result column="CLASS3_SCHEDULE_DATE" property="class3ScheduleDate"/>
        <result column="CLASS3_CX_PLAN_QTY" property="class3CxPlanQty"/>
        <result column="CLASS3_PLAN_QTY" property="class3PlanQty"/>
        <result column="CLASS3_FINISH_QTY" property="class3FinishQty"/>
        <result column="CLASS3_PRODUCE_ORDER" property="class3ProduceOrder"/>
        <result column="CLASS3_FINISH_RATE" property="class3FinishRate"/>
        <result column="CLASS3_ANALYSIS" property="class3Analysis"/>
        <result column="CLASS3_ANALYSIS_INPUT" property="class3AnalysisInput"/>
        <result column="CLASS4_SCHEDULE_DATE" property="class4ScheduleDate"/>
        <result column="CLASS4_CX_PLAN_QTY" property="class4CxPlanQty"/>
        <result column="CLASS4_PLAN_QTY" property="class4PlanQty"/>
        <result column="CLASS4_FINISH_QTY" property="class4FinishQty"/>
        <result column="CLASS4_PRODUCE_ORDER" property="class4ProduceOrder"/>
        <result column="CLASS4_FINISH_RATE" property="class4FinishRate"/>
        <result column="CLASS4_ANALYSIS" property="class4Analysis"/>
        <result column="CLASS4_ANALYSIS_INPUT" property="class4AnalysisInput"/>
        <result column="CLASS5_SCHEDULE_DATE" property="class5ScheduleDate"/>
        <result column="CLASS5_CX_PLAN_QTY" property="class5CxPlanQty"/>
        <result column="CLASS5_PLAN_QTY" property="class5PlanQty"/>
        <result column="CLASS5_FINISH_QTY" property="class5FinishQty"/>
        <result column="CLASS5_PRODUCE_ORDER" property="class5ProduceOrder"/>
        <result column="CLASS5_FINISH_RATE" property="class5FinishRate"/>
        <result column="CLASS5_ANALYSIS" property="class5Analysis"/>
        <result column="CLASS5_ANALYSIS_INPUT" property="class5AnalysisInput"/>
        <result column="CLASS6_SCHEDULE_DATE" property="class6ScheduleDate"/>
        <result column="CLASS6_CX_PLAN_QTY" property="class6CxPlanQty"/>
        <result column="CLASS6_PLAN_QTY" property="class6PlanQty"/>
        <result column="CLASS6_FINISH_QTY" property="class6FinishQty"/>
        <result column="CLASS6_PRODUCE_ORDER" property="class6ProduceOrder"/>
        <result column="CLASS6_FINISH_RATE" property="class6FinishRate"/>
        <result column="CLASS6_ANALYSIS" property="class6Analysis"/>
        <result column="CLASS6_ANALYSIS_INPUT" property="class6AnalysisInput"/>
        <result column="CLASS7_SCHEDULE_DATE" property="class7ScheduleDate"/>
        <result column="CLASS7_CX_PLAN_QTY" property="class7CxPlanQty"/>
        <result column="CLASS7_PLAN_QTY" property="class7PlanQty"/>
        <result column="CLASS7_FINISH_QTY" property="class7FinishQty"/>
        <result column="CLASS7_PRODUCE_ORDER" property="class7ProduceOrder"/>
        <result column="CLASS7_FINISH_RATE" property="class7FinishRate"/>
        <result column="CLASS7_ANALYSIS" property="class7Analysis"/>
        <result column="CLASS7_ANALYSIS_INPUT" property="class7AnalysisInput"/>
        <result column="CLASS8_SCHEDULE_DATE" property="class8ScheduleDate"/>
        <result column="CLASS8_CX_PLAN_QTY" property="class8CxPlanQty"/>
        <result column="CLASS8_PLAN_QTY" property="class8PlanQty"/>
        <result column="CLASS8_FINISH_QTY" property="class8FinishQty"/>
        <result column="CLASS8_PRODUCE_ORDER" property="class8ProduceOrder"/>
        <result column="CLASS8_FINISH_RATE" property="class8FinishRate"/>
        <result column="CLASS8_ANALYSIS" property="class8Analysis"/>
        <result column="CLASS8_ANALYSIS_INPUT" property="class8AnalysisInput"/>
        <result column="IS_DELETE" property="isDelete"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="REMARK" property="remark"/>
    </resultMap>

</mapper>
