<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd15.mapper.Cd15QuotaSettingMapper">

    <resultMap type="com.zlt.aps.cd15.api.domain.dto.Cd15QuotaSettingDto" id="quotaSettingResult">
        <result property="id" column="id"/>
        <result property="steelStripCode" column="steel_strip_code"/>
        <result property="machineId" column="machine_id"/>
        <result property="machineName" column="machine_name"/>
        <result property="quota" column="quota"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectCd15QuotaSettingVo">
        select id, steel_strip_code, machine_id, quota, create_by, create_time, update_by, update_time, del_flag, remark from t_cd15_quota_setting
    </sql>

    <select id="selectQuotaSettingList" parameterType="com.zlt.aps.cd15.entity.Cd15QuotaSetting"
            resultType="com.zlt.aps.cd15.api.domain.dto.Cd15QuotaSettingDto">
        select *from (
        SELECT
        a.*,
        b.MACHINE_NAME
        FROM
        T_CD15_QUOTA_SETTING a
        LEFT JOIN T_CD15_MACHINE_INFO b
        ON a.MACHINE_ID = b.ID
        WHERE
        a.del_flag = '0'
        <if test="steelStripCode != null and steelStripCode != ''">and a.steel_strip_code = #{steelStripCode}
        </if>
        <if test="machineId != null ">and a.machine_id = #{machineId}</if>
        <if test="quota != null ">and a.quota = #{quota}</if>
        <if test="orderStr == null">
            order by a.CREATE_TIME desc
        </if>
        ) t
        <if test="orderStr != null">
            order by ${orderStr}
        </if>

    </select>

    <select id="selectCd15QuotaSettingById" parameterType="Long" resultMap="quotaSettingResult">
        <include refid="selectCd15QuotaSettingVo"/>
        where id = #{id}
    </select>

    <select id="checkUnique" parameterType="com.zlt.aps.cd15.entity.Cd15QuotaSetting" resultMap="quotaSettingResult">
        <include refid="selectCd15QuotaSettingVo"/>
        where del_flag = '0'
        <if test="id != null and id != ''">and id != #{id}</if>
        <if test="machineId == null or machineId ==''">and machine_id is null</if>
        <if test="machineId != null and machineId !=''">and machine_id = #{machineId,jdbcType=DECIMAL}</if>
        <if test="steelStripCode == null or steelStripCode == ''">and steel_strip_code is null</if>
        <if test="steelStripCode != null and steelStripCode != ''">and steel_strip_code =
            #{steelStripCode,jdbcType=VARCHAR}
        </if>
    </select>

    <delete id="deleteCd15QuotaSettingByIds" parameterType="long">
        update t_cd15_quota_setting set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="mergeSql" parameterType="list">
        merge into t_cd15_quota_setting a USING (
        <foreach collection="list" item="QuotaSetting" separator=" union ">
            select
            #{QuotaSetting.steelStripCode,jdbcType=VARCHAR} steel_strip_code,
            #{QuotaSetting.machineId,jdbcType=DOUBLE} machine_id,
            #{QuotaSetting.quota,jdbcType=DOUBLE} quota,
            #{QuotaSetting.createBy,jdbcType=VARCHAR} create_by,
            #{QuotaSetting.createTime,jdbcType=DATE} create_time,
            #{QuotaSetting.updateBy,jdbcType=VARCHAR} update_by,
            #{QuotaSetting.updateTime,jdbcType=DATE} update_time,
            #{QuotaSetting.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        ((b.steel_strip_code is null and a.steel_strip_code is null) or (a.steel_strip_code = b.steel_strip_code))
        and ((b.machine_id is null and a.machine_id is null) or(b.machine_id = a.machine_id))
        AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE SET
        a.quota = b.quota,
        a.update_by = b.create_by,
        a.update_time = sysdate,
        a.remark = b.remark
        WHEN NOT MATCHED THEN
        INSERT (a.id, a.steel_strip_code, a.machine_id, a.quota, a.create_by, a.create_time, a.remark, a.del_flag) values
        (SEQ_QUOTA_SETTING.NEXTVAL, b.steel_strip_code, b.machine_id, b.quota, b.create_by, sysdate, b.remark, '0')
    </update>
</mapper>