<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd15.mapper.Cd15BigRollMapper">

    <select id="listBigRoll" parameterType="com.zlt.aps.cd15.api.domain.dto.Cd15BigRollDto"
            resultType="com.zlt.aps.cd15.api.domain.dto.Cd15BigRollDto">
        select *
        from T_CD15_BIG_ROLL
        where DEL_FLAG = 0
        <if test="bigRollCode != null and bigRollCode != ''">
            and INSTR(BIG_ROLL_CODE, #{bigRollCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="orderStr == null">
            order by CREATE_TIME desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>

    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO T_CD15_BIG_ROLL (
            BIG_ROLL_CODE,
            CLOTH_LENGTH,
            CONVERT_PRODUCE_NUM,
            ACT_CLOTH_LENGTH,
            create_by,
            create_time,
            update_by,
            update_time,
            remark,
            del_flag
        )values
        <foreach collection="list" item="BigRoll" separator=",">
        (
             #{BigRoll.bigRollCode,jdbcType=VARCHAR},
             #{BigRoll.clothLength,jdbcType=DOUBLE},
             #{BigRoll.convertProduceNum,jdbcType=DOUBLE},
             #{BigRoll.actClothLength,jdbcType=DOUBLE},
             #{BigRoll.createBy,jdbcType=VARCHAR},
             now(),
             #{BigRoll.updateBy,jdbcType=VARCHAR},
             now(),
             #{BigRoll.remark,jdbcType=VARCHAR},
             '0'
         )
        </foreach>
        ON DUPLICATE KEY UPDATE
        CLOTH_LENGTH = VALUES(CLOTH_LENGTH),
        CONVERT_PRODUCE_NUM = VALUES(CONVERT_PRODUCE_NUM),
        ACT_CLOTH_LENGTH = VALUES(ACT_CLOTH_LENGTH),
        update_by = VALUES(create_by),
        update_time = now(),
        remark = VALUES(remark)
    </insert>
</mapper>
