<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd15.mapper.Cd15MachineRollMappingMapper">

    <!-- 通用查询映射结果 -->
    <select id="listMachineRollMapping" parameterType="com.zlt.aps.cd15.api.domain.dto.Cd15MachineRollMappingDto"
            resultType="com.zlt.aps.cd15.api.domain.dto.Cd15MachineRollMappingDto">
        select * from (
        select sm.*,m.machine_code, m.machine_name
        from T_CD15_MACHINE_ROLL_MAPPING sm
        left join T_CD15_MACHINE_INFO m on sm.machine_id = m.id
        where sm.DEL_FLAG = 0 and m.DEL_FLAG = 0
        <if test="bigRollCode != null and bigRollCode != ''">
            and INSTR(BIG_ROLL_CODE, #{bigRollCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="machineId != null and machineId != ''">
            and MACHINE_ID = #{machineId}
        </if>
        <if test="orderStr == null">
            order by sm.CREATE_TIME desc
        </if>
        ) t

        <if test="orderStr != null">
            order by ${orderStr}
        </if>

    </select>

    <update id="mergeSql" parameterType="list">
        merge into T_CD15_MACHINE_ROLL_MAPPING a USING (
        <foreach collection="list" item="Mapping" separator=" union ">
            select
            #{Mapping.bigRollCode,jdbcType=VARCHAR} BIG_ROLL_CODE,
            #{Mapping.machineId,jdbcType=DOUBLE} MACHINE_ID,
            #{Mapping.createBy,jdbcType=VARCHAR} create_by,
            #{Mapping.createTime,jdbcType=DATE} create_time,
            #{Mapping.updateBy,jdbcType=VARCHAR} update_by,
            #{Mapping.updateTime,jdbcType=DATE} update_time,
            #{Mapping.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.BIG_ROLL_CODE = b.BIG_ROLL_CODE and a.MACHINE_ID = b.MACHINE_ID
        AND a.del_flag = '0'
        )
        WHEN MATCHED THEN
        UPDATE SET
        a.update_by = b.create_by,
        a.update_time = sysdate,
        a.remark = b.remark
        WHEN NOT MATCHED THEN
        INSERT (
        a.id ,
        a.BIG_ROLL_CODE ,
        a.MACHINE_ID ,
        a.create_by ,
        a.create_time ,
        a.remark, a.del_flag
        ) values
        (SEQ_PUBLIC.NEXTVAL,
        b.BIG_ROLL_CODE ,
        b.MACHINE_ID ,
        b.create_by,
        sysdate,
        b.remark, '0'
        )
    </update>

    <update id="deleteAll">
        update T_CD15_MACHINE_ROLL_MAPPING set del_flag = '1' where del_flag = '0'
    </update>
</mapper>
