<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.mix.schedule.engine.mapper.MixingTimeEngineMapper">

    <select id="listMixingTime" resultType="com.zlt.mix.setting.api.domain.entity.MixingTime">
        select glue,machine_code,interval_time from t_mixing_time
        where del_flag = '0'
        and mix_area = #{mixArea}
        <if test="glue != null and glue != ''">
            and glue = #{glue}
        </if>
        <if test="machineCode != null and machineCode != ''">
            and machine_code = #{machineCode}
        </if>
    </select>
</mapper>