<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.mix.setting.mapper.FormulaMachineMapper">

    <select id="selectFormulaMachineList" parameterType="com.zlt.mix.setting.api.domain.entity.FormulaMachine"
            resultType="com.zlt.mix.setting.api.domain.entity.FormulaMachine">
        SELECT
        max(tfm.ID) id,
        tfm.MIX_AREA,
        tfm.GLUE,
        GROUP_CONCAT( tlm.MACHINE_NAME ORDER BY tfm.machine_order SEPARATOR  ',' )  AS MACHINE_NAME,
        GROUP_CONCAT( tfm.MACHINE_CODE ORDER BY tfm.machine_order SEPARATOR ',' ) AS MACHINE_CODE,
        GROUP_CONCAT( tfm.machine_order ORDER BY tfm.machine_order SEPARATOR ',' ) AS MACHINE_ORDER,
        max( tfm.remark ) remark,
        max( tfm.CREATE_TIME ) CREATE_TIME,
        max( tfm.del_flag ) del_flag,
        max( tfm.create_by ) create_by,
        max( tfm.update_by ) update_by,
        max( tfm.UPDATE_TIME ) UPDATE_TIME
        FROM
        t_formula_machine tfm
        inner join (select mix_area, machine_code, machine_name from t_mix_machine where del_flag = 0 union select mix_area, machine_code, machine_name from t_lhfl_machine where del_flag = 0) tlm
        on tfm.MIX_AREA=tlm.MIX_AREA and tfm.MACHINE_CODE=tlm.machine_code
        where tfm.del_flag = '0'
        <if test="mixArea != null  and mixArea != ''">and tfm.mix_area = #{mixArea}</if>
        <if test="glue != null  and glue != ''">and INSTR(tfm.glue, #{glue}) > 0</if>
        GROUP BY
        tfm.MIX_AREA,
        tfm.GLUE
        <if test="orderStr == null">
            order by create_time desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>


    <select id="selectByIds" resultType="com.zlt.mix.setting.api.domain.entity.FormulaMachine">
        select
        MIX_AREA,
        GLUE
        from T_FORMULA_MACHINE
        where del_flag = '0'
        and ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY
        MIX_AREA,
        GLUE
    </select>
    <select id="selectExactFormulaMachineList"
            resultType="com.zlt.mix.setting.api.domain.entity.FormulaMachine">
        SELECT
        max(tfm.ID) id,
        tfm.MIX_AREA,
        tfm.GLUE,
        GROUP_CONCAT( tlm.MACHINE_NAME ORDER BY tfm.machine_order SEPARATOR  ',' )  AS MACHINE_NAME,
        GROUP_CONCAT( tfm.MACHINE_CODE ORDER BY tfm.machine_order SEPARATOR ',' ) AS MACHINE_CODE,
        GROUP_CONCAT( tfm.machine_order ORDER BY tfm.machine_order SEPARATOR ',' ) AS MACHINE_ORDER,
        max( tfm.remark ) remark,
        max( tfm.CREATE_TIME ) CREATE_TIME,
        max( tfm.del_flag ) del_flag,
        max( tfm.create_by ) create_by,
        max( tfm.update_by ) update_by,
        max( tfm.UPDATE_TIME ) UPDATE_TIME
        FROM
        t_formula_machine tfm
        inner join (select mix_area, machine_code, machine_name from t_mix_machine where del_flag = 0 union select mix_area, machine_code, machine_name from t_lhfl_machine where del_flag = 0) tlm
        on tfm.MIX_AREA=tlm.MIX_AREA and tfm.MACHINE_CODE=tlm.machine_code
        where tfm.del_flag = '0'
        <if test="mixArea != null  and mixArea != ''">and tfm.mix_area = #{mixArea}</if>
        <if test="glue != null  and glue != ''">and tfm.glue=#{glue}</if>
        GROUP BY
        tfm.MIX_AREA,
        tfm.GLUE
    </select>


    <insert id="batchInsertFormulaMachineInfo">
        insert into t_formula_machine
        (id,mix_area,glue,machine_code,machine_order,remark,del_flag,create_by,create_time,update_by,update_time )
        select NULL id, x.*
        from (
        <foreach collection="list" item="formulaMachine" separator=" union all ">
            select
            #{formulaMachine.mixArea,jdbcType= VARCHAR} mix_area, #{formulaMachine.glue,jdbcType= VARCHAR} glue,
            #{formulaMachine.machineCode,jdbcType= VARCHAR} machine_code,#{formulaMachine.machineOrder,jdbcType=VARCHAR} machine_order, #{formulaMachine.remark,jdbcType= VARCHAR}
            remark, #{formulaMachine.delFlag,jdbcType= VARCHAR} del_flag, #{formulaMachine.createBy,jdbcType= VARCHAR}
            create_by, #{formulaMachine.createTime,jdbcType=TIMESTAMP} create_time,
            #{formulaMachine.updateBy,jdbcType= VARCHAR} update_by, #{formulaMachine.updateTime,jdbcType=TIMESTAMP}
            update_time 
        </foreach>
        ) x
    </insert>


    <delete id="batchDeleteFormulaMachineInfo">
        update t_formula_machine
        set del_flag='1'
        where DEL_FLAG = '0'
        and (MIX_AREA,GLUE) in(
        <foreach collection="importList" item="item" separator=" , ">
            (
            #{item.mixArea,jdbcType=VARCHAR } ,
            #{item.glue,jdbcType=VARCHAR }
            )
        </foreach>
        )
    </delete>

    <delete id="trueDeleteByMixAreaAndGlue">
        delete from t_formula_machine
        where DEL_FLAG = '0'
          and mix_area = #{mixArea,jdbcType=VARCHAR}
          AND glue = #{glue,jdbcType=VARCHAR}
    </delete>

    <delete id="trueBatchDeleteFormulaMachineInfo">
        delete from t_formula_machine
        where (glue, MIX_AREA) in(
            <foreach collection="importList" item="item" separator=" , ">
                (#{item.mixArea,jdbcType=VARCHAR }, #{item.glue,jdbcType=VARCHAR })
            </foreach>
        )
    </delete>

    <select id="getFormulaMachineList" parameterType="com.zlt.mix.setting.api.domain.entity.FormulaMachine"
            resultType="com.zlt.mix.setting.api.domain.entity.FormulaMachine">
        select DISTINCT
            tfm.MIX_AREA,
            tfm.GLUE,
            tfm.MACHINE_CODE,
            tfm.MACHINE_ORDER,
            tmm.MACHINE_NAME
        from
            t_formula_machine tfm
        inner join (
          select mix_area, machine_code, machine_name from t_mix_machine
           where del_flag = '0' and status = '0' 
             AND (mid_status = '0' OR night_status = '0' OR day_status = '0')
          union
          select mix_area, machine_code, machine_name from t_lhfl_machine where del_flag = '0' and status = '0'
        ) tmm
        on tmm.MACHINE_CODE = tfm.MACHINE_CODE and tmm.MIX_AREA = tfm.MIX_AREA
        where tfm.del_flag = 0
        <if test="mixArea != null  and mixArea != ''">and tfm.mix_area = #{mixArea}</if>
        <if test="glue != null  and glue != ''">and tfm.glue = #{glue}</if>
    </select>
    
    <!-- 根据配方获取机台列表 -->
    <select id="selectRecipeMachineList" parameterType="com.zlt.mix.setting.api.domain.entity.FormulaMachine"
            resultType="com.zlt.mix.setting.api.domain.entity.FormulaMachine">
        SELECT M.MACHINE_CODE, 
               M.MACHINE_NAME
		  FROM T_MES_PMT_RECIPE R
		 INNER JOIN T_MIX_MACHINE M
		    ON M.MACHINE_CODE = R.RECIPE_EQUIP_CODE
		 WHERE R.RECIPE_STATE = '1'
		   AND R.AUDIT_FLAG = '1'
		   AND R.DEL_FLAG = '0'
		   AND R.RECIPE_MATERIAL_NAME = #{glue,jdbcType= VARCHAR}
		   AND R.MIX_AREA = #{mixArea,jdbcType= VARCHAR}
		 GROUP BY M.MACHINE_CODE, M.MACHINE_NAME
		 ORDER BY MACHINE_NAME
    </select>
</mapper>