<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.mix.setting.mapper.GlueFinishMapper">

    <select id="selectGlueFinishList" parameterType="com.zlt.mix.setting.api.domain.entity.GlueFinish"
            resultType="com.zlt.mix.setting.api.domain.entity.GlueFinish">
        select id, order_no, schedule_date, tgf.mix_area, glue, tgf.machine_code,tmm.MACHINE_NAME,
        (ifnull(mid_finish_qty, 0) + ifnull(night_finish_qty, 0) + ifnull(day_finish_qty, 0)) as total_finish_qty,
        mid_finish_qty, night_finish_qty, day_finish_qty, remark,
        del_flag, create_by, create_time, update_by, update_time from t_glue_finish tgf
        left join(
        select machine_name, mix_area, machine_code
        from t_mix_machine
        where del_flag = '0'
        )tmm  on tmm.MIX_AREA = tgf.MIX_AREA and tmm.MACHINE_CODE = tgf.MACHINE_CODE
        where tgf.del_flag = '0'
        <if test="orderNo != null and orderNo != ''">and INSTR(order_no,#{orderNo})> 0</if>
        <if test="scheduleDate != null">and schedule_date = #{scheduleDate}</if>
        <if test="mixArea != null  and mixArea != ''">and tgf.mix_area = #{mixArea}</if>
        <if test="glue != null  and glue != ''">and INSTR(glue, #{glue}) > 0</if>
        <if test="orderStr == null">
            order by schedule_date desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="listGlueFinishNotUnique" resultType="com.ruoyi.api.gateway.system.domain.ImportErrorLog">
        WITH temp_table AS (
        <foreach collection="importList" item="data" index="rowNumber" separator=" union all ">
            SELECT #{rowNumber} row_numbers,
            #{data.orderNo,jdbcType= VARCHAR} order_no
            
        </foreach>
        )
        select #{importLogId} importLogId, t.row_numbers errorRow, #{errorDetail} errorDetail, #{createBy} createBy,
        now() createTime
        from T_GLUE_FINISH m
        inner join temp_table t on m.order_no = t.order_no and m.del_flag ='0'
    </select>

    <insert id="batchInsertGlueFinishInfo">
        insert into t_glue_finish
        (id,order_no,schedule_date,mix_area,glue,machine_code,mid_finish_qty,night_finish_qty,day_finish_qty,remark,del_flag,create_by,create_time,update_by,update_time
        )
        select NULL id, x.*
        from (
        <foreach collection="list" item="glueFinish" separator=" union all ">
            select
            #{glueFinish.orderNo,jdbcType= VARCHAR} order_no,
            #{glueFinish.scheduleDate,jdbcType=TIMESTAMP} schedule_date,
            #{glueFinish.mixArea,jdbcType= VARCHAR} mix_area,
            #{glueFinish.glue,jdbcType= VARCHAR} glue, #{glueFinish.machineCode,jdbcType= VARCHAR} machine_code,
            #{glueFinish.midFinishQty,jdbcType=DOUBLE} mid_finish_qty, #{glueFinish.nightFinishQty,jdbcType=DOUBLE}
            night_finish_qty, #{glueFinish.dayFinishQty,jdbcType=DOUBLE} day_finish_qty,
            #{glueFinish.remark,jdbcType= VARCHAR} remark, #{glueFinish.delFlag,jdbcType= VARCHAR} del_flag,
            #{glueFinish.createBy,jdbcType= VARCHAR} create_by, #{glueFinish.createTime,jdbcType=TIMESTAMP} create_time,
            #{glueFinish.updateBy,jdbcType= VARCHAR} update_by, #{glueFinish.updateTime,jdbcType=TIMESTAMP} update_time from
            dual
        </foreach>
        ) x
    </insert>

    <update id="mergeSql" parameterType="list">
        insert into t_glue_finish
        (
        order_no,schedule_date, mix_area, glue, machine_code, mid_finish_qty,
        night_finish_qty, day_finish_qty,
        remark, del_flag, create_by, create_time)
        values
        <foreach collection="list" item="item" separator=" union all ">
            (
            #{item.orderNo,jdbcType= VARCHAR} ,
            #{item.scheduleDate,jdbcType=TIMESTAMP} ,
            #{item.mixArea,jdbcType=VARCHAR } , #{item.glue,jdbcType=VARCHAR } ,
            #{item.machineCode,jdbcType=VARCHAR } , #{item.midFinishQty, jdbcType=DOUBLE} ,
            #{item.nightFinishQty, jdbcType=DOUBLE} , #{item.dayFinishQty, jdbcType=DOUBLE},
            #{item.remark,jdbcType=VARCHAR } , #{item.delFlag,jdbcType=VARCHAR } ,
            #{item.createBy,jdbcType=VARCHAR } , #{item.createTime, jdbcType=TIMESTAMP}
            )
        </foreach>
        on duplicate key
        update
        schedule_date=values(schedule_date),
        mix_area = values(mix_area),
        glue = values(glue),
        machine_code = values(machine_code),
        mid_finish_qty = values(mid_finish_qty), night_finish_qty = values(night_finish_qty), day_finish_qty =
        values(day_finish_qty), remark = values(remark), update_by = values(create_by),
        update_time = now()
    </update>
</mapper>