<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.mix.setting.mapper.LhflSpanSettingMapper">

    <select id="selectLhflSpanSettingList" parameterType="com.zlt.mix.setting.api.domain.entity.LhflSpanSetting"
            resultType="com.zlt.mix.setting.api.domain.entity.LhflSpanSetting">
        select id, entrust_mix_area, entrusted_mix_area, material_name, create_by, create_time, update_by, update_time,
        del_flag, remark from t_lhfl_span_setting
        where del_flag = '0'
        <if test="entrustMixArea != null  and entrustMixArea != ''">and entrust_mix_area = #{entrustMixArea}</if>
        <if test="entrustedMixArea != null  and entrustedMixArea != ''">and entrusted_mix_area = #{entrustedMixArea}
        </if>
        <if test="materialName != null  and materialName != ''">and INSTR(material_name, #{materialName}) > 0</if>
        <if test="orderStr == null">
            order by create_time desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <delete id="deleteLhflSpanSettingByIds" parameterType="String">
        update t_lhfl_span_setting set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="listLhflSpanSettingNotUnique" resultType="com.ruoyi.api.gateway.system.domain.ImportErrorLog">
        WITH temp_table AS (
        <foreach collection="importList" item="data" index="rowNumber" separator=" union all ">
            SELECT #{rowNumber}+2 row_numbers, #{data.entrustMixArea,jdbcType=VARCHAR} entrust_mix_area,
            #{data.entrustedMixArea,jdbcType=VARCHAR} entrusted_mix_area, #{data.materialName,jdbcType=VARCHAR} material_name
            
        </foreach>
        )
        select #{importLogId} importLogId, t.row_numbers errorRow, #{errorDetail} errorDetail, #{createBy} createBy,
        now() createTime
        from t_lhfl_span_setting m
        inner join temp_table t on m.entrust_mix_area = t.entrust_mix_area and m.material_name = t.material_name and m.del_flag ='0'
    </select>

    <insert id="batchInsertLhflSpanSettingInfo">
        insert into t_lhfl_span_setting
        (id,entrust_mix_area,entrusted_mix_area,material_name,create_by,create_time,update_by,update_time,del_flag,remark
        )
        select NULL id, x.*
        from (
        <foreach collection="list" item="lhflSpanSetting" separator=" union all ">
            select
            #{lhflSpanSetting.entrustMixArea,jdbcType= VARCHAR} entrust_mix_area,
            #{lhflSpanSetting.entrustedMixArea,jdbcType= VARCHAR} entrusted_mix_area,
            #{lhflSpanSetting.materialName,jdbcType= VARCHAR} material_name,
            #{lhflSpanSetting.createBy,jdbcType= VARCHAR} create_by, #{lhflSpanSetting.createTime,jdbcType=TIMESTAMP}
            create_time, #{lhflSpanSetting.updateBy,jdbcType= VARCHAR} update_by,
            #{lhflSpanSetting.updateTime,jdbcType=TIMESTAMP} update_time, #{lhflSpanSetting.delFlag,jdbcType= VARCHAR}
            del_flag, #{lhflSpanSetting.remark,jdbcType= VARCHAR} remark 
        </foreach>
        ) x
    </insert>

    <update id="mergeSql" parameterType="list">
        merge into t_lhfl_span_setting a USING (
        <foreach collection="list" item="item" separator=" union all ">
            select
            #{item.id, jdbcType=DOUBLE} id, #{item.entrustMixArea,jdbcType=VARCHAR } entrust_mix_area,
            #{item.entrustedMixArea,jdbcType=VARCHAR } entrusted_mix_area, #{item.materialName,jdbcType=VARCHAR }
            material_name, #{item.createBy,jdbcType=VARCHAR } create_by, #{item.createTime, jdbcType=TIMESTAMP} create_time,
            #{item.updateBy,jdbcType=VARCHAR } update_by, #{item.updateTime, jdbcType=TIMESTAMP} update_time,
            #{item.delFlag,jdbcType=VARCHAR } del_flag, #{item.remark,jdbcType=VARCHAR } remark 
        </foreach>
        ) b ON ( a.entrust_mix_area = b.entrust_mix_area and
                a.material_name = b.material_name AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE
        <set>
            a.entrusted_mix_area = b.entrusted_mix_area,
            a.update_by = b.create_by,
            a.update_time = now(),
            a.remark = b.remark
        </set>
        WHEN NOT MATCHED THEN
        INSERT (
        a.id, a.entrust_mix_area, a.entrusted_mix_area, a.material_name, a.create_by, a.create_time, a.del_flag, a.remark )
        values ( get_sequence_nextval('seq_t_lhfl_span_setting'),
        b.entrust_mix_area, b.entrusted_mix_area, b.material_name, b.create_by, now(), 0,b.remark )
    </update>
</mapper>
