<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tc.mapper.TcCurlRollMapper">

    <select id="listCurlRoll" parameterType="com.zlt.aps.tc.api.domain.entity.TcCurlRoll"
            resultType="com.zlt.aps.tc.api.domain.entity.TcCurlRoll">
        select *
        from T_TC_CURL_ROLL
        where DEL_FLAG = 0
        <if test="sidewallCode != null and sidewallCode != ''">
            and INSTR(SIDEWALL_CODE, #{sidewallCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="orderStr == null">
            order by CREATE_TIME desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <update id="mergeSql" parameterType="list">
        merge into T_TC_CURL_ROLL a USING (
        <foreach collection="list" item="tcCurlRoll" separator=" union ">
            select
                #{tcCurlRoll.sidewallCode,jdbcType=VARCHAR} SIDEWALL_CODE,
                #{tcCurlRoll.curlLength,jdbcType=DECIMAL} CURL_LENGTH,

                #{tcCurlRoll.createBy,jdbcType=VARCHAR} create_by,
                #{tcCurlRoll.createTime,jdbcType=DATE} create_time,
                #{tcCurlRoll.updateBy,jdbcType=VARCHAR} update_by,
                #{tcCurlRoll.updateTime,jdbcType=DATE} update_time,
                #{tcCurlRoll.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
            a.SIDEWALL_CODE = b.SIDEWALL_CODE
            AND a.del_flag = '0'
        )WHEN MATCHED THEN
            UPDATE SET
                a.CURL_LENGTH   = b.CURL_LENGTH,

                a.update_by   = b.create_by,
                a.update_time = sysdate,
                a.remark      = b.remark
        WHEN NOT MATCHED THEN
            INSERT (
                a.id          ,
                a.SIDEWALL_CODE  ,
                a.CURL_LENGTH  ,
                a.create_by   ,
                a.create_time ,
                a.remark,
                a.del_flag
            ) values(
                SEQ_PUBLIC.NEXTVAL,
                b.SIDEWALL_CODE  ,
                b.CURL_LENGTH  ,
                b.create_by,
                sysdate,
                b.remark,
                '0'
            )
    </update>

</mapper>
