<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tc.mapper.TcCurlRollMapper">

    <select id="listCurlRoll" parameterType="com.zlt.aps.tc.api.domain.entity.TcCurlRoll"
            resultType="com.zlt.aps.tc.api.domain.entity.TcCurlRoll">
        select *
        from T_TC_CURL_ROLL
        where DEL_FLAG = 0
        <if test="sidewallCode != null and sidewallCode != ''">
            and INSTR(SIDEWALL_CODE, #{sidewallCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="queryCode != null and queryCode != ''">
            and SIDEWALL_CODE = #{queryCode,jdbcType=VARCHAR}
        </if>
        <if test="params != null and params.codeList != null and params.codeList.size() > 0">
            AND SIDEWALL_CODE IN
            <foreach collection="params.codeList" item="code" separator="," open="(" close=")">
                #{code}
            </foreach>
        </if>
        <if test="orderStr == null">
            order by CREATE_TIME desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO T_TC_CURL_ROLL (
        SIDEWALL_CODE, CURL_LENGTH,
        create_by, create_time, update_by, update_time, remark, del_flag
        ) VALUES
        <foreach collection="list" item="tcCurlRoll" separator=",">
            (
            #{tcCurlRoll.sidewallCode,jdbcType=VARCHAR},
            #{tcCurlRoll.curlLength,jdbcType=DECIMAL},
            #{tcCurlRoll.createBy,jdbcType=VARCHAR},
            NOW(),
            #{tcCurlRoll.updateBy,jdbcType=VARCHAR},
            NOW(),
            #{tcCurlRoll.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        CURL_LENGTH = VALUES(CURL_LENGTH),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>

</mapper>
