<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tc.mapper.TcGlueOrderMapper">

    <select id="listGlueOrder" parameterType="com.zlt.aps.tc.api.domain.dto.TcGlueOrderDto"
            resultType="com.zlt.aps.tc.api.domain.dto.TcGlueOrderDto">
        select * from (
            select o.id, g.id glueGroupId, g.glue_group_code, g.glue_group_name, o.glue_code, o.order_num,
            concat(g.order_num,'.',o.order_num) as glue_group_order_num, o.remark
            from T_TC_GLUE_GROUP_ORDER g
            inner join T_TC_GLUE_ORDER o on g.id = o.glue_group_id
            where 1=1
            and g.del_flag=0
            and o.del_flag=0
            <if test="glueGroupId != null">
                and GLUE_GROUP_ID = #{glueGroupId}
            </if>
            <if test="glueCode != null and glueCode != ''">
                and INSTR(GLUE_CODE, #{glueCode}) > 0
            </if>
            <if test="orderStr == null">
                order by g.order_num, o.order_num
            </if>
        ) t
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>


    <insert id="mergeSql" parameterType="list">
        INSERT INTO T_TC_GLUE_ORDER (
        GLUE_CODE, GLUE_GROUP_ID, ORDER_NUM,
        create_by, create_time, update_by, update_time, remark, del_flag
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.glueCode,jdbcType=VARCHAR},
            #{item.glueGroupId,jdbcType=DOUBLE},
            #{item.orderNum,jdbcType=DOUBLE},
            #{item.createBy,jdbcType=VARCHAR},
            NOW(),
            #{item.updateBy,jdbcType=VARCHAR},
            NOW(),
            #{item.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        GLUE_GROUP_ID = VALUES(GLUE_GROUP_ID),
        ORDER_NUM = VALUES(ORDER_NUM),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>

</mapper>
