<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tc.mapper.TcMouthPlateMapper">

    <sql id="selectTcMouthPlateVo">
        select id, mouth_plate_code, machine_id, status, remark, del_flag, create_by, create_time, update_by, update_time
        from t_tc_mouth_plate
    </sql>


    <select id="selectMouthPlateWithMachineInfo"
            parameterType="com.zlt.aps.tc.entity.TcMouthPlate"
            resultType="com.zlt.aps.tc.api.domain.dto.TcMouthPlateDto">
        select * from (
            SELECT mp.*,mi.MACHINE_NAME
            FROM T_TC_MOUTH_PLATE mp
            LEFT JOIN T_TC_MACHINE_INFO mi
            ON mp.MACHINE_ID = mi.ID
            where mp.del_flag = '0'
            <if test="mouthPlateCode != null  and mouthPlateCode != ''">
                and INSTR(mouth_plate_code, #{mouthPlateCode}) > 0
            </if>
            <if test="machineId != null ">and mp.machine_id = #{machineId}</if>
            <if test="status != null  and status != ''">and mp.status = #{status}</if>
            <if test="orderStr == null">
                order by mp.CREATE_TIME desc
            </if>
        ) t
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="checkUnique" parameterType="com.zlt.aps.tc.entity.TcMouthPlate" resultType="int">
        SELECT count(1)
        FROM T_TC_MOUTH_PLATE mp
        LEFT JOIN T_TC_MACHINE_INFO mi
        ON mp.MACHINE_ID = mi.ID
        where mp.del_flag = '0'
        and mp.mouth_plate_code = #{mouthPlateCode}
        and mp.machine_id = #{machineId}
        <if test="id != null and id != ''">and mp.id != #{id}</if>
    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO T_TC_MOUTH_PLATE (
        mouth_plate_code, machine_id, status,
        create_by, create_time, update_by, update_time, remark, del_flag
        ) VALUES
        <foreach collection="list" item="MouthPlate" separator=",">
            (
            #{MouthPlate.mouthPlateCode,jdbcType=VARCHAR},
            #{MouthPlate.machineId,jdbcType=DOUBLE},
            #{MouthPlate.status,jdbcType=VARCHAR},
            #{MouthPlate.createBy,jdbcType=VARCHAR},
            NOW(),
            #{MouthPlate.updateBy,jdbcType=VARCHAR},
            NOW(),
            #{MouthPlate.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        status = VALUES(status),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>

    <update id="deleteAll">
        update T_TC_MOUTH_PLATE set del_flag = NULL where del_flag = '0'
    </update>

</mapper>
