<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.nc.mapper.NcGlueGroupOrderMapper">

    <select id="listGlueGroupOrder" parameterType="com.zlt.aps.nc.api.domain.dto.NcGlueGroupOrderDto"
            resultType="com.zlt.aps.nc.api.domain.dto.NcGlueGroupOrderDto">
        select *
        from T_NC_GLUE_GROUP_ORDER
        where DEL_FLAG = 0
        <if test="glueGroupCode != null and glueGroupCode != ''">
            and INSTR(GLUE_GROUP_CODE, #{glueGroupCode}) > 0
        </if>
        <if test="glueGroupName != null and glueGroupName != ''">
            and INSTR(GLUE_GROUP_NAME, #{glueGroupName}) > 0
        </if>
        <if test="orderStr == null">
            ORDER BY ORDER_NUM
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="listUserdGlueGroup" parameterType="list" resultType="string">
        SELECT g.glue_group_name
        FROM T_NC_GLUE_GROUP_ORDER g, T_NC_GLUE_ORDER o
        WHERE g.id = o.glue_group_id
        AND o.DEL_FLAG = '0'
        AND GLUE_GROUP_ID in
        <foreach collection="glueGroupIds" item="glueGroupId" separator="," open="(" close=")">#{glueGroupId}</foreach>
        group by g.id, g.glue_group_name
    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO T_NC_GLUE_GROUP_ORDER (
        GLUE_GROUP_CODE, GLUE_GROUP_NAME, ORDER_NUM,
        create_by, create_time, update_by, update_time, remark, del_flag
        ) VALUES
        <foreach collection="list" item="GlueGroupOrder" separator=",">
            (
            #{GlueGroupOrder.glueGroupCode,jdbcType=VARCHAR},
            #{GlueGroupOrder.glueGroupName,jdbcType=VARCHAR},
            #{GlueGroupOrder.orderNum,jdbcType=DOUBLE},
            #{GlueGroupOrder.createBy,jdbcType=VARCHAR},
            NOW(),
            #{GlueGroupOrder.updateBy,jdbcType=VARCHAR},
            NOW(),
            #{GlueGroupOrder.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        GLUE_GROUP_NAME = VALUES(GLUE_GROUP_NAME),
        ORDER_NUM = VALUES(ORDER_NUM),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>
</mapper>
