<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.gsq.mapper.GsqDispatcherLogMapper">

    <resultMap type="com.zlt.aps.gsq.api.domain.entity.GsqDispatcherLog" id="GsqDispatcherLogResult">
        <result property="id" column="id"/>
        <result property="operType" column="oper_type"/>
        <result property="scheduleDate" column="schedule_date"/>
        <result property="materialCode" column="material_code"/>
        <result property="beforeMachineId" column="before_machine_id"/>
        <result property="beforeDayPlan" column="before_day_plan"/>
        <result property="beforeMidPlan" column="before_mid_plan"/>
        <result property="beforeNightPlan" column="before_night_plan"/>
        <result property="afterMachineId" column="after_machine_id"/>
        <result property="afterDayPlan" column="after_day_plan"/>
        <result property="afterMidPlan" column="after_mid_plan"/>
        <result property="afterNightPlan" column="after_night_plan"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectGsqDispatcherLogVo">
        select id, oper_type, schedule_date, material_code, before_machine_id, before_day_plan, before_mid_plan, before_night_plan, after_machine_id, after_day_plan, after_mid_plan, after_night_plan, remark, del_flag, create_by, create_time, update_by, update_time from t_gsq_dispatcher_log
    </sql>

    <select id="selectGsqDispatcherLogList" parameterType="com.zlt.aps.gsq.api.domain.entity.GsqDispatcherLog"
            resultMap="GsqDispatcherLogResult">
        <include refid="selectGsqDispatcherLogVo"/>
        where del_flag = '0'
        <if test="operType != null  and operType != ''">and oper_type = #{operType}</if>
        <if test="scheduleDate != null ">and schedule_date = #{scheduleDate,jdbcType=DATE}</if>
        <if test="createBy != null and createBy != ''">
            and INSTR(create_by, #{createBy}) > 0
        </if>
        <if test="startTime != null and startTime !='' ">
            and create_time  <![CDATA[  >=  ]]> STR_TO_DATE(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime !='' ">
            and create_time  <![CDATA[   <=  ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="orderStr == null">
            order by create_time desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>

    </select>

    <select id="selectGsqDispatcherLogById" parameterType="Long" resultMap="GsqDispatcherLogResult">
        <include refid="selectGsqDispatcherLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertGsqDispatcherLog" parameterType="com.zlt.aps.gsq.api.domain.entity.GsqDispatcherLog">
        insert into t_gsq_dispatcher_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="scheduleId != null">schedule_id,</if>
            <if test="operType != null">oper_type,</if>
            <if test="scheduleDate != null">schedule_date,</if>
            <if test="materialCode != null">material_code,</if>
            <if test="beforeMachineId != null">before_machine_id,</if>
            <if test="beforeDayPlan != null">before_day_plan,</if>
            <if test="beforeMidPlan != null">before_mid_plan,</if>
            <if test="beforeNightPlan != null">before_night_plan,</if>
            <if test="afterMachineId != null">after_machine_id,</if>
            <if test="afterDayPlan != null">after_day_plan,</if>
            <if test="afterMidPlan != null">after_mid_plan,</if>
            <if test="afterNightPlan != null">after_night_plan,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="scheduleId != null">#{scheduleId},</if>
            <if test="operType != null">#{operType},</if>
            <if test="scheduleDate != null">#{scheduleDate},</if>
            <if test="materialCode != null">#{materialCode},</if>
            <if test="beforeMachineId != null">#{beforeMachineId},</if>
            <if test="beforeDayPlan != null">#{beforeDayPlan},</if>
            <if test="beforeMidPlan != null">#{beforeMidPlan},</if>
            <if test="beforeNightPlan != null">#{beforeNightPlan},</if>
            <if test="afterMachineId != null">#{afterMachineId},</if>
            <if test="afterDayPlan != null">#{afterDayPlan},</if>
            <if test="afterMidPlan != null">#{afterMidPlan},</if>
            <if test="afterNightPlan != null">#{afterNightPlan},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateGsqDispatcherLog" parameterType="com.zlt.aps.gsq.api.domain.entity.GsqDispatcherLog">
        update t_gsq_dispatcher_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="operType != null">oper_type = #{operType},</if>
            <if test="scheduleDate != null">schedule_date = #{scheduleDate},</if>
            <if test="materialCode != null">material_code = #{materialCode},</if>
            <if test="beforeMachineId != null">before_machine_id = #{beforeMachineId},</if>
            <if test="beforeDayPlan != null">before_day_plan = #{beforeDayPlan},</if>
            <if test="beforeNightPlan != null">before_night_plan = #{beforeNightPlan},</if>
            <if test="afterMachineId != null">after_machine_id = #{afterMachineId},</if>
            <if test="afterDayPlan != null">after_day_plan = #{afterDayPlan},</if>
            <if test="afterNightPlan != null">after_night_plan = #{afterNightPlan},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGsqDispatcherLogById" parameterType="Long">
        update t_gsq_dispatcher_log set del_flag = NULL where id = #{id}
    </delete>

    <delete id="deleteGsqDispatcherLogByIds" parameterType="String">
        update t_gsq_dispatcher_log set del_flag = NULL where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>