<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.gsq.mapper.GsqLossRateMapper">

    <!-- 查询钢丝圈损耗率列表（左联机台信息表反显机台名称） -->
    <select id="listLossRate" parameterType="com.zlt.aps.gsq.api.domain.entity.GsqLossRate"
            resultType="com.zlt.aps.gsq.api.domain.entity.GsqLossRate">
        select * from (
            select lr.ID, lr.STEEL_RING_CODE, lr.MACHINE_CODE, lr.LOSS_RATE,
                   lr.IS_DELETE, lr.CREATE_BY, lr.CREATE_TIME, lr.UPDATE_BY, lr.UPDATE_TIME, lr.REMARK,
                   mi.MACHINE_NAME
            from T_GSQ_LOSS_SETTING lr
            left join T_GSQ_MACHINE_INFO mi on lr.MACHINE_CODE = mi.MACHINE_CODE
                and mi.IS_DELETE = '0'
            where lr.IS_DELETE = '0'
            <if test="steelRingCode != null and steelRingCode != ''">
                and lr.STEEL_RING_CODE like concat('%', #{steelRingCode}, '%')
            </if>
            <if test="machineCode != null and machineCode != ''">
                and lr.MACHINE_CODE = #{machineCode}
            </if>
            order by lr.CREATE_TIME desc
        ) t
    </select>

    <!-- 校验"钢丝圈编码+机台编码"组合唯一性 -->
    <select id="checkUnique" parameterType="com.zlt.aps.gsq.api.domain.entity.GsqLossRate" resultType="int">
        SELECT count(1)
        FROM T_GSQ_LOSS_SETTING
        where IS_DELETE = '0'
        <choose>
            <when test="steelRingCode != null and steelRingCode != ''">
                and STEEL_RING_CODE = #{steelRingCode}
            </when>
            <otherwise>
                and STEEL_RING_CODE is null
            </otherwise>
        </choose>
        <choose>
            <when test="machineCode != null and machineCode != ''">
                and MACHINE_CODE = #{machineCode}
            </when>
            <otherwise>
                and MACHINE_CODE is null
            </otherwise>
        </choose>
        <if test="id != null">and ID != #{id}</if>
    </select>

</mapper>
