<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.gsq.mapper.GsqSteelTypeColorMapper">

    <!-- 通用查询映射结果 -->
    <select id="listGsqSteelTypeColor" parameterType="com.zlt.aps.gsq.api.domain.dto.GsqSteelTypeColorDto"
            resultType="com.zlt.aps.gsq.api.domain.dto.GsqSteelTypeColorDto">
        select *
        from T_GSQ_STEEL_TYPE_COLOR
        where DEL_FLAG = 0
        <if test="steelType != null and steelType != ''">
            and INSTR(STEEL_TYPE, #{steelType}) > 0
        </if>
        <if test="colorCode != null and colorCode != ''">
            and INSTR(COLOR_CODE, #{colorCode}) > 0
        </if>
        <if test="colorType != null and colorType != ''">
            and COLOR_TYPE = #{colorType}
        </if>
        <if test="orderStr == null">
            order by CREATE_TIME desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO T_GSQ_STEEL_TYPE_COLOR (
        steel_type, color_type, color_code, status,
        create_by, create_time, update_by, update_time, remark, del_flag
        ) VALUES
        <foreach collection="list" item="STOCK" separator=",">
            (
            #{STOCK.steelType,jdbcType=VARCHAR},
            #{STOCK.colorType,jdbcType=VARCHAR},
            #{STOCK.colorCode,jdbcType=VARCHAR},
            #{STOCK.status,jdbcType=VARCHAR},
            #{STOCK.createBy,jdbcType=VARCHAR},
            NOW(),
            #{STOCK.updateBy,jdbcType=VARCHAR},
            NOW(),
            #{STOCK.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        status = VALUES(status),
        color_type = VALUES(color_type),
        color_code = VALUES(color_code),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>
</mapper>
