<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.gsq.mapper.GsqSpecifyMachineMapper">

    <!-- 查询钢丝圈定点机台列表（左联机台信息表反显生产线名称） -->
    <select id="listSpecifyMachine" parameterType="com.zlt.aps.gsq.api.domain.entity.GsqSpecifyMachine"
            resultType="com.zlt.aps.gsq.api.domain.entity.GsqSpecifyMachine">
        select * from (
            select sm.ID, sm.STEEL_RING_CODE, sm.MACHINE_CODE, sm.LINE_TYPE, sm.JOB_TYPE,
                   sm.REMARK, sm.IS_DELETE, sm.CREATE_BY, sm.CREATE_TIME,
                   sm.UPDATE_BY, sm.UPDATE_TIME,
                   mi.MACHINE_NAME
            from T_GSQ_SPECIFY_MACHINE sm
            left join T_GSQ_MACHINE_INFO mi on sm.MACHINE_CODE = mi.MACHINE_CODE
                and mi.IS_DELETE = '0'
            where sm.IS_DELETE = '0'
            <if test="steelRingCode != null and steelRingCode != ''">
                and sm.STEEL_RING_CODE = #{steelRingCode}
            </if>
            <if test="machineCode != null and machineCode != ''">
                and sm.MACHINE_CODE = #{machineCode}
            </if>
            <if test="lineType != null and lineType != ''">
                and sm.LINE_TYPE = #{lineType}
            </if>
            <if test="jobType != null and jobType != ''">
                and sm.JOB_TYPE = #{jobType}
            </if>
            order by sm.STEEL_RING_CODE, mi.MACHINE_NAME
        ) t
    </select>

    <!-- 校验"钢丝圈代码+生产线"组合唯一性 -->
    <select id="checkUnique" parameterType="com.zlt.aps.gsq.api.domain.entity.GsqSpecifyMachine" resultType="int">
        SELECT count(1)
        FROM T_GSQ_SPECIFY_MACHINE
        where IS_DELETE = '0'
        and STEEL_RING_CODE = #{steelRingCode}
        and MACHINE_CODE = #{machineCode}
        <if test="id != null">and ID != #{id}</if>
    </select>

</mapper>
