<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.lh.mapper.LhChipStockMapper">

    <update id="logicDeleteByFactoryCodeAndDataSource">
        UPDATE T_LH_CHIP_STOCK
        SET IS_DELETE = 1,
            UPDATE_BY = #{updateBy},
            UPDATE_TIME = #{updateTime}
        WHERE FACTORY_CODE = #{factoryCode}
          AND DATA_SOURCE = #{dataSource}
          AND IS_DELETE = 0
    </update>

    <!-- 原子累加完成量（含版本号乐观锁）-->
    <update id="atomicAddFinishQty">
        UPDATE T_LH_CHIP_STOCK
        SET FINISH_QTY = FINISH_QTY + #{delta},
            DATA_VERSION = #{newVersion},
            UPDATE_BY = #{updateBy},
            UPDATE_TIME = CURRENT_TIMESTAMP
        WHERE FACTORY_CODE = #{factoryCode}
          AND CHIP_CODE = #{chipCode}
          AND IS_DELETE = 0
          <if test="expectedVersion != null and expectedVersion != ''">
              AND DATA_VERSION = #{expectedVersion}
          </if>
    </update>

    <!-- 原子覆盖完成量（含版本号乐观锁）-->
    <update id="atomicOverwriteFinishQty">
        UPDATE T_LH_CHIP_STOCK
        SET FINISH_QTY = #{finishQty},
            DATA_VERSION = #{newVersion},
            UPDATE_BY = #{updateBy},
            UPDATE_TIME = CURRENT_TIMESTAMP
        WHERE FACTORY_CODE = #{factoryCode}
          AND CHIP_CODE = #{chipCode}
          AND IS_DELETE = 0
          <if test="expectedVersion != null and expectedVersion != ''">
              AND DATA_VERSION = #{expectedVersion}
          </if>
    </update>

</mapper>
