<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.lh.mapper.LhScheduleResultMapper">

    <insert id="insertBatch">
        INSERT INTO T_LH_SCHEDULE_RESULT (
            FACTORY_CODE, BATCH_NO, ORDER_NO, LH_MACHINE_CODE, LEFT_RIGHT_MOULD,
            LH_MACHINE_NAME, MATERIAL_CODE, SPEC_CODE, EMBRYO_CODE, STRUCTURE_NAME,
            MATERIAL_DESC, MAIN_MATERIAL_DESC, EMBRYO_STOCK, SPEC_DESC, LH_TIME,
            DAILY_PLAN_QTY, SCHEDULE_DATE, SPEC_END_TIME,
            MAINTENANCE_START_TIME, MAINTENANCE_END_TIME,
            SHUTDOWN_START_TIME, SHUTDOWN_END_TIME,
            CLEANING_START_TIME, CLEANING_END_TIME, PRODUCTION_STATUS,
            CLASS1_PLAN_QTY, CLASS1_START_TIME, CLASS1_END_TIME, CLASS1_ANALYSIS, CLASS1_FINISH_QTY, CLASS1_IS_END,
            CLASS2_PLAN_QTY, CLASS2_START_TIME, CLASS2_END_TIME, CLASS2_ANALYSIS, CLASS2_FINISH_QTY, CLASS2_IS_END,
            CLASS3_PLAN_QTY, CLASS3_START_TIME, CLASS3_END_TIME, CLASS3_ANALYSIS, CLASS3_FINISH_QTY, CLASS3_IS_END,
            CLASS4_PLAN_QTY, CLASS4_START_TIME, CLASS4_END_TIME, CLASS4_ANALYSIS, CLASS4_FINISH_QTY, CLASS4_IS_END,
            CLASS5_PLAN_QTY, CLASS5_START_TIME, CLASS5_END_TIME, CLASS5_ANALYSIS, CLASS5_FINISH_QTY, CLASS5_IS_END,
            CLASS6_PLAN_QTY, CLASS6_START_TIME, CLASS6_END_TIME, CLASS6_ANALYSIS, CLASS6_FINISH_QTY, CLASS6_IS_END,
            CLASS7_PLAN_QTY, CLASS7_START_TIME, CLASS7_END_TIME, CLASS7_ANALYSIS, CLASS7_FINISH_QTY, CLASS7_IS_END,
            CLASS8_PLAN_QTY, CLASS8_START_TIME, CLASS8_END_TIME, CLASS8_ANALYSIS, CLASS8_FINISH_QTY, CLASS8_IS_END,
            IS_DELIVERY, IS_RELEASE, PUBLISH_SUCCESS_COUNT, NEWEST_PUBLISH_TIME,
            DATA_SOURCE, MOULD_QTY, SINGLE_MOULD_SHIFT_QTY, MOULD_INFO, MOULD_METHOD,
            CONSTRUCTION_STAGE, EMBRYO_NO, TEXT_NO, LH_NO, MONTH_PLAN_VERSION,
            MACHINE_ORDER, IS_TRIAL, REAL_SCHEDULE_DATE, TDAY_SPEC_END_TIME,
            IS_FIRST, MOULD_SURPLUS_QTY, IS_END, PRODUCTION_VERSION, MOULD_CODE,
            HAS_SPECIAL_MATERIAL, IS_SPLIT, SCHEDULE_ORDER, SCHEDULE_TYPE, IS_CHANGE_MOULD, TOTAL_DAILY_PLAN_QTY, IS_TYPE_BLOCK, PRODUCT_STATUS, CHANGED_TRIAL_STATUS,
            CLASS1_LH_NO, CLASS1_LH_TYPE, CLASS2_LH_NO, CLASS2_LH_TYPE, CLASS3_LH_NO, CLASS3_LH_TYPE, CLASS4_LH_NO, CLASS4_LH_TYPE,
            CLASS5_LH_NO, CLASS5_LH_TYPE, CLASS6_LH_NO, CLASS6_LH_TYPE, CLASS7_LH_NO, CLASS7_LH_TYPE, CLASS8_LH_NO, CLASS8_LH_TYPE,
            MOULD_CHANGE_START_TIME,
            DAY_N_RANGE,
            SHORTAGE_QTY,
            TOTAL_FINISH_QTY,
            STANDARD_CAPACITY,
            IS_EARLY_PRODUCTION,
            SKU_SORT_RANK,
            SKU_SORT_DESC,
            STRUCTURE_PLAN_MACHINE_COUNT_RANGE,
            STRUCTURE_SCHEDULED_MACHINE_COUNT_RANGE,
            SKU_SCHEDULED_MACHINE_COUNT_RANGE,
            IS_EMBRYO_ENDING,
            IS_STRUCTURE_MIN_MACHINE_RETAINED,
            MONTH_PLAN_SUM_TOTAL,
            CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, IS_DELETE
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.factoryCode}, #{item.batchNo}, #{item.orderNo}, #{item.lhMachineCode}, #{item.leftRightMould},
                #{item.lhMachineName}, #{item.materialCode}, #{item.specCode}, #{item.embryoCode}, #{item.structureName},
                #{item.materialDesc}, #{item.mainMaterialDesc}, #{item.embryoStock}, #{item.specDesc}, #{item.lhTime},
                #{item.dailyPlanQty}, #{item.scheduleDate}, #{item.specEndTime},
                #{item.maintenanceStartTime}, #{item.maintenanceEndTime},
                #{item.shutdownStartTime}, #{item.shutdownEndTime},
                #{item.cleaningStartTime}, #{item.cleaningEndTime}, #{item.productionStatus},
                #{item.class1PlanQty}, #{item.class1StartTime}, #{item.class1EndTime}, #{item.class1Analysis}, #{item.class1FinishQty}, #{item.class1IsEnd},
                #{item.class2PlanQty}, #{item.class2StartTime}, #{item.class2EndTime}, #{item.class2Analysis}, #{item.class2FinishQty}, #{item.class2IsEnd},
                #{item.class3PlanQty}, #{item.class3StartTime}, #{item.class3EndTime}, #{item.class3Analysis}, #{item.class3FinishQty}, #{item.class3IsEnd},
                #{item.class4PlanQty}, #{item.class4StartTime}, #{item.class4EndTime}, #{item.class4Analysis}, #{item.class4FinishQty}, #{item.class4IsEnd},
                #{item.class5PlanQty}, #{item.class5StartTime}, #{item.class5EndTime}, #{item.class5Analysis}, #{item.class5FinishQty}, #{item.class5IsEnd},
                #{item.class6PlanQty}, #{item.class6StartTime}, #{item.class6EndTime}, #{item.class6Analysis}, #{item.class6FinishQty}, #{item.class6IsEnd},
                #{item.class7PlanQty}, #{item.class7StartTime}, #{item.class7EndTime}, #{item.class7Analysis}, #{item.class7FinishQty}, #{item.class7IsEnd},
                #{item.class8PlanQty}, #{item.class8StartTime}, #{item.class8EndTime}, #{item.class8Analysis}, #{item.class8FinishQty}, #{item.class8IsEnd},
                #{item.isDelivery}, #{item.isRelease}, #{item.publishSuccessCount}, #{item.newestPublishTime},
                #{item.dataSource}, #{item.mouldQty}, #{item.singleMouldShiftQty}, #{item.mouldInfo}, #{item.mouldMethod},
                #{item.constructionStage}, #{item.embryoNo}, #{item.textNo}, #{item.lhNo}, #{item.monthPlanVersion},
                #{item.machineOrder}, #{item.isTrial}, #{item.realScheduleDate}, #{item.tdaySpecEndTime},
                #{item.isFirst}, #{item.mouldSurplusQty}, #{item.isEnd}, #{item.productionVersion}, #{item.mouldCode},
                #{item.hasSpecialMaterial}, #{item.isSplit}, #{item.scheduleOrder}, #{item.scheduleType}, #{item.isChangeMould}, #{item.totalDailyPlanQty}, #{item.isTypeBlock}, #{item.productStatus}, #{item.changedTrialStatus},
                #{item.class1LhNo}, #{item.class1LhType}, #{item.class2LhNo}, #{item.class2LhType}, #{item.class3LhNo}, #{item.class3LhType}, #{item.class4LhNo}, #{item.class4LhType},
                #{item.class5LhNo}, #{item.class5LhType}, #{item.class6LhNo}, #{item.class6LhType}, #{item.class7LhNo}, #{item.class7LhType}, #{item.class8LhNo}, #{item.class8LhType},
                #{item.mouldChangeStartTime},
                #{item.dayNRange},
                #{item.shortageQty},
                #{item.totalFinishQty},
                #{item.standardCapacity},
                #{item.isEarlyProduction},
                #{item.skuSortRank},
                #{item.skuSortDesc},
                #{item.structurePlanMachineCountRange},
                #{item.structureScheduledMachineCountRange},
                #{item.skuScheduledMachineCountRange},
                #{item.isEmbryoEnding},
                #{item.isStructureMinMachineRetained},
                #{item.monthPlanSumTotal},
                #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.remark}, #{item.isDelete}
            )
        </foreach>
    </insert>

    <select id="changeMachinePreCheck" resultType="com.zlt.aps.lh.api.domain.entity.LhScheduleResult">
        SELECT e.*
        FROM t_lh_schedule_result e
        INNER JOIN (
            SELECT DISTINCT SCHEDULE_DATE, MATERIAL_CODE
            FROM t_lh_schedule_result
            WHERE IS_DELETE = 0
            <if test="ids != null and ids.size() > 0">
                AND ID IN
                <foreach item="id" collection="ids" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
              AND LH_MACHINE_CODE = #{newMachineCode}
        ) ori
        ON e.SCHEDULE_DATE = ori.SCHEDULE_DATE AND e.MATERIAL_CODE = ori.MATERIAL_CODE
        WHERE e.IS_DELETE = 0
    </select>

    <!-- 按机台批量查询当前排程日前7天内最近一次收尾规格。 -->
    <select id="selectLatestCloseOutBeforeMaterial"
            resultType="com.zlt.aps.lh.api.domain.entity.LhScheduleResult">
        SELECT history.*
        FROM T_LH_SCHEDULE_RESULT history
        INNER JOIN (
            SELECT SUBSTRING_INDEX(
                       GROUP_CONCAT(
                           CAST(close_out.ID AS CHAR)
                           ORDER BY close_out.closeOutTime DESC,
                                    close_out.SCHEDULE_DATE DESC,
                                    close_out.ID DESC
                           SEPARATOR ','
                       ),
                       ',',
                       1
                   ) AS selectedId,
                   MAX(close_out.closeOutTime) AS closeOutTime
            FROM (
                SELECT ID,
                       LH_MACHINE_CODE,
                       SCHEDULE_DATE,
                       COALESCE(
                           CASE
                               WHEN CLASS8_IS_END = '1' THEN CLASS8_END_TIME
                               WHEN CLASS7_IS_END = '1' THEN CLASS7_END_TIME
                               WHEN CLASS6_IS_END = '1' THEN CLASS6_END_TIME
                               WHEN CLASS5_IS_END = '1' THEN CLASS5_END_TIME
                               WHEN CLASS4_IS_END = '1' THEN CLASS4_END_TIME
                               WHEN CLASS3_IS_END = '1' THEN CLASS3_END_TIME
                               WHEN CLASS2_IS_END = '1' THEN CLASS2_END_TIME
                               WHEN CLASS1_IS_END = '1' THEN CLASS1_END_TIME
                           END,
                           SPEC_END_TIME,
                           SCHEDULE_DATE
                       ) AS closeOutTime
                FROM T_LH_SCHEDULE_RESULT
                WHERE FACTORY_CODE = #{factoryCode}
                  AND SCHEDULE_DATE &gt;= DATE_SUB(#{scheduleDate}, INTERVAL 7 DAY)
                  AND SCHEDULE_DATE &lt; #{scheduleDate}
                  AND LH_MACHINE_CODE IN
                  <foreach collection="machineCodes" item="machineCode" open="(" separator="," close=")">
                      #{machineCode}
                  </foreach>
                  AND (
                      CLASS1_IS_END = '1'
                      OR CLASS2_IS_END = '1'
                      OR CLASS3_IS_END = '1'
                      OR CLASS4_IS_END = '1'
                      OR CLASS5_IS_END = '1'
                      OR CLASS6_IS_END = '1'
                      OR CLASS7_IS_END = '1'
                      OR CLASS8_IS_END = '1'
                  )
            ) close_out
            WHERE close_out.closeOutTime &lt; #{closeOutBefore}
            GROUP BY close_out.LH_MACHINE_CODE
        ) latest ON history.ID = latest.selectedId
    </select>

    <!-- 查询T-4至T-1期间在所有硫化机台上存在任一班次计划量的候选物料。 -->
    <select id="selectProducedMaterialCodes" resultType="java.lang.String">
        SELECT DISTINCT MATERIAL_CODE
        FROM T_LH_SCHEDULE_RESULT
        WHERE FACTORY_CODE = #{factoryCode}
          AND SCHEDULE_DATE &gt;= #{startDate}
          AND SCHEDULE_DATE &lt; #{endDate}
          AND MATERIAL_CODE IN
        <foreach collection="materialCodes" item="materialCode" open="(" separator="," close=")">
            #{materialCode}
        </foreach>
          AND (
              COALESCE(CLASS1_PLAN_QTY, 0) &gt; 0
              OR COALESCE(CLASS2_PLAN_QTY, 0) &gt; 0
              OR COALESCE(CLASS3_PLAN_QTY, 0) &gt; 0
              OR COALESCE(CLASS4_PLAN_QTY, 0) &gt; 0
              OR COALESCE(CLASS5_PLAN_QTY, 0) &gt; 0
              OR COALESCE(CLASS6_PLAN_QTY, 0) &gt; 0
              OR COALESCE(CLASS7_PLAN_QTY, 0) &gt; 0
              OR COALESCE(CLASS8_PLAN_QTY, 0) &gt; 0
          )
    </select>

</mapper>
