<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.lh.mapper.LhSpecialMaterialBomEntityMapper">

    <resultMap type="com.zlt.aps.lh.api.domain.entity.LhSpecialMaterialBom" id="LhSpecialMaterialBomResult">
        <result property="id" column="ID"/>
        <result property="factoryCode" column="FACTORY_CODE"/>
        <result property="structureCode" column="STRUCTURE_CODE"/>
        <result property="structureName" column="STRUCTURE_NAME"/>
        <result property="materialCode" column="MATERIAL_CODE"/>
        <result property="materialDesc" column="MATERIAL_DESC"/>
        <result property="category" column="CATEGORY"/>
        <result property="companyCode" column="COMPANY_CODE"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="remark" column="REMARK"/>
    </resultMap>

    <sql id="selectLhSpecialMaterialBomVo">
        SELECT ID, FACTORY_CODE, STRUCTURE_CODE, STRUCTURE_NAME, MATERIAL_CODE, MATERIAL_DESC,
               CATEGORY, COMPANY_CODE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, IS_DELETE, REMARK
        FROM T_LH_SPECIAL_MATERIAL_BOM
    </sql>

    <insert id="insertBatch">
        INSERT INTO T_LH_SPECIAL_MATERIAL_BOM (
            FACTORY_CODE,
            STRUCTURE_CODE,
            STRUCTURE_NAME,
            MATERIAL_CODE,
            MATERIAL_DESC,
            CATEGORY,
            COMPANY_CODE,
            CREATE_BY,
            CREATE_TIME,
            UPDATE_BY,
            UPDATE_TIME,
            REMARK
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.factoryCode},
                #{item.structureCode},
                #{item.structureName},
                #{item.materialCode},
                #{item.materialDesc},
                #{item.category},
                #{item.companyCode},
                #{item.createBy},
                #{item.createTime},
                #{item.updateBy},
                #{item.updateTime},
                #{item.remark}
            )
        </foreach>
    </insert>

    <update id="updateBatch">
        <foreach collection="list" item="item" separator=";">
            UPDATE T_LH_SPECIAL_MATERIAL_BOM
            <set>
                FACTORY_CODE = #{item.factoryCode},
                STRUCTURE_CODE = #{item.structureCode},
                STRUCTURE_NAME = #{item.structureName},
                MATERIAL_CODE = #{item.materialCode},
                MATERIAL_DESC = #{item.materialDesc},
                CATEGORY = #{item.category},
                COMPANY_CODE = #{item.companyCode},
                UPDATE_BY = #{item.updateBy},
                UPDATE_TIME = #{item.updateTime},
                REMARK = #{item.remark}
            </set>
            WHERE ID = #{item.id}
        </foreach>
    </update>

</mapper>
