<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.lh.mapper.MixMachineRecipeInfoMapper">

    <resultMap type="com.zlt.aps.lh.api.domain.entity.MixMachineRecipeInfo" id="MixMachineRecipeInfoResult">
        <result property="id" column="id"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="recipeCode" column="recipe_code"/>
        <result property="recipeTime" column="recipe_time"/>
        <result property="issueWeight" column="issue_weight"/>
        <result property="machineCode" column="machine_code"/>
        <result property="stopTime" column="stop_time"/>
        <result property="finalStockNum" column="final_stock_num"/>
        <result property="masterStockNum" column="master_stock_num"/>
        <result property="returnStockNum" column="return_stock_num"/>
        <result property="badStockNum" column="bad_stock_num"/>
        <result property="finalMaterialStockNum" column="final_material_stock_num"/>
        <result property="masterMaterialStockNum" column="master_material_stock_num"/>
        <result property="safetyStockNum" column="safety_stock_num"/>
        <result property="productName" column="product_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectMixMachineRecipeInfoVo">
        select id, factory_code, recipe_code, recipe_time, issue_weight, machine_code, stop_time, final_stock_num, master_stock_num, return_stock_num, bad_stock_num, final_material_stock_num, master_material_stock_num, safety_stock_num, product_name, create_by, create_time, update_by, update_time, del_flag, remark from t_mix_machine_recipe_info
    </sql>

    <select id="selectMixMachineRecipeInfoList" parameterType="com.zlt.aps.lh.api.domain.entity.MixMachineRecipeInfo"
            resultMap="MixMachineRecipeInfoResult">
        <include refid="selectMixMachineRecipeInfoVo"/>
        where del_flag = '0'
        <if test="factoryCode != null  and factoryCode != ''">and factory_code = #{factoryCode}</if>
        <if test="recipeCode != null  and recipeCode != ''">and recipe_code = #{recipeCode}</if>
        <if test="machineCode != null  and machineCode != ''">and machine_code = #{machineCode}</if>
        <if test="orderStr == null">
            order by create_time desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="selectMixMachineRecipeInfoById" parameterType="Long" resultMap="MixMachineRecipeInfoResult">
        <include refid="selectMixMachineRecipeInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertMixMachineRecipeInfo" parameterType="com.zlt.aps.lh.api.domain.entity.MixMachineRecipeInfo">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT MIX_MACHINE_RECIPE_SEQ.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into t_mix_machine_recipe_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="factoryCode != null">factory_code,</if>
            <if test="recipeCode != null">recipe_code,</if>
            <if test="recipeTime != null">recipe_time,</if>
            <if test="issueWeight != null">issue_weight,</if>
            <if test="machineCode != null">machine_code,</if>
            <if test="stopTime != null">stop_time,</if>
            <if test="finalStockNum != null">final_stock_num,</if>
            <if test="masterStockNum != null">master_stock_num,</if>
            <if test="returnStockNum != null">return_stock_num,</if>
            <if test="badStockNum != null">bad_stock_num,</if>
            <if test="finalMaterialStockNum != null">final_material_stock_num,</if>
            <if test="masterMaterialStockNum != null">master_material_stock_num,</if>
            <if test="safetyStockNum != null">safety_stock_num,</if>
            <if test="productName != null">product_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="factoryCode != null">#{factoryCode},</if>
            <if test="recipeCode != null">#{recipeCode},</if>
            <if test="recipeTime != null">#{recipeTime},</if>
            <if test="issueWeight != null">#{issueWeight},</if>
            <if test="machineCode != null">#{machineCode},</if>
            <if test="stopTime != null">#{stopTime},</if>
            <if test="finalStockNum != null">#{finalStockNum},</if>
            <if test="masterStockNum != null">#{masterStockNum},</if>
            <if test="returnStockNum != null">#{returnStockNum},</if>
            <if test="badStockNum != null">#{badStockNum},</if>
            <if test="finalMaterialStockNum != null">#{finalMaterialStockNum},</if>
            <if test="masterMaterialStockNum != null">#{masterMaterialStockNum},</if>
            <if test="safetyStockNum != null">#{safetyStockNum},</if>
            <if test="productName != null">#{productName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateMixMachineRecipeInfo" parameterType="com.zlt.aps.lh.api.domain.entity.MixMachineRecipeInfo">
        update t_mix_machine_recipe_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="factoryCode != null">factory_code = #{factoryCode},</if>
            <if test="recipeCode != null">recipe_code = #{recipeCode},</if>
            <if test="recipeTime != null">recipe_time = #{recipeTime},</if>
            <if test="issueWeight != null">issue_weight = #{issueWeight},</if>
            <if test="machineCode != null">machine_code = #{machineCode},</if>
            <if test="stopTime != null">stop_time = #{stopTime},</if>
            <if test="finalStockNum != null">final_stock_num = #{finalStockNum},</if>
            <if test="masterStockNum != null">master_stock_num = #{masterStockNum},</if>
            <if test="returnStockNum != null">return_stock_num = #{returnStockNum},</if>
            <if test="badStockNum != null">bad_stock_num = #{badStockNum},</if>
            <if test="finalMaterialStockNum != null">final_material_stock_num = #{finalMaterialStockNum},</if>
            <if test="masterMaterialStockNum != null">master_material_stock_num = #{masterMaterialStockNum},</if>
            <if test="safetyStockNum != null">safety_stock_num = #{safetyStockNum},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMixMachineRecipeInfoById" parameterType="Long">
        update t_mix_machine_recipe_info set del_flag='1' where id = #{id}
    </delete>

    <delete id="deleteMixMachineRecipeInfoByIds" parameterType="String">
        update t_mix_machine_recipe_info set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>