<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.lh.mapper.MixRecipeInfoMapper">

    <resultMap type="com.zlt.aps.lh.api.domain.entity.MixRecipeInfo" id="MixRecipeInfoResult">
        <result property="id" column="id"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="recipeCode" column="recipe_code"/>
        <result property="mixingTime" column="mixing_time"/>
        <result property="intervalTime" column="interval_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectMixRecipeInfoVo">
        select id, factory_code, recipe_code, mixing_time, interval_time, create_by, create_time, update_by, update_time, del_flag, remark from t_mix_recipe_info
    </sql>

    <select id="selectMixRecipeInfoList" parameterType="com.zlt.aps.lh.api.domain.entity.MixRecipeInfo"
            resultMap="MixRecipeInfoResult">
        <include refid="selectMixRecipeInfoVo"/>
        where del_flag = '0'
        <if test="factoryCode != null  and factoryCode != ''">and factory_code = #{factoryCode}</if>
        <if test="recipeCode != null  and recipeCode != ''">and recipe_code = #{recipeCode}</if>
        <if test="mixingTime != null ">and mixing_time = #{mixingTime}</if>
        <if test="orderStr == null">
            order by create_time desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="selectMixRecipeInfoById" parameterType="Long" resultMap="MixRecipeInfoResult">
        <include refid="selectMixRecipeInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertMixRecipeInfo" parameterType="com.zlt.aps.lh.api.domain.entity.MixRecipeInfo">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT MIX_RECIPE_SEQ.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into t_mix_recipe_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="factoryCode != null">factory_code,</if>
            <if test="recipeCode != null">recipe_code,</if>
            <if test="mixingTime != null">mixing_time,</if>
            <if test="intervalTime != null">interval_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="factoryCode != null">#{factoryCode},</if>
            <if test="recipeCode != null">#{recipeCode},</if>
            <if test="mixingTime != null">#{mixingTime},</if>
            <if test="intervalTime != null">#{intervalTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateMixRecipeInfo" parameterType="com.zlt.aps.lh.api.domain.entity.MixRecipeInfo">
        update t_mix_recipe_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="factoryCode != null">factory_code = #{factoryCode},</if>
            <if test="recipeCode != null">recipe_code = #{recipeCode},</if>
            <if test="mixingTime != null">mixing_time = #{mixingTime},</if>
            <if test="intervalTime != null">interval_time = #{intervalTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMixRecipeInfoById" parameterType="Long">
        update t_mix_recipe_info set del_flag='1' where id = #{id}
    </delete>

    <delete id="deleteMixRecipeInfoByIds" parameterType="String">
        update t_mix_recipe_info set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>