<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.lh.mapper.MixTakePlanMapper">

    <resultMap type="com.zlt.aps.lh.api.domain.entity.MixTakePlan" id="MixTakePlanResult">
        <result property="id" column="id"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="materialCode" column="material_code"/>
        <result property="machineName" column="machine_name"/>
        <result property="planTotalQty" column="plan_total_qty"/>
        <result property="class1PlanQty" column="class1_plan_qty"/>
        <result property="class1TakeQty" column="class1_take_qty"/>
        <result property="class2PlanQty" column="class2_plan_qty"/>
        <result property="class2TakeQty" column="class2_take_qty"/>
        <result property="class3PlanQty" column="class3_plan_qty"/>
        <result property="class3TakeQty" column="class3_take_qty"/>
        <result property="planDate" column="plan_date"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectMixTakePlanVo">
        select id, factory_code, material_code, machine_name, plan_total_qty, class1_plan_qty, class1_take_qty, class2_plan_qty, class2_take_qty, class3_plan_qty, class3_take_qty, plan_date, create_by, create_time, update_by, update_time, del_flag, remark from t_mix_take_plan
    </sql>

    <select id="selectMixTakePlanList" parameterType="com.zlt.aps.lh.api.domain.entity.MixTakePlan"
            resultMap="MixTakePlanResult">
        <include refid="selectMixTakePlanVo"/>
        where del_flag = '0'
        <if test="factoryCode != null  and factoryCode != ''">and factory_code = #{factoryCode}</if>
        <if test="materialCode != null  and materialCode != ''">and material_code = #{materialCode}</if>
        <if test="planDate != null  and planDate != ''">and plan_date = #{planDate}</if>
        <if test="orderStr == null">
            order by create_time desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="selectMixTakePlanById" parameterType="Long" resultMap="MixTakePlanResult">
        <include refid="selectMixTakePlanVo"/>
        where id = #{id}
    </select>

    <insert id="insertMixTakePlan" parameterType="com.zlt.aps.lh.api.domain.entity.MixTakePlan">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT TAKE_PLAN_SEQ.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into t_mix_take_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="factoryCode != null">factory_code,</if>
            <if test="materialCode != null">material_code,</if>
            <if test="machineName != null">machine_name,</if>
            <if test="planTotalQty != null">plan_total_qty,</if>
            <if test="class1PlanQty != null">class1_plan_qty,</if>
            <if test="class1TakeQty != null">class1_take_qty,</if>
            <if test="class2PlanQty != null">class2_plan_qty,</if>
            <if test="class2TakeQty != null">class2_take_qty,</if>
            <if test="class3PlanQty != null">class3_plan_qty,</if>
            <if test="class3TakeQty != null">class3_take_qty,</if>
            <if test="planDate != null">plan_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="factoryCode != null">#{factoryCode},</if>
            <if test="materialCode != null">#{materialCode},</if>
            <if test="machineName != null">#{machineName},</if>
            <if test="planTotalQty != null">#{planTotalQty},</if>
            <if test="class1PlanQty != null">#{class1PlanQty},</if>
            <if test="class1TakeQty != null">#{class1TakeQty},</if>
            <if test="class2PlanQty != null">#{class2PlanQty},</if>
            <if test="class2TakeQty != null">#{class2TakeQty},</if>
            <if test="class3PlanQty != null">#{class3PlanQty},</if>
            <if test="class3TakeQty != null">#{class3TakeQty},</if>
            <if test="planDate != null">#{planDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateMixTakePlan" parameterType="com.zlt.aps.lh.api.domain.entity.MixTakePlan">
        update t_mix_take_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="factoryCode != null">factory_code = #{factoryCode},</if>
            <if test="materialCode != null">material_code = #{materialCode},</if>
            <if test="machineName != null">machine_name = #{machineName},</if>
            <if test="planTotalQty != null">plan_total_qty = #{planTotalQty},</if>
            <if test="class1PlanQty != null">class1_plan_qty = #{class1PlanQty},</if>
            <if test="class1TakeQty != null">class1_take_qty = #{class1TakeQty},</if>
            <if test="class2PlanQty != null">class2_plan_qty = #{class2PlanQty},</if>
            <if test="class2TakeQty != null">class2_take_qty = #{class2TakeQty},</if>
            <if test="class3PlanQty != null">class3_plan_qty = #{class3PlanQty},</if>
            <if test="class3TakeQty != null">class3_take_qty = #{class3TakeQty},</if>
            <if test="planDate != null">plan_date = #{planDate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMixTakePlanById" parameterType="Long">
        update t_mix_take_plan set del_flag='1' where id = #{id}
    </delete>

    <delete id="deleteMixTakePlanByIds" parameterType="String">
        update t_mix_take_plan set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>