<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.gsq.engine.mapper.GsqEngineStockMapper">

    <select id="listCxPlanAndConsume" parameterType="string" resultType="com.zlt.aps.gsq.engine.vo.GsqStockConsumeVo">
        select cxr.BEAD_CODE STEEL_RING_CODE,   /*钢丝圈代码*/
               IFNULL(sum(cxr.CLASS3_PLANNED_QTY),0) CX_CLASS3_PLAN_CONSUME  /*半制品对应成型(8点-16点)计划量的消耗量(1条胎对应2个钢丝圈)*/
        from (
               SELECT r.EMBRYO_CODE,
                      r.BOM_DATA_VERSION,
                      max(ci.BEAD_CODE) BEAD_CODE, /*钢丝圈代码*/
                      sum(IFNULL(CLASS3_PLANNED_QTY, 0) + IFNULL(CLASS2_PLAN_QTY, 0)) CLASS3_PLANNED_QTY /*7点-隔天7点成型计划量*/
               FROM T_CX_SCHEDULE_RESULT r
               inner join T_PRODUCT_CONSTRUCTION_INFO ci on r.EMBRYO_CODE = ci.embryo_code and r.BOM_DATA_VERSION = ci.EMBRYO_VERSION and ci.DEL_FLAG = 0 /*施工信息表*/
               where schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
               and r.DEL_FLAG = 0
               GROUP BY r.EMBRYO_CODE,r.BOM_DATA_VERSION
              ) cxr /*成型排程结果表*/
        group by cxr.BEAD_CODE
    </select>

    <select id="listGsqStock" parameterType="string" resultType="com.zlt.aps.gsq.engine.vo.GsqStockVo">
        select MATERIAL_CODE steelRingCode, (IFNULL(STOCK_NUM,0)+IFNULL(MODIFY_NUM,0)-IFNULL(BAD_NUM,0)) STOCK_NUM
        from T_GSQ_STOCK
        where STOCK_DATE = DATE_ADD(#{stockDate}, INTERVAL -1 day) /*排程日期 要减1天，才是对应库存日期*/
        and DEL_FLAG = '0'
    </select>

    <select id="listLastDayMidPlan" resultType="com.zlt.aps.gsq.engine.vo.GsqStockConsumeVo">
        SELECT steel_ring_code, IFNULL(SUM(night_plan_qty), 0) consume
        FROM T_GSQ_SCHEDULE_RESULT
        WHERE SCHEDULE_DATE = DATE_ADD(#{scheduleDate}, INTERVAL -1 day)
          AND DEL_FLAG = '0'
        GROUP BY steel_ring_code
    </select>

    <select id="listReserveStock" resultType="com.zlt.aps.gsq.api.domain.dto.GsqReserveStockDto">
        SELECT * FROM t_gsq_reserve_stock WHERE del_flag = '0'
        <if test="codeList != null and codeList.size() > 0">
            AND steel_ring_code IN
            <foreach collection="codeList" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
    </select>
</mapper>
