<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.gsq.engine.mapper.GsqEngineMapper">

    <select id="statGsqScheduleBase" resultType="com.zlt.aps.gsq.engine.vo.GsqScheduleResultVo" parameterType="string">
        select a.*, b.CX_CLASS1_PLAN,b.CX_CLASS2_PLAN,b.CX_CLASS3_PLAN,b.CX_CLASS4_PLAN,b.CX_CLASS5_PLAN
        from (
                select max(cxr.SCHEDULE_DATE) SCHEDULE_DATE,  /*排程日期*/
                       max(cxr.BATCH_NO) TQ_BATCH_NO,     /*胎圈批次号*/
                       ci.BEAD_CODE STEEL_RING_CODE,        /*钢丝圈代码*/
                       max(ci.BEAD_TYPE) STEEL_TYPE,       /*钢丝类型*/
                       max(ci.BEAD_ARRANGE) `RANK`,         /*排列*/
                       max(ci.DIMENSION) DIMENSION,         /*寸口*/
                       1 unit_consume,     /*对应成型单耗*/
                       IFNULL(sum(txr.NIGHT_PLAN_QTY),0) LAST_MID_TQ_PLAN_QTY,  /* 胎圈前日早班计划量 */
                       IFNULL(sum(cxr.MID_PLAN_QTY),0) LAST_NIGHT_TQ_PLAN_QTY,  /* 胎圈前日夜班计划量 */
                       IFNULL(sum(cxr.NIGHT_PLAN_QTY),0) MID_PLAN_QTY,  /* 夜班计划量=胎圈早班计划量   */
                       IFNULL(sum(cxr.DAY_PLAN_QTY),0) NIGHT_PLAN_QTY,  /* 早班计划量 = 胎圈次日夜班计划量 */
                       max(cxr.CLOSE_OUT_SPEC_FLAG) CLOSE_OUT_SPEC_FLAG,
                       0 DAY_PLAN_QTY
                from T_TQ_SCHEDULE_RESULT cxr /*胎圈排程结果表*/
                inner join (SELECT TIRE_RING_CODE, MAX(BEAD_CODE) BEAD_CODE, MAX(BEAD_ARRANGE) BEAD_ARRANGE, MAX(BEAD_TYPE) BEAD_TYPE,
                                   max(Dimension) DIMENSION
                            FROM T_PRODUCT_CONSTRUCTION_INFO
                            WHERE DEL_FLAG = 0
                            <if test="productionStage == '1'.toString()">
                                and PRODUCTION_STAGE = '0'
                            </if>
                            GROUP BY TIRE_RING_CODE) ci on cxr.BEAD_CODE = ci.TIRE_RING_CODE  /*施工信息表*/
                left join (
                   SELECT BEAD_CODE, IFNULL(sum(NIGHT_PLAN_QTY),0) NIGHT_PLAN_QTY
                     FROM T_TQ_SCHEDULE_RESULT
                    WHERE schedule_date = DATE_ADD(#{scheduleDate}, INTERVAL -1 day) /*上一天的胎圈计划*/
                      AND DEL_FLAG = 0
                    GROUP BY BEAD_CODE
                ) txr ON txr.BEAD_CODE = cxr.BEAD_CODE
                where schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
                and cxr.DEL_FLAG = 0
                group by ci.BEAD_CODE) a
        left join (
        select
                           BEAD_CODE,
                           IFNULL(sum(cxr.CLASS1_PLAN_QTY*1),0) CX_CLASS1_PLAN,  /*对应成型一班的钢丝圈胶计划量=成型计划量*1   */
                           IFNULL(sum(cxr.CLASS2_PLAN_QTY*1),0) CX_CLASS2_PLAN,  /*对应成型二班的钢丝圈胶计划量*/
                           IFNULL(sum(cxr.CLASS3_PLAN_QTY*1),0) CX_CLASS3_PLAN,  /*对应成型三班的钢丝圈胶计划量*/
                           IFNULL(sum(cxr.CLASS4_PLAN_QTY*1),0) CX_CLASS4_PLAN,  /*对应成型次一班的钢丝圈胶计划量*/
                           IFNULL(sum(cxr.CLASS5_PLAN_QTY*1),0) CX_CLASS5_PLAN  /*对应成型次二班的钢丝圈胶计划量*/
                      from T_CX_SCHEDULE_RESULT cxr /*成型排程结果表*/
                      inner join T_PRODUCT_CONSTRUCTION_INFO ci on cxr.EMBRYO_CODE = ci.embryo_code and cxr.BOM_DATA_VERSION = ci.EMBRYO_VERSION /*施工信息表*/
                      where schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
                      <if test="productionStage == '1'.toString()">
                          and ci.PRODUCTION_STAGE = '0'
                      </if>
                      and cxr.DEL_FLAG = 0
                      and ci.DEL_FLAG = 0
        group by ci.BEAD_CODE
        ) b on a.STEEL_RING_CODE = b.BEAD_CODE
      WHERE LAST_MID_TQ_PLAN_QTY > 0
         OR LAST_NIGHT_TQ_PLAN_QTY > 0
         OR MID_PLAN_QTY > 0
         OR NIGHT_PLAN_QTY > 0
    </select>

    <select id="listQuotaParam" parameterType="string" resultType="com.zlt.aps.gsq.engine.vo.GsqQuotaParam">
        select ci.BEAD_CODE STEEL_RING_CODE,   /*钢丝圈代码*/
               GROUP_CONCAT(DISTINCT concat(cxr.CX_MACHINE_CODE,'$',cxr.EMBRYO_CODE,'$',cxr.BOM_DATA_VERSION) order by cxr.CX_MACHINE_CODE,cxr.EMBRYO_CODE,cxr.BOM_DATA_VERSION SEPARATOR ',') as quotaKeys /*机台code$胎胚代码*/
        from T_CX_SCHEDULE_RESULT cxr /*成型排程结果表*/
        inner join T_PRODUCT_CONSTRUCTION_INFO ci on cxr.EMBRYO_CODE = ci.embryo_code and cxr.BOM_DATA_VERSION = ci.EMBRYO_VERSION /*施工信息表*/
        where schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
        and cxr.DEL_FLAG = 0
        and ci.DEL_FLAG = 0
        <if test="productionStage == '1'.toString()">
            and ci.PRODUCTION_STAGE = '0'
        </if>
        group by ci.BEAD_CODE
    </select>

    <insert id="syncGsqScheduleToLog">
        insert into T_GSQ_SCHEDULE_RESULT_LOG (ID, SCHEDULE_DATE, TQ_BATCH_NO, BATCH_NO, ORDER_NO, STEEL_TYPE, STEEL_RING_CODE,
                                               `RANK`, MACHINE_ID, UNIT_CONSUME, STOCK_QTY, SUPPLY_TIME, MID_PLAN_QTY, MID_FINISH_QTY, MID_PRODUCE_ORDER, MID_FINISH_RATE,
                                               MID_SYS_ANALYSIS, MID_HAND_ANALYSIS, NIGHT_PLAN_QTY, NIGHT_FINISH_QTY, NIGHT_PRODUCE_ORDER, NIGHT_FINISH_RATE,
                                               NIGHT_SYS_ANALYSIS, NIGHT_HAND_ANALYSIS, DAY_PLAN_QTY, DAY_FINISH_QTY, DAY_PRODUCE_ORDER, DAY_FINISH_RATE,
                                               DAY_SYS_ANALYSIS, DAY_HAND_ANALYSIS, CX_CLASS1_PLAN, CX_CLASS2_PLAN, CX_CLASS3_PLAN, CX_CLASS4_PLAN, CX_CLASS5_PLAN,
                                               IS_RELEASE, MARK_CLOSE_OUT_TIP, PRODUCTION_STATUS, REMARK, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME,data_source,
                                               PUBLISH_SUCCESS_COUNT, NEWEST_PUBLISH_TIME)
        select ID, SCHEDULE_DATE, TQ_BATCH_NO, BATCH_NO, ORDER_NO, STEEL_TYPE, STEEL_RING_CODE,
               `RANK`, MACHINE_ID, UNIT_CONSUME, STOCK_QTY, SUPPLY_TIME, MID_PLAN_QTY, MID_FINISH_QTY, MID_PRODUCE_ORDER, MID_FINISH_RATE,
               MID_SYS_ANALYSIS, MID_HAND_ANALYSIS, NIGHT_PLAN_QTY, NIGHT_FINISH_QTY, NIGHT_PRODUCE_ORDER, NIGHT_FINISH_RATE,
               NIGHT_SYS_ANALYSIS, NIGHT_HAND_ANALYSIS, DAY_PLAN_QTY, DAY_FINISH_QTY, DAY_PRODUCE_ORDER, DAY_FINISH_RATE,
               DAY_SYS_ANALYSIS, DAY_HAND_ANALYSIS, CX_CLASS1_PLAN, CX_CLASS2_PLAN, CX_CLASS3_PLAN, CX_CLASS4_PLAN, CX_CLASS5_PLAN,
               IS_RELEASE, MARK_CLOSE_OUT_TIP, PRODUCTION_STATUS, REMARK, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME,data_source,
               PUBLISH_SUCCESS_COUNT, NEWEST_PUBLISH_TIME
        from T_GSQ_SCHEDULE_RESULT
        where schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
    </insert>

    <delete id="deleteGsqSchedule" parameterType="string">
        delete from T_GSQ_SCHEDULE_RESULT where schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
    </delete>

    <update id="deleteGsqAssistSchedule" parameterType="string">
        update T_GSQ_ASSIST_SCHEDULE set DEL_FLAG = '1', UPDATE_TIME = NOW() where schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
    </update>

    <insert id="createScheduleRecord" parameterType="map">
        insert into T_GSQ_AUTO_SCHEDULE_RECORD (ID, TQ_BATCH_NO, BATCH_NO, STATUS, SCHEDULE_DATE, CREATE_BY, CREATE_TIME, DEL_FLAG)
        values (NULL, #{tqBatchNo}, #{batchNo}, '0', STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d'), #{userName}, NOW(),  '0')
    </insert>

    <insert id="batchCreateScheduleResult" parameterType="list">
        insert into T_GSQ_SCHEDULE_RESULT (ID, SCHEDULE_DATE, TQ_BATCH_NO, BATCH_NO, ORDER_NO, STEEL_TYPE, STEEL_RING_CODE,
                                           `RANK`, MACHINE_ID, UNIT_CONSUME, STOCK_QTY, SUPPLY_TIME, MID_PLAN_QTY, MID_PRODUCE_ORDER,
                                           MID_SYS_ANALYSIS, MID_HAND_ANALYSIS, NIGHT_PLAN_QTY, NIGHT_PRODUCE_ORDER,
                                           NIGHT_SYS_ANALYSIS, NIGHT_HAND_ANALYSIS, DAY_PLAN_QTY, DAY_PRODUCE_ORDER,
                                           DAY_SYS_ANALYSIS, DAY_HAND_ANALYSIS,CX_CLASS1_PLAN, CX_CLASS2_PLAN, CX_CLASS3_PLAN, CX_CLASS4_PLAN, CX_CLASS5_PLAN,
        IS_RELEASE, MARK_CLOSE_OUT_TIP, PRODUCTION_STATUS, REMARK, DEL_FLAG, CREATE_BY,
        CREATE_TIME,PUBLISH_SUCCESS_COUNT, NEWEST_PUBLISH_TIME, last_mid_plan_qty)
        values

              <foreach collection="scheduleResultList" item="schedule" separator=",">
                   (NULL,
                          #{schedule.scheduleDate}, #{schedule.tqBatchNo,jdbcType=VARCHAR}, #{schedule.batchNo}, #{schedule.orderNo}, #{schedule.steelType,jdbcType=VARCHAR}, #{schedule.steelRingCode,jdbcType=VARCHAR},
                          #{schedule.rank,jdbcType=VARCHAR}, #{schedule.machineId,jdbcType=VARCHAR}, #{schedule.unitConsume,jdbcType=DOUBLE}, #{schedule.stockQty,jdbcType=DOUBLE}, #{schedule.supplyTime,jdbcType=DOUBLE}, #{schedule.midPlanQty,jdbcType=DOUBLE}, #{schedule.midProduceOrder,jdbcType=DOUBLE},
                          #{schedule.midSysAnalysis,jdbcType=VARCHAR}, #{schedule.midHandAnalysis,jdbcType=VARCHAR}, #{schedule.nightPlanQty,jdbcType=DOUBLE},  #{schedule.nightProduceOrder,jdbcType=DOUBLE},
                          #{schedule.nightSysAnalysis,jdbcType=VARCHAR}, #{schedule.nightHandAnalysis,jdbcType=VARCHAR}, #{schedule.dayPlanQty,jdbcType=DOUBLE}, #{schedule.dayProduceOrder,jdbcType=DOUBLE},
                          #{schedule.daySysAnalysis,jdbcType=VARCHAR}, #{schedule.dayHandAnalysis,jdbcType=VARCHAR},#{schedule.cxClass1Plan,jdbcType=DOUBLE},#{schedule.cxClass2Plan,jdbcType=DOUBLE},#{schedule.cxClass3Plan,jdbcType=DOUBLE},#{schedule.cxClass4Plan,jdbcType=DOUBLE},#{schedule.cxClass5Plan,jdbcType=DOUBLE},
                  #{schedule.isRelease}, #{schedule.markCloseOutTip}, #{schedule.productionStatus},
                  #{schedule.remark,jdbcType=VARCHAR}, #{schedule.delFlag}, #{schedule.createBy},
                  #{schedule.createTime},IFNULL(#{schedule.publishSuccessCount,jdbcType=DOUBLE},0),#{schedule.newestPublishTime,jdbcType=DATE},
                  #{schedule.lastMidPlanQty,jdbcType=DOUBLE}
                  )
              </foreach>
    </insert>

    <insert id="batchCreateAssistScheduleResult" parameterType="list">
        insert into T_GSQ_ASSIST_SCHEDULE (ID, SCHEDULE_DATE, TQ_BATCH_NO, BATCH_NO, ORDER_NO, STEEL_TYPE, STEEL_RING_CODE,
                                           `RANK`, MACHINE_ID, UNIT_CONSUME, STOCK_QTY, SUPPLY_TIME, MID_PLAN_QTY, MID_PRODUCE_ORDER,
                                           MID_SYS_ANALYSIS, MID_HAND_ANALYSIS, NIGHT_PLAN_QTY, NIGHT_PRODUCE_ORDER,
                                           NIGHT_SYS_ANALYSIS, NIGHT_HAND_ANALYSIS, DAY_PLAN_QTY, DAY_PRODUCE_ORDER,
                                           DAY_SYS_ANALYSIS, DAY_HAND_ANALYSIS,CX_CLASS1_PLAN, CX_CLASS2_PLAN, CX_CLASS3_PLAN, CX_CLASS4_PLAN, CX_CLASS5_PLAN,
                                           IS_RELEASE, MARK_CLOSE_OUT_TIP, PRODUCTION_STATUS, REMARK, DEL_FLAG, CREATE_BY, CREATE_TIME)
        values
              <foreach collection="scheduleResultList" item="schedule" separator=",">
                   (NULL,
                          #{schedule.scheduleDate}, #{schedule.tqBatchNo}, #{schedule.batchNo}, #{schedule.orderNo}, #{schedule.steelType,jdbcType=VARCHAR}, #{schedule.steelRingCode,jdbcType=VARCHAR},
                          #{schedule.rank,jdbcType=VARCHAR}, #{schedule.machineId,jdbcType=VARCHAR}, #{schedule.unitConsume,jdbcType=DOUBLE}, #{schedule.stockQty,jdbcType=DOUBLE}, #{schedule.supplyTime,jdbcType=DOUBLE}, #{schedule.midPlanQty,jdbcType=DOUBLE}, #{schedule.midProduceOrder,jdbcType=DOUBLE},
                          #{schedule.midSysAnalysis,jdbcType=VARCHAR}, #{schedule.midHandAnalysis,jdbcType=VARCHAR}, #{schedule.nightPlanQty,jdbcType=DOUBLE},  #{schedule.nightProduceOrder,jdbcType=DOUBLE},
                          #{schedule.nightSysAnalysis,jdbcType=VARCHAR}, #{schedule.nightHandAnalysis,jdbcType=VARCHAR}, #{schedule.dayPlanQty,jdbcType=DOUBLE}, #{schedule.dayProduceOrder,jdbcType=DOUBLE},
                          #{schedule.daySysAnalysis,jdbcType=VARCHAR}, #{schedule.dayHandAnalysis,jdbcType=VARCHAR},#{schedule.cxClass1Plan,jdbcType=DOUBLE},#{schedule.cxClass2Plan,jdbcType=DOUBLE},#{schedule.cxClass3Plan,jdbcType=DOUBLE},#{schedule.cxClass4Plan,jdbcType=DOUBLE},#{schedule.cxClass5Plan,jdbcType=DOUBLE},
                          #{schedule.isRelease}, #{schedule.markCloseOutTip}, #{schedule.productionStatus}, #{schedule.remark,jdbcType=VARCHAR}, #{schedule.delFlag}, #{schedule.createBy}, #{schedule.createTime}
                  )
              </foreach>
    </insert>

    <select id="listGsqParams" resultType="com.zlt.aps.gsq.engine.vo.GsqParamsVo">
        select param_code, param_value
        from T_GSQ_PARAMS
        where DEL_FLAG = '0'
    </select>

    <select id="getGsqCurrentBatchNo" resultType="string" parameterType="string">
        SELECT MAX(BATCH_NO) BATCH_NO
        FROM t_gsq_auto_schedule_record
        where schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
    </select>

    <select id="listGsqScheduleBaseInfo" parameterType="string" resultType="com.zlt.aps.gsq.engine.vo.GsqScheduleBaseInfoVo">
        select c.BEAD_CODE steelRingCode,
               max(c.BEAD_ARRANGE) `RANK`,
               max(c.BEAD_TYPE) steelType
        from T_CONSTRUCTION_VERSION_INFO c
        where c.Del_Flag = '0'
        <if test="productionStage == '1'.toString()">
            and PRODUCTION_STAGE = '0'
        </if>
        and c.BEAD_CODE in <foreach collection="steelRingCodes" item="steelRingCode" open="(" close=")" separator=",">#{steelRingCode}</foreach>
        group by c.BEAD_CODE
    </select>

    <select id="listGsqEnginSchedule" resultType="com.zlt.aps.gsq.engine.vo.GsqScheduleResultVo">
        select ID, SCHEDULE_DATE, TQ_BATCH_NO, BATCH_NO, ORDER_NO, STEEL_TYPE, STEEL_RING_CODE, `RANK`, MACHINE_ID, UNIT_CONSUME, STOCK_QTY, SUPPLY_TIME, IFNULL(MID_PLAN_QTY,0) MID_PLAN_QTY, MID_FINISH_QTY,
               MID_PRODUCE_ORDER, MID_FINISH_RATE, MID_SYS_ANALYSIS, MID_HAND_ANALYSIS, IFNULL(NIGHT_PLAN_QTY, 0) NIGHT_PLAN_QTY, NIGHT_FINISH_QTY, NIGHT_PRODUCE_ORDER, NIGHT_FINISH_RATE, NIGHT_SYS_ANALYSIS,
               NIGHT_HAND_ANALYSIS, IFNULL(DAY_PLAN_QTY,0) DAY_PLAN_QTY, DAY_FINISH_QTY, DAY_PRODUCE_ORDER, DAY_FINISH_RATE, DAY_SYS_ANALYSIS, DAY_HAND_ANALYSIS, CX_CLASS1_PLAN, CX_CLASS2_PLAN, CX_CLASS3_PLAN,
               CX_CLASS4_PLAN, CX_CLASS5_PLAN, IS_RELEASE, MARK_CLOSE_OUT_TIP, PRODUCTION_STATUS, REMARK, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, DATA_SOURCE,PUBLISH_SUCCESS_COUNT, NEWEST_PUBLISH_TIME
        from t_gsq_schedule_result r
        where schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
        and DEL_FLAG = 0
    </select>

    <insert id="mergeGsqScheduleResult">
        INSERT INTO t_gsq_schedule_result (
        schedule_date, tq_batch_no, batch_no, order_no, steel_type, steel_ring_code, `RANK`, machine_id,
        unit_consume, stock_qty, supply_time, mid_plan_qty, mid_produce_order, mid_sys_analysis,
        mid_hand_analysis, night_plan_qty, night_produce_order, night_sys_analysis, night_hand_analysis,
        day_plan_qty, day_produce_order, day_sys_analysis, day_hand_analysis, is_release, mark_close_out_tip,
        production_status, remark, del_flag, create_by, create_time, data_source, cx_class1_plan,
        cx_class2_plan, cx_class3_plan, cx_class4_plan, cx_class5_plan
        )
        VALUES
        <foreach collection="scheduleResultList" item="schedule" separator=",">
            (
            #{schedule.scheduleDate},
            #{schedule.tqBatchNo,jdbcType=VARCHAR},
            #{schedule.batchNo,jdbcType=VARCHAR},
            #{schedule.orderNo,jdbcType=VARCHAR},
            #{schedule.steelType,jdbcType=VARCHAR},
            #{schedule.steelRingCode,jdbcType=VARCHAR},
            #{schedule.rank,jdbcType=VARCHAR},
            #{schedule.machineId,jdbcType=VARCHAR},
            #{schedule.unitConsume,jdbcType=DOUBLE},
            #{schedule.stockQty,jdbcType=DOUBLE},
            #{schedule.supplyTime,jdbcType=DOUBLE},
            #{schedule.midPlanQty,jdbcType=DOUBLE},
            #{schedule.midProduceOrder,jdbcType=DOUBLE},
            #{schedule.midSysAnalysis,jdbcType=VARCHAR},
            #{schedule.midHandAnalysis,jdbcType=VARCHAR},
            #{schedule.nightPlanQty,jdbcType=DOUBLE},
            #{schedule.nightProduceOrder,jdbcType=DOUBLE},
            #{schedule.nightSysAnalysis,jdbcType=VARCHAR},
            #{schedule.nightHandAnalysis,jdbcType=VARCHAR},
            #{schedule.dayPlanQty,jdbcType=DOUBLE},
            #{schedule.dayProduceOrder,jdbcType=DOUBLE},
            #{schedule.daySysAnalysis,jdbcType=VARCHAR},
            #{schedule.dayHandAnalysis,jdbcType=VARCHAR},
            #{schedule.isRelease,jdbcType=VARCHAR},
            #{schedule.markCloseOutTip,jdbcType=VARCHAR},
            #{schedule.productionStatus,jdbcType=VARCHAR},
            #{schedule.remark,jdbcType=VARCHAR},
            '0',
            #{schedule.createBy,jdbcType=VARCHAR},
            NOW(),
            #{schedule.dataSource,jdbcType=VARCHAR},
            #{schedule.cxClass1Plan,jdbcType=DOUBLE},
            #{schedule.cxClass2Plan,jdbcType=DOUBLE},
            #{schedule.cxClass3Plan,jdbcType=DOUBLE},
            #{schedule.cxClass4Plan,jdbcType=DOUBLE},
            #{schedule.cxClass5Plan,jdbcType=DOUBLE}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        mid_plan_qty = VALUES(mid_plan_qty),
        mid_hand_analysis = VALUES(mid_hand_analysis),
        night_plan_qty = VALUES(night_plan_qty),
        night_hand_analysis = VALUES(night_hand_analysis),
        day_plan_qty = VALUES(day_plan_qty),
        day_hand_analysis = VALUES(day_hand_analysis),
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark),
        data_source = VALUES(data_source),
        cx_class1_plan = VALUES(cx_class1_plan),
        cx_class2_plan = VALUES(cx_class2_plan),
        cx_class3_plan = VALUES(cx_class3_plan),
        cx_class4_plan = VALUES(cx_class4_plan),
        cx_class5_plan = VALUES(cx_class5_plan)
    </insert>

    <select id="listGsqNeedConstruction" resultType="com.zlt.aps.common.engine.domain.EngineConstructionInfo">
        select concat(cxr.EMBRYO_CODE , ',' ,ci.EMBRYO_CODE) EMBRYO_CODE,  /*成型排程胎胚代码，施工表的胎胚代码*/
               concat(cxr.BOM_DATA_VERSION , ',' , ci.EMBRYO_VERSION) as BOM_DATA_VERSION, /*成型排程胎胚版本，施工表的胎胚版本*/
               ci.BEAD_CODE,   /*钢丝圈代码*/
               ci.BEAD_TYPE,
               ci.BEAD_ARRANGE,   /*排列*/
               ci.DIMENSION  /*寸口*/
        from (
              select EMBRYO_CODE,BOM_DATA_VERSION
              from T_CX_SCHEDULE_RESULT
              where DEL_FLAG = 0
              and schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
              group by EMBRYO_CODE, BOM_DATA_VERSION
              ) cxr /*成型排程结果表*/
        left join T_PRODUCT_CONSTRUCTION_INFO ci on cxr.EMBRYO_CODE = ci.embryo_code and cxr.BOM_DATA_VERSION = ci.EMBRYO_VERSION and ci.DEL_FLAG = 0 /*施工信息表*/
        where 1=1
        <if test="productionStage == '1'.toString()">
            and (ci.PRODUCTION_STAGE = '0' or ci.PRODUCTION_STAGE is null)
        </if>
    </select>

    <select id="listAssistSpec" resultType="string">
        select MATERIAL_CODE
        from T_GSQ_ASSIST_SPEC
        where DEL_FLAG='0'
    </select>

    <update id="batchUpdateBatchNoAndOrderNo">
        UPDATE T_GSQ_SCHEDULE_RESULT as a
        JOIN (
        <foreach item="item" collection="list" separator=" UNION ALL ">
            SELECT #{item.id} AS id, #{item.batchNo} as batch_no, #{item.orderNo} as order_no FROM DUAL
        </foreach>
        ) tempTable ON a.id = tempTable.id
        SET
        a.batch_no = tempTable.batch_no,
        a.order_no = tempTable.order_no
        where a.del_flag = '0'
    </update>
</mapper>
