<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.nc.engine.mapper.NcEngineStockMapper">

    <select id="listCxPlanAndConsume" parameterType="string" resultType="com.zlt.aps.nc.engine.vo.NcStockConsumeVo">
        select cxr.INSIDE_CODE LINING_CODE,   /*内衬代码*/
               IFNULL(sum(cxr.CLASS1_PLAN_QTY*cxr.INSIDE_LENGTH/1000),0) CX_CLASS1_PLAN_CONSUME  /*成型今日早班计划*/
        from (
               SELECT r.EMBRYO_CODE,
                      r.BOM_DATA_VERSION,
                      max(ci.INSIDE_CODE) INSIDE_CODE, /*内衬代码*/
                      max(ci.INSIDE_LENGTH) INSIDE_LENGTH,  /*胎侧长*/
                      sum(IFNULL(r.CLASS3_PLANNED_QTY, 0) + IFNULL(r.CLASS2_PLAN_QTY, 0)) CLASS1_PLAN_QTY /*成型今日早班计划计划量*/
               FROM T_CX_SCHEDULE_RESULT r
               inner join T_PRODUCT_CONSTRUCTION_INFO ci on r.EMBRYO_CODE = ci.embryo_code and r.BOM_DATA_VERSION = ci.EMBRYO_VERSION and ci.DEL_FLAG = 0 /*施工信息表*/
               where schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
               and r.DEL_FLAG = 0
               GROUP BY r.EMBRYO_CODE,r.BOM_DATA_VERSION
              ) cxr /*成型排程结果表*/
        group by cxr.INSIDE_CODE
    </select>

    <select id="listNcStock" parameterType="string" resultType="com.zlt.aps.nc.engine.vo.NcStockVo">
        select MATERIAL_CODE                                                          liningCode,
               SUM(IFNULL(STOCK_NUM, 0) + IFNULL(MODIFY_NUM, 0) - IFNULL(BAD_NUM, 0)) STOCK_NUM
        from T_NC_STOCK
        where STOCK_DATE = DATE_ADD(#{stockDate}, INTERVAL -1 DAY) /*排程日期 要减1天，才是对应库存日期*/
        and DEL_FLAG = '0'
        GROUP BY MATERIAL_CODE
    </select>

    <select id="listLastDayMidPlan" resultType="com.zlt.aps.nc.engine.vo.NcStockConsumeVo">
        SELECT LINING_CODE, IFNULL(SUM(night_plan_qty), 0) consume
        FROM T_NC_SCHEDULE_RESULT
        WHERE SCHEDULE_DATE = DATE_ADD(#{scheduleDate}, INTERVAL -1 DAY)
          AND DEL_FLAG = '0'
        GROUP BY LINING_CODE
    </select>
</mapper>
