<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.factory.mapper.FactoryMonthPlanProductionFinalMapper">

    <select id="getStatisticsDay" resultType="com.zlt.aps.monthplan.api.domain.vo.DayProductionTotalVo">
        SELECT 1 AS DAYS,
               COUNT(DISTINCT PRODUCT_CODE) AS DAY_COUNT,
               SUM(DAY_1) AS QTY
          FROM t_mp_month_plan_production_final
         WHERE PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR}
           AND DAY_1 > 0
        <foreach collection="days" item="day" index="index">
         UNION ALL
        SELECT ${day} AS DAYS,
               COUNT(DISTINCT PRODUCT_CODE) AS DAY_COUNT,
               SUM(DAY_${day}) AS QTY
          FROM t_mp_month_plan_production_final
         WHERE PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR}
           AND DAY_${day} > 0
        </foreach>
    </select>

    <select id="selectParamList"
            resultType="com.zlt.aps.monthplan.api.domain.entity.FactoryMonthPlanProdFinal">
        select
            *,
        (SELECT t_mdm_material_info.COMMON_TYPE FROM t_mdm_material_info WHERE
        t_mdm_material_info.PRODUCT_CODE=t_mp_month_plan_production_final.PRODUCT_CODE AND
        t_mdm_material_info.IS_DELETE='0' LIMIT 1) AS LOCATION_TYPE
        from
            t_mp_month_plan_production_final
        where IS_DELETE = 0
        <!-- 目前能保证五个字段都不能为空，暂不考虑拼接的方式 -->
        and (YEAR, MONTH, FACTORY_CODE, PRODUCT_CODE, SPEC_CODE) in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            (#{item.year}, #{item.month}, #{item.factoryCode}, #{item.productCode}, #{item.specCode})
        </foreach>
    </select>

    <update id="updateByProductionNo">
        update t_mp_month_plan_production_final a
        JOIN (
        <foreach item="item" collection="list" separator=" UNION ALL ">
            SELECT
                #{item.factoryCode} AS FACTORY_CODE,
                #{item.year} AS `YEAR`,
                #{item.month} AS `MONTH`,
                #{item.yearMonth} AS `YEAR_MONTH`,
                #{item.productionNo} AS PRODUCTION_NO,
                #{item.monthPlanVersion} AS MONTH_PLAN_VERSION,
                #{item.productionVersion} AS PRODUCTION_VERSION,
                #{item.productCode} AS PRODUCT_CODE,
                #{item.productDesc} AS PRODUCT_DESC,
                #{item.constructionStage} AS CONSTRUCTION_STAGE,
                #{item.mouldMethod} AS MOULD_METHOD,
                #{item.embryoCode} AS EMBRYO_CODE,
                #{item.specCode} AS SPEC_CODE,
                #{item.specCodeInfo} AS SPEC_CODE_INFO,
                #{item.brand} AS BRAND,
                #{item.proSize} AS PRO_SIZE,
                #{item.specifications} AS SPECIFICATIONS,
                #{item.pattern} AS PATTERN,
                #{item.hierarchy} AS HIERARCHY,
                #{item.levelCode} AS LEVEL_CODE,
                #{item.levelName} AS LEVEL_NAME,
                #{item.productTypeCode} AS PRODUCT_TYPE_CODE,
                #{item.productTypeName} AS PRODUCT_TYPE_NAME,
                #{item.isDeliveryDate} AS IS_DELIVERY_DATE,
                #{item.isContinue} AS IS_CONTINUE,
                #{item.isImport} AS IS_IMPORT,
                #{item.isImportantCustom} AS IS_IMPORTANT_CUSTOM,
                #{item.isEnsurePlan} AS IS_ENSURE_PLAN,
                #{item.isEmergency} AS IS_EMERGENCY,
                #{item.isDebitPlan} AS IS_DEBIT_PLAN,
                #{item.isStockUp} AS IS_STOCK_UP,
                #{item.curingTime} AS CURING_TIME,
                #{item.prodReqPlan} AS PROD_REQ_PLAN,
                #{item.factProdReqQty} AS FACT_PROD_REQ_QTY,
                #{item.totalQty} AS TOTAL_QTY,
                #{item.differenceQty} AS DIFFERENCE_QTY,
                #{item.reason} AS REASON,
                #{item.mouldNo} AS MOULD_NO,
                #{item.mouldQty} AS MOULD_QTY,
                #{item.mouldInfo} AS MOULD_INFO,
                #{item.shareMould} AS SHARE_MOULD,
                #{item.orderQty} AS ORDER_QTY,
                #{item.locationRequirementInfo} AS LOCATION_REQUIREMENT_INFO,
                #{item.channelRequirementInfo} AS CHANNEL_REQUIREMENT_INFO,
                #{item.monthStock} AS MONTH_STOCK,
                #{item.allocationQty} AS ALLOCATION_QTY,
                #{item.averageValue} AS AVERAGE_VALUE,
                #{item.factor} AS FACTOR,
                #{item.stockUpQty} AS STOCK_UP_QTY,
                #{item.netDemandQty} AS NET_DEMAND_QTY,
                #{item.stockUpDemandQty} AS STOCK_UP_DEMAND_QTY,
                #{item.beginDate} AS BEGIN_DATE,
                #{item.endDay} AS END_DAY,
                #{item.preDay1} AS PRE_DAY_1,
                #{item.preDay2} AS PRE_DAY_2,
                #{item.preDay3} AS PRE_DAY_3,
                #{item.preDay4} AS PRE_DAY_4,
                #{item.preDay5} AS PRE_DAY_5,
                #{item.preDay6} AS PRE_DAY_6,
                #{item.preDay7} AS PRE_DAY_7,
                #{item.day1} AS DAY_1,
                #{item.day2} AS DAY_2,
                #{item.day3} AS DAY_3,
                #{item.day4} AS DAY_4,
                #{item.day5} AS DAY_5,
                #{item.day6} AS DAY_6,
                #{item.day7} AS DAY_7,
                #{item.day8} AS DAY_8,
                #{item.day9} AS DAY_9,
                #{item.day10} AS DAY_10,
                #{item.day11} AS DAY_11,
                #{item.day12} AS DAY_12,
                #{item.day13} AS DAY_13,
                #{item.day14} AS DAY_14,
                #{item.day15} AS DAY_15,
                #{item.day16} AS DAY_16,
                #{item.day17} AS DAY_17,
                #{item.day18} AS DAY_18,
                #{item.day19} AS DAY_19,
                #{item.day20} AS DAY_20,
                #{item.day21} AS DAY_21,
                #{item.day22} AS DAY_22,
                #{item.day23} AS DAY_23,
                #{item.day24} AS DAY_24,
                #{item.day25} AS DAY_25,
                #{item.day26} AS DAY_26,
                #{item.day27} AS DAY_27,
                #{item.day28} AS DAY_28,
                #{item.day29} AS DAY_29,
                #{item.day30} AS DAY_30,
                #{item.day31} AS DAY_31,
                #{item.totalVulcanizationMinutes} AS TOTAL_VULCANIZATION_MINUTES,
                #{item.remark} AS REMARK,
                0 AS IS_DELETE,
                #{item.updateTime} AS UPDATE_TIME,
                #{item.updateBy} AS UPDATE_BY
            FROM DUAL
        </foreach>
        ) temp ON a.PRODUCTION_NO = temp.PRODUCTION_NO
        set a.FACTORY_CODE = temp.FACTORY_CODE,
            a.YEAR = temp.YEAR,
            a.MONTH = temp.MONTH,
            a.YEAR_MONTH = temp.YEAR_MONTH,
            a.PRODUCT_CODE = temp.PRODUCT_CODE,
            a.PRODUCT_DESC = temp.PRODUCT_DESC,
            a.CONSTRUCTION_STAGE = temp.CONSTRUCTION_STAGE,
            a.MOULD_METHOD = temp.MOULD_METHOD,
            a.EMBRYO_CODE = temp.EMBRYO_CODE,
            a.SPEC_CODE = temp.SPEC_CODE,
            a.SPEC_CODE_INFO = temp.SPEC_CODE_INFO,
            a.BRAND = temp.BRAND,
            a.PRO_SIZE = temp.PRO_SIZE,
            a.SPECIFICATIONS = temp.SPECIFICATIONS,
            a.PATTERN = temp.PATTERN,
            a.HIERARCHY = temp.HIERARCHY,
            a.LEVEL_CODE = temp.LEVEL_CODE,
            a.LEVEL_NAME = temp.LEVEL_NAME,
            a.PRODUCT_TYPE_CODE = temp.PRODUCT_TYPE_CODE,
            a.PRODUCT_TYPE_NAME = temp.PRODUCT_TYPE_NAME,
            a.IS_DELIVERY_DATE = temp.IS_DELIVERY_DATE,
            a.IS_CONTINUE = temp.IS_CONTINUE,
            a.IS_IMPORTANT_CUSTOM = temp.IS_IMPORTANT_CUSTOM,
            a.IS_ENSURE_PLAN = temp.IS_ENSURE_PLAN,
            a.IS_EMERGENCY = temp.IS_EMERGENCY,
            a.IS_DEBIT_PLAN = temp.IS_DEBIT_PLAN,
            a.IS_STOCK_UP = temp.IS_STOCK_UP,
            a.IS_IMPORT = temp.IS_IMPORT,
            a.CURING_TIME = temp.CURING_TIME,
            a.PROD_REQ_PLAN = temp.PROD_REQ_PLAN,
            a.FACT_PROD_REQ_QTY = temp.FACT_PROD_REQ_QTY,
            a.TOTAL_QTY = temp.TOTAL_QTY,
            a.DIFFERENCE_QTY = temp.DIFFERENCE_QTY,
            a.REASON = temp.REASON,
            a.MOULD_NO = temp.MOULD_NO,
            a.MOULD_QTY = temp.MOULD_QTY,
            a.MOULD_INFO = temp.MOULD_INFO,
            a.SHARE_MOULD = temp.SHARE_MOULD,
            a.ORDER_QTY = temp.ORDER_QTY,
            a.LOCATION_REQUIREMENT_INFO = temp.LOCATION_REQUIREMENT_INFO,
            a.CHANNEL_REQUIREMENT_INFO = temp.CHANNEL_REQUIREMENT_INFO,
            a.MONTH_STOCK = temp.MONTH_STOCK,
            a.ALLOCATION_QTY = temp.ALLOCATION_QTY,
            a.AVERAGE_VALUE = temp.AVERAGE_VALUE,
            a.FACTOR = temp.FACTOR,
            a.STOCK_UP_QTY = temp.STOCK_UP_QTY,
            a.NET_DEMAND_QTY = temp.NET_DEMAND_QTY,
            a.STOCK_UP_DEMAND_QTY = temp.STOCK_UP_DEMAND_QTY,
            a.BEGIN_DATE = temp.BEGIN_DATE,
            a.END_DAY = temp.END_DAY,
            a.PRE_DAY_1 = temp.PRE_DAY_1,
            a.PRE_DAY_2 = temp.PRE_DAY_2,
            a.PRE_DAY_3 = temp.PRE_DAY_3,
            a.PRE_DAY_4 = temp.PRE_DAY_4,
            a.PRE_DAY_5 = temp.PRE_DAY_5,
            a.PRE_DAY_6 = temp.PRE_DAY_6,
            a.PRE_DAY_7 = temp.PRE_DAY_7,
            a.DAY_1 = temp.DAY_1,
            a.DAY_2 = temp.DAY_2,
            a.DAY_3 = temp.DAY_3,
            a.DAY_4 = temp.DAY_4,
            a.DAY_5 = temp.DAY_5,
            a.DAY_6 = temp.DAY_6,
            a.DAY_7 = temp.DAY_7,
            a.DAY_8 = temp.DAY_8,
            a.DAY_9 = temp.DAY_9,
            a.DAY_10 = temp.DAY_10,
            a.DAY_11 = temp.DAY_11,
            a.DAY_12 = temp.DAY_12,
            a.DAY_13 = temp.DAY_13,
            a.DAY_14 = temp.DAY_14,
            a.DAY_15 = temp.DAY_15,
            a.DAY_16 = temp.DAY_16,
            a.DAY_17 = temp.DAY_17,
            a.DAY_18 = temp.DAY_18,
            a.DAY_19 = temp.DAY_19,
            a.DAY_20 = temp.DAY_20,
            a.DAY_21 = temp.DAY_21,
            a.DAY_22 = temp.DAY_22,
            a.DAY_23 = temp.DAY_23,
            a.DAY_24 = temp.DAY_24,
            a.DAY_25 = temp.DAY_25,
            a.DAY_26 = temp.DAY_26,
            a.DAY_27 = temp.DAY_27,
            a.DAY_28 = temp.DAY_28,
            a.DAY_29 = temp.DAY_29,
            a.DAY_30 = temp.DAY_30,
            a.DAY_31 = temp.DAY_31,
            a.TOTAL_VULCANIZATION_MINUTES = temp.TOTAL_VULCANIZATION_MINUTES,
            a.REMARK = temp.REMARK,
            a.UPDATE_TIME = temp.UPDATE_TIME,
            a.UPDATE_BY = temp.UPDATE_BY
        WHERE a.IS_DELETE = 0
    </update>
</mapper>
