<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.factory.mapper.FactoryMonthPlanAdjustMapper">

    <select id="getMonthEnableMouldConfiguration" resultType="com.zlt.aps.monthplan.factory.dto.MouldProductRelationDto">
        SELECT DISTINCT mus.FACTORY_CODE,
               mus.MOULD_CODE,
               pmr.SPEC_CODE,
               mmi.MOULD_NO
          FROM t_mdm_mould_use_status mus
         INNER JOIN t_mdm_model_info mmi
            ON mmi.MOULD_CODE = mus.MOULD_CODE
           AND mmi.FACTORY_CODE = mus.FACTORY_CODE
         INNER JOIN t_mdm_product_model_relation pmr
            ON pmr.MOULD_CODE = mus.MOULD_CODE
           AND pmr.FACTORY_CODE = mus.FACTORY_CODE
         WHERE mus.MOULD_STATUS = 1
           AND mus.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mus.YEAR = #{year,jdbcType=DECIMAL}
           AND mus.MONTH = #{month,jdbcType=DECIMAL}
           AND pmr.PRODUCT_CODE = #{productCode,jdbcType=VARCHAR}
           AND mmi.MOULD_NO = #{mouldNo,jdbcType=VARCHAR}
    </select>

    <select id="getMonthShareMouldConfiguration" resultType="com.zlt.aps.monthplan.factory.dto.MouldProductRelationDto">
        SELECT DISTINCT mus.FACTORY_CODE,
               mus.MOULD_CODE,
               mmi.MOULD_NO
          FROM t_mdm_mould_use_status mus
         INNER JOIN t_mdm_model_info mmi
            ON mmi.MOULD_CODE = mus.MOULD_CODE
           AND mmi.FACTORY_CODE = mus.FACTORY_CODE
         INNER JOIN t_mdm_product_model_relation pmr
            ON pmr.MOULD_CODE = mus.MOULD_CODE
           AND pmr.FACTORY_CODE = mus.FACTORY_CODE
         WHERE mus.MOULD_STATUS = 1
           AND mus.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mus.YEAR = #{year,jdbcType=DECIMAL}
           AND mus.MONTH = #{month,jdbcType=DECIMAL}
           AND pmr.PRODUCT_CODE IN
        <foreach collection="productCodeList" item="productCode" open="(" separator="," close=")">
            #{productCode,jdbcType=VARCHAR}
        </foreach>
           AND mmi.MOULD_NO = #{mouldNo,jdbcType=VARCHAR}
    </select>

    <select id="getShareMouldProductList" resultType="com.zlt.aps.monthplan.factory.dto.MouldProductRelationDto">
        SELECT DISTINCT samr.PRODUCT_CODE,
               samr.FACTORY_CODE,
               smmi.MOULD_NO
          FROM t_mdm_product_model_relation samr
         INNER JOIN (SELECT mpmr.FACTORY_CODE,
                            mpmr.MOULD_CODE,
                            tmmi.MOULD_NO,
                            mpmr.PRODUCT_CODE
                       FROM t_mdm_product_model_relation mpmr
                      INNER JOIN t_mdm_model_info tmmi
                         ON tmmi.FACTORY_CODE = mpmr.FACTORY_CODE
                        AND tmmi.MOULD_CODE = mpmr.MOULD_CODE
                      WHERE mpmr.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                        AND mpmr.PRODUCT_CODE = #{productCode,jdbcType=VARCHAR}
                        AND tmmi.MOULD_NO = #{mouldNo,jdbcType=VARCHAR}) smmi
            ON smmi.FACTORY_CODE = samr.FACTORY_CODE
           AND smmi.MOULD_CODE = samr.MOULD_CODE
         WHERE samr.PRODUCT_CODE &lt;> #{productCode,jdbcType=VARCHAR}
    </select>

    <select id="getFactoryMouldMaintenanceConfiguration" resultType="com.zlt.aps.monthplan.factory.dto.MouldProductRelationDto">
        SELECT DISTINCT mdmp.FACTORY_CODE,
               mdmp.MACHINE_CODE AS MOULD_CODE,
               mdmp.BEGIN_DATE,
               mdmp.END_DAY,
               mmi.MOULD_NO,
               pmr.SPEC_CODE
          FROM t_mdm_device_maintenance_plan mdmp
         INNER JOIN t_mdm_model_info mmi
            ON mmi.MOULD_CODE = mdmp.MACHINE_CODE
           AND mmi.FACTORY_CODE = mdmp.FACTORY_CODE
         INNER JOIN t_mdm_product_model_relation pmr
            ON pmr.MOULD_CODE = mdmp.MACHINE_CODE
           AND pmr.FACTORY_CODE = mdmp.FACTORY_CODE
        WHERE IFNULL(mdmp.IS_DELETE, 0) = 0
          AND mdmp.MACHINE_TYPE = 2
          AND mdmp.PLAN_TYPE = 0
          AND mdmp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
          AND mdmp.YEAR = #{year,jdbcType=DECIMAL}
          AND mdmp.MONTH = #{month,jdbcType=DECIMAL}
          AND pmr.PRODUCT_CODE = #{productCode,jdbcType=VARCHAR}
          AND mmi.MOULD_NO = #{mouldNo,jdbcType=VARCHAR}
    </select>

    <select id="getMonthEnableRelationMouldConfiguration" resultType="com.zlt.aps.monthplan.factory.dto.MouldProductRelationDto">
        SELECT DISTINCT mus.FACTORY_CODE,
               mus.MOULD_CODE,
               mmi.MOULD_NO
          FROM t_mdm_mould_use_status mus
         INNER JOIN t_mdm_model_info mmi
            ON mmi.MOULD_CODE = mus.MOULD_CODE
           AND mmi.FACTORY_CODE = mus.FACTORY_CODE
         INNER JOIN (SELECT DISTINCT pmr.FACTORY_CODE,
                            pmr.PRODUCT_CODE,
                            pmr.SPEC_CODE,
                            pmr.MOULD_CODE,
                            sammi.MOULD_NO
                       FROM t_mdm_product_model_relation pmr
                      INNER JOIN t_mdm_model_info sammi
                         ON sammi.FACTORY_CODE = pmr.FACTORY_CODE
                        AND sammi.MOULD_CODE = pmr.MOULD_CODE
                      INNER JOIN (SELECT DISTINCT samr.PRODUCT_CODE,
                                         samr.FACTORY_CODE,
                                         smmi.MOULD_NO
                                    FROM t_mdm_product_model_relation samr
                                   INNER JOIN (SELECT mpmr.FACTORY_CODE,
                                                      mpmr.MOULD_CODE,
                                                      tmmi.MOULD_NO,
                                                      mpmr.PRODUCT_CODE
                                                 FROM t_mdm_product_model_relation mpmr
                                                INNER JOIN t_mdm_model_info tmmi
                                                   ON tmmi.FACTORY_CODE = mpmr.FACTORY_CODE
                                                  AND tmmi.MOULD_CODE = mpmr.MOULD_CODE
                                                WHERE mpmr.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                                                  AND mpmr.PRODUCT_CODE = #{productCode,jdbcType=VARCHAR}
                                                  AND tmmi.MOULD_NO = #{mouldNo,jdbcType=VARCHAR}) smmi
                                      ON smmi.FACTORY_CODE = samr.FACTORY_CODE
                                     AND smmi.MOULD_CODE = samr.MOULD_CODE) sarao
                         ON sarao.FACTORY_CODE = pmr.FACTORY_CODE
                        AND sarao.PRODUCT_CODE = pmr.PRODUCT_CODE
                        AND sarao.MOULD_NO = sammi.MOULD_NO) sara
            ON mus.FACTORY_CODE = sara.FACTORY_CODE
           AND mus.MOULD_CODE = sara.MOULD_CODE
           AND mmi.MOULD_NO = sara.MOULD_NO
         WHERE mus.MOULD_STATUS = 1
           AND mus.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mus.YEAR = #{year,jdbcType=DECIMAL}
           AND mus.MONTH = #{month,jdbcType=DECIMAL}
           AND mmi.MOULD_NO = #{mouldNo,jdbcType=VARCHAR}
    </select>

    <select id="getFactoryMouldMaintenanceConfigurationByCycle" resultType="com.zlt.aps.monthplan.factory.dto.MouldProductRelationDto">
        SELECT DISTINCT mdmp.FACTORY_CODE,
               mdmp.MACHINE_CODE AS MOULD_CODE,
               mdmp.BEGIN_DATE,
               mdmp.END_DAY,
               mmi.MOULD_NO,
               pmr.SPEC_CODE
          FROM t_mdm_device_maintenance_plan mdmp
         INNER JOIN t_mdm_model_info mmi
            ON mmi.MOULD_CODE = mdmp.MACHINE_CODE
           AND mmi.FACTORY_CODE = mdmp.FACTORY_CODE
         INNER JOIN t_mdm_product_model_relation pmr
            ON pmr.MOULD_CODE = mdmp.MACHINE_CODE
           AND pmr.FACTORY_CODE = mdmp.FACTORY_CODE
         WHERE IFNULL(mdmp.IS_DELETE, 0) = 0
           AND mdmp.MACHINE_TYPE = 2
           AND mdmp.PLAN_TYPE = 0
           AND mdmp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mdmp.BEGIN_DATE >= #{productionStartDate,jdbcType=DATE}
           AND mdmp.END_DAY &lt;= #{productionEndDate,jdbcType=DATE}
           AND pmr.PRODUCT_CODE = #{productCode,jdbcType=VARCHAR}
           AND mmi.MOULD_NO = #{mouldNo,jdbcType=VARCHAR}
    </select>

    <select id="getFactoryMouldRelationMaintenanceConfigurationByCycle" resultType="com.zlt.aps.monthplan.factory.dto.MouldProductRelationDto">
        SELECT DISTINCT mdmp.FACTORY_CODE,
               mdmp.MACHINE_CODE AS MOULD_CODE,
               mdmp.BEGIN_DATE,
               mdmp.END_DAY,
               mmi.MOULD_NO
          FROM t_mdm_device_maintenance_plan mdmp
         INNER JOIN t_mdm_model_info mmi
            ON mmi.MOULD_CODE = mdmp.MACHINE_CODE
           AND mmi.FACTORY_CODE = mdmp.FACTORY_CODE
         INNER JOIN (SELECT samr.PRODUCT_CODE,
                            samr.MOULD_CODE,
                            samr.FACTORY_CODE,
                            smmi.MOULD_NO
                       FROM t_mdm_product_model_relation samr
                      INNER JOIN (SELECT mpmr.FACTORY_CODE,
                                         mpmr.MOULD_CODE,
                                         tmmi.MOULD_NO,
                                         mpmr.PRODUCT_CODE
                                    FROM t_mdm_product_model_relation mpmr
                                   INNER JOIN t_mdm_model_info tmmi
                                      ON tmmi.FACTORY_CODE = mpmr.FACTORY_CODE
                                     AND tmmi.MOULD_CODE = mpmr.MOULD_CODE
                                   WHERE mpmr.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                                     AND mpmr.PRODUCT_CODE = #{productCode,jdbcType=VARCHAR}
                                     AND tmmi.MOULD_NO = #{mouldNo,jdbcType=VARCHAR}) smmi
                                      ON smmi.FACTORY_CODE = samr.FACTORY_CODE
                                     AND smmi.MOULD_CODE = samr.MOULD_CODE) sara
            ON sara.MOULD_CODE = mdmp.MACHINE_CODE
           AND sara.FACTORY_CODE = mdmp.FACTORY_CODE
         WHERE IFNULL(mdmp.IS_DELETE, 0) = 0
           AND mdmp.MACHINE_TYPE = 2
           AND mdmp.PLAN_TYPE = 0
           AND mdmp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mdmp.BEGIN_DATE >= #{productionStartDate,jdbcType=DATE}
           AND mdmp.END_DAY &lt;= #{productionEndDate,jdbcType=DATE}
           AND mmi.MOULD_NO = #{mouldNo,jdbcType=VARCHAR}
    </select>

    <select id="getMonthMaxEnableMouldConfiguration" resultType="com.zlt.aps.monthplan.factory.dto.MouldProductRelationDto">
        SELECT DISTINCT mus.FACTORY_CODE,
               mus.MOULD_CODE,
               mmi.MOULD_NO
          FROM t_mdm_mould_use_status mus
         INNER JOIN t_mdm_model_info mmi
            ON mmi.MOULD_CODE = mus.MOULD_CODE
           AND mmi.FACTORY_CODE = mus.FACTORY_CODE
         INNER JOIN t_mdm_product_model_relation pmr
            ON pmr.MOULD_CODE = mus.MOULD_CODE
           AND pmr.FACTORY_CODE = mus.FACTORY_CODE
         WHERE mus.MOULD_STATUS = 1
           AND mus.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mus.YEAR = #{year,jdbcType=DECIMAL}
           AND mus.MONTH = #{month,jdbcType=DECIMAL}
           AND mmi.MOULD_NO = #{mouldNo,jdbcType=VARCHAR}
    </select>

    <select id="getMaxFactoryMouldMaintenanceConfigurationByCycle" resultType="com.zlt.aps.monthplan.factory.dto.MouldProductRelationDto">
        SELECT DISTINCT mdmp.FACTORY_CODE,
               mdmp.MACHINE_CODE AS MOULD_CODE,
               mdmp.BEGIN_DATE,
               mdmp.END_DAY,
               mmi.MOULD_NO
          FROM t_mdm_device_maintenance_plan mdmp
         INNER JOIN t_mdm_model_info mmi
            ON mmi.MOULD_CODE = mdmp.MACHINE_CODE
           AND mmi.FACTORY_CODE = mdmp.FACTORY_CODE
         INNER JOIN t_mdm_product_model_relation pmr
            ON pmr.MOULD_CODE = mdmp.MACHINE_CODE
           AND pmr.FACTORY_CODE = mdmp.FACTORY_CODE
         WHERE IFNULL(mdmp.IS_DELETE, 0) = 0
           AND mdmp.MACHINE_TYPE = 2
           AND mdmp.PLAN_TYPE = 0
           AND mdmp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mdmp.BEGIN_DATE >= #{productionStartDate,jdbcType=DATE}
           AND mdmp.END_DAY &lt;= #{productionEndDate,jdbcType=DATE}
           AND mmi.MOULD_NO = #{mouldNo,jdbcType=VARCHAR}
    </select>

    <select id="getFactoryMouldShareMaintenanceConfigurationByCycle" resultType="com.zlt.aps.monthplan.factory.dto.MouldProductRelationDto">
        SELECT DISTINCT mdmp.FACTORY_CODE,
               mdmp.MACHINE_CODE AS MOULD_CODE,
               mdmp.BEGIN_DATE,
               mdmp.END_DAY,
               mmi.MOULD_NO
          FROM t_mdm_device_maintenance_plan mdmp
         INNER JOIN t_mdm_model_info mmi
            ON mmi.MOULD_CODE = mdmp.MACHINE_CODE
           AND mmi.FACTORY_CODE = mdmp.FACTORY_CODE
         INNER JOIN t_mdm_product_model_relation pmr
            ON pmr.MOULD_CODE = mdmp.MACHINE_CODE
           AND pmr.FACTORY_CODE = mdmp.FACTORY_CODE
         WHERE IFNULL(mdmp.IS_DELETE, 0) = 0
           AND mdmp.MACHINE_TYPE = 2
           AND mdmp.PLAN_TYPE = 0
           AND mdmp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mdmp.BEGIN_DATE >= #{productionStartDate,jdbcType=DATE}
           AND mdmp.END_DAY &lt;= #{productionEndDate,jdbcType=DATE}
           AND pmr.PRODUCT_CODE IN
        <foreach collection="productCodeList" item="productCode" open="(" separator="," close=")">
            #{productCode,jdbcType=VARCHAR}
        </foreach>
           AND mmi.MOULD_NO = #{mouldNo,jdbcType=VARCHAR}
    </select>
</mapper>