<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.factory.mapper.MdmStockUpPlanMapper">

    <resultMap type="com.zlt.aps.monthplan.api.domain.vo.MdmStockUpPlanVo" id="MdmStockUpPlanResult">
        <result property="id" column="ID"/>
        <result property="factoryCode" column="FACTORY_CODE"/>
        <result property="year" column="YEAR"/>
        <result property="month" column="MONTH"/>
        <result property="productCode" column="PRODUCT_CODE"/>
        <result property="productDesc" column="PRODUCT_DESC"/>
        <result property="embryoCode" column="EMBRYO_CODE"/>
        <result property="mouldNo" column="MOULD_NO"/>
        <result property="locationType" column="LOCATION_TYPE"/>
        <result property="averageType" column="AVERAGE_TYPE"/>
        <result property="averageValue" column="AVERAGE_VALUE"/>
        <result property="factor" column="FACTOR"/>
        <result property="stockQty" column="STOCK_QTY"/>
        <result property="stockTime" column="STOCK_TIME"/>
        <result property="stockoist" column="STOCKOIST"/>
        <result property="approveTime" column="APPROVE_TIME"/>
        <result property="approver" column="APPROVER"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>


    <sql id="selectMdmStockUpPlanVo">
        SELECT ID, FACTORY_CODE, YEAR, MONTH, PRODUCT_CODE, PRODUCT_DESC, LOCATION_TYPE, AVERAGE_TYPE, AVERAGE_VALUE, FACTOR, STOCK_QTY, STOCK_TIME, STOCKOIST, APPROVE_TIME, APPROVER, IS_DELETE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME FROM T_MDM_STOCK_UP_PLAN
    </sql>

    <delete id="deleteByParams">
        update T_MDM_STOCK_UP_PLAN
        set IS_DELETE = 1
        where IS_DELETE = 0
        and YEAR = #{year}
        and MONTH = #{month}
        <if test="tireType != null and tireType != ''">
            and (FACTORY_CODE,PRODUCT_CODE) in(
            select tmpi.FACTORY_CODE,tmpi.PRODUCT_CODE from T_MDM_MATERIAL_INFO tmpi
            where tmpi.IS_DELETE = 0
            and tmpi.TIRE_TYPE = #{tireType}
            )
        </if>
    </delete>

    <select id="selectMdmStockUpPlanList" parameterType="com.zlt.aps.monthplan.api.domain.vo.MdmStockUpPlanVo" resultMap="MdmStockUpPlanResult">
        SELECT msup.ID,
               msup.FACTORY_CODE,
               msup.YEAR,
               msup.MONTH,
               msup.PRODUCT_CODE,
               msup.PRODUCT_DESC,
               empc.EMBRYO_CODE,
               mmmr.MOULD_NO,
               msup.LOCATION_TYPE,
               msup.AVERAGE_TYPE,
               msup.AVERAGE_VALUE,
               msup.FACTOR,
               msup.STOCK_QTY,
               msup.STOCK_TIME,
               msup.STOCKOIST,
               msup.APPROVE_TIME,
               msup.APPROVER,
               msup.IS_DELETE,
               msup.CREATE_BY,
               msup.CREATE_TIME,
               msup.UPDATE_BY,
               msup.UPDATE_TIME
          FROM T_MDM_STOCK_UP_PLAN msup
          LEFT JOIN (SELECT tmpc.FACTORY_CODE,
                            tmpc.PRODUCT_CODE,
                            GROUP_CONCAT(tmpc.EMBRYO_CODE) AS EMBRYO_CODE
                       FROM t_mdm_product_construction tmpc
                      WHERE tmpc.IS_DELETE = 0
                    <if test="factoryCode != null  and factoryCode != ''">
                        AND tmpc.FACTORY_CODE = #{factoryCode}
                    </if>
                      GROUP BY tmpc.FACTORY_CODE,tmpc.PRODUCT_CODE
               ) empc
            ON msup.FACTORY_CODE = empc.FACTORY_CODE
           AND msup.PRODUCT_CODE = empc.PRODUCT_CODE
          LEFT JOIN (SELECT mpmr.FACTORY_CODE,
                            mpmr.PRODUCT_CODE,
                            GROUP_CONCAT( DISTINCT(tmmi.MOULD_NO) )  AS MOULD_NO
                       FROM t_mdm_product_model_relation mpmr
        LEFT JOIN T_MDM_MOULD_INFO tmmi
                         ON tmmi.MOULD_CODE = mpmr.MOULD_CODE
                        AND tmmi.FACTORY_CODE = mpmr.FACTORY_CODE
                      WHERE 1=1
                    <if test="factoryCode != null  and factoryCode != ''">
                        AND mpmr.FACTORY_CODE = #{factoryCode}
                    </if>
                      GROUP BY mpmr.FACTORY_CODE, mpmr.PRODUCT_CODE
               ) mmmr
            ON msup.FACTORY_CODE = mmmr.FACTORY_CODE
           AND msup.PRODUCT_CODE = mmmr.PRODUCT_CODE
         WHERE msup.IS_DELETE = 0
        <if test="factoryCode != null  and factoryCode != ''">
           AND msup.FACTORY_CODE = #{factoryCode}
        </if>
        <if test="year != null ">
           AND msup.YEAR = #{year}
        </if>
        <if test="month != null ">
           AND msup.MONTH = #{month}
        </if>
        <if test="productCode != null  and productCode != ''">
           AND msup.PRODUCT_CODE = #{productCode}
        </if>
        <if test="productDesc != null  and productDesc != ''">
           AND msup.PRODUCT_DESC = #{productDesc}
        </if>
        <if test="locationType != null ">
           AND msup.LOCATION_TYPE = #{locationType}
        </if>
        <if test="averageType != null ">
           AND msup.AVERAGE_TYPE = #{averageType}
        </if>
        <if test="averageValue != null ">
           AND msup.AVERAGE_VALUE = #{averageValue}
        </if>
        <if test="factor != null ">
           AND msup.FACTOR = #{factor}
        </if>
        <if test="stockQty != null ">
           AND msup.STOCK_QTY = #{stockQty}
        </if>
        <if test="stockTime != null ">
           AND msup.STOCK_TIME = #{stockTime}
        </if>
        <if test="stockoist != null  and stockoist != ''">
           AND msup.STOCKOIST = #{stockoist}
        </if>
        <if test="approveTime != null ">
           AND msup.APPROVE_TIME = #{approveTime}
        </if>
        <if test="approver != null  and approver != ''">
           AND msup.APPROVER = #{approver}
        </if>
        <if test="mouldNo != null  and mouldNo != ''">
            AND mmmr.MOULD_NO LIKE #{mouldNo} || '%'
        </if>
        <if test="embryoCode != null  and embryoCode != ''">
            AND empc.EMBRYO_CODE LIKE #{embryoCode} || '%'
        </if>
    </select>

    <select id="getAverageType" resultType="java.lang.Integer" parameterType="com.zlt.aps.monthplan.api.domain.vo.MdmStockUpPlanVo">
        SELECT msup.AVERAGE_TYPE
          FROM t_mdm_stock_up_plan msup
         WHERE msup.IS_DELETE = 0
           AND msup.AVERAGE_TYPE IS NOT NULL
           AND msup.FACTORY_CODE = #{factoryCode}
           AND msup.YEAR = #{year}
           AND msup.MONTH = #{month}
         ORDER BY msup.ID LIMIT 1;
    </select>

    <select id="existByKey" resultType="java.lang.Integer" parameterType="com.zlt.aps.monthplan.api.domain.vo.MdmStockUpPlanVo">
        SELECT COUNT(1)
          FROM t_mdm_stock_up_plan msup
         WHERE msup.IS_DELETE = 0
           AND msup.FACTORY_CODE = #{factoryCode}
           AND msup.YEAR = #{year}
           AND msup.MONTH = #{month}
           AND msup.LOCATION_TYPE = #{locationType}
           AND msup.PRODUCT_CODE = #{productCode}
    </select>
</mapper>
