<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.factory.mapper.MonthPlanProductionResultDetailMapper">

    <update id="changeSpecCode">
        UPDATE t_mp_moulding_day_result_detail
           SET SPEC_CODE = #{specCode,jdbcType=VARCHAR},
               EMBRYO_CODE = #{embryoCode,jdbcType=VARCHAR}
         WHERE ifnull(IS_DELETE, 0) = 0
           AND FACTORY_CODE = #{plan.factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{plan.year,jdbcType=DECIMAL}
           AND MONTH = #{plan.month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{plan.monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{plan.productionVersion,jdbcType=VARCHAR}
           AND PRODUCT_CODE = #{plan.productCode,jdbcType=VARCHAR}
           AND BRAND = #{plan.brand,jdbcType=VARCHAR}
        <if test="plan.channel != null and plan.channel != ''">
           AND CHANNEL = #{plan.channel,jdbcType=VARCHAR}
        </if>
        <if test="plan.channel == null and plan.channel == ''">
           AND CHANNEL IS NULL
        </if>
           AND LOCATION_TYPE = #{plan.locationType,jdbcType=VARCHAR}
           AND SPEC_CODE = #{plan.specCode,jdbcType=VARCHAR}
        <if test="plan.isDeliveryDate != null and plan.isDeliveryDate == 1 ">
           AND DELIVERY_DATE_DUE IS NOT NULL
        </if>
        <if test="plan.isDeliveryDate != null and plan.isDeliveryDate == 0 ">
           AND DELIVERY_DATE_DUE IS NULL
        </if>
    </update>
</mapper>