<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.factory.mapper.MpFactoryProductionVersionMapper">

    <delete id="deletedMonthPlanRequireVersion" parameterType="com.zlt.aps.monthplan.api.domain.vo.FactoryProductionParamVo">
       DELETE FROM t_mp_product_require_plan
        WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
          AND YEAR = #{year,jdbcType=DECIMAL}
          AND MONTH = #{month,jdbcType=DECIMAL}
          AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR};
       DELETE FROM t_mp_order_plan_allocation
        WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
          AND YEAR = #{year,jdbcType=DECIMAL}
          AND MONTH = #{month,jdbcType=DECIMAL}
          AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR};
       DELETE FROM t_mp_month_require_stock
        WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
          AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR};
    </delete>

    <delete id="deletedByProductionVersion" parameterType="com.zlt.aps.monthplan.api.domain.vo.FactoryProductionParamVo">
        DELETE FROM t_mp_proc_version
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_proc_month_plan_init
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_proc_no_production_plan
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_moulding_day_result
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_mould_day_detail_log
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_mould_use_status_log
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_mould_lh_log
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
    </delete>

    <update id="deletedProductionVersionAndUpdateLastFlag" parameterType="com.zlt.aps.monthplan.api.domain.vo.FactoryProductionParamVo">
        UPDATE t_mp_proc_version
           SET PRODUCTION_INIT_VERSION = NULL,
               PRODUCTION_VERSION = NULL
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_proc_version
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION != #{productionVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_proc_month_plan_init
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_proc_no_production_plan
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_moulding_day_result
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_mould_day_detail_log
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_mould_lh_log
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_mould_use_status_log
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR};
    </update>

    <select id="versionList" resultType="java.lang.String">
        select distinct MONTH_PLAN_VERSION
        from T_MP_PROC_VERSION
        where IFNULL(IS_DELETE, 0) = 0
                  and YEAR = #{year}
                  and MONTH = #{month}
          and FACTORY_CODE = #{factoryCode}
          and MONTH_PLAN_VERSION is not null
    </select>

    <select id="productionVersionList" resultType="java.lang.String">
        select distinct PRODUCTION_VERSION
        from T_MP_PROC_VERSION
        where IFNULL(IS_DELETE, 0) = 0
                  and YEAR = #{year}
                  and MONTH = #{month}
          and FACTORY_CODE = #{factoryCode}
          and MONTH_PLAN_VERSION = #{monthPlanVersion}
          and PRODUCTION_VERSION is not null
    </select>
</mapper>
