<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.factory.mapper.MpHistorySaleQtyMapper">
    <resultMap type="com.zlt.aps.monthplan.api.domain.entity.MpHistorySaleQty" id="MpHistorySaleQtyResult">
        <result property="id" column="ID"/>
        <result property="year" column="YEAR"/>
        <result property="month" column="MONTH"/>
        <result property="factoryCode" column="FACTORY_CODE"/>
        <result property="productCode" column="PRODUCT_CODE"/>
        <result property="productDesc" column="PRODUCT_DESC"/>
        <result property="locationType" column="LOCATION_TYPE"/>
        <result property="saleQty" column="SALE_QTY"/>
        <result property="orderQty" column="ORDER_QTY"/>
        <result property="remark" column="REMARK"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>


    <sql id="selectMpHistorySaleQtyVo">
        SELECT ID, YEAR, MONTH, FACTORY_CODE, PRODUCT_CODE, PRODUCT_DESC, LOCATION_TYPE, SALE_QTY, ORDER_QTY, REMARK, IS_DELETE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME FROM T_MP_HISTORY_SALE_QTY
    </sql>

    <select id="selectMpHistorySaleQtyList" parameterType="com.zlt.aps.monthplan.api.domain.entity.MpHistorySaleQty" resultMap="MpHistorySaleQtyResult">
        <include refid="selectMpHistorySaleQtyVo"/>
        WHERE IS_DELETE = 0
        <if test="year != null "> AND YEAR = #{year}</if>
        <if test="month != null "> AND MONTH = #{month}</if>
        <if test="factoryCode != null  and factoryCode != ''"> AND FACTORY_CODE = #{factoryCode}</if>
        <if test="productCode != null  and productCode != ''"> AND PRODUCT_CODE = #{productCode}</if>
        <if test="productDesc != null  and productDesc != ''"> AND PRODUCT_DESC = #{productDesc}</if>
        <if test="locationType != null  and locationType != ''"> AND LOCATION_TYPE = #{locationType}</if>
        <if test="saleQty != null "> AND SALE_QTY = #{saleQty}</if>
        <if test="orderQty != null "> AND ORDER_QTY = #{orderQty}</if>
    </select>

    <select id="selectCalcStocking" resultType="com.zlt.aps.monthplan.api.domain.vo.CalcStockingResultVo">
        SELECT
        d.*,
        <!-- 历史销售记录可能有负数， -->
        CEIL((if(d.AUG_QTY &lt; 0, 0, d.AUG_QTY) * d.FACTOR_VALUE)) STOCK_QTY
        FROM
        (
        SELECT
        c.*,
        CASE

        WHEN msf.FACTOR_VALUE IS NULL THEN
        1 ELSE msf.FACTOR_VALUE
        END FACTOR_VALUE
        FROM
        (
        SELECT
        b.FACTORY_CODE,
        b.PRODUCT_CODE,
        MAX( b.PRODUCT_DESC ) PRODUCT_DESC,
        b.LOCATION_TYPE,
        SUM( b.SALE_QTY ) SALE_QTY,
        CEIL(
        SUM( b.SALE_QTY ) / #{month}) AUG_QTY,
        MAX( b.PATTERN ) PATTERN,
        MAX( b.BRAND ) BRAND,
        MAX( b.PRO_SIZE ) PRO_SIZE,
        MAX( b.SPECIFICATIONS ) SPECIFICATIONS
        FROM
        (
        SELECT
        *
        FROM
        (
        SELECT
        mhsq.FACTORY_CODE,
        mhsq.`year`,
        mhsq.`month`,
        mhsq.LOCATION_TYPE,
        mhsq.PRODUCT_CODE,
        mhsq.PRODUCT_DESC,
        mhsq.SALE_QTY,
        mpi.PATTERN,
        mpi.BRAND,
        mpi.PRO_SIZE,
        mpi.SPECIFICATIONS,
        mpi.TIRE_TYPE,
        CONCAT(
        YEAR,
        LPAD( MONTH, 2, '0' )) yearMonth
        FROM
        t_mp_history_sale_qty mhsq
        LEFT JOIN t_mdm_product_info mpi ON mpi.IS_DELETE = 0 and mhsq.FACTORY_CODE = mpi.FACTORY_CODE and mhsq.PRODUCT_CODE = mpi.PRODUCT_CODE 
        where mhsq.IS_DELETE = 0
        ) a
        WHERE
        a.yearMonth >= #{startYearMonth}
        AND a.yearMonth &lt;= #{endYearMonth}
        <if test="tireType != null and tireType != ''">AND a.tire_type = #{tireType}</if>
        ) b
        GROUP BY
        b.FACTORY_CODE,
        b.LOCATION_TYPE,
        b.PRODUCT_CODE
        ) c
        LEFT JOIN t_mdm_stock_factor msf ON msf.IS_DELETE = 0 and c.FACTORY_CODE = msf.FACTORY_CODE
        AND c.LOCATION_TYPE = msf.LOCATION_TYPE
        AND c.AUG_QTY >= msf.VALUE_MIN
        AND c.AUG_QTY &lt;= msf.VALUE_MAX
        ) d
    </select>

    <insert id="batchInsertHistorySaleQty">
        insert into T_MP_HISTORY_SALE_QTY
        (ID, YEAR, MONTH, FACTORY_CODE, PRODUCT_CODE, PRODUCT_DESC, LOCATION_TYPE, SALE_QTY, ORDER_QTY, REMARK, IS_DELETE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME
        )
        select NULL id, x.*
        from (
        <foreach collection="list" item="historySaleQty" separator=" union ">
            select
            #{historySaleQty.year,jdbcType= INTEGER} year,
            #{historySaleQty.month,jdbcType= INTEGER} month, #{historySaleQty.factoryCode,jdbcType=VARCHAR} factory_code,
            #{historySaleQty.productCode,jdbcType= VARCHAR} product_code, #{historySaleQty.productDesc,jdbcType= VARCHAR} product_desc,
            #{historySaleQty.locationType,jdbcType= VARCHAR} location_type, #{historySaleQty.saleQty,jdbcType= BIGINT}
            sale_qty, #{historySaleQty.orderQty,jdbcType=BIGINT} order_qty, #{historySaleQty.remark,jdbcType= VARCHAR}
            remark, #{historySaleQty.isDelete,jdbcType= INTEGER} is_delete, #{historySaleQty.createBy,jdbcType= VARCHAR}
            create_by, #{historySaleQty.createTime,jdbcType=DATE} create_time,
            #{historySaleQty.updateBy,jdbcType= VARCHAR} update_by, #{historySaleQty.updateTime,jdbcType=DATE}
            update_time from dual
        </foreach>
        ) x
    </insert>

    <update id="updateByDayHisSale">
        UPDATE T_MP_HISTORY_SALE_QTY mpDaySale
            JOIN (SELECT YEAR(mpDayHisSale.ORDER_DATE)  AS `YEAR`,
                         MONTH(mpDayHisSale.ORDER_DATE) AS `MONTH`,
                         mpDayHisSale.FACTORY_CODE,
                         mpDayHisSale.PRODUCT_CODE,
                         MAX(mpDayHisSale.PRODUCT_DESC) AS PRODUCT_DESC,
                         mpDayHisSale.LOCATION_TYPE,
                         SUM(IFNULL(SALE_QTY, 0))       AS SALE_QTY,
                         SUM(IFNULL(ORDER_QTY, 0))      AS ORDER_QTY,
                         MAX(mpDayHisSale.CREATE_BY)    AS CREATE_BY,
                         NOW(),
                         0
                  FROM T_MP_DAY_HISTORY_SALE_QTY mpDayHisSale
                  WHERE IS_DELETE = 0
                  GROUP BY YEAR(mpDayHisSale.ORDER_DATE),
                           MONTH(mpDayHisSale.ORDER_DATE),
                           mpDayHisSale.FACTORY_CODE,
                           mpDayHisSale.PRODUCT_CODE,
                           mpDayHisSale.LOCATION_TYPE) mpDayHisSale
            ON mpDayHisSale.`YEAR` = mpDaySale.`YEAR`
                AND mpDayHisSale.`MONTH` = mpDaySale.`MONTH`
                AND mpDayHisSale.FACTORY_CODE = mpDaySale.FACTORY_CODE
                AND mpDayHisSale.PRODUCT_CODE = mpDaySale.PRODUCT_CODE
                AND mpDayHisSale.LOCATION_TYPE = mpDaySale.LOCATION_TYPE
        SET mpDaySale.SALE_QTY    = mpDayHisSale.SALE_QTY,
            mpDaySale.ORDER_QTY   = mpDayHisSale.ORDER_QTY,
            mpDaySale.UPDATE_TIME = NOW()
        WHERE mpDaySale.IS_DELETE = 0
          AND mpDaySale.LOCATION_TYPE != '下架'
    </update>

    <insert id="insertByDayHisSaleNotExist">
        INSERT INTO T_MP_HISTORY_SALE_QTY (`YEAR`, `MONTH`, FACTORY_CODE, PRODUCT_CODE, PRODUCT_DESC, LOCATION_TYPE,
                                           SALE_QTY, ORDER_QTY, CREATE_BY, CREATE_TIME, IS_DELETE)
        SELECT YEAR(mpDayHisSale.ORDER_DATE)  AS `YEAR`,
               MONTH(mpDayHisSale.ORDER_DATE) AS `MONTH`,
               mpDayHisSale.FACTORY_CODE,
               mpDayHisSale.PRODUCT_CODE,
               MAX(mpDayHisSale.PRODUCT_DESC) AS PRODUCT_DESC,
               mpDayHisSale.LOCATION_TYPE,
               SUM(IFNULL(SALE_QTY, 0))       AS SALE_QTY,
               SUM(IFNULL(ORDER_QTY, 0))      AS ORDER_QTY,
               MAX(mpDayHisSale.CREATE_BY)    AS CREATE_BY,
               NOW(),
               0
        FROM T_MP_DAY_HISTORY_SALE_QTY mpDayHisSale
        WHERE mpDayHisSale.LOCATION_TYPE != '下架'
          AND NOT EXISTS (SELECT 1
                          FROM T_MP_HISTORY_SALE_QTY mpDaySale
                          WHERE mpDaySale.IS_DELETE = 0
                            AND YEAR(mpDayHisSale.ORDER_DATE) = mpDaySale.`YEAR`
                            AND MONTH(mpDayHisSale.ORDER_DATE) = mpDaySale.`MONTH`
                            AND mpDayHisSale.FACTORY_CODE = mpDaySale.FACTORY_CODE
                            AND mpDayHisSale.PRODUCT_CODE = mpDaySale.PRODUCT_CODE
                            AND mpDayHisSale.LOCATION_TYPE = mpDaySale.LOCATION_TYPE)
        GROUP BY YEAR(mpDayHisSale.ORDER_DATE),
                 MONTH(mpDayHisSale.ORDER_DATE),
                 mpDayHisSale.FACTORY_CODE,
                 mpDayHisSale.PRODUCT_CODE,
                 mpDayHisSale.LOCATION_TYPE
    </insert>
</mapper>