<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.demand.mapper.SaleMonthPlanRequireMapper">

    <select id="exist" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM t_mp_product_require_plan WHERE MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
    </select>

    <select id="getProductionVersionList" parameterType="com.zlt.aps.monthplan.api.domain.vo.FactoryProductionPlanVo" resultType="com.zlt.aps.monthplan.factory.dto.FactoryProductionPlanVersionDto">
        SELECT YEAR,
               MONTH,
               FACTORY_CODE,
               PRODUCT_TYPE_CODE,
               MONTH_PLAN_VERSION,
               PRODUCTION_INIT_VERSION AS INIT_VERSION,
               PRODUCTION_VERSION,
               CREATE_TIME,
               IS_FINAL,
               PRODUCTION_START_DATE,
               IS_NATURAL_MONTH
          FROM t_mp_proc_version
         WHERE IFNULL(IS_DELETE, 0) = 0
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
        <if test="factoryCode != null and factoryCode != ''">
           AND FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
        </if>
        <if test="productTypeCode != null and productTypeCode != ''">
           AND PRODUCT_TYPE_CODE = #{productTypeCode,jdbcType=VARCHAR}
        </if>
        <if test="monthPlanVersion != null  and monthPlanVersion != ''">
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
        </if>
         ORDER BY MONTH_PLAN_VERSION,PRODUCTION_VERSION
    </select>

    <select id="versionList" resultType="java.lang.String">
        select distinct MONTH_PLAN_VERSION
        from T_MP_PROC_VERSION
        where IFNULL(IS_DELETE, 0) = 0
          and YEAR = #{year}
          and MONTH = #{month}
          and FACTORY_CODE = #{factoryCode}
          and MONTH_PLAN_VERSION is not null
    </select>

    <delete id="deleteByVersion">
        DELETE FROM t_mp_product_require_plan
         WHERE MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
    </delete>

    <select id="getProductionQty" resultType="com.zlt.aps.monthplan.demand.controller.TempProductionDto">
        SELECT PRODUCT_CODE,
               PRODUCTION_QTY
          FROM t_temp_production
    </select>

    <select id="getSummaryVo" resultType="com.zlt.aps.monthplan.api.domain.vo.SaleMonthPlanRequireReportVo">
        SELECT
        COUNT( DISTINCT PRODUCT_CODE ) AS skuCount,
        SUM(PLAN_QTY) AS skuQty
        FROM
        T_MP_PRODUCT_REQUIRE_PLAN
        WHERE
        IS_DELETE = 0
        AND `YEAR` = #{year}
        AND `MONTH` = #{month}
        AND FACTORY_CODE = #{factoryCode}
        <if test="monthPlanVersion != null and monthPlanVersion != ''">AND MONTH_PLAN_VERSION = #{monthPlanVersion}</if>
        <if test="locationType != null and locationType != ''">AND LOCATION_TYPE = #{locationType}</if>
        <if test="productCode != null and productCode != ''">AND PRODUCT_CODE = #{productCode}</if>
        <if test="specifications != null and specifications != ''">AND SPECIFICATIONS = #{specifications}</if>
        <if test="pattern != null and pattern != ''">AND PATTERN = #{pattern}</if>
        <if test="isEnsurePlan != null and isEnsurePlan != ''">AND IS_ENSURE_PLAN = #{isEnsurePlan}</if>
        <if test="isStockUp != null">AND IS_STOCK_UP = #{isStockUp}</if>
        <if test="isDeliveryDateDue != null and isDeliveryDateDue == 0">AND DELIVERY_DATE_DUE is null</if>
        <if test="isDeliveryDateDue != null and isDeliveryDateDue == 1">AND DELIVERY_DATE_DUE is not null</if>
    </select>
</mapper>
