<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.gdyy.engine.mapper.GdyyEngineMonthSurplusMapper">
	<!-- 查询月度计划统计信息 -->
    <select id="listGdyyMonthPlanSurplus" parameterType="string" resultType="com.zlt.aps.gdyy.engine.vo.GdyyMonthSurplusVo">
        SELECT MATERIAL_CODE,
               NVL(MONTH_FINISH_QTY, 0) MONTH_FINISH_QTY,
               NVL(MONTH_REMAIN_QTY, 0) MONTH_REMAIN_QTY,
               NVL(MONTH_FINISH_QTY2, 0) MONTH_FINISH_QTY2,
               NVL(MONTH_REMAIN_QTY2, 0) MONTH_REMAIN_QTY2
          FROM T_GDYY_MONTH_PLAN_SURPLUS
         WHERE DEL_FLAG = '0'
           AND YEAR = #{year}
           AND MONTH = #{month}
    </select>
</mapper>
