<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MdmMonCycleSchStruConfEntityMapper">

    <select id="selectMonthCycleSchStruConf"
            resultType="com.zlt.aps.monthplan.api.domain.entity.MdmMonCycleSchStruConf">
        SET
        @genYear =
        #{year};
        SET
        @genMonth =
        #{month};

        SELECT cssc.FACTORY_CODE,
               @genYear  AS `YEAR`,
               @genMonth AS `MONTH`,
               cssc.STRUCTURE_NAME,
               cssc.TURNOVER_MONTH,
               cssc.MIN_VULCANIZING_MACHINE
        FROM T_DP_CYCLE_SCH_STRU_CONF cssc
        WHERE cssc.IS_DELETE = 0
          AND EXISTS (SELECT 1
                      FROM T_MP_MONTH_PLAN_PROD_FINAL a
                      WHERE a.IS_DELETE = 0
                      GROUP BY a.FACTORY_CODE, a.STRUCTURE_NAME
                      HAVING a.FACTORY_CODE = cssc.FACTORY_CODE
                         AND a.STRUCTURE_NAME = cssc.STRUCTURE_NAME
                         AND MAX(a.`YEAR_MONTH`) &lt;= DATE_FORMAT(
                              DATE_SUB(CONCAT(@genYear, '-', @genMonth, '-01'), INTERVAL cssc.TURNOVER_MONTH MONTH),
                              '%Y%m'))
    </select>

</mapper>
