<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MdmProductModelRelationEntityMapper">

    <select id="queryBySpecCodes" resultType="com.zlt.aps.monthplan.api.domain.entity.MdmSkuMouldRel">
        SELECT
        t.ID,
        t.PRODUCT_CODE        AS productCode,
        t.PRODUCT_DESC        AS productDesc,
        t.SPEC_CODE           AS specCode,
        t.MOULD_CODE          AS mouldCode,
        t.SPECIFICATIONS      AS specifications,
        t.PATTERN             AS pattern,
        t.BRAND               AS brand,
        t.MOULD_CATEGORY      AS mouldCategory,
        sub.spec_count AS shareNum
        FROM T_MDM_PRODUCT_MODEL_RELATION t
        LEFT JOIN (
        SELECT MOULD_CODE, COUNT(DISTINCT SPEC_CODE) AS spec_count
        FROM T_MDM_PRODUCT_MODEL_RELATION
        GROUP BY MOULD_CODE
        ) AS sub ON t.MOULD_CODE = sub.MOULD_CODE
        WHERE t.FACTORY_CODE = #{factoryCode}
        <if test="specCodes != null and specCodes.size() > 0">
            AND t.SPEC_CODE IN
            <foreach collection="specCodes" item="specCode" open="(" separator="," close=")">
                #{specCode}
            </foreach>
        </if>
          AND EXISTS(SELECT 1 FROM T_MDM_MODEL_INFO m where t.FACTORY_CODE = m.FACTORY_CODE and m.MOULD_STATUS = 1)
    </select>

    <select id="getMouldMaxList" resultType="java.lang.String">
        SELECT DISTINCT mpmr.MOULD_CODE
          FROM t_mdm_product_model_relation mpmr
          LEFT JOIN t_mdm_model_info mmi
            ON mmi.MOULD_CODE = mpmr.MOULD_CODE
           AND mmi.MOULD_STATUS = 1
          LEFT JOIN t_mdm_mould_use_status mmus
            ON mmus.FACTORY_CODE = mmi.FACTORY_CODE
           AND mmus.MOULD_CODE = mmi.MOULD_CODE
         WHERE mmus.MOULD_STATUS = 1
           AND mmi.MOULD_STATUS = 1
           AND mpmr.PRODUCT_CODE = #{productCode,jdbcType=VARCHAR}
           AND mmus.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mmus.`YEAR` = #{year,jdbcType=DECIMAL}
           AND mmus.`MONTH` = #{month,jdbcType=DECIMAL}
           AND mmi.MOULD_NO= #{mouldNo,jdbcType=VARCHAR}
    </select>

    <select id="selectSameMouldNo"
            resultType="com.zlt.aps.monthplan.api.domain.entity.MdmSkuMouldRel">
        SELECT
            c.MOULD_NO,
            GROUP_CONCAT( DISTINCT a.EMBRYO_CODE ORDER BY a.EMBRYO_CODE DESC SEPARATOR ',' ) AS EMBRYO_CODE
        FROM
            t_mdm_product_construction a
        INNER JOIN t_mdm_product_model_relation b ON a.SPEC_CODE = b.SPEC_CODE
        INNER JOIN t_mdm_model_info c ON b.MOULD_CODE = c.MOULD_CODE
        WHERE
            a.IS_DELETE = 0
          AND a.EMBRYO_CODE IS NOT NULL
          AND a.EMBRYO_CODE != ''
          AND c.MOULD_CODE IS NOT NULL
        GROUP BY
            c.MOULD_NO
    </select>

    <select id="selectByMouldCode"
            resultType="com.zlt.aps.monthplan.api.domain.entity.MdmSkuMouldRel">
        SELECT a.*, IFNULL(b.PRO_SIZE, '') AS PRO_SIZE
        FROM t_mdm_product_model_relation a
        LEFT JOIN t_mdm_material_info b ON a.PRODUCT_CODE = b.MATERIAL_CODE
        WHERE a.MOULD_CODE IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectByProductCodeModuleNo" resultType="com.zlt.aps.monthplan.api.domain.entity.MdmSkuMouldRel">
        SELECT a.*
        FROM t_mdm_product_model_relation a
        LEFT JOIN t_mdm_material_info b ON a.MATERIAL_CODE = b.PRODUCT_CODE
        WHERE a.MOULD_CODE IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="select4ImportAdjustData" resultType="com.zlt.aps.monthplan.api.domain.entity.MdmSkuMouldRel">
        SELECT a.PRODUCT_CODE, a.MOULD_CODE, b.MOULD_NO FROM t_mdm_product_model_relation a
        LEFT JOIN T_MDM_MODEL_INFO b ON a.MOULD_CODE = b.MOULD_CODE
    </select>

    <select id="selectByUniqueKeyList" resultType="com.zlt.aps.monthplan.api.domain.entity.MdmSkuMouldRel">
        SELECT * FROM T_MDM_SKU_MOULD_REL WHERE IS_DELETE = 0
        <if test="list != null and list.size() > 0">
            AND (FACTORY_CODE, MOULD_CODE, MATERIAL_CODE) IN
            <foreach collection="list" item="item" open="(" separator="," close=")">
                (#{item.factoryCode}, #{item.mouldCode}, #{item.materialCode})
            </foreach>
        </if>
    </select>

</mapper>
