<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MpFinishedProductStockEntityMapper">
    <resultMap type="com.zlt.aps.monthplan.api.domain.entity.MpFinishedProductStock" id="MpFinishedProductStockResult">
            <result property="id" column="ID"/>
            <result property="factoryCode" column="FACTORY_CODE"/>
            <result property="productTypeCode" column="PRODUCT_TYPE_CODE"/>
            <result property="brand" column="BRAND"/>
            <result property="structureName" column="STRUCTURE_NAME"/>
            <result property="locationType" column="LOCATION_TYPE"/>
            <result property="mesMaterialCode" column="MES_MATERIAL_CODE"/>
            <result property="materialCode" column="MATERIAL_CODE"/>
            <result property="materialDesc" column="MATERIAL_DESC"/>
            <result property="stockQty" column="STOCK_QTY"/>
            <result property="weekYear" column="WEEK_YEAR"/>
            <result property="dynamicBalance" column="DYNAMIC_BALANCE"/>
            <result property="uniformity" column="UNIFORMITY"/>
            <result property="isExceedThreeMonth" column="IS_EXCEED_THREE_MONTH"/>
            <result property="isExceedSixMonth" column="IS_EXCEED_SIX_MONTH"/>
            <result property="isExceedNineMonth" column="IS_EXCEED_NINE_MONTH"/>
            <result property="isExceedTwelveMonth" column="IS_EXCEED_TWELVE_MONTH"/>
            <result property="isExceedTire" column="IS_EXCEED_TIRE"/>
            <result property="remark" column="REMARK"/>
            <result property="isDelete" column="IS_DELETE"/>
            <result property="createTime" column="CREATE_TIME"/>
            <result property="updateTime" column="UPDATE_TIME"/>
            <result property="createBy" column="CREATE_BY"/>
            <result property="updateBy" column="UPDATE_BY"/>
    </resultMap>


    <sql id="selectMpFinishedProductStockVo">
        SELECT ID, FACTORY_CODE, PRODUCT_TYPE_CODE, BRAND, STRUCTURE_NAME, LOCATION_TYPE, MES_MATERIAL_CODE, MATERIAL_CODE, MATERIAL_DESC, STOCK_QTY, WEEK_YEAR, DYNAMIC_BALANCE, UNIFORMITY, IS_EXCEED_THREE_MONTH, IS_EXCEED_SIX_MONTH, IS_EXCEED_NINE_MONTH, IS_EXCEED_TWELVE_MONTH, IS_EXCEED_TIRE, REMARK, IS_DELETE, CREATE_TIME, UPDATE_TIME, CREATE_BY, UPDATE_BY, FROM T_MP_FINISHED_PRODUCT_STOCK
    </sql>

    <select id="selectMpFinishedProductStockList" parameterType="com.zlt.aps.monthplan.api.domain.entity.MpFinishedProductStock" resultMap="MpFinishedProductStockResult">
        <include refid="selectMpFinishedProductStockVo"/>
        WHERE NVL(IS_DELETE,0) = 0
        <if test="factoryCode != null  and factoryCode != ''"> AND FACTORY_CODE = #{factoryCode}</if>
        <if test="productTypeCode != null  and productTypeCode != ''"> AND PRODUCT_TYPE_CODE = #{productTypeCode}</if>
        <if test="brand != null  and brand != ''"> AND BRAND = #{brand}</if>
        <if test="structureName != null  and structureName != ''"> AND STRUCTURE_NAME LIKE CONCAT(CONCAT('%', #{structureName}), '%')</if>
        <if test="locationType != null  and locationType != ''"> AND LOCATION_TYPE = #{locationType}</if>
        <if test="mesMaterialCode != null  and mesMaterialCode != ''"> AND MES_MATERIAL_CODE = #{mesMaterialCode}</if>
        <if test="materialCode != null  and materialCode != ''"> AND MATERIAL_CODE = #{materialCode}</if>
        <if test="materialDesc != null  and materialDesc != ''"> AND MATERIAL_DESC = #{materialDesc}</if>
        <if test="stockQty != null "> AND STOCK_QTY = #{stockQty}</if>
        <if test="weekYear != null  and weekYear != ''"> AND WEEK_YEAR = #{weekYear}</if>
        <if test="dynamicBalance != null  and dynamicBalance != ''"> AND DYNAMIC_BALANCE = #{dynamicBalance}</if>
        <if test="uniformity != null  and uniformity != ''"> AND UNIFORMITY = #{uniformity}</if>
        <if test="isExceedThreeMonth != null  and isExceedThreeMonth != ''"> AND IS_EXCEED_THREE_MONTH = #{isExceedThreeMonth}</if>
        <if test="isExceedSixMonth != null  and isExceedSixMonth != ''"> AND IS_EXCEED_SIX_MONTH = #{isExceedSixMonth}</if>
        <if test="isExceedNineMonth != null  and isExceedNineMonth != ''"> AND IS_EXCEED_NINE_MONTH = #{isExceedNineMonth}</if>
        <if test="isExceedTwelveMonth != null  and isExceedTwelveMonth != ''"> AND IS_EXCEED_TWELVE_MONTH = #{isExceedTwelveMonth}</if>
        <if test="isExceedTire != null  and isExceedTire != ''"> AND IS_EXCEED_TIRE = #{isExceedTire}</if>
    </select>

    <select id="selectMpFinishedProductStockById" parameterType="Long" resultMap="MpFinishedProductStockResult">
        <include refid="selectMpFinishedProductStockVo"/>
        WHERE ID = #{id}
    </select>

    <select id="selectMpFinishedProductStockByIds" parameterType="list"
            resultMap="MpFinishedProductStockResult">

        <include refid="selectMpFinishedProductStockVo"/>
           WHERE  NVL(IS_DELETE,0) = 0  AND ID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>

    <insert id="insert" parameterType="com.zlt.aps.monthplan.api.domain.entity.MpFinishedProductStock">
        INSERT INTO T_MP_FINISHED_PRODUCT_STOCK
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            <if test="factoryCode != null and factoryCode != ''">FACTORY_CODE,</if>
            <if test="productTypeCode != null">PRODUCT_TYPE_CODE,</if>
            <if test="brand != null">BRAND,</if>
            <if test="structureName != null">STRUCTURE_NAME,</if>
            <if test="locationType != null">LOCATION_TYPE,</if>
            <if test="mesMaterialCode != null">MES_MATERIAL_CODE,</if>
            <if test="materialCode != null">MATERIAL_CODE,</if>
            <if test="materialDesc != null">MATERIAL_DESC,</if>
            <if test="stockQty != null">STOCK_QTY,</if>
            <if test="weekYear != null">WEEK_YEAR,</if>
            <if test="dynamicBalance != null">DYNAMIC_BALANCE,</if>
            <if test="uniformity != null">UNIFORMITY,</if>
            <if test="isExceedThreeMonth != null">IS_EXCEED_THREE_MONTH,</if>
            <if test="isExceedSixMonth != null">IS_EXCEED_SIX_MONTH,</if>
            <if test="isExceedNineMonth != null">IS_EXCEED_NINE_MONTH,</if>
            <if test="isExceedTwelveMonth != null">IS_EXCEED_TWELVE_MONTH,</if>
            <if test="isExceedTire != null">IS_EXCEED_TIRE,</if>
            <if test="remark != null">REMARK,</if>
            <if test="isDelete != null">IS_DELETE,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
         </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            SEQ_INISHED_PRODUCT_STOCK.NEXTVAL,
            <if test="factoryCode != null and factoryCode != ''">#{factoryCode},</if>
            <if test="productTypeCode != null">#{productTypeCode},</if>
            <if test="brand != null">#{brand},</if>
            <if test="structureName != null">#{structureName},</if>
            <if test="locationType != null">#{locationType},</if>
            <if test="mesMaterialCode != null">#{mesMaterialCode},</if>
            <if test="materialCode != null">#{materialCode},</if>
            <if test="materialDesc != null">#{materialDesc},</if>
            <if test="stockQty != null">#{stockQty},</if>
            <if test="weekYear != null">#{weekYear},</if>
            <if test="dynamicBalance != null">#{dynamicBalance},</if>
            <if test="uniformity != null">#{uniformity},</if>
            <if test="isExceedThreeMonth != null">#{isExceedThreeMonth},</if>
            <if test="isExceedSixMonth != null">#{isExceedSixMonth},</if>
            <if test="isExceedNineMonth != null">#{isExceedNineMonth},</if>
            <if test="isExceedTwelveMonth != null">#{isExceedTwelveMonth},</if>
            <if test="isExceedTire != null">#{isExceedTire},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="update" parameterType="com.zlt.aps.monthplan.api.domain.entity.MpFinishedProductStock">
        UPDATE T_MP_FINISHED_PRODUCT_STOCK
        <trim prefix="SET" suffixOverrides=",">
            <if test="factoryCode != null and factoryCode != ''">FACTORY_CODE = #{factoryCode},</if>
            <if test="productTypeCode != null">PRODUCT_TYPE_CODE = #{productTypeCode},</if>
            <if test="brand != null">BRAND = #{brand},</if>
            <if test="structureName != null">STRUCTURE_NAME = #{structureName},</if>
            <if test="locationType != null">LOCATION_TYPE = #{locationType},</if>
            <if test="mesMaterialCode != null">MES_MATERIAL_CODE = #{mesMaterialCode},</if>
            <if test="materialCode != null">MATERIAL_CODE = #{materialCode},</if>
            <if test="materialDesc != null">MATERIAL_DESC = #{materialDesc},</if>
            <if test="stockQty != null">STOCK_QTY = #{stockQty},</if>
            <if test="weekYear != null">WEEK_YEAR = #{weekYear},</if>
            <if test="dynamicBalance != null">DYNAMIC_BALANCE = #{dynamicBalance},</if>
            <if test="uniformity != null">UNIFORMITY = #{uniformity},</if>
            <if test="isExceedThreeMonth != null">IS_EXCEED_THREE_MONTH = #{isExceedThreeMonth},</if>
            <if test="isExceedSixMonth != null">IS_EXCEED_SIX_MONTH = #{isExceedSixMonth},</if>
            <if test="isExceedNineMonth != null">IS_EXCEED_NINE_MONTH = #{isExceedNineMonth},</if>
            <if test="isExceedTwelveMonth != null">IS_EXCEED_TWELVE_MONTH = #{isExceedTwelveMonth},</if>
            <if test="isExceedTire != null">IS_EXCEED_TIRE = #{isExceedTire},</if>
            <if test="remark != null">REMARK = #{remark},</if>
            <if test="isDelete != null">IS_DELETE = #{isDelete},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteMpFinishedProductStockById" parameterType="Long">
        UPDATE T_MP_FINISHED_PRODUCT_STOCK SET IS_DELETE = 1 WHERE ID = #{id}
    </delete>

    <delete id="deleteMpFinishedProductStockByIds" parameterType="String">
        UPDATE T_MP_FINISHED_PRODUCT_STOCK SET IS_DELETE = 1 WHERE ID IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>