<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MpHistorySaleRecordEntityMapper">

    <select id="selectRollMonthSaleQty" resultType="com.zlt.aps.monthplan.api.domain.entity.MpHistorySaleRecord">
        select MATERIAL_CODE,
               SUM(SALE_QTY) as SALE_QTY
        from T_MDM_HISTORY_SALE_RECORD
        where IS_DELETE = 0
          AND `YEAR_MONTH` &gt;= #{minYearMonth}
          AND `YEAR_MONTH` &lt;= #{maxYearMonth}
        group by MATERIAL_CODE
    </select>

    <select id="selectSumQtyGroupByArea"
            resultType="com.zlt.aps.monthplan.api.domain.entity.MpHistorySaleRecord">
        SELECT AREA_CODE, MATERIAL_CODE,
        SUM(SALE_QTY) as SALE_QTY
        from T_MDM_HISTORY_SALE_RECORD
        where IS_DELETE = 0
        AND `YEAR_MONTH` &gt;= #{minYearMonth}
        AND `YEAR_MONTH` &lt;= #{maxYearMonth}
        <if test="list != null and list.size() >0">
            AND MATERIAL_CODE IN
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        group by AREA_CODE, MATERIAL_CODE
    </select>

    <select id="selectSumQtyGroupByMonth"
            resultType="com.zlt.aps.monthplan.api.domain.entity.MpHistorySaleRecord">
        SELECT `MONTH`, MATERIAL_CODE,
        SUM(SALE_QTY) as SALE_QTY
        from T_MDM_HISTORY_SALE_RECORD
        where IS_DELETE = 0
        AND `YEAR_MONTH` &gt;= #{minYearMonth}
        AND `YEAR_MONTH` &lt;= #{maxYearMonth}
        <if test="list != null and list.size() >0">
            AND MATERIAL_CODE IN
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        group by `MONTH`, MATERIAL_CODE
    </select>
</mapper>
