<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.MpMonthlySaleQtyEntityMapper">
  <select id="findAdjustMonthlySaleQty" resultType="com.zlt.aps.monthplan.api.domain.entity.MpMonthlySaleQty">
          SELECT
            masq.FACTORY_CODE,
            masq.PRODUCT_TYPE_CODE,
            masq.LOCATION_TYPE,
            masq.BRAND,
            masq.MATERIAL_CODE,
            masq.MATERIAL_DESC,
            masq.ROLL_TWELVE_MONTH_SALE_QTY,
            masq.AVERAGE_SALE_QTY,
            masq.PASS_THREE_MONTH_SALE_QTY,
            masq.PASS_SIX_MONTH_SALE_QTY,
            masq.DELIVERY_FREQUENCY,
            masq.SALE_AREA
          FROM (
                 -- 从过滤性最好的表开始
                 SELECT DISTINCT STRUCTURE_NAME
                 FROM T_MP_STRUCTURE_ALLOCATION
                 WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                   AND `YEAR` = #{year,jdbcType=DECIMAL}
                   AND `MONTH` = #{month,jdbcType=DECIMAL}
                   AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                   AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR}
                   AND IS_DELETE = 0
               ) filtered_structures
                 INNER JOIN t_mdm_material_info  mi
                            ON mi.STRUCTURE_NAME = filtered_structures.STRUCTURE_NAME
                              AND mi.IS_DELETE = 0
                 INNER JOIN T_MDM_MONTH_AVG_SALE_QTY  masq
                            ON masq.MATERIAL_CODE = mi.MATERIAL_CODE
                              AND masq.IS_DELETE = 0
  </select>
</mapper>
