<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.factory.mapper.MpStructureAllocationEntityMapper">

    <select id="getVersionList" resultType="com.zlt.aps.monthplan.api.domain.entity.MpStructureAllocation">
        SELECT DISTINCT
        PRODUCTION_VERSION
        FROM
        T_MP_STRUCTURE_ALLOCATION
        WHERE
        IS_DELETE = 0 AND PRODUCTION_VERSION IS NOT NULL
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="year != null and year != ''">AND YEAR = #{year}</if>
        <if test="month != null and month != ''">AND MONTH = #{month}</if>
        ORDER BY PRODUCTION_VERSION DESC
    </select>

</mapper>