<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.maindata.mapper.TireCapacityConfigurationMapper">

    <select id="getConfigurationList" parameterType="com.zlt.aps.monthplan.api.domain.entity.TireCapacityConfiguration" resultType="com.zlt.aps.monthplan.api.domain.vo.TireCapacityConfigurationVo">
        SELECT tmtc.ID,
               tmtc.FACTORY_CODE,
               tmtc.YEAR,
               tmtc.MONTH,
               tmtc.TIRE_TYPE,
               tmtc.PRO_SIZE,
               tmtc.MONTH_CAPACITY,
               tmtc.REMARK,
               tmtc.UPDATE_BY,
               tmtc.UPDATE_TIME,
               dama.DEMAND_QTY,
               dama.NET_DEMAND_QTY,
               dama.STOCK_UP_DEMAND_QTY
          FROM t_mdm_tire_capacity tmtc
          LEFT JOIN(SELECT sumq.TIRE_TYPE,
                           sumq.PRO_SIZE,
                           sumq.DEMAND_QTY,
                           netq.NET_DEMAND_QTY,
                           sudq.STOCK_UP_DEMAND_QTY
                      FROM (SELECT tmi.TIRE_TYPE,
                                   mprp.PRO_SIZE,
                                   SUM(mprp.PLAN_QTY) AS DEMAND_QTY
                              FROM t_mp_product_require_plan mprp
        INNER JOIN t_mdm_material_info tmi
                                ON tmi.FACTORY_CODE = mprp.FACTORY_CODE
                               AND tmi.PRODUCT_CODE = mprp.PRODUCT_CODE
                             WHERE IFNULL(mprp.IS_DELETE, 0) = 0
                               AND mprp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                               AND mprp.`YEAR` = #{year,jdbcType=DECIMAL}
                               AND mprp.`MONTH` = #{month,jdbcType=DECIMAL}
                               AND mprp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                             GROUP BY tmi.TIRE_TYPE,mprp.PRO_SIZE) sumq
                      LEFT JOIN(SELECT tmi.TIRE_TYPE,
                                       mprp.PRO_SIZE,
                                       SUM(mprp.PLAN_QTY) AS NET_DEMAND_QTY
                                  FROM t_mp_product_require_plan mprp
        INNER JOIN t_mdm_material_info tmi
                                    ON tmi.FACTORY_CODE = mprp.FACTORY_CODE
                                   AND tmi.PRODUCT_CODE = mprp.PRODUCT_CODE
                                 WHERE IFNULL(mprp.IS_DELETE, 0) = 0
                                   AND mprp.IS_STOCK_UP = 0
                                   AND mprp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                                   AND mprp.`YEAR` = #{year,jdbcType=DECIMAL}
                                   AND mprp.`MONTH` = #{month,jdbcType=DECIMAL}
                                   AND mprp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                                 GROUP BY tmi.TIRE_TYPE,mprp.PRO_SIZE) netq
                        ON sumq.TIRE_TYPE = netq.TIRE_TYPE
                       AND sumq.PRO_SIZE = netq.PRO_SIZE
                      LEFT JOIN(SELECT tmi.TIRE_TYPE,
                                       mprp.PRO_SIZE,
                                       SUM(mprp.PLAN_QTY) AS STOCK_UP_DEMAND_QTY
                                  FROM t_mp_product_require_plan mprp
        INNER JOIN t_mdm_material_info tmi
                                    ON tmi.FACTORY_CODE = mprp.FACTORY_CODE
                                   AND tmi.PRODUCT_CODE = mprp.PRODUCT_CODE
                                 WHERE IFNULL(mprp.IS_DELETE, 0) = 0
                                   AND mprp.IS_STOCK_UP = 1
                                   AND mprp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                                   AND mprp.`YEAR` = #{year,jdbcType=DECIMAL}
                                   AND mprp.`MONTH` = #{month,jdbcType=DECIMAL}
                                   AND mprp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                                 GROUP BY tmi.TIRE_TYPE,mprp.PRO_SIZE) sudq
                        ON sumq.TIRE_TYPE = sudq.TIRE_TYPE
                       AND sumq.PRO_SIZE = sudq.PRO_SIZE) dama
            ON dama.TIRE_TYPE = tmtc.TIRE_TYPE
           AND dama.PRO_SIZE = tmtc.PRO_SIZE
         WHERE IFNULL(tmtc.IS_DELETE, 0) = 0
           AND tmtc.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND tmtc.YEAR = #{year,jdbcType=DECIMAL}
           AND tmtc.MONTH = #{month,jdbcType=DECIMAL}
        <if test="proSize != null ">
           AND tmtc.PRO_SIZE = #{proSize,jdbcType=DECIMAL}
        </if>
        <if test="tireType != null and tireType != '' ">
           AND tmtc.TIRE_TYPE = #{tireType,jdbcType=VARCHAR}
        </if>
         ORDER BY tmtc.UPDATE_TIME DESC,tmtc.TIRE_TYPE,tmtc.PRO_SIZE
    </select>

    <select id="getDemandInfo" parameterType="com.zlt.aps.monthplan.api.domain.entity.TireCapacityConfiguration" resultType="com.zlt.aps.monthplan.api.domain.vo.TireCapacityConfigurationVo">
        SELECT sumq.TIRE_TYPE,
               sumq.PRO_SIZE,
               sumq.DEMAND_QTY,
               netq.NET_DEMAND_QTY,
               sudq.STOCK_UP_DEMAND_QTY
          FROM (SELECT tmi.TIRE_TYPE,
                       mprp.PRO_SIZE,
                       SUM(mprp.PLAN_QTY) AS DEMAND_QTY
                  FROM t_mp_product_require_plan mprp
                           INNER JOIN t_mdm_material_info tmi
                    ON tmi.FACTORY_CODE = mprp.FACTORY_CODE
                   AND tmi.PRODUCT_CODE = mprp.PRODUCT_CODE
                 WHERE IFNULL(mprp.IS_DELETE, 0) = 0
                   AND mprp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                   AND mprp.`YEAR` = #{year,jdbcType=DECIMAL}
                   AND mprp.`MONTH` = #{month,jdbcType=DECIMAL}
                   AND mprp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                   AND tmi.TIRE_TYPE = #{tireType,jdbcType=VARCHAR}
                   AND mprp.PRO_SIZE = #{proSize,jdbcType=DECIMAL}
                 GROUP BY tmi.TIRE_TYPE,mprp.PRO_SIZE) sumq
          LEFT JOIN(SELECT tmi.TIRE_TYPE,
                           mprp.PRO_SIZE,
                           SUM(mprp.PLAN_QTY) AS NET_DEMAND_QTY
                      FROM t_mp_product_require_plan mprp
                               INNER JOIN t_mdm_material_info tmi
                        ON tmi.FACTORY_CODE = mprp.FACTORY_CODE
                       AND tmi.PRODUCT_CODE = mprp.PRODUCT_CODE
                     WHERE IFNULL(mprp.IS_DELETE, 0) = 0
                       AND mprp.IS_STOCK_UP = 0
                       AND mprp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                       AND mprp.`YEAR` = #{year,jdbcType=DECIMAL}
                       AND mprp.`MONTH` = #{month,jdbcType=DECIMAL}
                       AND mprp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                       AND tmi.TIRE_TYPE = #{tireType,jdbcType=VARCHAR}
                       AND mprp.PRO_SIZE = #{proSize,jdbcType=DECIMAL}
                     GROUP BY tmi.TIRE_TYPE,mprp.PRO_SIZE) netq
            ON sumq.TIRE_TYPE = netq.TIRE_TYPE
           AND sumq.PRO_SIZE = netq.PRO_SIZE
          LEFT JOIN(SELECT tmi.TIRE_TYPE,
                           mprp.PRO_SIZE,
                           SUM(mprp.PLAN_QTY) AS STOCK_UP_DEMAND_QTY
                      FROM t_mp_product_require_plan mprp
                               INNER JOIN t_mdm_material_info tmi
                        ON tmi.FACTORY_CODE = mprp.FACTORY_CODE
                       AND tmi.PRODUCT_CODE = mprp.PRODUCT_CODE
                     WHERE IFNULL(mprp.IS_DELETE, 0) = 0
                       AND mprp.IS_STOCK_UP = 1
                       AND mprp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                       AND mprp.`YEAR` = #{year,jdbcType=DECIMAL}
                       AND mprp.`MONTH` = #{month,jdbcType=DECIMAL}
                       AND mprp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                       AND tmi.TIRE_TYPE = #{tireType,jdbcType=VARCHAR}
                       AND mprp.PRO_SIZE = #{proSize,jdbcType=DECIMAL}
                     GROUP BY tmi.TIRE_TYPE,mprp.PRO_SIZE) sudq
            ON sumq.TIRE_TYPE = sudq.TIRE_TYPE
           AND sumq.PRO_SIZE = sudq.PRO_SIZE
    </select>
</mapper>
