<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tm.mapper.TmAssistSpecMapper">

    <select id="listAssistSpec" parameterType="com.zlt.aps.tm.api.domain.entity.TmAssistSpec"
            resultType="com.zlt.aps.tm.api.domain.entity.TmAssistSpec">
        select *
        from t_tm_assist_spec
        where DEL_FLAG = 0
        <if test="materialCode != null and materialCode != ''">
            and INSTR(MATERIAL_CODE, #{materialCode, jdbcType=VARCHAR}) > 0
        </if>
        <if test="orderStr == null">
            order by CREATE_TIME desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO t_tm_assist_spec (
        MATERIAL_CODE, create_by, create_time,
        update_by, update_time, remark, del_flag
        ) VALUES
        <foreach collection="list" item="AssistSpec" separator=",">
            (
            #{AssistSpec.materialCode,jdbcType=VARCHAR},
            #{AssistSpec.createBy,jdbcType=VARCHAR},
            NOW(),
            #{AssistSpec.updateBy,jdbcType=VARCHAR},
            NOW(),
            #{AssistSpec.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        update_by = VALUES(create_by),
        update_time = NOW(),
        remark = VALUES(remark)
    </insert>
</mapper>
