<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tm.mapper.TmGlueOrderMapper">

    <select id="listGlueOrder" parameterType="com.zlt.aps.tm.api.domain.dto.TmGlueOrderDto"
            resultType="com.zlt.aps.tm.api.domain.dto.TmGlueOrderDto">
        select * from (
            select o.id, g.id glue_group_id, g.glue_group_code, g.glue_group_name, o.glue_code, o.order_num,
                   g.order_num||'.'||o.order_num as glue_group_order_num, o.remark
            from T_TM_GLUE_GROUP_ORDER g
            inner join T_TM_GLUE_ORDER o on g.id = o.glue_group_id
            where 1=1
            and g.del_flag=0
            and o.del_flag=0
            <if test="glueGroupId != null">
                and GLUE_GROUP_ID = #{glueGroupId}
            </if>
            <if test="glueCode != null and glueCode != ''">
                and INSTR(GLUE_CODE, #{glueCode}) > 0
            </if>
            <if test="orderStr == null">
                order by g.order_num, o.order_num
            </if>
        ) t
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <update id="mergeSql" parameterType="list">
        merge into T_TM_GLUE_ORDER a USING (
        <foreach collection="list" item="GlueOrder" separator=" union ">
            select
            #{GlueOrder.glueGroupId,jdbcType=DOUBLE} GLUE_GROUP_ID,
            #{GlueOrder.glueCode,jdbcType=VARCHAR} GLUE_CODE,
            #{GlueOrder.orderNum,jdbcType=DOUBLE} ORDER_NUM,
            #{GlueOrder.createBy,jdbcType=VARCHAR} create_by,
            #{GlueOrder.createTime,jdbcType=DATE} create_time,
            #{GlueOrder.updateBy,jdbcType=VARCHAR} update_by,
            #{GlueOrder.updateTime,jdbcType=DATE} update_time,
            #{GlueOrder.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.GLUE_CODE = b.GLUE_CODE
        AND a.del_flag = '0'
        )
        WHEN MATCHED THEN
        UPDATE SET
        a.GLUE_GROUP_ID   = b.GLUE_GROUP_ID,
        a.ORDER_NUM   = b.ORDER_NUM,
        a.update_by   = b.create_by,
        a.update_time = sysdate,
        a.remark      = b.remark
        WHEN NOT MATCHED THEN
        INSERT (
        a.id          ,
        a.GLUE_GROUP_ID  ,
        a.GLUE_CODE  ,
        a.ORDER_NUM   ,
        a.create_by   ,
        a.create_time ,
        a.remark, a.del_flag
        ) values
        (SEQ_PUBLIC.NEXTVAL,
        b.GLUE_GROUP_ID,
        b.GLUE_CODE,
        b.ORDER_NUM,
        b.create_by,
        sysdate,
        b.remark, '0'
        )
    </update>
</mapper>
