<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tm.mapper.TmMouthPlateMapper">

    <resultMap type="com.zlt.aps.tm.api.domain.dto.TmMouthPlateDto" id="TmMouthPlateResult">
        <result property="id" column="id"/>
        <result property="mouthPlateCode" column="mouth_plate_code"/>
        <result property="machineId" column="machine_id"/>
        <result property="machineName" column="machine_name"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectTmMouthPlateVo">
        select id, mouth_plate_code, machine_id, status, remark, del_flag, create_by, create_time, update_by, update_time from t_tm_mouth_plate
    </sql>

    <select id="selectMouthPlateWithMachineInfo" parameterType="com.zlt.aps.tm.entity.TmMouthPlate"
            resultType="com.zlt.aps.tm.api.domain.dto.TmMouthPlateDto">
        select * from (
            SELECT mp.*,mi.MACHINE_NAME
            FROM T_TM_MOUTH_PLATE mp
            LEFT JOIN T_TM_MACHINE_INFO mi
            ON mp.MACHINE_ID = mi.ID
            where mp.del_flag = '0'
            <if test="mouthPlateCode != null  and mouthPlateCode != ''">and INSTR(mp.mouth_plate_code, #{mouthPlateCode}) > 0</if>
            <if test="machineId != null ">and mp.machine_id = #{machineId}</if>
            <if test="status != null  and status != ''">and mp.status = #{status}</if>
            <if test="orderStr == null">order by mp.create_time desc</if>
        )
        <if test="orderStr != null">order by ${orderStr}</if>
    </select>

    <select id="checkUnique" parameterType="com.zlt.aps.tm.entity.TmMouthPlate" resultType="int">
        SELECT count(1)
        FROM T_TM_MOUTH_PLATE mp
        LEFT JOIN T_TM_MACHINE_INFO mi
        ON mp.MACHINE_ID = mi.ID
        where mp.del_flag = '0'
        and mp.mouth_plate_code = #{mouthPlateCode}
        and mp.machine_id = #{machineId}
        <if test="id != null and id != ''">and mp.id != #{id}</if>
    </select>

    <select id="selectByCodeAndMachineId" parameterType="com.zlt.aps.tm.api.domain.dto.TmMouthPlateDto"
            resultMap="TmMouthPlateResult">
        select * FROM T_TM_MOUTH_PLATE
        where del_flag = '0'
        <if test="id != null and id != ''">and id != #{id}</if>
        <if test="machineId == null or machineId == ''">and machine_id is null</if>
        <if test="machineId != null and machineId != ''">and machine_id = #{machineId}</if>
        <if test="mouthPlateCode == null or mouthPlateCode == ''">and mouth_plate_code is null</if>
        <if test="mouthPlateCode != null  and mouthPlateCode != ''">and mouth_plate_code = #{mouthPlateCode}</if>
    </select>

    <insert id="insertList" parameterType="list">
        insert into T_TM_MOUTH_PLATE
        (id, mouth_plate_code, machine_id, status, create_by, create_time, del_flag, remark)
        select SEQ_PUBLIC.NEXTVAL AS ID, x.*
        from (
        <foreach collection="list" item="MouthPlate" separator=" union ">
            select
            #{MouthPlate.mouthPlateCode},
            #{MouthPlate.machineId},
            #{MouthPlate.status},
            #{MouthPlate.createBy},
            #{MouthPlate.createTime},
            #{MouthPlate.delFlag},
            #{MouthPlate.remark,jdbcType=VARCHAR}
            from dual
        </foreach>
        ) x
    </insert>

    <update id="mergeSql" parameterType="list">
        merge into T_TM_MOUTH_PLATE a USING (
        <foreach collection="list" item="MouthPlate" separator=" union ">
            select
            #{MouthPlate.mouthPlateCode,jdbcType=VARCHAR} mouth_plate_code,
            #{MouthPlate.machineId,jdbcType=DOUBLE} machine_id,
            #{MouthPlate.status,jdbcType=VARCHAR} status,
            #{MouthPlate.createBy,jdbcType=VARCHAR} create_by,
            #{MouthPlate.createTime,jdbcType=DATE} create_time,
            #{MouthPlate.updateBy,jdbcType=VARCHAR} update_by,
            #{MouthPlate.updateTime,jdbcType=DATE} update_time,
            #{MouthPlate.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (a.mouth_plate_code = b.mouth_plate_code and a.machine_id = b.machine_id and a.del_flag = '0')
        WHEN MATCHED THEN
        UPDATE SET
        a.status = b.status,
        a.update_by = b.create_by,
        a.update_time = sysdate,
        a.remark = b.remark
        WHEN NOT MATCHED THEN
        INSERT (a.id, a.mouth_plate_code, a.machine_id, a.status, a.create_by, a.create_time, a.remark, a.del_flag)
        values
        (SEQ_PUBLIC.NEXTVAL, b.mouth_plate_code, b.machine_id, b.status, b.create_by, sysdate, b.remark, '0')
    </update>


    <update id="deleteAll">
        update T_TM_MOUTH_PLATE set del_flag = '1' where del_flag = '0'
    </update>
</mapper>
