<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.mdm.mapper.FactoryNoProductionMapper">

    <resultMap type="com.zlt.aps.monthplan.api.domain.entity.FactoryNoProduction" id="FactoryNoProductionResult">
        <result property="id" column="ID"/>
        <result property="factoryCode" column="FACTORY_CODE"/>
        <result property="year" column="YEAR"/>
        <result property="month" column="MONTH"/>
        <result property="productCode" column="PRODUCT_CODE"/>
        <result property="productTypeName" column="PRODUCT_TYPE_NAME"/>
        <result property="productDesc" column="PRODUCT_DESC"/>
        <result property="remark" column="REMARK"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="updateBy" column="UPDATE_BY"/>
    </resultMap>


    <select id="selectFactoryNoProductionList" parameterType="com.zlt.aps.monthplan.api.domain.entity.FactoryNoProduction" resultMap="FactoryNoProductionResult">
        SELECT
        fnp.ID,
        fnp.FACTORY_CODE,
        fnp.YEAR,
        fnp.MONTH,
        fnp.PRODUCT_CODE,
        pi.PRODUCT_TYPE_NAME,
        fnp.PRODUCT_DESC,
        fnp.REMARK,
        fnp.IS_DELETE,
        fnp.CREATE_TIME,
        fnp.UPDATE_TIME,
        fnp.CREATE_BY,
        fnp.UPDATE_BY
        FROM
        T_MDM_FACTORY_NO_PRODUCTION fnp
        LEFT JOIN t_mdm_material_info pi ON fnp.PRODUCT_CODE = pi.PRODUCT_CODE
        WHERE
        fnp.IS_DELETE = 0
        <if test="factoryCode != null  and factoryCode != ''"> AND fnp.FACTORY_CODE = #{factoryCode}</if>
        <if test="year != null "> AND fnp.YEAR = #{year}</if>
        <if test="month != null "> AND fnp.MONTH = #{month}</if>
        <if test="productCode != null  and productCode != ''">AND fnp.PRODUCT_CODE like CONCAT('%',
            #{productCode},'%')
        </if>
        <if test="productDesc != null  and productDesc != ''"> AND fnp.PRODUCT_DESC = #{productDesc}</if>
    </select>
</mapper>
