<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd90.mapper.Cd90LineSideStockMapper">
	
    <select id="selectStockList" resultType="com.zlt.aps.cd90.api.domain.entity.Cd90LineSideStock">
        select id, 
               stock_date, 
               s.machine_code,
               m.machine_name,
               material_code, 
               bar_code,
               stock_num, 
               remark, 
               del_flag, 
               create_by, 
               create_time, 
               update_by, 
               update_time 
          from t_cd90_line_side_stock s
          left join (
            SELECT m.machine_code, max(m.machine_name) machine_name
              FROM t_cd90_machine_info m
             WHERE m.del_flag = '0'
             GROUP BY m.machine_code
          ) m ON m.machine_code = s.machine_code
         where del_flag='0'
        <if test="startTime != null and startTime !='' ">
            and stock_date  <![CDATA[  >=  ]]> STR_TO_DATE(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime !='' ">
            and stock_date  <![CDATA[   <=  ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="materialCode != null  and materialCode != ''">
            and INSTR(material_code, #{materialCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="orderStr == null">
            order by stock_date desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>
    
    <!-- 删除90度裁断库存数据 -->
    <update id="deleteCd90LineSideStock">
    	UPDATE t_cd90_line_side_stock
    	   SET del_flag = NULL,
    	       update_by = #{userName, jdbcType=VARCHAR},
    	       update_time = now()
    	 WHERE stock_date = (
		       SELECT max(STOCK_DATE)
		  	      FROM MES_CD90_LINESIDE_STOCK@sync_data
		  	     WHERE DATA_VERSION = #{dataVersion}
    	     )
    	   AND del_flag = '0'
    </update>
    
    <!-- 更新90度裁断线边库 -->
    <update id="insertCd90LineSideStock">
        INSERT INTO t_cd90_line_side_stock (
          id, 
          stock_date,
          BAR_CODE,
          material_code,
          machine_code, 
          stock_num, 
          create_by,
          create_time, 
          update_by,
          update_time, 
          del_flag
        ) 
        SELECT null,
               STOCK_DATE,
  	           BAR_CODE,
  	           MATERIAL_CODE,
  	           MACHINE_CODE,
  	           AVAILABLE_STOCK,
  	           #{userName, jdbcType=VARCHAR},
  	           now(),
  	           #{userName, jdbcType=VARCHAR},
  	           now(),
  	           '0'
  	      FROM MES_CD90_LINESIDE_STOCK@sync_data
  	     WHERE DATA_VERSION = #{dataVersion}
    </update>
</mapper>