<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd90.mapper.Cd90ExportLogManagementMapper">

    <!-- 通用查询映射结果 -->
    <select id="listExportLogManagement" parameterType="com.zlt.aps.cd90.api.domain.dto.Cd90ExportLogManagementDto"
            resultType="com.zlt.aps.cd90.api.domain.dto.Cd90ExportLogManagementDto">
        select *
        from T_EXPORT_LOG
        where DEL_FLAG = 0
        <if test="functionName != null and functionName != ''">
            and FUNCTION_NAME LIKE concat(concat('%',
            #{functionName}), '%')
        </if>
        <if test="fileName != null and fileName != ''">
            and FILE_NAME LIKE concat(concat('%',
            #{fileName}), '%')
        </if>
        and PROCEDURE_CODE = '8'
        <if test="orderStr == null">
            order by CREATE_TIME desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

</mapper>
