<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd90.mapper.Cd90LossSettingMapper">

    <resultMap type="com.zlt.aps.cd90.api.domain.dto.Cd90LossSettingDto" id="Cd90LossSettingResult">
        <result property="id" column="id"/>
        <result property="clothCode" column="cloth_code"/>
        <result property="machineId" column="machine_id"/>
        <result property="machineName" column="machine_name"/>
        <result property="lossRate" column="loss_rate"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectCd90LossSettingVo">
        select id, cloth_code, machine_id, loss_rate, create_by, create_time, update_by, update_time, del_flag, remark from t_cd90_loss_setting
    </sql>

    <select id="selectCd90LossSettingList" parameterType="com.zlt.aps.cd90.entity.Cd90LossSetting"
            resultMap="Cd90LossSettingResult">
        select * from (
        select a.*,b.machine_name
        from t_cd90_loss_setting a
        left join T_CD90_MACHINE_INFO b
        on a.machine_id = b.id and b.del_flag = '0'
        where a.del_flag = '0'
        <if test="clothCode != null  and clothCode != ''">
            and INSTR(cloth_code, #{clothCode,jdbcType=VARCHAR}) > 0
          </if>
        <if test="machineId != null ">and machine_id = #{machineId}</if>
        <if test="lossRate != null ">and loss_rate = #{lossRate}</if>
        <if test="orderStr == null">
            order by a.CREATE_TIME desc
        </if>
        ) t

        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="selectCd90LossSettingById" parameterType="Long" resultMap="Cd90LossSettingResult">
        <include refid="selectCd90LossSettingVo"/>
        where id = #{id}
    </select>

    <select id="checkCd90LossSettingUnique" parameterType="com.zlt.aps.cd90.entity.Cd90LossSetting"
            resultType="int">
        select count(1)
        from t_cd90_loss_setting
        where del_flag = '0'
        <if test="clothCode != null  and clothCode != ''">and cloth_code = #{clothCode}</if>
        <if test="clothCode == null  or clothCode == ''">and cloth_code is null</if>
        <if test="machineId != null  and machineId != ''">and machine_id = #{machineId}</if>
        <if test="machineId == null  or machineId == ''">and machine_id is null</if>
        <if test="id != null and id != ''">and id != #{id}</if>
    </select>

    <insert id="insertCd90LossSetting" parameterType="com.zlt.aps.cd90.entity.Cd90LossSetting">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT SEQ_LOSS_SETTING.NEXTVAL as id
            FROM DUAL
        </selectKey>
        insert into t_cd90_loss_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="clothCode != null">cloth_code,</if>
            <if test="machineId != null">machine_id,</if>
            <if test="lossRate != null">loss_rate,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="clothCode != null">#{clothCode},</if>
            <if test="machineId != null">#{machineId},</if>
            <if test="lossRate != null">#{lossRate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateCd90LossSetting" parameterType="com.zlt.aps.cd90.entity.Cd90LossSetting">
        update t_cd90_loss_setting
        <trim prefix="SET" suffixOverrides=",">
            <if test="clothCode != null">cloth_code = #{clothCode},</if>
            machine_id = #{machineId,jdbcType=VARCHAR},
            <if test="lossRate != null">loss_rate = #{lossRate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCd90LossSettingById" parameterType="Long">
        update t_cd90_loss_setting
        set del_flag='1'
        where id = #{id}
    </delete>

    <delete id="deleteCd90LossSettingByIds" parameterType="String">
        update t_cd90_loss_setting set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="mergeSql" parameterType="list">
        merge into t_cd90_loss_setting a USING (
        <foreach collection="list" item="Cd90LossSetting" separator=" union ">
            select
            #{Cd90LossSetting.clothCode,jdbcType=VARCHAR} cloth_code,
            #{Cd90LossSetting.machineId,jdbcType=DECIMAL} machine_id,
            #{Cd90LossSetting.lossRate,jdbcType=DECIMAL} loss_rate,

            #{Cd90LossSetting.createBy,jdbcType=VARCHAR} create_by,
            #{Cd90LossSetting.createTime,jdbcType=DATE} create_time,
            #{Cd90LossSetting.updateBy,jdbcType=VARCHAR} update_by,
            #{Cd90LossSetting.updateTime,jdbcType=DATE} update_time,
            #{Cd90LossSetting.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        ((b.cloth_code is null and a.cloth_code is null) or (a.cloth_code = b.cloth_code))
        and ((b.machine_id is null and a.machine_id is null) or (a.machine_id = b.machine_id))
        AND a.del_flag = '0'
        )WHEN MATCHED THEN
        UPDATE SET
            a.cloth_code   = b.cloth_code,
            a.machine_id   = b.machine_id,
            a.loss_rate   = b.loss_rate,

            a.update_by   = b.create_by,
            a.update_time = sysdate,
            a.remark      = b.remark
        WHEN NOT MATCHED THEN
        INSERT (
        a.id          ,

        a.cloth_code  ,
        a.machine_id  ,
        a.loss_rate   ,

        a.create_by   ,
        a.create_time ,
        a.remark,
        a.del_flag
        ) values(
        SEQ_LOSS_SETTING.NEXTVAL,

        b.cloth_code  ,
        b.machine_id  ,
        b.loss_rate   ,

        b.create_by,
        sysdate,
        b.remark,
        '0'
        )
    </update>


    <update id="deleteAll">
        update t_cd90_loss_setting set del_flag = '1' where del_flag = '0'
    </update>
</mapper>