<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd90.mapper.Cd90ScheduleResultMapper">

    <resultMap type="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult" id="Cd90ScheduleResultResult">
        <result property="id" column="id"/>
        <result property="scheduleDate" column="schedule_date"/>
        <result property="cxBatchNo" column="cx_batch_no"/>
        <result property="batchNo" column="batch_no"/>
        <result property="orderNo" column="order_no"/>
        <result property="bigRollCode" column="big_roll_code"/>
        <result property="clothCode" column="cloth_code"/>
        <result property="unitConsume" column="unit_consume"/>
        <result property="machineId" column="machine_id"/>
        <result property="stockQty" column="stock_qty"/>
        <result property="supplyTime" column="supply_time"/>
        <result property="dayPlanQty" column="day_plan_qty"/>
        <result property="dayFinishQty" column="day_finish_qty"/>
        <result property="dayProduceOrder" column="day_produce_order"/>
        <result property="dayFinishRate" column="day_finish_rate"/>
        <result property="daySysAnalysis" column="day_sys_analysis"/>
        <result property="dayHandAnalysis" column="day_hand_analysis"/>
        <result property="nightPlanQty" column="night_plan_qty"/>
        <result property="nightFinishQty" column="night_finish_qty"/>
        <result property="nightProduceOrder" column="night_produce_order"/>
        <result property="nightFinishRate" column="night_finish_rate"/>
        <result property="nightSysAnalysis" column="night_sys_analysis"/>
        <result property="nightHandAnalysis" column="night_hand_analysis"/>
        <result property="cxClass1Plan" column="cx_class1_plan"/>
        <result property="cxClass2Plan" column="cx_class2_plan"/>
        <result property="cxClass3Plan" column="cx_class3_plan"/>
        <result property="cxClass4Plan" column="cx_class4_plan"/>
        <result property="cxClass5Plan" column="cx_class5_plan"/>
        <result property="isRelease" column="is_release"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="markCloseOutTip" column="mark_close_out_tip"/>
        <result property="productionStatus" column="production_status"/>
        <result property="dataSource" column="data_source"/>
        <result property="publishSuccessCount" column="publish_success_count"/>
        <result property="newestPublishTime" column="newest_publish_time"/>
        <result property="totalFinishQty" column="total_finish_qty"/>
        <result property="dailyFinishRate" column="daily_finish_rate"/>
        <result property="closeOutSpecFlag" column="close_out_spec_flag"/>
        <result property="nextDayPlanQty" column="next_day_plan_qty"/>

    </resultMap>

    <resultMap type="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult" id="Cd90ScheduleResultResult2">
        <result property="id" column="id"/>
        <result property="scheduleDate" column="schedule_date"/>
        <result property="cxBatchNo" column="cx_batch_no"/>
        <result property="batchNo" column="batch_no"/>
        <result property="orderNo" column="order_no"/>
        <result property="bigRollCode" column="big_roll_code"/>
        <result property="clothCode" column="cloth_code"/>
        <result property="unitConsume" column="unit_consume"/>
        <result property="machineId" column="machine_id"/>
        <result property="stockQty" column="stock_qty"/>
        <result property="supplyTime" column="supply_time"/>
        <result property="dayPlanQty" column="day_plan_qty"/>
        <result property="dayFinishQty" column="day_finish_qty"/>
        <result property="dayProduceOrder" column="day_produce_order"/>
        <result property="dayFinishRate" column="day_finish_rate"/>
        <result property="daySysAnalysis" column="day_sys_analysis"/>
        <result property="dayHandAnalysis" column="day_hand_analysis"/>
        <result property="nightPlanQty" column="night_plan_qty"/>
        <result property="nightFinishQty" column="night_finish_qty"/>
        <result property="nightProduceOrder" column="night_produce_order"/>
        <result property="nightFinishRate" column="night_finish_rate"/>
        <result property="nightSysAnalysis" column="night_sys_analysis"/>
        <result property="nightHandAnalysis" column="night_hand_analysis"/>
        <result property="cxClass1Plan" column="cx_class1_plan"/>
        <result property="cxClass2Plan" column="cx_class2_plan"/>
        <result property="cxClass3Plan" column="cx_class3_plan"/>
        <result property="cxClass4Plan" column="cx_class4_plan"/>
        <result property="cxClass5Plan" column="cx_class5_plan"/>
        <result property="isRelease" column="is_release"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="markCloseOutTip" column="mark_close_out_tip"/>
        <result property="productionStatus" column="production_status"/>
        <result property="dataSource" column="data_source"/>
        <result property="dailyTotalQty" column="daily_total_qty"/>
        <result property="publishSuccessCount" column="publish_success_count"/>
        <result property="newestPublishTime" column="newest_publish_time"/>
        <result property="closeOutSpecFlag" column="close_out_spec_flag"/>
        <result property="nextDayPlanQty" column="next_day_plan_qty"/>
    </resultMap>

    <sql id="selectCd90ScheduleResultVo">
        select id,
               schedule_date,
               cx_batch_no,
               batch_no,
               order_no,
               big_roll_code,
               cloth_code,
               unit_consume,
               machine_id,
               stock_qty,
               supply_time,
               day_plan_qty,
               day_finish_qty,
               day_produce_order,
               day_finish_rate,
               day_sys_analysis,
               day_hand_analysis,
               night_plan_qty,
               night_finish_qty,
               night_produce_order,
               night_finish_rate,
               night_sys_analysis,
               night_hand_analysis,
               cx_class1_plan,
               cx_class2_plan,
               cx_class3_plan,
               cx_class4_plan,
               cx_class5_plan,
               is_release,
               remark,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               mark_close_out_tip,
               production_status,
               data_source,
               publish_success_count,
               newest_publish_time,
               CRAFT,
               edge_glue,
               close_out_spec_flag,
               next_day_plan_qty
        from t_cd90_schedule_result
    </sql>

    <sql id="column">
        a.id, a.schedule_date, a.cx_batch_no, a.batch_no, a.order_no, a.big_roll_code, a.cloth_code, a.unit_consume, a.machine_id, a.stock_qty, a.supply_time, a.day_plan_qty, a.day_produce_order, a.day_sys_analysis, a.day_hand_analysis, a.night_plan_qty, a.night_produce_order, a.night_sys_analysis, a.night_hand_analysis, a.cx_class1_plan, a.cx_class2_plan, a.cx_class3_plan, a.cx_class4_plan, a.cx_class5_plan, a.is_release, a.remark, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time, a.mark_close_out_tip, a.production_status,a.data_source, a.publish_success_count, a.newest_publish_time,a.CRAFT,a.edge_glue,a.close_out_spec_flag, a.next_day_plan_qty,
    </sql>

    <select id="selectCd90ScheduleResultList" parameterType="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult"
            resultType="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult">
        select * from (
            select
                <include refid="column"/>
                (IFNULL(day_plan_qty, 0) + IFNULL(night_plan_qty, 0)) as daily_total_qty,
                TRUNCATE(fq.DAY_FINISH_QTY, 0) as day_finish_qty,
                case when a.day_plan_qty=0 then null when a.day_plan_qty!=0 then (TRUNCATE(fq.DAY_FINISH_QTY, 0)/a.day_plan_qty) end as day_finish_rate,
                TRUNCATE(fq.NIGHT_FINISH_QTY, 0) as NIGHT_FINISH_QTY,
                case when a.night_plan_qty=0 then null when a.night_plan_qty!=0 then (TRUNCATE(fq.NIGHT_FINISH_QTY, 0)/a.night_plan_qty) end as night_finish_rate,
                b.MONTH_PLAN_QTY as month_plan,
                CEILING(b.MONTH_REMAIN_QTY) as month_plan_os,
                log.change_machine,
                log.change_day_plan,
                log.change_night_plan,

		        (TRUNCATE(IFNULL(fq.NIGHT_FINISH_QTY, 0), 0) + TRUNCATE(IFNULL(fq.DAY_FINISH_QTY, 0), 0)) AS total_finish_qty,
		        CASE WHEN (TRUNCATE(IFNULL(day_plan_qty, 0), 0) + TRUNCATE(IFNULL(night_plan_qty, 0), 0)) != 0
		               THEN TRUNCATE((IFNULL(fq.NIGHT_FINISH_QTY, 0) + IFNULL(fq.DAY_FINISH_QTY, 0))
		               		/ (TRUNCATE(IFNULL(day_plan_qty, 0), 0) + TRUNCATE(IFNULL(night_plan_qty, 0), 0)), 4)
		             ELSE 0
		        END AS daily_finish_rate
            from t_cd90_schedule_result a
            LEFT JOIN (
                         SELECT MATERIAL_CODE,MONTH_PLAN_QTY,MONTH_REMAIN_QTY
                         FROM T_CD90_MONTH_PLAN_SURPLUS
                         WHERE del_flag='0'
                         and YEAR=#{year,jdbcType=VARCHAR}
                         and MONTH=#{month,jdbcType=VARCHAR}
                      ) b on a.CLOTH_CODE=b.MATERIAL_CODE
            LEFT JOIN T_CD90_DAY_FINISH_QTY fq on a.order_no = fq.order_no and fq.del_flag = '0'
            LEFT JOIN (/*调度员操作日志，判断调度员是否有做“转机台”或“调量”操作*/
                         SELECT schedule_id,
                         max(IF(BEFORE_MACHINE_ID = AFTER_MACHINE_ID,0,1)) change_machine,
                         max(IF(BEFORE_DAY_PLAN = AFTER_DAY_PLAN,0,1)) change_day_plan,
                         max(IF(BEFORE_NIGHT_PLAN = AFTER_NIGHT_PLAN,0,1)) change_night_plan
                         FROM T_CD90_DISPATCHER_LOG
                         where schedule_date = #{scheduleDate}
                         group by schedule_id
                      ) log ON a.id = log.schedule_id
            where a.del_flag='0'
            <if test="scheduleDate != null ">and a.schedule_date = #{scheduleDate,jdbcType=DATE}</if>
            <if test="bigRollCode != null  and bigRollCode != ''">
                and INSTR(a.big_roll_code, #{bigRollCode,jdbcType=VARCHAR}) > 0
            </if>
            <if test="clothCode != null  and clothCode != ''">
                and INSTR(a.cloth_code, #{clothCode,jdbcType=VARCHAR}) > 0
              </if>
            <if test="machineId != null  and machineId != ''">and instr(concat(',',a.machine_id,','),  concat(',',#{machineId},','))>0</if>
            <if test="isRelease != null  and isRelease != ''">and a.IS_RELEASE = #{isRelease}</if>
            <if test="ids != null and ids.length > 0">and a.id in <foreach item="scheduleId" collection="ids" open="(" separator="," close=")">#{scheduleId}</foreach></if>
            order by (case when instr(machine_id,',') > 0 then machine_id when machine_id is null or machine_id = '' then '0' else '-1' end) desc/*多个机台 和 没有机台的排在前面*/,
                     a.big_roll_code,a.cloth_code asc
        ) t
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="selectCd90ScheduleResultById" parameterType="Long" resultMap="Cd90ScheduleResultResult">
        select
        <include refid="column"/>

        fq.DAY_FINISH_QTY as day_finish_qty,
        case when a.day_plan_qty=0 then null
        when a.day_plan_qty!=0 then (fq.DAY_FINISH_QTY/a.day_plan_qty)
        end as day_finish_rate,

        fq.NIGHT_FINISH_QTY as NIGHT_FINISH_QTY,
        case when a.night_plan_qty=0 then null
        when a.night_plan_qty!=0 then (fq.NIGHT_FINISH_QTY/a.night_plan_qty)
        end as night_finish_rate,

        b.MONTH_PLAN_QTY as monthPlan,b.MONTH_REMAIN_QTY as monthPlanOs

        from t_cd90_schedule_result a

        LEFT JOIN (
        select MATERIAL_CODE,MONTH_PLAN_QTY,MONTH_REMAIN_QTY,YEAR,MONTH from T_CD90_MONTH_PLAN_SURPLUS where
        del_flag='0'
        ) b on a.CLOTH_CODE=b.MATERIAL_CODE and b.YEAR=DATE_FORMAT(a.schedule_date,'%Y') and
        b.MONTH=DATE_FORMAT(a.schedule_date,'%m')

        LEFT JOIN T_CD90_DAY_FINISH_QTY fq on a.schedule_date =fq.schedule_date and a.CLOTH_CODE=fq.CLOTH_CODE

        where a.id = #{id} limit 1
    </select>

    <insert id="insertCd90ScheduleResult" parameterType="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult">
        insert into t_cd90_schedule_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="scheduleDate != null">schedule_date,</if>
            <if test="cxBatchNo != null">cx_batch_no,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="bigRollCode != null">big_roll_code,</if>
            <if test="clothCode != null">cloth_code,</if>
            <if test="unitConsume != null">unit_consume,</if>
            <if test="machineId != null">machine_id,</if>
            <if test="stockQty != null">stock_qty,</if>
            <if test="supplyTime != null">supply_time,</if>
            <if test="dayPlanQty != null">day_plan_qty,</if>
            <if test="dayFinishQty != null">day_finish_qty,</if>
            <if test="dayProduceOrder != null">day_produce_order,</if>
            <if test="dayFinishRate != null">day_finish_rate,</if>
            <if test="daySysAnalysis != null">day_sys_analysis,</if>
            <if test="dayHandAnalysis != null">day_hand_analysis,</if>
            <if test="nightPlanQty != null">night_plan_qty,</if>
            <if test="nightFinishQty != null">night_finish_qty,</if>
            <if test="nightProduceOrder != null">night_produce_order,</if>
            <if test="nightFinishRate != null">night_finish_rate,</if>
            <if test="nightSysAnalysis != null">night_sys_analysis,</if>
            <if test="nightHandAnalysis != null">night_hand_analysis,</if>
            <if test="cxClass1Plan != null">cx_class1_plan,</if>
            <if test="cxClass2Plan != null">cx_class2_plan,</if>
            <if test="cxClass3Plan != null">cx_class3_plan,</if>
            <if test="cxClass4Plan != null">cx_class4_plan,</if>
            <if test="cxClass5Plan != null">cx_class5_plan,</if>
            <if test="isRelease != null">is_release,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="markCloseOutTip != null">mark_close_out_tip,</if>
            <if test="productionStatus != null">production_status,</if>
            <if test="dataSource != null">data_source,</if>
            <if test="edgeGlue != null">edge_glue,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="scheduleDate != null">#{scheduleDate},</if>
            <if test="cxBatchNo != null">#{cxBatchNo},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="bigRollCode != null">#{bigRollCode},</if>
            <if test="clothCode != null">#{clothCode},</if>
            <if test="unitConsume != null">#{unitConsume},</if>
            <if test="machineId != null">#{machineId},</if>
            <if test="stockQty != null">#{stockQty},</if>
            <if test="supplyTime != null">#{supplyTime},</if>
            <if test="dayPlanQty != null">#{dayPlanQty},</if>
            <if test="dayFinishQty != null">#{dayFinishQty},</if>
            <if test="dayProduceOrder != null">#{dayProduceOrder},</if>
            <if test="dayFinishRate != null">#{dayFinishRate},</if>
            <if test="daySysAnalysis != null">#{daySysAnalysis},</if>
            <if test="dayHandAnalysis != null">#{dayHandAnalysis},</if>
            <if test="nightPlanQty != null">#{nightPlanQty},</if>
            <if test="nightFinishQty != null">#{nightFinishQty},</if>
            <if test="nightProduceOrder != null">#{nightProduceOrder},</if>
            <if test="nightFinishRate != null">#{nightFinishRate},</if>
            <if test="nightSysAnalysis != null">#{nightSysAnalysis},</if>
            <if test="nightHandAnalysis != null">#{nightHandAnalysis},</if>
            <if test="cxClass1Plan != null">#{cxClass1Plan},</if>
            <if test="cxClass2Plan != null">#{cxClass2Plan},</if>
            <if test="cxClass3Plan != null">#{cxClass3Plan},</if>
            <if test="cxClass4Plan != null">#{cxClass4Plan},</if>
            <if test="cxClass5Plan != null">#{cxClass5Plan},</if>
            <if test="isRelease != null">#{isRelease},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="markCloseOutTip != null">#{markCloseOutTip},</if>
            <if test="productionStatus != null">#{productionStatus},</if>
            <if test="dataSource != null">#{dataSource},</if>
            <if test="edgeGlue != null">#{edgeGlue},</if>
        </trim>
    </insert>

    <update id="updateCd90ScheduleResult" parameterType="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult">
        update t_cd90_schedule_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="scheduleDate != null">schedule_date = #{scheduleDate},</if>
            <if test="cxBatchNo != null">cx_batch_no = #{cxBatchNo},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="bigRollCode != null">big_roll_code = #{bigRollCode},</if>
            <if test="clothCode != null">cloth_code = #{clothCode},</if>
            <if test="unitConsume != null">unit_consume = #{unitConsume},</if>
            <if test="machineId != null">machine_id = #{machineId},</if>
            <if test="stockQty != null">stock_qty = #{stockQty},</if>
            <if test="supplyTime != null">supply_time = #{supplyTime},</if>
            day_plan_qty = #{dayPlanQty,jdbcType=DECIMAL},
            <if test="dayFinishQty != null">day_finish_qty = #{dayFinishQty},</if>
            day_produce_order = #{dayProduceOrder,jdbcType=DOUBLE},
            <if test="dayFinishRate != null">day_finish_rate = #{dayFinishRate},</if>
            <if test="daySysAnalysis != null">day_sys_analysis = #{daySysAnalysis},</if>
            day_hand_analysis = #{dayHandAnalysis,jdbcType=VARCHAR},
            night_plan_qty = #{nightPlanQty,jdbcType=DECIMAL},
            <if test="nightFinishQty != null">night_finish_qty = #{nightFinishQty},</if>
            night_produce_order = #{nightProduceOrder,jdbcType=DOUBLE},
            <if test="nightFinishRate != null">night_finish_rate = #{nightFinishRate},</if>
            <if test="nightSysAnalysis != null">night_sys_analysis = #{nightSysAnalysis},</if>
            night_hand_analysis = #{nightHandAnalysis,jdbcType=VARCHAR},
            <if test="cxClass1Plan != null">cx_class1_plan = #{cxClass1Plan},</if>
            <if test="cxClass2Plan != null">cx_class2_plan = #{cxClass2Plan},</if>
            <if test="cxClass3Plan != null">cx_class3_plan = #{cxClass3Plan},</if>
            <if test="cxClass4Plan != null">cx_class4_plan = #{cxClass4Plan},</if>
            <if test="cxClass5Plan != null">cx_class5_plan = #{cxClass5Plan},</if>
            <if test="isRelease != null">is_release = #{isRelease},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="markCloseOutTip != null">mark_close_out_tip = #{markCloseOutTip},</if>
            <if test="productionStatus != null">production_status = #{productionStatus},</if>
            <if test="edgeGlue != null">edge_glue = #{edgeGlue},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCd90ScheduleResultById" parameterType="Long">
        update t_cd90_schedule_result
        set del_flag = NULL
        where id = #{id}
    </delete>

    <delete id="deleteCd90ScheduleResultByIds" parameterType="String">
        update t_cd90_schedule_result set del_flag = NULL where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="batchUpdate">
        update t_cd90_schedule_result set IS_RELEASE = #{status}
        <if test="status == 1">, PUBLISH_SUCCESS_COUNT = PUBLISH_SUCCESS_COUNT + 1, NEWEST_PUBLISH_TIME = now()</if>
        where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="checkScheduleResultUnique" parameterType="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult"
            resultMap="Cd90ScheduleResultResult">
        select * from t_cd90_schedule_result
        where del_flag='0'
        <if test="id != null and id !='' ">
            and id != #{id}
        </if>
        <if test="scheduleDate != null ">
            and schedule_date =#{scheduleDate}
        </if>
        <if test="bigRollCode != null  and bigRollCode != ''">
            and big_roll_code = #{bigRollCode}
        </if>
        <if test="clothCode != null">
            and cloth_code = #{clothCode}
        </if>
        <if test="machineId != null">and machine_id = #{machineId}</if>
    </select>

    <insert id="insertPublishRecord" parameterType="com.zlt.aps.common.core.domain.SchedulePublishRecord">
        insert into t_schedule_publish_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="procedureCode != null">procedure_code,</if>
            <if test="publishStatus != null">publish_status,</if>
            <if test="scheduleDate != null">schedule_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="dataVersion != null">data_version,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="procedureCode != null">#{procedureCode},</if>
            <if test="publishStatus != null">#{publishStatus},</if>
            <if test="scheduleDate != null">#{scheduleDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="dataVersion != null">#{dataVersion},</if>
        </trim>
    </insert>

    <select id="isPublish" parameterType="com.zlt.aps.common.core.domain.SchedulePublishRecord" resultType="int">
        select count(1)
        from t_schedule_publish_record
        where procedure_code = #{procedureCode,jdbcType=VARCHAR}
          and schedule_date = #{scheduleDate,jdbcType=DATE}
          and publish_status = '1'
          and del_flag = '0'
    </select>

    <insert id="deployCd90ScheduleToMid">
        INSERT INTO MES_CD90_SCHEDULE_RESULT(
        SCHEDULE_DATE ,
        CX_BATCH_NO ,
        BATCH_NO ,
        ORDER_NO ,
        BIG_ROLL_CODE ,
        CLOTH_CODE ,
        SAP_MATERIAL_CODE ,
        UNIT_CONSUME ,
        MACHINE_CODE ,
        STOCK_QTY ,
        SUPPLY_TIME ,
        NIGHT_PLAN_QTY ,
        NIGHT_PRODUCE_ORDER ,
        NIGHT_SYS_ANALYSIS ,
        NIGHT_HAND_ANALYSIS ,
        DAY_PLAN_QTY ,
        DAY_PRODUCE_ORDER ,
        DAY_SYS_ANALYSIS ,
        DAY_HAND_ANALYSIS ,
        CX_CLASS1_PLAN ,
        CX_CLASS2_PLAN ,
        CX_CLASS3_PLAN ,
        CX_CLASS4_PLAN ,
        CX_CLASS5_PLAN ,
        IS_RELEASE ,
        MARK_CLOSE_OUT_TIP ,
        PRODUCTION_STATUS ,
        CRAFT,
        REMARK ,
        DATA_VERSION ,
        CREATE_DATE ,
        UPDATE_DATE ,
        IS_DELETE,
        FACTORY_CODE,
        COMPANY_CODE
        )
        SELECT
        SCHEDULE_DATE ,
        CX_BATCH_NO ,
        BATCH_NO ,
        ORDER_NO ,
        BIG_ROLL_CODE ,
        CLOTH_CODE ,
        SAP_MATERIAL_CODE ,
        UNIT_CONSUME ,
        m.MACHINE_CODE ,
        STOCK_QTY ,
        SUPPLY_TIME ,
        DAY_PLAN_QTY ,
        DAY_PRODUCE_ORDER ,
        DAY_SYS_ANALYSIS ,
        DAY_HAND_ANALYSIS ,
        NIGHT_PLAN_QTY ,
        NIGHT_PRODUCE_ORDER ,
        NIGHT_SYS_ANALYSIS ,
        NIGHT_HAND_ANALYSIS ,
        CX_CLASS1_PLAN ,
        CX_CLASS2_PLAN ,
        CX_CLASS3_PLAN ,
        CX_CLASS4_PLAN ,
        CX_CLASS5_PLAN ,
        '1',
        MARK_CLOSE_OUT_TIP,
        PRODUCTION_STATUS,
        r.CRAFT,
        r.REMARK,
        #{dataVersion} DATA_VERSION,
        #{createTime} CREATE_DATE,
        r.UPDATE_TIME UPDATE_DATE,
        r.DEL_FLAG      IS_DELETE,
        #{factoryCode},
        #{companyCode}
        FROM T_CD90_SCHEDULE_RESULT r
        LEFT JOIN T_CD90_MACHINE_INFO m ON r.machine_id = m.id
        LEFT JOIN (
                    SELECT max(SAP_MATERIAL_CODE) SAP_MATERIAL_CODE, TIRE_FABRIC_CODE
                    FROM (
                            SELECT max(TIRE_FABRIC_SAP1) SAP_MATERIAL_CODE,TIRE_FABRIC_CODE1 TIRE_FABRIC_CODE FROM T_CONSTRUCTION_VERSION_INFO WHERE DEL_FLAG = '0' GROUP BY TIRE_FABRIC_CODE1
                            union
                            SELECT max(TIRE_FABRIC_SAP2) SAP_MATERIAL_CODE,TIRE_FABRIC_CODE2 TIRE_FABRIC_CODE FROM T_CONSTRUCTION_VERSION_INFO WHERE DEL_FLAG = '0' GROUP BY TIRE_FABRIC_CODE2
                            union
                            SELECT max(TIRE_FABRIC_SAP3) SAP_MATERIAL_CODE,TIRE_FABRIC_CODE3 TIRE_FABRIC_CODE FROM T_CONSTRUCTION_VERSION_INFO WHERE DEL_FLAG = '0' GROUP BY TIRE_FABRIC_CODE3
        ) t GROUP BY TIRE_FABRIC_CODE
                 ) p  ON r.CLOTH_CODE = p.TIRE_FABRIC_CODE
        WHERE r.id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">#{id}</foreach>
    </insert>


    <select id="isReleasingOrTimeoutByDate" parameterType="date" resultType="int">
        select count(1) from t_cd90_schedule_result
        where del_flag = 0 and schedule_date = #{scheduleDate,jdbcType=DATE}
          and (IS_RELEASE = 3 or IS_RELEASE = 4)
    </select>

    <select id="isReleasingOrTimeoutByIds" parameterType="string" resultType="int">
        select count(1) from t_cd90_schedule_result
        where del_flag = 0 and (IS_RELEASE = 3 or IS_RELEASE = 4)
        and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


    <update id="changeReleaseStatus" parameterType="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult">
        update t_cd90_schedule_result
        set IS_RELEASE = #{isRelease, jdbcType=VARCHAR}
        <if test="isRelease == 1">,PUBLISH_SUCCESS_COUNT = PUBLISH_SUCCESS_COUNT + 1, NEWEST_PUBLISH_TIME = now()</if>
        where del_flag = 0 and schedule_date = #{scheduleDate,jdbcType=DATE}
          and (IS_RELEASE = 3 or IS_RELEASE = 4)
    </update>

    <!-- 根据版本更新发布日志状态 -->
	<update id="updatePublishRecordVersion">
		UPDATE t_schedule_publish_record
		   SET PUBLISH_STATUS = #{status}
		 WHERE data_version = #{dataVersion}
		   AND del_flag = 0
	</update>

    <update id="combinationMiddleAndNight" parameterType="map">
        update t_cd90_schedule_result
        set
        <if test="classifiedShift == 1">DAY_PLAN_QTY = DAY_PLAN_QTY + NIGHT_PLAN_QTY, NIGHT_PLAN_QTY = 0</if>
        <if test="classifiedShift == 2">NIGHT_PLAN_QTY = DAY_PLAN_QTY + NIGHT_PLAN_QTY, DAY_PLAN_QTY = 0</if>
        , IS_RELEASE = IF(PUBLISH_SUCCESS_COUNT = 0,'0','5')
        where del_flag = 0 and id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="checkCd90CodeExist" resultType="java.lang.Integer">
        select case when exists(
                select 1 from
                    (
                        SELECT TIRE_FABRIC_CODE1 a, DEL_FLAG b FROM t_construction_version_info
                        union
                        SELECT TIRE_FABRIC_CODE2 a, DEL_FLAG b FROM t_construction_version_info
                        union
                        SELECT TIRE_FABRIC_CODE3 a, DEL_FLAG b FROM t_construction_version_info
                    ) t
                where
                    a = #{clothCode,jdbcType=VARCHAR}
                  AND b = '0'
            ) then 1 else 0 end
        from dual
    </select>

    <select id="isPublishByIds" parameterType="string" resultType="int">
        select count(1) from t_cd90_schedule_result
        where del_flag = 0 and IS_RELEASE = 0
        and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectByIds" resultType="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult">
        select * from t_cd90_schedule_result
        where del_flag = 0
        and id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectByScheduleDateAndCode" parameterType="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult"
            resultType="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult">
        <include refid="selectCd90ScheduleResultVo"/>
        where del_flag = 0 and schedule_date = #{scheduleDate,jdbcType=DATE}
        and cloth_code = #{clothCode,jdbcType=VARCHAR}
    </select>

    <select id="getSummaryVo" resultType="com.zlt.aps.common.engine.domain.ScheduleSummaryVo">
        SELECT schedule_date,
        SUM(day_plan_qty) as day_plan_qty,
        SUM(night_plan_qty) as night_plan_qty,
        SUM(next_day_plan_qty) as next_day_plan_qty,
        SUM(stock_qty) as stock_qty
        FROM t_cd90_schedule_result
        WHERE schedule_date = #{scheduleDate}
        <if test="bigRollCode != null  and bigRollCode != ''">
            and INSTR(big_roll_code, #{bigRollCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="clothCode != null  and clothCode != ''">
            and INSTR(cloth_code, #{clothCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="machineId != null  and machineId != ''">and instr(concat(',',machine_id,','),
            concat(',',#{machineId},','))>0
        </if>
        <if test="isRelease != null  and isRelease != ''">and IS_RELEASE = #{isRelease}</if>
    </select>

    <select id="getLastDayPlanQty" resultType="com.zlt.aps.common.engine.domain.ScheduleSummaryVo">
        SELECT SUM(night_plan_qty) as night_plan_qty
        FROM t_cd90_schedule_result
        WHERE schedule_date = DATE_SUB(#{scheduleDate}, INTERVAL 1 DAY)
        <if test="bigRollCode != null  and bigRollCode != ''">
            and INSTR(big_roll_code, #{bigRollCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="clothCode != null  and clothCode != ''">
            and INSTR(cloth_code, #{clothCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="machineId != null  and machineId != ''">and instr(concat(',',machine_id,','),
            concat(',',#{machineId},','))>0
        </if>
        <if test="isRelease != null  and isRelease != ''">and IS_RELEASE = #{isRelease}</if>
    </select>

    <select id="getCxConsume" resultType="com.zlt.aps.common.engine.domain.ScheduleSummaryVo">
        SELECT
        IFNULL(CEILING(sum((IFNULL(cxr.CLASS3_PLANNED_QTY, 0) + IFNULL(cxr.CLASS2_PLAN_QTY, 0)) * ci.SIDEWALL_LENGTH /
        1000)),0) cxConsumeQty
        FROM T_CX_SCHEDULE_RESULT cxr /*成型排程结果表*/
        inner join T_PRODUCT_CONSTRUCTION_INFO ci on cxr.EMBRYO_CODE = ci.embryo_code and cxr.BOM_DATA_VERSION =
        ci.EMBRYO_VERSION /*施工信息表*/
        WHERE cxr.schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
        <if test="bigRollCode != null  and bigRollCode != ''">
            and INSTR(ci.CORD_SPEC, #{bigRollCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="clothCode != null  and clothCode != ''">
            and (
            INSTR(ci.TIRE_FABRIC_CODE1, #{clothCode,jdbcType=VARCHAR}) > 0
            OR
            INSTR(ci.TIRE_FABRIC_CODE2, #{clothCode,jdbcType=VARCHAR}) > 0
            OR
            INSTR(ci.TIRE_FABRIC_CODE3, #{clothCode,jdbcType=VARCHAR}) > 0
            )
        </if>
    </select>

    <select id="getLastDayPlanQty4List" resultType="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult">
        SELECT a.cloth_code, SUM(night_plan_qty) as lastMidPlanQty,
        SUM(IFNULL(a.night_plan_qty, 0) / IFNULL(b.curl_length, c.param_value)) as lastMidPlanQtyRollNum
        FROM t_cd90_schedule_result a
        left join t_cd90_curl_length b on a.CLOTH_CODE = b.CLOTH_CODE and b.is_delete = '0'
        left join t_cd90_params c on c.del_flag = '0' and c.param_code = 'CRIMP_LENGTH'
        WHERE a.schedule_date = DATE_SUB(#{scheduleDate}, INTERVAL 1 DAY)
        <if test="bigRollCode != null  and bigRollCode != ''">
            and INSTR(a.big_roll_code, #{bigRollCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="clothCode != null  and clothCode != ''">
            and INSTR(a.cloth_code, #{clothCode,jdbcType=VARCHAR}) > 0
        </if>
        <if test="machineId != null  and machineId != ''">and instr(concat(',',a.machine_id,','),
            concat(',',#{machineId},','))>0
        </if>
        <if test="isRelease != null  and isRelease != ''">and a.IS_RELEASE = #{isRelease}</if>
        GROUP BY a.cloth_code
    </select>

    <select id="getCxConsume4List" resultType="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult">
        SELECT clothCode, SUM(cxConsumeQty) FROM (
        SELECT
        ci.TIRE_FABRIC_CODE1 as clothCode,
        IFNULL(CEILING((IFNULL(cxr.CLASS3_PLANNED_QTY, 0) + IFNULL(cxr.CLASS2_PLAN_QTY, 0)) * ci.SIDEWALL_LENGTH /
        1000),0) cxConsumeQty
        FROM T_CX_SCHEDULE_RESULT cxr /*成型排程结果表*/
        inner join T_PRODUCT_CONSTRUCTION_INFO ci on cxr.EMBRYO_CODE = ci.embryo_code and cxr.BOM_DATA_VERSION =
        ci.EMBRYO_VERSION /*施工信息表*/
        WHERE cxr.schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
        AND ci.TIRE_FABRIC_CODE1 != ''
        <if test="bigRollCode != null  and bigRollCode != ''">
            and INSTR(ci.CORD_SPEC, #{bigRollCode,jdbcType=VARCHAR}) > 0
        </if>

        UNION ALL

        SELECT
        ci.TIRE_FABRIC_CODE2 as clothCode,
        IFNULL(CEILING((IFNULL(cxr.CLASS3_PLANNED_QTY, 0) + IFNULL(cxr.CLASS2_PLAN_QTY, 0)) * ci.SIDEWALL_LENGTH /
        1000),0) cxConsumeQty
        FROM T_CX_SCHEDULE_RESULT cxr /*成型排程结果表*/
        inner join T_PRODUCT_CONSTRUCTION_INFO ci on cxr.EMBRYO_CODE = ci.embryo_code and cxr.BOM_DATA_VERSION =
        ci.EMBRYO_VERSION /*施工信息表*/
        WHERE cxr.schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
        AND ci.TIRE_FABRIC_CODE2 != ''
        <if test="bigRollCode != null  and bigRollCode != ''">
            and INSTR(ci.CORD_SPEC, #{bigRollCode,jdbcType=VARCHAR}) > 0
        </if>

        UNION ALL

        SELECT
        ci.TIRE_FABRIC_CODE3 as clothCode,
        IFNULL(CEILING((IFNULL(cxr.CLASS3_PLANNED_QTY, 0) + IFNULL(cxr.CLASS2_PLAN_QTY, 0)) * ci.SIDEWALL_LENGTH /
        1000),0) cxConsumeQty
        FROM T_CX_SCHEDULE_RESULT cxr /*成型排程结果表*/
        inner join T_PRODUCT_CONSTRUCTION_INFO ci on cxr.EMBRYO_CODE = ci.embryo_code and cxr.BOM_DATA_VERSION =
        ci.EMBRYO_VERSION /*施工信息表*/
        WHERE cxr.schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
        AND ci.TIRE_FABRIC_CODE3 != ''
        <if test="bigRollCode != null  and bigRollCode != ''">
            and INSTR(ci.CORD_SPEC, #{bigRollCode,jdbcType=VARCHAR}) > 0
        </if>
        ) t
        GROUP BY t.clothCode
    </select>
</mapper>
