<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.mp.demand.mapper.MpSimulatedResultEntityMapper">
    <select id="listExportData" resultType="com.zlt.aps.monthplan.api.domain.entity.MpSimulatedResult">
            SELECT
                sr.FACTORY_CODE,
                sr.`YEAR`,
                sr.`MONTH`,
                sr.PRODUCT_TYPE_CODE,
                sr.STRUCTURE_NAME,
                sr.SPECIFICATIONS,
                sr.PATTERN,
                sr.MAIN_MATERIAL_DESC,
                sr.MAIN_PATTERN,
                sr.BRAND,
                sr.EMBRYO_CODE,
                sr.MATERIAL_CODE,
                sr.MATERIAL_DESC,
                sr.MOULD_QTY,
                sr.TYPE_BLOCK_QTY,
                sr.NET_QTY,
                sr.HEIGHT_QTY,
                sr.PRODUCTION_QTY,
                sr.MONTH_PLAN_VERSION,
                sr.MONTH_1,
                sr.MONTH_2,
                sr.MONTH_3,
                sr.MONTH_4,
                sr.MONTH_5,
                sr.MONTH_6,
                sr.MONTH_7,
                sr.MONTH_8,
                sr.MONTH_9,
                sr.MONTH_10,
                sr.MONTH_11,
                sr.MONTH_12,
                sr.MONTH_13,
                sr.MONTH_14,
                sr.MONTH_15,
                sr.MONTH_16,
                sr.MONTH_17,
                sr.MONTH_18,
                sr.MONTH_19,
                sr.MONTH_20,
                sr.MONTH_21,
                sr.MONTH_22,
                sr.MONTH_23,
                sr.MONTH_24,
                sr.REMARK,
                DATE_FORMAT(sr.UPDATE_TIME, '%Y-%m-%d %H:%i:%s') AS UPDATE_DATE,
                (SELECT DATE_FORMAT(pv.PRODUCTION_START_DATE, '%Y-%m-%d') FROM  t_mp_proc_version pv WHERE pv.IS_FINAL=1 AND pv.IS_DELETE='0'  AND EXISTS(SELECT 1 FROM  t_mp_prediction_detail pd WHERE pd.MONTH_PLAN_VERSION=pv.MONTH_PLAN_VERSION AND pd.PRODUCTION_VERSION=pv.PRODUCTION_VERSION AND pd.BATCH_NUMBER=sr.MONTH_PLAN_VERSION LIMIT 1)) AS PRODUCTION_START_DATE,
                (SELECT DATE_FORMAT(pv.PRODUCTION_END_DATE, '%Y-%m-%d')  FROM  t_mp_proc_version pv WHERE pv.IS_FINAL=1 AND pv.IS_DELETE='0'  AND EXISTS(SELECT 1 FROM  t_mp_prediction_detail pd WHERE pd.MONTH_PLAN_VERSION=pv.MONTH_PLAN_VERSION AND pd.PRODUCTION_VERSION=pv.PRODUCTION_VERSION AND pd.BATCH_NUMBER=sr.MONTH_PLAN_VERSION LIMIT 1)) AS PRODUCTION_END_DATE
            FROM T_MP_SIMULATED_RESULT sr
            WHERE sr.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
              AND sr.`YEAR` =  #{year,jdbcType=DECIMAL}
              AND sr.`MONTH` =  #{month,jdbcType=DECIMAL}
                <if test="monthPlanVersion != null and monthPlanVersion != ''">
                  AND sr.MONTH_PLAN_VERSION = #{monthPlanVersion}
                </if>
                <if test="structureName != null and structureName != ''">
                    AND INSTR(sr.STRUCTURE_NAME,#{structureName}) > 0
                </if>
                <if test="productTypeCode != null and productTypeCode != ''">
                    AND sr.PRODUCT_TYPE_CODE = #{productTypeCode}
                </if>
                <if test="brand != null and brand != ''">
                    AND sr.BRAND = #{brand}
                </if>
                <if test="specifications != null and specifications != ''">
                    AND INSTR(sr.SPECIFICATIONS,#{specifications}) > 0
                </if>
                <if test="pattern != null and pattern != ''">
                    AND INSTR(sr.PATTERN,#{pattern}) > 0
                </if>
                <if test="mainPattern != null and mainPattern != ''">
                    AND INSTR(sr.MAIN_PATTERN,#{mainPattern}) > 0
                </if>
                <if test="materialCode != null and materialCode != ''">
                    AND INSTR(sr.MATERIAL_CODE,#{materialCode}) > 0
                </if>
                <if test="materialDesc != null and materialDesc != ''">
                    AND INSTR(sr.MATERIAL_DESC,#{materialDesc}) > 0
                </if>
              AND sr.IS_DELETE = 0
            ORDER BY
                sr.STRUCTURE_NAME ASC,
                sr.SPECIFICATIONS ASC,
                sr.MAIN_PATTERN ASC,
                sr.PATTERN ASC,
                sr.update_time DESC,
                sr.ID DESC
    </select>
</mapper>