<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ExportLogMapper">

    <resultMap type="com.ruoyi.api.gateway.system.domain.ExportLog" id="ExportLogResult">
        <result property="id" column="id"/>
        <result property="procedureCode" column="procedure_code"/>
        <result property="functionCode" column="function_code"/>
        <result property="functionName" column="function_name"/>
        <result property="exportParams" column="export_params"/>
        <result property="fileName" column="file_name"/>
        <result property="fileUrl" column="file_url"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectExportLogVo">
        select id, procedure_code, function_code, function_name, export_params, file_name, file_url, remark, del_flag, create_by, create_time, update_by, update_time from t_export_log
    </sql>

    <select id="selectExportLogList" parameterType="com.ruoyi.api.gateway.system.domain.ExportLog"
            resultMap="ExportLogResult">
        <include refid="selectExportLogVo"/>
        <where>
            <if test="procedureCode != null  and procedureCode != ''">and procedure_code = #{procedureCode}</if>
            <if test="functionCode != null  and functionCode != ''">and function_code = #{functionCode}</if>
            <if test="functionName != null  and functionName != ''">and function_name like concat(concat('%',
                #{functionName}), '%')
            </if>
            <if test="exportParams != null  and exportParams != ''">and export_params = #{exportParams}</if>
            <if test="fileName != null  and fileName != ''">and file_name like concat(concat('%', #{fileName}), '%')
            </if>
            <if test="fileUrl != null  and fileUrl != ''">and file_url = #{fileUrl}</if>
        </where>
    </select>

    <select id="selectExportLogById" parameterType="Long" resultMap="ExportLogResult">
        <include refid="selectExportLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertExportLog" parameterType="com.ruoyi.api.gateway.system.domain.ExportLog">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT SEQ_PUBLIC.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into t_export_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="procedureCode != null">procedure_code,</if>
            <if test="functionCode != null">function_code,</if>
            <if test="functionName != null">function_name,</if>
            <if test="exportParams != null">export_params,</if>
            <if test="fileName != null">file_name,</if>
            <if test="fileUrl != null">file_url,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="procedureCode != null">#{procedureCode},</if>
            <if test="functionCode != null">#{functionCode},</if>
            <if test="functionName != null">#{functionName},</if>
            <if test="exportParams != null">#{exportParams},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="fileUrl != null">#{fileUrl},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateExportLog" parameterType="com.ruoyi.api.gateway.system.domain.ExportLog">
        update t_export_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="procedureCode != null">procedure_code = #{procedureCode},</if>
            <if test="functionCode != null">function_code = #{functionCode},</if>
            <if test="functionName != null">function_name = #{functionName},</if>
            <if test="exportParams != null">export_params = #{exportParams},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="fileUrl != null">file_url = #{fileUrl},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteExportLogById" parameterType="Long">
        update t_export_log set del_flag='1' where id = #{id}
    </delete>

    <delete id="deleteExportLogByIds" parameterType="String">
        update t_export_log set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>