<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.gdyy.mapper.GdyyStockMapper">

    <resultMap type="com.zlt.aps.gdyy.api.domain.entity.GdyyStock" id="StockResult">
        <result property="id" column="ID"/>
        <result property="factoryCode" column="FACTORY_CODE"/>
        <result property="stockDate" column="STOCK_DATE"/>
        <result property="bigRollCode" column="BIG_ROLL_CODE"/>
        <result property="bigRollBarcode" column="BIG_ROLL_BARCODE"/>
        <result property="inboundTime" column="INBOUND_TIME"/>
        <result property="stockNum" column="STOCK_NUM"/>
        <result property="stockRollNum" column="STOCK_ROLL_NUM"/>
        <result property="stockMeters" column="STOCK_METERS"/>
        <result property="modifyNum" column="MODIFY_NUM"/>
        <result property="badNum" column="BAD_NUM"/>
        <result property="estimateStockFlag" column="ESTIMATE_STOCK_FLAG"/>
        <result property="remark" column="REMARK"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <sql id="selectStockVo">
        select ID, FACTORY_CODE, STOCK_DATE, BIG_ROLL_CODE, BIG_ROLL_BARCODE, INBOUND_TIME,
               STOCK_NUM, STOCK_ROLL_NUM, STOCK_METERS, MODIFY_NUM, BAD_NUM, ESTIMATE_STOCK_FLAG,
               REMARK, IS_DELETE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME
        from T_GDYY_STOCK
    </sql>

    <select id="selectStockList" parameterType="com.zlt.aps.gdyy.api.domain.entity.GdyyStock" resultMap="StockResult">
        <include refid="selectStockVo"/>
        where IS_DELETE = 0
        <if test="factoryCode != null and factoryCode != ''">
            and FACTORY_CODE = #{factoryCode}
        </if>
        <if test="startTime != null and startTime !='' ">
            and STOCK_DATE <![CDATA[ >= ]]> STR_TO_DATE(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime !='' ">
            and STOCK_DATE <![CDATA[ <= ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="bigRollCode != null and bigRollCode != ''">
            and BIG_ROLL_CODE like concat('%', #{bigRollCode,jdbcType=VARCHAR}, '%')
        </if>
        <if test="orderStr == null">
            order by STOCK_DATE desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="checkStockListUnic" parameterType="com.zlt.aps.gdyy.api.domain.entity.GdyyStock"
            resultMap="StockResult">
        <include refid="selectStockVo"/>
        where IS_DELETE = 0
        <if test="id != null and id !='' ">
            and ID != #{id}
        </if>
        <if test="factoryCode != null and factoryCode != ''">
            and FACTORY_CODE = #{factoryCode}
        </if>
        <if test="stockDate != null ">
            and STOCK_DATE = #{stockDate}
        </if>
        <if test="bigRollCode != null and bigRollCode != ''">
            and BIG_ROLL_CODE = #{bigRollCode}
        </if>
    </select>

    <insert id="mergeSql" parameterType="list">
        INSERT INTO T_GDYY_STOCK (
        FACTORY_CODE, STOCK_DATE, BIG_ROLL_CODE, BIG_ROLL_BARCODE, INBOUND_TIME,
        STOCK_NUM, STOCK_ROLL_NUM, STOCK_METERS, MODIFY_NUM, BAD_NUM, ESTIMATE_STOCK_FLAG,
        CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, IS_DELETE
        ) VALUES
        <foreach collection="list" item="STOCK" separator=",">
            (
            #{STOCK.factoryCode,jdbcType=VARCHAR},
            #{STOCK.stockDate,jdbcType=DATE},
            #{STOCK.bigRollCode,jdbcType=VARCHAR},
            #{STOCK.bigRollBarcode,jdbcType=VARCHAR},
            #{STOCK.inboundTime,jdbcType=TIMESTAMP},
            #{STOCK.stockNum,jdbcType=DECIMAL},
            #{STOCK.stockRollNum,jdbcType=DECIMAL},
            #{STOCK.stockMeters,jdbcType=DECIMAL},
            #{STOCK.modifyNum,jdbcType=DECIMAL},
            #{STOCK.badNum,jdbcType=DECIMAL},
            #{STOCK.estimateStockFlag,jdbcType=VARCHAR},
            #{STOCK.createBy,jdbcType=VARCHAR},
            NOW(),
            #{STOCK.updateBy,jdbcType=VARCHAR},
            NOW(),
            #{STOCK.remark,jdbcType=VARCHAR},
            '0'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        STOCK_NUM = VALUES(STOCK_NUM),
        STOCK_ROLL_NUM = VALUES(STOCK_ROLL_NUM),
        STOCK_METERS = VALUES(STOCK_METERS),
        MODIFY_NUM = VALUES(MODIFY_NUM),
        BAD_NUM = VALUES(BAD_NUM),
        ESTIMATE_STOCK_FLAG = VALUES(ESTIMATE_STOCK_FLAG),
        UPDATE_BY = VALUES(CREATE_BY),
        UPDATE_TIME = NOW(),
        REMARK = VALUES(REMARK)
    </insert>

    <select id="selectStockById" parameterType="Long" resultMap="StockResult">
        <include refid="selectStockVo"/>
        where ID = #{id}
    </select>

    <insert id="insertStock" parameterType="com.zlt.aps.gdyy.api.domain.entity.GdyyStock">
        insert into T_GDYY_STOCK
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="factoryCode != null">FACTORY_CODE,</if>
            <if test="stockDate != null">STOCK_DATE,</if>
            <if test="bigRollCode != null">BIG_ROLL_CODE,</if>
            <if test="bigRollBarcode != null">BIG_ROLL_BARCODE,</if>
            <if test="inboundTime != null">INBOUND_TIME,</if>
            <if test="stockNum != null">STOCK_NUM,</if>
            <if test="stockRollNum != null">STOCK_ROLL_NUM,</if>
            <if test="stockMeters != null">STOCK_METERS,</if>
            <if test="modifyNum != null">MODIFY_NUM,</if>
            <if test="badNum != null">BAD_NUM,</if>
            <if test="estimateStockFlag != null">ESTIMATE_STOCK_FLAG,</if>
            <if test="remark != null">REMARK,</if>
            <if test="isDelete != null">IS_DELETE,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="factoryCode != null">#{factoryCode},</if>
            <if test="stockDate != null">#{stockDate},</if>
            <if test="bigRollCode != null">#{bigRollCode},</if>
            <if test="bigRollBarcode != null">#{bigRollBarcode},</if>
            <if test="inboundTime != null">#{inboundTime},</if>
            <if test="stockNum != null">#{stockNum},</if>
            <if test="stockRollNum != null">#{stockRollNum},</if>
            <if test="stockMeters != null">#{stockMeters},</if>
            <if test="modifyNum != null">#{modifyNum},</if>
            <if test="badNum != null">#{badNum},</if>
            <if test="estimateStockFlag != null">#{estimateStockFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateStock" parameterType="com.zlt.aps.gdyy.api.domain.entity.GdyyStock">
        update T_GDYY_STOCK
        <trim prefix="SET" suffixOverrides=",">
            <if test="factoryCode != null">FACTORY_CODE = #{factoryCode},</if>
            <if test="stockDate != null">STOCK_DATE = #{stockDate},</if>
            <if test="bigRollCode != null">BIG_ROLL_CODE = #{bigRollCode},</if>
            <if test="bigRollBarcode != null">BIG_ROLL_BARCODE = #{bigRollBarcode},</if>
            <if test="inboundTime != null">INBOUND_TIME = #{inboundTime},</if>
            <if test="stockNum != null">STOCK_NUM = #{stockNum},</if>
            <if test="stockRollNum != null">STOCK_ROLL_NUM = #{stockRollNum},</if>
            <if test="stockMeters != null">STOCK_METERS = #{stockMeters},</if>
            MODIFY_NUM = #{modifyNum,jdbcType=DECIMAL},
            BAD_NUM = #{badNum,jdbcType=DECIMAL},
            <if test="estimateStockFlag != null">ESTIMATE_STOCK_FLAG = #{estimateStockFlag},</if>
            <if test="remark != null">REMARK = #{remark},</if>
            <if test="isDelete != null">IS_DELETE = #{isDelete},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteStockByIds" parameterType="String">
        update T_GDYY_STOCK set IS_DELETE = 1 where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteStockByDate">
        delete
        from T_GDYY_STOCK
        where IS_DELETE = 0
          and STOCK_DATE = #{scheduleDate}
    </delete>
</mapper>