<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.gdyy.mapper.GdyyScheduleResultMapper">

    <resultMap type="com.zlt.aps.gdyy.api.domain.dto.GdyyScheduleResultDto" id="scheduleResult">
        <result property="id" column="id"/>
        <result property="scheduleDate" column="schedule_date"/>
        <result property="cd15BatchNo" column="cd15_batch_no"/>
        <result property="batchNo" column="batch_no"/>
        <result property="orderNo" column="order_no"/>
        <result property="bigRollCode" column="big_roll_code"/>
        <result property="dayUsed" column="day_used"/>
        <result property="monthPlan" column="monthPlan"/>
        <result property="monthPlanOs" column="monthPlanOs"/>
        <result property="notes" column="notes"/>
        <result property="stockQty" column="stock_qty"/>
        <result property="class1Plan" column="class1_plan"/>
        <result property="class1PlanNoStock" column="class1_plan_no_stock"/>
        <result property="class1Finish" column="class1_finish"/>
        <result property="class1Remark" column="class1_remark"/>
        <result property="class2Plan" column="class2_plan"/>
        <result property="class2PlanNoStock" column="class2_plan_no_stock"/>
        <result property="class2Finish" column="class2_finish"/>
        <result property="class2Remark" column="class2_remark"/>
        <result property="class3Plan" column="class3_plan"/>
        <result property="class3PlanNoStock" column="class3_plan_no_stock"/>
        <result property="class3Finish" column="class3_finish"/>
        <result property="class3Remark" column="class3_remark"/>
        <result property="isRelease" column="is_release"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="markCloseOutTip" column="mark_close_out_tip"/>
        <result property="productionStatus" column="production_status"/>
        <result property="colorType" column="COLOR_TYPE"/>
        <result property="colorCode" column="COLOR_CODE"/>
        <result property="dataSource" column="data_source"/>
        <result property="publishSuccessCount" column="publish_success_count"/>
        <result property="newestPublishTime" column="newest_publish_time"/>
    </resultMap>
    <resultMap type="com.zlt.aps.gdyy.api.domain.dto.GdyyScheduleResultDto" id="scheduleResult2">
        <result property="id" column="id"/>
        <result property="scheduleDate" column="schedule_date"/>
        <result property="cd15BatchNo" column="cd15_batch_no"/>
        <result property="batchNo" column="batch_no"/>
        <result property="orderNo" column="order_no"/>
        <result property="bigRollCode" column="big_roll_code"/>
        <result property="dayUsed" column="day_used"/>
        <result property="monthPlan" column="monthPlan"/>
        <result property="monthPlanOs" column="monthPlanOs"/>
        <result property="notes" column="notes"/>
        <result property="stockQty" column="stock_qty"/>
        <result property="class1Plan" column="class1_plan"/>
        <result property="class1Finish" column="class1_finish"/>
        <result property="class1Remark" column="class1_remark"/>
        <result property="class2Plan" column="class2_plan"/>
        <result property="class2Finish" column="class2_finish"/>
        <result property="class2Remark" column="class2_remark"/>
        <result property="class3Plan" column="class3_plan"/>
        <result property="class3Finish" column="class3_finish"/>
        <result property="class3Remark" column="class3_remark"/>
        <result property="isRelease" column="is_release"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="markCloseOutTip" column="mark_close_out_tip"/>
        <result property="productionStatus" column="production_status"/>
        <result property="colorType" column="COLOR_TYPE"/>
        <result property="colorCode" column="COLOR_CODE"/>
        <result property="dataSource" column="data_source"/>
        <result property="dailyTotalQty" column="daily_total_qty"/>
        <result property="publishSuccessCount" column="publish_success_count"/>
        <result property="newestPublishTime" column="newest_publish_time"/>
    </resultMap>

    <sql id="selectGdyyScheduleResultVo">
        select id, schedule_date, cd15_batch_no, batch_no, order_no, big_roll_code, day_used, stock_qty, class1_plan, class1_finish, class1_remark, class2_plan, class2_finish, class2_remark, class3_plan, class3_finish, class3_remark, is_release, remark, del_flag, create_by, create_time, update_by, update_time, mark_close_out_tip, production_status,data_source, publish_success_count, newest_publish_time, close_out_spec_flag,class1_plan_num,class2_plan_num,class3_plan_num
        from t_gdyy_schedule_result
    </sql>

    <sql id="column">
        a.id, a.schedule_date, a.cd15_batch_no, a.batch_no, a.order_no, a.big_roll_code, a.day_used, a.stock_qty, a.class1_plan, a.CLASS1_PLAN_NO_STOCK, a.class1_finish, a.class1_remark, a.class2_plan, a.CLASS2_PLAN_NO_STOCK, a.class2_finish, a.class2_remark, a.class3_plan, a.CLASS3_PLAN_NO_STOCK, a.class3_finish, a.class3_remark, a.is_release, a.remark, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time, a.mark_close_out_tip, a.production_status,a.data_source, a.publish_success_count, a.newest_publish_time, a.close_out_spec_flag,a.class1_plan_num,a.class2_plan_num,a.class3_plan_num,
    </sql>

    <select id="selectScheduleResultList" parameterType="com.zlt.aps.gdyy.entity.GdyyScheduleResult"
            resultType="com.zlt.aps.gdyy.api.domain.dto.GdyyScheduleResultDto">
        select * from (
            select
                <include refid="column"/>
                (NVL(CLASS1_PLAN, 0) + NVL(CLASS2_PLAN, 0) + NVL(CLASS3_PLAN, 0)) as daily_total_qty,
                (NVL(CLASS1_PLAN_NUM, 0) + NVL(CLASS2_PLAN_NUM, 0) + NVL(CLASS3_PLAN_NUM, 0)) as daily_total_qty_num,
                b.MONTH_PLAN_QTY as month_plan,
                CEIL(b.MONTH_REMAIN_QTY) as month_plan_os,
                c.COLOR_TYPE,
                c.COLOR_CODE,
                d.notes,
                log.change_mid_plan,
                log.change_night_plan,
                log.change_day_plan
            from t_gdyy_schedule_result a
            LEFT JOIN (
                        select MATERIAL_CODE,MONTH_PLAN_QTY,MONTH_REMAIN_QTY
                        from T_GDYY_MONTH_PLAN_SURPLUS
                        where YEAR=#{year,jdbcType=VARCHAR}
                        and MONTH= #{month,jdbcType=VARCHAR}
                        and del_flag = '0'
                      ) b on a.BIG_ROLL_CODE=b.MATERIAL_CODE
            LEFT JOIN T_GDYY_BIG_ROLL_COLOR c ON a.BIG_ROLL_CODE = c.BIG_ROLL_CODE AND c.STATUS = '0' AND c.DEL_FLAG = '0'
            LEFT JOIN (
                        SELECT BIG_ROLL_CODE,listagg(notes,',') within group (order by notes) notes
                        FROM T_GDYY_NOTE
                        WHERE STATUS = '0'
                        AND DEL_FLAG = '0'
                        AND NVL(START_TIME, TO_DATE('0001-01-01', 'yyyy-MM-dd')) <![CDATA[ <= ]]> #{scheduleDate}
                        AND NVL(END_TIME, TO_DATE('9999-12-31', 'yyyy-MM-dd')) <![CDATA[ >= ]]> #{scheduleDate}
                        GROUP BY BIG_ROLL_CODE
                      ) d ON d.BIG_ROLL_CODE = a.BIG_ROLL_CODE
            LEFT JOIN (/*调度员操作日志，判断调度员是否有做“转机台”或“调量”操作*/
                        SELECT schedule_id,
                               max(decode(BEFORE_MID_PLAN, AFTER_MID_PLAN,0,1)) change_mid_plan,
                               max(decode(BEFORE_NIGHT_PLAN, AFTER_NIGHT_PLAN,0,1)) change_night_plan,
                               max(decode(BEFORE_DAY_PLAN, AFTER_DAY_PLAN,0,1)) change_day_plan
                        FROM T_GDYY_DISPATCHER_LOG
                        where schedule_date = #{scheduleDate}
                        group by schedule_id
                      ) log ON a.id = log.schedule_id
            where a.del_flag = '0'
            <if test="scheduleDate != null ">and a.schedule_date = #{scheduleDate}</if>
            <if test="bigRollCode != null  and bigRollCode != ''">
                and INSTR(a.big_roll_code, #{bigRollCode,jdbcType=VARCHAR}) > 0
              </if>
            <if test="productionStatus != null  and productionStatus != ''">and production_status = #{productionStatus}</if>
            <if test="isRelease != null and isRelease != ''">and a.is_release = #{isRelease}</if>
            <if test="ids != null and ids.length > 0">and a.id in <foreach item="scheduleId" collection="ids" open="(" separator="," close=")">#{scheduleId}</foreach></if>
            order by a.CREATE_TIME desc
        ) t
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="selectScheduleResultById" parameterType="long"
            resultMap="scheduleResult">
        select
        <include refid="column"/>

        b.MONTH_PLAN_QTY as monthPlan,
        b.MONTH_REMAIN_QTY as monthPlanOs,
        c.COLOR_TYPE,
        c.COLOR_CODE,
        d.notes

        from t_gdyy_schedule_result a

        LEFT JOIN (
        select MATERIAL_CODE,MONTH_PLAN_QTY,MONTH_REMAIN_QTY,YEAR,MONTH
        from T_GDYY_MONTH_PLAN_SURPLUS
        where del_flag = '0'
        ) b on a.BIG_ROLL_CODE=b.MATERIAL_CODE
        and b.YEAR = TO_CHAR(a.schedule_date,'yyyy')
        and b.MONTH = TO_CHAR(a.schedule_date,'MM')

        LEFT JOIN
        T_GDYY_BIG_ROLL_COLOR c
        ON a.BIG_ROLL_CODE = c.BIG_ROLL_CODE
        AND c.STATUS = '0'
        AND c.DEL_FLAG = '0'

        LEFT JOIN (
        SELECT BIG_ROLL_CODE, START_TIME, END_TIME,listagg(notes,',') within group (order by notes) notes
        FROM T_GDYY_NOTE
        WHERE STATUS = '0'
        AND DEL_FLAG = '0'
        GROUP BY BIG_ROLL_CODE,START_TIME, END_TIME) d

        ON d.BIG_ROLL_CODE = a.BIG_ROLL_CODE
        AND d.START_TIME <![CDATA[ <= ]]> a.schedule_date
        AND d.END_TIME <![CDATA[ >= ]]> a.schedule_date

        where a.id = #{id}
    </select>

    <update id="publishAll" parameterType="com.zlt.aps.gdyy.entity.GdyyScheduleResult">
        update t_gdyy_schedule_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="isRelease != null">is_release = #{isRelease},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where schedule_date = #{scheduleDate} and is_release = '0'
    </update>

    <insert id="insertPublishRecord" parameterType="com.zlt.aps.common.core.domain.SchedulePublishRecord">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT SEQ_PUBLIC.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into t_schedule_publish_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="procedureCode != null">procedure_code,</if>
            <if test="publishStatus != null">publish_status,</if>
            <if test="scheduleDate != null">schedule_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="dataVersion != null">data_version,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="procedureCode != null">#{procedureCode},</if>
            <if test="publishStatus != null">#{publishStatus},</if>
            <if test="scheduleDate != null">#{scheduleDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="dataVersion != null">#{dataVersion},</if>
        </trim>
    </insert>

    <select id="isPublish" parameterType="com.zlt.aps.common.core.domain.SchedulePublishRecord" resultType="int">
        select count(1)
        from t_schedule_publish_record
        where procedure_code = #{procedureCode,jdbcType=VARCHAR}
          and schedule_date = #{scheduleDate,jdbcType=DATE}
          and publish_status = '1'
          and del_flag = '0'
    </select>

    <select id="checkUnique" parameterType="com.zlt.aps.gdyy.entity.GdyyScheduleResult" resultType="int">
        select count(1) from t_gdyy_schedule_result
        where del_flag = '0'
        <if test="scheduleDate != null ">and schedule_date = #{scheduleDate}</if>
        <if test="bigRollCode != null  and bigRollCode != ''">and big_roll_code = #{bigRollCode}</if>
        <if test="id != null and id != ''">and id != #{id}</if>
    </select>


    <select id="isReleasingOrTimeoutByDate" parameterType="date" resultType="int">
        select count(1) from t_gdyy_schedule_result
        where del_flag = 0 and schedule_date = #{scheduleDate,jdbcType=DATE}
          and (IS_RELEASE = 3 or IS_RELEASE = 4)
    </select>

    <select id="isReleasingOrTimeoutByIds" parameterType="string" resultType="int">
        select count(1) from t_gdyy_schedule_result
        where del_flag = 0 and (IS_RELEASE = 3 or IS_RELEASE = 4)
        and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


    <update id="changeReleaseStatus" parameterType="com.zlt.aps.gdyy.entity.GdyyScheduleResult">
        update t_gdyy_schedule_result
        set IS_RELEASE = #{isRelease, jdbcType=VARCHAR}
        <if test="isRelease == 1">,PUBLISH_SUCCESS_COUNT = PUBLISH_SUCCESS_COUNT + 1, NEWEST_PUBLISH_TIME = sysdate</if>
        where del_flag = 0 and schedule_date = #{scheduleDate,jdbcType=DATE}
          and (IS_RELEASE = 3 or IS_RELEASE = 4)
    </update>

    <select id="checkGdyyCodeExist" resultType="java.lang.Integer">
        select case when exists(
                select 1 from t_construction_version_info
                where
                    ARTICLE_CROWN_SPEC = #{bigRollCode,jdbcType=VARCHAR}
                  AND DEL_FLAG = 0
            ) then 1 else 0 end
        from dual
    </select>

    <update id="batchUpdate" parameterType="String">
        update t_gdyy_schedule_result set IS_RELEASE = #{status}
        <if test="status == 1">, PUBLISH_SUCCESS_COUNT = PUBLISH_SUCCESS_COUNT + 1, NEWEST_PUBLISH_TIME = sysdate</if>
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteByIds" parameterType="String">
        update t_gdyy_schedule_result set del_flag = 1
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="isPublishByIds" parameterType="string" resultType="int">
        select count(1) from t_gdyy_schedule_result
        where del_flag = 0 and IS_RELEASE = 0
        and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectByScheduleDateAndCode" parameterType="com.zlt.aps.gdyy.entity.GdyyScheduleResult"
            resultType="com.zlt.aps.gdyy.entity.GdyyScheduleResult">
        <include refid="selectGdyyScheduleResultVo"/>
        where del_flag = 0 and schedule_date = #{scheduleDate,jdbcType=DATE}
        and big_roll_code = #{bigRollCode,jdbcType=VARCHAR}
    </select>
</mapper>