<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.dj.engine.mapper.DjEngineScheduleResultMapper">

    <!-- 删除指定日期的排程数据 -->
    <delete id="deleteDjSchedule">
        DELETE FROM T_DJ_SCHEDULE_RESULT
        WHERE SCHEDULE_DATE = #{scheduleDate}
    </delete>

    <!-- 查询指定时间窗口内有排产量的垫胶代码列表 -->
    <select id="selectLastScheduleDate" resultType="java.lang.String">
        SELECT DISTINCT t.PADDING_CODE
        FROM T_DJ_SCHEDULE_RESULT t
        WHERE t.FACTORY_CODE = #{factoryCode}
          AND t.SCHEDULE_DATE BETWEEN #{thresholdDate} AND #{scheduleDate}
          AND t.PADDING_CODE IN
          <foreach collection="paddingCodes" item="code" open="(" separator="," close=")">
              #{code}
          </foreach>
          AND (t.CLASS1_PLAN_QTY IS NOT NULL AND t.CLASS1_PLAN_QTY > 0
            OR t.CLASS2_PLAN_QTY IS NOT NULL AND t.CLASS2_PLAN_QTY > 0
            OR t.CLASS3_PLAN_QTY IS NOT NULL AND t.CLASS3_PLAN_QTY > 0
            OR t.CLASS4_PLAN_QTY IS NOT NULL AND t.CLASS4_PLAN_QTY > 0
            OR t.CLASS5_PLAN_QTY IS NOT NULL AND t.CLASS5_PLAN_QTY > 0
            OR t.CLASS6_PLAN_QTY IS NOT NULL AND t.CLASS6_PLAN_QTY > 0)
    </select>
</mapper>
