<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.dj.engine.mapper.DjEngineScheduleResultLogMapper">

    <!-- 将指定日期的排程数据归档到日志表 -->
    <insert id="syncDjScheduleToLog">
        INSERT INTO T_DJ_SCHEDULE_RESULT_LOG
        SELECT * FROM T_DJ_SCHEDULE_RESULT
        WHERE SCHEDULE_DATE = #{scheduleDate}
    </insert>

</mapper>
