<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.mapper.entity.BomInfoMapper">

    <resultMap type="com.zlt.aps.cxlh.cx.api.domain.vo.BomInfoDto" id="BomInfoResult">
        <result property="id" column="id"/>
        <result property="childMaterialCode" column="child_material_code"/>
        <result property="childMaterialName" column="child_material_name"/>
        <result property="childMaterialNameCode" column="child_material_name_code"/>
        <result property="childCode" column="child_code"/>
        <result property="unit" column="unit"/>
        <result property="dosage" column="dosage"/>
        <result property="dosageForm" column="dosage_form"/>
        <result property="parentMaterialCode" column="parent_material_code"/>
        <result property="parentMaterialName" column="parent_material_name"/>
        <result property="parentCode" column="parent_code"/>
        <result property="productionStage" column="production_stage"/>
        <result property="productionStageCode" column="production_stage_code"/>
        <result property="sapVersion" column="sap_version"/>
        <result property="bomVersion" column="bom_version"/>
        <result property="childMaterialVersion" column="child_material_version"/>
        <result property="bomType" column="bom_type"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="mesCreateDate" column="mes_create_date"/>
        <result property="mesUpdateDate" column="mes_update_date"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <sql id="selectBomInfoVo">
        select id, child_material_code, child_material_name, child_material_name_code, child_code, unit, dosage, dosage_form, parent_material_code, parent_material_name, parent_code, production_stage, production_stage_code, sap_version, bom_version, child_material_version, bom_type, remark, status, mes_create_date, mes_update_date, is_delete from t_bom_info
    </sql>

    <select id="selectBomInfoList" parameterType="com.zlt.aps.cxlh.cx.api.domain.entity.BomInfo" resultMap="BomInfoResult">
        <include refid="selectBomInfoVo"/>
        where is_delete='0'
        <if test="childMaterialCode != null  and childMaterialCode != ''"> and child_material_code = #{childMaterialCode}</if>
        <if test="childMaterialName != null  and childMaterialName != ''"> and child_material_name like concat(concat('%', #{childMaterialName}), '%')</if>
        <if test="childCode != null  and childCode != ''"> and child_code = #{childCode}</if>
        <if test="status != null  and status != ''"> and status = #{status}</if>
    </select>


</mapper>