<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.mapper.entity.CxProductStockLimitMapper">

    <resultMap type="com.zlt.aps.cxlh.cx.api.domain.entity.CxProductStockLimit" id="CxProductStockLimitResult">
        <result property="id" column="id"/>
        <result property="limitName" column="limit_name"/>
        <result property="type" column="type"/>
        <result property="limitType" column="limit_type"/>
        <result property="stockNum" column="stock_num"/>
        <result property="shiftParams" column="shift_params"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectCxProductStockLimitVo">
        select id, limit_name, type, limit_type, stock_num, shift_params, create_by, create_time, update_by, update_time, del_flag, remark from t_cx_product_stock_limit
    </sql>

    <select id="selectCxProductStockLimitList" parameterType="com.zlt.aps.cxlh.cx.api.domain.entity.CxProductStockLimit"
            resultMap="CxProductStockLimitResult">
        <include refid="selectCxProductStockLimitVo"/>
        where del_flag = '0'
        <if test="limitName != null  and limitName != ''">and limit_name like concat(concat('%', #{limitName}), '%')
        </if>
        <if test="type != null  and type != ''">and type = #{type}</if>
        <if test="limitType != null  and limitType != ''">and limit_type = #{limitType}</if>
        <if test="orderStr == null">
            order by create_time desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="checkCxProductStockLimitUnique" parameterType="com.zlt.aps.cxlh.cx.api.domain.entity.CxProductStockLimit"
            resultMap="CxProductStockLimitResult">
        <include refid="selectCxProductStockLimitVo"/>
        where del_flag = '0'
        <if test="id != null  and id != ''">and id != #{id}</if>
        <if test="type != null  and type != ''">and type = #{type}</if>
        <if test="limitType != null  and limitType != ''">and limit_type = #{limitType}</if>
    </select>

    <select id="selectCxProductStockLimitById" parameterType="Long" resultMap="CxProductStockLimitResult">
        <include refid="selectCxProductStockLimitVo"/>
        where id = #{id}
    </select>

    <insert id="insertCxProductStockLimit" parameterType="com.zlt.aps.cxlh.cx.api.domain.entity.CxProductStockLimit">
        insert into t_cx_product_stock_limit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="limitName != null">limit_name,</if>
            <if test="type != null">type,</if>
            <if test="limitType != null">limit_type,</if>
            <if test="stockNum != null">stock_num,</if>
            <if test="shiftParams != null">shift_params,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="limitName != null">#{limitName},</if>
            <if test="type != null">#{type},</if>
            <if test="limitType != null">#{limitType},</if>
            <if test="stockNum != null">#{stockNum},</if>
            <if test="shiftParams != null">#{shiftParams},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateCxProductStockLimit" parameterType="com.zlt.aps.cxlh.cx.api.domain.entity.CxProductStockLimit">
        update t_cx_product_stock_limit
        <trim prefix="SET" suffixOverrides=",">
            <if test="limitName != null">limit_name = #{limitName},</if>
            <if test="type != null">type = #{type},</if>
            <if test="limitType != null">limit_type = #{limitType},</if>
            <if test="stockNum != null">stock_num = #{stockNum},</if>
            <if test="shiftParams != null">shift_params = #{shiftParams},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCxProductStockLimitById" parameterType="Long">
        update t_cx_product_stock_limit set del_flag='1' where id = #{id}
    </delete>

    <delete id="deleteCxProductStockLimitByIds" parameterType="String">
        update t_cx_product_stock_limit set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>