<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd90.engine.mapper.Cd90EngineStockMapper">
	<!-- 查询计算90度裁断库粗的相关信息 -->
    <select id="selectCd90Stock" resultType="com.zlt.aps.cd90.engine.vo.Cd90StockVo">
		SELECT S.MATERIAL_CODE CLOTH_CODE, /*帘布编号*/
		       T.CX_MACHINE_CODE, /*机台编号 + 胎胚代码，用于计算成型定额*/
		       CASE
		         WHEN (NVL(S.STOCK_NUM, 0) - NVL(S.BAD_NUM, 0) +
		              NVL(S.MODIFY_NUM, 0)) * #{stockLossRate} > NVL(T.USE_NUM, 0) THEN
		          (NVL(S.STOCK_NUM, 0) - NVL(S.BAD_NUM, 0) + NVL(S.MODIFY_NUM, 0)) * #{stockLossRate} -
		          NVL(T.USE_NUM, 0)
		         ELSE
		          0
		       END STOCK_QTY /*16点半部件库存量 公式：(库存量 - 不良数 + 修正数) - 预计消耗量，不能小于0*/
		  FROM T_CD90_STOCK S
		  LEFT JOIN (SELECT TIRE_FABRIC_CODE CLOTH_CODE, /*帘布编号*/
		               SCHEDULE_DATE,
		               regexp_replace(listagg(CX_MACHINE_CODE, ',') WITHIN GROUP (ORDER BY CX_MACHINE_CODE, EMBRYO_CODE), '([^,]+)(,\1)+', '\1') CX_MACHINE_CODE, /*机台编号 + 胎胚代码，多个用逗号隔开*/
		               SUM(CLASS3_PLANNED_QTY * SIDEWALL_LENGTH) USE_NUM /*12点后半部件预计消耗量， 公式：(前日成型三班计划量 - 12点成型完成量) * 单耗*/
		          FROM (SELECT CI.TIRE_FABRIC_CODE1 TIRE_FABRIC_CODE, /*1#帘布编号*/
		                       R.CX_MACHINE_CODE,
		                       R.EMBRYO_CODE,
                               CASE
                                 WHEN NVL(R.CLASS3_PLANNED_QTY, 0) > NVL(F.FINISH_QTY, 0) THEN
                                   NVL(R.CLASS3_PLANNED_QTY, 0) - NVL(F.FINISH_QTY, 0)
                                 ELSE
                                   0
                               END CLASS3_PLANNED_QTY, /*前日成型三班计划量 - 完成量，计算结果不能小于0*/
		                       nvl(CI.SIDEWALL_LENGTH / 1000, 0) SIDEWALL_LENGTH, /*单耗，计量单位换算成“米”*/
		                       R.SCHEDULE_DATE
		                  FROM (
			                  	SELECT r.SCHEDULE_DATE, 
			                  	       listagg(CX_MACHINE_CODE || '$' || EMBRYO_CODE || '$' || r.BOM_DATA_VERSION, ',') WITHIN GROUP (ORDER BY CX_MACHINE_CODE, EMBRYO_CODE, r.BOM_DATA_VERSION) CX_MACHINE_CODE, 
			                  	       r.EMBRYO_CODE, 
			                  	       r.BOM_DATA_VERSION,
			                  	       SUM(r.CLASS3_PLANNED_QTY) CLASS3_PLANNED_QTY
			                  	  FROM T_CX_SCHEDULE_RESULT r
			                  	 WHERE r.SCHEDULE_DATE = #{scheduleDate}
			                  	   AND r.DEL_FLAG = '0'
			                  	 GROUP BY r.SCHEDULE_DATE, 
			                  	          r.EMBRYO_CODE,
			                  	          r.BOM_DATA_VERSION
			                  ) R
		                  LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
		                    ON R.EMBRYO_CODE = CI.EMBRYO_CODE
		                   AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
					   <if test="isProductStage">
						   /* 仅对投产阶段的规格排产 */
						   AND CI.PRODUCTION_STAGE = '0'
					   </if>
		                  LEFT JOIN T_CX_PART_FINISH_QTY F
		                    ON F.EMBRYO_CODE = R.EMBRYO_CODE
		                   AND F.STAT_DATE = R.SCHEDULE_DATE - 1	/*完成量同样要取上一天的*/
		                   AND F.DEL_FLAG = '0'
		                   AND F.BOM_DATA_VERSION = R.BOM_DATA_VERSION
		                 WHERE CI.DEL_FLAG = '0'
		       			   AND REGEXP_LIKE(TRIM(CI.TIRE_FABRIC_CRAFT1), '(^[+-]?\d{0,}\.?\d{0,}$)')
		                UNION ALL
		                SELECT CI.TIRE_FABRIC_CODE2 TIRE_FABRIC_CODE, /*2#帘布编号*/
		                       R.CX_MACHINE_CODE,
		                       R.EMBRYO_CODE,
                               CASE
                                 WHEN NVL(R.CLASS3_PLANNED_QTY, 0) > NVL(F.FINISH_QTY, 0) THEN
                                   NVL(R.CLASS3_PLANNED_QTY, 0) - NVL(F.FINISH_QTY, 0)
                                 ELSE
                                   0
                               END CLASS3_PLANNED_QTY, /*前日成型三班计划量 - 完成量，计算结果不能小于0*/
		                       nvl(CI.SIDEWALL_LENGTH / 1000, 0) SIDEWALL_LENGTH, /*单耗*/
		                       R.SCHEDULE_DATE
		                  FROM (
			                  	SELECT r.SCHEDULE_DATE, 
			                  	       listagg(CX_MACHINE_CODE || '$' || EMBRYO_CODE || '$' || r.BOM_DATA_VERSION, ',') WITHIN GROUP (ORDER BY CX_MACHINE_CODE, EMBRYO_CODE, r.BOM_DATA_VERSION) CX_MACHINE_CODE, 
			                  	       r.EMBRYO_CODE, 
			                  	       r.BOM_DATA_VERSION,
			                  	       SUM(r.CLASS3_PLANNED_QTY) CLASS3_PLANNED_QTY
			                  	  FROM T_CX_SCHEDULE_RESULT r
			                  	 WHERE r.SCHEDULE_DATE = #{scheduleDate}
			                  	   AND r.DEL_FLAG = '0'
			                  	 GROUP BY r.SCHEDULE_DATE, 
			                  	          r.EMBRYO_CODE,
			                  	          r.BOM_DATA_VERSION
			                  ) R
		                  LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
		                    ON R.EMBRYO_CODE = CI.EMBRYO_CODE
		                   AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
					   <if test="isProductStage">
						   /* 仅对投产阶段的规格排产 */
						   AND CI.PRODUCTION_STAGE = '0'
					   </if>
		                  LEFT JOIN T_CX_PART_FINISH_QTY F
		                    ON F.EMBRYO_CODE = R.EMBRYO_CODE
		                   AND F.STAT_DATE = R.SCHEDULE_DATE - 1	/*完成量同样要取上一天的*/
		                   AND F.DEL_FLAG = '0'
		                   AND F.BOM_DATA_VERSION = R.BOM_DATA_VERSION
		                 WHERE CI.DEL_FLAG = '0'
		                   AND TIRE_FABRIC_CODE2 IS NOT NULL
		       			   AND REGEXP_LIKE(TRIM(CI.TIRE_FABRIC_CRAFT2), '(^[+-]?\d{0,}\.?\d{0,}$)')
		                UNION ALL
		                SELECT CI.TIRE_FABRIC_CODE3 TIRE_FABRIC_CODE, /*3#帘布编号*/
		                       R.CX_MACHINE_CODE,
		                       R.EMBRYO_CODE,
                               CASE
                                 WHEN NVL(R.CLASS3_PLANNED_QTY, 0) > NVL(F.FINISH_QTY, 0) THEN
                                   NVL(R.CLASS3_PLANNED_QTY, 0) - NVL(F.FINISH_QTY, 0)
                                 ELSE
                                   0
                               END CLASS3_PLANNED_QTY, /*前日成型三班计划量 - 完成量，计算结果不能小于0*/
		                       nvl(CI.SIDEWALL_LENGTH / 1000, 0) SIDEWALL_LENGTH, /*单耗*/
		                       R.SCHEDULE_DATE
		                  FROM (
			                  	SELECT r.SCHEDULE_DATE, 
			                  	       listagg(CX_MACHINE_CODE || '$' || EMBRYO_CODE || '$' || r.BOM_DATA_VERSION, ',') WITHIN GROUP (ORDER BY CX_MACHINE_CODE, EMBRYO_CODE, r.BOM_DATA_VERSION) CX_MACHINE_CODE, 
			                  	       r.EMBRYO_CODE, 
			                  	       r.BOM_DATA_VERSION,
			                  	       SUM(r.CLASS3_PLANNED_QTY) CLASS3_PLANNED_QTY
			                  	  FROM T_CX_SCHEDULE_RESULT r
			                  	 WHERE r.SCHEDULE_DATE = #{scheduleDate}
			                  	   AND r.DEL_FLAG = '0'
			                  	 GROUP BY r.SCHEDULE_DATE, 
			                  	          r.EMBRYO_CODE,
			                  	          r.BOM_DATA_VERSION
			                  ) R
		                  LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
		                    ON R.EMBRYO_CODE = CI.EMBRYO_CODE
		                   AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
					   <if test="isProductStage">
						   /* 仅对投产阶段的规格排产 */
						   AND CI.PRODUCTION_STAGE = '0'
					   </if>
		                  LEFT JOIN T_CX_PART_FINISH_QTY F
		                    ON F.EMBRYO_CODE = R.EMBRYO_CODE
		                   AND F.STAT_DATE = R.SCHEDULE_DATE - 1	/*完成量同样要取上一天的*/
		                   AND F.DEL_FLAG = '0'
		                   AND F.BOM_DATA_VERSION = R.BOM_DATA_VERSION
		                 WHERE CI.DEL_FLAG = '0'
		                   AND TIRE_FABRIC_CODE3 IS NOT NULL
		       			   AND REGEXP_LIKE(TRIM(CI.TIRE_FABRIC_CRAFT3), '(^[+-]?\d{0,}\.?\d{0,}$)'))
		         GROUP BY TIRE_FABRIC_CODE,
		                  SCHEDULE_DATE) T
		    ON S.MATERIAL_CODE = T.CLOTH_CODE
		 WHERE S.DEL_FLAG = '0'
		   AND S.STOCK_DATE = #{scheduleDate} - 1	/*库存要取排产日上一天的*/
    </select>
    
	<!-- 查询90度裁断库存量 -->
    <select id="selectCd90StockQty" resultType="com.zlt.aps.cd90.engine.vo.Cd90StockVo">
	     SELECT MATERIAL_CODE CLOTH_CODE, /*帘带编号*/
	            CASE
	              WHEN NVL(S.STOCK_NUM, 0) - NVL(S.BAD_NUM, 0) +
	                   NVL(S.MODIFY_NUM, 0) > 0 THEN
	               NVL(S.STOCK_NUM, 0) - NVL(S.BAD_NUM, 0) +
	               NVL(S.MODIFY_NUM, 0)
	              ELSE
	               0
	            END STOCK_QTY
		   FROM T_Cd90_STOCK S
		  WHERE S.DEL_FLAG = '0'
		    AND S.STOCK_DATE = #{scheduleDate} - 1	/*库存要取排产日上一天的*/
    </select>
    
    <!-- 查询当天的收尾规格 -->
    <select id="listCloseOutSpec" resultType="String">
	        SELECT CI.TIRE_FABRIC_CODE1 || '#' || 
                   CI.TIRE_FABRIC_CODE2  || '#' || 
                   CI.TIRE_FABRIC_CODE3 TIRE_FABRIC_CODE /*帘线规格*/
		      FROM T_CX_SCHEDULE_RESULT R
		     INNER JOIN T_PRODUCT_CONSTRUCTION_INFO CI
		        ON R.EMBRYO_CODE = CI.EMBRYO_CODE
		       AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
		     INNER JOIN T_CD90_PARAMS P
		        ON P.PARAM_CODE = 'CLOSE_OUT_SPEC_REMARK'
		       AND P.DEL_FLAG = '0'
		       AND P.PARAM_VALUE IS NOT NULL
		     WHERE R.SCHEDULE_DATE = #{scheduleDate}
		       AND R.DEL_FLAG = '0'
		       AND CI.DEL_FLAG = '0'
		<if test="isProductStage">
		          /* 仅对投产阶段的规格排产 */
		       AND CI.PRODUCTION_STAGE = '0'
		</if>
		       AND NOT EXISTS
		     (SELECT 1
		              FROM T_CX_SCHEDULE_RESULT R2
		              LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI2
		                ON R2.EMBRYO_CODE = CI2.EMBRYO_CODE
		               AND R2.BOM_DATA_VERSION = CI2.EMBRYO_VERSION
		             WHERE R2.SCHEDULE_DATE = R.SCHEDULE_DATE
	                   AND (CI2.TIRE_FABRIC_CODE1 = CI.TIRE_FABRIC_CODE1
	                    OR CI2.TIRE_FABRIC_CODE2 = CI.TIRE_FABRIC_CODE2
	                    OR CI2.TIRE_FABRIC_CODE3 = CI.TIRE_FABRIC_CODE3)
		               AND R2.DEL_FLAG = '0'
		               AND CI2.DEL_FLAG = '0'
		<if test="isProductStage">
		                  /* 仅对投产阶段的规格排产 */
		               AND CI2.PRODUCTION_STAGE = '0'
		</if>
			           AND NOT REGEXP_LIKE(NVL(R2.CLASS1_ANALYSIS, ' '), P.PARAM_VALUE)
			           AND NOT REGEXP_LIKE(NVL(R2.CLASS1_ANALYSIS_INPUT, ' '), P.PARAM_VALUE)
			           AND NOT REGEXP_LIKE(NVL(R2.CLASS2_ANALYSIS, ' '), P.PARAM_VALUE)
			           AND NOT REGEXP_LIKE(NVL(R2.CLASS2_ANALYSIS_INPUT, ' '), P.PARAM_VALUE)
			           AND NOT REGEXP_LIKE(NVL(R2.CLASS3_ANALYSIS, ' '), P.PARAM_VALUE)
			           AND NOT REGEXP_LIKE(NVL(R2.CLASS3_ANALYSIS_INPUT, ' '), P.PARAM_VALUE)
			           AND NOT REGEXP_LIKE(NVL(R2.CLASS4_ANALYSIS, ' '), P.PARAM_VALUE)
			           AND NOT REGEXP_LIKE(NVL(R2.CLASS4_ANALYSIS_INPUT, ' '), P.PARAM_VALUE)
			           AND NOT REGEXP_LIKE(NVL(R2.CLASS5_ANALYSIS, ' '), P.PARAM_VALUE)
			           AND NOT REGEXP_LIKE(NVL(R2.CLASS5_ANALYSIS_INPUT, ' '), P.PARAM_VALUE))
         GROUP BY CI.TIRE_FABRIC_CODE1,
                  CI.TIRE_FABRIC_CODE2,
                  CI.TIRE_FABRIC_CODE3
    </select>
    
	<!-- 查询纤维压延排产参数 -->
    <select id="listXwyyParams" resultType="com.zlt.aps.cd90.engine.vo.Cd90ParamsVo">
        select param_code, param_value
        from T_XWYY_PARAMS
        where DEL_FLAG = '0'
    </select>
    
	<!-- 查询90度裁断线边库库存数 -->
    <select id="listCd90LineSideStock" resultType="com.zlt.aps.cd90.api.domain.entity.Cd90LineSideStock">
        select id, material_code, machine_code, nvl(trunc(stock_num), 0) stock_num
        from T_CD90_LINE_SIDE_STOCK
        where DEL_FLAG = '0'
          and stock_date = #{scheduleDate} - 1
    </select>
    
    <!-- 查询90度裁断机台 -->
    <select id="listCd90MachineInfo" resultType="com.zlt.aps.cd90.api.domain.entity.Cd90MachineInfo">
    	select id,
    	       machine_code
    	  from t_cd90_machine_info
    	 where del_flag = '0'
    </select>
</mapper>
