<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd90.engine.mapper.Cd90EngineProductOrderMapper">
	<!-- 获取指定大卷与机台的90度裁断的排程信息 -->
    <select id="selectCd90ScheduleList"
    		resultType="com.zlt.aps.cd90.engine.vo.Cd90ScheduleResultVo"
    		parameterType="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult">
        SELECT *
		  FROM T_CD90_SCHEDULE_RESULT R
		 WHERE R.DEL_FLAG = '0'
		   AND R.Machine_Id = #{params.machineId,jdbcType = VARCHAR}
	       AND R.BIG_ROLL_CODE = #{params.bigRollCode,jdbcType = VARCHAR}
	       AND R.SCHEDULE_DATE = #{params.scheduleDate}
	       AND R.DATA_SOURCE = '0'/* 只有自动排程的记录需要重算 */
    </select>
    
	<!-- 更新指定排程结果的生产顺序 -->
    <update id="updatCd90ScheduleResultOrder" parameterType="list">
    	MERGE INTO T_CD90_SCHEDULE_RESULT a USING (
        <foreach collection="scheduleResultList" item="schedule" separator=" union ">
            SELECT #{schedule.dayProduceOrder,jdbcType = DOUBLE} DAY_PRODUCE_ORDER,
                   #{schedule.nightProduceOrder,jdbcType = DOUBLE} NIGHT_PRODUCE_ORDER,
                   #{schedule.id} ID
              FROM dual
        </foreach>
        ) b ON (a.id = b.id)
        WHEN MATCHED THEN
        UPDATE SET
            a.DAY_PRODUCE_ORDER = b.DAY_PRODUCE_ORDER,
            a.NIGHT_PRODUCE_ORDER = b.NIGHT_PRODUCE_ORDER
    </update>
</mapper>
