<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd90.engine.mapper.Cd90EngineMapper">
	<!-- 根据排产日期从成型排程获取90度裁断的基础排程信息 -->
    <select id="selectCd90ScheduleBaseList" resultType="com.zlt.aps.cd90.engine.vo.Cd90ScheduleResultVo">
		SELECT MAX(R.CX_BATCH_NO) CX_BATCH_NO, /*成型批次号*/
		       R.SCHEDULE_DATE, /*排产日期*/
		       MAX(R.BIG_ROLL_CODE) BIG_ROLL_CODE, /*帘线规格*/
		       R.CLOTH_CODE, /*胎体布代号*/
		       MAX(R.CRAFT) CRAFT,  /*胎体布工艺*/
		       R.LAYERS, /*层数，开关打开会分层*/
		       MAX(R.TIRE_FABRIC_SIDE_RUBBER) EDGE_GLUE, /*半钢边胶*/
				SUM((IFNULL(R.CLASS3_PLAN_QTY, 0)) * IFNULL(R.SIDEWALL_LENGTH, 0) / 1000) DAY_PLAN_QTY, /*夜班计划量*/
				SUM((IFNULL(R.CLASS4_PLAN_QTY, 0)) * IFNULL(R.SIDEWALL_LENGTH, 0) / 1000) NIGHT_PLAN_QTY, /*早班计划量*/

		       IFNULL(ROUND(AVG(R.SIDEWALL_LENGTH), 3), 0) UNIT_CONSUME, /*单耗*/
		       IFNULL(CEILING(SUM(R.CLASS1_PLAN_QTY * R.SIDEWALL_LENGTH / 1000)), 0) CX_CLASS1_PLAN, /*对应成型一班的计划量，向上取整*/
		       IFNULL(CEILING(SUM(R.CLASS2_PLAN_QTY * R.SIDEWALL_LENGTH / 1000)), 0) CX_CLASS2_PLAN, /*对应成型二班的计划量，向上取整*/
		       IFNULL(CEILING(SUM(R.CLASS3_PLAN_QTY * R.SIDEWALL_LENGTH / 1000)), 0) CX_CLASS3_PLAN, /*对应成型三班的计划量，向上取整*/
		       IFNULL(CEILING(SUM(R.CLASS4_PLAN_QTY * R.SIDEWALL_LENGTH / 1000)), 0) CX_CLASS4_PLAN, /*对应成型次一班的计划量，向上取整*/
		       IFNULL(CEILING(SUM(R.CLASS5_PLAN_QTY * R.SIDEWALL_LENGTH / 1000)), 0) CX_CLASS5_PLAN, /*对应成型次二班的计划量，向上取整*/
               COUNT(1) SPEC_COUNT
		  FROM (SELECT R.CX_BATCH_NO, /*成型批次号*/
		               R.SCHEDULE_DATE, /*排产日期*/
		               CI.CORD_SPEC          BIG_ROLL_CODE, /*帘线规格*/
		               CI.TIRE_FABRIC_CODE1  CLOTH_CODE, /*1#胎体布代号*/
		               TRUNCATE(CI.TIRE_FABRIC_CRAFT1, 0) CRAFT, /*1#胎体布工艺*/
		               CI.TIRE_FABRIC_SIDE_RUBBER , /*帘布边胶*/
		               IFNULL(CI.TIRE_FABRIC_LENGTH1, 0) SIDEWALL_LENGTH, /*单耗*/
		               IFNULL(R.CLASS3_PLANNED_QTY, 0) CLASS1_PLAN_QTY,
		               IFNULL(R.CLASS2_PLAN_QTY, 0) CLASS2_PLAN_QTY,
		               IFNULL(R.CLASS3_PLAN_QTY, 0) CLASS3_PLAN_QTY,
		               IFNULL(R.CLASS4_PLAN_QTY, 0) CLASS4_PLAN_QTY,
		               IFNULL(R.CLASS5_PLAN_QTY, 0) CLASS5_PLAN_QTY,
		               1 layers
		          FROM T_CX_SCHEDULE_RESULT R
		          LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
		            ON R.EMBRYO_CODE = CI.EMBRYO_CODE
		           AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
		         WHERE R.SCHEDULE_DATE = #{scheduleDate}
		           AND R.DEL_FLAG = '0'
		           AND CI.DEL_FLAG = '0'
		           AND CI.TIRE_FABRIC_CODE1 != ''
				   <if test="isProductStage">
				   /* 仅对投产阶段的规格排产 */
				   AND CI.PRODUCTION_STAGE = '0'
				   </if>
		        UNION ALL
		        SELECT R.CX_BATCH_NO, /*成型批次号*/
		               R.SCHEDULE_DATE, /*排产日期*/
		               CI.CORD_SPEC          BIG_ROLL_CODE, /*帘线规格*/
		               CI.TIRE_FABRIC_CODE2  CLOTH_CODE, /*2#胎体布代号*/
		               TRUNCATE(CI.TIRE_FABRIC_CRAFT2, 0) CRAFT, /*2#胎体布工艺*/
		               CI.TIRE_FABRIC_SIDE_RUBBER , /*帘布边胶*/
		               IFNULL(CI.TIRE_FABRIC_LENGTH2, 0) SIDEWALL_LENGTH, /*单耗*/
		               IFNULL(R.CLASS3_PLANNED_QTY, 0) CLASS1_PLAN_QTY,
		               IFNULL(R.CLASS2_PLAN_QTY, 0) CLASS2_PLAN_QTY,
		               IFNULL(R.CLASS3_PLAN_QTY, 0) CLASS3_PLAN_QTY,
		               IFNULL(R.CLASS4_PLAN_QTY, 0) CLASS4_PLAN_QTY,
		               IFNULL(R.CLASS5_PLAN_QTY, 0) CLASS5_PLAN_QTY,
                       CASE WHEN p.PARAM_VALUE = '1' THEN 2 ELSE 1 END layers
		          FROM T_CX_SCHEDULE_RESULT R
		          LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
		            ON R.EMBRYO_CODE = CI.EMBRYO_CODE
		           AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
                  LEFT JOIN T_CD90_PARAMS p
                    ON p.DEL_FLAG = '0'
                   AND p.PARAM_CODE = 'SPLIT_LAYERS_SWITCH'
		         WHERE R.SCHEDULE_DATE = #{scheduleDate}
		           AND R.DEL_FLAG = '0'
		           AND CI.DEL_FLAG = '0'
		           AND CI.TIRE_FABRIC_CODE2 != ''
				   <if test="isProductStage">
				   /* 仅对投产阶段的规格排产 */
				   AND CI.PRODUCTION_STAGE = '0'
				   </if>
		        UNION ALL
		        SELECT R.CX_BATCH_NO, /*成型批次号*/
		               R.SCHEDULE_DATE, /*排产日期*/
		               CI.CORD_SPEC          BIG_ROLL_CODE, /*帘线规格*/
		               CI.TIRE_FABRIC_CODE3  CLOTH_CODE, /*3#胎体布代号*/
		               TRUNCATE(CI.TIRE_FABRIC_CRAFT3, 0) CRAFT, /*3#胎体布工艺*/
		               CI.TIRE_FABRIC_SIDE_RUBBER , /*帘布边胶*/
		               IFNULL(CI.TIRE_FABRIC_LENGTH3, 0) SIDEWALL_LENGTH, /*单耗*/
		               IFNULL(R.CLASS3_PLANNED_QTY, 0) CLASS1_PLAN_QTY,
		               IFNULL(R.CLASS2_PLAN_QTY, 0) CLASS2_PLAN_QTY,
		               IFNULL(R.CLASS3_PLAN_QTY, 0) CLASS3_PLAN_QTY,
		               IFNULL(R.CLASS4_PLAN_QTY, 0) CLASS4_PLAN_QTY,
		               IFNULL(R.CLASS5_PLAN_QTY, 0) CLASS5_PLAN_QTY,
                       CASE WHEN p.PARAM_VALUE = '1' THEN 3 ELSE 1 END layers
		          FROM T_CX_SCHEDULE_RESULT R
		          LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
		            ON R.EMBRYO_CODE = CI.EMBRYO_CODE
		           AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
                  LEFT JOIN T_CD90_PARAMS p
                    ON p.DEL_FLAG = '0'
                   AND p.PARAM_CODE = 'SPLIT_LAYERS_SWITCH'
		         WHERE R.SCHEDULE_DATE = #{scheduleDate}
		           AND R.DEL_FLAG = '0'
		           AND CI.DEL_FLAG = '0'
		           AND CI.TIRE_FABRIC_CODE3 != ''
				   <if test="isProductStage">
				   /* 仅对投产阶段的规格排产 */
				   AND CI.PRODUCTION_STAGE = '0'
				   </if>
		        ) R
		 GROUP BY R.SCHEDULE_DATE, R.CLOTH_CODE, R.LAYERS
		<!-- 过滤掉成型5个班都没有对应计划量的情况 -->
		HAVING SUM((IFNULL(R.CLASS1_PLAN_QTY, 0)
		           + IFNULL(R.CLASS2_PLAN_QTY, 0)
		           + IFNULL(R.CLASS3_PLAN_QTY, 0)
		           + IFNULL(R.CLASS4_PLAN_QTY, 0)
		           + IFNULL(R.CLASS5_PLAN_QTY, 0)) * R.SIDEWALL_LENGTH) != 0
		 ORDER BY BIG_ROLL_CODE, CLOTH_CODE, LAYERS
    </select>

    <!-- 获取当天的施工信息 -->
    <select id="listConstructionInfo" resultType="com.zlt.aps.common.engine.domain.EngineProductConstructionInfo">
		SELECT R.EMBRYO_CODE,
		       R.BOM_DATA_VERSION EMBRYO_VERSION,
		       CI.CORD_SPEC,
		       CI.TIRE_FABRIC_CODE1,
		       CI.TIRE_FABRIC_LENGTH1 SIDEWALL_LENGTH,
		       CI.ID,
		       CI.PRODUCTION_STAGE
		  FROM T_CX_SCHEDULE_RESULT R
		  LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
		    ON R.EMBRYO_CODE = CI.EMBRYO_CODE
		   AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
		   AND CI.DEL_FLAG = '0'
		 WHERE R.SCHEDULE_DATE = #{scheduleDate}
		   AND R.DEL_FLAG = '0'
    </select>

	<!-- 抓取系统参数 -->
    <select id="listCd90Params" resultType="com.zlt.aps.cd90.engine.vo.Cd90ParamsVo">
        select param_code, param_value
        from T_CD90_PARAMS
        where DEL_FLAG = '0'
    </select>

    <!-- 查询当前排程的批次号 -->
    <select id="getCurrentBatchNo" parameterType="date" resultType="string">
        SELECT MAX(BATCH_NO) BATCH_NO
          FROM T_CD90_AUTO_SCHEDULE_RECORD
         WHERE schedule_date = #{scheduleDate}
           AND del_flag = '0'
    </select>

    <!-- 获取插单需要的信息 -->
    <select id="listInsertOrderBaseInfo" parameterType="com.zlt.aps.cd90.api.domain.entity.Cd90ScheduleResult" resultType="com.zlt.aps.cd90.engine.vo.Cd90ScheduleResultVo">
		WITH temp_tab_cloth_code AS (
        <foreach collection="scheduleResultList" item="schedule" separator=" union ">
        	SELECT #{schedule.clothCode} cloth_code FROM dual
		</foreach>
        )
        SELECT CASE
		         WHEN MAX(CX_BATCH_NO) IS NULL THEN
		          IFNULL(ROUND(MAX(UNIT_CONSUME), 3), 0)
		         ELSE
		          MAX(CASE
		                WHEN CX_BATCH_NO IS NOT NULL THEN
		                 UNIT_CONSUME
		                ELSE
		                 NULL
		              END)
		       END UNIT_CONSUME, /*当能关联上成型时需要按成型对应的版本取值，否则取最大值*/
               MAX(BIG_ROLL_CODE) BIG_ROLL_CODE,
               MAX(CRAFT) CRAFT, /*工艺*/
		       MAX(TIRE_FABRIC_SIDE_RUBBER) EDGE_GLUE, /*半钢边胶*/
               CLOTH_CODE,
               MAX(CX_BATCH_NO) CX_BATCH_NO,
               LAYERS,
		       IFNULL(CEILING(SUM(R.CLASS1_PLAN_QTY * R.SIDEWALL_LENGTH / 1000)), 0) CX_CLASS1_PLAN, /*对应成型一班的计划量，向上取整*/
		       IFNULL(CEILING(SUM(R.CLASS2_PLAN_QTY * R.SIDEWALL_LENGTH / 1000)), 0) CX_CLASS2_PLAN, /*对应成型二班的计划量，向上取整*/
		       IFNULL(CEILING(SUM(R.CLASS3_PLAN_QTY * R.SIDEWALL_LENGTH / 1000)), 0) CX_CLASS3_PLAN, /*对应成型三班的计划量，向上取整*/
		       IFNULL(CEILING(SUM(R.CLASS4_PLAN_QTY * R.SIDEWALL_LENGTH / 1000)), 0) CX_CLASS4_PLAN, /*对应成型次一班的计划量，向上取整*/
		       IFNULL(CEILING(SUM(R.CLASS5_PLAN_QTY * R.SIDEWALL_LENGTH / 1000)), 0) CX_CLASS5_PLAN /*对应成型次二班的计划量，向上取整*/
          FROM (
	        SELECT CI.TIRE_FABRIC_LENGTH1 UNIT_CONSUME /*单耗*/,
	               CI.CORD_SPEC BIG_ROLL_CODE,
	               CI.TIRE_FABRIC_CODE1 CLOTH_CODE,
		           TRUNCATE(CI.TIRE_FABRIC_CRAFT1, 0) CRAFT, /*1#胎体布工艺*/
		           CI.TIRE_FABRIC_SIDE_RUBBER, /*帘布边胶*/
	               IFNULL(R.CLASS1_PLAN_QTY, 0) CLASS1_PLAN_QTY,
	               IFNULL(R.CLASS2_PLAN_QTY, 0) CLASS2_PLAN_QTY,
	               IFNULL(R.CLASS3_PLAN_QTY, 0) CLASS3_PLAN_QTY,
	               IFNULL(R.CLASS4_PLAN_QTY, 0) CLASS4_PLAN_QTY,
	               IFNULL(R.CLASS5_PLAN_QTY, 0) CLASS5_PLAN_QTY,
	               R.CX_BATCH_NO,
                   CI.TIRE_FABRIC_LENGTH1 SIDEWALL_LENGTH,
                   1 layers
	          FROM T_PRODUCT_CONSTRUCTION_INFO CI
	          LEFT JOIN T_CX_SCHEDULE_RESULT R
	            ON R.EMBRYO_CODE = CI.EMBRYO_CODE
	           AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
		       AND R.DEL_FLAG = '0'
		       AND R.SCHEDULE_DATE = #{scheduleDate}
	         WHERE CI.DEL_FLAG = '0'
	           AND CI.TIRE_FABRIC_CODE1 IN (
	               SELECT cloth_code FROM temp_tab_cloth_code
	           )
	         UNION
	        SELECT CI.TIRE_FABRIC_LENGTH2 UNIT_CONSUME /*单耗*/,
	               CI.CORD_SPEC BIG_ROLL_CODE,
	               CI.TIRE_FABRIC_CODE2 CLOTH_CODE,
		           TRUNCATE(CI.TIRE_FABRIC_CRAFT2, 0) CRAFT, /*2#胎体布工艺*/
		           CI.TIRE_FABRIC_SIDE_RUBBER, /*帘布边胶*/
	               IFNULL(R.CLASS1_PLAN_QTY, 0) CLASS1_PLAN_QTY,
	               IFNULL(R.CLASS2_PLAN_QTY, 0) CLASS2_PLAN_QTY,
	               IFNULL(R.CLASS3_PLAN_QTY, 0) CLASS3_PLAN_QTY,
	               IFNULL(R.CLASS4_PLAN_QTY, 0) CLASS4_PLAN_QTY,
	               IFNULL(R.CLASS5_PLAN_QTY, 0) CLASS5_PLAN_QTY,
	               R.CX_BATCH_NO,
                   CI.TIRE_FABRIC_LENGTH2 SIDEWALL_LENGTH,
                   CASE WHEN p.PARAM_VALUE = '1' THEN 2 ELSE 1 END layers
	          FROM T_PRODUCT_CONSTRUCTION_INFO CI
	          LEFT JOIN T_CX_SCHEDULE_RESULT R
	            ON R.EMBRYO_CODE = CI.EMBRYO_CODE
	           AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
		       AND R.DEL_FLAG = '0'
		       AND R.SCHEDULE_DATE = #{scheduleDate}
              LEFT JOIN T_CD90_PARAMS p
                ON p.DEL_FLAG = '0'
               AND p.PARAM_CODE = 'SPLIT_LAYERS_SWITCH'
	         WHERE CI.DEL_FLAG = '0'
	           AND CI.TIRE_FABRIC_CODE2 IN (
	               SELECT cloth_code FROM temp_tab_cloth_code
	           )
	         UNION
	        SELECT CI.TIRE_FABRIC_LENGTH3 UNIT_CONSUME /*单耗*/,
	               CI.CORD_SPEC BIG_ROLL_CODE,
	               CI.TIRE_FABRIC_CODE3 CLOTH_CODE,
		           TRUNCATE(CI.TIRE_FABRIC_CRAFT3, 0) CRAFT, /*3#胎体布工艺*/
		           CI.TIRE_FABRIC_SIDE_RUBBER, /*帘布边胶*/
	               IFNULL(R.CLASS1_PLAN_QTY, 0) CLASS1_PLAN_QTY,
	               IFNULL(R.CLASS2_PLAN_QTY, 0) CLASS2_PLAN_QTY,
	               IFNULL(R.CLASS3_PLAN_QTY, 0) CLASS3_PLAN_QTY,
	               IFNULL(R.CLASS4_PLAN_QTY, 0) CLASS4_PLAN_QTY,
	               IFNULL(R.CLASS5_PLAN_QTY, 0) CLASS5_PLAN_QTY,
	               R.CX_BATCH_NO,
                   CI.TIRE_FABRIC_LENGTH3 SIDEWALL_LENGTH,
                   CASE WHEN p.PARAM_VALUE = '1' THEN 3 ELSE 1 END layers
	          FROM T_PRODUCT_CONSTRUCTION_INFO CI
	          LEFT JOIN T_CX_SCHEDULE_RESULT R
	            ON R.EMBRYO_CODE = CI.EMBRYO_CODE
	           AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
		       AND R.DEL_FLAG = '0'
		       AND R.SCHEDULE_DATE = #{scheduleDate}
		LEFT JOIN T_CD90_PARAMS p
		ON p.DEL_FLAG = '0'
		AND p.PARAM_CODE = 'SPLIT_LAYERS_SWITCH'
	         WHERE CI.DEL_FLAG = '0'
	           AND CI.TIRE_FABRIC_CODE3 IN (
	               SELECT cloth_code FROM temp_tab_cloth_code
	           )
        ) R
        GROUP BY CLOTH_CODE, LAYERS
    </select>

	<!-- 新增自动排产记录 -->
    <insert id="insertScheduleRecord" parameterType="com.zlt.aps.cd90.engine.vo.Cd90ScheduleRecordVo">
        insert into T_CD90_AUTO_SCHEDULE_RECORD (ID, CX_BATCH_NO, BATCH_NO, STATUS, SCHEDULE_DATE, CREATE_BY, CREATE_TIME, DEL_FLAG)
        values (NULL, #{cxBatchNo}, #{batchNo}, #{status}, #{scheduleDate}, #{createBy}, #{createTime}, #{delFlag})
    </insert>

	<!-- 批量新增排程结果数据 -->
    <insert id="insertScheduleResultList" parameterType="list">
    	INSERT INTO T_CD90_schedule_RESULT
		  (ID,
		   schedule_DATE,
		   CX_BATCH_NO,
		   BATCH_NO,
		   ORDER_NO,
		   BIG_ROLL_CODE,
		   MACHINE_ID,
		   CLOTH_CODE,
		   UNIT_CONSUME,
		   STOCK_QTY,
		   SUPPLY_TIME,
		   DAY_PLAN_QTY,
		   DAY_FINISH_QTY,
		   DAY_FINISH_RATE,
		   DAY_PRODUCE_ORDER,
		   DAY_SYS_ANALYSIS,
		   DAY_HAND_ANALYSIS,
		   NIGHT_PLAN_QTY,
		   NIGHT_FINISH_QTY,
		   NIGHT_FINISH_RATE,
		   NIGHT_PRODUCE_ORDER,
		   NIGHT_SYS_ANALYSIS,
		   NIGHT_HAND_ANALYSIS,
        NEXT_DAY_PLAN_QTY,
		   CX_CLASS1_PLAN,
		   CX_CLASS2_PLAN,
		   CX_CLASS3_PLAN,
		   CX_CLASS4_PLAN,
		   CX_CLASS5_PLAN,
		   IS_RELEASE,
		   PUBLISH_SUCCESS_COUNT,
		   NEWEST_PUBLISH_TIME,
		   MARK_CLOSE_OUT_TIP,
		   PRODUCTION_STATUS,
		   CLOSE_OUT_SPEC_FLAG,
		   DATA_SOURCE,
		   CRAFT,
		   EDGE_GLUE,
		   REMARK,
		   DEL_FLAG,
		   CREATE_BY,
		   CREATE_TIME,
		LAYERS,
		LAST_MID_PLAN_QTY)
		  values
		      <foreach collection="scheduleResultList" item="schedule" separator=",">
                  (NULL,
                   		 #{schedule.scheduleDate},
		                 #{schedule.cxBatchNo,jdbcType = VARCHAR},
		                 #{schedule.batchNo,jdbcType = VARCHAR},
		                 #{schedule.orderNo,jdbcType = VARCHAR},
		                 #{schedule.bigRollCode,jdbcType = VARCHAR},
		                 #{schedule.machineId,jdbcType = VARCHAR},
		                 #{schedule.clothCode,jdbcType = VARCHAR},
		                 #{schedule.unitConsume,jdbcType = VARCHAR},
		                 #{schedule.stockQty,jdbcType = DOUBLE},
		                 #{schedule.supplyTime,jdbcType = DOUBLE},
		                 #{schedule.dayPlanQty,jdbcType = DOUBLE},
		                 #{schedule.dayFinishQty,jdbcType = DOUBLE},
		                 #{schedule.dayFinishRate,jdbcType = DOUBLE},
		                 #{schedule.dayProduceOrder,jdbcType = DOUBLE},
		                 #{schedule.daySysAnalysis,jdbcType = VARCHAR},
		                 #{schedule.dayHandAnalysis,jdbcType = VARCHAR},
		                 #{schedule.nightPlanQty,jdbcType = DOUBLE},
		                 #{schedule.nightFinishQty,jdbcType = DOUBLE},
		                 #{schedule.nightFinishRate,jdbcType = DOUBLE},
		                 #{schedule.nightProduceOrder,jdbcType = DOUBLE},
		                 #{schedule.nightSysAnalysis,jdbcType = VARCHAR},
		                 #{schedule.nightHandAnalysis,jdbcType = VARCHAR},
                  #{schedule.nextDayPlanQty,jdbcType = DOUBLE},
		                 #{schedule.cxClass1Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass2Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass3Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass4Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass5Plan,jdbcType = DOUBLE},
		                 #{schedule.isRelease,jdbcType = VARCHAR},
		                 #{schedule.publishSuccessCount,jdbcType = INTEGER},
		                 #{schedule.newestPublishTime,jdbcType = DATE},
		                 #{schedule.markCloseOutTip,jdbcType = VARCHAR},
		                 #{schedule.productionStatus,jdbcType = VARCHAR},
		                 #{schedule.closeOutSpecFlag,jdbcType = VARCHAR},
		                 #{schedule.dataSource,jdbcType = VARCHAR},
		                 #{schedule.craft,jdbcType = VARCHAR},
		                 #{schedule.edgeGlue,jdbcType = VARCHAR},
		                 #{schedule.remark,jdbcType = VARCHAR},
		                 #{schedule.delFlag,jdbcType = VARCHAR},
		                 #{schedule.createBy,jdbcType = VARCHAR},
		                 #{schedule.createTime},
				  #{schedule.layers},
				  #{schedule.lastMidPlanQty,jdbcType=DOUBLE}
		            )
              </foreach>
    </insert>

	<!-- 把排程数据同步到log表，用于备份历史信息 -->
    <insert id="insertCd90ScheduleLog">
		INSERT INTO T_CD90_SCHEDULE_RESULT_LOG
		  (ID,
		   SCHEDULE_DATE,
		   CX_BATCH_NO,
		   BATCH_NO,
		   ORDER_NO,
		   BIG_ROLL_CODE,
		   CLOTH_CODE,
		   UNIT_CONSUME,
		   MACHINE_ID,
		   STOCK_QTY,
		   SUPPLY_TIME,
		   DAY_PLAN_QTY,
		   DAY_FINISH_QTY,
		   DAY_PRODUCE_ORDER,
		   DAY_FINISH_RATE,
		   DAY_SYS_ANALYSIS,
		   DAY_HAND_ANALYSIS,
		   NIGHT_PLAN_QTY,
		   NIGHT_FINISH_QTY,
		   NIGHT_PRODUCE_ORDER,
		   NIGHT_FINISH_RATE,
		   NIGHT_SYS_ANALYSIS,
		   NIGHT_HAND_ANALYSIS,
		   CX_CLASS1_PLAN,
		   CX_CLASS2_PLAN,
		   CX_CLASS3_PLAN,
		   CX_CLASS4_PLAN,
		   CX_CLASS5_PLAN,
		   IS_RELEASE,
		   PUBLISH_SUCCESS_COUNT,
		   NEWEST_PUBLISH_TIME,
		   CLOSE_OUT_SPEC_FLAG,
		   CRAFT,
		   EDGE_GLUE,
		   REMARK,
		   DEL_FLAG,
		   CREATE_BY,
		   CREATE_TIME,
		   UPDATE_BY,
		   UPDATE_TIME,
		   MARK_CLOSE_OUT_TIP,
		   PRODUCTION_STATUS,
		   data_source)
		  SELECT ID,
		         SCHEDULE_DATE,
		         CX_BATCH_NO,
		         BATCH_NO,
		         ORDER_NO,
		         BIG_ROLL_CODE,
		         CLOTH_CODE,
		         UNIT_CONSUME,
		         MACHINE_ID,
		         STOCK_QTY,
		         SUPPLY_TIME,
		         DAY_PLAN_QTY,
		         DAY_FINISH_QTY,
		         DAY_PRODUCE_ORDER,
		         DAY_FINISH_RATE,
		         DAY_SYS_ANALYSIS,
		         DAY_HAND_ANALYSIS,
		         NIGHT_PLAN_QTY,
		         NIGHT_FINISH_QTY,
		         NIGHT_PRODUCE_ORDER,
		         NIGHT_FINISH_RATE,
		         NIGHT_SYS_ANALYSIS,
		         NIGHT_HAND_ANALYSIS,
		         CX_CLASS1_PLAN,
		         CX_CLASS2_PLAN,
		         CX_CLASS3_PLAN,
		         CX_CLASS4_PLAN,
		         CX_CLASS5_PLAN,
		         IS_RELEASE,
			     PUBLISH_SUCCESS_COUNT,
			     NEWEST_PUBLISH_TIME,
			     CLOSE_OUT_SPEC_FLAG,
			     CRAFT,
			     EDGE_GLUE,
		         REMARK,
		         DEL_FLAG,
		         CREATE_BY,
		         CREATE_TIME,
		         UPDATE_BY,
		         UPDATE_TIME,
		         MARK_CLOSE_OUT_TIP,
		         PRODUCTION_STATUS,
		         data_source
		    FROM T_CD90_SCHEDULE_RESULT
		   WHERE SCHEDULE_DATE = #{scheduleDate}
    </insert>

	<!-- 删除指定日期的排程结果明细 -->
    <delete id="deleteCd90ScheduleResult" parameterType="date">
        DELETE FROM T_CD90_SCHEDULE_RESULT WHERE SCHEDULE_DATE = #{scheduleDate}
    </delete>

	<!-- 逻辑删除指定日期的排程主表记录 -->
    <update id="logicDeleteCd90ScheduleRecord" parameterType="com.zlt.aps.cd90.engine.vo.Cd90ScheduleRecordVo">
		UPDATE T_CD90_AUTO_SCHEDULE_RECORD
		SET DEL_FLAG  = '1',
			UPDATE_BY = #{createBy},
    	       UPDATE_TIME = #{createTime}
    	 WHERE schedule_date = #{scheduleDate}
    	   AND DEL_FLAG = '0'
    </update>

	<!-- 批量合并排程结果表（根据唯一字段，做更新或新增） -->
    <insert id="mergeCd90ScheduleResult">
		INSERT INTO T_CD90_SCHEDULE_RESULT (
		schedule_Date, CX_BATCH_NO, batch_no, order_no, big_Roll_Code, machine_Id, cloth_code,
		unit_Consume, supply_time, stock_Qty, day_Plan_Qty, day_Produce_Order, day_Hand_Analysis,
		night_Plan_Qty, night_Produce_Order, night_Hand_Analysis, is_release, mark_close_out_tip,
		remark, production_status, del_flag, create_by, create_time, data_source, CX_CLASS1_PLAN,
		CX_CLASS2_PLAN, CX_CLASS3_PLAN, CX_CLASS4_PLAN, CX_CLASS5_PLAN, CRAFT, EDGE_GLUE
		)
		VALUES
		<foreach collection="scheduleResultList" item="schedule" separator=",">
			(
			#{schedule.scheduleDate},
			#{schedule.cxBatchNo,jdbcType=VARCHAR},
			#{schedule.batchNo,jdbcType=VARCHAR},
			#{schedule.orderNo,jdbcType=VARCHAR},
			#{schedule.bigRollCode,jdbcType=VARCHAR},
			#{schedule.machineId,jdbcType=VARCHAR},
			#{schedule.clothCode,jdbcType=VARCHAR},
			#{schedule.unitConsume,jdbcType=DOUBLE},
			#{schedule.supplyTime,jdbcType=DOUBLE},
			#{schedule.stockQty,jdbcType=DOUBLE},
			#{schedule.dayPlanQty,jdbcType=DOUBLE},
			#{schedule.dayProduceOrder,jdbcType=DOUBLE},
			#{schedule.dayHandAnalysis,jdbcType=VARCHAR},
			#{schedule.nightPlanQty,jdbcType=DOUBLE},
			#{schedule.nightProduceOrder,jdbcType=DOUBLE},
			#{schedule.nightHandAnalysis,jdbcType=VARCHAR},
			#{schedule.isRelease,jdbcType=VARCHAR},
			#{schedule.markCloseOutTip,jdbcType=VARCHAR},
			#{schedule.remark,jdbcType=VARCHAR},
			#{schedule.productionStatus,jdbcType=VARCHAR},
			'0',
			#{schedule.createBy,jdbcType=VARCHAR},
			NOW(),
			#{schedule.dataSource,jdbcType=VARCHAR},
			#{schedule.cxClass1Plan,jdbcType=DOUBLE},
			#{schedule.cxClass2Plan,jdbcType=DOUBLE},
			#{schedule.cxClass3Plan,jdbcType=DOUBLE},
			#{schedule.cxClass4Plan,jdbcType=DOUBLE},
			#{schedule.cxClass5Plan,jdbcType=DOUBLE},
			#{schedule.craft,jdbcType=VARCHAR},
			#{schedule.edgeGlue,jdbcType=VARCHAR}
			)
		</foreach>
		ON DUPLICATE KEY UPDATE
		stock_Qty = VALUES(stock_Qty),
		day_Plan_Qty = VALUES(day_Plan_Qty),
		night_Plan_Qty = VALUES(night_Plan_Qty),
		day_Hand_Analysis = VALUES(day_Hand_Analysis),
		night_Hand_Analysis = VALUES(night_Hand_Analysis),
		mark_Close_Out_Tip = VALUES(mark_Close_Out_Tip),
		remark = VALUES(remark),
		production_status = VALUES(production_status),
		update_by = VALUES(create_by),
		update_time = NOW(),
		data_source = VALUES(data_source),
		CX_CLASS1_PLAN = VALUES(CX_CLASS1_PLAN),
		CX_CLASS2_PLAN = VALUES(CX_CLASS2_PLAN),
		CX_CLASS3_PLAN = VALUES(CX_CLASS3_PLAN),
		CX_CLASS4_PLAN = VALUES(CX_CLASS4_PLAN),
		CX_CLASS5_PLAN = VALUES(CX_CLASS5_PLAN),
		CRAFT = VALUES(CRAFT),
		EDGE_GLUE = VALUES(EDGE_GLUE),
		day_Produce_Order = VALUES(day_Produce_Order),
		night_Produce_Order = VALUES(night_Produce_Order)
	</insert>

	<!-- 批量更新90度裁断排程量 -->
    <update id="updateCd90ScheduleResultPlanQty">
        <!--MERGE INTO T_CD90_SCHEDULE_RESULT a USING (
        <foreach collection="scheduleResultList" item="schedule" separator=" union ">
            SELECT #{schedule.dayPlanQty,jdbcType = DOUBLE} day_Plan_Qty,
                   #{schedule.dayProduceOrder,jdbcType = DOUBLE} day_Produce_Order,
                   #{schedule.nightPlanQty,jdbcType = DOUBLE} night_Plan_Qty,
                   #{schedule.nightProduceOrder,jdbcType = DOUBLE} night_Produce_Order,
                   #{schedule.isRelease,jdbcType = VARCHAR} is_Release,
                   #{schedule.updateBy,jdbcType = VARCHAR} update_by,
                   #{schedule.updateTime} update_time,
				   #{schedule.id} id
              from dual
        </foreach>
        ) b ON (a.id = b.id)
        WHEN MATCHED THEN
        UPDATE SET
            a.day_Plan_Qty = b.day_Plan_Qty,
            a.day_Produce_Order = b.day_Produce_Order,
            a.night_Plan_Qty = b.night_Plan_Qty,
            a.night_Produce_Order = b.night_Produce_Order,
            a.is_Release = b.is_Release,
            a.update_by = b.update_by,
            a.update_time = b.update_time-->
		-- 执行批量更新
		UPDATE T_CD90_SCHEDULE_RESULT as result
		JOIN temp_schedule_result tempTable ON result.id = tempTable.id
		SET
		result.day_plan_qty = tempTable.day_plan_qty,
		result.day_produce_order = tempTable.day_produce_order,
		result.night_plan_qty = tempTable.night_plan_qty,
		result.night_produce_order = tempTable.night_produce_order,
		result.is_release = tempTable.is_release,
		result.update_by = tempTable.update_by,
		result.update_time = tempTable.update_time
		where result.schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
    </update>

	<update id="createTempTable">
		-- 创建临时表用于批量更新
		CREATE TEMPORARY TABLE temp_schedule_result (
			id BIGINT PRIMARY KEY NOT NULL,
			day_plan_qty DOUBLE,
			day_produce_order INT,
			night_plan_qty DOUBLE,
			night_produce_order INT,
			is_release CHAR(1),
			update_by VARCHAR(25),
			update_time DATETIME
		);
	</update>

    <insert id="insertTempTable">
		INSERT INTO temp_schedule_result
		(id,
		day_plan_qty,
		day_produce_order,
		night_plan_qty,
		night_produce_order,
		is_release,
		update_by,
		update_time)
		values
		<foreach collection="scheduleResultList" item="schedule" separator=",">
			(
			#{schedule.id},
			#{schedule.dayPlanQty,jdbcType = DOUBLE},
			#{schedule.dayProduceOrder,jdbcType = DOUBLE},
			#{schedule.nightPlanQty,jdbcType = DOUBLE},
			#{schedule.nightProduceOrder,jdbcType = DOUBLE},
			#{schedule.isRelease,jdbcType = VARCHAR},
			#{schedule.updateBy,jdbcType = VARCHAR},
			#{schedule.updateTime}
			)
		</foreach>
	</insert>

	<delete id="dropTempTable">
		-- 删除临时表
		DROP TEMPORARY TABLE temp_schedule_result
	</delete>

	<!-- 获取指定排产日的90度裁断的排程信息 -->
    <select id="selectCd90ScheduleList" resultType="com.zlt.aps.cd90.engine.vo.Cd90ScheduleResultVo">
        SELECT *
		  FROM T_CD90_SCHEDULE_RESULT R
		 WHERE R.DEL_FLAG = '0'
	       AND R.SCHEDULE_DATE = #{scheduleDate}
    </select>

	<!-- 查询90度裁断外协规格清单 -->
    <select id="selectCd90AssistSpecList" resultType="com.zlt.aps.cd90.api.domain.entity.Cd90AssistSpec">
        SELECT *
		  FROM T_CD90_ASSIST_SPEC R
		 WHERE R.DEL_FLAG = '0'
    </select>

	<!-- 批量新增外协排程结果数据 -->
    <insert id="insertScheduleAssistList" parameterType="list">
    	INSERT INTO T_CD90_ASSIST_schedule
		  (ID,
		   schedule_DATE,
		   CX_BATCH_NO,
		   BATCH_NO,
		   ORDER_NO,
		   BIG_ROLL_CODE,
		   MACHINE_ID,
		   CLOTH_CODE,
		   UNIT_CONSUME,
		   STOCK_QTY,
		   SUPPLY_TIME,
		   DAY_PLAN_QTY,
		   DAY_PRODUCE_ORDER,
		   DAY_SYS_ANALYSIS,
		   NIGHT_PLAN_QTY,
		   NIGHT_PRODUCE_ORDER,
		   NIGHT_SYS_ANALYSIS,
		   CX_CLASS1_PLAN,
		   CX_CLASS2_PLAN,
		   CX_CLASS3_PLAN,
		   CX_CLASS4_PLAN,
		   CX_CLASS5_PLAN,
		   IS_RELEASE,
		   MARK_CLOSE_OUT_TIP,
		   PRODUCTION_STATUS,
		   DEL_FLAG,
		   CREATE_BY,
		   CREATE_TIME)
		  	VALUES
		      <foreach collection="scheduleAssistList" item="schedule" separator=" union ">
                  (NULL,
		           		 #{schedule.scheduleDate},
		                 #{schedule.cxBatchNo,jdbcType = VARCHAR},
		                 #{schedule.batchNo,jdbcType = VARCHAR},
		                 #{schedule.orderNo,jdbcType = VARCHAR},
		                 #{schedule.bigRollCode,jdbcType = VARCHAR},
		                 #{schedule.machineId,jdbcType = VARCHAR},
		                 #{schedule.clothCode,jdbcType = VARCHAR},
		                 #{schedule.unitConsume,jdbcType = VARCHAR},
		                 #{schedule.stockQty,jdbcType = DOUBLE},
		                 #{schedule.supplyTime,jdbcType = DOUBLE},
		                 #{schedule.dayPlanQty,jdbcType = DOUBLE},
		                 #{schedule.dayProduceOrder,jdbcType = DOUBLE},
		                 #{schedule.daySysAnalysis,jdbcType = VARCHAR},
		                 #{schedule.nightPlanQty,jdbcType = DOUBLE},
		                 #{schedule.nightProduceOrder,jdbcType = DOUBLE},
		                 #{schedule.nightSysAnalysis,jdbcType = VARCHAR},
		                 #{schedule.cxClass1Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass2Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass3Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass4Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass5Plan,jdbcType = DOUBLE},
		                 #{schedule.isRelease,jdbcType = VARCHAR},
		                 #{schedule.markCloseOutTip,jdbcType = VARCHAR},
		                 #{schedule.productionStatus,jdbcType = VARCHAR},
		                 #{schedule.delFlag,jdbcType = VARCHAR},
		                 #{schedule.createBy,jdbcType = VARCHAR},
		                 #{schedule.createTime}
		            )
              </foreach>
    </insert>

	<!-- 逻辑删除指定日期的外协排程结果数据 -->
    <delete id="deleteCd90ScheduleAssist" parameterType="date">
        UPDATE T_CD90_ASSIST_SCHEDULE SET DEL_FLAG = '1' WHERE SCHEDULE_DATE = #{scheduleDate}
    </delete>

    <update id="batchUpdateBatchNoAndOrderNo">
        UPDATE T_CD90_SCHEDULE_RESULT as a
        JOIN (
        <foreach item="item" collection="list" separator=" UNION ALL ">
            SELECT #{item.id} AS id, #{item.batchNo} as batch_no, #{item.orderNo} as order_no FROM DUAL
        </foreach>
        ) tempTable ON a.id = tempTable.id
        SET
        a.batch_no = tempTable.batch_no,
        a.order_no = tempTable.order_no
        where a.del_flag = '0'
    </update>
</mapper>
