<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd15.engine.mapper.Cd15EngineMapper">
	<!-- 根据排产日期从成型排程获取15度裁断的基础排程信息 -->
    <select id="selectCd15ScheduleBaseList" resultType="com.zlt.aps.cd15.engine.vo.Cd15ScheduleResultVo">
        SELECT MAX(R.CX_BATCH_NO) CX_BATCH_NO, /*成型批次号*/
               R.schedule_DATE, /*排产日期*/
		       CI.ARTICLE_CROWN_SPEC BIG_ROLL_CODE, /*钢带规格*/
		       CI.BELT_CODE1 STEEL_STRIP_CODE1, /*1#钢带代号*/
		       CI.BELT_CODE2 STEEL_STRIP_CODE2, /*2#钢带代号*/
		       REGEXP_SUBSTR(BELT_CUTTING_ANGLE, '[0-9]+') CUTTING_ANGLE, /*钢带裁断角度*/
		       TRUNCATE(MAX(CI.BELT_CRAFT1), 0) CRAFT1, /*1#钢带工艺*/
		       TRUNCATE(MAX(CI.BELT_CRAFT2), 0) CRAFT2, /*2#钢带工艺*/
		       MAX(CI.BELT_SIDE_RUBBER1) EDGE_GLUE, /*半钢边胶*/
			   SUM((IFNULL(R.CLASS3_PLAN_QTY, 0)) * IFNULL(CI.FIT_DRUM_PERIMETER, 0) / 1000) DAY_PLAN_QTY1, /*1#钢带中班计划量，换算成米*/
			   SUM((IFNULL(R.CLASS4_PLAN_QTY, 0)) * IFNULL(CI.FIT_DRUM_PERIMETER, 0) / 1000) NIGHT_PLAN_QTY1, /*1#钢带夜班计划量*/

		       IFNULL(ROUND(AVG(CI.FIT_DRUM_PERIMETER), 3), 0) UNIT_CONSUME1, /*单耗*/
		       IFNULL(CEILING(SUM(R.CLASS3_PLANNED_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS1_PLAN, /*1#钢带对应成型一班的计划量，向上取整*/
		       IFNULL(CEILING(SUM(R.CLASS2_PLAN_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS2_PLAN, /*1#钢带对应成型二班的计划量，向上取整*/
		       IFNULL(CEILING(SUM(R.CLASS3_PLAN_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS3_PLAN, /*1#钢带对应成型三班的计划量，向上取整*/
		       IFNULL(CEILING(SUM(R.CLASS4_PLAN_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS4_PLAN, /*1#钢带对应成型次一班的计划量，向上取整*/
		       IFNULL(CEILING(SUM(R.CLASS5_PLAN_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS5_PLAN, /*1#钢带对应成型次二班的计划量，向上取整*/
		       ifnull(min(R.CLASS2_SORT), 9) CLASS2_SORT,
		       ifnull(min(R.CLASS3_SORT), 9) CLASS3_SORT,
		       ifnull(min(R.CLASS4_SORT), 9) CLASS4_SORT
		  FROM T_CX_schedule_RESULT R
		  LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
		    ON R.EMBRYO_CODE = CI.EMBRYO_CODE
		   AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
		 WHERE R.schedule_DATE = #{scheduleDate}
		   AND R.DEL_FLAG = '0'
		   AND CI.DEL_FLAG = '0'
		   <if test="isProductStage">
		   /* 仅对投产阶段的规格排产 */
		   AND CI.PRODUCTION_STAGE = '0'
		   </if>
		 GROUP BY R.schedule_DATE,
		          CI.ARTICLE_CROWN_SPEC,
		          CI.BELT_CODE1,
		          CI.BELT_CODE2,
		          REGEXP_SUBSTR(BELT_CUTTING_ANGLE, '[0-9]+')
		<!-- 过滤掉成型5个班都没有对应计划量的情况 -->
		HAVING SUM((IFNULL(R.CLASS3_PLANNED_QTY, 0)
		           + IFNULL(R.CLASS2_PLAN_QTY, 0)
		           + IFNULL(R.CLASS3_PLAN_QTY, 0)
		           + IFNULL(R.CLASS4_PLAN_QTY, 0)
		           + IFNULL(R.CLASS5_PLAN_QTY, 0)) * CI.FIT_DRUM_PERIMETER) != 0
    </select>

    <!-- 获取当天的施工信息 -->
    <select id="listConstructionInfo" resultType="com.zlt.aps.common.engine.domain.EngineProductConstructionInfo">
		SELECT R.EMBRYO_CODE,
		       R.BOM_DATA_VERSION EMBRYO_VERSION,
		       CI.FIT_DRUM_PERIMETER,
		       CI.ARTICLE_CROWN_SPEC,
		       CI.BELT_CUTTING_ANGLE,
		       CI.BELT_CODE1,
		       CI.BELT_CODE2,
		       CI.ID,
		       CI.PRODUCTION_STAGE
		  FROM T_CX_SCHEDULE_RESULT R
		  LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO CI
		    ON R.EMBRYO_CODE = CI.EMBRYO_CODE
		   AND R.BOM_DATA_VERSION = CI.EMBRYO_VERSION
		   AND CI.DEL_FLAG = '0'
		 WHERE R.schedule_DATE = #{scheduleDate}
		   AND R.DEL_FLAG = '0'
    </select>

	<!-- 查询系统参数 -->
    <select id="listCd15Params" resultType="com.zlt.aps.cd15.engine.vo.Cd15ParamsVo">
        select param_code, param_value
        from T_CD15_PARAMS
        where DEL_FLAG = '0'
    </select>

    <!-- 查询当前排程的批次号 -->
    <select id="getCurrentBatchNo" parameterType="date" resultType="string">
        SELECT MAX(BATCH_NO) BATCH_NO
          FROM t_cd15_auto_schedule_record
         WHERE schedule_date = #{scheduleDate}
           AND del_flag = '0'
    </select>

    <!-- 获取插单需要的信息 -->
    <select id="listInsertOrderBaseInfo" parameterType="com.zlt.aps.cd15.api.domain.entity.Cd15ScheduleResult" resultType="com.zlt.aps.cd15.engine.vo.Cd15ScheduleResultVo">
        <foreach collection="scheduleResultList" item="schedule" separator=" union ">
	        SELECT MAX(R.CX_BATCH_NO) CX_BATCH_NO,
	               IFNULL(CI.FIT_DRUM_PERIMETER, 0) UNIT_CONSUME1 /*单耗*/,
	               CI.ARTICLE_CROWN_SPEC bigRollCode,
	               REGEXP_SUBSTR(CI.BELT_CUTTING_ANGLE, '[0-9]+') cutting_Angle,
	               CI.BELT_CODE1 steel_Strip_Code1,
	               CI.BELT_CODE2 steel_Strip_Code2,
			       TRUNCATE(MAX(CI.BELT_CRAFT1), 0) CRAFT1, /*1#钢带工艺*/
			       TRUNCATE(MAX(CI.BELT_CRAFT2), 0) CRAFT2, /*2#钢带工艺*/
		           MAX(CI.BELT_SIDE_RUBBER1) BELT_SIDE_RUBBER1, /*半钢边胶*/
                   IFNULL(CEILING(SUM(R.CLASS1_PLAN_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS1_PLAN,
                   IFNULL(CEILING(SUM(R.CLASS2_PLAN_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS2_PLAN,
                   IFNULL(CEILING(SUM(R.CLASS3_PLAN_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS3_PLAN,
                   IFNULL(CEILING(SUM(R.CLASS4_PLAN_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS4_PLAN,
                   IFNULL(CEILING(SUM(R.CLASS5_PLAN_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS5_PLAN
	          FROM T_PRODUCT_CONSTRUCTION_INFO CI
              LEFT JOIN T_CX_SCHEDULE_RESULT R
                ON R.Embryo_Code = CI.Embryo_Code
               AND R.Bom_Data_Version = CI.Embryo_Version
               AND R.Del_Flag = '0'
               AND R.Schedule_Date = #{schedule.scheduleDate}
	         WHERE CI.DEL_FLAG = '0'
	           AND CI.BELT_CODE1 = #{schedule.steelStripCode1}
	           AND CI.BELT_CODE2 = #{schedule.steelStripCode2}
	           AND (NOT EXISTS (
	           		SELECT 0
	           		  FROM T_PRODUCT_CONSTRUCTION_INFO cc
	           		 WHERE cc.BELT_CODE1 = CI.BELT_CODE1
	           		   AND cc.BELT_CODE2 = CI.BELT_CODE2
	           		   AND cc.Del_Flag = '0'
	           		   AND (IFNULL(cc.UPDATE_TIME, cc.CREATE_TIME) > IFNULL(CI.UPDATE_TIME, CI.CREATE_TIME)
		           		    OR IFNULL(cc.UPDATE_TIME, cc.CREATE_TIME) = IFNULL(CI.UPDATE_TIME, CI.CREATE_TIME)
		           		   AND cc.id > CI.id
		           		   )
	           )
	           <!-- 能关联到成型排程，则不需要过滤最新版本施工 -->
	            OR R.ID IS NOT NULL)
			 GROUP BY CI.FIT_DRUM_PERIMETER,
			          CI.ARTICLE_CROWN_SPEC,
			          CI.BELT_CUTTING_ANGLE,
			          CI.BELT_CODE1,
			          CI.BELT_CODE2
        </foreach>
    </select>

	<select id="listInsertOrderBaseInfo1" parameterType="com.zlt.aps.cd15.api.domain.entity.Cd15ScheduleResult" resultType="com.zlt.aps.cd15.engine.vo.Cd15ScheduleResultVo">
		<foreach collection="scheduleResultList" item="schedule" separator=" union ">
			SELECT MAX(R.CX_BATCH_NO) CX_BATCH_NO,
			IFNULL(CI.FIT_DRUM_PERIMETER, 0) UNIT_CONSUME1 /*单耗*/,
			CI.ARTICLE_CROWN_SPEC bigRollCode,
			REGEXP_SUBSTR(CI.BELT_CUTTING_ANGLE, '[0-9]+') cutting_Angle,
			<if test="schedule.steelStripCode1 != null and schedule.steelStripCode1 != ''">CI.BELT_CODE1 steel_Strip_Code1,</if>
			<if test="schedule.steelStripCode1 == null or schedule.steelStripCode1 == ''">NULL steel_Strip_Code2,</if>
			<if test="schedule.steelStripCode2 != null and schedule.steelStripCode2 != ''">CI.BELT_CODE2 steel_Strip_Code2,</if>
			<if test="schedule.steelStripCode2 == null or schedule.steelStripCode2 == ''">NULL steel_Strip_Code1,</if>
			TRUNCATE(MAX(CI.BELT_CRAFT1), 0) CRAFT1, /*1#钢带工艺*/
			TRUNCATE(MAX(CI.BELT_CRAFT2), 0) CRAFT2, /*2#钢带工艺*/
			MAX(CI.BELT_SIDE_RUBBER1) BELT_SIDE_RUBBER1, /*半钢边胶*/
			IFNULL(CEILING(SUM(R.CLASS1_PLAN_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS1_PLAN,
			IFNULL(CEILING(SUM(R.CLASS2_PLAN_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS2_PLAN,
			IFNULL(CEILING(SUM(R.CLASS3_PLAN_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS3_PLAN,
			IFNULL(CEILING(SUM(R.CLASS4_PLAN_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS4_PLAN,
			IFNULL(CEILING(SUM(R.CLASS5_PLAN_QTY * CI.FIT_DRUM_PERIMETER / 1000)), 0) CX_CLASS5_PLAN
			FROM T_PRODUCT_CONSTRUCTION_INFO CI
			LEFT JOIN T_CX_SCHEDULE_RESULT R
			ON R.Embryo_Code = CI.Embryo_Code
			AND R.Bom_Data_Version = CI.Embryo_Version
			AND R.Del_Flag = '0'
			AND R.Schedule_Date = #{schedule.scheduleDate}
			WHERE CI.DEL_FLAG = '0'
			<if test="schedule.steelStripCode1 != null and schedule.steelStripCode1 != ''">AND CI.BELT_CODE1 = #{schedule.steelStripCode1}</if>
			<if test="schedule.steelStripCode2 != null and schedule.steelStripCode2 != ''">AND CI.BELT_CODE2 = #{schedule.steelStripCode2}</if>
			AND (NOT EXISTS (
			SELECT 0
			FROM T_PRODUCT_CONSTRUCTION_INFO cc
			WHERE cc.BELT_CODE1 = CI.BELT_CODE1
			AND cc.BELT_CODE2 = CI.BELT_CODE2
			AND cc.Del_Flag = '0'
			AND (IFNULL(cc.UPDATE_TIME, cc.CREATE_TIME) > IFNULL(CI.UPDATE_TIME, CI.CREATE_TIME)
			OR IFNULL(cc.UPDATE_TIME, cc.CREATE_TIME) = IFNULL(CI.UPDATE_TIME, CI.CREATE_TIME)
			AND cc.id > CI.id
			)
			)
			<!-- 能关联到成型排程，则不需要过滤最新版本施工 -->
			OR R.ID IS NOT NULL)
			GROUP BY CI.FIT_DRUM_PERIMETER,
			CI.ARTICLE_CROWN_SPEC,
			CI.BELT_CUTTING_ANGLE
			<if test="schedule.steelStripCode1 != null and schedule.steelStripCode1 != ''">,CI.BELT_CODE1</if>
			<if test="schedule.steelStripCode2 != null and schedule.steelStripCode2 != ''">,CI.BELT_CODE2</if>
		</foreach>
	</select>

	<!-- 新增自动排产记录 -->
    <insert id="insertScheduleRecord" parameterType="com.zlt.aps.cd15.engine.vo.Cd15ScheduleRecordVo">
        INSERT INTO T_CD15_AUTO_SCHEDULE_RECORD (ID, CX_BATCH_NO, BATCH_NO, STATUS, schedule_DATE, CREATE_BY, CREATE_TIME, DEL_FLAG)
        VALUES (NULL, #{cxBatchNo}, #{batchNo}, #{status}, #{scheduleDate}, #{createBy}, #{createTime}, #{delFlag})
    </insert>

	<!-- 把排程数据同步到log表，用于备份历史信息 -->
    <insert id="insertCd15ScheduleLog">
        INSERT INTO T_CD15_SCHEDULE_RESULT_LOG
		  (ID,
		   SCHEDULE_DATE,
		   CX_BATCH_NO,
		   BATCH_NO,
		   ORDER_NO,
		   BIG_ROLL_CODE,
		   MACHINE_ID,
		   STEEL_STRIP_CODE1,
		   STEEL_STRIP_CODE2,
		   UNIT_CONSUME1,
		   STOCK1_QTY1,
		   STOCK1_QTY2,
		   CUTTING_ANGLE,
		   SUPPLY_TIME1,
		   DAY_PLAN_QTY1,
		   DAY_FINISH_QTY1,
		   DAY_PRODUCE_ORDER1,
		   DAY_FINISH_RATE1,
		   DAY_SYS_ANALYSIS1,
		   DAY_HAND_ANALYSIS1,
		   NIGHT_PLAN_QTY1,
		   NIGHT_FINISH_QTY1,
		   NIGHT_PRODUCE_ORDER1,
		   NIGHT_FINISH_RATE1,
		   NIGHT_SYS_ANALYSIS1,
		   NIGHT_HAND_ANALYSIS1,
		   CX_CLASS1_PLAN,
		   CX_CLASS2_PLAN,
		   CX_CLASS3_PLAN,
		   CX_CLASS4_PLAN,
		   CX_CLASS5_PLAN,
		   IS_RELEASE,
		   MARK_CLOSE_OUT_TIP,
		   PRODUCTION_STATUS,
		   PUBLISH_SUCCESS_COUNT,
		   NEWEST_PUBLISH_TIME,
		   CLOSE_OUT_SPEC_FLAG,
		   CRAFT1,
		   CRAFT2,
		   EDGE_GLUE,
		   REMARK,
		   DEL_FLAG,
		   CREATE_BY,
		   CREATE_TIME,
		   UPDATE_BY,
		   UPDATE_TIME,
		   data_source)
		  SELECT ID,
		         SCHEDULE_DATE,
		         CX_BATCH_NO,
		         BATCH_NO,
		         ORDER_NO,
		         BIG_ROLL_CODE,
		         MACHINE_ID,
		         STEEL_STRIP_CODE1,
		         STEEL_STRIP_CODE2,
		         UNIT_CONSUME1,
		         STOCK1_QTY1,
		         STOCK1_QTY2,
		         CUTTING_ANGLE,
		         SUPPLY_TIME1,
		         DAY_PLAN_QTY1,
		         DAY_FINISH_QTY1,
		         DAY_PRODUCE_ORDER1,
		         DAY_FINISH_RATE1,
		         DAY_SYS_ANALYSIS1,
		         DAY_HAND_ANALYSIS1,
		         NIGHT_PLAN_QTY1,
		         NIGHT_FINISH_QTY1,
		         NIGHT_PRODUCE_ORDER1,
		         NIGHT_FINISH_RATE1,
		         NIGHT_SYS_ANALYSIS1,
		         NIGHT_HAND_ANALYSIS1,
		         CX_CLASS1_PLAN,
		         CX_CLASS2_PLAN,
		         CX_CLASS3_PLAN,
		         CX_CLASS4_PLAN,
		         CX_CLASS5_PLAN,
		         IS_RELEASE,
		         MARK_CLOSE_OUT_TIP,
		         PRODUCTION_STATUS,
			     PUBLISH_SUCCESS_COUNT,
			     NEWEST_PUBLISH_TIME,
			     CLOSE_OUT_SPEC_FLAG,
			     CRAFT1,
			     CRAFT2,
			     EDGE_GLUE,
		         REMARK,
		         DEL_FLAG,
		         CREATE_BY,
		         CREATE_TIME,
		         UPDATE_BY,
		         UPDATE_TIME,
		         data_source
		    FROM T_CD15_SCHEDULE_RESULT
        WHERE SCHEDULE_DATE = #{scheduleDate}
    </insert>

    <!-- 逻辑删除指定日期的排程主表记录 -->
    <update id="logicDeleteCd15ScheduleRecord" parameterType="com.zlt.aps.cd15.engine.vo.Cd15ScheduleRecordVo">
        UPDATE t_cd15_auto_schedule_record
        SET DEL_FLAG  = '1',
            UPDATE_BY = #{createBy},
    	       UPDATE_TIME = #{createTime}
    	 WHERE schedule_date = #{scheduleDate}
    	   AND DEL_FLAG = '0'
    </update>

	<!-- 删除指定日期的排程结果明细 -->
    <delete id="deleteCd15ScheduleResult" parameterType="date">
        DELETE FROM T_CD15_SCHEDULE_RESULT WHERE SCHEDULE_DATE = #{scheduleDate}
    </delete>

	<!-- 批量新增排程结果数据 -->
    <insert id="insertScheduleResultList" parameterType="list">
    	INSERT INTO T_CD15_SCHEDULE_RESULT
		  (ID,
		   schedule_DATE,
		   CX_BATCH_NO,
		   BATCH_NO,
		   ORDER_NO,
		   BIG_ROLL_CODE,
		   MACHINE_ID,
		   STEEL_STRIP_CODE1,
		   STEEL_STRIP_CODE2,
		   UNIT_CONSUME1,
		   STOCK1_QTY1,
		   STOCK1_QTY2,
		   CUTTING_ANGLE,
		   SUPPLY_TIME1,
		   DAY_PLAN_QTY1,
		   DAY_FINISH_QTY1,
		   DAY_FINISH_RATE1,
		   DAY_PRODUCE_ORDER1,
		   DAY_SYS_ANALYSIS1,
		   DAY_HAND_ANALYSIS1,
		   NIGHT_PLAN_QTY1,
		   NIGHT_FINISH_QTY1,
		   NIGHT_FINISH_RATE1,
		   NIGHT_PRODUCE_ORDER1,
		   NIGHT_SYS_ANALYSIS1,
		   NIGHT_HAND_ANALYSIS1,
		   CX_CLASS1_PLAN,
		   CX_CLASS2_PLAN,
		   CX_CLASS3_PLAN,
		   CX_CLASS4_PLAN,
		   CX_CLASS5_PLAN,
		   IS_RELEASE,
		   PUBLISH_SUCCESS_COUNT,
		   NEWEST_PUBLISH_TIME,
		   MARK_CLOSE_OUT_TIP,
		   PRODUCTION_STATUS,
		   CLOSE_OUT_SPEC_FLAG,
		   DATA_SOURCE,
		   EDGE_GLUE_PLAN,
		   DEL_FLAG,
		   CRAFT1,
		   CRAFT2,
		   EDGE_GLUE,
		   REMARK,
		   CREATE_BY,
        CREATE_TIME,
        NEXT_DAY_PLAN_QTY,
        LAST_MID_PLAN_QTY1,
        LAST_MID_PLAN_QTY2)
		  values
		      <foreach collection="scheduleResultList" item="schedule" separator=",">
                  (NULL,
                   		 #{schedule.scheduleDate},
		                 #{schedule.cxBatchNo,jdbcType = VARCHAR},
		                 #{schedule.batchNo,jdbcType = VARCHAR},
		                 #{schedule.orderNo,jdbcType = VARCHAR},
		                 #{schedule.bigRollCode,jdbcType = VARCHAR},
		                 #{schedule.machineId,jdbcType = VARCHAR},
		                 #{schedule.steelStripCode1,jdbcType = VARCHAR},
		                 #{schedule.steelStripCode2,jdbcType = VARCHAR},
		                 #{schedule.unitConsume1,jdbcType = VARCHAR},
		                 #{schedule.stock1Qty1,jdbcType = DOUBLE},
		                 #{schedule.stock1Qty2,jdbcType = DOUBLE},
		                 #{schedule.cuttingAngle,jdbcType = DOUBLE},
		                 #{schedule.supplyTime1,jdbcType = DOUBLE},
		                 #{schedule.dayPlanQty1,jdbcType = DOUBLE},
		                 #{schedule.dayFinishQty1,jdbcType = DOUBLE},
		                 #{schedule.dayFinishRate1,jdbcType = DOUBLE},
		                 #{schedule.dayProduceOrder1,jdbcType = DOUBLE},
		                 #{schedule.daySysAnalysis1,jdbcType = VARCHAR},
		                 #{schedule.dayHandAnalysis1,jdbcType = VARCHAR},
		                 #{schedule.nightPlanQty1,jdbcType = DOUBLE},
		                 #{schedule.nightFinishQty1,jdbcType = DOUBLE},
		                 #{schedule.nightFinishRate1,jdbcType = DOUBLE},
		                 #{schedule.nightProduceOrder1,jdbcType = DOUBLE},
		                 #{schedule.nightSysAnalysis1,jdbcType = VARCHAR},
		                 #{schedule.nightHandAnalysis1,jdbcType = VARCHAR},
		                 #{schedule.cxClass1Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass2Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass3Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass4Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass5Plan,jdbcType = DOUBLE},
		                 #{schedule.isRelease,jdbcType = VARCHAR},
		                 #{schedule.publishSuccessCount,jdbcType = INTEGER},
		                 #{schedule.newestPublishTime,jdbcType = DATE},
		                 #{schedule.markCloseOutTip,jdbcType = VARCHAR},
		                 #{schedule.productionStatus,jdbcType = VARCHAR},
		                 #{schedule.closeOutSpecFlag,jdbcType = VARCHAR},
		                 #{schedule.dataSource,jdbcType = VARCHAR},
				  		 #{schedule.edgeGluePlan,jdbcType =DOUBLE},
		                 #{schedule.delFlag,jdbcType = VARCHAR},
		                 #{schedule.craft1,jdbcType = VARCHAR},
		                 #{schedule.craft2,jdbcType = VARCHAR},
		                 #{schedule.edgeGlue,jdbcType = VARCHAR},
		                 #{schedule.remark,jdbcType = VARCHAR},
		                 #{schedule.createBy,jdbcType = VARCHAR},
		                 #{schedule.createTime},
                  #{schedule.nextDayPlanQty,jdbcType = DOUBLE},
                  #{schedule.lastMidPlanQty1,jdbcType = DOUBLE},
                  #{schedule.lastMidPlanQty2,jdbcType = DOUBLE}
				  )
              </foreach>
    </insert>

    <!-- 批量合并排程结果表（根据唯一字段，做更新或新增） -->
    <insert id="mergeCd15ScheduleResult">
		INSERT INTO T_CD15_SCHEDULE_RESULT (
		schedule_Date, CX_BATCH_NO, batch_no, order_no, big_Roll_Code, machine_Id, steel_Strip_Code1,
		steel_Strip_Code2, unit_Consume1, supply_time1, stock1_Qty1, stock1_Qty2, cutting_Angle,
		day_Plan_Qty1, day_Produce_Order1, day_Hand_Analysis1, night_Plan_Qty1, night_Produce_Order1,
		night_Hand_Analysis1, is_release, mark_close_out_tip, remark, production_status, del_flag,
		create_by, create_time, data_source, CX_CLASS1_PLAN, CX_CLASS2_PLAN, CX_CLASS3_PLAN,
		CX_CLASS4_PLAN, CX_CLASS5_PLAN, craft1, craft2, edge_glue, NEXT_DAY_PLAN_QTY
		)
		VALUES
		<foreach collection="scheduleResultList" item="schedule" separator=",">
			(
			#{schedule.scheduleDate},
			#{schedule.cxBatchNo,jdbcType=VARCHAR},
			#{schedule.batchNo,jdbcType=VARCHAR},
			#{schedule.orderNo,jdbcType=VARCHAR},
			#{schedule.bigRollCode,jdbcType=VARCHAR},
			#{schedule.machineId,jdbcType=VARCHAR},
			#{schedule.steelStripCode1,jdbcType=VARCHAR},
			#{schedule.steelStripCode2,jdbcType=VARCHAR},
			#{schedule.unitConsume1,jdbcType=DOUBLE},
			#{schedule.supplyTime1,jdbcType=DOUBLE},
			#{schedule.stock1Qty1,jdbcType=DOUBLE},
			#{schedule.stock1Qty2,jdbcType=DOUBLE},
			#{schedule.cuttingAngle,jdbcType=DOUBLE},
			#{schedule.dayPlanQty1,jdbcType=DOUBLE},
			#{schedule.dayProduceOrder1,jdbcType=DOUBLE},
			#{schedule.dayHandAnalysis1,jdbcType=VARCHAR},
			#{schedule.nightPlanQty1,jdbcType=DOUBLE},
			#{schedule.nightProduceOrder1,jdbcType=DOUBLE},
			#{schedule.nightHandAnalysis1,jdbcType=VARCHAR},
			#{schedule.isRelease,jdbcType=VARCHAR},
			#{schedule.markCloseOutTip,jdbcType=VARCHAR},
			#{schedule.remark,jdbcType=VARCHAR},
			#{schedule.productionStatus,jdbcType=VARCHAR},
			'0',
			#{schedule.createBy,jdbcType=VARCHAR},
			NOW(),
			#{schedule.dataSource,jdbcType=VARCHAR},
			#{schedule.cxClass1Plan,jdbcType=DOUBLE},
			#{schedule.cxClass2Plan,jdbcType=DOUBLE},
			#{schedule.cxClass3Plan,jdbcType=DOUBLE},
			#{schedule.cxClass4Plan,jdbcType=DOUBLE},
			#{schedule.cxClass5Plan,jdbcType=DOUBLE},
			#{schedule.craft1,jdbcType=VARCHAR},
			#{schedule.craft2,jdbcType=VARCHAR},
			#{schedule.edgeGlue,jdbcType=VARCHAR},
            #{schedule.nextDayPlanQty,jdbcType = DOUBLE}
			)
		</foreach>
		ON DUPLICATE KEY UPDATE
		stock1_Qty1 = VALUES(stock1_Qty1),
		stock1_Qty2 = VALUES(stock1_Qty2),
		day_Plan_Qty1 = VALUES(day_Plan_Qty1),
		night_Plan_Qty1 = VALUES(night_Plan_Qty1),
		day_Hand_Analysis1 = VALUES(day_Hand_Analysis1),
		night_Hand_Analysis1 = VALUES(night_Hand_Analysis1),
		mark_Close_Out_Tip = VALUES(mark_Close_Out_Tip),
		supply_time1 = VALUES(supply_time1),
		craft1 = VALUES(craft1),
		craft2 = VALUES(craft2),
		edge_glue = VALUES(edge_glue),
		remark = VALUES(remark),
		production_status = VALUES(production_status),
		update_by = VALUES(create_by),
		update_time = NOW(),
		data_source = VALUES(data_source),
		CX_CLASS1_PLAN = VALUES(CX_CLASS1_PLAN),
		CX_CLASS2_PLAN = VALUES(CX_CLASS2_PLAN),
		CX_CLASS3_PLAN = VALUES(CX_CLASS3_PLAN),
		CX_CLASS4_PLAN = VALUES(CX_CLASS4_PLAN),
		CX_CLASS5_PLAN = VALUES(CX_CLASS5_PLAN),
		day_Produce_Order1 = VALUES(day_Produce_Order1),
		night_Produce_Order1 = VALUES(night_Produce_Order1)
	</insert>

    <!-- 批量更新15度裁断排程量 -->
    <update id="updateCd15ScheduleResultPlanQty">
        <!--MERGE INTO T_CD15_SCHEDULE_RESULT a USING (
        <foreach collection="scheduleResultList" item="schedule" separator=" union ">
            SELECT #{schedule.dayPlanQty1,jdbcType = DOUBLE} day_Plan_Qty1,
                   #{schedule.dayProduceOrder1,jdbcType = DOUBLE} day_Produce_Order1,
                   #{schedule.nightPlanQty1,jdbcType = DOUBLE} night_Plan_Qty1,
                   #{schedule.nightProduceOrder1,jdbcType = DOUBLE} night_Produce_Order1,
                   #{schedule.isRelease,jdbcType = VARCHAR} is_Release,
                   #{schedule.updateBy,jdbcType = VARCHAR} update_by,
                   #{schedule.updateTime} update_time,
				   #{schedule.id} id
              from dual
        </foreach>
        ) b ON (a.id = b.id)
        WHEN MATCHED THEN
        UPDATE SET
            a.day_Plan_Qty1 = b.day_Plan_Qty1,
            a.day_Produce_Order1 = b.day_Produce_Order1,
            a.night_Plan_Qty1 = b.night_Plan_Qty1,
            a.night_Produce_Order1 = b.night_Produce_Order1,
            a.is_Release = b.is_Release,
            a.update_by = b.update_by,
            a.update_time = b.update_time-->
		-- 执行批量更新
		UPDATE T_CD15_SCHEDULE_RESULT as result
		JOIN temp_schedule_result tempTable ON result.id = tempTable.id
		SET
		result.day_plan_qty1 = tempTable.day_plan_qty1,
		result.day_produce_order1 = tempTable.day_produce_order1,
		result.night_plan_qty1 = tempTable.night_plan_qty1,
		result.night_produce_order1 = tempTable.night_produce_order1,
		result.is_release = tempTable.is_release,
		result.update_by = tempTable.update_by,
		result.update_time = tempTable.update_time
		where result.schedule_date = STR_TO_DATE(#{scheduleDate}, '%Y-%m-%d')
    </update>

	<update id="createTempTable">
		-- 创建临时表用于批量更新
		CREATE TEMPORARY TABLE temp_schedule_result (
			id BIGINT PRIMARY KEY NOT NULL,
			day_plan_qty1 DOUBLE,
			day_produce_order1 INT,
			night_plan_qty1 DOUBLE,
			night_produce_order1 INT,
			is_release CHAR(1),
			update_by VARCHAR(25),
			update_time DATETIME
		);
	</update>

	<insert id="insertTempTable">
		INSERT INTO temp_schedule_result
		(id,
		 day_plan_qty1,
		 day_produce_order1,
		 night_plan_qty1,
		 night_produce_order1,
		 is_release,
		 update_by,
		 update_time)
		values
		<foreach collection="scheduleResultList" item="schedule" separator=",">
			(
			#{schedule.id},
			#{schedule.dayPlanQty1,jdbcType = DOUBLE},
			#{schedule.dayProduceOrder1,jdbcType = DOUBLE},
			#{schedule.nightPlanQty1,jdbcType = DOUBLE},
			#{schedule.nightProduceOrder1,jdbcType = DOUBLE},
			#{schedule.isRelease,jdbcType = VARCHAR},
			#{schedule.updateBy,jdbcType = VARCHAR},
			#{schedule.updateTime}
			)
		</foreach>
	</insert>

	<delete id="dropTempTable">
		-- 删除临时表
		DROP TEMPORARY TABLE temp_schedule_result
	</delete>

	<!-- 获取指定排产日的15度裁断的排程信息 -->
    <select id="selectCd15ScheduleList" resultType="com.zlt.aps.cd15.engine.vo.Cd15ScheduleResultVo">
        SELECT *
		  FROM T_CD15_SCHEDULE_RESULT R
		 WHERE R.DEL_FLAG = '0'
	       AND R.SCHEDULE_DATE = #{scheduleDate}
    </select>

    <!-- 查询15度裁断外协规格清单 -->
    <select id="selectCd15AssistSpecList" resultType="com.zlt.aps.cd15.api.domain.entity.Cd15AssistSpec">
        SELECT *
		  FROM T_CD15_ASSIST_SPEC R
		 WHERE R.DEL_FLAG = '0'
    </select>

	<!-- 批量新增外协排程结果数据 -->
    <insert id="insertScheduleAssistList" parameterType="list">
    	INSERT INTO T_CD15_ASSIST_SCHEDULE
		  (ID,
		   schedule_DATE,
		   CX_BATCH_NO,
		   BATCH_NO,
		   ORDER_NO,
		   BIG_ROLL_CODE,
		   MACHINE_ID,
		   STEEL_STRIP_CODE1,
		   STEEL_STRIP_CODE2,
		   UNIT_CONSUME1,
		   STOCK1_QTY1,
		   STOCK1_QTY2,
		   CUTTING_ANGLE,
		   SUPPLY_TIME1,
		   DAY_PLAN_QTY1,
		   DAY_PRODUCE_ORDER1,
		   DAY_SYS_ANALYSIS1,
		   NIGHT_PLAN_QTY1,
		   NIGHT_PRODUCE_ORDER1,
		   NIGHT_SYS_ANALYSIS1,
		   CX_CLASS1_PLAN,
		   CX_CLASS2_PLAN,
		   CX_CLASS3_PLAN,
		   CX_CLASS4_PLAN,
		   CX_CLASS5_PLAN,
		   IS_RELEASE,
		   MARK_CLOSE_OUT_TIP,
		   PRODUCTION_STATUS,
		   DEL_FLAG,
		   CREATE_BY,
		   CREATE_TIME)
		  values
              <foreach collection="scheduleAssistList" item="schedule" separator=",">
		          (NULL, #{schedule.scheduleDate},
		                 #{schedule.cxBatchNo,jdbcType = VARCHAR},
		                 #{schedule.batchNo,jdbcType = VARCHAR},
		                 #{schedule.orderNo,jdbcType = VARCHAR},
		                 #{schedule.bigRollCode,jdbcType = VARCHAR},
		                 #{schedule.machineId,jdbcType = VARCHAR},
		                 #{schedule.steelStripCode1,jdbcType = VARCHAR},
		                 #{schedule.steelStripCode2,jdbcType = VARCHAR},
		                 #{schedule.unitConsume1,jdbcType = VARCHAR},
		                 #{schedule.stock1Qty1,jdbcType = DOUBLE},
		                 #{schedule.stock1Qty2,jdbcType = DOUBLE},
		                 #{schedule.cuttingAngle,jdbcType = DOUBLE},
		                 #{schedule.supplyTime1,jdbcType = DOUBLE},
		                 #{schedule.dayPlanQty1,jdbcType = DOUBLE},
		                 #{schedule.dayProduceOrder1,jdbcType = DOUBLE},
		                 #{schedule.daySysAnalysis1,jdbcType = VARCHAR},
		                 #{schedule.nightPlanQty1,jdbcType = DOUBLE},
		                 #{schedule.nightProduceOrder1,jdbcType = DOUBLE},
		                 #{schedule.nightSysAnalysis1,jdbcType = VARCHAR},
		                 #{schedule.cxClass1Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass2Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass3Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass4Plan,jdbcType = DOUBLE},
		                 #{schedule.cxClass5Plan,jdbcType = DOUBLE},
		                 #{schedule.isRelease,jdbcType = VARCHAR},
		                 #{schedule.markCloseOutTip,jdbcType = VARCHAR},
		                 #{schedule.productionStatus,jdbcType = VARCHAR},
		                 #{schedule.delFlag,jdbcType = VARCHAR},
		                 #{schedule.createBy,jdbcType = VARCHAR},
		                 #{schedule.createTime}
				  )
              </foreach>
    </insert>

	<!-- 逻辑删除指定日期的外协排程结果数据 -->
    <delete id="deleteCd15ScheduleAssist" parameterType="date">
        UPDATE T_CD15_ASSIST_SCHEDULE SET DEL_FLAG = '1' WHERE SCHEDULE_DATE = #{scheduleDate}
    </delete>

    <update id="batchUpdateBatchNoAndOrderNo">
        UPDATE T_CD15_SCHEDULE_RESULT as a
        JOIN (
        <foreach item="item" collection="list" separator=" UNION ALL ">
            SELECT #{item.id} AS id, #{item.batchNo} as batch_no, #{item.orderNo} as order_no FROM DUAL
        </foreach>
        ) tempTable ON a.id = tempTable.id
        SET
        a.batch_no = tempTable.batch_no,
        a.order_no = tempTable.order_no
        where a.del_flag = '0'
    </update>
</mapper>
