<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd15.engine.mapper.Cd15EngineMachineRollMappingMapper">
	<!-- 查询大卷与机台的映射配置信息 -->
    <select id="selectCd15MachineRollMappingList" resultType="com.zlt.aps.cd15.engine.vo.Cd15MachineRollMappingVo">
		SELECT big_roll_code,
		       listagg(M.MACHINE_ID, ',') WITHIN GROUP (ORDER BY M.MACHINE_ID) MACHINE_ID
		  FROM T_CD15_MACHINE_ROLL_MAPPING M
		  LEFT JOIN T_CD15_MACHINE_INFO MI
		    ON MI.ID = M.MACHINE_ID
		 WHERE M.DEL_FLAG = '0'
		   AND MI.DEL_FLAG = '0'
		   AND MI.STATUS = '0'
         GROUP BY big_roll_code
    </select>

</mapper>
