<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cd15.engine.mapper.Cd15EngineMonthSurplusMapper">
	<!-- 查询月度计划统计信息 -->
    <select id="listCd15MonthPlanSurplus" parameterType="string" resultType="com.zlt.aps.cd15.engine.vo.Cd15MonthSurplusVo">
        SELECT MATERIAL_CODE,
               IFNULL(MONTH_PLAN_QTY, 0) MONTH_PLAN_QTY,
               IFNULL(MONTH_FINISH_QTY, 0) MONTH_FINISH_QTY,
               IFNULL(MONTH_REMAIN_QTY, 0) MONTH_REMAIN_QTY
          FROM T_CD15_MONTH_PLAN_SURPLUS
         WHERE DEL_FLAG = '0'
           AND YEAR = #{year}
           AND MONTH = #{month}
    </select>
</mapper>
