<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.tc.engine.mapper.TcEngineCurlRollMapper">

	<!-- 查询胎侧卷曲设置列表 -->
    <select id="getTcCurlRollList" parameterType="string" resultType="com.zlt.aps.tc.api.domain.entity.TcCurlRoll">
        select id, sidewall_code, curl_length
          from T_TC_CURL_ROLL
         where DEL_FLAG = 0
    </select>

</mapper>
