<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.mix.schedule.mapper.ScheduleImportErrorLogManagementMapper">

    <!-- 通用查询映射结果 -->
    <select id="listImportErrorLogManagement" parameterType="com.zlt.mix.schedule.api.domain.dto.ScheduleImportErrorLogManagementDto" resultType="com.zlt.mix.schedule.api.domain.dto.ScheduleImportErrorLogManagementDto">
        select *
        from T_IMPORT_ERROR_LOG
        where DEL_FLAG = 0
        and IMPORT_LOG_ID = #{importLogId}
        <if test="errorRow != null and errorRow != ''">
            and ERROR_ROW = #{errorRow}
        </if>
        <if test="errorDetail != null and errorDetail != ''">
            and error_Detail  like concat(concat('%', #{errorDetail}), '%')
        </if>
        <if test="orderStr == null">
            order by ERROR_ROW
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

</mapper>
