<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.mix.schedule.mapper.ScheduleClassesReportMapper">
	<!-- 查询日计划每日报表 -->
    <select id="selectScheduleReportList" resultType="com.zlt.mix.schedule.api.domain.dto.ScheduleClassesReportDto">
		SELECT TO_CHAR(ifnull(S.SCHEDULE_DATE, F.SCHEDULE_DATE), 'yyyy-mm-dd') SCHEDULE_DATE,
	           ifnull(S.MIX_AREA, F.MIX_AREA) MIX_AREA,
	           ifnull(S.MAJOR_TYPE, F.MAJOR_TYPE) PROCEDURE,
	           CASE WHEN S.MID_PLAN_QTY != 0 OR F.MID_FINISH_QTY != 0 THEN ifnull(S.GLUE, F.GLUE)
	             ELSE '' END MID_PLAN_SPEC,
	           CASE WHEN S.NIGHT_PLAN_QTY != 0 OR F.NIGHT_FINISH_QTY != 0 THEN ifnull(S.GLUE, F.GLUE) 
	             ELSE '' END NIGHT_PLAN_SPEC,
	           CASE WHEN S.DAY_PLAN_QTY != 0 OR F.DAY_FINISH_QTY != 0 THEN ifnull(S.GLUE, F.GLUE) 
	             ELSE '' END DAY_PLAN_SPEC,
	           ifnull(S.MID_PLAN_QTY, 0) MID_PLAN_QTY,
	           ifnull(S.NIGHT_PLAN_QTY, 0) NIGHT_PLAN_QTY,
	           ifnull(S.DAY_PLAN_QTY, 0) DAY_PLAN_QTY,
	           CASE WHEN S.MID_PLAN_QTY != 0 OR F.MID_FINISH_QTY != 0 THEN ifnull(F.GLUE, S.GLUE) 
	             ELSE '' END MID_FINISH_SPEC,
	           CASE WHEN S.NIGHT_PLAN_QTY != 0 OR F.NIGHT_FINISH_QTY != 0 THEN ifnull(F.GLUE, S.GLUE)  
	             ELSE '' END NIGHT_FINISH_SPEC,
	           CASE WHEN S.DAY_PLAN_QTY != 0 OR F.DAY_FINISH_QTY != 0 THEN ifnull(F.GLUE, S.GLUE) 
	             ELSE '' END DAY_FINISH_SPEC,
	           ifnull(F.MID_FINISH_QTY, 0) MID_FINISH_QTY,
	           ifnull(F.NIGHT_FINISH_QTY, 0) NIGHT_FINISH_QTY,
	           ifnull(F.DAY_FINISH_QTY, 0) DAY_FINISH_QTY
		  FROM (SELECT R.SCHEDULE_DATE,
		               L.MIX_AREA,
		               M.MATERIAL_NAME GLUE,
	                   SUM(IF(L.SHIFT_CLASS_ID = '1', L.PLAN_QTY, 0)) MID_PLAN_QTY,
	                   SUM(IF(L.SHIFT_CLASS_ID = '2', L.PLAN_QTY, 0)) NIGHT_PLAN_QTY,
	                   SUM(IF(L.SHIFT_CLASS_ID = '3', L.PLAN_QTY, 0)) DAY_PLAN_QTY,
		               M.MAJOR_TYPE
		          FROM T_MIX_SCHEDULE_PUBLISH_RECORD R
		         INNER JOIN T_SCHEDULE_PUBLISH_LOG L
		            ON L.RECORD_ID = R.ID
		         INNER JOIN T_MES_BAS_MATERIAL M
		            ON M.MATERIAL_CODE = L.RECIPE_MATERIAL_CODE
		           AND M.MAJOR_TYPE IN ('5', '4', '2')
				 <if test="dto.procedure != null and dto.procedure != ''">
				   AND M.MAJOR_TYPE = #{dto.procedure}
				 </if>
		         WHERE R.SCHEDULE_DATE = #{dto.queryScheduleDate}
                 <if test="dto.mixArea != null and dto.mixArea != ''">
                   AND L.MIX_AREA = #{dto.mixArea}
                 </if>
		           AND L.PUBLISH_RESULT = '1'
		           AND NOT EXISTS
		         (SELECT 0
	                      FROM T_SCHEDULE_PUBLISH_LOG LL
	                     WHERE L.PUBLISH_RESULT = LL.PUBLISH_RESULT
	                       AND L.ORDER_NO = LL.ORDER_NO
		                   <![CDATA[
		                   AND (L.CREATE_TIME < LL.CREATE_TIME OR
		                       L.CREATE_TIME = LL.CREATE_TIME AND L.ID < LL.ID))
		                   ]]>
		         GROUP BY R.SCHEDULE_DATE, L.MIX_AREA, M.MATERIAL_NAME, M.MAJOR_TYPE) S
		
		  FULL JOIN (
		             SELECT F.SCHEDULE_DATE,
		                    F.MIX_AREA,
		                    M.MAJOR_TYPE,
		                    F.GLUE,
	                        SUM(ifnull(F.MID_FINISH_QTY, 0)) MID_FINISH_QTY,
	                        SUM(ifnull(F.NIGHT_FINISH_QTY, 0)) NIGHT_FINISH_QTY,
	                        SUM(ifnull(F.DAY_FINISH_QTY, 0)) DAY_FINISH_QTY
		               FROM T_GLUE_FINISH F
		              INNER JOIN (SELECT M.MATERIAL_NAME, MAX(M.MAJOR_TYPE) MAJOR_TYPE
		                            FROM T_MES_BAS_MATERIAL M
		                           WHERE M.DEL_FLAG = '0'
		                             AND M.MAJOR_TYPE IN ('5', '4')
								 <if test="dto.procedure != null and dto.procedure != ''">
								     AND M.MAJOR_TYPE = #{dto.procedure}
								 </if>
		                           GROUP BY MATERIAL_NAME) M
		                 ON F.GLUE = M.MATERIAL_NAME
		             
		              WHERE F.SCHEDULE_DATE = #{dto.queryScheduleDate}
	                 <if test="dto.mixArea != null and dto.mixArea != ''">
	                    AND F.MIX_AREA = #{dto.mixArea}
	                 </if>
		                AND F.DEL_FLAG = '0'
		              GROUP BY F.SCHEDULE_DATE, F.MIX_AREA, F.GLUE, M.MAJOR_TYPE
		             
		             UNION
		             
		             SELECT F.SCHEDULE_DATE,
		                    F.MIX_AREA,
		                    M.MAJOR_TYPE,
		                    F.MATERIAL_NAME GLUE,
	                        SUM(ifnull(F.MID_FINISH_QTY, 0)) MID_FINISH_QTY,
	                        SUM(ifnull(F.NIGHT_FINISH_QTY, 0)) NIGHT_FINISH_QTY,
	                        SUM(ifnull(F.DAY_FINISH_QTY, 0)) DAY_FINISH_QTY
		               FROM T_LHFL_FINISH F
		              INNER JOIN (SELECT M.MATERIAL_NAME, MAX(M.MAJOR_TYPE) MAJOR_TYPE
		                            FROM T_MES_BAS_MATERIAL M
		                           WHERE M.DEL_FLAG = '0'
		                             AND M.MAJOR_TYPE IN ('2')
								 <if test="dto.procedure != null and dto.procedure != ''">
								     AND M.MAJOR_TYPE = #{dto.procedure}
								 </if>
		                           GROUP BY MATERIAL_NAME) M
		                 ON F.MATERIAL_NAME = M.MATERIAL_NAME
		              WHERE F.SCHEDULE_DATE = #{dto.queryScheduleDate}
	                 <if test="dto.mixArea != null and dto.mixArea != ''">
	                    AND F.MIX_AREA = #{dto.mixArea}
	                 </if>
		                AND F.DEL_FLAG = '0'
		              GROUP BY F.SCHEDULE_DATE,
		                       F.MIX_AREA,
		                       F.MATERIAL_NAME,
		                       M.MAJOR_TYPE
		             
		             ) F
		    ON S.SCHEDULE_DATE = F.SCHEDULE_DATE
		   AND S.MIX_AREA = F.MIX_AREA
		   AND S.GLUE = F.GLUE
		   AND S.MAJOR_TYPE = F.MAJOR_TYPE
	     WHERE (S.MID_PLAN_QTY != 0
	        OR S.NIGHT_PLAN_QTY != 0
	        OR S.DAY_PLAN_QTY != 0
	        OR F.MID_FINISH_QTY != 0
	        OR F.NIGHT_FINISH_QTY != 0
	        OR F.DAY_FINISH_QTY != 0)
		 ORDER BY SCHEDULE_DATE,
		          MIX_AREA,
		          PROCEDURE DESC,
		          CASE
			        WHEN MID_PLAN_SPEC IS NOT NULL AND MID_PLAN_SPEC IS NOT NULL 
	                  OR NIGHT_PLAN_SPEC IS NOT NULL AND NIGHT_PLAN_SPEC IS NOT NULL 
	                  OR DAY_PLAN_SPEC IS NOT NULL AND DAY_PLAN_SPEC IS NOT NULL 
	                  THEN
			             1
			        WHEN MID_PLAN_SPEC IS NOT NULL OR MID_PLAN_SPEC IS NOT NULL 
	                  OR NIGHT_PLAN_SPEC IS NOT NULL OR NIGHT_PLAN_SPEC IS NOT NULL 
	                  OR DAY_PLAN_SPEC IS NOT NULL OR DAY_PLAN_SPEC IS NOT NULL 
	                  THEN
			             2
			            ELSE
			             3
			          END,
	              MID_PLAN_SPEC,
	              NIGHT_PLAN_SPEC,
	              DAY_PLAN_SPEC,
	              MID_FINISH_SPEC,
	              NIGHT_FINISH_SPEC,
	              DAY_FINISH_SPEC
    </select>
    
	<!-- 查询日计划每日报表 -->
    <select id="getScheduleReportSummary" resultType="com.zlt.mix.schedule.api.domain.dto.ScheduleClassesReportDto">
		SELECT COUNT(DISTINCT CASE WHEN S.PLAN_QTY != 0 THEN S.GLUE ELSE NULL END) MID_PLAN_SPEC,
			   SUM(S.PLAN_QTY) MID_PLAN_QTY,
			   COUNT(DISTINCT CASE WHEN F.FINISH_QTY != 0 THEN F.GLUE ELSE NULL END) MID_FINISH_SPEC,
			   SUM(F.FINISH_QTY) MID_FINISH_QTY
		  FROM (SELECT  M.MATERIAL_NAME GLUE,
		               SUM(L.PLAN_QTY) PLAN_QTY
		          FROM T_MIX_SCHEDULE_PUBLISH_RECORD R
		         INNER JOIN T_SCHEDULE_PUBLISH_LOG L
		            ON L.RECORD_ID = R.ID
		         INNER JOIN T_MES_BAS_MATERIAL M
		            ON M.MATERIAL_CODE = L.RECIPE_MATERIAL_CODE
		           AND M.MAJOR_TYPE IN ('5', '4', '2')
				 <if test="dto.procedure != null and dto.procedure != ''">
				   AND M.MAJOR_TYPE = #{dto.procedure}
				 </if>
		         WHERE R.SCHEDULE_DATE = #{dto.queryScheduleDate}
                 <if test="dto.mixArea != null and dto.mixArea != ''">
                   AND L.MIX_AREA = #{dto.mixArea}
                 </if>
		           AND L.PUBLISH_RESULT = '1'
		           AND NOT EXISTS
		         (SELECT 0
	                      FROM T_SCHEDULE_PUBLISH_LOG LL
	                     WHERE L.PUBLISH_RESULT = LL.PUBLISH_RESULT
	                       AND L.ORDER_NO = LL.ORDER_NO
		                   <![CDATA[
		                   AND (L.CREATE_TIME < LL.CREATE_TIME OR
		                       L.CREATE_TIME = LL.CREATE_TIME AND L.ID < LL.ID))
		                   ]]>
		         GROUP BY M.MATERIAL_NAME) S
		
		  FULL JOIN (
		             SELECT F.GLUE,
                            SUM(ifnull(F.MID_FINISH_QTY, 0) + ifnull(F.NIGHT_FINISH_QTY, 0) + ifnull(F.DAY_FINISH_QTY, 0)) FINISH_QTY
		               FROM T_GLUE_FINISH F
		              INNER JOIN (SELECT M.MATERIAL_NAME, MAX(M.MAJOR_TYPE) MAJOR_TYPE
		                            FROM T_MES_BAS_MATERIAL M
		                           WHERE M.DEL_FLAG = '0'
		                             AND M.MAJOR_TYPE IN ('5', '4')
								 <if test="dto.procedure != null and dto.procedure != ''">
								     AND M.MAJOR_TYPE = #{dto.procedure}
								 </if>
		                           GROUP BY MATERIAL_NAME) M
		                 ON F.GLUE = M.MATERIAL_NAME
		             
		              WHERE F.SCHEDULE_DATE = #{dto.queryScheduleDate}
	                 <if test="dto.mixArea != null and dto.mixArea != ''">
	                    AND F.MIX_AREA = #{dto.mixArea}
	                 </if>
		                AND F.DEL_FLAG = '0'
		              GROUP BY F.GLUE
		             
		             UNION
		             
		             SELECT F.MATERIAL_NAME GLUE,
                            SUM(ifnull(F.MID_FINISH_QTY, 0) + ifnull(F.NIGHT_FINISH_QTY, 0) + ifnull(F.DAY_FINISH_QTY, 0)) FINISH_QTY
		               FROM T_LHFL_FINISH F
		              INNER JOIN (SELECT M.MATERIAL_NAME, MAX(M.MAJOR_TYPE) MAJOR_TYPE
		                            FROM T_MES_BAS_MATERIAL M
		                           WHERE M.DEL_FLAG = '0'
		                             AND M.MAJOR_TYPE IN ('2')
								 <if test="dto.procedure != null and dto.procedure != ''">
								     AND M.MAJOR_TYPE = #{dto.procedure}
								 </if>
		                           GROUP BY MATERIAL_NAME) M
		                 ON F.MATERIAL_NAME = M.MATERIAL_NAME
		              WHERE F.SCHEDULE_DATE = #{dto.queryScheduleDate}
	                 <if test="dto.mixArea != null and dto.mixArea != ''">
	                    AND F.MIX_AREA = #{dto.mixArea}
	                 </if>
		                AND F.DEL_FLAG = '0'
		              GROUP BY F.MATERIAL_NAME
		             
		             ) F
		    ON S.GLUE = F.GLUE
	     WHERE (S.PLAN_QTY != 0 OR F.FINISH_QTY != 0)
    </select>
</mapper>