<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.factory.mapper.FactoryMonthPlanProductMouldMapper">

    <select id="getProductionMouldInfo" resultType="com.zlt.aps.factory.domain.vo.MonthPlanProductMouldInfoVo">
        SELECT DISTINCT msm.FACTORY_CODE,
               msm.MATERIAL_CODE,
               msm.MATERIAL_DESC,
               msm.MOULD_CODE,
               msm.MAIN_PATTERN,
               mmi.MOULD_CODE AS BASE_MOULD_CODE,
               mmi.MOULD_TYPE,
               mmi.MOULD_STATUS,
               mmi.SHELL_STANDARD,
               mmi.LOGISTICS_STATUS,
               '01' AS RELATION_TYPE
          FROM t_mdm_sku_mould_rel msm
          LEFT JOIN t_mdm_mould_info mmi
            ON mmi.FACTORY_CODE = msm.FACTORY_CODE
           AND mmi.MOULD_CODE = msm.MOULD_CODE
           AND IFNULL(mmi.IS_DELETE, 0) = 0
         WHERE IFNULL(msm.IS_DELETE, 0) = 0
           AND msm.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND EXISTS (SELECT 1
                         FROM t_dp_demand_plan prp
                        WHERE IFNULL(prp.IS_DELETE, 0) = 0
                          AND prp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                          AND prp.YEAR = #{year,jdbcType=DECIMAL}
                          AND prp.MONTH = #{month,jdbcType=DECIMAL}
                          AND prp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                          AND msm.MATERIAL_DESC = prp.MATERIAL_DESC
                          AND msm.FACTORY_CODE = prp.FACTORY_CODE)
    </select>

    <select id="getMouldDeliveryInfo" resultType="com.zlt.aps.factory.domain.vo.MonthPlanProductMouldInfoVo">
        SELECT DISTINCT mdp.FACTORY_CODE,
               mdp.MATERIAL_CODE,
               mdp.MATERIAL_DESC,
               mdp.MOULD_CODE,
               '' AS MAIN_PATTERN,
               mdp.MOULD_CODE AS BASE_MOULD_CODE,
               '' AS MOULD_TYPE,
               1 AS MOULD_STATUS,
               '-99' AS SHELL_STANDARD,
               1 AS LOGISTICS_STATUS,
               '02' AS RELATION_TYPE
          FROM t_mdm_mould_delivery_plan mdp
         WHERE IFNULL(mdp.IS_DELETE, 0) = 0
           AND mdp.BOARDING_DATE >= #{productionStartDate,jdbcType=DATE}
           AND mdp.BOARDING_DATE  &lt;= #{productionEndDate,jdbcType=DATE}
           AND EXISTS (SELECT 1
                         FROM t_dp_demand_plan prp
                        WHERE IFNULL(prp.IS_DELETE, 0) = 0
                          AND prp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                          AND prp.YEAR = #{year,jdbcType=DECIMAL}
                          AND prp.MONTH = #{month,jdbcType=DECIMAL}
                          AND prp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                          AND mdp.MATERIAL_DESC = prp.MATERIAL_DESC
                          AND mdp.FACTORY_CODE = prp.FACTORY_CODE)
    </select>

    <select id="getEnableProductionMouldInfoByNetDemand" resultType="com.zlt.aps.monthplan.api.domain.vo.MoldCavityInsertMaxValueCalculatorVo">
        SELECT msm.FACTORY_CODE,
               msm.MATERIAL_CODE,
               msm.MATERIAL_DESC,
               msm.MOULD_CODE,
               msm.MAIN_PATTERN,
               null AS BOARDING_DATE,
               mmi.MOULD_CODE AS BASE_MOULD_CODE,
               mmi.MOULD_TYPE,
               mmi.MOULD_STATUS,
               mmi.SHELL_STANDARD,
               mmi.LOGISTICS_STATUS,
               '01' AS RELATION_TYPE
          FROM t_mdm_sku_mould_rel msm
          LEFT JOIN t_mdm_mould_info mmi
            ON mmi.FACTORY_CODE = msm.FACTORY_CODE
           AND mmi.MOULD_CODE = msm.MOULD_CODE
           AND IFNULL(mmi.IS_DELETE, 0) = 0
         WHERE IFNULL(msm.IS_DELETE, 0) = 0
           AND msm.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mmi.MOULD_CODE IS NOT NULL
           AND EXISTS (SELECT 1
                         FROM T_DP_DEMAND_PLAN mpi
                        WHERE IFNULL(mpi.IS_DELETE, 0) = 0
                          AND mpi.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                          AND mpi.YEAR = #{year,jdbcType=DECIMAL}
                          AND mpi.MONTH = #{month,jdbcType=DECIMAL}
                          AND mpi.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                          AND msm.MATERIAL_DESC = mpi.MATERIAL_DESC
                          AND msm.FACTORY_CODE = mpi.FACTORY_CODE)
    </select>

    <select id="getEnableMouldDeliveryInfoByNetDemand" resultType="com.zlt.aps.monthplan.api.domain.vo.MoldCavityInsertMaxValueCalculatorVo">
        SELECT mdp.FACTORY_CODE,
               mdp.MATERIAL_CODE,
               mdp.MATERIAL_DESC,
               mdp.MOULD_CODE,
               mdp.BOARDING_DATE,
               '' AS MAIN_PATTERN,
               mdp.MOULD_CODE AS BASE_MOULD_CODE,
               '' AS MOULD_TYPE,
               1 AS MOULD_STATUS,
               '-99' AS SHELL_STANDARD,
               1 AS LOGISTICS_STATUS,
               '02' AS RELATION_TYPE
        FROM t_mdm_mould_delivery_plan mdp
        WHERE IFNULL(mdp.IS_DELETE, 0) = 0
          AND mdp.BOARDING_DATE >= #{productionStartDate,jdbcType=DATE}
          AND mdp.BOARDING_DATE  &lt;= #{productionEndDate,jdbcType=DATE}
          AND EXISTS (SELECT 1
                      FROM  T_DP_DEMAND_PLAN mpi
                      WHERE IFNULL(mpi.IS_DELETE, 0) = 0
                        AND mpi.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                        AND mpi.YEAR = #{year,jdbcType=DECIMAL}
                        AND mpi.MONTH = #{month,jdbcType=DECIMAL}
                        AND mpi.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                        AND mdp.MATERIAL_DESC = mpi.MATERIAL_DESC
                        AND mdp.FACTORY_CODE = mpi.FACTORY_CODE)
    </select>


    <select id="getEnableProductionMouldInfo" resultType="com.zlt.aps.factory.domain.vo.MonthPlanProductMouldInfoVo">
        SELECT msm.FACTORY_CODE,
               msm.MATERIAL_CODE,
               msm.MATERIAL_DESC,
               msm.MOULD_CODE,
               msm.MAIN_PATTERN,
               null AS BOARDING_DATE,
               mmi.MOULD_CODE AS BASE_MOULD_CODE,
               mmi.MOULD_TYPE,
               mmi.MOULD_STATUS,
               mmi.SHELL_STANDARD,
               mmi.LOGISTICS_STATUS,
               '01' AS RELATION_TYPE
        FROM t_mdm_sku_mould_rel msm
                 LEFT JOIN t_mdm_mould_info mmi
                           ON mmi.FACTORY_CODE = msm.FACTORY_CODE
                               AND mmi.MOULD_CODE = msm.MOULD_CODE
                               AND IFNULL(mmi.IS_DELETE, 0) = 0
        WHERE IFNULL(msm.IS_DELETE, 0) = 0
          AND msm.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
          AND mmi.MOULD_CODE IS NOT NULL
          AND EXISTS (SELECT 1
                      FROM t_mp_proc_month_plan_init mpi
                      WHERE IFNULL(mpi.IS_DELETE, 0) = 0
                        AND mpi.IS_PRODUCTION = '1'
                        AND mpi.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                        AND mpi.YEAR = #{year,jdbcType=DECIMAL}
                        AND mpi.MONTH = #{month,jdbcType=DECIMAL}
                        AND mpi.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                        AND mpi.PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR}
                        AND msm.MATERIAL_DESC = mpi.MATERIAL_DESC
                        AND msm.FACTORY_CODE = mpi.FACTORY_CODE)
    </select>

    <select id="getEnableMouldDeliveryInfo" resultType="com.zlt.aps.factory.domain.vo.MonthPlanProductMouldInfoVo">
        SELECT mdp.FACTORY_CODE,
               mdp.MATERIAL_CODE,
               mdp.MATERIAL_DESC,
               mdp.MOULD_CODE,
               mdp.BOARDING_DATE,
               '' AS MAIN_PATTERN,
               mdp.MOULD_CODE AS BASE_MOULD_CODE,
               '' AS MOULD_TYPE,
               1 AS MOULD_STATUS,
               '-99' AS SHELL_STANDARD,
               1 AS LOGISTICS_STATUS,
               '02' AS RELATION_TYPE
          FROM t_mdm_mould_delivery_plan mdp
         WHERE IFNULL(mdp.IS_DELETE, 0) = 0
           AND mdp.BOARDING_DATE >= #{productionStartDate,jdbcType=DATE}
           AND mdp.BOARDING_DATE  &lt;= #{productionEndDate,jdbcType=DATE}
           AND EXISTS (SELECT 1
                         FROM t_mp_proc_month_plan_init mpi
                        WHERE IFNULL(mpi.IS_DELETE, 0) = 0
                          AND mpi.IS_PRODUCTION = '1'
                          AND mpi.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                          AND mpi.YEAR = #{year,jdbcType=DECIMAL}
                          AND mpi.MONTH = #{month,jdbcType=DECIMAL}
                          AND mpi.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
                          AND mpi.PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR}
                          AND mdp.MATERIAL_DESC = mpi.MATERIAL_DESC
                          AND mdp.FACTORY_CODE = mpi.FACTORY_CODE)
    </select>

    <select id="getMouldShellInfo" resultType="com.zlt.aps.factory.domain.vo.MouldShellBaseInfoVo">
        SELECT FACTORY_CODE,
               MOULD_SET_CODE,
               MACHINE_QTY,
               ON_HAND_QTY
          FROM t_mdm_mould_shell_info
         WHERE IFNULL(IS_DELETE, 0) = 0
           AND FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
    </select>

    <select id="getMouldAllocationInfo" resultType="com.zlt.aps.factory.domain.vo.MouldAllocationInfoVo">
        SELECT mma.FACTORY_CODE,
               mma.MAIN_PATTERN,
               mma.PATTERN,
               mma.STRUCTURE_NAME,
               mma.SPECIFICATIONS,
               mma.ALLOCATION_QTY
          FROM t_mdm_mould_allocation mma
         WHERE IFNULL(mma.IS_DELETE, 0) = 0
           AND mma.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mma.YEAR = #{year,jdbcType=DECIMAL}
           AND mma.MONTH = #{month,jdbcType=DECIMAL}
    </select>
</mapper>
