<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.factory.mapper.FactoryMonthPlanProductLhCapacityMapper">

    <select id="getProductionLhCapacityInfo" resultType="com.zlt.aps.factory.domain.vo.MonthPlanProductLhCapacityVo">
        SELECT DISTINCT prp.FACTORY_CODE,
               prp.MATERIAL_CODE,
               prp.MATERIAL_DESC,
               msc.MES_CAPACITY,
               msc.STANDARD_CAPACITY,
               msc.APS_CAPACITY,
               msc.VULCANIZATION_TIME
          FROM t_mp_product_require_plan prp
          LEFT JOIN t_mdm_sku_lh_capacity msc
            ON msc.FACTORY_CODE = prp.FACTORY_CODE
           AND msc.MATERIAL_DESC = prp.MATERIAL_DESC
           AND IFNULL(msc.IS_DELETE, 0) = 0
         WHERE IFNULL(prp.IS_DELETE, 0) = 0
           AND prp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND prp.YEAR = #{year,jdbcType=DECIMAL}
           AND prp.MONTH = #{month,jdbcType=DECIMAL}
           AND prp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
    </select>


</mapper>
