<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.factory.mapper.FactoryNoProductionRecordMapper">

    <delete id="deletedNoProductionRecord">
        DELETE FROM t_mp_proc_no_production_record
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
    </delete>
</mapper>