<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.factory.mapper.FactoryMatchingProductionMapper">
    <select id="getMatchingConfiguration" resultType="com.zlt.aps.factory.domain.vo.MatchingProductionConfigurationVo">
        SELECT mfmp.PRODUCT_CODE,
               mfmp.FACTORY_CODE,
               mpi.PRODUCT_DESC,
               mpi.PRO_SIZE,
               mpi.PRODUCT_TYPE_CODE,
               mpi.PRODUCT_TYPE_NAME,
               mpi.SPECIFICATIONS,
               mpi.PATTERN,
               mpi.BRAND,
               mpi.HIERARCHY,
               mpi.COMMON_TYPE
          FROM t_mdm_factory_matching_production mfmp
          LEFT JOIN t_mdm_product_info mpi
            ON mfmp.PRODUCT_CODE = mpi.PRODUCT_CODE
           AND mfmp.FACTORY_CODE = mpi.FACTORY_CODE
         WHERE IFNULL(mfmp.IS_DELETE, 0) = 0
           AND mfmp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mfmp.YEAR = #{year,jdbcType=DECIMAL}
           AND mfmp.MONTH = #{month,jdbcType=DECIMAL}
           AND NOT EXISTS (
               SELECT 1
                 FROM t_mp_product_require_plan prp
                WHERE prp.PRODUCT_CODE = mfmp.PRODUCT_CODE
                  AND prp.FACTORY_CODE = mfmp.FACTORY_CODE
                  AND IFNULL(prp.IS_DELETE, 0) = 0
                  AND prp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                  AND prp.YEAR = #{year,jdbcType=DECIMAL}
                  AND prp.MONTH = #{month,jdbcType=DECIMAL}
                  AND prp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
               )
    </select>

    <select id="getConstructionByMatchingRequire" resultType="com.zlt.aps.monthplan.api.domain.entity.MdmProductConstruction">
        SELECT DISTINCT mfmp.FACTORY_CODE,
               mfmp.PRODUCT_CODE,
               mpc.CONSTRUCTION_CODE,
               mpc.SPEC_CODE,
               mpc.EMBRYO_CODE,
               mpc.MOULD_METHOD,
               mpc.CURING_TIME,
               mpc.CURING_TIME2,
               mpc.MOLD_CAVITY,
               mpc.MOULD_CLAMPING_PRESSURE
          FROM t_mdm_factory_matching_production mfmp
          LEFT JOIN t_mdm_product_construction mpc
            ON mpc.FACTORY_CODE = mfmp.FACTORY_CODE
           AND mpc.PRODUCT_CODE = mfmp.PRODUCT_CODE
           AND IFNULL(mpc.IS_DELETE, 0) = 0
        WHERE IFNULL(mfmp.IS_DELETE, 0) = 0
          AND mfmp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
          AND mfmp.YEAR = #{year,jdbcType=DECIMAL}
          AND mfmp.MONTH = #{month,jdbcType=DECIMAL}
          AND NOT EXISTS (
              SELECT 1
                FROM t_mp_product_require_plan prp
               WHERE prp.PRODUCT_CODE = mfmp.PRODUCT_CODE
                 AND prp.FACTORY_CODE = mfmp.FACTORY_CODE
                 AND IFNULL(prp.IS_DELETE, 0) = 0
                 AND prp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                 AND prp.YEAR = #{year,jdbcType=DECIMAL}
                 AND prp.MONTH = #{month,jdbcType=DECIMAL}
                 AND prp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
          )
    </select>

    <select id="getMouldMaintenanceConfigurationByMatchingRequireDateRange" resultType="com.zlt.aps.factory.domain.vo.MouldMaintenanceConfigurationVo">
        SELECT DISTINCT mdmp.FACTORY_CODE,
               mdmp.YEAR,
               mdmp.MONTH,
               mdmp.MACHINE_CODE AS MOULD_CODE,
               mdmp.BEGIN_DATE,
               mdmp.END_DAY,
               mmi.MOULD_NO,
               mmi.MOULD_AIR_TYPE
          FROM t_mdm_device_maintenance_plan mdmp
         INNER JOIN t_mdm_model_info mmi
            ON mmi.MOULD_CODE = mdmp.MACHINE_CODE
           AND mmi.FACTORY_CODE = mdmp.FACTORY_CODE
         INNER JOIN t_mdm_product_model_relation pmr
            ON pmr.MOULD_CODE = mdmp.MACHINE_CODE
           AND pmr.FACTORY_CODE = mdmp.FACTORY_CODE
         INNER JOIN t_mdm_factory_matching_production mfmp
            ON mfmp.PRODUCT_CODE = pmr.PRODUCT_CODE
           AND IFNULL(mfmp.IS_DELETE, 0) = 0
           AND mfmp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mfmp.YEAR = #{year,jdbcType=DECIMAL}
           AND mfmp.MONTH = #{month,jdbcType=DECIMAL}
         WHERE IFNULL(mdmp.IS_DELETE, 0) = 0
           AND mdmp.MACHINE_TYPE = 2
           AND mdmp.PLAN_TYPE = 0
           AND mdmp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mdmp.BEGIN_DATE >= #{startDate,jdbcType=DATE}
           AND mdmp.END_DAY &lt;= #{endDate,jdbcType=DATE}
           AND NOT EXISTS (
               SELECT 1
                 FROM t_mp_product_require_plan prp
                WHERE prp.PRODUCT_CODE = mfmp.PRODUCT_CODE
                  AND prp.FACTORY_CODE = mfmp.FACTORY_CODE
                  AND IFNULL(prp.IS_DELETE, 0) = 0
                  AND prp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                  AND prp.YEAR = #{year,jdbcType=DECIMAL}
                  AND prp.MONTH = #{month,jdbcType=DECIMAL}
                  AND prp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
               )
    </select>

    <select id="getMonthEnableMouldConfigurationByMatchingRequire" resultType="com.zlt.aps.factory.domain.vo.MouldInfoVO">
        SELECT DISTINCT mus.FACTORY_CODE,
               mus.YEAR,
               mus.MONTH,
               mus.MOULD_CODE,
               mus.MOULD_TYPE,
               mmi.MOULD_NO,
               mmi.MOULD_AIR_TYPE
          FROM t_mdm_mould_use_status mus
         INNER JOIN t_mdm_model_info mmi
            ON mmi.MOULD_CODE = mus.MOULD_CODE
           AND mmi.FACTORY_CODE = mus.FACTORY_CODE
         INNER JOIN t_mdm_product_model_relation pmr
            ON pmr.MOULD_CODE = mus.MOULD_CODE
           AND pmr.FACTORY_CODE = mus.FACTORY_CODE
         INNER JOIN t_mdm_factory_matching_production mfmp
            ON mfmp.PRODUCT_CODE = pmr.PRODUCT_CODE
           AND IFNULL(mfmp.IS_DELETE, 0) = 0
           AND mfmp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mfmp.YEAR = #{year,jdbcType=DECIMAL}
           AND mfmp.MONTH = #{month,jdbcType=DECIMAL}
        WHERE mus.MOULD_STATUS = 1
          AND mus.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
          AND mus.YEAR = #{year,jdbcType=DECIMAL}
          AND mus.MONTH = #{month,jdbcType=DECIMAL}
          AND NOT EXISTS (
              SELECT 1
                FROM t_mp_product_require_plan prp
               WHERE prp.PRODUCT_CODE = mfmp.PRODUCT_CODE
                 AND prp.FACTORY_CODE = mfmp.FACTORY_CODE
                 AND IFNULL(prp.IS_DELETE, 0) = 0
                 AND prp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                 AND prp.YEAR = #{year,jdbcType=DECIMAL}
                 AND prp.MONTH = #{month,jdbcType=DECIMAL}
                 AND prp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
              )
    </select>

    <select id="getProductionMouldRelationByMatchingRequire" resultType="com.zlt.aps.factory.domain.vo.ProductMouldConfigurationVo">
        SELECT DISTINCT mfmp.FACTORY_CODE,
               mfmp.PRODUCT_CODE,
               pmr.MOULD_CODE,
               pmr.SPEC_CODE
          FROM t_mdm_product_model_relation pmr
         INNER JOIN t_mdm_factory_matching_production mfmp
            ON mfmp.PRODUCT_CODE = pmr.PRODUCT_CODE
           AND mfmp.FACTORY_CODE = pmr.FACTORY_CODE
           AND IFNULL(mfmp.IS_DELETE, 0) = 0
           AND mfmp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND mfmp.YEAR = #{year,jdbcType=DECIMAL}
           AND mfmp.MONTH = #{month,jdbcType=DECIMAL}
         INNER JOIN t_mdm_model_info mmi
            ON mmi.MOULD_CODE = pmr.MOULD_CODE
           AND mmi.FACTORY_CODE = mfmp.FACTORY_CODE
           AND NOT EXISTS (
               SELECT 1
                 FROM t_mp_product_require_plan prp
                WHERE prp.PRODUCT_CODE = mfmp.PRODUCT_CODE
                  AND prp.FACTORY_CODE = mfmp.FACTORY_CODE
                  AND IFNULL(prp.IS_DELETE, 0) = 0
                  AND prp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
                  AND prp.YEAR = #{year,jdbcType=DECIMAL}
                  AND prp.MONTH = #{month,jdbcType=DECIMAL}
                  AND prp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
               )
    </select>
</mapper>