<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.api.domain.entity">

    <select id="getMdmProductStock" resultType="com.zlt.aps.factory.domain.vo.SpecialMaterialStockVo">
        SELECT sms.MATERIAL_CODE,
               sms.MATERIAL_DESC,
               sms.STANDARD_LENGTH,
               sms.STOCK
          FROM T_MDM_PRODUCT_STOCK sms
         WHERE IFNULL(sms.IS_DELETE, 0) = 0
           AND sms.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
    </select>

</mapper>
