<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.factory.mapper.FactoryProductionSchedulingMapper">

    <select id="getFactoryNoProductionConfiguration" resultType="com.zlt.aps.monthplan.api.domain.entity.FactoryNoProduction">
        SELECT FACTORY_CODE,
               YEAR,
               MONTH,
               PRODUCT_CODE
          FROM t_mdm_factory_no_production
         WHERE IFNULL(IS_DELETE, 0) = 0
           AND FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
    </select>

    <delete id="deleteProductionInitVersion">
        DELETE FROM t_mp_proc_month_plan_init
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
    </delete>

    <delete id="deleteProductionMouldVersion">
        DELETE FROM t_mp_proc_no_production_plan
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_moulding_day_result
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_mould_day_detail_log
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_mould_lh_log
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_structure_allocation
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
        DELETE FROM t_mp_mould_use_status_log
         WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
    </delete>

    <select id="getVulcanizationMachineCount" resultType="java.lang.Integer">
        SELECT count(1) AS count
          FROM T_LH_MACHINE_INFO tlmi
         WHERE IFNULL(tlmi.IS_DELETE, 0) = 0
           AND tlmi.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
    </select>

    <select id="getFormingMachineCount" resultType="java.lang.Integer">
        SELECT count(1) AS count
          FROM t_mdm_molding_machine tmmm
         WHERE IFNULL(tmmm.IS_DELETE, 0) = 0
           AND tmmm.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
    </select>

</mapper>
