<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.factory.mapper.FactoryMonthPlanProductLhCapacityMapper">

    <select id="getProductionLhCapacityInfo" resultType="com.zlt.aps.factory.domain.vo.MonthPlanProductLhCapacityVo">
        SELECT DISTINCT prp.FACTORY_CODE,
               prp.MATERIAL_CODE,
               prp.MATERIAL_DESC,
               msc.MES_CAPACITY,
               msc.STANDARD_CAPACITY,
               msc.APS_CAPACITY,
               msc.VULCANIZATION_TIME
          FROM t_dp_demand_plan prp
          LEFT JOIN t_mdm_sku_lh_capacity msc
            ON msc.FACTORY_CODE = prp.FACTORY_CODE
           AND msc.MATERIAL_DESC = prp.MATERIAL_DESC
           AND IFNULL(msc.IS_DELETE, 0) = 0
         WHERE IFNULL(prp.IS_DELETE, 0) = 0
           AND prp.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND prp.YEAR = #{year,jdbcType=DECIMAL}
           AND prp.MONTH = #{month,jdbcType=DECIMAL}
           AND prp.MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
    </select>

    <select id="getStructureLhRatioInfo" resultType="com.zlt.aps.factory.domain.vo.MonthPlanStructureLhRatioVo">
        SELECT STRUCTURE_NAME,
               CX_MACHINE_BRAND_CODE,
               LH_MACHINE_MAX_QTY,
               MAX_EMBRYO_QTY,
          FROM t_mdm_structure_lh_ratio
         WHERE IFNULL(IS_DELETE, 0) = 0
           AND FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND STRUCTURE_NAME IN
        <foreach item="structureName" collection="structureNameList" open="(" separator="," close=")">
            #{structureName,jdbcType=VARCHAR}
        </foreach>
    </select>

    <select id="getCycleStructureMinLhRatioInfo" resultType="com.zlt.aps.factory.domain.vo.CycleStructureMinLhMachineQtyVo">
        SELECT csc.FACTORY_CODE,
               csc.STRUCTURE_NAME,
               csc.MIN_VULCANIZING_MACHINE AS MIN_LH_MACHINE_QTY,
               msc.MIN_VULCANIZING_MACHINE AS MONTH_MIN_LH_MACHINE_QTY
          FROM t_dp_cycle_struct_config csc
          LEFT JOIN t_dp_month_cycle_struct_config msc
            ON msc.FACTORY_CODE = csc.FACTORY_CODE
           AND msc.STRUCTURE_NAME = csc.STRUCTURE_NAME
           AND IFNULL(msc.IS_DELETE, 0) = 0
         WHERE IFNULL(csc.IS_DELETE, 0) = 0
           AND csc.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
           AND csc.YEAR = #{year,jdbcType=DECIMAL}
           AND csc.MONTH = #{month,jdbcType=DECIMAL}
    </select>

</mapper>
