<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.mapper.ConstructionInfoMapper">

    <select id="listConstructionInfo" parameterType="com.zlt.aps.cx.api.domain.dto.ConstructionInfoDto"
            resultType="com.zlt.aps.cx.api.domain.dto.ConstructionInfoDto">
        select *
        from T_CONSTRUCTION_VERSION_INFO
        where DEL_FLAG = 0
        <if test="embryoCode != null and embryoCode != ''">
            and INSTR(EMBRYO_CODE, #{embryoCode}) > 0
        </if>
        <if test="dimension != null">
            and INSTR(DIMENSION, #{dimension}) > 0
        </if>
        <if test="specDesc != null and specDesc != ''">
            and instr(SPEC_DESC, #{specDesc}) > 0
        </if>
        <if test="embryoVersion != null and embryoVersion != ''">
            and INSTR(embryo_Version, #{embryoVersion}) > 0
        </if>
        <if test="productionStage != null  and productionStage != ''">
            AND PRODUCTION_STAGE = #{productionStage}
         </if>
        <!-- 半部件代号查询条件，modify by 20220104 -->
        <choose>
        	<when test='halfPartsQueryType == "1" and halfPartsQueryCode != null and halfPartsQueryCode != ""'>
        	<!-- 胎面 -->
            AND INSTR(TREAD_CODE, #{halfPartsQueryCode}) > 0
            </when>
        	<when test='halfPartsQueryType == "2" and halfPartsQueryCode != null and halfPartsQueryCode != ""'>
        	<!-- 胎侧 -->
            AND INSTR(SIDEWALL_CODE, #{halfPartsQueryCode}) > 0
            </when>
        	<when test='halfPartsQueryType == "3" and halfPartsQueryCode != null and halfPartsQueryCode != ""'>
        	<!-- 内衬 -->
            AND INSTR(INSIDE_CODE, #{halfPartsQueryCode}) > 0
            </when>
        	<when test='halfPartsQueryType == "4" and halfPartsQueryCode != null and halfPartsQueryCode != ""'>
        	<!-- 胎圈 -->
            AND INSTR(TIRE_RING_CODE, #{halfPartsQueryCode}) > 0
            </when>
        	<when test='halfPartsQueryType == "5" and halfPartsQueryCode != null and halfPartsQueryCode != ""'>
        	<!-- 三角胶代码 -->
            AND INSTR(APEX_CODE, #{halfPartsQueryCode}) > 0
            </when>
        	<when test='halfPartsQueryType == "6" and halfPartsQueryCode != null and halfPartsQueryCode != ""'>
        	<!-- 钢丝圈 -->
            AND INSTR(BEAD_CODE, #{halfPartsQueryCode}) > 0
            </when>
        	<when test='halfPartsQueryType == "7" and halfPartsQueryCode != null and halfPartsQueryCode != ""'>
        	<!-- 钢带代号 -->
            AND (INSTR(BELT_CODE1, #{halfPartsQueryCode}) > 0
             OR INSTR(BELT_CODE2, #{halfPartsQueryCode}) > 0
            )
            </when>
        	<when test='halfPartsQueryType == "8" and halfPartsQueryCode != null and halfPartsQueryCode != ""'>
        	<!-- 胎体布代号 -->
            AND (INSTR(TIRE_FABRIC_CODE1, #{halfPartsQueryCode}) > 0
             OR INSTR(TIRE_FABRIC_CODE2, #{halfPartsQueryCode}) > 0
             OR INSTR(TIRE_FABRIC_CODE3, #{halfPartsQueryCode}) > 0
            )
            </when>
        	<when test='halfPartsQueryType == "9" and halfPartsQueryCode != null and halfPartsQueryCode != ""'>
        	<!-- 钢压大卷规格 -->
            AND INSTR(ARTICLE_CROWN_SPEC, #{halfPartsQueryCode}) > 0
            </when>
        	<when test='halfPartsQueryType == "10" and halfPartsQueryCode != null and halfPartsQueryCode != ""'>
        	<!-- 帘线大卷代码 -->
            AND INSTR(CORD_SPEC, #{halfPartsQueryCode}) > 0
            </when>
            <otherwise>
        	<!-- 传入其他类型的不需要额外过滤数据 -->
            </otherwise>
        </choose>
        order by create_time desc
    </select>

    <update id="mergeSql" parameterType="list">
        merge into T_CONSTRUCTION_VERSION_INFO a USING (
        <foreach collection="list" item="ITEM" separator=" union ">
            select
            #{ITEM.embryoCode                      ,jdbcType=VARCHAR} embryo_code,
            #{ITEM.dimension                       ,jdbcType=DECIMAL} dimension,
            #{ITEM.specDesc                        ,jdbcType=VARCHAR} spec_desc,
            #{ITEM.noseWidth                       ,jdbcType=DECIMAL} nose_width,
            #{ITEM.flipDiscDiameter                ,jdbcType=DECIMAL} flip_disc_diameter,
            #{ITEM.fitDrumPerimeter                ,jdbcType=DECIMAL} fit_drum_perimeter,
            #{ITEM.chuckDiameter                   ,jdbcType=DECIMAL} chuck_diameter,
            #{ITEM.stretchWidth                    ,jdbcType=DECIMAL} stretch_width,
            #{ITEM.qualitativeWidth                ,jdbcType=DECIMAL} qualitative_width,
            #{ITEM.embryoCircle                    ,jdbcType=DECIMAL} embryo_circle,
            #{ITEM.tireFabricCode1                 ,jdbcType=VARCHAR} tire_fabric_code1,
            #{ITEM.tireFabricCraft1                ,jdbcType=VARCHAR} tire_fabric_craft1,
            #{ITEM.tireFabricCode2                 ,jdbcType=VARCHAR} tire_fabric_code2,
            #{ITEM.tireFabricCraft2                ,jdbcType=VARCHAR} tire_fabric_craft2,
            #{ITEM.tireFabricCode3                 ,jdbcType=VARCHAR} tire_fabric_code3,
            #{ITEM.tireFabricCraft3                ,jdbcType=VARCHAR} tire_fabric_craft3,
            #{ITEM.cordSpec                        ,jdbcType=VARCHAR} cord_spec,
            #{ITEM.reinforceSealGlue               ,jdbcType=VARCHAR} reinforce_seal_glue,
            #{ITEM.insideRubber                    ,jdbcType=VARCHAR} inside_rubber,
            #{ITEM.insideCode                      ,jdbcType=VARCHAR} inside_code,
            #{ITEM.insideCraft                     ,jdbcType=DECIMAL} inside_craft,
            #{ITEM.sidewallCode                    ,jdbcType=VARCHAR} sidewall_code,
            #{ITEM.sidewallCraft                   ,jdbcType=DECIMAL} sidewall_craft,
            #{ITEM.sidewallMouthPlate              ,jdbcType=VARCHAR} sidewall_mouth_plate,
            #{ITEM.sidewallCenter                  ,jdbcType=VARCHAR} sidewall_center,
            #{ITEM.sidewallLength                  ,jdbcType=DECIMAL} sidewall_length,
            #{ITEM.sidewallRubber                  ,jdbcType=VARCHAR} sidewall_rubber,
            #{ITEM.sidewallWeight                  ,jdbcType=VARCHAR} sidewall_weight,
            #{ITEM.sidewallWearpRubberWeight       ,jdbcType=VARCHAR} sidewall_wearp_rubber_weight,
            #{ITEM.supportCode                     ,jdbcType=VARCHAR} support_code,
            #{ITEM.supportRubberCode               ,jdbcType=VARCHAR} support_rubber_code,
            #{ITEM.supportLength                   ,jdbcType=DECIMAL} support_length,
            #{ITEM.beadCode                        ,jdbcType=VARCHAR} bead_code,
            #{ITEM.beadArrange                     ,jdbcType=VARCHAR} bead_arrange,
            #{ITEM.beadType                        ,jdbcType=VARCHAR} bead_type,
            #{ITEM.tireRingCode                    ,jdbcType=VARCHAR} tire_ring_code,
            #{ITEM.apexCode                        ,jdbcType=VARCHAR} apex_code,
            #{ITEM.hexagonRubberCode               ,jdbcType=VARCHAR} hexagon_rubber_code,
            #{ITEM.hexagonMouthPlate               ,jdbcType=VARCHAR} hexagon_mouth_plate,
            #{ITEM.hexagonRubberDimension          ,jdbcType=VARCHAR} hexagon_rubber_dimension,
            #{ITEM.apexWeight                      ,jdbcType=DECIMAL} apex_weight,
            #{ITEM.beltCode1                       ,jdbcType=VARCHAR} belt_code1,
            #{ITEM.beltCraft1                      ,jdbcType=DECIMAL} belt_craft1,
            #{ITEM.beltSideRubber1                 ,jdbcType=VARCHAR} belt_side_rubber1,
            #{ITEM.beltRubber1                     ,jdbcType=VARCHAR} belt_rubber1,
            #{ITEM.beltCode2                       ,jdbcType=VARCHAR} belt_code2,
            #{ITEM.beltCraft2                      ,jdbcType=DECIMAL} belt_craft2,
            #{ITEM.beltSideRubber2                 ,jdbcType=VARCHAR} belt_side_rubber2,
            #{ITEM.beltRubber2                     ,jdbcType=VARCHAR} belt_rubber2,
            #{ITEM.beltCuttingAngle                ,jdbcType=VARCHAR} belt_cutting_angle,
            #{ITEM.articleCrownSpec                ,jdbcType=VARCHAR} article_crown_spec,
            #{ITEM.articleCrownCode                ,jdbcType=VARCHAR} article_crown_code,
            #{ITEM.treadCode                       ,jdbcType=VARCHAR} tread_code,
            #{ITEM.treadShoulderWidth              ,jdbcType=VARCHAR} tread_shoulder_width,
            #{ITEM.treadShoulderJWidth             ,jdbcType=VARCHAR} TREAD_SHOULDER_JWIDTH,
            #{ITEM.treadShoulderLength             ,jdbcType=VARCHAR} tread_shoulder_length,
            #{ITEM.treadRubberCategory             ,jdbcType=VARCHAR} tread_rubber_category,
            #{ITEM.tireCrownUpWidthWeight          ,jdbcType=DECIMAL} tire_crown_up_width_weight,
            #{ITEM.tireCrownDownWidthWeight        ,jdbcType=DECIMAL} tire_crown_down_width_weight,
            #{ITEM.tireWingWidthWeight             ,jdbcType=DECIMAL} tire_wing_width_weight,
            #{ITEM.primerWeight                    ,jdbcType=DECIMAL} primer_weight,
            #{ITEM.conductingResinWeight           ,jdbcType=DECIMAL} conducting_resin_weight,
            #{ITEM.treadMouthPlate                 ,jdbcType=VARCHAR} tread_mouth_plate,
            #{ITEM.sectionWidth                    ,jdbcType=DECIMAL} section_width,
            #{ITEM.embryoVersion                   ,jdbcType=VARCHAR} embryo_Version,

            #{ITEM.createBy,jdbcType=VARCHAR} create_by,
            #{ITEM.createTime,jdbcType=DATE} create_time,
            #{ITEM.updateBy,jdbcType=VARCHAR} update_by,
            #{ITEM.updateTime,jdbcType=DATE} update_time,
            #{ITEM.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON ( b.embryo_code = a.embryo_code and  a.embryo_Version = b.embryo_Version AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE SET
        a.dimension = b.dimension ,
        a.spec_desc = b.spec_desc ,
        a.nose_width = b.nose_width ,
        a.flip_disc_diameter = b.flip_disc_diameter ,
        a.fit_drum_perimeter = b.fit_drum_perimeter ,
        a.chuck_diameter = b.chuck_diameter ,
        a.stretch_width = b.stretch_width ,
        a.qualitative_width = b.qualitative_width ,
        a.embryo_circle = b.embryo_circle ,
        a.tire_fabric_code1 = b.tire_fabric_code1 ,
        a.tire_fabric_craft1 = b.tire_fabric_craft1 ,
        a.tire_fabric_code2 = b.tire_fabric_code2 ,
        a.tire_fabric_craft2 = b.tire_fabric_craft2 ,
        a.tire_fabric_code3 = b.tire_fabric_code3 ,
        a.tire_fabric_craft3 = b.tire_fabric_craft3 ,
        a.cord_spec = b.cord_spec ,
        a.reinforce_seal_glue = b.reinforce_seal_glue ,
        a.inside_rubber = b.inside_rubber ,
        a.inside_code = b.inside_code ,
        a.inside_craft = b.inside_craft ,
        a.sidewall_code = b.sidewall_code ,
        a.sidewall_craft = b.sidewall_craft ,
        a.sidewall_mouth_plate = b.sidewall_mouth_plate ,
        a.sidewall_center = b.sidewall_center ,
        a.sidewall_length = b.sidewall_length ,
        a.sidewall_rubber = b.sidewall_rubber ,
        a.sidewall_weight = b.sidewall_weight ,
        a.sidewall_wearp_rubber_weight = b.sidewall_wearp_rubber_weight ,
        a.support_code = b.support_code ,
        a.support_rubber_code = b.support_rubber_code ,
        a.support_length = b.support_length ,
        a.bead_code = b.bead_code ,
        a.bead_arrange = b.bead_arrange ,
        a.bead_type = b.bead_type ,
        a.tire_ring_code = b.tire_ring_code ,
        a.apex_code = b.apex_code ,
        a.hexagon_rubber_code = b.hexagon_rubber_code ,
        a.hexagon_mouth_plate = b.hexagon_mouth_plate ,
        a.hexagon_rubber_dimension = b.hexagon_rubber_dimension ,
        a.apex_weight = b.apex_weight ,
        a.belt_code1 = b.belt_code1 ,
        a.belt_craft1 = b.belt_craft1 ,
        a.belt_side_rubber1 = b.belt_side_rubber1 ,
        a.belt_rubber1 = b.belt_rubber1 ,
        a.belt_code2 = b.belt_code2 ,
        a.belt_craft2 = b.belt_craft2 ,
        a.belt_side_rubber2 = b.belt_side_rubber2 ,
        a.belt_rubber2 = b.belt_rubber2 ,
        a.belt_cutting_angle = b.belt_cutting_angle ,
        a.article_crown_spec = b.article_crown_spec ,
        a.article_crown_code = b.article_crown_code ,
        a.tread_code = b.tread_code ,
        a.tread_shoulder_width = b.tread_shoulder_width ,
        a.TREAD_SHOULDER_JWIDTH = b.TREAD_SHOULDER_JWIDTH,
        a.tread_shoulder_length = b.tread_shoulder_length ,
        a.tread_rubber_category = b.tread_rubber_category ,
        a.tire_crown_up_width_weight = b.tire_crown_up_width_weight ,
        a.tire_crown_down_width_weight = b.tire_crown_down_width_weight ,
        a.tire_wing_width_weight = b.tire_wing_width_weight ,
        a.primer_weight = b.primer_weight ,
        a.conducting_resin_weight = b.conducting_resin_weight ,
        a.tread_mouth_plate = b.tread_mouth_plate ,
        a.section_width = b.section_width ,

        a.update_by = b.create_by,
        a.update_time = sysdate,
        a.remark = b.remark
        WHEN NOT MATCHED THEN
        INSERT (
        a.id,
        a.embryo_code,
        a.dimension,
        a.spec_desc,
        a.nose_width,
        a.flip_disc_diameter,
        a.fit_drum_perimeter,
        a.chuck_diameter,
        a.stretch_width,
        a.qualitative_width,
        a.embryo_circle,
        a.tire_fabric_code1,
        a.tire_fabric_craft1,
        a.tire_fabric_code2,
        a.tire_fabric_craft2,
        a.tire_fabric_code3,
        a.tire_fabric_craft3,
        a.cord_spec,
        a.reinforce_seal_glue,
        a.inside_rubber,
        a.inside_code,
        a.inside_craft,
        a.sidewall_code,
        a.sidewall_craft,
        a.sidewall_mouth_plate,
        a.sidewall_center,
        a.sidewall_length,
        a.sidewall_rubber,
        a.sidewall_weight,
        a.sidewall_wearp_rubber_weight,
        a.support_code,
        a.support_rubber_code,
        a.support_length,
        a.bead_code,
        a.bead_arrange,
        a.bead_type,
        a.tire_ring_code,
        a.apex_code,
        a.hexagon_rubber_code,
        a.hexagon_mouth_plate,
        a.hexagon_rubber_dimension,
        a.apex_weight,
        a.belt_code1,
        a.belt_craft1,
        a.belt_side_rubber1,
        a.belt_rubber1,
        a.belt_code2,
        a.belt_craft2,
        a.belt_side_rubber2,
        a.belt_rubber2,
        a.belt_cutting_angle,
        a.article_crown_spec,
        a.article_crown_code,
        a.tread_code,
        a.tread_shoulder_width,
        a.TREAD_SHOULDER_JWIDTH,
        a.tread_shoulder_length,
        a.tread_rubber_category,
        a.tire_crown_up_width_weight,
        a.tire_crown_down_width_weight,
        a.tire_wing_width_weight,
        a.primer_weight,
        a.conducting_resin_weight,
        a.tread_mouth_plate,
        a.section_width,
        a.embryo_Version,

        a.create_by,
        a.create_time,
        a.remark,
        a.del_flag
        ) values(
        SEQ_CONSTRUCTION_INFO.NEXTVAL,
        b.embryo_code,
        b.dimension,
        b.spec_desc,
        b.nose_width,
        b.flip_disc_diameter,
        b.fit_drum_perimeter,
        b.chuck_diameter,
        b.stretch_width,
        b.qualitative_width,
        b.embryo_circle,
        b.tire_fabric_code1,
        b.tire_fabric_craft1,
        b.tire_fabric_code2,
        b.tire_fabric_craft2,
        b.tire_fabric_code3,
        b.tire_fabric_craft3,
        b.cord_spec,
        b.reinforce_seal_glue,
        b.inside_rubber,
        b.inside_code,
        b.inside_craft,
        b.sidewall_code,
        b.sidewall_craft,
        b.sidewall_mouth_plate,
        b.sidewall_center,
        b.sidewall_length,
        b.sidewall_rubber,
        b.sidewall_weight,
        b.sidewall_wearp_rubber_weight,
        b.support_code,
        b.support_rubber_code,
        b.support_length,
        b.bead_code,
        b.bead_arrange,
        b.bead_type,
        b.tire_ring_code,
        b.apex_code,
        b.hexagon_rubber_code,
        b.hexagon_mouth_plate,
        b.hexagon_rubber_dimension,
        b.apex_weight,
        b.belt_code1,
        b.belt_craft1,
        b.belt_side_rubber1,
        b.belt_rubber1,
        b.belt_code2,
        b.belt_craft2,
        b.belt_side_rubber2,
        b.belt_rubber2,
        b.belt_cutting_angle,
        b.article_crown_spec,
        b.article_crown_code,
        b.tread_code,
        b.tread_shoulder_width,
        b.TREAD_SHOULDER_JWIDTH,
        b.tread_shoulder_length,
        b.tread_rubber_category,
        b.tire_crown_up_width_weight,
        b.tire_crown_down_width_weight,
        b.tire_wing_width_weight,
        b.primer_weight,
        b.conducting_resin_weight,
        b.tread_mouth_plate,
        b.section_width,
        b.embryo_Version,

        b.create_by,
        sysdate,
        b.remark,
        '0')
    </update>


</mapper>
