<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.mapper.CxCheckConstructionMapper">

    <resultMap type="com.zlt.aps.cx.api.domain.entity.CxCheckConstruction" id="CxCheckConstructionResult">
        <result property="id" column="id"/>
        <result property="planMonth" column="plan_month"/>
        <result property="isComplete" column="IS_COMPLETE"/>
        <result property="fileName" column="FILE_NAME"/>
        <result property="filePath" column="FILE_PATH"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectCxCheckConstructionVo">
        select id, plan_month, is_complete, file_name, file_path, remark, del_flag, create_by, create_time, update_by, update_time from T_CONSTRUCTION_CHECK
    </sql>

    <select id="selectCxCheckConstructionList" parameterType="com.zlt.aps.cx.api.domain.entity.CxCheckConstruction"
            resultMap="CxCheckConstructionResult">
        <include refid="selectCxCheckConstructionVo"/>
        where del_flag = '0'
        <if test="planMonth != null ">and PLAN_MONTH = #{planMonth,jdbcType=DATE}</if>
        <if test="orderStr == null">
            order by create_time desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <insert id="insertCxCheckConstruction" parameterType="com.zlt.aps.cx.api.domain.entity.CxCheckConstruction">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT seq_t_construction_check.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into T_CONSTRUCTION_CHECK
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="planMonth != null">plan_month,</if>
            <if test="isComplete != null">is_complete,</if>
            <if test="fileName != null">file_name,</if>
            <if test="filePath != null">file_path,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="planMonth != null">#{planMonth},</if>
            <if test="isComplete != null">#{isComplete},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

	<!-- 查询待检查的施工列表，抓取指定年月的月度计划关联的施工信息 -->
	<select id="listCheckConstructionInfo" resultType="com.zlt.aps.cx.api.domain.entity.CxProductConstructionInfo">
		SELECT DISTINCT C.ID,
		                C.SAP_CODE,
		                P.EMBRYO_CODE,
		                P.BOM_DATA_VERSION EMBRYO_VERSION,
		                C.SPEC_DESC,
		                C.NOSE_WIDTH,
		                C.FLIP_DISC_DIAMETER,
		                C.TREAD_CODE,
		                C.TREAD_SAP,
		                C.TREAD_VERSION,
		                C.TREAD_RUBBER_CATEGORY,
		                C.TREAD_MOUTH_PLATE,
		                C.TREAD_SHOULDER_LENGTH,
		                C.SIDEWALL_CODE,
		                C.SIDEWALL_SAP,
		                C.SIDEWALL_VERSION,
		                C.SIDEWALL_RUBBER,
		                C.SIDEWALL_MOUTH_PLATE,
		                C.SIDEWALL_LENGTH,
		                C.INSIDE_CODE,
		                C.INSIDE_SAP,
		                C.INSIDE_VERSION,
		                C.INSIDE_RUBBER,
		                C.TIRE_RING_CODE,
		                C.TIRE_RING_SAP,
		                C.TIRE_RING_VERSION,
		                C.APEX_CODE,
		                C.HEXAGON_RUBBER_CODE,
		                C.HEXAGON_MOUTH_PLATE,
		                C.BEAD_CODE,
		                C.BEAD_SAP,
		                C.BEAD_VERSION,
		                C.BEAD_TYPE,
		                C.BEAD_ARRANGE,
		                C.FIT_DRUM_PERIMETER,
		                C.BELT_CUTTING_ANGLE,
		                C.BELT_CODE1,
		                C.BELT_SAP1,
		                C.BELT1_VERSION,
		                C.BELT_CRAFT1,
		                C.BELT_CODE2,
		                C.BELT_SAP2,
		                C.BELT2_VERSION,
		                C.BELT_CRAFT2,
		                C.ARTICLE_CROWN_SPEC,
		                C.ARTICLE_CROWN_SAP,
		                C.ARTICLE_CROWN_VERSION,
		                C.TIRE_FABRIC_CODE1,
		                C.TIRE_FABRIC_SAP1,
		                C.TIRE_FABRIC1_VERSION,
		                C.TIRE_FABRIC_CRAFT1,
		                C.TIRE_FABRIC_CODE2,
		                C.TIRE_FABRIC_SAP2,
		                C.TIRE_FABRIC2_VERSION,
		                C.TIRE_FABRIC_CRAFT2,
		                C.TIRE_FABRIC_CODE3,
		                C.TIRE_FABRIC_SAP3,
		                C.TIRE_FABRIC3_VERSION,
		                C.TIRE_FABRIC_CRAFT3,
		                C.CORD_SPEC,
		                C.CORD_SAP,
		                C.CORD_VERSION,
		                C.ORIGINAL_LINE_CODE,
		                C.DEL_FLAG,
		                C.DIMENSION,
		                C.SECTION_WIDTH,
		                C.HEXAGON_RUBBER_DIMENSION,
		                C.PRODUCTION_STAGE,
		                C.REINFORCE_SEAL_GLUE
		  FROM T_MDM_MONTH_PLAN_MAIN M
		 INNER JOIN T_MDM_MONTH_PROD_PLAN P
		    ON M.MONTH_PLAN_APS_VERSION = P.MONTH_PLAN_APS_VERSION
		   AND P.EMBRYO_CODE IS NOT NULL
		   AND P.BOM_DATA_VERSION IS NOT NULL
		  LEFT JOIN T_PRODUCT_CONSTRUCTION_INFO C
		    ON C.EMBRYO_CODE = P.EMBRYO_CODE
		   AND C.EMBRYO_VERSION = P.BOM_DATA_VERSION
		   AND C.Del_Flag = '0'
		 WHERE M.YEAR = #{year}
		   AND M.MONTH = #{month}
		   AND M.IS_FINALIZED = '0'
		   AND M.DEL_FLAG = '0'
	</select>
	
	<!-- 查询待检查的施工信息 -->
	<select id="getCheckConstructionInfo" resultType="com.zlt.aps.cx.api.domain.entity.CxProductConstructionInfo">
		SELECT DISTINCT C.ID,
		                C.SAP_CODE,
		                C.EMBRYO_CODE,
		                C.EMBRYO_VERSION,
		                C.SPEC_DESC,
		                C.NOSE_WIDTH,
		                C.FLIP_DISC_DIAMETER,
		                C.TREAD_CODE,
		                C.TREAD_SAP,
		                C.TREAD_VERSION,
		                C.TREAD_RUBBER_CATEGORY,
		                C.TREAD_MOUTH_PLATE,
		                C.TREAD_SHOULDER_LENGTH,
		                C.SIDEWALL_CODE,
		                C.SIDEWALL_SAP,
		                C.SIDEWALL_VERSION,
		                C.SIDEWALL_RUBBER,
		                C.SIDEWALL_MOUTH_PLATE,
		                C.SIDEWALL_LENGTH,
		                C.INSIDE_CODE,
		                C.INSIDE_SAP,
		                C.INSIDE_VERSION,
		                C.INSIDE_RUBBER,
		                C.TIRE_RING_CODE,
		                C.TIRE_RING_SAP,
		                C.TIRE_RING_VERSION,
		                C.APEX_CODE,
		                C.HEXAGON_RUBBER_CODE,
		                C.HEXAGON_MOUTH_PLATE,
		                C.BEAD_CODE,
		                C.BEAD_SAP,
		                C.BEAD_VERSION,
		                C.BEAD_TYPE,
		                C.BEAD_ARRANGE,
		                C.FIT_DRUM_PERIMETER,
		                C.BELT_CUTTING_ANGLE,
		                C.BELT_CODE1,
		                C.BELT_SAP1,
		                C.BELT1_VERSION,
		                C.BELT_CRAFT1,
		                C.BELT_CODE2,
		                C.BELT_SAP2,
		                C.BELT2_VERSION,
		                C.BELT_CRAFT2,
		                C.ARTICLE_CROWN_SPEC,
		                C.ARTICLE_CROWN_SAP,
		                C.ARTICLE_CROWN_VERSION,
		                C.TIRE_FABRIC_CODE1,
		                C.TIRE_FABRIC_SAP1,
		                C.TIRE_FABRIC1_VERSION,
		                C.TIRE_FABRIC_CRAFT1,
		                C.TIRE_FABRIC_CODE2,
		                C.TIRE_FABRIC_SAP2,
		                C.TIRE_FABRIC2_VERSION,
		                C.TIRE_FABRIC_CRAFT2,
		                C.TIRE_FABRIC_CODE3,
		                C.TIRE_FABRIC_SAP3,
		                C.TIRE_FABRIC3_VERSION,
		                C.TIRE_FABRIC_CRAFT3,
		                C.CORD_SPEC,
		                C.CORD_SAP,
		                C.CORD_VERSION,
		                C.ORIGINAL_LINE_CODE,
		                C.DEL_FLAG,
		                C.DIMENSION,
		                C.SECTION_WIDTH,
		                C.HEXAGON_RUBBER_DIMENSION,
		                C.PRODUCTION_STAGE,
		                C.REINFORCE_SEAL_GLUE
		  FROM T_PRODUCT_CONSTRUCTION_INFO C
		 WHERE C.EMBRYO_CODE = #{embryoCode}
		   AND C.EMBRYO_VERSION = #{bomVersion}
		   AND C.Del_Flag = '0'
		 ORDER BY C.ID DESC
	</select>
</mapper>