<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.mapper.CxDispatcherLogMapper">

    <resultMap type="com.zlt.aps.cx.api.domain.entity.CxDispatcherLog" id="CxDispatcherLogResult">
        <result property="id" column="id"/>
        <result property="operType" column="oper_type"/>
        <result property="scheduleDate" column="schedule_date"/>
        <result property="sapCode" column="sap_code"/>
        <result property="embryoCode" column="embryo_code"/>
        <result property="embryoVersion" column="embryo_version"/>
        <result property="beforeCxMachineCode" column="before_cx_machine_code"/>
        <result property="beforeLhMachineCode" column="before_lh_machine_code"/>
        <result property="beforeClass1Plan" column="before_class1_plan"/>
        <result property="beforeClass2Plan" column="before_class2_plan"/>
        <result property="beforeClass3Plan" column="before_class3_plan"/>
        <result property="beforeClass4Plan" column="before_class4_plan"/>
        <result property="beforeClass5Plan" column="before_class5_plan"/>
        <result property="afterCxMachineCode" column="after_cx_machine_code"/>
        <result property="afterLhMachineCode" column="after_lh_machine_code"/>
        <result property="afterClass1Plan" column="after_class1_plan"/>
        <result property="afterClass2Plan" column="after_class2_plan"/>
        <result property="afterClass3Plan" column="after_class3_plan"/>
        <result property="afterClass4Plan" column="after_class4_plan"/>
        <result property="afterClass5Plan" column="after_class5_plan"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectCxDispatcherLogVo">
        select id, oper_type, schedule_date, SAP_CODE, EMBRYO_CODE, EMBRYO_VERSION, before_cx_machine_code, before_lh_machine_code, before_class1_plan, before_class2_plan, before_class3_plan, before_class4_plan, before_class5_plan, after_cx_machine_code,
               after_lh_machine_code, after_class1_plan, after_class2_plan, after_class3_plan, after_class4_plan, after_class5_plan, remark, del_flag, create_by, create_time, update_by, update_time from t_cx_dispatcher_log
    </sql>

    <select id="selectCxDispatcherLogList" parameterType="com.zlt.aps.cx.api.domain.entity.CxDispatcherLog"
            resultMap="CxDispatcherLogResult">
        <include refid="selectCxDispatcherLogVo"/>
        where del_flag = '0'
        <if test="operType != null  and operType != ''">and oper_type = #{operType}</if>
        <if test="scheduleDate != null ">and schedule_date = #{scheduleDate,jdbcType=DATE}</if>
        <if test="createBy != null and createBy != ''">
            and INSTR(create_by, #{createBy}) > 0
        </if>
        <if test="startTime != null and startTime !='' ">
            and create_time  <![CDATA[  >=  ]]> to_date(#{startTime},'yyyy-MM-dd')
        </if>
        <if test="endTime != null and endTime !='' ">
            and create_time  <![CDATA[   <=  ]]> to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="orderStr == null">
            order by create_time desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>

    </select>

    <select id="selectCxDispatcherLogById" parameterType="Long" resultMap="CxDispatcherLogResult">
        <include refid="selectCxDispatcherLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertCxDispatcherLog" parameterType="com.zlt.aps.cx.api.domain.entity.CxDispatcherLog">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT seq_t_cx_dispatcher_log.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into t_cx_dispatcher_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="scheduleId != null">schedule_id,</if>
            <if test="operType != null">oper_type,</if>
            <if test="scheduleDate != null">schedule_date,</if>
            <if test="sapCode != null">sap_code,</if>
            <if test="embryoCode != null">embryo_code,</if>
            <if test="embryoVersion != null">embryo_version,</if>
            <if test="beforeCxMachineCode != null">before_cx_machine_code,</if>
            <if test="beforeLhMachineCode != null">before_lh_machine_code,</if>
            <if test="beforeClass1Plan != null">before_class1_plan,</if>
            <if test="beforeClass2Plan != null">before_class2_plan,</if>
            <if test="beforeClass3Plan != null">before_class3_plan,</if>
            <if test="beforeClass4Plan != null">before_class4_plan,</if>
            <if test="beforeClass5Plan != null">before_class5_plan,</if>
            <if test="afterCxMachineCode != null">after_cx_machine_code,</if>
            <if test="afterLhMachineCode != null">after_lh_machine_code,</if>
            <if test="afterClass1Plan != null">after_class1_plan,</if>
            <if test="afterClass2Plan != null">after_class2_plan,</if>
            <if test="afterClass3Plan != null">after_class3_plan,</if>
            <if test="afterClass4Plan != null">after_class4_plan,</if>
            <if test="afterClass5Plan != null">after_class5_plan,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="scheduleId != null">#{scheduleId},</if>
            <if test="operType != null">#{operType},</if>
            <if test="scheduleDate != null">#{scheduleDate},</if>
            <if test="sapCode != null">#{sapCode},</if>
            <if test="embryoCode != null">#{embryoCode},</if>
            <if test="embryoVersion != null">#{embryoVersion},</if>
            <if test="beforeCxMachineCode != null">#{beforeCxMachineCode},</if>
            <if test="beforeLhMachineCode != null">#{beforeLhMachineCode},</if>
            <if test="beforeClass1Plan != null">#{beforeClass1Plan},</if>
            <if test="beforeClass2Plan != null">#{beforeClass2Plan},</if>
            <if test="beforeClass3Plan != null">#{beforeClass3Plan},</if>
            <if test="beforeClass4Plan != null">#{beforeClass4Plan},</if>
            <if test="beforeClass5Plan != null">#{beforeClass5Plan},</if>
            <if test="afterCxMachineCode != null">#{afterCxMachineCode},</if>
            <if test="afterLhMachineCode != null">#{afterLhMachineCode},</if>
            <if test="afterClass1Plan != null">#{afterClass1Plan},</if>
            <if test="afterClass2Plan != null">#{afterClass2Plan},</if>
            <if test="afterClass3Plan != null">#{afterClass3Plan},</if>
            <if test="afterClass4Plan != null">#{afterClass4Plan},</if>
            <if test="afterClass5Plan != null">#{afterClass5Plan},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <delete id="deleteCxDispatcherLogById" parameterType="Long">
        update t_cx_dispatcher_log set del_flag='1' where id = #{id}
    </delete>

    <delete id="deleteCxDispatcherLogByIds" parameterType="String">
        update t_cx_dispatcher_log set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>