<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.mapper.CxEstimateExceedShortMapper">

    <resultMap type="com.zlt.aps.cx.api.domain.entity.CxEstimateExceedShort" id="CxEstimateExceedShortResult">
        <result property="id" column="id"/>
        <result property="year" column="year"/>
        <result property="month" column="month"/>
        <result property="companyCode" column="company_code"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="productCode" column="product_code"/>
        <result property="lv" column="lv"/>
        <result property="levelCode" column="level_code"/>
        <result property="storTypeDesc" column="stor_type_desc"/>
        <result property="storType" column="stor_type"/>
        <result property="expectedExcessArrears" column="expected_excess_arrears"/>
        <result property="productName" column="product_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectCxEstimateExceedShortVo">
        select id, year, month, company_code, factory_code, product_code, lv, level_code, stor_type_desc, stor_type, expected_excess_arrears, product_name, create_by, create_time, update_by, update_time, del_flag, remark from t_estimate_exceed_short
    </sql>

    <select id="selectCxEstimateExceedShortList" parameterType="com.zlt.aps.cx.api.domain.entity.CxEstimateExceedShort"
            resultMap="CxEstimateExceedShortResult">
        <include refid="selectCxEstimateExceedShortVo"/>
        where del_flag = '0'
        <if test="year != null ">and year = #{year}</if>
        <if test="month != null ">and month = #{month}</if>
        <if test="companyCode != null  and companyCode != ''">and company_code = #{companyCode}</if>
        <if test="factoryCode != null  and factoryCode != ''">and factory_code = #{factoryCode}</if>
        <if test="productCode != null  and productCode != ''">and product_code = #{productCode}</if>
        <if test="lv != null  and lv != ''">and lv = #{lv}</if>
        <if test="levelCode != null  and levelCode != ''">and level_code = #{levelCode}</if>
        <if test="storTypeDesc != null  and storTypeDesc != ''">and stor_type_desc = #{storTypeDesc}</if>
        <if test="storType != null  and storType != ''">and stor_type = #{storType}</if>
        <if test="expectedExcessArrears != null ">and expected_excess_arrears = #{expectedExcessArrears}</if>
        <if test="productName != null  and productName != ''">and product_name like concat(concat('%', #{productName}),
            '%')
        </if>
    </select>

    <select id="selectCxEstimateExceedShortById" parameterType="Long" resultMap="CxEstimateExceedShortResult">
        <include refid="selectCxEstimateExceedShortVo"/>
        where id = #{id}
    </select>

    <insert id="insertCxEstimateExceedShort" parameterType="com.zlt.aps.cx.api.domain.entity.CxEstimateExceedShort">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT SEQ_t_estimate_exceed_short.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into t_estimate_exceed_short
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="year != null">year,</if>
            <if test="month != null">month,</if>
            <if test="companyCode != null">company_code,</if>
            <if test="factoryCode != null">factory_code,</if>
            <if test="productCode != null">product_code,</if>
            <if test="lv != null">lv,</if>
            <if test="levelCode != null">level_code,</if>
            <if test="storTypeDesc != null">stor_type_desc,</if>
            <if test="storType != null">stor_type,</if>
            <if test="expectedExcessArrears != null">expected_excess_arrears,</if>
            <if test="productName != null">product_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="year != null">#{year},</if>
            <if test="month != null">#{month},</if>
            <if test="companyCode != null">#{companyCode},</if>
            <if test="factoryCode != null">#{factoryCode},</if>
            <if test="productCode != null">#{productCode},</if>
            <if test="lv != null">#{lv},</if>
            <if test="levelCode != null">#{levelCode},</if>
            <if test="storTypeDesc != null">#{storTypeDesc},</if>
            <if test="storType != null">#{storType},</if>
            <if test="expectedExcessArrears != null">#{expectedExcessArrears},</if>
            <if test="productName != null">#{productName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateCxEstimateExceedShort" parameterType="com.zlt.aps.cx.api.domain.entity.CxEstimateExceedShort">
        update t_estimate_exceed_short
        <trim prefix="SET" suffixOverrides=",">
            <if test="year != null">year = #{year},</if>
            <if test="month != null">month = #{month},</if>
            <if test="companyCode != null">company_code = #{companyCode},</if>
            <if test="factoryCode != null">factory_code = #{factoryCode},</if>
            <if test="productCode != null">product_code = #{productCode},</if>
            <if test="lv != null">lv = #{lv},</if>
            <if test="levelCode != null">level_code = #{levelCode},</if>
            <if test="storTypeDesc != null">stor_type_desc = #{storTypeDesc},</if>
            <if test="storType != null">stor_type = #{storType},</if>
            <if test="expectedExcessArrears != null">expected_excess_arrears = #{expectedExcessArrears},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCxEstimateExceedShortById" parameterType="Long">
        update t_estimate_exceed_short set del_flag='1' where id = #{id}
    </delete>

    <delete id="deleteCxEstimateExceedShortByIds" parameterType="String">
        update t_estimate_exceed_short set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByMonth" parameterType="com.zlt.aps.cx.api.domain.entity.CxEstimateExceedShort">
        update t_estimate_exceed_short set del_flag='1'
        where del_flag = '0' and year = #{year} and month = #{month}
    </delete>

</mapper>