<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.mapper.CxMatchingSpecifyMachineMapper">

    <resultMap type="com.zlt.aps.cx.api.domain.entity.CxMatchingSpecifyMachine" id="TSpecifyMachineResult">
        <result property="id" column="id"/>
        <result property="projectDesc" column="project_desc"/>
        <result property="sap" column="sap"/>
        <result property="specDesc" column="spec_desc"/>
        <result property="embryoCode" column="embryo_code"/>
        <result property="lineType" column="line_type"/>
        <result property="jobType" column="job_type"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <resultMap id="TSpecifyMachineTSpecifyMachineListResult" type="com.zlt.aps.cx.api.domain.entity.CxMatchingSpecifyMachine"
               extends="TSpecifyMachineResult">
        <collection property="tSpecifyMachineListList" notNullColumn="sub_id" javaType="java.util.List"
                    resultMap="TSpecifyMachineListResult"/>
    </resultMap>

    <resultMap type="com.zlt.aps.cx.api.domain.entity.CxMatchingSpecifyMachineList" id="TSpecifyMachineListResult">
        <result property="id" column="sub_id"/>
        <result property="specifyMachineId" column="sub_specify_machine_id"/>
        <result property="procedureCode" column="sub_procedure_code"/>
        <result property="machineId" column="sub_machine_id"/>
        <result property="machineCode" column="sub_machine_code"/>
        <result property="createBy" column="sub_create_by"/>
        <result property="createTime" column="sub_create_time"/>
        <result property="updateBy" column="sub_update_by"/>
        <result property="updateTime" column="sub_update_time"/>
        <result property="delFlag" column="sub_del_flag"/>
        <result property="remark" column="sub_remark"/>
        <result property="machineName" column="sub_machine_name"/>
    </resultMap>

    <sql id="selectTSpecifyMachineVo">
        select id, project_desc, sap, spec_desc, embryo_code, line_type, job_type, create_by, create_time, update_by,
        update_time, del_flag, remark from t_specify_machine
    </sql>

    <select id="selectTSpecifyMachineList" parameterType="com.zlt.aps.cx.api.domain.entity.CxMatchingSpecifyMachine"
            resultMap="TSpecifyMachineResult">
        <include refid="selectTSpecifyMachineVo"/>
        <where>
            del_flag='0'
            <if test="sap != null  and sap != ''">and sap = #{sap}</if>
            <if test="specDesc != null  and specDesc != ''"> and INSTR(spec_desc, #{specDesc}) > 0</if>
            <if test="embryoCode != null  and embryoCode != ''">and embryo_code = #{embryoCode}</if>
            <if test="lineType != null  and lineType != ''">and line_type = #{lineType}</if>
            <if test="jobType != null  and jobType != ''">and job_type = #{jobType}</if>
        </where>
        <if test="orderStr == null">
            order by create_time desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="selectTSpecifyMachineById" parameterType="Long" resultMap="TSpecifyMachineTSpecifyMachineListResult">
        SELECT
        a.id,
        a.project_desc,
        a.sap,
        a.spec_desc,
        a.embryo_code,
        a.line_type,
        a.job_type,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.del_flag,
        a.remark,
        b.id AS sub_id,
        b.specify_machine_id AS sub_specify_machine_id,
        b.procedure_code AS sub_procedure_code,
        b.machine_id AS sub_machine_id,
        b.machine_code AS sub_machine_code,
        b.create_by AS sub_create_by,
        b.create_time AS sub_create_time,
        b.update_by AS sub_update_by,
        b.update_time AS sub_update_time,
        b.del_flag AS sub_del_flag,
        b.remark AS sub_remark,
        b.machine_name AS sub_machine_name
        FROM
        t_specify_machine a
        LEFT JOIN (
        SELECT d.*,vm.machine_name
        FROM t_specify_machine_list d,V_MACHINE_INFO vm
        WHERE d.procedure_code = vm.procedure_code
        AND d.machine_id = to_char(vm.machine_id)
        AND d.del_flag = '0' ) b
        ON b.specify_machine_id = a.id
        WHERE
        a.id = #{ id}
    </select>

    <insert id="insertTSpecifyMachine" parameterType="com.zlt.aps.cx.api.domain.entity.CxMatchingSpecifyMachine">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT seq_t_specify_machine.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into t_specify_machine
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="projectDesc != null">project_desc,</if>
            <if test="sap != null">sap,</if>
            <if test="specDesc != null">spec_desc,</if>
            <if test="embryoCode != null and embryoCode != ''">embryo_code,</if>
            <if test="lineType != null">line_type,</if>
            <if test="jobType != null">job_type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="projectDesc != null">#{projectDesc},</if>
            <if test="sap != null">#{sap},</if>
            <if test="specDesc != null">#{specDesc},</if>
            <if test="embryoCode != null and embryoCode != ''">#{embryoCode},</if>
            <if test="lineType != null">#{lineType},</if>
            <if test="jobType != null">#{jobType},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateTSpecifyMachine" parameterType="com.zlt.aps.cx.api.domain.entity.CxMatchingSpecifyMachine">
        update t_specify_machine
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectDesc != null">project_desc = #{projectDesc},</if>
            <if test="sap != null">sap = #{sap},</if>
            <if test="specDesc != null">spec_desc = #{specDesc},</if>
            <if test="embryoCode != null and embryoCode != ''">embryo_code = #{embryoCode},</if>
            <if test="lineType != null">line_type = #{lineType},</if>
            <if test="jobType != null">job_type = #{jobType},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTSpecifyMachineById" parameterType="Long">
        update t_specify_machine set del_flag='1' where id = #{id}
    </delete>

    <delete id="deleteTSpecifyMachineByIds" parameterType="String">
        update t_specify_machine set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteTSpecifyMachineListBySpecifyMachineIds" parameterType="String">
        update t_specify_machine_list set del_flag='1' where specify_machine_id in
        <foreach item="specifyMachineId" collection="array" open="(" separator="," close=")">
            #{specifyMachineId}
        </foreach>
    </delete>

    <delete id="deleteTSpecifyMachineListBySpecifyMachineId" parameterType="Long">
        update t_specify_machine_list set del_flag='1' where specify_machine_id = #{specifyMachineId}
    </delete>

    <insert id="batchTSpecifyMachineList" parameterType="java.util.List">

        insert into t_specify_machine_list
        (ID, SPECIFY_MACHINE_ID, PROCEDURE_CODE,
        MACHINE_ID, MACHINE_CODE, CREATE_BY,
        CREATE_TIME, UPDATE_BY, UPDATE_TIME,
        DEL_FLAG, REMARK)
        select seq_t_specify_machine_list.nextval, A.* from(
        <foreach collection="list" item="item" index="index"
                 separator="UNION ALL">
            SELECT #{item.specifyMachineId,jdbcType=DECIMAL}, #{item.procedureCode,jdbcType=VARCHAR},
            #{item.machineId,jdbcType=VARCHAR}, #{item.machineCode,jdbcType=VARCHAR}, #{item.createBy,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=DATE}, #{item.updateBy,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=DATE},
            #{item.delFlag,jdbcType=CHAR}, #{item.remark,jdbcType=VARCHAR} from dual
        </foreach>
        ) A
    </insert>

    <select id="checkCxSpecifyMachineUnic" parameterType="com.zlt.aps.cx.api.domain.entity.CxMatchingSpecifyMachine"
            resultMap="TSpecifyMachineResult">
        <include refid="selectTSpecifyMachineVo"/>
        <where>
            del_flag='0'
            <if test="id != null  and id != ''">and id != #{id}</if>
            <if test="embryoCode != null  and embryoCode != ''">and embryo_code = #{embryoCode}</if>
            <if test="sap == null or sap ==''">and sap is null</if>
            <if test="sap != null and sap !='' ">and sap = #{sap}</if>
        </where>
    </select>

    <update id="mergeSql" parameterType="list">
        merge into t_specify_machine a USING (
        <foreach collection="list" item="SpecifyMachine" separator=" union ">
            select
            #{SpecifyMachine.embryoCode,jdbcType=VARCHAR} embryo_code,
            #{SpecifyMachine.sap,jdbcType=VARCHAR} sap,
            #{SpecifyMachine.projectDesc,jdbcType=VARCHAR} project_desc,
            #{SpecifyMachine.specDesc,jdbcType=VARCHAR} spec_desc,
            #{SpecifyMachine.lineType,jdbcType=VARCHAR} line_type,
            #{SpecifyMachine.jobType,jdbcType=VARCHAR} job_type,

            #{SpecifyMachine.createBy,jdbcType=VARCHAR} create_by,
            #{SpecifyMachine.createTime,jdbcType=DATE} create_time,
            #{SpecifyMachine.updateBy,jdbcType=VARCHAR} update_by,
            #{SpecifyMachine.updateTime,jdbcType=DATE} update_time,
            #{SpecifyMachine.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.embryo_code = b.embryo_code
        and ((b.sap is null and a.sap is null) or (a.sap = b.sap))
        AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE SET
        a.project_desc = b.project_desc,
        a.spec_desc = b.spec_desc,
        a.line_type = b.line_type,
        a.job_type = b.job_type,
        a.update_by = b.create_by,
        a.update_time = sysdate,
        a.remark = b.remark
        WHEN NOT MATCHED THEN
        INSERT (a.id, a.embryo_code, a.sap, a.project_desc, a.spec_desc,a.line_type,a.job_type, a.create_by, a.create_time, a.remark,
        a.del_flag) values
        (seq_t_specify_machine.NEXTVAL, b.embryo_code, b.sap, b.project_desc, b.spec_desc,b.line_type, b.job_type, b.create_by, sysdate, b.remark, '0')
    </update>

</mapper>