<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.mapper.CxPlanProductStatusMapper1">

    <resultMap type="com.zlt.aps.cx.api.domain.entity.CxPlanProductStatus" id="CxPlanProductStatusResult">
        <result property="id" column="id"/>
        <result property="monthPlanApsVersion" column="month_plan_aps_version"/>
        <result property="monthPlanIds" column="month_plan_ids"/>
        <result property="sapCode" column="sap_code"/>
        <result property="embryoCode" column="embryo_code"/>
        <result property="monthPlanTotalQty" column="month_plan_total_qty"/>
        <result property="beginDate" column="begin_date"/>
        <result property="productStatus" column="product_status"/>
        <result property="productDetail" column="product_detail"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="endDate" column="end_date"/>
        <result property="markUnProduct" column="mark_un_product"/>
        <result property="specDimension" column="spec_dimension"/>
        <result property="bomDataVersion" column="bom_Data_Version"/>
    </resultMap>

    <sql id="selectCxPlanProductStatusVo">
        select id, month_plan_aps_version, month_plan_ids, sap_code, embryo_code, month_plan_total_qty, begin_date,
        product_status, product_detail, create_by, create_time, update_by, update_time, del_flag, remark, end_date,
        mark_un_product, spec_dimension,bom_Data_Version from t_cx_plan_product_status
    </sql>

    <select id="selectCxPlanProductStatusList" parameterType="com.zlt.aps.cx.api.domain.entity.CxPlanProductStatus"
            resultMap="CxPlanProductStatusResult">
        <include refid="selectCxPlanProductStatusVo"/>
        <where>
            del_flag='0'
            <if test="monthPlanApsVersion != null  and monthPlanApsVersion != ''">and month_plan_aps_version =
                #{monthPlanApsVersion}
            </if>
            <if test="sapCode != null  and sapCode != ''">and sap_code = #{sapCode}</if>
            <if test="embryoCode != null  and embryoCode != ''">AND instr(embryo_code,#{embryoCode}) > 0</if>
            <if test="productStatus != null  and productStatus != ''">and product_status = #{productStatus}</if>
            <if test="beginDate != null and beginDate !=''">
                and begin_Date  <![CDATA[  >=  ]]> #{beginDate}
            </if>
            <if test="endDate != null and endDate !=''">
                and end_Date  <![CDATA[   <=  ]]> #{endDate}
            </if>
            <if test="markUnProduct != null and markUnProduct !=''">
                and mark_un_product=#{markUnProduct}
            </if>
            <if test="bomDataVersion != null and bomDataVersion !=''">
                and bom_Data_Version=#{bomDataVersion}
            </if>
        </where>
        <if test="orderStr == null">
            order by PRODUCT_STATUS,BEGIN_DATE asc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="selectCxPlanProductStatusById" parameterType="Long" resultMap="CxPlanProductStatusResult">
        <include refid="selectCxPlanProductStatusVo"/>
        where id = #{id}
    </select>

    <select id="selectCxPlanProductStatusByCxBatchNo"
            parameterType="com.zlt.aps.cx.api.domain.entity.CxPlanProductStatus" resultMap="CxPlanProductStatusResult">
        <include refid="selectCxPlanProductStatusVo"/>
        where month_plan_aps_version = (select MONTH_PLAN_APS_VERSION from T_CX_AUTO_SCHEDULE_RECORD where
        CX_BATCH_NO=#{monthPlanApsVersion} and DEL_FLAG='0')
        and del_flag='0'
        and sap_code = #{sapCode}
        and embryo_code = #{embryoCode}
        and bom_Data_Version=#{bomDataVersion}
    </select>

    <insert id="insertCxPlanProductStatus" parameterType="com.zlt.aps.cx.api.domain.entity.CxPlanProductStatus">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT SEQ_PUBLIC.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into t_cx_plan_product_status
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="monthPlanApsVersion != null">month_plan_aps_version,</if>
            <if test="monthPlanIds != null">month_plan_ids,</if>
            <if test="sapCode != null">sap_code,</if>
            <if test="embryoCode != null">embryo_code,</if>
            <if test="monthPlanTotalQty != null">month_plan_total_qty,</if>
            <if test="beginDate != null">begin_date,</if>
            <if test="productStatus != null">product_status,</if>
            <if test="productDetail != null">product_detail,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="endDate != null">end_date,</if>
            <if test="markUnProduct != null">mark_un_product,</if>
            <if test="specDimension != null">spec_dimension,</if>
            <if test="bomDataVersion != null">bom_Data_Version,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="monthPlanApsVersion != null">#{monthPlanApsVersion},</if>
            <if test="monthPlanIds != null">#{monthPlanIds},</if>
            <if test="sapCode != null">#{sapCode},</if>
            <if test="embryoCode != null">#{embryoCode},</if>
            <if test="monthPlanTotalQty != null">#{monthPlanTotalQty},</if>
            <if test="beginDate != null">#{beginDate},</if>
            <if test="productStatus != null">#{productStatus},</if>
            <if test="productDetail != null">#{productDetail},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="markUnProduct != null">#{markUnProduct},</if>
            <if test="specDimension != null">#{specDimension},</if>
            <if test="bomDataVersion != null">#{bomDataVersion},</if>
        </trim>
    </insert>

    <update id="updateCxPlanProductStatus" parameterType="com.zlt.aps.cx.api.domain.entity.CxPlanProductStatus">
        update t_cx_plan_product_status
        <trim prefix="SET" suffixOverrides=",">
            <if test="monthPlanApsVersion != null">month_plan_aps_version = #{monthPlanApsVersion},</if>
            <if test="monthPlanIds != null">month_plan_ids = #{monthPlanIds},</if>
            <if test="sapCode != null">sap_code = #{sapCode},</if>
            <if test="embryoCode != null">embryo_code = #{embryoCode},</if>
            <if test="monthPlanTotalQty != null">month_plan_total_qty = #{monthPlanTotalQty},</if>
            <if test="beginDate != null">begin_date = #{beginDate},</if>
            <if test="productStatus != null">product_status = #{productStatus},</if>
            <if test="productDetail != null">product_detail = #{productDetail},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="markUnProduct != null">mark_un_product = #{markUnProduct},</if>
            <if test="specDimension != null">spec_dimension = #{specDimension},</if>
            <if test="bomDataVersion != null">bom_Data_Version = #{bomDataVersion},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCxPlanProductStatusById" parameterType="Long">
        update t_cx_plan_product_status set del_flag='1' where id = #{id}
    </delete>

    <delete id="deleteCxPlanProductStatusByIds" parameterType="String">
        update t_cx_plan_product_status set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="markUnProduct" parameterType="String">
        update t_cx_plan_product_status set mark_un_product='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="seleteCxPlanProductStatusByIds" parameterType="String" resultMap="CxPlanProductStatusResult">
        select * from t_cx_plan_product_status where del_flag='0' and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!--Joran 2021-08-04 排程发布后更新状态为已投产-->
    <update id="updateProductStatusToProduct" parameterType="com.zlt.aps.cx.api.domain.entity.CxPlanProductStatus">
        update t_cx_plan_product_status
        <trim prefix="SET" suffixOverrides=",">
            <if test="productStatus != null">product_status = #{productStatus},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where del_flag='0' and product_status ='2'
        <if test="monthPlanApsVersion != null"> and  month_plan_aps_version =#{monthPlanApsVersion}</if>
    </update>

</mapper>