<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.mapper.CxStockMapper">

    <resultMap type="com.zlt.aps.cx.api.domain.entity.CxStock" id="CxStockResult">
        <result property="id" column="id"/>
        <result property="stockDate" column="stock_date"/>
        <result property="embryoCode" column="embryo_code"/>
        <result property="stockNum" column="stock_num"/>
        <result property="overTimeStock" column="over_time_stock"/>
        <result property="modifyNum" column="modify_num"/>
        <result property="badNum" column="bad_num"/>
        <result property="unavailableStock" column="unavailable_stock"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="bomDataVersion" column="bom_Data_Version"/>
        <result property="scheduleUseStock" column="schedule_Use_Stock"/>
    </resultMap>

    <sql id="selectCxStockVo">
        select id, stock_date, embryo_code, stock_num, over_time_stock, modify_num, bad_num, unavailable_stock, remark, del_flag, create_by, create_time, update_by, update_time,bom_Data_Version 
        ,CASE WHEN nvl(stock_num, 0) + nvl(modify_num, 0) - nvl(bad_num, 0) > 0
                THEN nvl(stock_num, 0) + nvl(modify_num, 0) - nvl(bad_num, 0)
              ELSE
                0
          END schedule_Use_Stock
        from t_cx_stock
    </sql>

    <select id="selectCxStockList" parameterType="com.zlt.aps.cx.api.domain.entity.CxStock" resultMap="CxStockResult">
        <include refid="selectCxStockVo"/>
        where del_flag='0'
        <if test="startTime != null and startTime !='' ">
            and stock_date  <![CDATA[  >=  ]]> to_date(#{startTime},'yyyy-MM-dd')
        </if>
        <if test="endTime != null and endTime !='' ">
            and stock_date  <![CDATA[   <=  ]]> to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss')
        </if>

        <if test="embryoCode != null and embryoCode != ''">
            AND INSTR(embryo_code, #{embryoCode}) > 0
        </if>

        <if test="bomDataVersion != null and bomDataVersion != ''">
            AND INSTR(bom_Data_Version, #{bomDataVersion}) > 0
        </if>
        <if test="orderStr == null">
            order by stock_date desc
        </if>
        <if test="orderStr != null">
            order by ${orderStr}
        </if>
    </select>

    <select id="checkCxStockListUnic" parameterType="com.zlt.aps.cx.api.domain.entity.CxStock"
            resultMap="CxStockResult">
        <include refid="selectCxStockVo"/>
        where del_flag='0'
        <if test="id != null and id !='' ">
            and id != #{id}
        </if>
        <if test="stockDate != null ">
            and stock_date =#{stockDate}
        </if>
        <if test="embryoCode != null and embryoCode != ''">
            AND embryo_code=#{embryoCode}
        </if>
        <if test="bomDataVersion != null and bomDataVersion != ''">
            AND bom_Data_Version=#{bomDataVersion}
        </if>
    </select>

    <select id="selectCxStockById" parameterType="Long" resultMap="CxStockResult">
        <include refid="selectCxStockVo"/>
        where id = #{id}
    </select>

    <insert id="insertCxStock" parameterType="com.zlt.aps.cx.api.domain.entity.CxStock">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT SEQ_CX_STOCK.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into t_cx_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="stockDate != null">stock_date,</if>
            <if test="embryoCode != null">embryo_code,</if>
            <if test="stockNum != null">stock_num,</if>
            <if test="overTimeStock != null">overTimeStock,</if>
            <if test="modifyNum != null">modify_num,</if>
            <if test="badNum != null">bad_num,</if>
            <if test="unavailableStock != null">unavailable_stock,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="bomDataVersion != null">bom_Data_Version,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="stockDate != null">#{stockDate},</if>
            <if test="embryoCode != null">#{embryoCode},</if>
            <if test="stockNum != null">#{stockNum},</if>
            <if test="overTimeStock != null">#{overTimeStock},</if>
            <if test="modifyNum != null">#{modifyNum},</if>
            <if test="badNum != null">#{badNum},</if>
            <if test="unavailableStock != null">#{unavailableStock},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="bomDataVersion != null">#{bomDataVersion},</if>

        </trim>
    </insert>

    <update id="updateCxStock" parameterType="com.zlt.aps.cx.api.domain.entity.CxStock">
        update t_cx_stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="stockDate != null">stock_date = #{stockDate},</if>
            <if test="embryoCode != null">embryo_code = #{embryoCode},</if>
            <if test="stockNum != null">stock_num = #{stockNum},</if>
            <if test="overTimeStock != null">over_time_stock = #{overTimeStock},</if>
            modify_num = #{modifyNum,jdbcType=DECIMAL},
            bad_num = #{badNum,jdbcType=DECIMAL},
            <if test="unavailableStock != null">unavailable_stock = #{unavailableStock},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="bomDataVersion != null">bom_Data_Version = #{bomDataVersion},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCxStockById" parameterType="Long">
        update t_cx_stock set del_flag='1' where id = #{id}
    </delete>

    <delete id="deleteCxStockByIds" parameterType="String">
        update t_cx_stock set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="mergeSql" parameterType="list">
        merge into t_cx_stock a USING (
        <foreach collection="list" item="STOCK" separator=" union ">
            select
            #{STOCK.stockDate,jdbcType=DATE} stock_date,
            #{STOCK.embryoCode,jdbcType=VARCHAR} embryo_code,
            #{STOCK.stockNum,jdbcType=DOUBLE} stock_num,
            #{STOCK.overTimeStock,jdbcType=DOUBLE} over_time_stock,
            #{STOCK.modifyNum,jdbcType=DOUBLE} modify_num,
            #{STOCK.badNum,jdbcType=DOUBLE} bad_num,
            #{STOCK.unavailableStock,jdbcType=DOUBLE} unavailable_stock,
            #{STOCK.bomDataVersion,jdbcType=DOUBLE} bom_Data_Version,

            #{STOCK.createBy,jdbcType=VARCHAR} create_by,
            #{STOCK.createTime,jdbcType=DATE} create_time,
            #{STOCK.updateBy,jdbcType=VARCHAR} update_by,
            #{STOCK.updateTime,jdbcType=DATE} update_time,
            #{STOCK.remark,jdbcType=VARCHAR} remark
            from dual
        </foreach>
        ) b ON (
        a.stock_date = b.stock_date
        and b.embryo_code = a.embryo_code
        and b.bom_Data_Version = a.bom_Data_Version
        AND a.del_flag = '0' )
        WHEN MATCHED THEN
        UPDATE SET
        a.stock_num = b.stock_num,
        a.unavailable_stock = b.unavailable_stock,
        a.over_time_stock = b.over_time_stock,
        a.modify_num = b.modify_num,
        a.bad_num = b.bad_num,
        a.update_by = b.create_by,
        a.update_time = sysdate,
        a.remark = b.remark
        WHEN NOT MATCHED THEN
        INSERT (a.id, a.stock_date, a.embryo_code,a.bom_Data_Version, a.stock_num, a.unavailable_stock, a.over_time_stock, a.modify_num, a.bad_num, a.create_by, a.create_time,
        a.remark, a.del_flag) values
        (SEQ_CX_STOCK.NEXTVAL, b.stock_date, b.embryo_code,b.bom_Data_Version, b.stock_num, b.unavailable_stock, b.over_time_stock, b.modify_num, b.bad_num, b.create_by, sysdate,
        b.remark, '0')
    </update>

	<!-- 批量释放不可用库存 -->
	<update id="releaseStockByIds">
        UPDATE t_cx_stock
           SET MODIFY_NUM = nvl(unavailable_stock, 0),
               update_time = sysdate
               <if test="updateBy != null and updateBy != ''">
               ,update_by = #{updateBy}
               </if>
         WHERE del_flag = '0'
           AND id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
	</update>
</mapper>