<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.cx.mapper.ReportClassAccuracyMapper">

    <select id="listLhClassAccuracy" resultType="com.zlt.aps.cx.api.domain.dto.ReportClassAccuracyDto">
        select '0' procedure_code,  /*硫化*/
               p.schedule_date,
               p.plan_material class1_plan_material, /*中班计划完成规格*/
               nvl(p.plan_class1,0) plan_class1,  /*中班计划产量*/
               f.MATERIAL_CODE class1_actual_material, /*中班实际完成规格*/
               nvl(f.CLASS1_FINISH_QTY,0) actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from (SELECT SCHEDULE_DATE,SAP_CODE plan_material, sum(CLASS1_PLAN_QTY) plan_class1,sum(CLASS2_PLAN_QTY) plan_class2,  sum(CLASS3_PLAN_QTY) plan_class3
              FROM t_lh_schedule_result
              where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
              and DEL_FLAG = '0'
              group by SCHEDULE_DATE,SAP_CODE
              ) p
        left join t_class_finish_qty f on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE and f.procedure_code = '0' and f.DEL_FLAG = '0'
        union
        select '0' procedure_code,  /*硫化*/
               f.schedule_date,
               p.plan_material class1_plan_material, /*中班计划完成规格*/
               nvl(p.plan_class1,0) plan_class1,  /*中班计划产量*/
               f.MATERIAL_CODE class1_actual_material, /*中班实际完成规格*/
               nvl(f.CLASS1_FINISH_QTY,0) actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from t_class_finish_qty f
        left join (SELECT SCHEDULE_DATE,SAP_CODE plan_material, sum(CLASS1_PLAN_QTY) plan_class1,sum(CLASS2_PLAN_QTY) plan_class2,  sum(CLASS3_PLAN_QTY) plan_class3
                   FROM t_lh_schedule_result
                   where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
                   and DEL_FLAG = '0'
                   group by SCHEDULE_DATE,SAP_CODE
                   ) p on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE
        where f.schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
        and f.procedure_code = '0'
    </select>

    <select id="listCxClassAccuracy" resultType="com.zlt.aps.cx.api.domain.dto.ReportClassAccuracyDto">
        select '1' procedure_code,  /*成型工序*/
               p.schedule_date,
               p.plan_material class1_plan_material, /*中班计划完成规格*/
               nvl(p.plan_class1,0) plan_class1,  /*中班计划产量*/
               f.MATERIAL_CODE class1_actual_material, /*中班实际完成规格*/
               nvl(f.CLASS1_FINISH_QTY,0) actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from (SELECT SCHEDULE_DATE,EMBRYO_CODE plan_material, sum(CLASS1_PLAN_QTY) plan_class1,sum(CLASS2_PLAN_QTY) plan_class2,  sum(CLASS3_PLAN_QTY) plan_class3
              FROM t_cx_schedule_result
              where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
              and DEL_FLAG = '0'
              group by SCHEDULE_DATE,EMBRYO_CODE
              ) p
        left join t_class_finish_qty f on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE and f.procedure_code = '1' and f.DEL_FLAG = '0'
        union
        select '1' procedure_code,  /*成型工序*/
               f.schedule_date,
               p.plan_material class1_plan_material, /*中班计划完成规格*/
               nvl(p.plan_class1,0) plan_class1,  /*中班计划产量*/
               f.MATERIAL_CODE class1_actual_material, /*中班实际完成规格*/
               nvl(f.CLASS1_FINISH_QTY,0) actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from t_class_finish_qty f
        left join (SELECT SCHEDULE_DATE,EMBRYO_CODE plan_material, sum(CLASS1_PLAN_QTY) plan_class1,sum(CLASS2_PLAN_QTY) plan_class2,  sum(CLASS3_PLAN_QTY) plan_class3
                   FROM t_cx_schedule_result
                   where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
                   and DEL_FLAG = '0'
                   group by SCHEDULE_DATE,EMBRYO_CODE
                   ) p on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE
        where f.schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
        and f.procedure_code = '1'
    </select>

    <select id="listTmClassAccuracy" resultType="com.zlt.aps.cx.api.domain.dto.ReportClassAccuracyDto">
        select '2' procedure_code,  /*胎面*/
               p.schedule_date,
               '' class1_plan_material, /*中班计划完成规格*/
               0 plan_class1,  /*中班计划产量*/
               '' class1_actual_material, /*中班实际完成规格*/
               0 actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from (SELECT SCHEDULE_DATE,TREAD_CODE plan_material, sum(NIGHT_PLAN_QTY) plan_class2,  sum(DAY_PLAN_QTY) plan_class3
              FROM t_tm_schedule_result
              where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
              and DEL_FLAG = '0'
              group by SCHEDULE_DATE,TREAD_CODE
              ) p
        left join t_class_finish_qty f on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE and f.procedure_code = '2' and f.DEL_FLAG = '0'
        union
        select '2' procedure_code,  /*胎面*/
               f.schedule_date,
               '' class1_plan_material, /*中班计划完成规格*/
               0 plan_class1,  /*中班计划产量*/
               '' class1_actual_material, /*中班实际完成规格*/
               0 actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from t_class_finish_qty f
        left join (SELECT SCHEDULE_DATE,TREAD_CODE plan_material, sum(NIGHT_PLAN_QTY) plan_class2,  sum(DAY_PLAN_QTY) plan_class3
                   FROM t_tm_schedule_result
                   where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
                   and DEL_FLAG = '0'
                   group by SCHEDULE_DATE,TREAD_CODE
                   ) p on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE
        where f.schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
        and f.procedure_code = '2'
    </select>

    <select id="listTcClassAccuracy" resultType="com.zlt.aps.cx.api.domain.dto.ReportClassAccuracyDto">
        select '3' procedure_code,  /*胎侧*/
               p.schedule_date,
               '' class1_plan_material, /*中班计划完成规格*/
               0 plan_class1,  /*中班计划产量*/
               '' class1_actual_material, /*中班实际完成规格*/
               0 actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from (SELECT SCHEDULE_DATE,SIDEWALL_CODE plan_material, sum(NIGHT_PLAN_QTY) plan_class2,  sum(DAY_PLAN_QTY) plan_class3
              FROM t_tc_schedule_result
              where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
              and DEL_FLAG = '0'
              group by SCHEDULE_DATE,SIDEWALL_CODE
              ) p
        left join t_class_finish_qty f on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE and f.procedure_code = '3' and f.DEL_FLAG = '0'
        union
        select '3' procedure_code,  /*胎侧*/
               f.schedule_date,
               '' class1_plan_material, /*中班计划完成规格*/
               0 plan_class1,  /*中班计划产量*/
               '' class1_actual_material, /*中班实际完成规格*/
               0 actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from t_class_finish_qty f
        left join (SELECT SCHEDULE_DATE,SIDEWALL_CODE plan_material, sum(NIGHT_PLAN_QTY) plan_class2,  sum(DAY_PLAN_QTY) plan_class3
                   FROM t_tc_schedule_result
                   where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
                   and DEL_FLAG = '0'
                   group by SCHEDULE_DATE,SIDEWALL_CODE
                   ) p on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE
        where f.schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
        and f.procedure_code = '3'
    </select>

    <select id="listNcClassAccuracy" resultType="com.zlt.aps.cx.api.domain.dto.ReportClassAccuracyDto">
        select '4' procedure_code,  /*内衬*/
               p.schedule_date,
               '' class1_plan_material, /*中班计划完成规格*/
               0 plan_class1,  /*中班计划产量*/
               '' class1_actual_material, /*中班实际完成规格*/
               0 actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from (SELECT SCHEDULE_DATE,LINING_CODE plan_material, sum(NIGHT_PLAN_QTY) plan_class2,  sum(DAY_PLAN_QTY) plan_class3
              FROM t_nc_schedule_result
              where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
              and DEL_FLAG = '0'
              group by SCHEDULE_DATE,LINING_CODE
              ) p
        left join t_class_finish_qty f on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE and f.procedure_code = '4' and f.DEL_FLAG = '0'
        union
        select '4' procedure_code,  /*内衬*/
               f.schedule_date,
               '' class1_plan_material, /*中班计划完成规格*/
               0 plan_class1,  /*中班计划产量*/
               '' class1_actual_material, /*中班实际完成规格*/
               0 actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from t_class_finish_qty f
        left join (SELECT SCHEDULE_DATE,LINING_CODE plan_material, sum(NIGHT_PLAN_QTY) plan_class2,  sum(DAY_PLAN_QTY) plan_class3
                   FROM t_nc_schedule_result
                   where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
                   and DEL_FLAG = '0'
                   group by SCHEDULE_DATE,LINING_CODE
                   ) p on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE
        where f.schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
        and f.procedure_code = '4'
    </select>

    <select id="listTqClassAccuracy" resultType="com.zlt.aps.cx.api.domain.dto.ReportClassAccuracyDto">
        select '5' procedure_code,  /*胎圈工序*/
               p.schedule_date,
               p.plan_material class1_plan_material, /*中班计划完成规格*/
               nvl(p.plan_class1,0) plan_class1,  /*中班计划产量*/
               f.MATERIAL_CODE class1_actual_material, /*中班实际完成规格*/
               nvl(f.CLASS1_FINISH_QTY,0) actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from (SELECT SCHEDULE_DATE,BEAD_CODE plan_material, sum(MID_PLAN_QTY) plan_class1,sum(NIGHT_PLAN_QTY) plan_class2,  sum(DAY_PLAN_QTY) plan_class3
              FROM t_tq_schedule_result
              where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
              and DEL_FLAG = '0'
              group by SCHEDULE_DATE,BEAD_CODE
              ) p
        left join t_class_finish_qty f on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE and f.procedure_code = '5' and f.DEL_FLAG = '0'
        union
        select '5' procedure_code,  /*胎圈工序*/
               f.schedule_date,
               p.plan_material class1_plan_material, /*中班计划完成规格*/
               nvl(p.plan_class1,0) plan_class1,  /*中班计划产量*/
               f.MATERIAL_CODE class1_actual_material, /*中班实际完成规格*/
               nvl(f.CLASS1_FINISH_QTY,0) actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from t_class_finish_qty f
        left join (SELECT SCHEDULE_DATE,BEAD_CODE plan_material, sum(MID_PLAN_QTY) plan_class1,sum(NIGHT_PLAN_QTY) plan_class2,  sum(DAY_PLAN_QTY) plan_class3
                   FROM t_tq_schedule_result
                   where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
                   and DEL_FLAG = '0'
                   group by SCHEDULE_DATE,BEAD_CODE
                   ) p on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE
        where f.schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
        and f.procedure_code = '5'
    </select>

    <select id="listGsqClassAccuracy" resultType="com.zlt.aps.cx.api.domain.dto.ReportClassAccuracyDto">
        select '6' procedure_code,  /*钢丝圈工序*/
               p.schedule_date,
               p.plan_material class1_plan_material, /*中班计划完成规格*/
               nvl(p.plan_class1,0) plan_class1,  /*中班计划产量*/
               f.MATERIAL_CODE class1_actual_material, /*中班实际完成规格*/
               nvl(f.CLASS1_FINISH_QTY,0) actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from (SELECT SCHEDULE_DATE,STEEL_RING_CODE plan_material, sum(MID_PLAN_QTY) plan_class1,sum(NIGHT_PLAN_QTY) plan_class2,  sum(DAY_PLAN_QTY) plan_class3
              FROM t_gsq_schedule_result
              where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
              and DEL_FLAG = '0'
              group by SCHEDULE_DATE,STEEL_RING_CODE
              ) p
        left join t_class_finish_qty f on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE and f.procedure_code = '6' and f.DEL_FLAG = '0'
        union
        select '6' procedure_code,  /*钢丝圈工序*/
               f.schedule_date,
               p.plan_material class1_plan_material, /*中班计划完成规格*/
               nvl(p.plan_class1,0) plan_class1,  /*中班计划产量*/
               f.MATERIAL_CODE class1_actual_material, /*中班实际完成规格*/
               nvl(f.CLASS1_FINISH_QTY,0) actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from t_class_finish_qty f
        left join (SELECT SCHEDULE_DATE,STEEL_RING_CODE plan_material, sum(MID_PLAN_QTY) plan_class1,sum(NIGHT_PLAN_QTY) plan_class2,  sum(DAY_PLAN_QTY) plan_class3
                   FROM t_gsq_schedule_result
                   where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
                   and DEL_FLAG = '0'
                   group by SCHEDULE_DATE,STEEL_RING_CODE
                   ) p on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE
        where f.schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
        and f.procedure_code = '6'
    </select>

    <select id="listCd15ClassAccuracy" resultType="com.zlt.aps.cx.api.domain.dto.ReportClassAccuracyDto">
        select '7' procedure_code,  /*15度裁断*/
               p.schedule_date,
               '' class1_plan_material, /*中班计划完成规格*/
               0 plan_class1,  /*中班计划产量*/
               '' class1_actual_material, /*中班实际完成规格*/
               0 actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from (SELECT SCHEDULE_DATE,STEEL_STRIP_CODE1 plan_material, sum(NIGHT_PLAN_QTY1) plan_class2,  sum(DAY_PLAN_QTY1) plan_class3
              FROM t_cd15_schedule_result
              where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
              and DEL_FLAG = '0'
              group by SCHEDULE_DATE,STEEL_STRIP_CODE1
              ) p
        left join t_class_finish_qty f on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE and f.procedure_code = '7' and f.DEL_FLAG = '0'
        union
        select '7' procedure_code,  /*15度裁断*/
               f.schedule_date,
               '' class1_plan_material, /*中班计划完成规格*/
               0 plan_class1,  /*中班计划产量*/
               '' class1_actual_material, /*中班实际完成规格*/
               0 actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from t_class_finish_qty f
        left join (SELECT SCHEDULE_DATE,STEEL_STRIP_CODE1 plan_material, sum(NIGHT_PLAN_QTY1) plan_class2,  sum(DAY_PLAN_QTY1) plan_class3
                   FROM t_cd15_schedule_result
                   where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
                   and DEL_FLAG = '0'
                   group by SCHEDULE_DATE,STEEL_STRIP_CODE1
                   ) p on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE
        where f.schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
        and f.procedure_code = '7'
        and f.MATERIAL_CODE in (SELECT distinct BELT_CODE1 FROM t_product_construction_info)
    </select>

    <select id="listCd90ClassAccuracy" resultType="com.zlt.aps.cx.api.domain.dto.ReportClassAccuracyDto">
        select '8' procedure_code,  /*90度裁断*/
               p.schedule_date,
               '' class1_plan_material, /*中班计划完成规格*/
               0 plan_class1,  /*中班计划产量*/
               '' class1_actual_material, /*中班实际完成规格*/
               0 actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from (SELECT SCHEDULE_DATE,CLOTH_CODE plan_material, sum(NIGHT_PLAN_QTY) plan_class2,  sum(DAY_PLAN_QTY) plan_class3
              FROM t_cd90_schedule_result
              where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
              and DEL_FLAG = '0'
              group by SCHEDULE_DATE,CLOTH_CODE
              ) p
        left join t_class_finish_qty f on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE and f.procedure_code = '8' and f.DEL_FLAG = '0'
        union
        select '8' procedure_code,  /*90度裁断*/
               f.schedule_date,
               '' class1_plan_material, /*中班计划完成规格*/
               0 plan_class1,  /*中班计划产量*/
               '' class1_actual_material, /*中班实际完成规格*/
               0 actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from t_class_finish_qty f
        left join (SELECT SCHEDULE_DATE,CLOTH_CODE plan_material, sum(NIGHT_PLAN_QTY) plan_class2,  sum(DAY_PLAN_QTY) plan_class3
                   FROM t_cd90_schedule_result
                   where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
                   and DEL_FLAG = '0'
                   group by SCHEDULE_DATE,CLOTH_CODE
                   ) p on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE
        where f.schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
        and f.procedure_code = '8'
    </select>

    <select id="listXwyyClassAccuracy" resultType="com.zlt.aps.cx.api.domain.dto.ReportClassAccuracyDto">
        select '10' procedure_code,  /*纤维压延*/
               p.schedule_date,
               '' class1_plan_material, /*中班计划完成规格*/
               0 plan_class1,  /*中班计划产量*/
               '' class1_actual_material, /*中班实际完成规格*/
               0 actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from (SELECT SCHEDULE_DATE,BIG_ROLL_CODE plan_material, sum(NIGHT_PLAN_QTY) plan_class2,  sum(DAY_PLAN_QTY) plan_class3
              FROM t_xwyy_schedule_result
              where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
              and DEL_FLAG = '0'
              group by SCHEDULE_DATE,BIG_ROLL_CODE
              ) p
        left join t_class_finish_qty f on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE and f.procedure_code = '10' and f.DEL_FLAG = '0'
        union
        select '10' procedure_code,  /*纤维压延*/
               f.schedule_date,
               '' class1_plan_material, /*中班计划完成规格*/
               0 plan_class1,  /*中班计划产量*/
               '' class1_actual_material, /*中班实际完成规格*/
               0 actual_class1,   /*中班实际产量*/

               p.plan_material class2_plan_material, /*夜班计划完成规格*/
               nvl(p.plan_class2,0) plan_class2,  /*夜班计划产量*/
               f.MATERIAL_CODE class2_actual_material, /*夜班实际完成规格*/
               nvl(f.CLASS2_FINISH_QTY,0) actual_class2,   /*夜班实际产量*/

               p.plan_material class3_plan_material, /*白班计划完成规格*/
               nvl(p.plan_class3,0) plan_class3,  /*白班计划产量*/
               f.MATERIAL_CODE class3_actual_material, /*白班实际完成规格*/
               nvl(f.CLASS3_FINISH_QTY,0) actual_class3   /*白班实际产量*/
        from t_class_finish_qty f
        left join (SELECT SCHEDULE_DATE,BIG_ROLL_CODE plan_material, sum(NIGHT_PLAN_QTY) plan_class2,  sum(DAY_PLAN_QTY) plan_class3
                   FROM t_xwyy_schedule_result
                   where schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
                   and DEL_FLAG = '0'
                   group by SCHEDULE_DATE,BIG_ROLL_CODE
                   ) p on p.schedule_date=f.schedule_date and p.plan_material =f.MATERIAL_CODE
        where f.schedule_date = to_date(#{scheduleDate},'yyyy-mm-dd')
        and f.procedure_code = '10'
    </select>
</mapper>