<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.monthplan.factory.mapper.FactoryConsoleMapper">

    <select id="getProductionVersionList" parameterType="com.zlt.aps.monthplan.api.domain.vo.FactoryProductionPlanVo" resultType="com.zlt.aps.monthplan.factory.dto.FactoryProductionPlanVersionDto">
        SELECT YEAR,
               MONTH,
               FACTORY_CODE,
               PRODUCT_TYPE_CODE,
               MONTH_PLAN_VERSION,
               PRODUCTION_INIT_VERSION AS INIT_VERSION,
               PRODUCTION_ST_VERSION,
               PRODUCTION_VERSION,
               CREATE_TIME,
               IS_FINAL,
               PRODUCTION_START_DATE,
               IS_NATURAL_MONTH
          FROM t_mp_proc_version
         WHERE IFNULL(IS_DELETE, 0) = 0
           AND IFNULL(PLAN_TYPE, '00') = '01'
           AND IFNULL(IS_SELECTED_DEMAND, 0) = 1
           AND YEAR = #{year,jdbcType=DECIMAL}
           AND MONTH = #{month,jdbcType=DECIMAL}
        <if test="factoryCode != null and factoryCode != ''">
           AND FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
        </if>
        <if test="productTypeCode != null and productTypeCode != ''">
           AND PRODUCT_TYPE_CODE = #{productTypeCode,jdbcType=VARCHAR}
        </if>
        <if test="monthPlanVersion != null  and monthPlanVersion != ''">
           AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
        </if>
        <if test="productionVersion != null  and productionVersion != ''">
           AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR}
        </if>
         ORDER BY MONTH_PLAN_VERSION,PRODUCTION_VERSION
    </select>

    <select id="getNoSelectedVersionList" parameterType="com.zlt.aps.monthplan.api.domain.vo.FactoryProductionPlanVo" resultType="com.zlt.aps.monthplan.api.domain.vo.FactoryMonthPlanVersionVo">
            SELECT
              mv.YEAR,
              mv.MONTH,
              mv.FACTORY_CODE,
              mv.PRODUCT_TYPE_CODE,
              mv.MONTH_PLAN_VERSION,
              mv.CREATE_TIME
             FROM
                 t_mp_proc_version mv
             WHERE
                 mv.FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
             AND mv.YEAR = #{year,jdbcType=DECIMAL}
             AND mv.MONTH = #{month,jdbcType=DECIMAL}
             AND IFNULL(mv.PLAN_TYPE, '00') = '01'
             AND IFNULL(mv.IS_SELECTED_DEMAND, 0) = 0
             AND IFNULL(mv.IS_DELETE, 0) = 0
             AND NOT EXISTS (
                 SELECT
                     1
                 FROM
                     t_mp_proc_version pv
                 WHERE
                     pv.FACTORY_CODE = mv.FACTORY_CODE
                 AND pv.YEAR = mv.YEAR
                 AND pv.MONTH = mv.MONTH
                 AND pv.MONTH_PLAN_VERSION = mv.MONTH_PLAN_VERSION
                 AND IFNULL(pv.PLAN_TYPE, '00') = '01'
                 AND IFNULL(pv.IS_SELECTED_DEMAND, 0) = 1
                 AND IFNULL(pv.IS_DELETE, 0) = 0
             )
             ORDER BY
                CREATE_TIME DESC
    </select>
</mapper>
