<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.mp.factory.mapper.FactoryMonthPlanProductionFinalResultEntityMapper">

    <select id="getVersionList" resultType="com.zlt.aps.mp.api.domain.entity.FactoryMonthPlanProductionFinalResult">
        SELECT
        FACTORY_CODE,
        YEAR,
        MONTH,
        MONTH_PLAN_VERSION,
        LAST_MONTH_PLAN_VERSION,
        PRODUCTION_VERSION
        FROM
        T_MP_MONTH_PLAN_PROD_FINAL
        WHERE
        IS_DELETE = 0
        AND PRODUCTION_VERSION IS NOT NULL
        AND MONTH_PLAN_VERSION IS NOT NULL
        AND LAST_MONTH_PLAN_VERSION IS NOT NULL
        AND PRODUCTION_VERSION != ''
        AND MONTH_PLAN_VERSION != ''
        AND LAST_MONTH_PLAN_VERSION != ''
        AND LAST_MONTH_PLAN_VERSION != MONTH_PLAN_VERSION
        <if test="factoryCode != null and factoryCode != ''">AND FACTORY_CODE = #{factoryCode}</if>
        <if test="year != null and year != ''">AND YEAR = #{year}</if>
        <if test="month != null and month != ''">AND MONTH = #{month}</if>
        GROUP BY FACTORY_CODE, YEAR, MONTH, MONTH_PLAN_VERSION, LAST_MONTH_PLAN_VERSION, PRODUCTION_VERSION
</select>

    <select id="list4Adjust" resultType="com.zlt.aps.mp.api.domain.vo.FactoryMonthPlanProductionFinal4AdjustVo">
        SELECT
            fin.*,
            ddps.NET_QTY,
            ddps.HEIGHT_QTY,
            ddps.MID_QTY,
            ddps.CYCLE_RESERVE_QTY,
            ddps.CONVENTION_RESERVE_QTY

        FROM T_MP_MONTH_PLAN_PROD_FINAL fin

        LEFT JOIN T_DP_DEMAND_PLAN_SUM ddps
            ON fin.FACTORY_CODE = ddps.FACTORY_CODE
                AND fin.`YEAR` = ddps.`YEAR`
                AND fin.`MONTH` = ddps.`MONTH`
                AND fin.MATERIAL_CODE = ddps.MATERIAL_CODE
                AND IFNULL(fin.LAST_MONTH_PLAN_VERSION, fin.MONTH_PLAN_VERSION) = ddps.MONTH_PLAN_VERSION
                AND ddps.IS_DELETE = 0

        WHERE fin.IS_DELETE = 0
        <if test="factoryCode != null and factoryCode != ''">AND fin.FACTORY_CODE = #{factoryCode}</if>
        <if test="year != null and year != ''">AND fin.`YEAR` = #{year}</if>
        <if test="month != null and month != ''">AND fin.`MONTH` = #{month}</if>
        <if test="monthPlanVersion != null and monthPlanVersion != ''">AND fin.MONTH_PLAN_VERSION = #{monthPlanVersion}</if>
        <if test="productionVersion != null and productionVersion != ''">AND fin.PRODUCTION_VERSION = #{productionVersion}</if>
        <if test="productTypeCode != null and productTypeCode != ''">AND fin.PRODUCT_TYPE_CODE = #{productTypeCode}</if>
        <if test="constructionStage != null and constructionStage != ''">AND fin.CONSTRUCTION_STAGE = #{constructionStage}</if>
        <if test="brand != null and brand != ''">AND fin.BRAND = #{brand}</if>
        <if test="proSize != null and proSize != ''">AND fin.PRO_SIZE = #{proSize}</if>
        <if test="materialCode != null and materialCode != ''">AND fin.MATERIAL_CODE like CONCAT('%', #{materialCode}, '%')</if>
        <if test="materialDesc != null and materialDesc != ''">AND fin.MATERIAL_DESC like CONCAT('%', #{materialDesc}, '%')</if>
        <if test="mainMaterialDesc != null and mainMaterialDesc != ''">AND fin.MAIN_MATERIAL_DESC like CONCAT('%', #{mainMaterialDesc}, '%')</if>
        <if test="specifications != null and specifications != ''">AND fin.SPECIFICATIONS like CONCAT('%', #{specifications}, '%')</if>
        <if test="mainPattern != null and mainPattern != ''">AND fin.MAIN_PATTERN like CONCAT('%', #{mainPattern}, '%')</if>
        <if test="pattern != null and pattern != ''">AND fin.PATTERN like CONCAT('%', #{pattern}, '%')</if>
        <if test="structureName != null and structureName != ''">AND fin.STRUCTURE_NAME like CONCAT('%', #{structureName}, '%')</if>
        <if test="cxMachineCode != null and cxMachineCode != ''">AND fin.CX_MACHINE_CODE like CONCAT('%', #{cxMachineCode}, '%')</if>
        <if test="lastMonthPlanVersion != null and lastMonthPlanVersion != ''">AND fin.LAST_MONTH_PLAN_VERSION like CONCAT('%', #{lastMonthPlanVersion}, '%')</if>

        ORDER BY STRUCTURE_NAME, MAIN_PATTERN, MAIN_MATERIAL_DESC
    </select>

</mapper>
