<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.mp.factory.mapper.FactoryMonthPlanMouldDayResultEntityMapper">
    <select id="getExportList" resultType="com.zlt.aps.mp.factory.dto.FactoryMonthPlanMouldDayResultExportVo">
        SELECT
		    m.MATERIAL_CODE,
		    m.MES_MATERIAL_CODE,
		    m.MATERIAL_DESC,
		    m.STRUCTURE_NAME,
		    d.STRUCTURE_TYPE,
		    r.PRODUCT_STATUS,
		    r.EMBRYO_CODE,
		    r.MAIN_MATERIAL_DESC,
		    r.CONSTRUCTION_STAGE,
		    m.BRAND,
		    m.SPECIFICATIONS,
		    m.MAIN_PATTERN,
		    m.PATTERN,
		    m.PRO_SIZE,
		    m.SINGLE_TIRE_WEIGHT,
		    m.PRODUCT_CATEGORY,
		    r.MOULD_CAVITY_QTY,
		    r.TYPE_BLOCK_QTY,
		    max( d.AVERAGE_SALE_QTY ) AVERAGE_SALE_QTY,
		    r.INVENTORY_SALES_RATIO,
		    r.DAY_VULCANIZATION_QTY,
		    sum( d.NET_QTY ) PROD_REQ_PLAN,
		    sum( d.HEIGHT_QTY ) HEIGHT_QTY,
		    sum( d.MID_QTY ) MID_QTY,
		    sum( d.CYCLE_RESERVE_QTY ) CYCLE_RESERVE_QTY,
		    r.TOTAL_QTY,
		    r.HEIGHT_PRODUCTION_QTY,
		    r.MID_PRODUCTION_QTY,
		    r.CYCLE_PRODUCTION_QTY,
		    r.CONVENTION_PRODUCTION_QTY,
		    r.POSTPONE_PRODUCTION_QTY,
		    sum( d.NET_QTY ) - r.TOTAL_QTY DIFFERENCE_QTY,
		    r.BEGIN_DAY,
		    r.END_DAY,
		    r.DAY_1,
		    r.DAY_2,
		    r.DAY_3,
		    r.DAY_4,
		    r.DAY_5,
		    r.DAY_6,
		    r.DAY_7,
		    r.DAY_8,
		    r.DAY_9,
		    r.DAY_10,
		    r.DAY_11,
		    r.DAY_12,
		    r.DAY_13,
		    r.DAY_14,
		    r.DAY_15,
		    r.DAY_16,
		    r.DAY_17,
		    r.DAY_18,
		    r.DAY_19,
		    r.DAY_20,
		    r.DAY_21,
		    r.DAY_22,
		    r.DAY_23,
		    r.DAY_24,
		    r.DAY_25,
		    r.DAY_26,
		    r.DAY_27,
		    r.DAY_28,
		    r.DAY_29,
		    r.DAY_30,
		    r.DAY_31,
		    F.DAY_27 LAST_27,
		    F.DAY_28 LAST_28,
		    F.DAY_29 LAST_29,
		    F.DAY_30 LAST_30,
		    F.DAY_31 LAST_31,
		    F.PRODUCTION_VERSION LAST_PRODUCTION_VERSION,
		    '1' DATA_TYPE,
		    '2' LOCATION_TYPE /*内外销，目前没有地方取，暂时固定外销*/
		FROM
		    T_MDM_MATERIAL_INFO m
		    LEFT JOIN T_DP_DEMAND_PLAN d ON d.MONTH_PLAN_VERSION = #{dayResult.monthPlanVersion}
		    AND d.FACTORY_CODE = m.FACTORY_CODE 
		    AND d.MATERIAL_CODE = m.MATERIAL_CODE 
		    AND d.is_delete = 0
		    LEFT JOIN T_MP_MOULDING_DAY_RESULT r ON m.MATERIAL_CODE = r.MATERIAL_CODE 
		    AND m.FACTORY_CODE = r.FACTORY_CODE 
		    AND r.production_version = #{dayResult.productionVersion}
		    AND r.IS_DELETE = 0 
		    LEFT JOIN T_MP_MONTH_PLAN_PROD_FINAL f ON f.IS_DELETE = 0
		    AND f.MATERIAL_CODE = m.MATERIAL_CODE
            AND f.`YEAR_MONTH` = DATE_FORMAT(DATE_SUB(concat(#{dayResult.year},'-',#{dayResult.month},'-1'),INTERVAL 1 month), '%Y%m')
		WHERE
		    m.FACTORY_CODE = #{dayResult.factoryCode}
		    AND m.IS_DELETE = 0 
		    AND m.STRUCTURE_NAME IS NOT NULL 
        <if test="!isAllMaterial">
            AND m.FACTORY_CODE = r.FACTORY_CODE 
        </if>
		GROUP BY
		    m.MATERIAL_CODE,
		    m.MES_MATERIAL_CODE,
		    m.MATERIAL_DESC,
		    m.STRUCTURE_NAME,
		    d.STRUCTURE_TYPE,
		    r.PRODUCT_STATUS,
		    r.EMBRYO_CODE,
		    r.MAIN_MATERIAL_DESC,
		    r.CONSTRUCTION_STAGE,
		    m.BRAND,
		    m.SPECIFICATIONS,
		    m.MAIN_PATTERN,
		    m.PATTERN,
		    m.PRO_SIZE,
		    m.SINGLE_TIRE_WEIGHT,
		    m.PRODUCT_CATEGORY,
		    r.MOULD_CAVITY_QTY,
		    r.TYPE_BLOCK_QTY,
		    r.INVENTORY_SALES_RATIO,
		    r.DAY_VULCANIZATION_QTY,
		    r.TOTAL_QTY,
		    r.HEIGHT_PRODUCTION_QTY,
		    r.MID_PRODUCTION_QTY,
		    r.CYCLE_PRODUCTION_QTY,
		    r.CONVENTION_PRODUCTION_QTY,
		    r.POSTPONE_PRODUCTION_QTY,
		    r.TOTAL_QTY,
		    r.BEGIN_DAY,
		    r.END_DAY,
		    r.DAY_1,
		    r.DAY_2,
		    r.DAY_3,
		    r.DAY_4,
		    r.DAY_5,
		    r.DAY_6,
		    r.DAY_7,
		    r.DAY_8,
		    r.DAY_9,
		    r.DAY_10,
		    r.DAY_11,
		    r.DAY_12,
		    r.DAY_13,
		    r.DAY_14,
		    r.DAY_15,
		    r.DAY_16,
		    r.DAY_17,
		    r.DAY_18,
		    r.DAY_19,
		    r.DAY_20,
		    r.DAY_21,
		    r.DAY_22,
		    r.DAY_23,
		    r.DAY_24,
		    r.DAY_25,
		    r.DAY_26,
		    r.DAY_27,
		    r.DAY_28,
		    r.DAY_29,
		    r.DAY_30,
		    r.DAY_31,
		    F.YEAR ,
		    F.MONTH ,
		    F.DAY_27 ,
		    F.DAY_28 ,
		    F.DAY_29 ,
		    F.DAY_30 ,
		    F.DAY_31 ,
		    F.PRODUCTION_VERSION
		ORDER BY
		    PRO_SIZE,
		    STRUCTURE_NAME,
		    MOULD_CAVITY_QTY DESC,
		    TYPE_BLOCK_QTY DESC,
		    MAIN_PATTERN 
    </select>
</mapper>