<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.aps.mp.factory.mapper.FactoryMonthPlanMouldDayResultEntityMapper">
    <select id="getExportList" resultType="com.zlt.aps.mp.factory.dto.FactoryMonthPlanMouldDayResultExportVo">
        SELECT
		    m.MATERIAL_CODE,
		    m.MES_MATERIAL_CODE,
		    m.MATERIAL_DESC,
		    m.STRUCTURE_NAME,
            MAX(IF(C.ID IS NULL, '02', '01')) STRUCTURE_TYPE,
            MAX(IFNULL(i.PRODUCT_STATUS, IFNULL(r.PRODUCT_STATUS, CASE WHEN REF.CONSTRUCTION_STAGE = '03' THEN 'S' 
                                                                       WHEN REF.CONSTRUCTION_STAGE = '02' THEN 'T' 
                                                                       WHEN REF.CONSTRUCTION_STAGE = '01' THEN 'X'
                                                                       ELSE null END ))) PRODUCT_STATUS,
            m.EMBRYO_CODE,
            m.EMBRYO_DESC MAIN_MATERIAL_DESC,
		    MAX(IFNULL(i.CONSTRUCTION_STAGE, IFNULL(r.CONSTRUCTION_STAGE, REF.CONSTRUCTION_STAGE))) CONSTRUCTION_STAGE,
		    m.BRAND,
		    m.SPECIFICATIONS,
		    m.MAIN_PATTERN,
		    m.PATTERN,
		    m.PRO_SIZE,
		    m.SINGLE_TIRE_WEIGHT,
		    m.PRODUCT_CATEGORY,
		    m.SECTION_WIDTH,
		    r.MOULD_CAVITY_QTY,
		    r.TYPE_BLOCK_QTY,
		    max( d.AVERAGE_SALE_QTY ) AVERAGE_SALE_QTY,
            if(max(d.AVERAGE_SALE_QTY) > 0, round(max(d.STOCK_QTY) / max(d.AVERAGE_SALE_QTY), 1), 0) INVENTORY_SALES_RATIO,
		    max( IFNULL(r.DAY_VULCANIZATION_QTY, CASE WHEN IFNULL(FP.PARAM_VALUE, FP.DEFAULE_VALUE) = 'M' THEN lc.MES_CAPACITY / 2
		                                              WHEN IFNULL(FP.PARAM_VALUE, FP.DEFAULE_VALUE) = 'A' THEN lc.APS_CAPACITY / 2
		                                              ELSE lc.STANDARD_CAPACITY / 2 END)
		    ) DAY_VULCANIZATION_QTY,
            sum( ifnull(d.ORI_HEIGHT_QTY, d.HEIGHT_QTY) ) HEIGHT_QTY,
            sum( ifnull(d.ORI_MID_QTY, d.MID_QTY) ) MID_QTY,
		    sum( d.CYCLE_RESERVE_QTY ) CYCLE_RESERVE_QTY,
		    sum( d.POSTPONE_QTY ) POSTPONE_QTY,
		    sum( case when d.IS_SCHEDULE = '1' then d.CONVENTION_RESERVE_QTY else 0 end) CONVENTION_RESERVE_QTY,
		    mc.NET_QTY UN_RESTRICTED_NET_QTY,
		    r.TOTAL_QTY,
		    r.HEIGHT_PRODUCTION_QTY,
		    r.MID_PRODUCTION_QTY,
		    r.CYCLE_PRODUCTION_QTY,
		    r.CONVENTION_PRODUCTION_QTY,
		    r.POSTPONE_PRODUCTION_QTY,
		    r.BEGIN_DAY,
		    r.END_DAY,
		    r.DAY_1,
		    r.DAY_2,
		    r.DAY_3,
		    r.DAY_4,
		    r.DAY_5,
		    r.DAY_6,
		    r.DAY_7,
		    r.DAY_8,
		    r.DAY_9,
		    r.DAY_10,
		    r.DAY_11,
		    r.DAY_12,
		    r.DAY_13,
		    r.DAY_14,
		    r.DAY_15,
		    r.DAY_16,
		    r.DAY_17,
		    r.DAY_18,
		    r.DAY_19,
		    r.DAY_20,
		    r.DAY_21,
		    r.DAY_22,
		    r.DAY_23,
		    r.DAY_24,
		    r.DAY_25,
		    r.DAY_26,
		    r.DAY_27,
		    r.DAY_28,
		    r.DAY_29,
		    r.DAY_30,
		    r.DAY_31,
		    F.DAY_27 LAST_27,
		    F.DAY_28 LAST_28,
		    F.DAY_29 LAST_29,
		    F.DAY_30 LAST_30,
		    F.DAY_31 LAST_31,
            <if test="isFinal">
            r.ADJUST_QTY1,
            r.ADJUST_QTY2,
            r.ADJUST_QTY3,
            r.ADJUST_QTY4,
            r.ORIGINAL_TOTAL_QTY,
            ifnull(r.total_qty, 0) - ifnull(pm.PRODUCTION_QTY,0) PRODUCT_SURPLUS,
            </if>
		    F.PRODUCTION_VERSION LAST_PRODUCTION_VERSION,
		    '1' DATA_TYPE,
		    '2' LOCATION_TYPE /*内外销，目前没有地方取，暂时固定外销*/
		FROM
		    T_MDM_MATERIAL_INFO m
            INNER JOIN ( SELECT STRUCTURE_NAME, MAX( PRO_SIZE ) MIN_PRO_SIZE 
                           FROM T_MDM_MATERIAL_INFO M 
                          WHERE M.FACTORY_CODE = '116' 
                            AND M.IS_DELETE = 0 
                          GROUP BY STRUCTURE_NAME ) MM ON MM.STRUCTURE_NAME = M.STRUCTURE_NAME
		    LEFT JOIN T_DP_DEMAND_PLAN d ON d.MONTH_PLAN_VERSION = #{dayResult.monthPlanVersion}
		    AND d.FACTORY_CODE = m.FACTORY_CODE 
		    AND d.MATERIAL_CODE = m.MATERIAL_CODE 
		    AND d.is_delete = 0
            LEFT JOIN T_MP_MOLD_CAPACITY_LOG mc ON mc.IS_DELETE = 0
            AND mc.FACTORY_CODE = m.FACTORY_CODE 
            AND mc.production_version = #{dayResult.productionVersion}
            AND mc.MATERIAL_CODE = m.MATERIAL_CODE
		    LEFT JOIN T_MP_PROC_MONTH_PLAN_INIT i on i.MONTH_PLAN_ID = d.id
            AND m.FACTORY_CODE = i.FACTORY_CODE 
		    AND i.PRODUCTION_VERSION = #{dayResult.productionVersion}
            AND i.IS_DELETE = 0 
        <choose>
            <when test="isFinal">
            LEFT JOIN T_MP_MONTH_PLAN_PROD_FINAL r ON m.MATERIAL_CODE = r.MATERIAL_CODE
            </when>
	        <otherwise>
            LEFT JOIN T_MP_MOULDING_DAY_RESULT r ON m.MATERIAL_CODE = r.MATERIAL_CODE
            </otherwise>
        </choose>
            AND m.FACTORY_CODE = r.FACTORY_CODE 
            AND r.production_version = #{dayResult.productionVersion}
            AND r.IS_DELETE = 0 
            <if test="isFinal">
            LEFT JOIN T_MP_MONTH_PLAN_MONITOR pm ON m.MATERIAL_CODE = pm.MATERIAL_CODE
            AND m.FACTORY_CODE = pm.FACTORY_CODE 
            AND r.PRODUCTION_VERSION = pm.PRODUCTION_VERSION
            AND pm.IS_DELETE = 0 
            </if>
            LEFT JOIN T_MP_MONTH_PLAN_PROD_FINAL f ON f.IS_DELETE = 0
            AND f.MATERIAL_CODE = m.MATERIAL_CODE
            AND f.`YEAR_MONTH` = DATE_FORMAT(DATE_SUB(concat(#{dayResult.year},'-',#{dayResult.month},'-1'),INTERVAL 1 month), '%Y%m')
            LEFT JOIN T_DP_CYCLE_STRUCT_CONFIG C ON C.STRUCTURE_NAME = M.STRUCTURE_NAME
            AND C.IS_DELETE = 0
            LEFT JOIN T_MDM_SKU_LH_CAPACITY lc ON lc.IS_DELETE = 0
            AND lc.MATERIAL_CODE = m.MATERIAL_CODE
            LEFT JOIN T_MP_FACTORY_PARAM FP ON FP.IS_DELETE = 0
            AND PARAM_CODE = 'SYS0202002'
            LEFT JOIN (
	            SELECT MATERIAL_CODE,
			    MAX(CASE WHEN t.TRIAL_STATUS = 'S' THEN '03' 
			             WHEN t.TRIAL_STATUS = 'T' THEN '02' 
			             WHEN t.TRIAL_STATUS = 'X' THEN '01'
			             ELSE '00' END ) CONSTRUCTION_STAGE
			    FROM t_mdm_sku_construction_ref t 
			    WHERE is_delete = 0 
			    GROUP BY material_code
		    ) REF ON REF.MATERIAL_CODE = m.MATERIAL_CODE
		WHERE
		    m.FACTORY_CODE = #{dayResult.factoryCode}
		    AND m.IS_DELETE = 0 
		    AND m.STRUCTURE_NAME IS NOT NULL 
            AND (QUALITY_STATE_CODE != '2' or d.FACTORY_CODE = m.FACTORY_CODE)
        <if test="!isAllMaterial">
            AND d.FACTORY_CODE = m.FACTORY_CODE
        </if>
        <if test="dayResult.structureName != null and dayResult.structureName != ''">
            AND m.STRUCTURE_NAME = #{dayResult.structureName}
        </if>
		GROUP BY
		    MM.MIN_PRO_SIZE,
		    m.MATERIAL_CODE,
		    m.MES_MATERIAL_CODE,
		    m.MATERIAL_DESC,
		    m.STRUCTURE_NAME,
		    d.STRUCTURE_TYPE,
            m.EMBRYO_CODE,
            m.EMBRYO_DESC,
		    m.BRAND,
		    m.SPECIFICATIONS,
		    m.MAIN_PATTERN,
		    m.PATTERN,
		    m.PRO_SIZE,
		    m.SINGLE_TIRE_WEIGHT,
		    m.PRODUCT_CATEGORY,
            m.SECTION_WIDTH,
            mc.NET_QTY,
		    r.MOULD_CAVITY_QTY,
		    r.TYPE_BLOCK_QTY,
		    r.TOTAL_QTY,
		    r.HEIGHT_PRODUCTION_QTY,
		    r.MID_PRODUCTION_QTY,
		    r.CYCLE_PRODUCTION_QTY,
		    r.CONVENTION_PRODUCTION_QTY,
		    r.POSTPONE_PRODUCTION_QTY,
		    r.TOTAL_QTY,
		    r.BEGIN_DAY,
		    r.END_DAY,
		    r.DAY_1,
		    r.DAY_2,
		    r.DAY_3,
		    r.DAY_4,
		    r.DAY_5,
		    r.DAY_6,
		    r.DAY_7,
		    r.DAY_8,
		    r.DAY_9,
		    r.DAY_10,
		    r.DAY_11,
		    r.DAY_12,
		    r.DAY_13,
		    r.DAY_14,
		    r.DAY_15,
		    r.DAY_16,
		    r.DAY_17,
		    r.DAY_18,
		    r.DAY_19,
		    r.DAY_20,
		    r.DAY_21,
		    r.DAY_22,
		    r.DAY_23,
		    r.DAY_24,
		    r.DAY_25,
		    r.DAY_26,
		    r.DAY_27,
		    r.DAY_28,
		    r.DAY_29,
		    r.DAY_30,
		    r.DAY_31,
		    F.YEAR ,
		    F.MONTH ,
		    F.DAY_27 ,
		    F.DAY_28 ,
		    F.DAY_29 ,
		    F.DAY_30 ,
		    F.DAY_31 ,
            <if test="isFinal">
            r.ADJUST_QTY1,
            r.ADJUST_QTY2,
            r.ADJUST_QTY3,
            r.ADJUST_QTY4,
            r.ORIGINAL_TOTAL_QTY,
            pm.PRODUCTION_QTY,
            </if>
		    F.PRODUCTION_VERSION
		ORDER BY
            MM.MIN_PRO_SIZE,
            SPECIFICATIONS,
            STRUCTURE_NAME,
		    PRO_SIZE,
		    SECTION_WIDTH,
		    MOULD_CAVITY_QTY DESC,
		    TYPE_BLOCK_QTY DESC,
		    MAIN_PATTERN 
    </select>

	<update id="deletedOldBackUp" parameterType="com.zlt.aps.mp.api.domain.entity.FactoryMonthPlanProductionFinalResult">
		DELETE FROM t_mp_final_structure_allocation_log
		 WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
		   AND YEAR = #{year,jdbcType=DECIMAL}
		   AND MONTH = #{month,jdbcType=DECIMAL}
		   AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
		   AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
		DELETE FROM t_mp_final_statistics_log
		 WHERE FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
		   AND YEAR = #{year,jdbcType=DECIMAL}
		   AND MONTH = #{month,jdbcType=DECIMAL}
		   AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
		   AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
	</update>

	<insert id="insertAllocationBackUp" parameterType="com.zlt.aps.mp.api.domain.entity.FactoryMonthPlanProductionFinalResult">
		INSERT INTO t_mp_final_structure_allocation_log(
			   FACTORY_CODE,
			   `YEAR`,
			   `MONTH`,
			   MONTH_PLAN_VERSION,
			   PRODUCTION_VERSION,
			   PLAN_TYPE,
			   DATA_SOURCE,
			   CX_MACHINE_CODE,
			   STRUCTURE_NAME,
			   IS_HAS_SPECIAL_MATERIAL,
			   MAX_EMBRYO_CODE_COUNT,
			   MAX_LH_MACHINE_COUNT,
			   MIN_LH_MACHINE_COUNT,
			   NET_QTY,
			   LOSS_QTY,
			   BEGIN_DAY,
			   END_DAY,
			   ALLOT_DAYS,
			   REMARK,
			   IS_DELETE,
			   CREATE_BY,
			   UPDATE_BY,
			   ALTERNATING_TYPE)
		SELECT FACTORY_CODE,
			   `YEAR`,
			   `MONTH`,
			   MONTH_PLAN_VERSION,
			   PRODUCTION_VERSION,
			   PLAN_TYPE,
			   DATA_SOURCE,
			   CX_MACHINE_CODE,
			   STRUCTURE_NAME,
			   IS_HAS_SPECIAL_MATERIAL,
			   MAX_EMBRYO_CODE_COUNT,
			   MAX_LH_MACHINE_COUNT,
			   MIN_LH_MACHINE_COUNT,
			   NET_QTY,
			   LOSS_QTY,
			   BEGIN_DAY,
			   END_DAY,
			   ALLOT_DAYS,
			   REMARK,
			   IS_DELETE,
			   CREATE_BY,
			   UPDATE_BY,
			   ALTERNATING_TYPE
		  FROM t_mp_structure_allocation
		 WHERE IFNULL(IS_DELETE, 0) = 0
		   AND FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
		   AND YEAR = #{year,jdbcType=DECIMAL}
		   AND MONTH = #{month,jdbcType=DECIMAL}
		   AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
		   AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
	</insert>

	<insert id="insertStatisticsBackUp" parameterType="com.zlt.aps.mp.api.domain.entity.FactoryMonthPlanProductionFinalResult">
		INSERT INTO t_mp_final_statistics_log(
			   FACTORY_CODE,
			   `YEAR`,
			   `MONTH`,
			   `YEAR_MONTH`,
			   MONTH_PLAN_VERSION,
			   LAST_MONTH_PLAN_VERSION,
			   PRODUCTION_VERSION,
			   PRODUCT_TYPE_CODE,
			   STRUCTURE_NAME,
			   PRO_SIZE,
			   STRUCTURE_TYPE,
			   DAY_1,
			   DAY_2,
			   DAY_3,
			   DAY_4,
			   DAY_5,
			   DAY_6,
			   DAY_7,
			   DAY_8,
			   DAY_9,
			   DAY_10,
			   DAY_11,
			   DAY_12,
			   DAY_13,
			   DAY_14,
			   DAY_15,
			   DAY_16,
			   DAY_17,
			   DAY_18,
			   DAY_19,
			   DAY_20,
			   DAY_21,
			   DAY_22,
			   DAY_23,
			   DAY_24,
			   DAY_25,
			   DAY_26,
			   DAY_27,
			   DAY_28,
			   DAY_29,
			   DAY_30,
			   DAY_31,
			   REMARK,
			   IS_DELETE,
			   CREATE_BY,
			   UPDATE_BY)
		SELECT FACTORY_CODE,
			   `YEAR`,
			   `MONTH`,
			   `YEAR_MONTH`,
			   MONTH_PLAN_VERSION,
			   LAST_MONTH_PLAN_VERSION,
			   PRODUCTION_VERSION,
			   PRODUCT_TYPE_CODE,
			   STRUCTURE_NAME,
			   PRO_SIZE,
			   STRUCTURE_TYPE,
			   DAY_1,
		       DAY_2,
		       DAY_3,
		       DAY_4,
		       DAY_5,
		       DAY_6,
		       DAY_7,
		       DAY_8,
		       DAY_9,
		       DAY_10,
			   DAY_11,
		       DAY_12,
		       DAY_13,
		       DAY_14,
		       DAY_15,
		       DAY_16,
		       DAY_17,
		       DAY_18,
		       DAY_19,
		       DAY_20,
			   DAY_21,
		       DAY_22,
		       DAY_23,
		       DAY_24,
		       DAY_25,
		       DAY_26,
		       DAY_27,
		       DAY_28,
		       DAY_29,
		       DAY_30,
		       DAY_31,
			   REMARK,
			   IS_DELETE,
			   CREATE_BY,
			   UPDATE_BY
		  FROM t_mp_month_plan_statistics
		 WHERE IFNULL(IS_DELETE, 0) = 0
		   AND FACTORY_CODE = #{factoryCode,jdbcType=VARCHAR}
		   AND YEAR = #{year,jdbcType=DECIMAL}
		   AND MONTH = #{month,jdbcType=DECIMAL}
		   AND MONTH_PLAN_VERSION = #{monthPlanVersion,jdbcType=VARCHAR}
		   AND PRODUCTION_VERSION = #{productionVersion,jdbcType=VARCHAR};
	</insert>
</mapper>